/*check credit box css */

.checkcredit-box {
  background: #3174BC;
  padding: 50px 0 20px;
}
.checkcredit-box .checkcredit-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.checkcredit-box .checkcredit-left {
  max-width: 517px;
}
.checkcredit-box .checkcredit-left-inner {
  padding-right: 50px;
}
.checkcredit-box .checkcredit-right {
  width: 386px;
}
.checkcredit-box h6 {
  margin-bottom: 25px;
  color: #fff;
}
.checkcredit-box h2 {
  margin-bottom: 15px;
  color: #fff;
}
.checkcredit-box p {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}
.checkcredit-box .checkcredit-desktop {
  display: block;
}
.checkcredit-box .checkcredit-mob {
  display: none;
}
.checkcredit-box .checkcredit-left-texts {
  padding-bottom: 18px;
}
.checkcredit-box .checkcredit-left-texts p {
  margin-bottom: 13px;
}

.checkcredit-from {
  position: relative;
}
.checkcredit-from .text-code {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.checkcredit-from .checkcredit-button {
  min-width: 252px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
  font-family: "Poppins", sans-serif;
}
.checkcredit-from .form-control-plain {
  height: 58px;
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  padding: 18px 230px 18px 56px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 23px rgba(113, 144, 165, 0.2);
  border-radius: 38px;
  border: 1px solid rgba(44, 110, 181, 0.3);
}
.checkcredit-from .form-control-plain:focus {
  outline: none;
}

@media (max-width: 1199px) {
  .checkcredit-box .checkcredit-right {
    width: 350px;
  }
  .checkcredit-box .checkcredit-left {
    max-width: 520px;
  }
}
@media (max-width: 991px) {
  .checkcredit-box {
    padding-bottom: 50px;
  }
  .checkcredit-box p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }
  .checkcredit-box .checkcredit-inner {
    display: block;
    text-align: center;
  }
  .checkcredit-box .checkcredit-left {
    max-width: 100%;
  }
  .checkcredit-box .checkcredit-left-inner {
    padding-right: 0px;
  }
  .checkcredit-box .checkcredit-right {
    width: auto;
    margin-bottom: -11px;
  }
  .checkcredit-box .checkcredit-right img {
    margin: auto;
    max-width: 300px;
  }
  .checkcredit-box .checkcredit-desktop {
    display: none;
  }
  .checkcredit-box .checkcredit-mob {
    display: block;
  }

  .checkcredit-from .checkcredit-button {
    min-width: 116px;
  }
  .checkcredit-from .form-control-plain {
    padding: 18px 116px 18px 56px;
  }
}
@media (max-width: 767px) {
  .checkcredit-box {
    padding: 32px 0 40px;
  }
  .checkcredit-box h2 {
    margin-bottom: 13px;
  }
  .checkcredit-box h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px;
  }
  .checkcredit-box .checkcredit-left-texts {
    padding-bottom: 12px;
  }
  .checkcredit-box .checkcredit-left-texts p {
    margin-bottom: 10px;
  }
  .checkcredit-box .checkcredit-right img {
    max-width: 220px;
  }

  .checkcredit-from .checkcredit-button {
    min-width: 116px;
    top: 4px;
    right: 4px;
  }
  .checkcredit-from .form-control-plain {
    height: 49px;
  }
}

/*check credit box css */
