<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.sitemap'}"></sly>
</sly>

<main>
<div class="sitemap-box">
    <div class="container">
        <h1 class="text-center">
            ${properties.sitemapMainTitle}
        </h1>
        <div class="sitemap-inner jsSitemapAccording">
            <div class="sitemap-row">                    
                        <sly data-sly-list.multi="${resource.children}">
                            <sly data-sly-test="${multi.name == 'sitemapSection'}">
                                <sly data-sly-list.sitemapSection="${multi.children}">

                                    <div class="sitemap-col">
                                            <sly data-sly-list.nestedmulti="${sitemapSection.children}">
                                                <sly data-sly-test="${nestedmulti.name == 'sitemapLinkHeadings'}">
                                                    <sly data-sly-list.sitemapLinkHeadings="${nestedmulti.children}">
                                                        <h5 class="link-headings" data-sly-test="${sitemapLinkHeadings.isLinkHeading}">
                                                            <a href="${sitemapLinkHeadings.link}">${sitemapLinkHeadings.sitemapTitle}</a>
                                                        </h5>
                                                        <h5 data-sly-test="${!sitemapLinkHeadings.isLinkHeading}">
                                                            ${sitemapLinkHeadings.sitemapTitle}
                                                        </h5>
                                                    </sly>
                                                </sly>
                                            </sly>

                                        <div class="sitemap-body">       
                                            <sly data-sly-list.nestedmulti="${sitemapSection.children}">
                                                <sly data-sly-test="${nestedmulti.name == 'sitemap'}">
                                                    <sly data-sly-list.sitemap="${nestedmulti.children}">
                                                        <div class="sitemap-body-inner">
                                                            <a target="${sitemap.newTab ? '_blank' : ''}" href="${sitemap.link}" class="sitemap-heading">
                                                                ${sitemap.title}
                                                            </a>
                                                            <div class="dropdown-menu">
                                                                <ul class="sitemap-menu">
                                                                    <sly data-sly-list.nestedmulti="${sitemap.children}">
                                                                        <sly data-sly-test="${nestedmulti.name == 'sitemapList'}">
                                                                            <sly data-sly-list.nestedsitemapList="${nestedmulti.children}">
                                                                                <li data-action="${nestedsitemapList.actionParam}" class="sitemap-list">
                                                                                    <a href="${nestedsitemapList.listInnerlink}" class="sitemap-link">
                                                                                        ${nestedsitemapList.listInnertitle}
                                                                                    </a>
                                                                                </li>
                                                                            </sly>
                                                                        </sly>
                                                                    </sly>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </sly>
                                                </sly>
                                            </sly>
                                        </div>
                                    
                                    </div>
                                </sly>
                            </sly>
                        </sly>
                </div>
            </div>
        </div>
    </div> 
</main>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.sitemap'}"></sly>
</sly>