.banner-box.contact-us-banner-box {
  background-image: none;
}
.banner-box.contact-us-banner-box .banner-slider {
  padding-bottom: 0;
}
.banner-box.contact-us-banner-box .banner-inner.new-banner-inner {
  padding-top: 0;
  padding-bottom: 0;
}
.banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left {
  width: 630px;
  padding-top: 45px;
}
.banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left h1 {
  margin-bottom: 20px;
}
.banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left h5 {
  color: #606060;
}
.banner-box.contact-us-banner-box .banner-image .banner-caption .banner-head {
  margin-bottom: 40px;
}
.banner-box.contact-us-banner-box .banner-image .banner-caption .banner-right {
  width: calc(100% - 630px);
}
#error-banner .container{
  height: auto;
}

@media (max-width: 1199px) {
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left {
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left {
    width: 450px;
    padding-right: 30px;
  }
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-right {
    width: calc(100% - 450px);
  }
}
@media (max-width: 767px) {
  .banner-box .banner-left{
    height: auto;
  }
  .banner-box.contact-us-banner-box {
    padding-bottom: 35px;
  }
  .banner-box.contact-us-banner-box .banner-slider {
    padding-top: 0;
  }
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left {
    width: 100%;
    padding-right: 0px;
    padding-top: 10px;
  }
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left h1 {
    margin-bottom: 10px;
  }
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-left h5 {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-right {
    width: 100%;
  }
  .banner-box.contact-us-banner-box .banner-image .banner-caption .banner-right img {
    max-width: 220px;
    margin: auto;
    object-fit: contain;
  }
}


/*# sourceMappingURL=style.css.map */