<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.sebi-filter'}"></sly>
</sly>
<sly data-sly-use.sebiCategoriesModel="${'com.tatacapital.moneyfy.core.models.SebiSubCatModel' @subCatName=pageProperties.subCatName}" />
<script>
    var sebiCatList = "${sebiCategoriesModel.getSebiCatPageList @context='scriptString'}";
</script>
<!-- desktop filter box -->
<section class="filter-section sebi-filters js-floating d-none d-lg-block js-filterWrap">
    <div class="container">
        <div class="filter-box js-filtersBox">
            <div class="filter-btn-wrap">
                <div class="filter-item">
                    <div class="custom-dropdown">
                        <div class="dropdown-button js-filterBtn" data-filter="equity">
                            <a href="javascript:void(0);">Equity</a>
                        </div>
                        <div class="dropdown-card rating-filter-card" data-filter-card="equity">

                            <div class="dropdown-card-inner dropdownload-inner2">
                                <div class="filters-heading-dropdown">
                                    <h6>Equity</h6>
                                    <div class="mCustomScroll filters-heading-scroll">
                                        <ul class="dropdown-list-menu jsDropDownMenuGet" data-id="Equity" data-filterall="filterAll">



                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="custom-dropdown">
                        <div class="dropdown-button js-filterBtn" data-filter="debt">
                            <a href="javascript:void(0);">Debt</a>
                        </div>
                        <div class="dropdown-card min-investment-filter-card" data-filter-card="debt">

                            <div class="dropdown-card-inner dropdownload-inner2">
                                <div class="filters-heading-dropdown">
                                    <h6>Debt</h6>
                                    <div class="mCustomScroll filters-heading-scroll">
                                        <ul class="dropdown-list-menu jsDropDownMenuGet" data-id="Debt" data-filterall="filterAll">

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="custom-dropdown">
                        <div class="dropdown-button js-filterBtn" data-filter="hybrid">
                            <a href="javascript:void(0);">Hybrid</a>
                        </div>
                        <div class="dropdown-card fund-category-filter-card" data-filter-card="hybrid">
                            <div class="dropdown-card-inner dropdownload-inner2">
                                <div class="filters-heading-dropdown">
                                    <h6>Hybrid</h6>
                                    <div class="mCustomScroll filters-heading-scroll">
                                        <ul class="dropdown-list-menu jsDropDownMenuGet" data-id="Hybrid" data-filterall="filterAll">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-item">
                    <div class="custom-dropdown">
                        <div class="dropdown-button js-filterBtn" data-filter="others">
                            <a href="javascript:void(0);">Others</a>
                        </div>
                        <div class="dropdown-card risk-level-filter-card" data-filter-card="others">
                            <div class="dropdown-card-inner dropdownload-inner2">
                                <div class="filters-heading-dropdown">
                                    <h6>Others</h6>
                                    <div class="mCustomScroll filters-heading-scroll">
                                        <ul class="dropdown-list-menu jsDropDownMenuGet" data-id="Others" data-filterall="filterAll">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="filter-tags-wrap">
                <div class="clear-btn-wrap">
                  <a href="javascript:void(0);" class="clear-all-btn js-clearAll">Clear All</a>
                </div>
                <div class="filterTags-mCustomScrollbar">
                  <ul class="filter-tags">
                  </ul>
                </div>
              </div> -->
        </div>

        <div class="compare-box js-compareBox d-none">
            <p>Compare Upto 3 Funds</p>
            <div class="compare-btns-wrap">
                <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span>Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span>Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span>Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span>Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span>Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span>Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item">
                    <div class="compare-cancel-wrap">
                        <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" data-id="compareFunds">
                            compare funds
                        </a>
                        <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                            cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- desktop filter box -->

<!-- mob filter -->
<section class="fix-container js-fixContainer">
    <div class="mob-filter-container d-lg-none">
        <div class="container">
            <div class="mobile-filter-sort js-filtersBox">
                <div class="mob-filterBtn-wrap">
                    <div class="custom-dropdown custom-dropdown-new">
                        <div class="dropdown-button js-filterBtn" data-filter="sorting">
                            <a href="javascript:void(0);">${pageProperties.subCatName}</a>
                        </div>
                        <div class="dropdown-card" data-filter-card="sorting">
                            <div class="dropdown-card-inner mCustomScroll mob-blue-menu-scroll ">
                                <div class="dropdown-item filters-heading-dropdown">
                                    <h6>Equity</h6>
                                    <ul class="dropdown-list-menu" data-ids="Equity" data-filterall="filterAll">
                                    </ul>
                                </div>
                                <div class="dropdown-item filters-heading-dropdown">
                                    <h6>Debt</h6>
                                    <ul class="dropdown-list-menu" data-ids="Debt" data-filterall="filterAll">

                                    </ul>
                                </div>
                                <div class="dropdown-item filters-heading-dropdown">
                                    <h6>Hybrid</h6>
                                    <ul class="dropdown-list-menu" data-ids="Hybrid" data-filterall="filterAll">

                                    </ul>
                                </div>
                                <div class="dropdown-item filters-heading-dropdown">
                                    <h6>Others</h6>
                                    <ul class="dropdown-list-menu jsDropDownMenuGet" data-ids="Others" data-filterall="filterAll">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mob-sortBtn-wrap">
                    <a href="javascript:void(0);" class="jsMobSorting">
                        <i class="icon-sort icon"></i> Sort by
                    </a>
                </div>
            </div>
            <div class="compare-box js-compareBox d-none">
                <p id="compareCheck">Compare Upto 3 Funds</p>
                <div class="compare-btns-wrap">
                    <!-- 16-11-2021 -->
                    <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-box-item d-nones d-md-blocks" data-compareselect="3" data-select-modal="searchFund-modal-3">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- 16-11-2021 -->
                    <div class="compare-box-item">
                        <div class="compare-cancel-wrap">
                            <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" data-id="compareFunds">
                            compare
                        </a>
                            <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                            cancel
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- search fund modal -->
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-1">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" data-search="fund" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-2">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" data-search="fund" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-3">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" data-search="fund" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search fund modal -->
<!--adobe analytics  24 47 67 86 120 225 230 236 242-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.sebi-filter'}"></sly>
</sly>