<!-- Amc Details -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.amc-details-fund-list'}"></sly>
</sly>
<sly data-sly-use.sebiCategoryModel="com.tatacapital.moneyfy.core.models.SebiSubCatModel" />
<sly data-sly-use.fundListingModel="${'com.tatacapital.moneyfy.core.models.AMCFundListingModel' @ pageName=pageProperties.name}" />


<!-- mob filter -->
<section class="fix-container js-fixContainer d-lg-none js-filterWrap">
    <div class="mob-filter-container">
        <div class="container">
            <div class="js-filtersBox">
                <div class="mobile-filter-sort">
                    <div class="mob-filterBtn-wrap">
                        <a href="javascript:void(0);" class="js-showFilter">
                            <span class="filter-count js-filterCount"></span>
                            <i class="icon-filter icon"></i>
                            Filters
                        </a>
                    </div>
                    <div class="mob-sortBtn-wrap">
                        <a href="javascript:void(0);" class="jsMobSorting">
                            <i class="icon-sort icon"></i>
                            Sort by
                        </a>
                    </div>
                </div>
                <div class="mob-filter-box js-mobFilterBox">
                    <div class="back-btn-wrap">
                        <a href="javascript:void(0);" class="back-btn js-closeFilter">
                            <span class="icon-arrow-left icon"></span>
                            Filter
                        </a>
                    </div>
                    <div class="filter-wrap">
                        <div class="filter-list-wrap js-filterListWrap">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="filter-link active"
                                        data-filter-link="Rating"><span>Rating</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="filter-link"
                                        data-filter-link="Min Investment"><span>Min Investment</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="filter-link js-fundCategoryBoxOpen"><span>Fund
                                            Category</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="filter-link"
                                        data-filter-link="Risk Level"><span>Risk Level</span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="filter-link"
                                        data-filter-link="Fund Size"><span>Fund Size</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="filter-cards-wrap">
                            <div class="dropdown-card-inner">
                                <div class="filter-card-item active" data-filter-item="Rating" data-filteritem="checkFilterRating">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Rating</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <div class="rating-checkbox">
                                                <p class="rating-head">Morning star</p>
                                                <div class="rating-checkbox-wrap">
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star"
                                                            value="5 &#9733; Morning Star" data-rating="5">
                                                        <p>5 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star"
                                                            value="4 &#9733; Morning Star" data-rating="4">
                                                        <p>4 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star"
                                                            value="3 &#9733; Morning Star" data-rating="3">
                                                        <p>3 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star"
                                                            value="2 &#9733; Morning Star" data-rating="2">
                                                        <p>2 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star"
                                                            value="1 &#9733; Morning Star" data-rating="1">
                                                        <p>1 <span class="icon icon-star"></span></p>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="rating-checkbox">
                                                <p class="rating-head">Value Research</p>
                                                <div class="rating-checkbox-wrap">
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star"
                                                            value="5 &#9733; Value Research" data-rating="5">
                                                        <p>5 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star"
                                                            value="4 &#9733; Value Research" data-rating="4">
                                                        <p>4 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star"
                                                            value="3 &#9733; Value Research" data-rating="3">
                                                        <p>3 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star"
                                                            value="2 &#9733; Value Research" data-rating="2">
                                                        <p>2 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star"
                                                            value="1 &#9733; Value Research" data-rating="1">
                                                        <p>1 <span class="icon icon-star"></span></p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-card-item" data-filter-item="Min Investment" data-filteritem="commonFilterItem">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Min Investment</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <ul>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="min_investment"
                                                                value="&lt; Rs.500" data-investment="0-499">
                                                            <span class="checkbox-wrap"></span>
                                                            &lt; Rs.500
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="min_investment"
                                                                value="&lt; Rs.1000" data-investment="0-999">
                                                            <span class="checkbox-wrap"></span>
                                                            &lt; Rs.1000
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="min_investment"
                                                                value="&lt; Rs.2000" data-investment="0-1999">
                                                            <span class="checkbox-wrap"></span>
                                                            &lt; Rs.2000
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-card-item" data-filter-item="Risk Level" data-filteritem="commonFilterItem">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Risk Level</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <ul>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Low Risk"
                                                                data-value="Low">
                                                            <span class="checkbox-wrap"></span>
                                                            Low Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType"
                                                                value="Low to Moderate risk"
                                                                data-value="Low to Moderate">
                                                            <span class="checkbox-wrap"></span>
                                                            Low to Moderate risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Moderate Risk"
                                                                data-value="Moderate">
                                                            <span class="checkbox-wrap"></span>
                                                            Moderate Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType"
                                                                value="Moderately High Risk"
                                                                data-value="Moderately High">
                                                            <span class="checkbox-wrap"></span>
                                                            Moderately High Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="High Risk"
                                                                data-value="High">
                                                            <span class="checkbox-wrap"></span>
                                                            High Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType"
                                                                value="Very High Risk" data-value="Very High">
                                                            <span class="checkbox-wrap"></span>
                                                            Very High Risk
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-card-item" data-filter-item="Fund Size" data-filteritem="commonFilterItem">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Fund Size</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <ul>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="L0 - 500 Cr" data-fundsize="0-500">
                                                            <span class="checkbox-wrap"></span>
                                                            L0 - 500 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="501 - 2000 Cr" data-fundsize="501-2000">
                                                            <span class="checkbox-wrap"></span>
                                                            501 - 2000 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="2001 - 10000 Cr" data-fundsize="2001-10000">
                                                            <span class="checkbox-wrap"></span>
                                                            2001 - 10000 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="Above 10000 Cr" data-fundsize=">10000">
                                                            <span class="checkbox-wrap"></span>
                                                            Above 10000 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fund-category-box js-fundCategoryBox" data-filteritem="commonFilterItem">
                        <div class="back-btn-wrap">
                            <a href="javascript:void(0);" class="back-btn js-closefundCategory">
                                <span class="icon-arrow-left icon"></span>
                                Fund Category
                            </a>
                        </div>
                        <div class="filter-wrap">
                            <div class="filter-list-wrap" data-filteritem="commonFilterItem">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" class="filter-link"
                                            data-filter-link="Popular Categories"><span>Popular Categories</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="filter-link"
                                            data-filter-link="Equity"><span>Equity</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="filter-link"
                                            data-filter-link="Debt"><span>Debt</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="filter-link"
                                            data-filter-link="Hybrid"><span>Hybrid</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="filter-link"
                                            data-filter-link="Solution Oriented"><span>Others</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-cards-wrap">
                                <div class="dropdown-card-inner">
                                    <div class="filter-card-item active" data-filter-item="Popular Categories">
                                        <div class="filter-card">
                                            <div class="dropdown-header">
                                                <a href="javascript:void(0);"
                                                    class="select-all-btn js-selectAllBtn">Select all</a>
                                                <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear
                                                    all</a>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="filterList-mCustomScrollbar">
                                                    <ul>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="New Fund Offerings"
                                                                        data-value="New Fund Offerings">
                                                                    <span class="checkbox-wrap"></span>
                                                                    New Fund Offerings
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Top Rated Funds"
                                                                        data-value="Top Rated Funds">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Top Rated Funds
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Tax Saver Funds"
                                                                        data-value="Tax Saver Funds">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Tax Saver Funds
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Invest In Gold"
                                                                        data-value="Invest In Gold">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Invest In Gold
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Invest in large companies"
                                                                        data-value="Invest in large companies">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Invest in large companies
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Invest in mid sized companies"
                                                                        data-value="Invest in mid sized companies">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Invest in mid sized companies
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Invest in small sized companies"
                                                                        data-value="Invest in small sized companies">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Invest in small sized companies
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="SIP starting at 500 INR"
                                                                        data-value="SIP starting at 500 INR">
                                                                    <span class="checkbox-wrap"></span>
                                                                    SIP starting at 500 INR
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Invest in balanced funds"
                                                                        data-value="Invest in balanced funds">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Invest in balanced funds
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Invest in companies across all sizes"
                                                                        data-value="Invest in companies across all sizes">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Invest in companies across all sizes
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Conservative - Mini Option"
                                                                        data-value="Conservative - Mini Option">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Conservative - Mini Option
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Conservative" data-value="Conservative">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Conservative
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Moderate Mini"
                                                                        data-value="Moderate Mini">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Moderate Mini
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Moderate" data-value="Moderate">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Moderate
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Aggressive - Mini Option"
                                                                        data-value="Aggressive - Mini Option">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Aggressive - Mini Option
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Aggressive" data-value="Aggressive">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Aggressive
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Super aggressive - Mini Option"
                                                                        data-value="Super aggressive - Mini Option">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Super aggressive - Mini Option
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="popularCategory"
                                                                        value="Super aggressive"
                                                                        data-value="Super aggressive">
                                                                    <span class="checkbox-wrap"></span>
                                                                    Super aggressive
                                                                </label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-card-item" data-filter-item="Equity">
                                        <div class="filter-card">
                                            <div class="dropdown-header">
                                                <a href="javascript:void(0);"
                                                    class="select-all-btn js-selectAllBtn">Select all</a>
                                                <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear
                                                    all</a>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="filterList-mCustomScrollbar">
                                                    <ul data-mobList="equity"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-card-item" data-filter-item="Debt">
                                        <div class="filter-card">
                                            <div class="dropdown-header">
                                                <a href="javascript:void(0);"
                                                    class="select-all-btn js-selectAllBtn">Select all</a>
                                                <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear
                                                    all</a>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="filterList-mCustomScrollbar">
                                                    <ul data-mobList="debt"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-card-item" data-filter-item="Hybrid">
                                        <div class="filter-card">
                                            <div class="dropdown-header">
                                                <a href="javascript:void(0);"
                                                    class="select-all-btn js-selectAllBtn">Select all</a>
                                                <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear
                                                    all</a>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="filterList-mCustomScrollbar">
                                                    <ul data-mobList="hybrid"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-card-item" data-filter-item="Solution Oriented">
                                        <div class="filter-card">
                                            <div class="dropdown-header">
                                                <a href="javascript:void(0);"
                                                    class="select-all-btn js-selectAllBtn">Select all</a>
                                                <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear
                                                    all</a>
                                            </div>
                                            <div class="dropdown-content">
                                                <div class="filterList-mCustomScrollbar">
                                                    <ul data-mobList="others"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-fotter">
                        <a href="javascript:void(0);" class="btn-blue radius100 apply-filter-btn js-applyFilter">apply
                            filter</a>
                        <a href="javascript:void(0)" class="clear-all-btn js-clearAll">clear all</a>
                    </div>
                </div>
            </div>
            <div class="compare-box js-compareBox d-none">
                <p id="compareCheck"></p>
                <div class="compare-btns-wrap">
                    <!-- 16-11-2021 -->
                    <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                                data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                        class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                                data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                        class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                                data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                        class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- 16-11-2021 -->
                    <div class="compare-box-item">
                        <div class="compare-cancel-wrap">
                            <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" id="mobCompareFunds">
                                compare
                            </a>
                            <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                                cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- mob filter -->

<!-- plan-goal box -->
<section class="fund-list-filter-box pd-t40i" id="jsFilterAddCompare">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/Loader.gif" alt="">
    </div>
    <div class="container">
        <div class="pd-b40i">
            <h2 data-heading="top-fund-title" class="text-center"></h2>
        </div>
        <div class="fund-list-result">
            <div class="fund-list-result-inner">
                <div class="fund-list-result-left">
                    <div class="fund-list-result-one">
                        <h5><span id="fundListSize">${fundListingModel.fundList.size}</span> Results</h5>
                    </div>
                    <div class="fund-list-result-two">
                        <!-- <label class="fund-label">show</label> -->
                        <div class="custom-dropdown custom-dropdown-new" data-id="fundDropdown">
                            <sly data-sly-test="${fundListingModel.fundList.size >= 8}">
                                <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                    <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                                </div>
                            </sly>
                            <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                <div class="dropdown-card-inner">
                                    <ul class="dropdown-list-menu jsDropDownMenuGet" id="noOfFunds">
                                        <li class="active">
                                            <a href="javascript:void(0)">8 Funds</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">10 Funds</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">15 Funds</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">20 Funds</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fund-list-result-right">
                    <div class="fund-list-result-sort">
                        <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                        <div class="custom-dropdown custom-dropdown-new">
                            <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                <a href="javascript:void(0);" class="jsDropDownMenuShow" data-sortby="sortByName">Returns - High to Low</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                <div class="dropdown-card-inner">
                                    <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                                        <li>
                                            <a href="javascript:void(0)">Morning Star - High to low</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Morning Star - Low to High</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Value Research - High to low</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Value Research - Low to High</a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0)">Returns - High to Low</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Returns - Low to High</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- pagination box -->
        <div class="pagination-box top-pagination">
            <div class="pagination-list mf-pagination">
            </div>
        </div>
        <!-- pagination box -->

        <!-- fund list ul -->
        <div class="fund-list-ul jsPagination" id="amcFundList">
            <sly data-sly-test="${fundListingModel.getSort.size > 0}">
                <sly data-sly-list.funds="${fundListingModel.getSort}">
                    <div class="fund-list-li js-similarMFcard" data-schemeId="${funds.schemeId}">
                        <div class="card-div similar-mutual-funds-items">
                            <div class="top-row">
                                <div class="info-rating-wrap">
                                    <div class="name-return-wrap">
                                        <div class="img-name-wrap">
                                            <div class="img-wrap">
                                                <img src="${funds.iconPath}" alt="" />
                                            </div>
                                            <div class="name-rating-wrap">
                                                <a href="${funds.pagePath}" data-viewdetailbtn="viewDetailBtn" class="mf-fund-name"><h6 class="fund-name two-lines" data-schemename="${funds.fundName}">${funds.fundName}</h6></a>
                                                <div class="rating-wrap d-none d-md-flex">
                                                    <p>
                                                        <span class="rate">${funds.morningStar != null && funds.morningStar != '' ? funds.morningStar : '-'}
                                                            <span class="icon-star"></span></span>
                                                        Morning Star
                                                    </p>
                                                    <p>
                                                        <span class="rate">${funds.valueResearch != null && funds.valueResearch != '' ? funds.valueResearch : '-'}
                                                            <span class="icon-star"></span></span>
                                                        Value Research
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="return-info d-md-none">
                                            <div class="form-select2">
                                                <select class="single-select2 returnsVal"
                                                    data-placeholder="-- Select --">
                                                    <option value="${funds.oneMonthReturn == '0.0' || funds.oneMonthReturn == 'null' ? '-' : funds.oneMonthReturn}">1m Returns
                                                    </option>
                                                    <option value="${funds.oneYearReturn == '0.0' || funds.oneYearReturn == 'null' ? '-' : funds.oneYearReturn}">1y Returns
                                                    </option>
                                                    <option value="${funds.threeYearReturn == '0.0' || funds.threeYearReturn == 'null' ? '-' : funds.threeYearReturn}">3y Returns
                                                    </option>
                                                </select>
                                            </div>
                                            <sly data-sly-test="${funds.oneMonthReturn != '0.0' && funds.oneMonthReturn != 'null'}">
                                                <h6 class="trend-info ${funds.isGreaterThanZero ? 'up-trend' : 'down-trend'}"
                                                    data-rate="rate">
                                                    <span
                                                        class="${funds.isGreaterThanZero ? 'icon-angle-up' : 'icon-angle-down'}"></span>
                                                        ${funds.oneMonthReturn} %
                                                </h6>
                                            </sly>
                                            <sly data-sly-test="${funds.oneMonthReturn == '0.0' && funds.oneMonthReturn != 'null'}">
                                                <h6 class="trend-info" data-rate="rate">-%</h6>
                                            </sly>
                                        </div>

                                    </div>
                                    <div class="rating-wrap d-md-none">
                                        <p>
                                            <span class="rate">${funds.morningStar != null && funds.morningStar != '' ? funds.morningStar : '-'}
                                                <span class="icon-star"></span></span>
                                            Morning Star
                                        </p>
                                        <p>
                                            <span class="rate">${funds.valueResearch != null && funds.valueResearch != '' ? funds.valueResearch : '-'}
                                                <span class="icon-star"></span></span>
                                            Value Research
                                        </p>
                                    </div>
                                </div>
                                <div class="returs-box d-none d-md-flex">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">NAV</p>
                                            <h6>${funds.nav ? funds.nav : '-'}</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">1M Returns</p>
                                            <h6>${funds.oneMonthReturn == '0.0' || funds.oneMonthReturn == 'null' ? '-' : funds.oneMonthReturn}%</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">1Y Returns</p>
                                            <h6>${funds.oneYearReturn == '0.0' || funds.oneYearReturn == 'null' ? '-' : funds.oneYearReturn}%</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">3Y Returns</p>
                                            <h6>${funds.threeYearReturn == '0.0' || funds.threeYearReturn == 'null' ? '-' : funds.threeYearReturn}%</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="invest-more-wrap d-none d-md-block">
                                    <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn"
                                        data-investnow="true">invest now</a>
                                    <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn"
                                        data-btn="mf-dektop-view-more">
                                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                                <div class="returs-wrap">
                                    <div class="return-item">
                                        <p class="label-text">Min. Investment</p>
                                        <h6>Rs.${funds.minSipAmt ? funds.minSipAmt : funds.minLumpsumAmt}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Size</p>
                                        <h6>Rs.${funds.fundSize ? funds.fundSize : '-'} Cr</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Manager</p>
                                        <h6>${funds.fundManagerName ? funds.fundManagerName : '-'}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="tag-more-wrap">
                                    <div class="tag-wrap">
                                        <span class="tag-item blue-tag" data-risktype='${funds.riskType}'>${funds.riskType ? funds.riskType : '-'}</span>
                                        <span class="tag-item violent-tag" data-catname = '${funds.categoryName}'>${funds.categoryName ? funds.categoryName :
                                            '-'}</span>
                                        <span class="tag-item green-tag">${funds.schemeOption ? funds.schemeOption :
                                            '-'}</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none"
                                        data-btn="mf-view-more">
                                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                    </a>
                                </div>
                                <div class="button-wrap d-none d-md-flex">
                                    <div class="watchlist-compare-btn">
                                        <!-- <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap">
                                            <span class="icon-binocular"></span>
                                            ADD TO WatchLIST
                                        </a> -->
                                        <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap js-addWatchlist">
                                            <span class="watchlist-icon">
                                              <i class="icon-binocular"></i>
                                            </span>
                                            <span class="js-toggleAdd wishlist-text">ADD to watchlist</span>
                                          </a>
                                        <div class="custom-checkbox add-compare-wrap">
                                            <label class="js-addCompare">
                                                <input type="checkbox" />
                                                <span class="checkbox-wrap"></span>
                                                ADD TO compare
                                            </label>
                                        </div>
                                        <a href="${funds.pagePath}" target="_blank" class="btn-view-all" data-viewdetailbtn="viewDetailBtn">view
                                            details<span class="icon-arrow-right"></span></a>
                                    </div>
                                    <div class="view-btn-wrap">

                                    </div>
                                </div>

                            </div>

                            <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                                <div class="returs-wrap">
                                    <div class="return-item">
                                        <p class="label-text">NAV</p>
                                        <h6>${funds.nav ? funds.nav : '-'}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Min Investment</p>
                                        <h6>₹${funds.minSipAmt ? funds.minSipAmt : funds.minLumpsumAmt}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Size</p>
                                        <h6>₹${funds.fundSize ? funds.fundSize : '-'} cr</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Manager</p>
                                        <h6>${funds.fundManagerName ? funds.fundManagerName : '-'}</h6>
                                    </div>
                                </div>
                                <div class="watchlist-compare-btn">
                                    <!-- <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap addedWatchlist">
                                        <span class="icon-binocular"></span>
                                        ADD TO WatchLIST
                                    </a> -->
                                    <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap js-addWatchlist">
                                        <span class="watchlist-icon">
                                          <i class="icon-binocular"></i>
                                        </span>
                                        <span class="js-toggleAdd wishlist-text">ADD to watchlist</span>
                                      </a>
                                    <div class="custom-checkbox add-compare-wrap">
                                        <label class="js-addCompare">
                                            <input type="checkbox">
                                            <span class="checkbox-wrap"></span>
                                            ADD TO compare
                                        </label>
                                    </div>
                                </div>
                                <div class="invest-detail-wrap">
                                    <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn"
                                        data-investnow="true">invest now</a>
                                    <a href="${funds.pagePath}" class="btn-view-all" data-viewdetailbtn="viewDetailBtn">view details<span
                                            class="icon-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </sly>
            </sly>
            <sly data-sly-test="${fundListingModel.fundList.size == 0}">
                <h4>No Funds Found!!</h4>
            </sly>
        </div>
        <!-- fund list ul -->

        
        <!-- pagination box -->
        <div class="pagination-box">
            <div class="pagination-list mf-pagination">
            </div>
        </div>
        <!-- pagination box -->

    </div>
</section>
<!-- plan-goal box -->

<div class="mob-sortby-box">
    <div class="mob-sortby-inner">
        <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
        <div class="container">
            <h6>Sort by</h6>
            <ul class="jsSelectSortList">
                <li>
                    <label class="custom-radio-text">
                        Morning Star - High to low
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Morning Star - High to low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Morning Star - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Morning Star - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Value Research - High to low
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Value Research - High to low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Value Research - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Value Research - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Returns - High to Low
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Returns - High to Low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Returns - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Returns - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var fundArray = "${fundListingModel.stringFundList @context='scriptString'}";
    var iconPath = "${pageProperties.iconPath @context='scriptString'}";
    var amcName = "${pageProperties.name @context='scriptString'}";
    var sebiCategoryList = "${sebiCategoryModel.sebiCatPageList @context='scriptString'}";
    sebiCategoryList = JSON.parse(sebiCategoryList);
    fundListArray = JSON.parse(fundArray);
    fundListArray.forEach(function (element, index) {
        element.cagrValues = JSON.parse(element.cagrValues);
    });
    var topFundTitle = document.querySelector('[data-heading="top-fund-title"]').innerText = 'Top ' + amcName + 's';
</script>
<!--adobe analytics 65,135,177,251,302,310,942-944,966,1011-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.amc-details-fund-list'}"></sly>
</sly>