.trusted-box .trusted-inner {
  padding: 30px 0px;
  border: 1px solid rgba(122, 204, 255, 0.3);
  border-left: none;
  border-right: none;
}
.trusted-box .list-trusted {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.trusted-box .list-trusted li {
  width: 33.33%;
  padding: 0px 10px;
  text-align: center;
}
.trusted-box .list-trusted .trusted-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F6F9FB;
}
.trusted-box .list-trusted .trusted-img img {
  margin: auto;
}
.trusted-box .list-data li {
  width: 25%;
}
.trusted-box .list-data li p {
  color: #606060;
}

.goal-base-box {
  padding: 72px 0 80px;
}
.goal-base-box h2 {
  margin-bottom: 30px;
  text-align: center;
}

.protect-precious-box {
  padding-top: 0;
}
.protect-precious-box h2 {
  margin-bottom: 15px;
}
.protect-precious-box p {
  max-width: 860px;
  text-align: center;
  margin: 0 auto 30px;
  color: #606060;
}

@media (max-width: 991px) {
  .goal-base-box {
    padding: 45px 0px;
  }

  .trusted-box .list-data li h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .trusted-box .list-data li p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  .trusted-box {
    border: 1px solid rgba(122, 204, 255, 0.3);
    border-left: none;
    border-right: none;
  }
  .trusted-box .trusted-inner {
    padding: 24px 0 20px;
    border: none;
  }
  .trusted-box h5 {
    font-size: 14px;
    line-height: 21px;
  }
  .trusted-box .list-trusted .trusted-img {
    width: 50px;
    height: 50px;
    margin-bottom: 9px;
  }
  .trusted-box .list-trusted .trusted-img img {
    max-width: 25px;
  }
  .trusted-box .list-data li {
    width: 50%;
    text-align: left;
    margin: 18px 0;
  }

  .protect-precious-box {
    padding-top: 30px;
  }
  .protect-precious-box h2 {
    text-align: left;
    font-size: 26px;
    line-height: 31px;
  }
  .protect-precious-box p {
    text-align: left;
    font-size: 12px;
    line-height: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
