<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.refer-to-your-friend'}"></sly>
</sly>

<section class="refer-box">
    <div class="container">
        <div class="refer-inner">
            <div class="refer-right" data-aos="fade-left">
                <img src="${properties.desktopImage}" alt="" class="refer-desktop" />
                <img src="${properties.mobileImage}" alt="" class="refer-mob" />
            </div>
            <div class="refer-left">
                <h6>${properties.subHeading}</h6>
                <h2>${properties.heading}</h2>
                <div class="refer-left-inner">
                    ${properties.description @context = 'html'}
                </div>

                <a href="${properties.btnPath}"><button type="button" class="btn-blue btn-yellow radius100 btn-shadow">${properties.button}</button></a>
            </div>
        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories=''}"></sly>
</sly>