@charset "UTF-8";
.disclaimer-box {
  padding-bottom: 65px;
  text-align: center;
}
.disclaimer-box h2 {
  pointer-events: none;
}
.disclaimer-box p {
  font-size: 13px;
  line-height: 28px;
  color: #606060;
  margin-top: 15px;
}
.disclaimer-box.tax-disclaimer p {
  font-size: 14px;
}

.new-disclaimer-box {
  background-color: #E9F0F7;
  padding: 60px 0;
}
.new-disclaimer-box .disclaimers-inner {
  max-width: 975px;
  margin: auto;
  text-align: center;
}
.new-disclaimer-box p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

@media (max-width: 991px) {
  .disclaimer-box {
    padding-bottom: 45px;
  }

  .new-disclaimer-box {
    padding: 45px 0;
  }
}
@media (max-width: 767px) {
  .disclaimer-box {
    text-align: left;
    padding-bottom: 30px;
  }
  .disclaimer-box p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 7px;
  }
  .disclaimer-box.tax-disclaimer p {
    font-size: 12px;
  }

  .disclaimer-inner {
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
    border-radius: 10px;
    background-color: #fff;
    padding: 18px 23px;
  }
  .disclaimer-inner h2 {
    position: relative;
    cursor: pointer;
    pointer-events: auto;
  }
  .disclaimer-inner h2:after {
    content: "";
    font-family: "icomoon";
    color: #2C6EB5;
    font-size: 10px;
    line-height: 29px;
    position: absolute;
    top: 0px;
    right: 0;
  }
  .disclaimer-inner.active h2:after {
    content: "";
  }

  .new-disclaimer-box {
    padding: 40px 0;
  }
  .new-disclaimer-box p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
