<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.instant-redemption-funds'}"></sly>
</sly>
<sly data-sly-use.fundListModel="com.tatacapital.moneyfy.core.models.FundListingModel" />
<script>
  var amcIconList = "${fundListModel.amcIconsPaths @context='scriptString'}";
  amcIconList = JSON.parse(amcIconList);
</script>

<section class="fund-list-filter-box pd-t40i" id="jsFilterAddCompare">
  <div class="loader js-loader">
    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
  </div>
  <div class="container">

    <div class="fund-list-result">
      <div class="fund-list-result-inner">
        <div class="fund-list-result-left">
          <div class="fund-list-result-one">
            <h5><span id="fundListSize"></span> Results</h5>
          </div>
          <div class="fund-list-result-two">
            <div class="custom-dropdown custom-dropdown-new" data-id="fundDropdown">
              <div class="dropdown-button js-filterBtn" data-filter="sorting">
                <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
              </div>
              <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                <div class="dropdown-card-inner">
                  <ul class="dropdown-list-menu jsDropDownMenuGet" id="noOfFunds">
                    <li class="active">
                      <a href="javascript:void(0)">8 Funds</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">10 Funds</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">15 Funds</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">20 Funds</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fund-list-result-right">
          <div class="fund-list-result-sort">
            <label class="fund-label"><span class="icon-sort"></span> sort by</label>
            <div class="custom-dropdown custom-dropdown-new">
              <div class="dropdown-button js-filterBtn" data-filter="sorting">
                <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
              </div>
              <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                <div class="dropdown-card-inner">
                  <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                    <li>
                      <a href="javascript:void(0)">Morning Star - High to low</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Morning Star - Low to High</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Value Research - High to low</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Value Research - Low to High</a>
                    </li>
                    <li class="active">
                      <a href="javascript:void(0)">Returns - High to Low</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Returns - Low to High</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- pagination box -->
    <div class="pagination-box top-pagination">
      <div class="pagination-list mf-pagination">
      </div>
    </div>
    <!-- pagination box -->

    <!-- fund list ul -->
    <div class="fund-list-ul jsPagination" id="amcFundList">
    </div>
    <!-- fund list ul -->

    <!-- pagination box -->
    <div class="pagination-box">
      <div class="pagination-list mf-pagination">
      </div>
    </div>
    <!-- pagination box -->

  </div>
</section>
<!-- plan-goal box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.instant-redemption-funds'}"></sly>
</sly>