.subsidiary-companies-box {
  background-color: #2C6EB5;
  padding: 60px 0;
}
.subsidiary-companies-box h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.subsidiary-companies-slider .slider-item {
  padding: 15px 10px 35px;
}
.subsidiary-companies-slider .company-slide-item {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 30px 30px 80px;
  height: 100%;
  position: relative;
}
.subsidiary-companies-slider h5 {
  margin-bottom: 10px;
}
.subsidiary-companies-slider .explore-btn {
  position: absolute;
  left: 30px;
  bottom: 35px;
}

@media (max-width: 991px) {
  .subsidiary-companies-box {
    padding: 45px 0px;
  }
  .subsidiary-companies-box h2 {
    text-align: left;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
h2 {
    font-size: 24px;
    line-height: 29px;
}
  .subsidiary-companies-box .subsidiary-headeing {
    padding: 0 15px;
  }
  .subsidiary-companies-box .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .subsidiary-companies-slider .company-slide-item {
    padding: 25px 20px 60px;
  }
  .subsidiary-companies-slider .company-slide-item p {
    font-size: 14px;
    line-height: 22px;
  }
  .subsidiary-companies-slider .explore-btn {
    left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
