.customer-care-box {
  padding: 80px 0;
  background-color: #E9F0F7;
}

.customer-care-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
}
.customer-care-inner .customer-care-col {
  padding: 0 30px;
}
.customer-care-inner .customer-care-info-col {
  width: 28%;
}
.customer-care-inner .we-are-based-col {
  width: 30%;
}
.customer-care-inner .download-signup-col {
  width: 42%;
}

.customer-care-info-wrap {
  background-color: #2C6EB5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 33px;
  height: 100%;
}
.customer-care-info-wrap img {
  margin-bottom: 15px;
}
.customer-care-info-wrap .customer-care-head {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.customer-care-info-wrap .mobile-number-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #D7DF23;
  margin-bottom: 15px;
  display: inline-block;
}
.customer-care-info-wrap p {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.customer-care-info-wrap .info-text {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 0;
}

.we-are-based-wrap h2 {
  margin-bottom: 40px;
}
.we-are-based-wrap .phone-mail-list li {
  margin-bottom: 30px;
}
.we-are-based-wrap .phone-mail-list li:last-child {
  margin-bottom: 0;
}

.download-signup-wrap h5 {
  margin-bottom: 20px;
}
.download-signup-wrap .or {
  position: relative;
  margin: 10px 0 15px;
  text-align: center;
  max-width: 275px;
}
.download-signup-wrap .or span {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  color: rgba(51, 51, 51, 0.9);
  width: 30px;
  height: 30px;
  display: inline-flex;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #e9f0f7;
}
.download-signup-wrap .or::before {
  content: "";
  background-color: #B5C1C4;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  position: absolute;
}
.download-signup-wrap .get-app-link {
  margin-bottom: 30px;
}
.download-signup-wrap .list-socials {
  justify-content: flex-start;
  margin: 0 -20px;
}
.download-signup-wrap .list-socials li {
  padding: 0 20px;
}
.download-signup-wrap .list-socials li a {
  background-color: #D7DF23;
  color: #2C6EB5;
}

@media (max-width: 991px) {
  .customer-care-box {
    padding: 45px 0 10px;
  }

  .customer-care-inner .customer-care-col {
    width: 50%;
    margin-bottom: 40px;
  }
  .customer-care-inner .download-signup-col {
    width: 75%;
  }

  .we-are-based-wrap h2 {
    margin-bottom: 20px;
  }
  .we-are-based-wrap .phone-mail-list li {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .customer-care-box {
    padding-bottom: 45px;
  }

  .contact-detail-box .phone-mail-list li:last-child {
    margin-bottom: 0px;
  }

  .customer-care-inner .customer-care-col {
    width: 100%;
    margin-bottom: 35px;
  }
  .customer-care-inner .download-signup-col {
    margin-bottom: 0;
  }

  .customer-care-info-wrap {
    padding: 25px 15px;
  }
  .customer-care-info-wrap img {
    margin-bottom: 10px;
  }
  .customer-care-info-wrap .customer-care-head {
    margin-bottom: 5px;
  }
  .customer-care-info-wrap p {
    margin-bottom: 5px;
  }

  .we-are-based-wrap h2 {
    margin-bottom: 15px;
  }
  .we-are-based-wrap .phone-mail-list li {
    margin-bottom: 20px;
  }
  .we-are-based-wrap .phone-mail-list li:last-child {
    margin-bottom: 0;
  }

  .download-signup-wrap h5 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  .download-signup-wrap .app-store-link {
    margin-bottom: 0;
  }
  .download-signup-wrap .or {
    max-width: none;
    margin: 30px 0;
  }
  .download-signup-wrap .list-socials {
    justify-content: center;
    margin: 0 -15px;
  }
  .download-signup-wrap .list-socials li {
    padding: 0 15px;
  }
  .download-signup-wrap .list-socials li a {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .get-app-link .form-control-plain {
    height: 50px;
    padding: 15px 180px 15px 35px;
    font-size: 12px;
  }

.get-app-link .text-code {
    left: 10px;
    font-size: 12px;
    line-height: 10px;
  }
}
@media (max-width: 359px){
.error-msgs {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    color: #fe7777;
    padding-left: 20px;
    margin-top: 2px;
}
}

/*# sourceMappingURL=style.css.map */
