<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.our-culture-box'}"></sly>
</sly>

<section class="our-culture-box">
    <div class="container">
        <h2>${properties.heading}</h2>

        <div class="culture-box-wrap">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'cultureBoxRowMultifield'}">
                    <sly data-sly-list.cultureBoxRow="${listItem.children}">
                        <div class="culture-box-row ${cultureBoxRow.imageSide}">
                            <div class="content-col">
                                <h4>${cultureBoxRow.cultureBoxHeading}</h4>
                                <div class="img-wrap d-lg-none" data-sly-test="${cultureBoxRow.cultureBoxImage}">
                                    <img src="${cultureBoxRow.cultureBoxImage}" alt="">
                                </div>
                                ${cultureBoxRow.cultureBoxDescription @context='html'}
                            </div>
                            <div class="img-col d-none d-lg-block">
                                <div class="img-wrap">
                                    <img src="${cultureBoxRow.cultureBoxImage}" alt="">
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>