/*table-component-opt-21 css start*/
/* a {
    word-wrap: break-word;
} */

.business-loan-table {
    margin-top: 25px;

}

.business-table-inner {
   background: #FFFFFF;
   box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
   padding: 30px
}

.business-table-inner h2 {
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   letter-spacing: 0.02em;
   line-height: 22px;
   color: #333333;
   margin: 0 0 20px
}

.business-table-inner h2.font-size-14 {
   font-size: 15px
}

.business-table-inner h3 {
   font-family: 'OpenSans-Bold';
   font-size: 16px;
   letter-spacing: 0.02em;
   line-height: 22px;
   color: #333333;
   margin: 0 0 5px
}

.business-table-inner h4 {
   font-family: 'OpenSans-Bold';
   font-size: 14px;
   letter-spacing: 0.02em;
   line-height: 22px;
   color: #333333;
   margin: 0 0 15px
}

.business-table-inner .para-text {
   
   font-family:"Poppins", sans-serif;
   font-size: 17px;
   color: #333;
}

.business-table-inner .table-section {
   margin-bottom: 40px
}

.table-block {
   overflow: auto !important;
   max-height: 400px
}

.table-main {
   border-collapse: inherit
}

.table-main.w-100 {
   width: 100%;
   margin: 0
}

.table-main.margin-auto {
   margin: auto;
   width: auto
}

.table-main.table-blue th {
   background: #1068B2;
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   letter-spacing: 0.02em;
   color: white;
}

.table-main.table-black th {
   background: #333333;
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   letter-spacing: 0.02em;
   color: white;
}

.table-main .merge {
   vertical-align: top
}

.table-main .poistion-static {
   position: static !important
}

.table-main th {
   min-width: 213px
}

.table-main td,
.table-main th {
   text-align: left;
   padding: 10px 20px
}

.table-main td {
   border-right: 1px solid #A9B2B5;
   font-family: "Poppins", sans-serif;
   font-size: 17px;
   line-height: 19px;
   letter-spacing: 0.02em;
   color: #333333;
   vertical-align: top;
}

.table-main td:last-child {
   border-right: 0
}

.table-main tbody tr:nth-child(odd) {
   background-color: #ffffff
}

.table-main tbody tr:nth-child(odd) td.sticky-cell {
   background-color: #ffffff
}

.table-main tbody tr:nth-child(even) {
   background-color: #F5F5F5
}

.table-main tbody tr:nth-child(even) td.sticky-cell {
   background-color: #F5F5F5
}

.sticky-table table tr.sticky-header th,
.sticky-table table tr.sticky-header td,
.sticky-table table tr.sticky-footer th,
.sticky-table table tr.sticky-footer td {
   border-top: 0;
   position: relative;
   position: -webkit-sticky;
   position: -ms-sticky;
   position: sticky;
   z-index: 5
}

.sticky-table table tr.sticky-header th,
.sticky-table table tr.sticky-header td {
   top: 0
}

.sticky-table table tr.sticky-footer th,
.sticky-table table tr.sticky-footer td {
   bottom: 0
}

.sticky-table table td.sticky-cell,
.sticky-table table th.sticky-cell,
.sticky-table table td.sticky-cell-opposite,
.sticky-table table th.sticky-cell-opposite {
   position: relative;
   position: -webkit-sticky;
   position: -ms-sticky;
   position: sticky ;
   z-index: 10
}

.sticky-table.sticky-ltr-cells table td.sticky-cell,
.sticky-table.sticky-ltr-cells table th.sticky-cell,
.sticky-table.sticky-rtl-cells table td.sticky-cell-opposite,
.sticky-table.sticky-rtl-cells table th.sticky-cell-opposite {
   left: 0;
   z-index: 1;
}

.sticky-table.sticky-rtl-cells table td.sticky-cell,
.sticky-table.sticky-rtl-cells table th.sticky-cell,
.sticky-table.sticky-ltr-cells table td.sticky-cell-opposite,
.sticky-table.sticky-ltr-cells table th.sticky-cell-opposite {
   right: 0
}
Hello

.sticky-table table tr.sticky-header td.sticky-cell,
.sticky-table table tr.sticky-header th.sticky-cell,
.sticky-table table tr.sticky-header td.sticky-cell-opposite,
.sticky-table table tr.sticky-header th.sticky-cell-opposite,
.sticky-table table tr.sticky-footer td.sticky-cell,
.sticky-table table tr.sticky-footer th.sticky-cell,
.sticky-table table tr.sticky-footer td.sticky-cell-opposite,
.sticky-table table tr.sticky-footer th.sticky-cell-opposite {
   z-index: 0 !important;
}

@media (max-width: 767px) {
   .business-table-inner {
       padding: 20px 20px 30px
   }
}

@media (max-width: 575px) {
   .table-main th {
       min-width: 159px
   }
   .table-main th:first-child {
       min-width: 146px
   }
}
.business-table-inner p{
   font-family: OpenSans-Regular;
   font-size: 13px;
   color: rgb(51, 51, 51);
}
.table-main td.table-data{
   vertical-align: middle;
   text-align: center;
   }
.table-main .gray-color{
background-color: #f5f5f5!important ;
}

.table-main .whites-color{
background-color: #ffffff!important ;
}
.table-main {
   border-collapse: collapse;
}
/*# sourceMappingURL=allcss.css.map */
/*table-component-opt-21 css end*/