/*compare-fund-filter.css*/
.filter-section {
  background-color: #2C6EB5;
  padding: 10px 0;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}
.filter-section.show-compare {
  border-top: 2px solid #D7DF23;
  border-bottom: 2px solid #D7DF23;
}

.filter-box .filter-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.filter-box .filter-btn-wrap .filter-item {
  padding: 0 12px;
  margin: 3px 0;
}

.dropdown-button {
  background-color: #F9FBFF;
  border-radius: 6px;
  padding: 8px 13px;
  min-width: 120px;
  cursor: pointer;
}
.dropdown-button.active {
  box-shadow: inset 0 0 0px 2px #c7e5f8;
}
.dropdown-button a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  position: relative;
  padding-right: 45px;
  display: block;
}
.dropdown-button a:before {
  content: "";
  font-family: "icomoon";
  font-size: 7px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #2C6EB5;
  transition: all 0.3s;
}
.dropdown-button.active a:before {
  transform: rotate(-180deg);
}

.custom-dropdown {
  position: relative;
}

.dropdown-card {
  background-color: #fff;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: -10px;
  transform: translateY(100%);
  left: 0;
  min-width: 240px;
  z-index: 2;
  display: none;
}
.dropdown-card:before {
  content: "";
  width: 70px;
  height: 3px;
  background: #D7DF23;
  position: absolute;
  top: -2px;
  left: 0;
}

.filter-item:last-child .dropdown-card {
  right: 0;
  left: auto;
}
.filter-item:last-child .dropdown-card:before {
  left: auto;
  right: 0;
}

.dropdown-card-inner {
  padding: 15px 20px;
}

.dropdown-header {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dropdown-header p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-right: 70px;
}
.dropdown-header .clear-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #2C6EB5;
}

.dropdown-content .rating-head {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  margin-bottom: 5px;
}

.rating-checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
}
.rating-checkbox-wrap .checkbox-item {
  margin-bottom: 10px;
}
.rating-checkbox-wrap .checkbox-item input {
  display: none;
}
.rating-checkbox-wrap .checkbox-item input:checked ~ p {
  background-color: #2C6EB5;
  border: 1px solid #2C6EB5;
}
.rating-checkbox-wrap .checkbox-item p {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #F2C94C;
  display: inline-flex;
  align-items: center;
  border: 1px solid #CCD8EE;
  border-radius: 6px;
  padding: 5px;
  width: 31px;
  height: 31px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s;
}
.rating-checkbox-wrap .checkbox-item p:hover {
  background-color: #2C6EB5;
  border: 1px solid #2C6EB5;
}
.rating-checkbox-wrap .checkbox-item .icon {
  font-size: 10px;
  margin-left: 2px;
  line-height: 11px;
}

.filter-checkbox:not(:last-child) {
  margin-bottom: 17px;
}
.filter-checkbox label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #606060;
  align-items: flex-start;
}
.filter-checkbox .checkbox-wrap:after {
  border-color: #fff;
}
.filter-checkbox input[type=checkbox]:checked ~ .checkbox-wrap {
  background-color: #2C6EB5;
}

.filter-row {
  margin: 0;
  flex-wrap: nowrap;
}
.filter-row .left-col, .filter-row .right-col {
  padding: 15px 20px;
}
.filter-row .category-list {
  display: block;
  margin: 0;
}
.filter-row .category-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  padding-left: 0;
  padding-right: 15px;
  transition: all 0.3s;
}
.filter-row .category-list li:after {
  content: "";
  font-family: "icomoon";
  font-size: 8px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  transition: all 0.3s;
}
.filter-row .category-list li.active {
  font-weight: 600;
  color: #2C6EB5;
}
.filter-row .category-list li.active:after {
  display: block;
}

.right-col {
  background-color: #F6FCFF;
  min-width: 270px;
  border-bottom-right-radius: 10px;
}

.dropdown-header .select-all-btn {
  font-size: 12px;
  line-height: 18px;
  color: #2C6EB5;
  font-weight: 600;
}

.category-filter-item {
  display: none;
}
.category-filter-item.active {
  display: block;
}

.amc-filter-card {
  min-width: 315px;
}

.filterList-mCustomScrollbar {
  max-height: 185px;
}

.search-form {
  position: relative;
  margin-bottom: 15px;
}
.search-form .form-control {
  width: 100%;
  background-color: #fff;
  border: 1px solid #BFDBFA;
  box-sizing: border-box;
  border-radius: 6px;
  height: 37px;
  padding-left: 38px;
  padding-right: 10px;
  outline: none;
}
.search-form .form-control::-ms-clear {
  display: none;
}
.search-form .search-btn {
  position: absolute;
  left: 0;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #2C6EB5;
  font-size: 16px;
  top: 10px;
  left: 12px;
}

.filter-tags-wrap {
  display: none;
}

.clear-btn-wrap {
  text-align: right;
  position: relative;
}
.clear-btn-wrap:before {
  content: "";
  width: calc(100% - 85px);
  height: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 50%;
}

.clear-all-btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #D7DF23;
}

.filter-tags {
  display: flex;
  width: calc(100% - 70px);
  padding: 0 35px;
}
.filter-tags.overflow-visible {
  padding: 0 0;
}
.filter-tags.overflow-visible .slick-list {
  overflow: visible;
}
.filter-tags .slick-arrow {
  width: 30px;
  height: 30px;
}
.filter-tags .slick-arrow:before {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #333333;
  background-color: #D7DF23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 1;
}
.filter-tags .slick-arrow.slick-disabled {
  opacity: 0.8;
  pointer-events: none;
}
.filter-tags .slick-arrow.slick-prev {
  left: 0;
}
.filter-tags .slick-arrow.slick-prev:before {
  content: "";
}
.filter-tags .slick-arrow.slick-next {
  right: 0;
}
.filter-tags .slick-arrow.slick-next:before {
  content: "";
}

.filter-tag {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  background: #D7DF23;
  border-radius: 80px;
  padding: 7px 12px 5px;
  margin: 0 6px;
  display: block;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.filter-tag .remove-tag {
  font-size: 8px;
  margin-left: 10px;
  color: #005899;
}

.filterTags-mCustomScrollbar {
  width: 100%;
}
.filterTags-mCustomScrollbar.mCS_no_scrollbar .mCustomScrollBox {
  padding: 0px;
}
.filterTags-mCustomScrollbar .mCSB_buttonLeft, .filterTags-mCustomScrollbar .mCSB_buttonRight {
  opacity: 1 !important;
  width: 30px !important;
  height: 30px !important;
}
.filterTags-mCustomScrollbar .mCSB_buttonLeft:before, .filterTags-mCustomScrollbar .mCSB_buttonRight:before {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  color: #333333;
  background-color: #D7DF23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.filterTags-mCustomScrollbar .mCSB_buttonLeft:before {
  content: "";
}
.filterTags-mCustomScrollbar .mCSB_buttonRight:before {
  content: "";
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 30px;
  z-index: 1;
  opacity: 1;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  display: none !important;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background-color: #C0D2E3;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  display: none !important;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 50%;
  margin-left: -40px;
  z-index: 4;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 50%;
  margin-right: -40px;
}
.filterTags-mCustomScrollbar .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 40px;
}
.filterTags-mCustomScrollbar.mCS_no_scrollbar .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 40px;
}

.fund-list-filter-box {
  position: relative;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}
.loader.show {
  display: flex;
}

.search-lists-box .tt-menu {
  background-color: #FFFFFF;
  box-shadow: 0px 16px 70px rgb(153 186 208 / 30%);
  border-radius: 10px;
  padding: 11px;
  width: 319px;
  left: auto !important;
  right: 0px;
  z-index: 3 !important;
}

@media (max-width: 991px) {
  .search-lists-box .tt-menu {
      left: 0 !important;
      right: auto;
  }
}

#jsSearchTypehead .tt-menu, #jsMutualFundSearchTypehead .tt-menu, #jsSearchTypeheadMob .tt-menu {
  max-height: 250px;
  overflow-y: auto;
}

.search-lists-box .tt-menu .tt-suggestion {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #858997;
  cursor: pointer;
  padding: 8px 12px;
}

.up-trend [class^=icon-] {
  display: inline-block;
  color: #1FC750;
  margin-right: 5px;
  font-size: 13px;
}

.down-trend [class^=icon-] {
  margin-right: 5px;
  color: #ff0000;
  font-size: 13px;
}

/*Sebi category*/
.filter-section.sebi-filters .dropdown-button {
  min-width: 140px;
}

.dropdown-card-inner.dropdownload-inner2 {
  padding-left: 11px;
  padding-right: 11px;
}

.filters-heading-dropdown h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 15px;
  padding-left: 10px;
}
.filters-heading-dropdown .filters-heading-scroll {
  max-height: 200px;
}
.filters-heading-dropdown .filters-heading-scroll .mCSB_inside > .mCSB_container {
  margin-right: 15px;
}

.filter-search-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.filter-search-wrap .search-box {
  margin: 3px 0;
}
.filter-search-wrap .search-box .filter-item .dropdown-card {
  right: auto;
  left: 0;
}
.filter-search-wrap .search-box .dropdown-button a {
  white-space: nowrap;
}
.filter-search-wrap .search-box {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}
.filter-search-wrap .filter-box {
  width: calc(100% - 242px);
}
.filter-search-wrap .amc-filter-card {
  min-width: 248px;
}

.js-fixContainer {
  left: 0;
}
.js-fixContainer.affix {
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.blue-filtersize-box {
  background: linear-gradient(105.18deg, rgba(0, 88, 153, 0.2) 8.75%, rgba(78, 76, 221, 0.2) 49.88%, rgba(44, 110, 181, 0.2) 86.94%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  padding: 10px 0px;
}
.blue-filtersize-box h6 {
  color: #fff;
  margin-bottom: 15px;
}
.blue-filtersize-box .list-filter-checks {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.blue-filtersize-box .list-filter-checks li {
  padding: 0 15px 6px;
}
.blue-filtersize-box .list-filter-checks li .custom-checkbox label {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: inherit;
}

.fund-manager-filter-wrap .filter-tags-wrap {
  margin-top: 10px;
}
.fund-manager-filter-wrap .search-box .filter-item {
  min-width: 200px;
}
.fund-manager-filter-wrap .filter-box {
  display: flex;
}
.fund-manager-filter-wrap .filter-box .filter-item {
  margin-right: 40px;
}
.fund-manager-filter-wrap .filter-box .filter-item h6 {
  margin-bottom: 5px;
}
.fund-manager-filter-wrap .clear-all-btn {
  margin-top: 30px;
  display: none;
}

/*mob-sortby-box*/
.sorting-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 15;
  display: none;
}

.mob-sortby-box {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 16;
  transition: all 0.3s;
  display: none;
}

.mob-sortby-inner {
  background-color: #FFFFFF;
  border-radius: 10px 10px 0 0;
  padding: 17px 0 10px;
  width: 100%;
  position: relative;
}
.mob-sortby-inner .mob-sorby-close {
  font-size: 14px;
  line-height: 14px;
  color: #2C6EB5;
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
}
.mob-sortby-inner h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 20px;
}
.mob-sortby-inner ul li {
  padding-bottom: 13px;
}

.dropdown-content .error-msgs {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
}
.dropdown-content .error-msgs b {
  font-weight: 500;
  color: #333333;
}
.dropdown-content .error-msgs:before {
  content: "";
  font-family: "icomoon";
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  color: #005899;
}

.dropdown-content .error-msgs {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
}
.dropdown-content .error-msgs b {
  font-weight: 500;
  color: #333333;
}
.dropdown-content .error-msgs:before {
  content: "";
  font-family: "icomoon";
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  color: #005899;
}

.has-compare {
  opacity: 0.2;
  pointer-events: none;
  transition: all 0.4s;
}

.search-fund-modal .popover-modal-content {
  overflow: visible;
}
.search-fund-modal .popover-modal-body {
  background-color: #F6FCFF;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
}
.search-fund-modal .modal-body-inner3 {
  padding: 50px 25px 30px;
}
.search-fund-modal .popover-modal-close {
  right: 25px;
}

.modal-search-input {
  position: relative;
}
.modal-search-input .form-control {
  background-color: #FFFFFF;
  border: 1px solid rgba(122, 204, 255, 0.6);
  height: 60px;
  width: 100%;
  border-radius: 100px;
  outline: none;
  padding: 5px 25px 5px 52px;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #333333;
}
.modal-search-input .search-btn {
  position: absolute;
  color: #2C6EB5;
  top: 21px;
  z-index: 1;
  left: 22px;
  font-size: 19px;
  line-height: 19px;
}

.modal-search-list {
  margin-top: 25px;
}
.modal-search-list li {
  margin-top: 10px;
}
.modal-search-list li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #333333;
  display: block;
  padding: 10px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
.modal-search-list li a:hover {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
}

.modal-search-input .twitter-typeahead {
  display: block !important;
}
.modal-search-input .tt-suggestion.tt-selectable {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #858997;
  display: block;
  padding: 10px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
.modal-search-input .tt-suggestion.tt-selectable:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
}
.modal-search-input .tt-suggestion .tt-highlight {
  color: #333;
  font-weight: 500;
}
.modal-search-input .tt-menu {
  width: 100%;
  position: relative !important;
  margin-top: 15px;
}

.search-lists-box .header-search .twitter-typeahead {
  display: block !important;
}

.search-lists-box .header-search .form-control {
  color: #333;
  border: 1px solid #ACB4D1;
  width: 100%;
}

.search-lists-box .header-search {
  width: 245px;
}

.similar-mutual-funds-items {
  overflow: hidden;
  border: 1px solid rgba(122, 204, 255, 0.3);
}


.wishlist-body .similar-mutual-funds-items .img-name-wrap h6 {
  margin-bottom: 0;
}

.rating-wrap {
  display: flex;
  align-items: center;
}

.rating-wrap .rate {
  font-weight: bold;
  color: #F2C94C;
}

.return-info .select2-selection--single {
  background: #F9FBFF;
  border: 1px solid #CCD8EE;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  width: 120px;
  position: relative;
}

.card-div {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
  border-radius: 10px;
}

.search-lists-box .tt-menu .tt-suggestion .tt-highlight {
  color: #333;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .filter-box .filter-btn-wrap {
    margin: 0 -5px;
  }
  .filter-box .filter-btn-wrap .filter-item {
    padding: 0 5px;
  }

  .filter-search-wrap .search-box {
    margin-right: 10px;
    padding-right: 10px;
  }
  .filter-search-wrap .dropdown-button a {
    padding-right: 15px;
  }
  .filter-search-wrap .filter-box {
    width: calc(100% - 232px);
  }
}
@media (max-width: 991px) {
  .scroll-hide .mob-filter-container {
    z-index: 1 !important;
  }

  .mob-filter-container {
    background-color: #2C6EB5;
    padding: 14px 0;
    box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  }

  .show-compare {
    border-top: 2px solid #D7DF23;
    border-bottom: 2px solid #D7DF23;
  }

  .mobile-filter-sort {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .mobile-filter-sort a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    position: relative;
  }
  .mobile-filter-sort .icon {
    margin-right: 7px;
    color: #D7DF23;
    font-size: 12px;
  }

  .mob-filterBtn-wrap, .mob-sortBtn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  .filter-count {
    width: 15px;
    height: 15px;
    background-color: #D7DF23;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: #2C6EB5;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -10px;
  }
  .filter-count.show {
    display: inline-flex;
  }

  .mob-filterBtn-wrap {
    border-right: 1px solid rgba(122, 205, 0, 0.6);
    width: 50%;
  }

  .mob-sortBtn-wrap {
    width: 50%;
  }

  .mob-filter-box {
    position: fixed;
    top: 0;
    background-color: #2D6DB6;
    left: 0;
    z-index: 16;
    width: calc(100% + 1px);
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .mob-filter-box.open {
    transform: translateX(0);
  }

  .rating-checkbox-wrap {
    justify-content: flex-start;
  }

  .back-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .back-btn .icon {
    color: #D7DF23;
    font-size: 11px;
    margin-right: 8px;
  }

  .back-btn-wrap {
    padding: 10px;
  }

  .filter-wrap {
    display: flex;
    height: 100%;
    padding-bottom: 120px;
  }

  .filter-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #fff;
    display: block;
    position: relative;
    padding-right: 30px;
  }
  .filter-link:before {
    content: "";
    font-family: "icomoon";
    font-size: 8px;
    position: absolute;
    top: 1px;
    right: 0;
  }
  .filter-link span {
    position: relative;
    display: inline-block;
    padding-right: 5px;
  }
  .filter-link span:after {
    content: "";
    width: 7px;
    height: 7px;
    background: #D7DF23;
    position: relative;
    top: -8px;
    right: -2px;
    z-index: 0;
    border-radius: 50%;
    display: none;
  }
  .filter-link.hasFilter span:after {
    display: inline-block;
  }
  .filter-link.active {
    color: #D7DF23;
  }

  .filter-list-wrap {
    padding-left: 10px;
    padding-right: 15px;
    width: 250px;
  }
  .filter-list-wrap li {
    margin-bottom: 30px;
  }

  .filter-cards-wrap {
    background: #F6FCFF;
    box-shadow: inset 2px 2px 0px 1px #c7e5f8;
    border-top-left-radius: 10px;
    flex-grow: 1;
    flex-basis: 0;
    padding-bottom: 40px;
  }

  .filter-fotter {
    background: #FFFFFF;
    border: 1px solid rgba(122, 204, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
    border-radius: 10px 10px 0 0;
    padding: 19px 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .filter-fotter .apply-filter-btn {
    margin-right: 25px;
  }
  .filter-fotter .clear-all-btn {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C6EB5;
  }

  .filter-card-item {
    display: none;
  }
  .filter-card-item.active {
    display: block;
  }

  .dropdown-header {
    margin-bottom: 12px;
  }
  .dropdown-header p {
    font-size: 12px;
    line-height: 18px;
    margin-right: 15px;
  }

  .dropdown-card-inner {
    padding: 15px 17px;
  }

  .search-form .form-control {
    height: 27px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 18px;
    padding-left: 30px;
  }
  .search-form .search-btn {
    font-size: 11px;
  }

  .fund-category-box {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c6eb5;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .fund-category-box.active {
    transform: translateX(0);
  }

  .filter-section {
    padding: 14px 0px;
  }
  .filter-section .loader.js-loader {
    position: fixed;
    z-index: 16;
  }

  .loader {
    position: fixed;
    z-index: 16;
  }

  .filter-section.sebi-filters {
    margin-bottom: 5px;
  }

  .mob-filter-container .filterList-mCustomScrollbar {
    max-height: calc(100vh - 240px);
  }

  .search-wrap .search-form .form-control {
    height: 37px;
    padding-left: 35px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: rgba(51, 51, 51, 0.5);
  }
  .search-wrap .search-form .search-btn {
    font-size: 16px;
  }

  .mob-sortby-box {
    display: flex;
    transform: translateY(100%);
  }
  .mob-sortby-box.opened-sort {
    transform: translateY(0);
  }

  .tb-overflow-hidden {
    overflow: hidden;
  }

  .sorting-backdrop {
    display: block;
  }

  .mob-filter-fund-sortby {
    padding-bottom: 25px;
  }

  .js-sortfixContainer .mob-filter-container.affix {
    position: fixed;
    width: 100%;
    top: 118px;
    z-index: 9;
    margin: 0;
  }
  .js-sortfixContainer .mob-filter-container.affix:before {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #D7DF23;
    position: absolute;
    top: 2px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .similar-mutual-funds-items {
    margin: 0 5px 20px;
    border: none;
  }
  .search-lists-box .header-search .search-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 19px;
  }

  .search-lists-box {
    padding-top: 18px;
  }

  .search-lists-box .header-search {
    height: auto;
  }

  .wishlist-body .similar-mutual-funds-items .img-name-wrap h6 {
    padding-right: 8px;
  }

  .wishlist-body .search-lists-box {
    padding-top: 0;
  }

  .wishlist-body .custom-checkbox label {
    margin-right: 0;
  }

  .filter-list-wrap {
    min-width: 148px;
    width: 138px;
    padding-right: 12px;
  }

  .filter-link {
    padding-right: 16px;
  }

  .filter-section {
    margin-bottom: 20px;
  }

  .mob-filter-fund-sortby .mob-filter-container {
    margin: 0 -15px;
  }

  .js-sortfixContainer .mob-filter-container.affix {
    top: 108px;
  }

  .search-fund-modal {
    padding: 0;
  }
  .search-fund-modal .popover-modal-content {
    border-radius: 0;
  }
  .search-fund-modal .modal-body-inner3 {
    padding: 45px 20px 30px;
  }
  .search-fund-modal .popover-modal-close {
    right: 20px;
  }

  .modal-search-input .form-control {
    height: 40px;
    padding: 5px 24px;
    border-color: #ACB4D1;
    opacity: 1;
  }
  .modal-search-input .search-btn {
    width: 38px;
    height: 38px;
    background-color: #2C6EB5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: auto;
    right: 0;
    font-size: 15px;
    line-height: 15px;
    top: 1px;
  }
}
@media (max-width: 359px) {
  .dropdown-header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: self-end;
  }
  .dropdown-header p, .dropdown-header .select-all-btn {
    width: 100%;
    margin-right: 0;
  }
  .dropdown-header .clear-btn {
    margin-bottom: 5px;
  }
}
.blue-tab-box {
  background: linear-gradient(105.18deg, rgba(0, 88, 153, 0.2) 8.75%, rgba(78, 76, 221, 0.2) 49.88%, rgba(44, 110, 181, 0.2) 86.94%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  padding-top: 17px;
}
.blue-tab-box ul {
  margin: -8px -10px 0;
  display: flex;
  flex-wrap: wrap;
}
.blue-tab-box ul li {
  padding: 8px 10px 0;
}
.blue-tab-box ul li a {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  display: block;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 15px;
  position: relative;
}
.blue-tab-box ul li a:before {
  content: "";
  height: 3px;
  background-color: #D7DF23;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: none;
}
.blue-tab-box ul li.active a {
  color: #fff;
}
.blue-tab-box ul li.active a:before {
  display: block;
}
.blue-tab-box .blue-tab-slide {
  display: none;
}
.blue-tab-box .blue-tab-slide ul {
  margin-top: 0px;
}
.blue-tab-box .blue-tab-inner {
  position: relative;
  padding-right: 80px;
}
.blue-tab-box .tab-link-text {
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 7px;
}
.blue-tab-box .tab-link-text i {
  font-style: normal;
}

.swp-blue-tab li {
  margin-right: 80px;
}

.faq-detail-blue-tab li {
  margin-right: 20px;
}

.mob-blue-menu-scroll {
  max-height: 200px;
}

@media (max-width: 1199px) {
  .faq-detail-blue-tab ul {
    margin: -8px -8px 0;
  }
  .faq-detail-blue-tab ul li {
    margin-right: 0px;
    padding: 8px 8px 0;
  }
}
@media (max-width: 991px) {
  .mob-blue-menu {
    background-color: #2C6EB5;
    padding: 10px 0px;
  }
}
@media (max-width: 767px) {
  .mob-blue-menu .custom-dropdown.custom-dropdown-new .dropdown-button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.similar-mutual-funds {
  padding: 70px 0 80px;
  background-color: #E9F0F7;
}
.search-lists-box {
  margin-right: 33px;
}
.similar-mutual-funds-items .top-row {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}
.similar-mutual-funds-items .top-row .invest-more-wrap {
  width: 200px;
}
.similar-mutual-funds-items .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  padding: 10px 25px;
}
.similar-mutual-funds-items .bottom-row .tag-wrap {
  border-right: 0;
  margin-left: 70px;
}
.similar-mutual-funds-items .img-name-wrap {
  margin-bottom: 0;
}
.similar-mutual-funds-items .name-rating-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.similar-mutual-funds-items .info-rating-wrap {
  width: 375px;
}

.name-rating-wrap p {
  margin-left: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
}

.return-item {
  padding: 0 15px;
}
.return-item:not(:last-child) {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.returs-box {
  width: 390px;
}

.returs-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.returs-wrap .label-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.similar-mutual-funds-slider .card-div {
  border: 1px solid rgba(122, 204, 255, 0.3);
  overflow: hidden;
  margin-top: 20px;
}

.button-wrap {
  display: flex;
  align-items: center;
}

.watchlist-compare-btn {
  display: flex;
  align-items: center;
}

.add-watchlist-wrap {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
  margin-right: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.add-watchlist-wrap [class^=icon-] {
  font-size: 24px;
  margin-right: 10px;
}

.add-compare-wrap label {
  margin-right: 20px;
}

.invest-now-btn {
  padding: 12px 20px;
  margin-right: 15px;
}

.btn-view-all [class^=icon-] {
  transition: all 0.3s;
}
.btn-view-all.active [class^=icon-] {
  transform: rotate(-180deg);
}

.desktop-view-more {
  background-color: #F9FCFF;
  padding: 10px 25px;
  margin-bottom: 0;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
}
.desktop-view-more .returs-wrap {
  width: auto;
  margin-left: 55px;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  .similar-mutual-funds-items .invest-now-btn {
    padding: 9px 15px;
    margin-right: 10px;
  }
  .similar-mutual-funds-items .returs-wrap .label-text {
    font-size: 11px;
    line-height: 15px;
  }
  .similar-mutual-funds-items .name-rating-wrap p {
    font-size: 11px;
    line-height: 14px;
    margin-right: 6px;
  }
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 40px;
    width: 40px;
    height: 40px;
    padding: 3px;
    margin-right: 10px;
  }
  .similar-mutual-funds-items .bottom-row .tag-wrap {
    border-right: 0;
    margin-left: 47px;
  }
  .similar-mutual-funds-items .desktop-view-more .returs-wrap {
    margin-left: 34px;
  }
}
@media (max-width: 991px) {
  .rating-wrap p {
    font-size: 11px;
    line-height: 14px;
    margin-left: 0;
    margin-right: 10px;
  }
  .similar-mutual-funds {
    padding: 40px 0;
  }
  .search-lists-box {
    margin-right: 0px;
  }
  .similar-mutual-funds-items .top-row {
    padding: 15px 10px;
  }
  .similar-mutual-funds-items .bottom-row {
    padding: 10px 10px;
  }
  .similar-mutual-funds-items .bottom-row .tag-wrap {
    margin-left: 0;
  }
  .similar-mutual-funds-items .name-rating-wrap h6 {
    font-size: 13px;
    line-height: 17px;
  }
  .similar-mutual-funds-items .returs-wrap {
    margin: 0 -8px;
  }
  .similar-mutual-funds-items .return-item {
    padding: 0 8px;
  }
  .similar-mutual-funds-items .return-item h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .similar-mutual-funds-items .returs-box {
    margin-right: 10px;
  }
  .similar-mutual-funds-items .returs-box .label-text {
    font-size: 9px;
  }
  .similar-mutual-funds-items .name-rating-wrap p {
    font-size: 9px;
  }
  .similar-mutual-funds-items .invest-now-btn {
    padding: 6px 10px;
    margin-right: 5px;
    font-size: 9px;
  }
  .similar-mutual-funds-items .btn-view-all {
    font-size: 12px;
  }
  .similar-mutual-funds-items .add-watchlist-wrap {
    font-size: 10px;
    line-height: 15px;
    margin-right: 12px;
  }
  .similar-mutual-funds-items .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
  }
  .similar-mutual-funds-items .custom-checkbox label {
    font-size: 10px;
    line-height: 15px;
    margin-right: 12px;
  }
  .similar-mutual-funds-items .button-wrap .btn-view-all {
    font-size: 10px;
    line-height: 15px;
  }
  .similar-mutual-funds-items .desktop-view-more {
    padding: 10px;
  }
  .similar-mutual-funds-items .desktop-view-more .returs-wrap {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  h6 {
    font-size: 12px;
    line-height: 18px;
  }
  .wishlist-body .custom-checkbox label {
    margin-right: 0;
  }
  .similar-mutual-funds-items {
    margin: 0 5px 20px;
  }
  .similar-mutual-funds-items .img-name-wrap {
    margin-bottom: 5px;
  }
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    padding: 3px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #2C6EB5;
  }
  .similar-mutual-funds-items .top-row {
    padding: 15px 15px 0;
  }
  .similar-mutual-funds-items .top-row .info-rating-wrap {
    width: 100%;
  }
  .similar-mutual-funds-items .bottom-row {
    border-top: 0;
    background-color: transparent;
    padding: 0 15px 15px;
    display: block;
  }
  .similar-mutual-funds-items .rating-wrap {
    margin-bottom: 7px;
  }
  .similar-mutual-funds-items .tag-item {
    margin-bottom: 5px;
  }
  .similar-mutual-funds-items .return-info-more-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .similar-mutual-funds-items .return-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .similar-mutual-funds-items .rating-wrap p {
    margin-left: 0;
    margin-right: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .similar-mutual-funds-items .desktop-view-more {
    display: none;
  }
  .similar-mutual-funds-items .return-item .label-text {
    margin-bottom: 4px;
  }
  .similar-mutual-funds-items .return-item h6 {
    font-size: 14px;
    line-height: 21px;
  }

  .name-return-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-return-wrap .return-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .name-return-wrap .return-info .select2-selection--single {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    width: 100px;
    height: 22px;
    margin-bottom: 5px;
  }
  .name-return-wrap .return-info .select2-selection--single .select2-selection__rendered {
    color: #606060;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
  }
  .name-return-wrap .return-info .trend-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #333333;
    display: flex;
    align-items: center;
  }
  .name-return-wrap .return-info .trend-info .icon {
    font-size: 10px;
  }
  .name-return-wrap .img-name-wrap {
    max-width: calc(100% - 110px);
  }

  .tag-more-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .tag-more-wrap .tag-wrap {
    width: calc(100% - 60px);
  }
  .tag-more-wrap .btn-view-all span {
    line-height: 14px;
    font-size: 11px;
  }

  .similar-mutual-funds .view-all-mf {
    display: block;
    text-align: center;
    margin-top: 75px;
  }
  .similar-mutual-funds .slick-arrow {
    bottom: -57px;
  }
  .similar-mutual-funds .slick-dots {
    bottom: -35px;
  }

  .view-more-wrap {
    width: 100%;
    background-color: #F3F9FF;
    margin-bottom: 0;
  }
  .view-more-wrap .returs-wrap {
    width: 100%;
    flex-wrap: wrap;
    padding: 8px 15px;
  }
  .view-more-wrap .returs-wrap .return-item {
    width: 50%;
    margin: 5px 0;
    border: 0;
  }
  .view-more-wrap .watchlist-compare-btn {
    justify-content: center;
    padding: 13px 15px;
    border-top: 1px solid rgba(122, 204, 255, 0.3);
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
    width: 50%;
    font-size: 10px;
    line-height: 16px;
    margin-right: 0;
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
    line-height: 16px;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap {
    width: 50%;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
    margin-right: 0;
    font-size: 11px;
    line-height: 16px;
  }
  .view-more-wrap .invest-detail-wrap {
    padding: 12px 15px;
    text-align: center;
  }
  .view-more-wrap .invest-detail-wrap .invest-now-btn {
    padding: 6px 25px;
    min-width: 128px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .view-more-wrap .invest-detail-wrap .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }

  .slider-container {
    padding: 0;
  }
}
@media (max-width: 350px) {
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-size: 14px;
    line-height: 16px;
  }

  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
    font-size: 10px;
    line-height: 15px;
    margin-right: 8px;
    width: calc(50% - 8px);
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
    font-size: 10px;
    line-height: 15px;
  }
}
.name-rating-wrap .rating-wrap .rate {
  font-weight: bold;
  color: #F2C94C;
}
.wishlist-body .return-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}