<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.our-partners-clientlib'}"></sly>
</sly>

<div class="our-partners-box">
    <div class="container">
        <div class="top-heading">
            <h1>
                ${properties.heading}
            </h1>
            <p>
                ${properties.subHeading}
            </p>
        </div>
        <div class="our-partners-inner-content">
            <div class="our-partners-items js-our-partners-list">
                <sly data-sly-list.partners="${resource.children}">
                    <sly data-sly-test="${partners.name=='cardList'}">
                        <sly data-sly-list.partnersCard="${partners.children}">
                <div class="our-partners-list js-partners-list">
                    <div class="our-partners-card">
                        <div class="card-img">
                            <img src="${partnersCard.img}" alt="">
                        </div>
                        <div class="card-content">
                            <h5>
                                ${partnersCard.cardHeading}
                            </h5>
                            <p>
                                ${partnersCard.cardDescription @context='html'}
                            </p>
                        </div>
                        <div class="card-btn">
                            <a href="${partnersCard.cardLink}" target="${partnersCard.newtabCheck ? '_blank' : ''}" class="btn-view-all">
                                ${partnersCard.btnlinkText}
                                <span class="icon-arrow-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                </sly>
                </sly>
                </sly>
            </div>
        </div>
        <div class="view-more-btn text-center">
            <button class="btn-blue" id="jsOurPartnersLoadMore">
                ${properties.btnText1}
            </button>
            <button type="button" class="btn-blue d-none" id="jsOurPartnersLoadLess">
                ${properties.btnText2}
            </button>
        </div>
    </div>
</div>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.our-partners-clientlib'}"></sly>
</sly>