<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.know-more-box'}"></sly>
</sly>

<section class="know-more-box">
    <div class="container">
        <h2>${properties.heading}</h2>
        ${properties.descritption @context='html'}
        <div class="know-more-inner">
            <sly data-sly-test="${properties.innerHeading}">
                <h4>${properties.innerHeading}</h4>
            </sly>
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='knowMoreMultifield'}">
                    <sly data-sly-list.knowMoreRow="${item.children}">
                        <div class="know-more-row">
                            <sly data-sly-list="${knowMoreRow.children}">
                                <sly data-sly-test="${item.name=='knowMoreInnerMultifield'}">
                                    <sly data-sly-list.knowMoreRowInner="${item.children}">
                                        <h2 class="h2-tag ${knowMoreRowInner.color == 'grey' ? 'text-gray1':''}">
                                            ${knowMoreRowInner.rowHeading}</h2>
                                        <sly data-sly-test="${knowMoreRowInner.rowImage}">
                                            <img src="${knowMoreRowInner.rowImage}" alt="" class="emi-formula-img">
                                        </sly>
                                        ${knowMoreRowInner.rowDescription @context="html"}
                                    </sly>
                                </sly>
                            </sly>
                        </div>
                    </sly>
                </sly>
            </sly>

        </div>

    </div>
</section>