<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.corporate-fd-steps'}"></sly>
</sly>

<section class="why-monefy-box nps-steps-wrap corporate-fd-steps-wrap" data-sly-test="${properties.corporateHeading}">
    <div class="container">
        <div class="text-center heading-left-md">
            <h6 class="text-blue sub-head">${properties.corporateTitle}</h6>
            <h2>${properties.corporateHeading}</h2>
        </div>
        <div class="list-why-monefy">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'moneyfyList'}">
                    <sly data-sly-list.whyMoneyfylist="${listItem.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${whyMoneyfylist.cardImg}" alt="" />
                                </div>
                                <h5>${whyMoneyfylist.imageHead}</h5>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
        <div class="btn-wrap text-center">
            <sly data-sly-test="${properties.corporateBtnOne}">
                <a href="${properties.corporateBtnOneLink}" target="${properties.corporateBtnOneTarget ? '_blank':''}"
                    class="btn-blue radius100 invest-btn" data-fd-btn="redirectfdbtn">${properties.corporateBtnOne}</a>
            </sly>
            <sly data-sly-test="${properties.corporateBtnTwo}">
                <a href="${properties.corporateBtnTwoLink}" target="${properties.corporateBtnTwoTarget ? '_blank':''}"
                    class="btn-blue btn-blue-outline radius100" data-fd-btn="redirectfdbtn">${properties.corporateBtnTwo}</a>
            </sly>
        </div>
    </div>
    <img src="${properties.corporateBackground}" alt="" class="corporate-fd-bg">
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.corporate-fd-steps'}"></sly>
</sly>