
<!-- RD Calculator -->
<section class="calculator-box calculator-box-pd30">
    <div class="container">
      <h5 class="text-blue">Calculate returns on your Recurring Deposit</h5>
      <h1 data-title="compound-calc">Recurring Deposit Calculator</h1>

      <div class="calculator-inner">
        <div class="calculator-form-wrap">
          <div class="calculator-form">
            <div class="row">
              <div class="col-6">
                <div class="textbox-box">
                  <p class="label-name">Monthly contribution towards RD</p>
                  <div class="textbox-inner input-with-text prefix-text">
                    <span class="input-text rupee-icon">₹</span>
                    <input class="input-textbox only-numeric-input-text price-only-comma" type="text" value="50,000" id="rd_amount" data-type="monthlyContribution">
                  </div>
                  <span class="calculator-error-msgs" id="rdErrorMsg"></span>
                </div>
              </div>
              <div class="col-6">
                <div class="textbox-box">
                  <p class="label-name">I expect returns up to</p>
                  <div class="textbox-inner max-w120 input-with-text suffix-text">
                    <span class="input-text">%</span>
                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="expectedReturn">
                  </div>
                  <div class="custom-range-slider-wrap">
                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value="" data-min="1" data-max="15" data-from="6.5" id="rd_roi"/>
                    <div class="custom-range-label">
                      <span>1%</span>
                      <span>15%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="label-name">My tenure of investment</p>
                <div class="year-month-toggle">
                  <div class="year-month-button">
                    <a href="javascript:void(0);" class="yr-mth-btn active" id="yearsBtn"  data-yrMthFilter="year">Years</a>
                    <a href="javascript:void(0);" class="yr-mth-btn" id="monthsBtn"  data-yrMthFilter="month">Months</a>
                  </div>
                  <div class="year-wrap" data-data-yrMthCard="year">
                    <div class="textbox-box">
                      <div class="textbox-inner">
                        <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="investmentTenure">
                      </div>
                      <div class="custom-range-slider-wrap">
                        <input type="text" class="js-calculatorRangeSlider"  name="my_range" value="" data-min="1" data-max="10" data-step="1" data-from="3" id="rd_tenure_year"/>
                        <div class="custom-range-label">
                          <span>1 Year</span>
                          <span>10 Years</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="month-wrap d-none" data-data-yrMthCard="month">
                    <div class="textbox-box">
                      <div class="textbox-inner">
                        <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text"  data-type="investmentTenure">
                      </div>
                      <div class="custom-range-slider-wrap">
                        <input type="text" class="js-calculatorRangeSlider" name="my_range" value="" data-min="12" data-max="120" data-step="1" data-from="12"  id="rd_tenure_month"/>
                        <div class="custom-range-label">
                          <span>12 Months</span>
                          <span>120 Months</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="suggested-strategy-wrap">
          <h4>Investment Break up</h4>
          <div class="graph-investment-wrap strategy-graph-mb40">
            <div class="graph-wrap">
              <div class="strategy-graph-wrap">
                <div id="rd-calculator-strategy-graph" class="graph-chart-box"></div>
              </div>
            </div>
            <div class="investment-interest-wrap">
              <div class="text-money-wrap">
                <p class="bullet blue-bullet">Total investment</p>
                <h6 id="totalInvestment">₹18,00,000</h6>
              </div>
              <div class="plus-icon-wrap">
                <span class="icon-plus"></span>
              </div>
              <div class="text-money-wrap">
                <p class="bullet green-bullet">Interest earned</p>
                <h6 id="totalInterest" data-type="earningAmount">₹1,21,214.65</h6>
              </div>
            </div>
          </div>
          <div class="start-investing-wrap">
            <p id="starts-investing-text">If you invest ₹50,000 per year from today for 3 years you will get</p>
            <div class="text-btn-wrap">
              <div class="text-wrap">
                <p>Maturity Value</p>
                <h4 id="rdVal" data-taye="expectedMaturity" data-type="expectedMaturity">₹ 19,91,219.65</h4>
              </div>
            </div>
          </div>
          <!-- 28-3-2023 -->
          <div class="get-result-mgs">
            <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                data-target="#getResulton">
                Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
            </a>
        </div>
        <!-- 28-3-2023 -->
        </div>
      </div>
      <p class="calculator-info-text max-w1000">RDs or recurring deposits are an investment tool which allows investors to make regular monthly investments and save money for the long term. With a interest rate of 4% to 8% and can save with a flexible tenure of  6 months to 10 years.</p>
    </div>
  </section>
  <!-- Calculator -->