<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.live-webinar-box'}"></sly>
</sly>
<!-- live webinar-->
        <section class="live-webinar-box">
          <div class="container">
            <h2>${properties.mainHeading}</h2>
            <div class="live-webinar-inner">
              <div class="play-video-boxs">
                <div class="play-video-left">
                  <div class="play-vid-inner">
                    <span class="video-live">${properties.videoLabel}</span>
                    <!-- 21-9-2022 -->
                    <iframe src="${properties.videoLink}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <!-- 21-9-2022 -->
                  </div>                  
                </div>
                <div class="play-video-right">
                  <h6>${properties.videoRightTitle}</h6>
                  <h5>${properties.videoRightHeading}</h5>
                  <p>${properties.videoRightText}</p>
                  <div class="bottom-infos">
                    <div class="bottom-info-text">${properties.bottomText}</div>
                    <a href="javascript:void(0)" class="icon-share share-link" data-heading="${properties.videoRightHeading}" data-video="${properties.videoLink}" data-popovermodal="popover-modal" data-target="#share-modal"></a>
                  </div>
                </div>
            </div>            
            </div>
          </div>
        </section>
<!-- live webinar-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.live-webinar-box'}"></sly>
</sly>