<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.contact-us-banner-box'}"></sly>
</sly>

<section class="banner-box mutual-fund-banner contact-us-banner-box">
    <div class="banner-slider">
        <div class="banner-image">
            <div class="banner-caption">
                <div class="container">
                    <div class="banner-inner new-banner-inner">
                        <div class="banner-left" data-sly-test="${properties.contactUsheading || properties.contactUsDescription}">
                            <h1 data-sly-test="${properties.contactUsheading}">${properties.contactUsheading}</h1>
                            ${properties.contactUsDescription @context='html'}
                        </div>
                        <div class="banner-right" data-sly-test="${properties.contactUsImage}">
                            <img src="${properties.contactUsImage}" alt="" class="w-100">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.contact-us-banner-box'}"></sly>
</sly>