<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.why-choose-swp'}"></sly>
</sly>

<section class="choose-swp-box">
    <div class="container">
        <div class="head-wrap">
            <h2 data-whyChooseTitle="${properties.heading}">${properties.heading}</h2>
            ${properties.description @ context='html'}
        </div>
        <div class="benefit-feature-wrap">
            <div class="img-wrap">
                <img src="${properties.image}" alt="">
            </div>
            <div class="benefit-feature-content">
                <h5>${properties.headingFeature}</h5>
                            <ul class="dot-list">
                                ${properties.featuresBenefits @ context='unsafe'}
                            </ul>
                <div class="btn-wrap">
                    <a href="${properties.buttonLink}" target="${properties.newTab ? '_blank' : ''}"  data-log-popup="logpop"
                        class="btn-blue radius100" data-adobeAnalytics="swpWhyChoose" data-bannerCTA="${properties.buttonTitle}">${properties.buttonTitle}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.why-choose-swp'}"></sly>
</sly>