<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.credit-description'}"></sly>
</sly>

<section class="credit-card-description">
    <div class="container">
        <div class="card-description-inner">
            <sly data-sly-test="${properties.creditHeading}">
                <div class="left-col">
                    <h2>${properties.creditHeading}</h2>
                    <img src="${properties.creditImg}" alt="" class="d-lg-none">
                    ${properties.creditDescription @context='html'}
                    <ul class="banner-benefit-list">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='listDataMulti'}">
                                <sly data-sly-list.feat="${item.children}">
                                    <li>${feat.listData}</li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                    <div class="btn-wrap">
                        <sly data-sly-test="${properties.creditBtnOne}">
                            <a href="${properties.creditBtnOnelink}" target="${properties.creditBtnOneTarget ? '_blank':''}"
                                class="btn-blue btn-blue-outline radius100 apply-now-btn">${properties.creditBtnOne}</a>
                        </sly>
                        <sly data-sly-test="${properties.creditBtnTwo}">
                            <a  href="${properties.creditBtnTwolink}" target="${properties.creditBtnTwoTarget ? '_blank':''}"
                                class="btn-blue btn-blue-outline radius100 know-more-btn">${properties.creditBtnTwo}</a>
                        </sly>
                    </div>
                </div>

                <sly data-sly-test="${properties.creditImg}">
                    <div class="right-col d-none d-lg-block">
                        <div class="img-wrap">
                            <img src="${properties.creditImg}" alt="">
                            <img src="${properties.creditImg}" alt="" class="img-reflection">
                        </div>
                    </div>
                </sly>

        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.credit-description'}"></sly>
</sly>