<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.amc-fund-managers'}"></sly>
</sly>
<sly
  data-sly-use.amcManagerListing="${'com.tatacapital.moneyfy.core.models.AMCManagerListingModel' @ amcId=pageProperties.amcId}" />
<!-- amc box -->
<section class="fund-manager-box amc-box pd-t40i bg-wgite js-compareActive">
  <div class="container">
    <div class="top-headings">
      <div class="heading-with-view top-inners has-view-btn heading-left-md">
        <h2>${pageProperties.pageTitle} Managers</h2>
        <a href="/content/tata-capital-moneyfy/en/mutual-funds/fund-managers.html" class="btn-view-all ${amcManagerListing.getAmcManagerList.size == 0 ? 'd-none' : ''}"
          data-mfamcviewall="mfAmcViewAll">View all <span class="icon-arrow-right"></span></a>
      </div>
    </div>
  </div>

  <div class="container fund-manager amc-detail-fund-manager">
    <div class="inner-fund-manager slider-dots slider-arrows flex-slider slider-30" id="fundManagerSlider">
      <sly data-sly-list.manager="${amcManagerListing.getAmcManagerList}" data-sly-test="${amcManagerListing.getAmcManagerList.size > 0}">
        <sly data-sly-test="${managerList.index <= 9}">
          <a href="${manager.pagePath}.html" class="fund-manager-rows sizeCheck" data-fundmanagercard="fundManagerCard">
            <div class="fund-manager-col">
              <div class="card-div fund-manager-card">
                <div class="fund-manager-top">
                  <h5 class="text-blue" data-fundmanagername="${manager.fundManagerName}">${manager.fundManagerName}
                  </h5>
                </div>
                <div class="fund-manager-bottom">
                  <div class="fund-ul">
                    <div class="fund-li">
                      <p>No. of funds</p>
                      <h6>${manager.numberOfFunds}</h6>
                    </div>
                    <div class="fund-li">
                      <p>Total Fund Size</p>
                      <h6>₹${manager.fundSize} Cr</h6>
                    </div>
                    <div class="fund-li">
                      <p>Highest Returns</p>
                      <h6>${manager.highestReturns}%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </sly>
      </sly>
      <sly data-sly-test="${amcManagerListing.getAmcManagerList.size == 0}">
      <p>No fund managers found under this AMC.</p>
      </sly>
    </div>
  </div>

</section>
<!--amc box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.amc-fund-managers'}"></sly>
</sly>  