<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.gold-and-insurance-banner'}"></sly>
</sly>

<!--  banner box  -->
<section class="banner-box mutual-fund-banner digital-gold-banner-box"
  data-sly-test="${properties.bannerType == 'goldBanner'}">
  <div class="banner-slider">
    <div class="banner-image">
      <div class="banner-caption">
        <div class="container">
          <div class="banner-inner new-banner-inner">
            <div class="banner-left">
              <h6 class="text-blue d-md-none">${properties.goldHeading}</h6>
              <h1 data-bannerTitle="${properties.goldTitle}">${properties.goldTitle}</h1>
              <h6 class="text-blue mg-b10i d-none d-md-block">${properties.goldHeading}</h6>
              ${properties.goldDescription @context='html'}
              <sly data-sly-test="${!properties.checkpopup}">
                <div class="btn-wrap">
                  <a href="${properties.goldLink}" data-adobeAnalytics="true" target="${properties.goldNewTab ? '_blank' : ''}"
                    class="btn-blue radius100" data-bannerCTA="${properties.goldButtonText}">${properties.goldButtonText}</a>
                </div>
              </sly>

              <sly data-sly-test="${properties.checkpopup}">
                <div class="btn-wrap">
                  <a href="${properties.goldLink}" data-adobeAnalytics="true" data-log-popup="logpop"
                    target="${properties.goldNewTab ? '_blank' : ''}"
                    class="btn-blue radius100" data-bannerCTA="${properties.goldButtonText}">${properties.goldButtonText}</a>
                </div>
              </sly>

            </div>
            <div class="banner-right">
              <img src="${properties.goldImage}" alt="" class="w-100">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner box-->


<sly data-sly-test="${properties.bannerType == 'insuranceBanner'}">
  <!--  banner box  -->
  <section class="banner-box mutual-fund-banner insurance-banner-box">
    <div class="banner-slider">
      <div class="banner-image">
        <div class="banner-caption">
          <div class="container">
            <div class="banner-inner new-banner-inner">
              <div class="banner-left">
                <h1 data-insuranceBannerTitle="${properties.insuranceTitle}">${properties.insuranceTitle}</h1>
                ${properties.insuranceDescription @context='html'}
                <sly data-sly-test="${properties.insuranceButtonText}">
                  <div class="btn-wrap">
                    <a href="${properties.insuranceLink}" data-adobeAnalytics="insuranceBanner" target="${properties.insuranceNewTab ? '_blank' : ''}"
                      class="btn-blue radius100 jsOpenModal" data-popovermodal="popover-modal"
                      data-target="#insurepop">${properties.insuranceButtonText}</a>
                  </div>
                </sly>
              </div>
              <div class="banner-right">
                <img src="${properties.insuranceImage}" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner box-->
  <!-- benefits-modal -->
  <!-- <div class="popover-modal fade contribute-modal" id="benefits-modal">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">            
        <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i class="icon-close"></i></button>
        <div class="modal-body-inner3">
          <div class="terms-text text-center benefits-modal">
              ${properties.popContent @context='html'}
             <sly data-sly-test="${properties.popBtn}">
              <div class="mg-t20">
                  <a href="${properties.popBtnLink}"
                      target="${properties.popBtnTarget ? '_blank':''}"
                      class="btn-blue radius100">${properties.popBtn}</a>

              </div>   
             </sly>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <!-- end benefits modal -->
</sly>

<!-- benefits-modal -->
<div class="popover-modal fade contribute-modal" id="insurepop">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
            class="icon-close"></i></button>
        <div class="modal-body-inner3">
          <div class="terms-text text-center benefits-modal">
            ${properties.popContent @context='html'}
            <sly data-sly-test="${properties.popBtn}">
              <div class="mg-t20">
                <a href="${properties.popBtnLink}" target="${properties.popBtnTarget ? '_blank':''}"
                  class="btn-blue radius100">${properties.popBtn}</a>

              </div>
            </sly>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end benefits modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.gold-and-insurance-banner'}"></sly>
</sly>