<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.about-our-leadership-box'}"></sly>
</sly>

<section class="our-leadership-box">
    <div class="container">
        <div class="heading-with-view heading-lg-left">
            <h2>${properties.heading}</h2>
            <sly data-sly-test="${properties.button}">
                <a href="${properties.buttonLink}" target="${properties.buttonTarget ? '_blank':''}"
                    class="btn-view-all">${properties.button}<span class="icon-arrow-right"></span></a>
            </sly>
        </div>

        <div class="leadership-slider slider-dots slider-arrows flex-slider" id="leadershipSlider">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='leadershipItemMultifield'}">
                    <sly data-sly-list.leadershipItem="${item.children}">
                        <div class="slider-item">
                            <div class="leadership-item">
                                <div class="leader-img-with-info">
                                    <img src="${leadershipItem.leadershipImage}" alt="" class="w-100">
                                    <div class="leader-info">
                                        <h5>${leadershipItem.leadershipHeading}</h5>
                                        ${leadershipItem.leadershipDescription @context='html'}
                                        <img src="${leadershipItem.leadershipLogoImage}" alt="">
                                    </div>
                                </div>
                                <div class="hover-wrap" data-sly-test="${leadershipItem.leadershipButton}">
                                    <a href="${leadershipItem.leadershipButtonLink}"
                                        target="${leadershipItem.leadershipButtonTarget ? '_blank':''}">
                                        <h5>${leadershipItem.leadershipHeading}</h5>
                                        <span
                                            class="btn btn-blue btn-yellow radius100">${leadershipItem.leadershipButton}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.about-our-leadership-box'}"></sly>
</sly>