<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.difference-between-sip-stp-swp'}"></sly>
</sly>
<!-- find difference -->
<section class="find-difference-box">
    <div class="container">
        ${properties.headingDescription @ context='html'}
    </div>
    <div class="container why-item-container">
        <div class="why-item-wraps">
            <div class="item-wrap">
                <div class="select-wrap">
                </div>
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'featuresList'}">
                        <sly data-sly-list.featureslistItem="${listItem.children}">

                            <div class="feature-item ${featureslistItem.selectHeight}">
                                <h6>${featureslistItem.heading}</h6>
                            </div>
                        </sly>
                    </sly>
                </sly>
            </div>
            <div class="item-wrap feature-wrap feature-wrap-1">
                <div class="select-wrap">
                    <h4>${properties.headingSip}</h4>
                </div>
                <div class="feature-item-wrap">
                    <sly data-sly-list.listItem="${resource.children}">
                        <sly data-sly-test="${listItem.name == 'featuresofSip'}">
                            <sly data-sly-list.siplistItem="${listItem.children}">
                                <div class="feature-item ${siplistItem.selectHeight}" >
                                    <h6>${siplistItem.headingSip}</h6>
                                    ${siplistItem.featuresofSipDescription @ context='html'}
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
            <div class="item-wrap feature-wrap feature-wrap-2">
                <div class="select-wrap">
                    <h4>${properties.headingStp}</h4>
                </div>
                <div class="feature-item-wrap">
                    <sly data-sly-list.listItem="${resource.children}">
                        <sly data-sly-test="${listItem.name == 'featuresofStp'}">
                            <sly data-sly-list.stplistItem="${listItem.children}">
                                <div class="feature-item ${stplistItem.selectHeight}">
                                    <h6>${stplistItem.headingStp}</h6>
                                    ${stplistItem.featuresofStpDescription @ context='html'}
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
            <div class="item-wrap feature-wrap feature-wrap-3">
                <div class="select-wrap">
                    <h4>${properties.headingSwp}</h4>
                </div>
                <div class="feature-item-wrap">
                    <sly data-sly-list.listItem="${resource.children}">
                        <sly data-sly-test="${listItem.name == 'featuresofSwp'}">
                            <sly data-sly-list.swplistItem="${listItem.children}">
                                <div class="feature-item ${swplistItem.selectHeight}">
                                    <h6>${swplistItem.headingSwp}</h6>
                                    ${swplistItem.featuresofSwpDescription @ context='html'}
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- find difference -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.difference-between-sip-stp-swp'}"></sly>
</sly>