<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.corporate-fd-banner-box'}"></sly>
</sly>

<section class="banner-box mutual-fund-banner corporate-fd-banner-box">
    <div class="banner-slider">
        <div class="banner-image">
            <div class="banner-caption">
                <div class="container">
                    <div class="banner-inner new-banner-inner">
                        <div class="banner-left">
                            <h6 class="text-blue mg-b10i">${properties.bannerTitle}</h6>
                            <h1>${properties.bannerHeading}</h1>
                            ${properties.bannerDescription @context='html'}
                            <sly data-sly-test="${properties.bannerBtn}">
                                <div class="btn-wrap">
                                    <a href="${properties.bannerBtnLink}" data-target="co-fd-redirect" target="${properties.bannerBtnTarget}"
                                        class="btn-blue radius100">${properties.bannerBtn}</a>
                                </div>
                            </sly>
                        </div>
                        <sly data-sly-test="${properties.bannerImg}">
                            <div class="banner-right">
                                <img src="${properties.bannerImg}" alt="" class="w-100">
                            </div>
                        </sly>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.corporate-fd-banner-box'}"></sly>
</sly>