<!--  banner box  -->
<section class="banner-box banner-heightinner">
    <div>
        <div class="banner-slider slider-arrows slider-dots " id="jsBannerSlider">
            <sly data-sly-list.data="${resource.children}">
                <sly data-sly-test="${data.name == 'bannerList'}">
                    <sly data-sly-list.bannerListItems="${data.children}">

                        <div class="banner-image ${bannerListItems.background == 'blue' ? 'banner-blue' : ''}">
                            <div class="banner-image-outer" data-imgouter="onlyimg">
                                
                                <a href="${bannerListItems.bannerLink}" target="${bannerListItems.bannerCheck ? '_blank' : ''}" data-sly-test="${bannerListItems.click == 'True'}">
                                    <picture>                            
                                        <source media="(min-width: 1441px)" srcset="${bannerListItems.desktopImage}">
                                        <source media="(min-width: 1200px)" srcset="${bannerListItems.laptopImage}">
                                        <source media="(min-width: 768px)" srcset="${bannerListItems.tabletImage}">
                                        <source media="(max-width: 767px)" srcset="${bannerListItems.mobileImage}">

                                        <img src="${bannerListItems.bannerImg}" alt="">
                                      </picture>
                                  </a>
                                
                                <picture data-sly-test="${bannerListItems.click == 'False'}">
                                    <source media="(min-width: 1441px)" srcset="${bannerListItems.desktopImage}">
                                    <source media="(min-width: 1200px)" srcset="${bannerListItems.laptopImage}">
                                    <source media="(min-width: 768px)" srcset="${bannerListItems.tabletImage}">
                                    <source media="(max-width: 767px)" srcset="${bannerListItems.mobileImage}">

                                    <img src="${bannerListItems.bannerImg}" alt="">
                                </picture>
                            </div>
                            <div class="banner-caption" data-sly-test="${bannerListItems.click == 'False'}">
                                <div class="container">
                                    <div class="banner-left">
                                        ${bannerListItems.description @ context='html'}
                                        <sly data-sly-test="${!bannerListItems.buttonOnePopCheck || !bannerListItems.buttonTwoPopCheck}">
                                            <div class="tab-left-btn" data-leftcon="leftContent">
                                                <a href='${bannerListItems.btn1Link}' target="${bannerListItems.checkOne ? '_blank' : ''}"
                                                    data-sly-test="${bannerListItems.buttonOne}" type="button"
                                                    class="btn-blue radius100">${bannerListItems.buttonOne}
                                                </a>
                                                <a href='${bannerListItems.btn2Link}' target="${bannerListItems.checkTwo ? '_blank' : ''}"
                                                    data-sly-test="${bannerListItems.buttonTwo}" type="button"
                                                    class="btn-blue btn-blue-outline radius100">${bannerListItems.buttonTwo}
                                                </a>
                                            </div>
                                        </sly>
                                        <sly data-sly-test="${bannerListItems.buttonOnePopCheck || bannerListItems.buttonTwoPopCheck}">
                                            <div class="tab-left-btn mg-t40" data-leftcon="popupButton">
                                                    <a href='javascript:void(0)' target="${bannerListItems.checkOne ? '_blank' : ''}"
                                                        data-sly-test="${bannerListItems.buttonOne}" class="btn-blue radius100 jsOpenModal" data-target="#openAccount-modal"
                                                        data-popovermodal="popover-modal">${bannerListItems.buttonOne}
                                                    </a>
                            
                                                    <a href='javascript:void(0)' target="${bannerListItems.checkTwo ? '_blank' : ''}"
                                                        data-sly-test="${bannerListItems.buttonTwo}" class="btn-blue btn-blue-outline radius100 jsOpenModal"
                                                        data-target="#contribute-modal" data-popovermodal="popover-modal">${bannerListItems.buttonTwo}
                                                    </a>
                                                     
                                            </div>
                                        </sly>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<!-- banner box-->
