.fund-manager-box {
  background-color: #E9F0F7;
  padding: 65px 0 75px;
}
.fund-manager-box .top-inners {
  text-align: center;
}
.fund-manager-box h2 {
  margin-bottom: 13px;
}
.fund-manager-box .heading-with-view {
  margin-bottom: 12px;
}

.fund-manager-rows .fund-manager-col {
  height: 100%;
  padding: 25px 10px 35px;
}
.fund-manager-rows .fund-manager-col .fund-manager-card {
  height: 100%;
}

.fund-manager-card .fund-manager-top {
  padding: 25px 30px;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}
.fund-manager-card .fund-manager-top h5 {
  font-size: 18px;
  line-height: 22px;
  color: #2C6EB5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fund-manager-card .fund-manager-bottom {
  padding: 14px 30px 22px;
}
.fund-manager-card .fund-ul {
  display: flex;
  flex-wrap: wrap;
  margin: -17px -10px 0;
}
.fund-manager-card .fund-ul .fund-li {
  margin-top: 17px;
  width: 50%;
  padding: 0 10px;
}
.fund-manager-card p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.amc-box .amc-text-logo {
  position: relative;
  padding-left: 43px;
  min-height: 35px;
  display: flex;
  align-items: center;
}
.amc-box .amc-text-logo .amc-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #CCD8EE;
  position: absolute;
  left: 0px;
  top: 0px;
}
.amc-box .amc-text-logo .amc-logo img {
  margin: auto;
}
.amc-box .fund-manager-card .fund-manager-top {
  padding-bottom: 20px;
}
.amc-box .fund-manager-card .fund-manager-top h5 {
  color: #333;
}
.bg-wgite {
    background-color: #fff !important;
}
.pd-t0i {
    padding-top: 0px !important;
}
.flex-slider .slick-track {
    display: flex;
}
.flex-slider .slick-track .slick-slide {
    height: auto;
    min-height: inherit;
}
.card-div {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
    border-radius: 10px;
}
.mob-card-show {
    display: none;
    margin-top: 15px;
}
.tab-view-all {
    display: none;
}
.heading-with-view .btn-view-all {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 991px) {
  .fund-manager-box {
    padding: 45px 0;
  }
    .tab-view-all {
    display: block;
    padding-top: 30px;
    text-align: center;
}
}
@media (max-width: 767px) {
  .fund-manager-box .container.fund-manager {
    padding: 0px;
  }
  .fund-manager-box h2 {
    margin-bottom: 6px;
  }
  .fund-manager-box .top-headings p {
    font-size: 14px;
    line-height: 22px;
  }

  .fund-manager-rows .fund-manager-col {
    padding-left: 4px;
    padding-right: 4px;
    height: auto;
  }

  .fund-manager-card {
    border: 1px solid rgba(122, 204, 255, 0.3);
  }
  .fund-manager-card .fund-ul {
    margin-left: -5px;
    margin-right: -5px;
  }
  .fund-manager-card .fund-ul .fund-li {
    width: 33.33%;
    padding: 0 5px;
  }
  .fund-manager-card .fund-manager-top {
    padding: 15px 17px;
  }
  .fund-manager-card .fund-manager-top h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .fund-manager-card .fund-manager-bottom {
    padding: 17px 17px;
  }
  .fund-manager-card p {
    font-size: 11px;
    line-height: 12px;
    color: #666666;
    margin-bottom: 4px;
  }
  .fund-manager-card h6 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }

  .amc-box .fund-manager-card .fund-manager-top {
    padding-bottom: 15px;
  }
h2 {
    font-size: 24px;
    line-height: 29px;
}
.mob-card-show {
    display: block;
}
}
@media (max-width: 374px) {
  .fund-manager-card {
    width: 320px;
  }
}
@media (max-width: 359px) {
  .fund-manager-card {
    width: 295px;
  }
}

/*# sourceMappingURL=style.css.map */

