.popover-modals-open {
    overflow: hidden;
  }
  .popover-modals-open .popover-modals {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .popover-modals-close {
    background: transparent;
    border: none;
    color: #2C6EB5;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    z-index: 2;
  }
  .popover-modals-close:focus {
    outline: none;
  }
  
  .popover-modals {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  .popover-modals .popover-modals-dialog {
    position: relative;
    margin: 15px auto;
    pointer-events: none;
    max-width: 720px;
  }
  .popover-modals.fade .popover-modals-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .popover-modals.popover-show.fade {
    opacity: 1;
    transition: opacity 0.15s linear;
  }
  .popover-modals.popover-show .popover-modals-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .popover-modals .popover-modals-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 30px);
  }
  .popover-modals .popover-modals-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    outline: 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  .popover-modals.app-download-modal .popover-modals-content {
    background-color: transparent;
  }
  .popover-modals.app-download-modal .app-bg {
    background-color: #fff;
    border-radius: 10px;
  }
