@charset "UTF-8";
.footer-links li {
  line-height: 16px;
}
.footer-links li a {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: rgba(239, 239, 239, 0.6);
  display: inline-block;
}
.footer-links li a:hover {
  color: #fff;
}
.footer-links.footer-link-bold {
  padding-top: 2px;
}
.footer-links.footer-link-bold li {
  margin-bottom: 20px;
}
.footer-links.footer-link-bold li a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.footer-links.footer-link-bold li a:hover {
  opacity: 0.6;
}

.scroll-to-top {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #D7DF23;
  position: absolute;
  right: 45px;
  z-index: 9;
  top: -21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.list-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;
}
.list-socials li {
  padding: 0 8px;
}
.list-socials li a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #fff;
}

.footer {
  background-color: #1C1C1C;
  position: relative;
}
.footer .footer-top-inner {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-top-left {
  width: 22%;
  padding-right: 30px;
  padding-bottom: 60px;
}
.footer .footer-right {
  width: 78%;
}

.top-footer {
  padding: 42px 0 25px;
}
.top-footer .container {
  position: relative;
}

.bottom-footer {
  padding: 40px 0px;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
}
.bottom-footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.bottom-footer .footer-links li {
  padding: 0 10px;
}
.bottom-footer p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: rgba(239, 239, 239, 0.6);
}
.bottom-footer .flex-row {
  justify-content: space-between;
}
.bottom-footer .flex-row .flex-row-col {
  width: auto;
}

.footer-top-left .footer-logo {
  display: inline-block;
  margin-bottom: 32px;
}
.footer-top-left .list-footer-details {
  padding-bottom: 8px;
}
.footer-top-left .list-footer-details li {
  font-size: 12px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-bottom: 15px;
  padding-left: 33px;
  min-height: 22px;
}
.footer-top-left .list-footer-details li a {
  color: rgba(255, 255, 255, 0.8);
}
.footer-top-left .list-footer-details li a:hover {
  color: #fff;
}
.footer-top-left .list-footer-details li .footer-icon {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
}

.app-store-link {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.app-store-link a {
  margin: 0 8px;
}
.app-store-link.dsk-foot-social {
  position: absolute;
  left: 15px;
  bottom: 0px;
}

.footer-right-menu {
  padding-top: 10px;
}
.footer-right-menu .footer-heading-top {
  padding-bottom: 12px;
}
.footer-right-menu .footer-heading-top h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.footer-right-menu .footer-heading-bottom .footer-links li {
  margin-bottom: 14px;
}

.footer-mob-link {
  display: none;
}

@media (max-width: 1199px) {
  .footer .footer-top-left {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 20px;
  }
  .footer .footer-right {
    width: 100%;
  }

  .bottom-footer .flex-row .flex-row-col {
    width: 33.33%;
  }
}
@media (max-width: 991px) {
  .footer .footer-right .flex-row.flex-row6 .flex-row-col {
    width: calc(100% / 3);
  }
}
@media (max-width: 767px) {
  .top-footer {
    padding-bottom: 0px;
    padding-top: 22px;
  }

  .footer-mob-link {
    padding: 23px 0 10px;
    display: block;
    border-bottom: 1px solid #525050;
  }
  .footer-mob-link .footer-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
    padding-top: 0px;
  }
  .footer-mob-link .footer-links li {
    margin: 0px 0 10px;
    padding: 0 25px;
    width: 30%;
  }
  .footer-mob-link .footer-links li a {
    font-size: 12px;
    line-height: 18px;
  }

  .footer .footer-top-inner {
    display: block;
  }
  .footer .footer-top-left {
    position: relative;
    padding-bottom: 27px;
  }
  .footer .footer-top-left:before {
    content: "";
    border-bottom: 1px solid #525050;
    position: absolute;
    left: -15px;
    right: -15px;
    bottom: 0px;
  }
  .footer .footer-right .flex-row.flex-row4 .flex-row-col, .footer .footer-right .flex-row.flex-row5 .flex-row-col, .footer .footer-right .flex-row.flex-row6 .flex-row-col {
    width: 100%;
  }

  .footer-right-menu {
    padding-top: 0px;
    position: relative;
  }
  .footer-right-menu:before {
    content: "";
    border-bottom: 1px solid #525050;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .footer-right-menu .footer-heading-top {
    padding-bottom: 0px;
  }
  .footer-right-menu .footer-heading-top h5 {
    font-size: 12px;
    line-height: 18px;
    padding: 15px 25px 15px 0;
    position: relative;
  }
  .footer-right-menu .footer-heading-top h5:before {
    content: "";
    font-family: "icomoon";
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-right-menu .footer-heading-top h5.active:before {
    content: "";
  }
  .footer-right-menu .footer-heading-bottom {
    display: none;
    position: relative;
  }
  .footer-right-menu .footer-heading-bottom:before {
    content: "";
    background-color: #3d3d3d;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  .footer-right-menu .footer-heading-bottom .footer-links {
    border-top: 1px solid #525050;
  }
  .footer-right-menu .footer-heading-bottom .footer-links li {
    margin-bottom: 0px;
    position: relative;
  }
  .footer-right-menu .footer-heading-bottom .footer-links li:before {
    content: "";
    border-bottom: 1px solid #525050;
    position: absolute;
    left: 15px;
    right: 0px;
    bottom: 0px;
  }
  .footer-right-menu .footer-heading-bottom .footer-links li a {
    padding: 15px 0px 15px 15px;
    display: block;
  }

  .footer-links li a {
    font-size: 11px;
    color: rgba(239, 239, 239, 0.8);
  }

  .app-store-link {
    margin-bottom: 25px;
  }

  .list-socials {
    margin: 0 -14px;
    justify-content: flex-start;
  }
  .list-socials li {
    padding: 0 14px;
  }
  .list-socials li a {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .bottom-footer {
    padding: 20px 0px;
    border-top: none;
  }
  .bottom-footer .flex-row.flex-row3 .flex-row-col {
    width: 100%;
  }
  .bottom-footer .footer-links {
    justify-content: center;
    margin-bottom: 20px;
  }
  .bottom-footer p {
    text-align: center;
    font-size: 11px;
    color: rgba(239, 239, 239, 0.8);
  }

  .scroll-to-top {
    width: 30px;
    height: 30px;
    top: -15px;
    right: 15px;
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .footer .footer-right {
    width: auto;
    margin: 0 -15px;
  }

  .footer-right-menu .footer-heading-top {
    padding: 0 15px;
  }
}
@media (max-width: 374px) {
  .footer-mob-link .footer-links li {
    width: auto;
  }
}
@media (max-width: 359px) {
  .bottom-footer .footer-links {
    margin-left: -6px;
    margin-right: -6px;
  }
  .bottom-footer .footer-links li {
    padding: 0 6px;
  }
}
@media (min-width: 768px) {
  .footer-right-menu .footer-heading-top h5 {
    pointer-events: none;
  }
  .footer-right-menu .footer-heading-bottom {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
