.text-center {
    text-align: center !important;
}
.modal-backdrop {
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
}

.make-right h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}
/*---------*/
.make-box {
  padding: 72px 0 0px;
  background: url("/content/dam/tata-capital-moneyfy/home-page/make-left-bg.png") no-repeat top left;
}
.make-box.no-background {
  background: none;
}
.make-box .make-top {
  max-width: 660px;
  margin: auto;
  width: 100%;
}
.make-box.smallcase-make-box {
  padding-top: 60px;
  padding-bottom: 10px;
}

.make-inner {
  display: flex;
  flex-wrap: wrap;
}
.make-inner .make-left {
  width: calc(100% - 508px);
}
.make-inner .make-right {
  width: 508px;
  padding-top: 55px;
}
.make-inner .make-right h5 {
  margin-bottom: 21px;
}
.make-inner .make-right .make-start-text h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 14px;
}
.make-inner .make-right-slider {
  padding-bottom: 15px;
}
.make-inner .make-ul .make-li {
  position: relative;
  padding-left: 24px;
}


.make-inner .make-ul .make-li p {  
  margin-bottom: 11px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}


.make-inner .make-ul .make-li p:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #ACB4D1;
  border-radius: 50%;
  left: -21px;
  top: 10px;
}
.make-inner .make-ul .make-li svg {
  position: absolute;
  left: -3px;
  top: 4px;
  transform: rotateY(-180deg);
}
.make-inner .make-ul .make-li svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #2C6EB5;
  stroke-width: 0px;
}
.make-inner .make-ul .make-li svg .bar {
  stroke: #fff;
  fill: #fff;
}

.make-inner .make-ul .make-li.active p {
  font-weight: 500;
}

.make-inner .make-ul .make-li.active p::before {
  background-color: #2c6eb5;
}
.make-inner .make-ul .make-li.active svg circle {
  stroke-width: 2px;
}

.make-left-slider {
  background: url("/content/dam/tata-capital-moneyfy/home-page/make-bg.png") no-repeat center center;
  background-size: contain;
  width: 518px;
  height: 607px;
  float: right;
}
.make-left-slider .make-left-ul .make-left-li img {
  margin: auto;
}
.make-left-slider .make-mobile-img {
  padding-top: 40px;
}
.make-left-slider .make-mobile-img img {
  max-width: 100%;
  width: auto;
}

.get-app-link {
  position: relative;
  margin-bottom: 40px;
}
.get-app-link .text-code {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.get-app-link .get-links {
  min-width: 220px;
  position: absolute;
  right: 4px;
  top: 5px;
}
.get-app-link .form-control-plain {
  height: 58px;
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  padding: 18px 230px 18px 56px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 23px rgba(113, 144, 165, 0.2);
  border-radius: 38px;
  border: 1px solid rgba(44, 110, 181, 0.3);
}
.get-app-link .form-control-plain:focus {
  outline: none;
}

@media (max-width: 1199px) {
  .make-inner .make-left {
    width: calc(100% - 400px);
  }
  .make-inner .make-right {
    width: 400px;
  }

  .get-app-link .get-links {
    min-width: inherit;
  }
  .get-app-link .form-control-plain {
    padding-right: 210px;
  }
}
@media (max-width: 991px) {
  .make-box {
    padding-top: 45px;
  }
  .make-box .app-store-link {
    display: flex;
    justify-content: center;
  }

  .make-inner .make-left {
    width: 100%;
  }
  .make-inner .make-right {
    width: 100%;
    padding-top: 0px;
    margin-top: -50px;
  }

  .make-left-slider {
    float: none;
    margin: auto;
  }
  .make-box.smallcase-make-box {
    padding-bottom: 60px;
}
.make-box.smallcase-make-box .make-left-slider .make-mobile-img {
  padding-top: 60px;
}
.make-box.smallcase-make-box .make-left-slider .make-mobile-img img {
  width: 390px;
}
}
@media (max-width: 767px) {
  .get-app-link {
    margin-bottom: 26px;
  }
  .get-app-link .form-control-plain {
    height: 50px;
    padding: 15px 180px 15px 35px;
    font-size: 12px;
  }
  .get-app-link .text-code {
    left: 10px;
    font-size: 12px;
    line-height: 10px;
  }

  .make-box {
    text-align: center;
    background: none;
  }
  .make-box .app-store-link {
    margin-bottom: 0px;
  }
  .make-box.smallcase-make-box {
    padding-top: 40px;
    padding-bottom: 50px;
 }
  .make-left-slider {
    width: auto;
    height: auto;
    background-image: none;
    margin-top: -25px;
  }
  .make-left-slider .make-mobile-img {
    width: 320px;
    height: 320px;
    background-image: url("/content/dam/tata-capital-moneyfy/home-page/make-bg.png");
    background-size: cover;
    margin: auto;
  }
  .make-left-slider .make-mobile-img img {
    width: 148px;
  }

  .make-inner {
    margin-top: 20px;
  }
  .make-inner .make-left h5 {
    max-width: 240px;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  .make-inner .make-right {
    margin-top: -10px;
  }
  .make-inner .make-right h5 {
    font-size: 18px;
    line-height: 25px;
  }
  .make-inner .make-right .make-start-text {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .make-inner .make-right .make-start-text h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .make-inner .make-ul {
    margin-left: 10px;
  }
  .make-inner .make-ul .make-li p {
    font-weight: 300 !important;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #606060;
    margin: 0;
  }
  .make-inner .make-right-slider {
    padding-bottom: 0;
    pointer-events: none;
  }
  .make-inner .slider-arrows .slick-arrow {
    bottom: -71px;
  }
  .make-inner .slider-arrows .slick-prev {
    margin-left: -100px;
  }
  .make-inner .slider-arrows .slick-next {
    margin-right: -100px;
  }

  .make-left-ul.slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
  .make-left-ul.slick-dotted.slick-slider .slick-dots {
    bottom: -50px;
  }

  .make-left-slider .make-mobile-img {
    padding-top: 40px;
  }

  .make-top h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .make-box.smallcase-make-box .make-left-slider .make-mobile-img {
    padding-top: 40px;
  }
  .make-box.smallcase-make-box .make-left-slider .make-mobile-img img {
    width: 225px;
  }
}
@media (max-width: 359px) {
  .make-left-slider .make-mobile-img {
    width: 290px;
    height: 290px;
  }
  .make-left-slider .make-mobile-img img {
    width: 130px;
  }
}

.error-msgs {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    color: #fe7777;
    padding-left: 20px;
    margin-top: 2px;
}
/*# sourceMappingURL=style.css.map */


.popover-modal-open {
    overflow: hidden;
}

.popover-modal-open .popover-modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.popover-modal-close {
    background: transparent;
    border: none;
    color: #2C6EB5;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    z-index: 2;
  }
  .popover-modal-close:focus {
    outline: none;
  }
  
  .popover-modal .popover-modal-dialog {
    position: relative;
    margin: 15px auto;
    pointer-events: none;
    max-width: 720px;
  }
  .popover-modal.fade .popover-modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .popover-modal.popover-show.fade {
    opacity: 1;
    transition: opacity 0.15s linear;
  }
  .popover-modal.popover-show .popover-modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .popover-modal .popover-modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 30px);
  }
  .popover-modal .popover-modal-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    outline: 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  .popover-modal.app-download-modal .popover-modal-content {
    background-color: transparent;
  }
  
  .download-link-app {
    background-color: #2C6EB5;
    border-radius: 10px;
    padding: 30px 45px;
    min-height: 118px;
  }
  
  .color-white {
    color: #fff !important;
  }
  
  .get-app-messege {
    text-align: center;
  }
  .get-app-messege h6 {
    position: relative;
    min-height: 35px;
    padding-left: 45px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin-bottom: 18px;
  }
  .get-app-messege p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }
  .get-app-messege p:last-child {
    margin-bottom: 0px;
  }
  .get-app-messege.get-app-link-via-sms img {
    margin: 0 auto 10px;
  }
  .get-app-messege.get-app-link-via-sms h6 {
    padding: 0;
    min-height: auto;
    margin-bottom: 0;
  }
  .get-app-messege.get-app-link-via-sms .get-edit-link a {
    top: 3px;
  }
  
  .get-edit-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
  }
  .get-edit-link a {
    margin-left: 8px;
    position: relative;
    top: -1px;
  }
  .make-smallcase-text {
    font-weight: 500;
    margin-bottom: 15px;
}
  
  @media (max-width: 767px) {
  
    .popover-modal-close {
      top: 15px;
      right: 15px;
    }
  
    .popover-modal {
      padding: 0 15px;
    }
  
    .download-link-app {
      padding: 20px;
      min-height: 141px;
    }
  
    .get-edit-link {
      margin-bottom: 8px;
    }
  
    .get-app-messege h6 {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 21px;
      min-height: 30px;
    }
    .get-app-messege p {
      font-size: 12px;
      line-height: 16px;
    }
    .make-smallcase-text {
      font-weight: 400;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      color: #606060;
      margin-top: 40px;
  }
  }
  @media (min-width: 992px) {
    .popover-modal {
      padding: 0 15px;
    }
    .popover-modal .popover-modal-dialog.popover-modal-md3 {
      max-width: 665px;
    }
  }
  
  .popover-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  /*# sourceMappingURL=style.css.map */





    



