<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.tax-filing-card'}"></sly>
</sly>

<!-- tax-filing-box -->
<section class="tax-filing-box">
    <div class="container">
        <div class="tax-filling">
            <h2>${properties.title}</h2>
            <p>${properties.subTitle}</p>
        </div>

        <div class="" id="">
            <div class="tax-filling-inner slider-dots" id="jsTaxFillingSlider">
                <sly data-sly-list.card="${resource.children}">
                    <sly data-sly-test="${card.name == 'outerCard'}">
                        <sly data-sly-list.cardList="${card.children}">
                            <sly data-sly-test="${cardList.cardType == 'whiteCard'}">
                                <div class="tax-50">
                                    <div class="tax-filling-card">
                                        <img src="${cardList.desktopImg}" alt="" class="tax-imgs">
                                        <img src="${cardList.mobileImg}" alt="" class="tax-img-big">
                                        <div class="tax-outer">
                                            <div class="tax-filling-list">
                                                <sly data-sly-list.bullets="${cardList.children}">
                                                    <sly data-sly-test="${bullets.name == 'bulletPoints'}">
                                                        <sly data-sly-list.bulletList="${bullets.children}">
                                                            <div class="tax-filling-li">
                                                                <p>${bulletList.bullet}</p>
                                                            </div>
                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </div>
                                        </div>
                                        <div class="taxt-fill-btn">
                                            <a href="${cardList.btnPath}"
                                                class="btn-blue btn-h40 radius100">${cardList.button}</a>
                                        </div>
                                    </div>
                                </div>
                            </sly>
                            <sly data-sly-test="${cardList.cardType == 'blueCard'}">
                                <div class="tax-50">
                                    <div class="tax-filling-card tax-spanner">
                                        <img src="${cardList.desktopImg}" alt="" class="tax-imgs">
                                        <img src="${cardList.mobileImg}" alt="" class="tax-img-big">
                                        <div class="tax-outer">
                                            <div class="tax-filling-list">
                                                <sly data-sly-list.bullets="${cardList.children}">
                                                    <sly data-sly-test="${bullets.name == 'bulletPoints'}">
                                                        <sly data-sly-list.bulletList="${bullets.children}">
                                                            <div class="tax-filling-li">
                                                                <p>${bulletList.bullet}</p>
                                                            </div>
                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </div>
                                        </div>
                                        <sly data-sly-test="${cardList.button}">
                                            <div class="taxt-fill-btn">
                                                <a href="${cardList.btnPath}"
                                                    class="btn-blue btn-blue-outline btn-transparents btn-h40 radius100">${cardList.button}
                                                </a>
                                            </div>
                                        </sly>
                                    </div>
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </sly>
            </div>

        </div>
</section>
<!-- tax-filing-box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.tax-filing-card'}"></sly>
</sly>