<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.moneyfyCustomer'}"></sly>
</sly>
<!-- why monefy -->
<section class="why-monefy-box why-moneyfy-category why-moneyfy-benefits moneyfy-customer">
    <div class="container">
        <h2 class="text-center">${properties.heading}</h2>
        <div class="list-why-monefy">
            <sly data-sly-list.itemList="${resource.children}">
                <sly data-sly-test="${itemList.name == 'benfitList'}">
                    <sly data-sly-list.benefits="${itemList.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${benefits.img}" alt="" />
                                </div>
                                <div class="why-col-inner">
                                    <h5>${benefits.heading}</h5>
                                    ${benefits.description @context="html"}
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
        <div class="text-center" data-sly-test="${!properties.checklogin}" data-sly-test="${properties.showButton}">
            <a href="javascript:void(0)" type="button" class="btn-blue radius100 jsOpenModal"
                data-popovermodal="popover-modal" data-homeloan="redirecthomeloan"
                data-target="#benefits-modal">${properties.buttonTitle}</a>
        </div>
        <div class="text-center" data-sly-test="${properties.checklogin}">
            <a href="javascript:void(0)" type="button" class="btn-blue radius100" data-loanpopup="loanpopup"
                data-loanredirect="${properties.loginPopUpCheckLink}">${properties.buttonTitle}</a>
        </div>
        <div class="text-center">
            <a href="${properties.btnLink}" type="button"
                class="btn-blue radius100" data-sly-test="${properties.redirectionbuttonTitle}">${properties.redirectionbuttonTitle}</a>
        </div>

    </div>
</section>
<!-- why monefy -->