<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.corporate-why-moneyfy'}"></sly>
</sly>

<section class="why-monefy-box corporate-fd-benefits-box" data-sly-test="${properties.corporateHeading}">
    <div class="container">
        <h2 class="text-center">${properties.corporateHeading}</h2>
        <div class="list-why-monefy slider-dots slider-arrows flex-slider" id="corporateBenefitSlider">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='whyMoneyfyListMulti'}">
                    <sly data-sly-list.whymoneyfyList="${item.children}">
                        <div class="why-monefy-li corporate-slick">
                            <div class="why-monefy-col">
                                <div class="monefy-img" data-sly-test="${whymoneyfyList.corporateImg}">
                                    <img src="${whymoneyfyList.corporateImg}" alt="" />
                                </div>
                                <h5>${whymoneyfyList.corporateDescription}</h5>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.corporate-why-moneyfy'}"></sly>
</sly>