.wrapper {
    padding-bottom: 88px !important;
}

.registration-form {
    text-align: left;
}

@media (max-width: 767px) {
    .modal-backdrop {
        z-index: 6;
    }

    .stay-updated .stay-inner {
        padding-right: 143px;
    }
}