.input-textbox:focus, .country-code:focus {
    border: 1px solid #97BEE9;
    outline: none;
}

.more-questions-box {
  background-color: #2C6EB5;
  padding: 70px 0 80px;
}

.more-question-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.more-question-inner .head-col {
  width: 50%;
  text-align: center;
  padding: 0 25px;
}
.more-question-inner .head-col img {
  margin: 0 auto 5px;
}
.more-question-inner .head-col h2 {
  color: #fff;
  margin-bottom: 15px;
}
.more-question-inner .head-col p {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.more-question-inner .form-col {
  width: 50%;
}
.more-question-inner .form-col .btn {
  min-width: 150px;
  height: 40px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.more-question-inner .col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.more-question-inner .col-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.more-question-inner .textbox-box {
  margin-bottom: 35px;
  position: relative;
}
.more-question-inner .textbox-box .error-msgs {
  padding-left: 0;
}
.more-question-inner .textbox-box .select2-container {
  width: 100% !important;
}
.more-question-inner .textbox-box .select2-container .select2-selection--single {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 0;
  border-bottom: 0.5px solid rgba(135, 185, 250, 0.7);
  border-radius: 0;
}
.more-question-inner .textbox-box .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 25px 12px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
}
.more-question-inner .textbox-box .select2-container .select2-selection--single .select2-selection__arrow {
  height: 40px;
  top: 0;
  display: flex;
  align-items: center;
}
.more-question-inner .textbox-box .select2-container .select2-selection--single .select2-selection__arrow:before {
  color: #fff;
}
.more-question-inner .textbox-box .select2-container .select2-selection--single .select2-selection__placeholder {
  color: #FFFFFF;
}
.more-question-inner .textbox-box .select2-container--open .select2-selection__arrow:before {
  transform: scaleY(-1);
}
.more-question-inner .label-name {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  opacity: 0.6;
}
.more-question-inner .input-textbox {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  border-bottom: 0.5px solid rgba(135, 185, 250, 0.7);
  border-radius: 0;
  padding-left: 0;
}
.more-question-inner .input-textbox:focus {
  border: 0;
  border-bottom: 0.5px solid rgba(135, 185, 250, 0.7);
}
.more-question-inner .input-textbox::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
}
.more-question-inner .input-textbox:-ms-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
}
.more-question-inner .input-textbox::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
}
.more-question-inner .input-mob-number {
  display: flex;
}
.more-question-inner .input-mob-number .country-code {
  width: 36px;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  border-bottom: 0.5px solid rgba(135, 185, 250, 0.7);
  border-radius: 0;
}

@media (max-width: 991px) {
  .more-questions-box {
    padding: 40px 0 50px;
  }

  .more-question-inner .head-col {
    width: 40%;
  }
  .more-question-inner .form-col {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .more-question-inner .head-col {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    padding: 0;
  }
  .more-question-inner .head-col img {
    max-width: 50px;
    margin-right: 20px;
    margin-left: 0;
  }
  .more-question-inner .head-col .head-wrap {
    text-align: left;
  }
  .more-question-inner .head-col .head-wrap h2 {
    margin-bottom: 7px;
  }
  .more-question-inner .head-col .head-wrap p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }
  .more-question-inner .form-col {
    width: 100%;
  }
  .more-question-inner .col-6 {
    width: 100%;
  }
  .more-question-inner .textbox-box {
    margin-bottom: 30px;
  }
  .more-question-inner .btn-wrap {
    text-align: center;
    margin-top: 10px;
  }
  .more-question-inner .btn-wrap .btn {
    min-width: 200px;
    background-color: #fff;
    color: #2C6EB5;
  }
}

.input-textbox, .country-code {
    background: #F9FBFF;
    border: 1px solid #CCD8EE;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding: 10px 12px;
}



/*# sourceMappingURL=style.css.map */
