<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.invest-inlarge-box'}"></sly>
</sly>
   <!-- invest-inlarge box -->
    <section class="invest-inlarge-box pd js-compareActive js-compareActiveNone">
        <div class="container">
          <div class="card-div invest-inlarge">
            <div class="invest-inlarge-mx popular-rte">
               <h2>${properties.heading}</h2>   
              <p>${properties.description @context='html'}</p>
            </div>
        </div>
      </section>
      <!-- invest-inlarge box --> 
      <sly data-sly-test="${properties.schema}">
        <script type="application/ld+json">
          {
            "@context": "https://schema.org/", 
            "@type": "HowTo", 
            "name": "How to invest in mutual funds?",
            "step": [{
              "@type": "HowToStep",
              "text": "Step 1 - Create your account on the Moneyfy platform by completing your KYC."
            },{
              "@type": "HowToStep",
              "text": "Step 2 - Submit the required documents, including PAN Card, Aadhaar Card, bank details, etc."
            },{
              "@type": "HowToStep",
              "text": "Step 3 - Select the mutual fund scheme in which you want to invest your money."
            },{
              "@type": "HowToStep",
              "text": "Step 4 - Choose whether you want to invest via SIP or lump sum and make the investment online."
            }]    
          }
          </script>
      </sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.invest-inlarge-box'}"></sly>
</sly>