<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.trusts'}"></sly>
</sly>
<!-- trusted box -->
<section class="trusted-box">
    <div class="container">
        <div class="trusted-inner">
            <ul class="list-trusted ${properties.colDropdown}">
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'trustList'}">
                        <sly data-sly-list.trustList="${listItem.children}">
                            <li>
                                <div class="trusted-col">
                                <sly data-sly-test="${trustList.image}">
                                    <div class="trusted-img">
                                        <img src="${trustList.image}" alt="">
                                    </div>
                                    </sly>
                                    <h5>${trustList.heading}</h5>
                                    ${trustList.description @context='html'}
                                </div>
                            </li>
                        </sly>
                    </sly>
                </sly>
            </ul>
        </div>
    </div>
</section>
<!-- trusted box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.trusts'}"></sly>
</sly>