<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-managers-fund-list'}"></sly>
</sly>
<sly
  data-sly-use.managerModel="${'com.tatacapital.moneyfy.core.models.ManagerFundListingModel' @ fundmanagerSchemeId=pageProperties.schemeId}" />
<script>
  var fundList = "${managerModel.fundList @ context='scriptString'}";
  fundListObj = JSON.parse(fundList);
  console.log(fundListObj);
</script>

<!-- plan-goal box -->
<section class="fund-list-filter-box fund-managerfilterbox jsTabContainer">
  <div class="loader js-loader">
    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
  </div>

  <div class="container js-compareActiveNone">
    <div class="yellow-tab-auto fund-manager-tabs js-compareActive">
      <ul class="list-yellow-tabs jsTabList">
        <li>
          <a href="javascript:void(0)" class="active" data-tab="fundmanager-equity" data-cat="fundManagerEquity">
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/equity-img.svg" alt="">
            Equity
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" data-tab="fundmanager-debt" data-cat="fundManagerDebt">
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/debt-img.svg" alt="">
            Debt
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" data-tab="fundmanager-hybrid" data-cat="fundManagerHybrid">
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/hybrid-img.svg" alt="">
            Hybrid
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- compare filter -->
  <div class="filter-section mob-filter-container tab-compare-box js-floating js-fixContainer js-compareBox d-none js-filterWrap">
    <div class="">
      <div class="container">
        <div class="compare-box">
          <p id="compareCheck"></p>
          <div class="compare-btns-wrap">
            <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
              <div class="compare-choose-wrap">
                <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                  <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                    <ul class="dropdown-list-menu">
                      <li>
                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                          <span class="icon-plus icon"></span> Add from Watchlist
                        </a>
                      </li>
                      <li class="link-with-icon">
                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                          <span class="icon-plus icon"></span> Add from Portfolio
                        </a>
                      </li>
                      <li class="link-with-icon">
                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                          data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop">
                          <span class="icon-search icon"></span> Search Fund to Compare
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                  <span class="text-wrap">Choose a mutual Fund</span>
                  <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                      class="icon-close"></span></a>
                </div>
              </div>
            </div>
            <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
              <div class="compare-choose-wrap">
                <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                  <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                    <ul class="dropdown-list-menu">
                      <li>
                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                          <span class="icon-plus icon"></span> Add from Watchlist
                        </a>
                      </li>
                      <li class="link-with-icon">
                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                          <span class="icon-plus icon"></span> Add from Portfolio
                        </a>
                      </li>
                      <li class="link-with-icon">
                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                          data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop">
                          <span class="icon-search icon"></span> Search Fund to Compare
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                  <span class="text-wrap">Choose a mutual Fund</span>
                  <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                      class="icon-close"></span></a>
                </div>
              </div>
            </div>
            <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
              <div class="compare-choose-wrap">
                <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                  <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                    <ul class="dropdown-list-menu">
                      <li>
                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                          <span class="icon-plus icon"></span> Add from Watchlist
                        </a>
                      </li>
                      <li class="link-with-icon">
                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                          <span class="icon-plus icon"></span> Add from Portfolio
                        </a>
                      </li>
                      <li class="link-with-icon">
                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                          data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop">
                          <span class="icon-search icon"></span> Search Fund to Compare
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                  <span class="text-wrap">Choose a mutual Fund</span>
                  <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                      class="icon-close"></span></a>
                </div>
              </div>
            </div>
            <div class="compare-box-item">
              <div class="compare-cancel-wrap">
                <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" id="compareFunds">
                  compare
                </a>
                <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                  cancel
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- compare filter -->

  <div class="fund-manager-containers" id="jsFilterAddCompare">

    <!---Equity Start--->
    <div class="fund-content-row jsTabRow" data-type="fundManagerEquity" id="fundmanager-equity">

      <!-- mob filter -->
      <div class="fix-container js-filtersBox js-fixContainer mob-filter-fund-sortby d-lg-none sizeCheck">
        <div class="mob-filter-container">
          <div class="">
            <div class="mobile-filter-sort">
              <div class="mob-sortBtn-wrap">
                <a href="javascript:void(0);" class="jsMobSorting">
                  <i class="icon-sort icon"></i>
                  Sort by
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- mob filter -->

      <div class="container">
        <div class="fund-list-result sizeCheck">
          <div class="fund-list-result-inner">
            <div class="fund-list-result-left">
              <div class="fund-list-result-one">
                <h5><span data-size="fundSize"></span> Results</h5>
              </div>
              <div class="fund-list-result-two" data-pagination="paginationLength">
                <!-- <label class="fund-label">show</label> -->
                <div class="custom-dropdown custom-dropdown-new">
                  <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                      <ul class="dropdown-list-menu jsDropDownMenuGet fundSize-filter">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fund-list-result-right">
              <div class="fund-list-result-sort">
                <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                <div class="custom-dropdown custom-dropdown-new">
                  <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                      <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                        <li>
                          <a href="javascript:void(0)">Morning Star - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Morning Star - Low to High</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Value Research - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Value Research - Low to High</a>
                        </li>
                        <li class="active">
                          <a href="javascript:void(0)">Returns - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Returns - Low to High</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination box -->
        <div class="pagination-box sizeCheck top-pagination">
          <div class="pagination-list" id="pagination-container" data-active="equity">
          </div>
        </div>
        <!-- pagination box -->

        <!-- fund list ul -->
        <div class="fund-list-ul jsPagination" data-list="fundList">

        </div>
        <!-- fund list ul -->

        <!-- pagination box -->
        <div class="pagination-box sizeCheck">
          <div class="pagination-list" id="pagination-container" data-active="equity">
          </div>
        </div>
        <!-- pagination box -->
      </div>

    </div>
    <!---Equity End--->

    <!--Debt Start-->
    <div class="fund-content-row jsTabRow d-none" data-type="fundManagerDebt" id="fundmanager-debt">
      
      <!-- mob filter -->
      <div class="fix-container js-filtersBox js-fixContainer mob-filter-fund-sortby d-lg-none sizeCheck">
        <div class="mob-filter-container">
          <div class="">
            <div class="mobile-filter-sort">
              <div class="mob-sortBtn-wrap">
                <a href="javascript:void(0);" class="jsMobSorting">
                  <i class="icon-sort icon"></i>
                  Sort by
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- mob filter -->

      <div class="container">
        <div class="fund-list-result sizeCheck">
          <div class="fund-list-result-inner">
            <div class="fund-list-result-left">
              <div class="fund-list-result-one">
                <h5><span data-size="fundSize"></span> Results</h5>
              </div>
              <div class="fund-list-result-two" data-pagination="paginationLength">
                <!-- <label class="fund-label">show</label> -->
                <!-- <a href="javascript:void(0);" class="contact-infomarion-btn">
                          <span>8</span> Funds
                        </a> -->
                <div class="custom-dropdown custom-dropdown-new">
                  <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                      <ul class="dropdown-list-menu jsDropDownMenuGet fundSize-filter">

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fund-list-result-right">
              <div class="fund-list-result-sort">
                <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                <div class="custom-dropdown custom-dropdown-new">
                  <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                      <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                        <li>
                          <a href="javascript:void(0)">Morning Star - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Morning Star - Low to High</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Value Research - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Value Research - Low to High</a>
                        </li>
                        <li class="active">
                          <a href="javascript:void(0)">Returns - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Returns - Low to High</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination box -->
        <div class="pagination-box sizeCheck top-pagination">
          <div class="pagination-list" id="pagination-container" data-active="equity">
          </div>
        </div>
        <!-- pagination box -->

        <!-- fund list ul -->
        <div class="fund-list-ul jsPagination" data-list="fundList">

        </div>
        <!-- fund list ul -->

        <!-- pagination box -->
        <div class="pagination-box sizeCheck">
          <div class="pagination-list" id="pagination-container" data-active="equity">
          </div>
        </div>
        <!-- pagination box -->
      </div>
    </div>
    <!---Debt End--->

    <!---Hybrid Start--->
    <div class="fund-content-row jsTabRow d-none" data-type="fundManagerHybrid" id="fundmanager-hybrid">
    
      <!-- mob filter -->
      <div class="fix-container js-filtersBox js-fixContainer mob-filter-fund-sortby d-lg-none sizeCheck">
        <div class="mob-filter-container">
          <div class="">
            <div class="mobile-filter-sort">
              <div class="mob-sortBtn-wrap">
                <a href="javascript:void(0);" class="jsMobSorting">
                  <i class="icon-sort icon"></i>
                  Sort by
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- mob filter -->

      <div class="container">
        <div class="fund-list-result sizeCheck">
          <div class="fund-list-result-inner">
            <div class="fund-list-result-left">
              <div class="fund-list-result-one">
                <h5><span data-size="fundSize"></span> Results</h5>
              </div>
              <div class="fund-list-result-two" data-pagination="paginationLength">
                <label class="fund-label">show</label>
                <!-- <a href="javascript:void(0);" class="contact-infomarion-btn">
                          <span>8</span> Funds
                        </a> -->
                <div class="custom-dropdown custom-dropdown-new">
                  <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                      <ul class="dropdown-list-menu jsDropDownMenuGet fundSize-filter">

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fund-list-result-right">
              <div class="fund-list-result-sort">
                <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                <div class="custom-dropdown custom-dropdown-new">
                  <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                  </div>
                  <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                      <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                        <li>
                          <a href="javascript:void(0)">Morning Star - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Morning Star - Low to High</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Value Research - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Value Research - Low to High</a>
                        </li>
                        <li class="active">
                          <a href="javascript:void(0)">Returns - High to Low</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Returns - Low to High</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination box -->
        <div class="pagination-box sizeCheck top-pagination">
          <div class="pagination-list" id="pagination-container" data-active="equity">
          </div>
        </div>
        <!-- pagination box -->

        <!-- fund list ul -->
        <div class="fund-list-ul jsPagination" data-list="fundList">

        </div>
        <!-- fund list ul -->

        <!-- pagination box -->
        <div class="pagination-box sizeCheck">
          <div class="pagination-list" id="pagination-container" data-active="equity">
          </div>
        </div>
        <!-- pagination box -->
      </div>
    </div>
    <!---Hybrid End--->

  </div>
</section>
<!-- plan-goal box -->

<!-- start mobile sort -->
<div class="mob-sortby-box">
  <div class="mob-sortby-inner">
    <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
    <div class="container">
      <h6>Sort by</h6>
      <ul class="jsSelectSortList">
        <li>
          <label class="custom-radio-text">
            Morning Star - High to low
            <span class="custom-radio">
              <input type="radio" name="sort" value="Morning Star - High to Low">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Morning Star - Low to High
            <span class="custom-radio">
              <input type="radio" name="sort" value="Morning Star - Low to High">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Value Research - High to low
            <span class="custom-radio">
              <input type="radio" name="sort" value="Value Research - High to Low">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Value Research - Low to High
            <span class="custom-radio">
              <input type="radio" name="sort" value="Value Research - Low to High">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Returns - High to Low
            <span class="custom-radio">
              <input type="radio" name="sort" value="Returns - High to Low">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Returns - Low to High
            <span class="custom-radio">
              <input type="radio" name="sort" value="Returns - Low to High">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end mobile sort -->

<!-- search fund modal -->
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-1">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
        <div class="modal-body-inner3">
          <div class="modal-search-wrap">
            <div class="modal-search-input" id="jsMutualFundSearchTypehead">
              <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
              <input type="text" class="form-control typeahead" data-search="fund" placeholder="Search Funds">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-2">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
        <div class="modal-body-inner3">
          <div class="modal-search-wrap">
            <div class="modal-search-input" id="jsMutualFundSearchTypehead">
              <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
              <input type="text" class="form-control typeahead" data-search="fund" placeholder="Search Funds">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-3">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
        <div class="modal-body-inner3">
          <div class="modal-search-wrap">
            <div class="modal-search-input" id="jsMutualFundSearchTypehead">
              <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
              <input type="text" class="form-control typeahead" data-search="fund" placeholder="Search Funds">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- search fund modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-managers-fund-list'}"></sly>
</sly>