<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-managers-detail-banner'}"></sly>
</sly>

<!-- mutual fund description -->
        <section class="mf-description-box fundmanager-details-banner js-compareActiveNone">
          <div class="container">
            <div class="row">
              <div class="lg-left-col-60">
                <div class="mf-description-wrap">
                  <div class="img-name-wrap">
                    <div class="name-wrap">
                      <h1>${pageProperties.name} - Fund Manager</h1>
                    </div>
                  </div>                  
                  <p>${pageProperties.description}</p>
                </div>
              </div>
              <div class="lg-right-col-40">
                <div class="mf-return-box">
                  <ul>
                    <li>
                      <p>No. of Funds</p>
                      <h6>${pageProperties.totalFunds}</h6>
                    </li>
                    <li>
                      <p>Total Fund Size</p>
                      <h6 data-id="aumAmount"></h6>
                    </li>
                    <li>
                      <p>Highest Return</p>
                      <h6>${pageProperties.highestReturns}%</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <script>
            var aumAmount = "${pageProperties.totalFundSize @context='scriptString'}";
            document.querySelector('[data-id="aumAmount"]').innerHTML = '₹' + Math.round(aumAmount).toLocaleString('en-IN') + ' Cr';
        </script> 
<!-- mutual fund description -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-managers-detail-banner'}"></sly>
</sly>