<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-list-filters'}"></sly>
</sly>
<sly data-sly-use.amcModel="com.tatacapital.moneyfy.core.models.AMCListingModel" />
<sly data-sly-use.sebiCategoryModel="com.tatacapital.moneyfy.core.models.SebiSubCatModel" />

<script>
  var sebiCategoryList = "${sebiCategoryModel.sebiCatPageList @context='scriptString'}";
  sebiCategoryList = JSON.parse(sebiCategoryList);
</script>
<!-- desktop filter -->
<section class="filter-section js-floating d-none d-lg-block">
  <div class="container">
    <div class="filter-box js-filtersBox">
      <div class="filter-btn-wrap">
        <div class="filter-item">
          <div class="custom-dropdown">
            <div class="dropdown-button js-filterBtn" data-filter="rating">
              <a href="javascript:void(0);">Rating</a>
            </div>
            <div class="dropdown-card rating-filter-card" data-filter-card="rating" data-checkfilter="checkFilterRating"> 
              <div class="dropdown-card-inner">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Rating</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <div class="rating-checkbox">
                      <p class="rating-head">Morning star</p>
                      <div class="rating-checkbox-wrap">
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="5 &#9733; Morning Star" data-rating="5">
                          <p>5 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="4 &#9733; Morning Star" data-rating="4">
                          <p>4 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="3 &#9733; Morning Star" data-rating="3">
                          <p>3 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="2 &#9733; Morning Star" data-rating="2">
                          <p>2 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="1 &#9733; Morning Star" data-rating="1">
                          <p>1 <span class="icon icon-star"></span></p>
                        </label>
                      </div>
                    </div>
                    <div class="rating-checkbox">
                      <p class="rating-head">Value Research</p>
                      <div class="rating-checkbox-wrap">
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="5 &#9733; Value Research" data-rating="5">
                          <p>5 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="4 &#9733; Value Research" data-rating="4">
                          <p>4 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="3 &#9733; Value Research" data-rating="3">
                          <p>3 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="2 &#9733; Value Research" data-rating="2">
                          <p>2 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="1 &#9733; Value Research" data-rating="1">
                          <p>1 <span class="icon icon-star"></span></p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <div class="custom-dropdown">
            <div class="dropdown-button js-filterBtn" data-filter="min-investment">
              <a href="javascript:void(0);">Min Investment</a>
            </div>
            <div class="dropdown-card min-investment-filter-card" data-filter-card="min-investment" data-checkfilter="checkFilterCommon">
              <div class="dropdown-card-inner">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Min Investment</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <ul id="filterFunds">
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="min_investment" value="&lt; Rs.500" data-investment="0-499">
                            <span class="checkbox-wrap"></span>
                            &lt; Rs.500
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="min_investment" value="&lt; Rs.1000" data-investment="0-999">
                            <span class="checkbox-wrap"></span>
                            &lt; Rs.1000
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="min_investment" value="&lt; Rs.2000" data-investment="<2000">
                            <span class="checkbox-wrap"></span>
                            &lt; Rs.2000
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <div class="custom-dropdown">
            <div class="dropdown-button js-filterBtn" data-filter="fund-category">
              <a href="javascript:void(0);">Fund Category</a>
            </div>
            <div class="dropdown-card fund-category-filter-card" data-filter-card="fund-category">
              <div class="row filter-row">
                <div class="left-col">
                  <div class="dropdown-header">
                    <p>Fund Category</p>
                  </div>
                  <ul class="category-list">
                    <li class="active" data-category="popular">Popular Categories</li>
                    <li data-category="equity">Equity</li>
                    <li data-category="debt">Debt</li>
                    <li data-category="hybrid">Hybrid</li>
                    <li data-category="solution_oriented">Others</li>
                  </ul>
                </div>
                <div class="right-col">
                  <div class="category-filter">
                    <div class="category-filter-item active" data-category-item="popular">
                      <div class="filter-card">
                        <div class="dropdown-header">
                          <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                          <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                        </div>
                        <div class="dropdown-content">
                          <div class="filterList-mCustomScrollbar">
                            <ul>
                              <!-- <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="New Fund Offerings"
                                      data-value="New Fund Offerings">
                                    <span class="checkbox-wrap"></span>
                                    New Fund Offerings
                                  </label>
                                </div>
                              </li> -->
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Top Rated Funds"
                                      data-value="Top Rated Funds">
                                    <span class="checkbox-wrap"></span>
                                    Top Rated Funds
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Tax Saver Funds"
                                      data-value="Tax Saver Funds">
                                    <span class="checkbox-wrap"></span>
                                    Tax Saver Funds
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Invest In Gold"
                                      data-value="Invest In Gold">
                                    <span class="checkbox-wrap"></span>
                                    Invest In Gold
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Invest in large companies"
                                      data-value="Invest in large companies">
                                    <span class="checkbox-wrap"></span>
                                    Invest in large companies
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Invest in mid sized companies"
                                      data-value="Invest in mid sized companies">
                                    <span class="checkbox-wrap"></span>
                                    Invest in mid sized companies
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory"
                                      value="Invest in small sized companies"
                                      data-value="Invest in small sized companies">
                                    <span class="checkbox-wrap"></span>
                                    Invest in small sized companies
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="SIP starting at 500 INR"
                                      data-value="SIP starting at 500 INR">
                                    <span class="checkbox-wrap"></span>
                                    SIP starting at 500 INR
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Invest in balanced funds"
                                      data-value="Invest in balanced funds">
                                    <span class="checkbox-wrap"></span>
                                    Invest in balanced funds
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory"
                                      value="Invest in companies across all sizes"
                                      data-value="Invest in companies across all sizes">
                                    <span class="checkbox-wrap"></span>
                                    Invest in companies across all sizes
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Conservative - Mini Option"
                                      data-value="Conservative - Mini Option">
                                    <span class="checkbox-wrap"></span>
                                    Conservative - Mini Option
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Conservative"
                                      data-value="Conservative">
                                    <span class="checkbox-wrap"></span>
                                    Conservative
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Moderate Mini"
                                      data-value="Moderate Mini">
                                    <span class="checkbox-wrap"></span>
                                    Moderate Mini
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Moderate"
                                      data-value="Moderate">
                                    <span class="checkbox-wrap"></span>
                                    Moderate
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Aggressive - Mini Option"
                                      data-value="Aggressive - Mini Option">
                                    <span class="checkbox-wrap"></span>
                                    Aggressive - Mini Option
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Aggressive"
                                      data-value="Aggressive">
                                    <span class="checkbox-wrap"></span>
                                    Aggressive
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Super aggressive - Mini Option"
                                      data-value="Super aggressive - Mini Option">
                                    <span class="checkbox-wrap"></span>
                                    Super aggressive - Mini Option
                                  </label>
                                </div>
                              </li>
                              <li class="filter-checkbox">
                                <div class="custom-checkbox">
                                  <label class="js-filterCheck">
                                    <input type="checkbox" name="popularCategory" value="Super aggressive"
                                      data-value="Super aggressive">
                                    <span class="checkbox-wrap"></span>
                                    Super aggressive
                                  </label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="category-filter-item" data-category-item="equity">
                      <div class="filter-card">
                        <div class="dropdown-header">
                          <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                          <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                        </div>
                        <div class="dropdown-content">
                          <div class="filterList-mCustomScrollbar">
                            <ul data-list="equity"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="category-filter-item" data-category-item="debt">
                      <div class="filter-card">
                        <div class="dropdown-header">
                          <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                          <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                        </div>
                        <div class="dropdown-content">
                          <div class="filterList-mCustomScrollbar">
                            <ul data-list="debt"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="category-filter-item" data-category-item="hybrid">
                      <div class="filter-card">
                        <div class="dropdown-header">
                          <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                          <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                        </div>
                        <div class="dropdown-content">
                          <div class="filterList-mCustomScrollbar">
                            <ul data-list="hybrid"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="category-filter-item" data-category-item="solution_oriented">
                      <div class="filter-card">
                        <div class="dropdown-header">
                          <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                          <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                        </div>
                        <div class="dropdown-content">
                          <div class="filterList-mCustomScrollbar">
                            <ul data-list="others"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <div class="custom-dropdown">
            <div class="dropdown-button js-filterBtn" data-filter="risk-level">
              <a href="javascript:void(0);">Risk Level</a>
            </div>
            <div class="dropdown-card risk-level-filter-card" data-filter-card="risk-level" data-checkfilter="checkFilterCommon">
              <div class="dropdown-card-inner">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Risk Level</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <ul>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Low Risk" data-value="Low">
                            <span class="checkbox-wrap"></span>
                            Low Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Low to Moderate risk"
                              data-value="Low to Moderate">
                            <span class="checkbox-wrap"></span>
                            Low to Moderate risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Moderate Risk" data-value="Moderate">
                            <span class="checkbox-wrap"></span>
                            Moderate Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Moderately High Risk"
                              data-value="Moderately High">
                            <span class="checkbox-wrap"></span>
                            Moderately High Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="High Risk" data-value="High">
                            <span class="checkbox-wrap"></span>
                            High Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Very High Risk" data-value="Very High">
                            <span class="checkbox-wrap"></span>
                            Very High Risk
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <div class="custom-dropdown">
            <div class="dropdown-button js-filterBtn" data-filter="amc">
              <a href="javascript:void(0);">AMC</a>
            </div>
            <div class="dropdown-card amc-filter-card" data-filter-card="amc">
              <div class="dropdown-card-inner">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>AMC</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <div class="search-wrap">
                      <div class="search-form">
                        <input type="text" class="form-control js-searchInput" placeholder="Search for AMCs...">
                        <button class="search-btn"><span class="icon-search"></span></button>
                      </div>
                    </div>
                    <div class="amc-filter-list">
                      <div class="filterList-mCustomScrollbar" data-checkfilter="checkFilterCommon">
                        <ul>
                          <sly data-sly-list.amc="${amcModel.amcList}">
                            <li class="filter-checkbox">
                              <div class="custom-checkbox">
                                <label class="js-filterCheck">
                                  <input type="checkbox" name="amc" value="${amc.fundName}"
                                    data-value="${amc.fundName}">
                                  <span class="checkbox-wrap"></span>
                                  ${amc.fundName}
                                </label>
                              </div>
                            </li>
                          </sly>


                        </ul>
                      </div>
                    </div>
                    <div class="no-search-result js-noSearchResult d-none">
                      <span class="error-msgs">Sorry We Could not find the data related to <b>kalyanam mutual
                          fund</b></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <div class="custom-dropdown">
            <div class="dropdown-button js-filterBtn" data-filter="fund-size">
              <a href="javascript:void(0);">Fund Size</a>
            </div>
            <div class="dropdown-card fund-size-filter-card" data-filter-card="fund-size" data-checkfilter="checkFilterRating">
              <div class="dropdown-card-inner">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Fund Size</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <ul id="filterFunds">
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="L0 - 500 Cr" data-fundsize="0-500">
                            <span class="checkbox-wrap"></span>
                            0 - 500 Cr
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="501 - 2000 Cr" data-fundsize="501-2000">
                            <span class="checkbox-wrap"></span>
                            501 - 2000 Cr
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="2001 - 10000 Cr" data-fundsize="2001-10000">
                            <span class="checkbox-wrap"></span>
                            2001 - 10000 Cr
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="Above 10000 Cr" data-fundsize=">10000">
                            <span class="checkbox-wrap"></span>
                            Above 10000 Cr
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-tags-wrap">
        <div class="clear-btn-wrap">
          <a href="javascript:void(0);" class="clear-all-btn js-clearAll">Clear All</a>
        </div>
        <div class="">
          <ul class="filter-tags js-FilterSlide js-FilterSliderInit">
          </ul>
        </div>
      </div>
    </div>
    <div class="compare-box js-compareBox d-none">
      <p>Compare Upto 3 Funds</p>
      <div class="compare-btns-wrap">
        <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
          <div class="compare-choose-wrap">
            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
              <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                <a href="javascript:void(0);">Choose a mutual Fund</a>
              </div>
              <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                <ul class="dropdown-list-menu">
                  <li>
                    <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                  </li>
                  <li class="link-with-icon">
                    <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-1"
                      class="jsOpenModal jsWhiteBackdrop"><span class="icon-search icon"></span> Search Fund to
                      Compare</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
              <span class="text-wrap">Quant Large Cap Funds - (G)</span>
              <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span class="icon-close"></span></a>
            </div>
          </div>
        </div>
        <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
          <div class="compare-choose-wrap">
            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
              <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                <a href="javascript:void(0);">Choose a mutual Fund</a>
              </div>
              <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                <ul class="dropdown-list-menu">
                  <li>
                    <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                  </li>
                  <li class="link-with-icon">
                    <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-2"
                      class="jsOpenModal jsWhiteBackdrop"><span class="icon-search icon"></span> Search Fund to
                      Compare</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
              <span class="text-wrap">Quant Large Cap Funds - (G)</span>
              <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span class="icon-close"></span></a>
            </div>
          </div>
        </div>
        <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
          <div class="compare-choose-wrap">
            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
              <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                <a href="javascript:void(0);">Choose a mutual Fund</a>
              </div>
              <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                <ul class="dropdown-list-menu">
                  <li>
                    <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                  </li>
                  <li class="link-with-icon">
                    <a href="javascript:void(0);" data-popovermodal="compare-popover" data-target="#searchFund-modal-3"
                      class="jsOpenModal jsWhiteBackdrop"><span class="icon-search icon"></span> Search Fund to
                      Compare</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
              <span class="text-wrap">Quant Large Cap Funds - (G)</span>
              <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span class="icon-close"></span></a>
            </div>
          </div>
        </div>
        <div class="compare-box-item">
          <div class="compare-cancel-wrap">
            <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100 " id="compareFunds">
              compare funds
            </a>
            <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
              cancel
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- desktop filter -->

<!-- mob filter -->
<section class="fix-container js-fixContainer">
  <div class="mob-filter-container d-lg-none">
    <div class="container">
      <div class="mobile-filter-sort js-filtersBox">
        <div class="mob-filterBtn-wrap">
          <a href="javascript:void(0);" class="js-showFilter">
            <span class="filter-count js-filterCount"></span>
            <i class="icon-filter icon"></i> Filters
          </a>
        </div>
        <div class="mob-sortBtn-wrap">
          <a href="javascript:void(0);" class="jsMobSorting">
            <i class="icon-sort icon"></i> Sort by
          </a>
        </div>
      </div>
      <div class="mob-filter-box js-mobFilterBox js-filtersBox">
        <div class="back-btn-wrap">
          <a href="javascript:void(0);" class="back-btn js-closeFilter">
            <span class="icon-arrow-left icon"></span> Filter
          </a>
        </div>
        <div class="filter-wrap">
          <div class="filter-list-wrap js-filterListWrap">
            <ul>
              <li>
                <a href="javascript:void(0);" class="filter-link active"
                  data-filter-link="Rating"><span>Rating</span></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="filter-link" data-filter-link="Min Investment"><span>Min
                    Investment</span></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="filter-link js-fundCategoryBoxOpen"><span>Fund Category</span></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="filter-link" data-filter-link="Risk Level"><span>Risk
                    Level</span></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="filter-link" data-filter-link="AMC"><span>AMC</span></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="filter-link" data-filter-link="Fund Size"><span>Fund
                    Size</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-cards-wrap">
            <div class="dropdown-card-inner">
              <div class="filter-card-item active" data-filter-item="Rating" data-filteritem="checkFilterRating">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Rating</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <div class="rating-checkbox">
                      <p class="rating-head">Morning star</p>
                      <div class="rating-checkbox-wrap">
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="5 &#9733; Morning Star" data-rating="5">
                          <p>5 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="4 &#9733; Morning Star" data-rating="4">
                          <p>4 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="3 &#9733; Morning Star" data-rating="3">
                          <p>3 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="2 &#9733; Morning Star" data-rating="2">
                          <p>2 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="morning_star" value="1 &#9733; Morning Star" data-rating="1">
                          <p>1 <span class="icon icon-star"></span></p>
                        </label>
                      </div>
                    </div>
                    <div class="rating-checkbox">
                      <p class="rating-head">Value Research</p>
                      <div class="rating-checkbox-wrap">
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="5 &#9733; Value Research" data-rating="5">
                          <p>5 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="4 &#9733; Value Research" data-rating="4">
                          <p>4 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="3 &#9733; Value Research" data-rating="3">
                          <p>3 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="2 &#9733; Value Research" data-rating="2">
                          <p>2 <span class="icon icon-star"></span></p>
                        </label>
                        <label class="checkbox-item js-filterCheck">
                          <input type="checkbox" name="value_star" value="1 &#9733; Value Research" data-rating="1">
                          <p>1 <span class="icon icon-star"></span></p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-card-item" data-filter-item="Min Investment" data-filteritem="commonFilterItem">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Min Investment</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <ul id="filterFunds">
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="min_investment" value="&lt; Rs.500" data-investment="0-499">
                            <span class="checkbox-wrap"></span>
                            &lt; Rs.500
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="min_investment" value="&lt; Rs.1000" data-investment="0-999">
                            <span class="checkbox-wrap"></span>
                            &lt; Rs.1000
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="min_investment" value="&lt; Rs.2000" data-investment="<2000">
                            <span class="checkbox-wrap"></span>
                            &lt; Rs.2000
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="filter-card-item" data-filter-item="Risk Level" data-filteritem="commonFilterItem">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Risk Level</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <ul>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Low Risk" data-value="Low">
                            <span class="checkbox-wrap"></span>
                            Low Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Low to Moderate risk"
                              data-value="Low to Moderate">
                            <span class="checkbox-wrap"></span>
                            Low to Moderate risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Moderate Risk" data-value="Moderate">
                            <span class="checkbox-wrap"></span>
                            Moderate Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Moderately High Risk"
                              data-value="Moderately High">
                            <span class="checkbox-wrap"></span>
                            Moderately High Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="High Risk" data-value="High">
                            <span class="checkbox-wrap"></span>
                            High Risk
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="riskType" value="Very High Risk" data-value="Very High">
                            <span class="checkbox-wrap"></span>
                            Very High Risk
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="filter-card-item" data-filter-item="AMC">
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>AMC</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <div class="search-wrap">
                      <div class="search-form">
                        <input type="text" class="form-control js-searchInput" placeholder="Search for AMCs...">
                        <button class="search-btn"><span class="icon-search"></span></button>
                      </div>
                    </div>
                    <div class="amc-filter-list">
                      <div class="filterList-mCustomScrollbar" data-amcsearch="amcSearch">
                        <ul>
                          <sly data-sly-list.amc="${amcModel.amcList}">
                            <li class="filter-checkbox">
                              <div class="custom-checkbox">
                                <label class="js-filterCheck">
                                  <input type="checkbox" name="amc" value="${amc.fundName}"
                                    data-value="${amc.fundName}">
                                  <span class="checkbox-wrap"></span>
                                  ${amc.fundName}
                                </label>
                              </div>
                            </li>
                          </sly>


                        </ul>
                      </div>
                    </div>
                    <div class="no-search-result js-noSearchResult d-none">
                      <span class="error-msgs">Sorry We Could not find the data related to <b>kalyanam mutual
                          fund</b></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-card-item" data-filter-item="Fund Size" data-checkfilter="checkFilterCommon" >
                <div class="filter-card">
                  <div class="dropdown-header">
                    <p>Fund Size</p>
                    <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                  </div>
                  <div class="dropdown-content">
                    <ul id="filterFunds">
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="L0 - 500 Cr" data-fundsize="0-500">
                            <span class="checkbox-wrap"></span>
                            0 - 500 Cr
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="501 - 2000 Cr" data-fundsize="501-2000">
                            <span class="checkbox-wrap"></span>
                            501 - 2000 Cr
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="2001 - 10000 Cr" data-fundsize="2001-10000">
                            <span class="checkbox-wrap"></span>
                            2001 - 10000 Cr
                          </label>
                        </div>
                      </li>
                      <li class="filter-checkbox">
                        <div class="custom-checkbox">
                          <label class="js-filterCheck">
                            <input type="checkbox" name="fundSize" value="Above 10000 Cr" data-fundsize=">10000">
                            <span class="checkbox-wrap"></span>
                            Above 10000 Cr
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fund-category-box js-fundCategoryBox"  data-fundcategorybox="categoryBox">
          <div class="back-btn-wrap">
            <a href="javascript:void(0);" class="back-btn js-closefundCategory">
              <span class="icon-arrow-left icon"></span> Fund Category
            </a>
          </div>
          <div class="filter-wrap">
            <div class="filter-list-wrap"  data-fundcategorybox="categoryBox">
              <ul>
                <li>
                  <a href="javascript:void(0);" class="filter-link" data-filter-link="Popular Categories"><span>Popular
                      Categories</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="filter-link" data-filter-link="Equity"><span>Equity</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="filter-link" data-filter-link="Debt"><span>Debt</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="filter-link" data-filter-link="Hybrid"><span>Hybrid</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="filter-link" data-filter-link="Others"><span>Others</span></a>
                </li>
              </ul>
            </div>
            <div class="filter-cards-wrap">
              <div class="dropdown-card-inner">
                <div class="filter-card-item active" data-filter-item="Popular Categories">
                  <div class="filter-card">
                    <div class="dropdown-header">
                      <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                      <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                    </div>
                    <div class="dropdown-content">
                      <div class="filterList-mCustomScrollbar">
                        <ul>
                          <!-- <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="New Fund Offerings"
                                  data-value="New Fund Offerings">
                                <span class="checkbox-wrap"></span>
                                New Fund Offerings
                              </label>
                            </div>
                          </li> -->
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Top Rated Funds"
                                  data-value="Top Rated Funds">
                                <span class="checkbox-wrap"></span>
                                Top Rated Funds
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Tax Saver Funds"
                                  data-value="Tax Saver Funds">
                                <span class="checkbox-wrap"></span>
                                Tax Saver Funds
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Invest In Gold"
                                  data-value="Invest In Gold">
                                <span class="checkbox-wrap"></span>
                                Invest In Gold
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Invest in large companies"
                                  data-value="Invest in large companies">
                                <span class="checkbox-wrap"></span>
                                Invest in large companies
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Invest in mid sized companies"
                                  data-value="Invest in mid sized companies">
                                <span class="checkbox-wrap"></span>
                                Invest in mid sized companies
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Invest in small sized companies"
                                  data-value="Invest in small sized companies">
                                <span class="checkbox-wrap"></span>
                                Invest in small sized companies
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="SIP starting at 500 INR"
                                  data-value="SIP starting at 500 INR">
                                <span class="checkbox-wrap"></span>
                                SIP starting at 500 INR
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Invest in balanced funds"
                                  data-value="Invest in balanced funds">
                                <span class="checkbox-wrap"></span>
                                Invest in balanced funds
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory"
                                  value="Invest in companies across all sizes"
                                  data-value="Invest in companies across all sizes">
                                <span class="checkbox-wrap"></span>
                                Invest in companies across all sizes
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Conservative - Mini Option"
                                  data-value="Conservative - Mini Option">
                                <span class="checkbox-wrap"></span>
                                Conservative - Mini Option
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Conservative"
                                  data-value="Conservative">
                                <span class="checkbox-wrap"></span>
                                Conservative
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Moderate Mini"
                                  data-value="Moderate Mini">
                                <span class="checkbox-wrap"></span>
                                Moderate Mini
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Moderate" data-value="Moderate">
                                <span class="checkbox-wrap"></span>
                                Moderate
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Aggressive - Mini Option"
                                  data-value="Aggressive - Mini Option">
                                <span class="checkbox-wrap"></span>
                                Aggressive - Mini Option
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Aggressive"
                                  data-value="Aggressive">
                                <span class="checkbox-wrap"></span>
                                Aggressive
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Super aggressive - Mini Option"
                                  data-value="Super aggressive - Mini Option">
                                <span class="checkbox-wrap"></span>
                                Super aggressive - Mini Option
                              </label>
                            </div>
                          </li>
                          <li class="filter-checkbox">
                            <div class="custom-checkbox">
                              <label class="js-filterCheck">
                                <input type="checkbox" name="popularCategory" value="Super aggressive"
                                  data-value="Super aggressive">
                                <span class="checkbox-wrap"></span>
                                Super aggressive
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-card-item" data-filter-item="Equity">
                  <div class="filter-card">
                    <div class="dropdown-header">
                      <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                      <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                    </div>
                    <div class="dropdown-content">
                      <div class="filterList-mCustomScrollbar">
                        <ul data-list="equity"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-card-item" data-filter-item="Debt">
                  <div class="filter-card">
                    <div class="dropdown-header">
                      <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                      <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                    </div>
                    <div class="dropdown-content">
                      <div class="filterList-mCustomScrollbar">
                        <ul data-list="debt"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-card-item" data-filter-item="Hybrid">
                  <div class="filter-card">
                    <div class="dropdown-header">
                      <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                      <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                    </div>
                    <div class="dropdown-content">
                      <div class="filterList-mCustomScrollbar">
                        <ul data-list="hybrid"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-card-item" data-filter-item="Others">
                  <div class="filter-card">
                    <div class="dropdown-header">
                      <a href="javascript:void(0);" class="select-all-btn js-selectAllBtn">Select all</a>
                      <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                    </div>
                    <div class="dropdown-content">
                      <div class="filterList-mCustomScrollbar">
                        <ul data-list="others"></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-fotter">
          <a href="javascript:void(0);" class="btn-blue radius100 apply-filter-btn js-applyFilter">apply filter</a>
          <a href="javascript:void(0)" class="clear-all-btn js-clearAll">clear all</a>
        </div>
      </div>
      <div class="compare-box js-compareBox d-none">
        <p id="compareCheck">Compare Upto 3 Funds</p>
        <div class="compare-btns-wrap">
          <!-- 16-11-2021 -->
          <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
            <div class="compare-choose-wrap">
              <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                  <a href="javascript:void(0);">Choose a mutual Fund</a>
                </div>
                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                  <ul class="dropdown-list-menu">
                    <li>
                      <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn">
                        <span class="icon-plus icon"></span> Add from Watchlist
                      </a>
                    </li>
                    <li class="link-with-icon">
                      <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn">
                        <span class="icon-plus icon"></span> Add from Portfolio
                      </a>
                    </li>
                    <li class="link-with-icon">
                      <a href="javascript:void(0);" data-popovermodal="compare-popover"
                        data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop">
                        <span class="icon-search icon"></span> Search Fund to Compare
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                <span class="text-wrap"></span>
                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                    class="icon-close"></span></a>
              </div>
            </div>
          </div>
          <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
            <div class="compare-choose-wrap">
              <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                  <a href="javascript:void(0);">Choose a mutual Fund</a>
                </div>
                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                  <ul class="dropdown-list-menu">
                    <li>
                      <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn">
                        <span class="icon-plus icon"></span> Add from Watchlist
                      </a>
                    </li>
                    <li class="link-with-icon">
                      <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn">
                        <span class="icon-plus icon"></span> Add from Portfolio
                      </a>
                    </li>
                    <li class="link-with-icon">
                      <a href="javascript:void(0);" data-popovermodal="compare-popover"
                        data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop">
                        <span class="icon-search icon"></span> Search Fund to Compare
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                <span class="text-wrap"></span>
                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                    class="icon-close"></span></a>
              </div>
            </div>
          </div>
          <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
            <div class="compare-choose-wrap">
              <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                  <a href="javascript:void(0);">Choose a mutual Fund</a>
                </div>
                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                  <ul class="dropdown-list-menu">
                    <li>
                      <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn">
                        <span class="icon-plus icon"></span> Add from Watchlist
                      </a>
                    </li>
                    <li class="link-with-icon">
                      <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn">
                        <span class="icon-plus icon"></span> Add from Portfolio
                      </a>
                    </li>
                    <li class="link-with-icon">
                      <a href="javascript:void(0);" data-popovermodal="compare-popover"
                        data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop">
                        <span class="icon-search icon"></span> Search Fund to Compare
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                <span class="text-wrap"></span>
                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                    class="icon-close"></span></a>
              </div>
            </div>
          </div>
          <!-- 16-11-2021 -->
          <div class="compare-box-item">
            <div class="compare-cancel-wrap">
              <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" id="compareFunds">
                compare
              </a>
              <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                cancel
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- mob filter -->

<!-- start mobile sort -->
<div class="mob-sortby-box">
  <div class="mob-sortby-inner">
    <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
    <div class="container">
      <h6>Sort by</h6>
      <ul class="jsSelectSortList">
        <li>
          <label class="custom-radio-text">
            Morning Star - High to low
            <span class="custom-radio">
              <input type="radio" name="sort" value="Morning Star - High to low">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Morning Star - Low to High
            <span class="custom-radio">
              <input type="radio" name="sort" value="Morning Star - Low to High">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Value Research - High to low
            <span class="custom-radio">
              <input type="radio" name="sort" value="Value Research - High to low">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Value Research - Low to High
            <span class="custom-radio">
              <input type="radio" name="sort" value="Value Research - Low to High">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Returns - High to Low
            <span class="custom-radio">
              <input type="radio" name="sort" value="Returns - High to Low">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
        <li>
          <label class="custom-radio-text">
            Returns - Low to High
            <span class="custom-radio">
              <input type="radio" name="sort" value="Returns - Low to High">
              <span class="radiobox-check"></span>
            </span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-1">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
        <div class="modal-body-inner3">
          <div class="modal-search-wrap">
            <div class="modal-search-input" id="jsMutualFundSearchTypehead">
              <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
              <input type="text" class="form-control typeahead" placeholder="Search Funds" data-search="fund">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-2">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
        <div class="modal-body-inner3">
          <div class="modal-search-wrap">
            <div class="modal-search-input" id="jsMutualFundSearchTypehead">
              <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
              <input type="text" class="form-control typeahead" placeholder="Search Funds" data-search="fund">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-3">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">
        <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
        <div class="modal-body-inner3">
          <div class="modal-search-wrap">
            <div class="modal-search-input" id="jsMutualFundSearchTypehead">
              <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
              <input type="text" class="form-control typeahead" placeholder="Search Funds" data-search="fund">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end mobile sort -->
<!--adobe analytics 22 91 414 506 540 758 818 857 939 965 1016 1023-->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-list-filters'}"></sly>
</sly>