<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.term-condition-box'}"></sly>
</sly>
<section class="term-condition-box">
    <div class="container">
        <div class="term-condition-info">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='termConditionMultifield'}">
                    <sly data-sly-list.termConditionRow="${item.children}">
                        <div class="term-condition-row">
                            <h5>${termConditionRow.heading}</h5>
                            ${termConditionRow.description @context='html'}
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>