<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.watch-videos'}"></sly>
</sly>

<!--Know everything -box-->
<section class="blog-video-box most-viewed mg-b25">
    <div class="container mob-lr-15">
        <div class="webinars-with-sort">
            <div class="heading-view">
                <h2>${properties.heading}</h2>
                <p class="all-video-number">${properties.noVideos}</p>
            </div>
            <sly data-sly-test="${properties.showFilter == 'true'}">
                <div class="sort-outer-dropdown">
                    <label class="fund-label"><span class="icon-sort"></span>${properties.sortButtonName}</label>
                    <div class="custom-dropdown custom-dropdown-new">
                        <div class="dropdown-button js-filterBtnWatchVideo" data-filter="sorting">
                            <a href="javascript:void(0);" class="jsDropDownMenuShow"></a>
                        </div>
                        <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                            <div class="dropdown-card-inner">
                                <ul class="dropdown-list-menu jsDropDownMenuGetWatchVideo">
                                    <sly data-sly-list.cardList="${resource.children}">
                                        <sly data-sly-test="${cardList.name=='sortBtnList'}">
                                            <sly data-sly-list.sortbyItem="${cardList.children}">
                                                <li class="${sortByItem.activeClass ? 'active' : ''} ">
                                                    <a href="javascript:void(0)">${sortbyItem.sortbtnText}</a>
                                                </li>
                                            </sly>
                                        </sly>
                                    </sly>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </div>

        <div class="blog-video-slider webinars-noslider">
            <sly data-sly-list.cardList="${resource.children}">
                <sly data-sly-test="${cardList.name=='cardList'}">
                    <sly data-sly-list.cards="${cardList.children}">
                        <div class="blog-slider-col" data-sortyearly="${cards.sortbyTextYearly}"  data-popovermodal="popover-modal"
                        data-target="#video-modal" data-modal-target="videoModalSrc"
                        data-heading="${cards.cardHeading}" data-nameDate="${cards.nameDate}"
                        data-desc="${cards.description}" data-subHeading="${cards.subHeading}"
                        data-video="${cards.videoLinks}">
                            <div class="blog-sliders">
                                <div class="blog-img">
                                    <img src="${cards.img}" alt="" />
                                    <div class="video-overlay">
                                        <span class="video-time">${cards.time}</span>
                                        <a href="javascript:void(0)" class="play-btn" data-popovermodal="popover-modal"
                                            data-target="#video-modal" data-modal-target="videoModalSrc"
                                            data-heading="${cards.cardHeading}" data-nameDate="${cards.nameDate}"
                                            data-desc="${cards.description}" data-subHeading="${cards.subHeading}"
                                            data-video="${cards.videoLinks}">
                                            <img src="${cards.playIcon}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="javascript:void(0)" class="icon-share share-link d-block d-md-none"
                                        data-popovermodal="popover-modal" data-target="#share-modal"
                                        data-heading="${cards.cardHeading}" data-nameDate="${cards.nameDate}"
                                        data-desc="${cards.description}" data-subHeading="${cards.subHeading}"
                                        data-target="#share-modal" data-video="${cards.videoLinks}"></a>
                                    <h6>${cards.cardHeading}</h6>
                                    <p>${cards.subHeading}</p>
                                    <span class="texts-para">${cards.description}</span>
                                </div>
                                <div class="btn-viewalls">
                                    <div class="bottom-infos">
                                        <div class="bottom-info-text"><span>${cards.nameDate}</span></div>
                                        <a href="javascript:void(0)" class="icon-share share-link d-none d-md-block"
                                            data-popovermodal="popover-modal" data-heading="${cards.cardHeading}"
                                            data-nameDate="${cards.nameDate}" data-desc="${cards.description}"
                                            data-subHeading="${cards.subHeading}" data-target="#share-modal"
                                            data-video="${cards.videoLinks}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>

        <!--  <div class="contents-loader">
            <img src="/content/dam/tata-capital-moneyfy/learn-webinar/Loader.gif" alt="">
        </div> -->
    </div>
</section>
<!-- Know everything-box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.watch-videos'}"></sly>
</sly>