<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.pop-fund-filter-box'}"></sly>
</sly>
<sly data-sly-use.fundListModel="com.tatacapital.moneyfy.core.models.FundListingModel" />
<script>
    var popCatName = "${pageProperties.popCatName @context='scriptString'}";
    var amcIconList = "${fundListModel.amcIconsPaths @context='scriptString'}";
  amcIconList = JSON.parse(amcIconList);
</script>

<!-- plan-goal box -->
<section class="fund-list-filter-box pd-t40i" id="jsFilterAddCompare">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
    </div>
    <div class="container">

        <div class="fund-list-result" >
            <div class="fund-list-result-inner">
                <div class="fund-list-result-left">
                    <div class="fund-list-result-one">
                        <h5><span data-attr="fund-list" id="fundListSize"></span> Results</h5>
                    </div>
                    <div class="fund-list-result-two">
                        <!-- <a href="javascript:void(0);" class="contact-infomarion-btn">
                      <span>8</span> Funds
                    </a> -->
                        <div class="custom-dropdown custom-dropdown-new" data-id="fundDropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                <div class="dropdown-card-inner">
                                    <ul class="dropdown-list-menu jsDropDownMenuGet" id="noOfFunds">
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fund-list-result-right">
                    <div class="fund-list-result-sort">
                        <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                        <div class="custom-dropdown custom-dropdown-new">
                            <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                <div class="dropdown-card-inner">
                                    <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                                        <li>
                                            <a href="javascript:void(0)">Morning Star - High to Low</a>
                                          </li>
                                          <li>
                                            <a href="javascript:void(0)">Morning Star - Low to High</a>
                                          </li>
                                          <li>
                                            <a href="javascript:void(0)">Value Research - High to Low</a>
                                          </li>
                                          <li>
                                            <a href="javascript:void(0)">Value Research - Low to High</a>
                                          </li>
                                          <li class="active">
                                            <a href="javascript:void(0)">Returns - High to Low</a>
                                          </li>
                                          <li>
                                            <a href="javascript:void(0)">Returns - Low to High</a>
                                          </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination box -->
        <div class="pagination-box top-pagination">
            <div class="pagination-list mf-pagination" data-id="pagination-container">
            </div>
        </div>
        <!-- pagination box -->

        <!-- fund list ul -->
        <div class="fund-list-ul jsPagination popCatFundList">
        </div>
        <!-- fund list ul -->

        <!-- pagination box -->
        <div class="pagination-box">
            <div class="pagination-list mf-pagination" data-id="pagination-container">
            </div>
        </div>
        <!-- pagination box -->

    </div>
</section>
<!-- plan-goal box -->

<div class="mob-sortby-box">
    <div class="mob-sortby-inner">
        <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
        <div class="container">
            <h6>Sort by</h6>
            <ul class="jsSelectSortList getSortBy">
                <li>
                    <label class="custom-radio-text">
                              Morning Star - High to low
                              <span class="custom-radio">
                                  <input type="radio" name="sort" value="Morning Star - High to Low">
                                  <span class="radiobox-check"></span>
                              </span>
                          </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                              Morning Star - Low to High
                              <span class="custom-radio">
                                  <input type="radio" name="sort" value="Morning Star - Low to High">
                                  <span class="radiobox-check"></span>
                              </span>
                          </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                              Value Research - High to low
                              <span class="custom-radio">
                                  <input type="radio" name="sort" value="Value Research - High to Low">
                                  <span class="radiobox-check"></span>
                              </span>
                          </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                              Value Research - Low to High
                              <span class="custom-radio">
                                  <input type="radio" name="sort" value="Value Research - Low to High">
                                  <span class="radiobox-check"></span>
                              </span>
                          </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                              Returns - High to Low
                              <span class="custom-radio">
                                  <input type="radio" name="sort" value="Returns - High to Low">
                                  <span class="radiobox-check"></span>
                              </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                              Returns - Low to High
                              <span class="custom-radio">
                                  <input type="radio" name="sort" value="Returns - Low to High">
                                  <span class="radiobox-check"></span>
                              </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.pop-fund-filter-box'}"></sly>
</sly>