/*-------   amc-fund-managers   -------*/

.pd-t40i {
    padding-top: 40px !important;
}

/*11-4-2023*/
.fund-manager-box {
  background-color: #E9F0F7;
  padding: 65px 0 75px;
  position: relative;
}

.fund-manager-box .top-inners {
  text-align: center;
}

.fund-manager-box h2 {
  margin-bottom: 13px;
}

.fund-manager-box .heading-with-view {
  margin-bottom: 12px;
}

.fund-manager-box .heading-with-view.has-view-btn {
  padding: 0 80px;
  word-break: break-word;
}
/*11-4-2023*/

.fund-manager-rows .fund-manager-col {
  height: 100%;
  padding: 25px 10px 35px;
}
.fund-manager-rows .fund-manager-col .fund-manager-card {
  height: 100%;
}

.fund-manager-card .fund-manager-top {
  padding: 25px 30px;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}
.fund-manager-card .fund-manager-top h5 {
  font-size: 18px;
  line-height: 22px;
  color: #2C6EB5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fund-manager-card .fund-manager-bottom {
  padding: 14px 30px 22px;
}
.fund-manager-card .fund-ul {
  display: flex;
  flex-wrap: wrap;
  margin: -17px -10px 0;
}
.fund-manager-card .fund-ul .fund-li {
  margin-top: 17px;
  width: 50%;
  padding: 0 10px;
}
.fund-manager-card p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.amc-box .amc-text-logo {
  position: relative;
  padding-left: 43px;
  min-height: 35px;
  display: flex;
  align-items: center;
}
.amc-box .amc-text-logo .amc-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #CCD8EE;
  position: absolute;
  left: 0px;
  top: 0px;
}
.amc-box .amc-text-logo .amc-logo img {
  margin: auto;
}
.amc-box .fund-manager-card .fund-manager-top {
  padding-bottom: 20px;
}
.amc-box .fund-manager-card .fund-manager-top h5 {
  color: #333;
}
.card-div {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
    border-radius: 10px;
}
.heading-with-view .btn-view-all {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.icon-arrow-right:before {
    content: "\e905";
}
h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;    
    letter-spacing: -0.01em;    
    color: #333333;
}

h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;    
    color: #333333;
}
h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;    
    letter-spacing: -0.01em;    
    color: #333333;
}
h4{
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #333333;
}
h5{ 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;               
    color: #333333;
}
h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.mob-card-show {
    display: none;
    margin-top: 15px;
}
.tab-view-all {
    display: none;
}
.btn-view-all span {
    margin-left: 7px;
    font-size: 10px;
}
@media (max-width: 991px) {
  .fund-manager-box {
    padding: 45px 0;
  }
    .tab-view-all {
    display: block;
    padding-top: 30px;
    text-align: center;
}
}
@media (max-width: 767px) {
    /*11-4-2023*/
    .fund-manager-box .heading-with-view.has-view-btn {
      padding-left: 0;
    }
  
    .fund-manager-box .heading-with-view.has-view-btn h2 {
      padding-right: 0;
    }
  
    .fund-manager-box.amc-listing-box {
      padding-top: 30px !important;
    }
  
    .fund-manager-box.fund-manager-listing {
      padding: 25px 0 40px;
    }
  
    .fund-manager-box.fund-manager-listing .pagination-box {
      padding-top: 10px;
    }
  
    .fund-manager-box.fund-manager-listing .fund-manager-rows {
      width: 100%;
    }
  
    .fund-manager-box.fund-manager-listing .fund-manager-rows .fund-manager-col {
      border: none;
    }
  
    .fund-manager-box .container.fund-manager {
      padding: 0px;
    }
  
    .fund-manager-box h2 {
      margin-bottom: 6px;
    }
  
    .fund-manager-box .top-headings p {
      font-size: 14px;
      line-height: 22px;
    }
    /*11-4-2023*/

  .fund-manager-rows .fund-manager-col {
    padding-left: 4px;
    padding-right: 4px;
    height: auto;
  }

  .fund-manager-card {
    border: 1px solid rgba(122, 204, 255, 0.3);
  }
  .fund-manager-card .fund-ul {
    margin-left: -5px;
    margin-right: -5px;
  }
  .fund-manager-card .fund-ul .fund-li {
    width: 33.33%;
    padding: 0 5px;
  }
  .fund-manager-card .fund-manager-top {
    padding: 15px 17px;
  }
  .fund-manager-card .fund-manager-top h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .fund-manager-card .fund-manager-bottom {
    padding: 17px 17px;
  }
  .fund-manager-card p {
    font-size: 11px;
    line-height: 12px;
    color: #666666;
    margin-bottom: 4px;
  }
  .fund-manager-card h6 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }

  .amc-box .fund-manager-card .fund-manager-top {
    padding-bottom: 15px;
  }
.mob-card-show {
    display: block;
}
 h1 { 
        font-size: 30px; 
        line-height: 36px; 
    }
    h2 { 
        font-size: 24px; 
        line-height: 29px; 
    }
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    h4{       
        font-size: 18px;
        line-height: 21px;
    }
    h5{         
        font-size: 16px;
        line-height: 24px;
    }
    h6 {
        font-size: 12px;
        line-height: 18px;
    }
}
@media (max-width: 374px) {
  .fund-manager-card {
    width: 320px;
  }
}
@media (max-width: 359px) {
  .fund-manager-card {
    width: 295px;
  }
}

/*-------   amc-fund-managers   -------*/
