.product-box {
  position: relative;
}

.product-box .heading {
  text-align: center;
}

.product-box .product-box-bg {
  position: absolute;
  max-width: 180px;
  opacity: 0.1;
  bottom: 0;
  transform: translateY(50%);
}

.products-wrap {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.product-item {
  padding: 40px 20px 90px;
  width: 50%;
  position: relative;
}

.product-item-1 {
  background-color: #E9F0F7;
}

.product-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  padding-bottom: 30px;
  margin-bottom: 25px;
}

.product-head .img-wrap {
  width: 80px;
  min-width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
}

.product-head .img-wrap img {
  max-height: 42px;
  object-fit: contain;
}

.product-body h6 {
  margin-bottom: 15px;
}

.product-body .product-benefits {
  margin-bottom: 28px;
}

.product-body .product-benefits li {
  font-size: 17px;
  line-height: 28px;
  color: #606060;
  margin-bottom: 12px;
  position: relative;
  padding-left: 23px;
}

.product-body .product-benefits li:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ACB4D1;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 0;
}

.product-body .btn {
  position: absolute;
  left: 20px;
  bottom: 40px;
  max-width: 305px;
}

.product-item-2 {
  background-color: #2C6EB5;
}

.product-item-2 h3, .product-item-2 h6 {
  color: #fff;
}

.product-item-2 .product-benefits li {
  color: #fff;
}

@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .product-box .heading {
    text-align: left;
  }

  .product-item {
    padding: 30px 15px 80px;
  }

  .product-head {
    padding-bottom: 20px;
    margin-bottom: 15px;
  }

  .product-head .img-wrap {
    width: 50px;
    min-width: 50px;
    height: 50px;
  }

  .product-head .img-wrap img {
    max-height: 25px;
  }

  .product-body h6 {
    font-size: 14px;
    line-height: 21px;
  }

  .product-body .product-benefits li {
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
  }

  .product-body .product-benefits li:before {
    width: 5px;
    height: 5px;
  }

  .product-body .btn {
    right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */