<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<!--/*<meta name="description" content="" />*/-->
<link rel="icon" type="image/*" href="/content/dam/tata-capital-moneyfy/favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

<!-- /* <sly data-sly-use.followAnalytics="${'com.tatacapital.moneyfy.core.services.MoneyfyConfigs'}"/>
<script src="${followAnalytics.config.dtmScript @ context = 'unsafe'}"
    defer="true"></script>
<script>
    var jocataUrl = '${followAnalytics.config.jocataDomainUrl @ context = "unsafe"}';
    var loadFollowAnalyticsAsync = function () {
        return new Promise(function (resolve, reject) {
            var tag = document.createElement('script');
            tag.src = '/fa-sdk-web.js';
            tag.async = true;
            tag.onload = function () {
                resolve();
            };
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        });
    }
    var FollowAnalyticsLoaded = loadFollowAnalyticsAsync();
    window.addEventListener('DOMContentLoaded', function () {
        FollowAnalyticsLoaded.then(function () {
            FollowAnalytics.initialize({
                FAID: '${followAnalytics.config.followAnalyticsId @ context = "unsafe"}',
                bundleId: '${followAnalytics.config.followAnalyticsBundle @ context = "unsafe"}',
                defaultIcon: '${followAnalytics.config.followAnalyticsDefaultIcon @ context = "unsafe"}'});
        });
    });
</script> */-->
<!--/*Moengage Integration Start*/-->
<!-- var jocataUrl = '${followAnalytics.config.jocataDomainUrl @ context = "unsafe"}'; -->
<sly data-sly-use.moneyfyConfigs="${'com.tatacapital.moneyfy.core.services.MoneyfyConfigs'}" />
<script src="${moneyfyConfigs.config.dtmScript @ context = 'unsafe'}"
    defer="true">
</script>
<script>
    var appIdMoengage = "${moneyfyConfigs.config.moengageAppId @ context = 'scriptString'}"
    var debugLogMoengage = "${moneyfyConfigs.config.debugLog @ context = 'scriptString'}"
    var jocataUrl = "${moneyfyConfigs.config.jocataDomainUrl @ context = 'unsafe'}"
    var shaftAuthToken = "${moneyfyConfigs.config.shaftAuthToken @ context = 'scriptString'}"
     var moengageScrollFlag = false;
     if(screen.width <= 786){
         document.addEventListener('touchstart', function() {
             if (!moengageScrollFlag) {
                 moengageScrollFlag = true;
                 var script = document.createElement('script');
                 script.src = "/service-worker.js";
                 document.body.appendChild(script);
                 (function(i,s,o,g,r,a,m,n){i.moengage_object=r;t={};q=function(f){return function(){(i.moengage_q=i.moengage_q||[]).push({f:f,a:arguments})}};f=['track_event','add_user_attribute','add_first_name','add_last_name','add_email','add_mobile','add_user_name','add_gender','add_birthday','destroy_session','add_unique_user_id','moe_events','call_web_push','track','location_type_attribute'],h={onsite:["getData","registerCallback"]};for(k in f){t[f[k]]=q(f[k])}for(k in h)for(l in h[k]){null==t[k]&&(t[k]={}),t[k][h[k][l]]=q(k+"."+h[k][l])}a=s.createElement(o);m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);i.moe=i.moe||function(){n=arguments[0];return t};a.onload=function(){if(n){i[r]=moe(n)}}})(window,document,'script','https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js','Moengage')
             }
         });
     }
     else{
         document.addEventListener('mousemove', function() {
             if (!moengageScrollFlag) {
                 moengageScrollFlag = true;
                 var script = document.createElement('script');
                 script.src = "/service-worker.js";
                 document.body.appendChild(script);
                 (function(i,s,o,g,r,a,m,n){i.moengage_object=r;t={};q=function(f){return function(){(i.moengage_q=i.moengage_q||[]).push({f:f,a:arguments})}};f=['track_event','add_user_attribute','add_first_name','add_last_name','add_email','add_mobile','add_user_name','add_gender','add_birthday','destroy_session','add_unique_user_id','moe_events','call_web_push','track','location_type_attribute'],h={onsite:["getData","registerCallback"]};for(k in f){t[f[k]]=q(f[k])}for(k in h)for(l in h[k]){null==t[k]&&(t[k]={}),t[k][h[k][l]]=q(k+"."+h[k][l])}a=s.createElement(o);m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);i.moe=i.moe||function(){n=arguments[0];return t};a.onload=function(){if(n){i[r]=moe(n)}}})(window,document,'script','https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js','Moengage')
             }
         });
     }
 </script>
 <!--/*Moengage Integration End*/-->