<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.about-us-data-box'}"></sly>
</sly>

<section class="why-monefy-box about-data-box">
    <div class="container">
        <div class="about-data-inner">
            <div class="list-why-monefy slider-dots slider-arrows flex-slider" id="aboutUsDataSlider">
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'whyMoneyfyListMultifield'}">
                        <sly data-sly-list.whyMoneyfyList="${listItem.children}">
                            <div class="why-monefy-li">
                                <div class="why-monefy-col">
                                    <div class="monefy-img" data-sly-test="${whyMoneyfyList.image}">
                                        <img src="${whyMoneyfyList.image}" alt="">
                                    </div>
                                    <h5>${whyMoneyfyList.heading}</h5>
                                    ${whyMoneyfyList.description @context='html'}
                                </div>
                            </div>
                        </sly>
                    </sly>
                </sly>
            </div>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.about-us-data-box'}"></sly>
</sly>