.banner-box h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #333333;
}

.banner-box {
    padding: 0px 0px 50px;
    position: relative;
}

.tab-left-btn a {
    margin: 0 10px 10px;
    min-width: 159px;
}

@media (min-width:768px) {
	.btn-blue.btn-blue-outline:hover {
    	background-color: #2C6EB5;
    	color: #FFFFFF;
	}
}


/*-------       -------*/

.banner-box .banner-dot-bg {
  position: relative;
  background: url("/content/dam/tata-capital-moneyfy/home-page/banner-bg.png") no-repeat top right;
  background-size: contain;
}
.banner-box .banner-dot-bg.banner-blue {
  background-image: url("/content/dam/tata-capital-moneyfy/home-page/banner-bg-blue.png");
}
.banner-box .slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.banner-box .slider-dots .slick-dots li {
  margin: 0 4px;
}
.banner-box .slider-dots .slick-dots li.slick-active button {
  background-color: #D7DF23;
}
.banner-box .slider-arrows .slick-arrow {
  bottom: auto;
  top: 50%;
}
.banner-box .slider-arrows .slick-prev {
  margin-left: -615px;
}
.banner-box .slider-arrows .slick-next {
  margin-right: -615px;
}
.banner-box .slick-dots {
  bottom: 30px;
}
.banner-box .banner-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0 39px;
}
.banner-box .banner-left {
  padding-top: 35px;
  width: 480px;
  padding-right: 20px;
  height: 100%;
}
.banner-box .banner-left h1 {
  margin-bottom: 7px;
}
.banner-box .banner-left p {
  font-size: 17px;
  line-height: 28px;
  color: #606060;
  margin-bottom: 32px;
}
.banner-box .banner-right {
  width: 580px;
}
.banner-box .banner-slider .banner-slide-inner {
  position: relative;
  padding-top: 5px;
}
.banner-box .banner-slider .banner-slide-inner .banner-share-info {
  background-color: #034EA2;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
  padding: 30px 14px;
  min-width: 175px;
  position: absolute;
  left: 20%;
  bottom: 12%;
  z-index: 4;
}
.banner-box .banner-slider .banner-slide-inner .banner-share-info .share-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #66CC99;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 14px;
  color: #fff;
}
.banner-box .banner-slider .banner-slide-inner .banner-share-info p {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 10px;
}
.banner-box .banner-slider .banner-slide-inner .banner-share-info .text-equity {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #CC66CC;
  background: #FFE8FF;
  border: 1px solid rgba(204, 102, 204, 0.66);
  border-radius: 25.5px;
  padding: 4px 22px;
  word-break: break-word;
}
.banner-box .banner-slider .banner-slide-inner .banner-share-info.share-white {
  background-color: #fff;
  border: 1px solid #84b8f4;
  z-index: 3;
  left: 28px;
  bottom: auto;
  top: 0px;
}
.banner-box .banner-slider .banner-slide-inner .banner-share-info.share-white p {
  color: #333;
}
.banner-box .banner-blue {
  background-color: #2C6EB5;
}
.banner-box .banner-blue h1 {
  color: #fff;
}
.banner-box .banner-blue p {
  color: #fff;
}
.banner-box .banner-blue .btn-blue {
  background-color: #fff;
  color: #2C6EB5;
}
.banner-box .banner-blue .btn-blue.btn-blue-outline {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.banner-heightinner {
  height: 400px;
  overflow: hidden;
}

.banner-image {
  position: relative;
  overflow: hidden;
}
.banner-image .banner-caption {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.banner-image .banner-caption .container {
  height: 100%;
}
.banner-image .banner-caption-inner {
  background-color: rgba(0, 88, 153, 0.9);
  width: 380px;
  height: 100%;
  padding: 20px 25px 20px 0px;
  position: relative;
}
.banner-image .banner-caption-inner:after {
  content: "";
  width: 5000px;
  height: 100%;
  left: -5000px;
  background-color: rgba(0, 88, 153, 0.9);
  position: absolute;
  top: 0px;
  display: block;
}
.banner-image .banner-caption-inner h6 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-weight: 400;
}
.banner-image .banner-caption-inner h3 {
  color: #fff;
  margin-bottom: 15px;
}
.banner-image .banner-caption-inner .btn-blue {
  margin-bottom: 15px;
}
.banner-image .banner-caption-inner .btn-view-all {
  color: #fff;
}

@media (max-width: 1279px) {
  .banner-box .slick-dots {
    bottom: 28px;
  }
  .banner-box .slider-arrows .slick-arrow {
    bottom: 7px;
    top: auto;
    width: 30px;
    height: 30px;
  }
  .banner-box .slider-arrows .slick-arrow:before {
    font-size: 10px;
  }
  .banner-box .slider-arrows .slick-prev {
    margin-left: -105px;
  }
  .banner-box .slider-arrows .slick-next {
    margin-right: -105px;
  }
  .banner-box .banner-left {
    padding-top: 35px;
    width: 505px;
  }
  .banner-box .banner-inner {
    padding-bottom: 54px;
  }
}
@media (max-width: 1199px) {
  .banner-box .banner-left {
    width: 406px;
  }
  .banner-box .banner-left .btn-blue {
    padding-left: 19px;
    padding-right: 19px;
  }
  .banner-box .banner-right {
    width: 420px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info {
    left: 20%;
    bottom: 14%;
  }
}
@media (max-width: 1024px) {
  .banner-box .banner-left {
    width: 493px;
  }
}
@media (max-width: 991px) {
  .banner-box {
    padding-bottom: 20px;
  }
  .banner-box .slider-arrows .slick-arrow {
    bottom: 20px;
  }
  .banner-box .slick-dots {
    bottom: 41px;
  }
  .banner-box .banner-inner {
    padding-bottom: 78px;
  }
  .banner-box .banner-left {
    width: 360px;
    padding-right: 15px;
  }
  .banner-box .banner-left h1 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 6px;
  }
  .banner-box .banner-left p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }
  .banner-box .banner-left .tab-left-btn button {
    min-width: 140px;
  }
  .banner-box .banner-left .tab-left-btn .btn-blue {
    font-size: 11px;
    padding: 11px 15px;
  }
  .banner-box .banner-right {
    width: 335px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info {
    padding: 17px 14px;
    min-width: 122px;
    left: 60px;
    bottom: 13%;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 9px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info .text-equity {
    font-size: 8px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info.share-white {
    left: 0;
  }

  .banner-heightinner {
    height: 350px;
  }

  .banner-left .tab-left-btn a {
    min-width: 140px;
  }

}
@media (max-width: 767px) {
  .banner-box {
    background: none;
  }

  .banner-box .banner-inner {
    display: block;
    padding-top: 20px;
    padding-bottom: 71px;
  }
  .banner-box .slick-dots {
    bottom: 25px;
  }
  .banner-box .slider-arrows .slick-arrow {
    bottom: 5px;
  }
  .banner-box .banner-left {
    width: 100%;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: left;
  }
  .banner-box .banner-left p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 19px;
  }
  .banner-box .banner-left .tab-left-btn {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .banner-box .banner-left .tab-left-btn .btn-blue.btn-blue-outline {
    min-width: inherit;
    padding-left: 0px;
    padding-right: 0px;
  }
  .banner-box .banner-right {
    width: 330px;
    margin: auto;
  }
  .banner-box .banner-slider .banner-slide-inner {
    padding-top: 0px;
  }
  .banner-box .banner-slider .banner-slide-inner img {
    margin: auto;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info {
    min-width: 115px;
    padding: 14px 14px 22px;
    left: 23%;
    bottom: 18%;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info.share-white {
    left: 0px;
    top: -30px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info .share-icons {
    width: 24px;
    height: 24px;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info p {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 7px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info .text-equity {
    font-size: 8px;
    line-height: 12px;
    padding: 3px 13px;
  }

  .banner-image .banner-image-outer img {
    width: 100%;
  }
  .banner-image .banner-caption {
    bottom: auto;
  }
  .banner-image .banner-caption-inner {
    padding: 20px 0px 80px;
    width: 100%;
  }
  .banner-image .banner-caption-inner:before {
    content: "";
    width: 5000px;
    height: 100%;
    right: -5000px;
    background-color: rgba(0, 88, 153, 0.9);
    position: absolute;
    top: 0px;
    display: block;
  }

  .banner-heightinner {
    height: 460px;
  }

  .banner-box h1{
	font-weight: 600;
  }

  .btn-blue .btn-blue-outline:hover{
    background-color: transparent;
    color: #2C6EB5;
  }

  .tab-left-btn a{
    min-width: 135px;
    margin: 0 5px 5px;

  }

}
@media (max-width: 359px) {
  .banner-box .slick-dots {
    bottom: 30px;
  }
  .banner-box .slider-arrows .slick-arrow {
    bottom: 9px;
  }
  .banner-box .banner-inner {
    padding-bottom: 75px;
  }
  .banner-box .banner-right {
    width: 290px;
  }
  .banner-box .banner-slider .banner-slide-inner .banner-share-info.share-white {
    top: -50px;
  }
  .banner-box .banner-left .tab-left-btn .btn-blue {
    padding-left: 10px;
    padding-right: 10px;
    min-width: inherit;
    margin-left: 3px;
    margin-right: 3px;
  }

  .banner-heightinner {
    height: 464px;
  }
}

/*# sourceMappingURL=style.css.map */
