<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.redemtion-box'}"></sly>
</sly>
<!-- Instant Redemption box -->
<section class="instant-redemption-box">
    <div class="container">
        <div class="card-div instant-redemption">
            <div class="instant-redemption-inner">
                <div class="left-col">
                    <h1 class="h1-tag">${properties.heading}</h1>
                    ${properties.description @context='html'}
                </div>
                <div class="right-col">
                    <h5>${properties.subTitle}</h5>
                    <div class="benefits-wrap">
                        <sly data-sly-list.box="${resource.children}">
                            <sly data-sly-test="${box.name == 'boxlist'}">
                                <sly data-sly-list.boxlist="${box.children}">
                                    <div class="benefit-item">
                                        <div class="img-wrap">
                                            <img src="${boxlist.benefittypeImage}" alt="">
                                        </div>
                                        ${boxlist.benifitdescription @context='html'}
                                    </div>
                                </sly>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instant Redemption box -->

<div class="start-investment-journey-box">
    <div class="container">
        <div class="inlarge-invest-journey">
            <div class="invest-journey-inner">
                <div class="invest-journey-left">
                    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/invest-journey-img.svg" alt="">
                    <h4>To get Started on your investment journey</h4>
                </div>
                <div class="invest-journey-right">
                    <button type="button" class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite text-stealblue" data-popregisterbtn="registerNow">register now</button>
                </div>
            </div>
        </div>
    </div>
</div>