.fibechoose-box {
  background-color: #E9F0F7;
  padding: 52px 0 60px;
}
.fibechoose-box .fibechoose-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fibechoose-box .fibechoose-left {
  width: 454px;
}
.fibechoose-box .fibechoose-right {
  width: calc(100% - 454px);
  padding-left: 56px;
}
.fibechoose-box h2 {
  margin-bottom: 32px;
}
.fibechoose-box .dot-list li:before {
  background-color: #2C6EB5;
}

@media (max-width: 991px) {
  .fibechoose-box {
    padding: 45px 0 35px;
  }
  .fibechoose-box h2 {
    text-align: center;
  }
  .fibechoose-box .fibechoose-row {
    display: block;
  }
  .fibechoose-box .fibechoose-left {
    width: auto;
    max-width: 400px;
    margin: 0 auto 30px;
  }
  .fibechoose-box .fibechoose-right {
    width: 100%;
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .fibechoose-box {
    padding: 40px 0 30px;
  }
  .fibechoose-box .fibechoose-left {
    max-width: 250px;
  }
  .fibechoose-box .dot-list li {
    font-size: 14px;
    line-height: 24px;
  }
  .fibechoose-box .dot-list li:before {
    top: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
