.work-video-box {
  position: relative;
  background-color: #66CC99;
  padding: 75px 0 40px;
  background-image: url("/content/dam/tata-capital-moneyfy/credit-card-tax-filing/video-bg-left-dsk.png"), url("/content/dam/tata-capital-moneyfy/credit-card-tax-filing/video-bg-right-dsk.png");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}
.work-video-box h6, .work-video-box h2, .work-video-box p {
  color: #fff;
}
.work-video-box h2 {
  margin-bottom: 12px;
}
.work-video-box .work-video-left {
  width: calc(100% - 650px);
  padding-top: 35px;
  padding-right: 14px;
}
.work-video-box .work-video-inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.work-video-box.income-tax-return {
  padding: 60px 0;
}
.work-video-box.income-tax-return .work-video-inner {
  justify-content: space-between;
}
.work-video-box.income-tax-return h2 {
  margin-bottom: 40px;
}
.work-video-box.income-tax-return .work-video-left {
  width: 535px;
  padding-top: 15px;
}
.work-video-box.income-tax-return .work-right-img {
  width: 400px;
}

.work-t70 {
  margin-top: 70px;
}

@media (max-width: 1199px) {
  .work-video-box .work-video-left {
    width: calc(100% - 450px);
  }
  .work-video-box.income-tax-return .work-right-img {
    width: 380px;
  }
}

@media (max-width: 991px) {
  .work-video-box {
    padding: 40px 0 45px;
    text-align: center;
    background-image: url("/content/dam/tata-capital-moneyfy/credit-card-tax-filing/video-bg-left-mob.png"), url("/content/dam/tata-capital-moneyfy/credit-card-tax-filing/video-bg-right-mob.png");
  }
  .work-video-box .work-video-left {
    width: 100%;
    padding: 0px 0 35px;
  }
  .work-video-box .work-video-inner {
    display: block;
  }
  .work-video-box.income-tax-return {
    padding: 40px 0;
  }
  .work-video-box.income-tax-return .work-video-left {
    width: 100%;
    padding: 0 0 35px;
  }
  .work-video-box.income-tax-return .work-right-img {
    width: 350px;
    margin: auto;
  }
  .work-t70 {
    margin-top: 45px;
  }

}
@media (max-width: 767px) {
  .work-video-box {
    text-align: left;
  }
  .work-video-box h6 {
    margin-bottom: 9px;
  }
  .work-video-box p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }
  .work-video-box.income-tax-return h2 {
    margin-bottom: 25px;
  }
  .work-video-box.income-tax-return .work-right-img {
    width: 100%;
    max-width: 250px;
  }

  .service-request-box {
    padding: 45px 0;
    background-size: 170px;
    background-position-x: -40px;
  }
  .service-request-box h4 {
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 26px;
  }
}