.similar-mutual-funds {
  padding: 70px 0 80px;
  background-color: #E9F0F7;
}

.similar-mutual-funds-items {
  overflow: hidden;
  border: 1px solid rgba(122, 204, 255, 0.3);
}
.similar-mutual-funds-items .top-row {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}
.similar-mutual-funds-items .top-row .invest-more-wrap {
  width: 200px;
}
.similar-mutual-funds-items .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  padding: 10px 25px;
}
.similar-mutual-funds-items .bottom-row .tag-wrap {
  border-right: 0;
  margin-left: 70px;
}
.similar-mutual-funds-items .img-name-wrap {
  margin-bottom: 0;
}
.similar-mutual-funds-items .name-rating-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.similar-mutual-funds-items .name-rating-wrap h6 {
  overflow: hidden;
  max-width: 280px;
}
.similar-mutual-funds-items .info-rating-wrap {
  width: 375px;
}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.name-rating-wrap .rating-wrap {
  display: flex;
  align-items: center;
}
.name-rating-wrap .rating-wrap .rate {
  font-weight: bold;
  color: #F2C94C;
}
.name-rating-wrap p {
  margin-left: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
}

.return-item {
  padding: 0 15px;
}
.return-item:not(:last-child) {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.returs-box {
  width: 390px;
}

.returs-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.returs-wrap .label-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.similar-mutual-funds-slider .card-div {
  border: 1px solid rgba(122, 204, 255, 0.3);
  overflow: hidden;
  margin-top: 20px;
}

.button-wrap {
  display: flex;
  align-items: center;
}

.watchlist-compare-btn {
  display: flex;
  align-items: center;
}

.add-watchlist-wrap {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
  margin-right: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.add-watchlist-wrap [class^=icon-] {
  font-size: 24px;
  margin-right: 10px;
}

.add-compare-wrap label {
  margin-right: 20px;
}

.invest-now-btn {
  padding: 12px 20px;
  margin-right: 15px;
}

.btn-view-all [class^=icon-] {
  transition: all 0.3s;
}
.btn-view-all.active [class^=icon-] {
  transform: rotate(-180deg);
}

.desktop-view-more {
  background-color: #F9FCFF;
  padding: 10px 25px;
  margin-bottom: 0;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
}
.desktop-view-more .returs-wrap {
  width: auto;
  margin-left: 55px;
  justify-content: flex-start;
}

.fund-managerfilterbox {
  padding-bottom: 70px;
  position: static !important;
}
.fund-managerfilterbox .pagination-box {
  padding-top: 10px;
}

.similar-mutual-btn .view-all-mf {
  text-align: center;
  margin-top: 20px;
}

.js-similar-fund-list .js-similar-list {
  display: none;
}

@media (max-width: 1200px) {
  .similar-mutual-funds-items .invest-now-btn {
    padding: 9px 15px;
    margin-right: 10px;
  }
  .similar-mutual-funds-items .returs-wrap .label-text {
    font-size: 11px;
    line-height: 15px;
  }
  .similar-mutual-funds-items .name-rating-wrap p {
    font-size: 11px;
    line-height: 14px;
    margin-right: 6px;
  }
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 40px;
    width: 40px;
    height: 40px;
    padding: 3px;
    margin-right: 10px;
  }
  .similar-mutual-funds-items .bottom-row .tag-wrap {
    border-right: 0;
    margin-left: 47px;
  }
  .similar-mutual-funds-items .desktop-view-more .returs-wrap {
    margin-left: 34px;
  }
  .similar-mutual-funds-items .name-rating-wrap h6 {
    max-width: 267px;
  }
}
@media (max-width: 991px) {
  .similar-mutual-funds {
    padding: 40px 0;
  }

  .similar-mutual-funds-items .top-row {
    padding: 15px 10px;
  }
  .similar-mutual-funds-items .bottom-row {
    padding: 10px 10px;
  }
  .similar-mutual-funds-items .bottom-row .tag-wrap {
    margin-left: 0;
  }
  .similar-mutual-funds-items .name-rating-wrap h6 {
    font-size: 13px;
    line-height: 17px;
    max-width: 192px;
  }
  .similar-mutual-funds-items .returs-wrap {
    margin: 0 -8px;
  }
  .similar-mutual-funds-items .return-item {
    padding: 0 8px;
  }
  .similar-mutual-funds-items .return-item h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .similar-mutual-funds-items .returs-box {
    margin-right: 10px;
  }
  .similar-mutual-funds-items .returs-box .label-text {
    font-size: 9px;
  }
  .similar-mutual-funds-items .name-rating-wrap p {
    font-size: 9px;
  }
  .similar-mutual-funds-items .invest-now-btn {
    padding: 6px 10px;
    margin-right: 5px;
    font-size: 9px;
  }
  .similar-mutual-funds-items .btn-view-all {
    font-size: 12px;
  }
  .similar-mutual-funds-items .add-watchlist-wrap {
    font-size: 10px;
    line-height: 15px;
    margin-right: 12px;
  }
  .similar-mutual-funds-items .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
  }
  .similar-mutual-funds-items .custom-checkbox label {
    font-size: 10px;
    line-height: 15px;
    margin-right: 12px;
  }
  .similar-mutual-funds-items .button-wrap .btn-view-all {
    font-size: 10px;
    line-height: 15px;
  }
  .similar-mutual-funds-items .desktop-view-more {
    padding: 10px;
  }
  .similar-mutual-funds-items .desktop-view-more .returs-wrap {
    margin-left: 0px;
  }

  .fund-managerfilterbox {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap .watchlist-icon {
    margin-right: 7px;
    min-width: 25px;
    width: 25px;
    height: 25px;
  }

  .similar-mutual-funds-items {
    margin: 0 0px 20px;
    border: none;
  }
  .similar-mutual-funds-items .img-name-wrap {
    margin-bottom: 5px;
  }
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    padding: 3px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #2C6EB5;
    max-width: 155px;
    margin-bottom: 10px;
  }
  .similar-mutual-funds-items .top-row {
    padding: 15px 15px 0;
  }
  .similar-mutual-funds-items .top-row .info-rating-wrap {
    width: 100%;
  }
  .similar-mutual-funds-items .bottom-row {
    border-top: 0;
    background-color: transparent;
    padding: 0 15px 15px;
    display: block;
  }
  .similar-mutual-funds-items .rating-wrap {
    margin-bottom: 7px;
  }
  .similar-mutual-funds-items .tag-item {
    margin-bottom: 5px;
  }
  .similar-mutual-funds-items .return-info-more-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .similar-mutual-funds-items .return-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .similar-mutual-funds-items .rating-wrap p {
    margin-left: 0;
    margin-right: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .similar-mutual-funds-items .desktop-view-more {
    display: none;
  }
  .similar-mutual-funds-items .return-item .label-text {
    margin-bottom: 4px;
  }
  .similar-mutual-funds-items .return-item h6 {
    font-size: 14px;
    line-height: 21px;
  }

  .name-return-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-return-wrap .return-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .name-return-wrap .return-info .select2-selection--single {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    width: 100px;
    height: 22px;
    margin-bottom: 5px;
  }
  .name-return-wrap .return-info .select2-selection--single .select2-selection__rendered {
    color: #606060;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
  }
  .name-return-wrap .return-info .trend-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #333333;
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
  .name-return-wrap .return-info .trend-info .icon {
    font-size: 10px;
  }
  .name-return-wrap .img-name-wrap {
    max-width: calc(100% - 110px);
  }

  .tag-more-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .tag-more-wrap .tag-wrap {
    width: calc(100% - 60px);
  }
  .tag-more-wrap .btn-view-all span {
    line-height: 14px;
    font-size: 11px;
  }

  .similar-mutual-funds .view-all-mf {
    text-align: center;
    margin-top: 10px;
  }
  .similar-mutual-funds .slick-arrow {
    bottom: -57px;
  }
  .similar-mutual-funds .slick-dots {
    bottom: -35px;
  }

  .view-more-wrap {
    width: 100%;
    background-color: #F3F9FF;
    margin-bottom: 0;
  }
  .view-more-wrap .returs-wrap {
    width: 100%;
    flex-wrap: wrap;
    padding: 8px 15px;
  }
  .view-more-wrap .returs-wrap .return-item {
    width: 50%;
    margin: 5px 0;
    border: 0;
  }
  .view-more-wrap .watchlist-compare-btn {
    justify-content: center;
    padding: 13px 15px;
    border-top: 1px solid rgba(122, 204, 255, 0.3);
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
    width: 50%;
    font-size: 10px;
    line-height: 16px;
    margin-right: 0;
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
    line-height: 16px;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap {
    width: 50%;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
    margin-right: 0;
    font-size: 11px;
    line-height: 16px;
  }
  .view-more-wrap .invest-detail-wrap {
    padding: 12px 15px;
    text-align: center;
  }
  .view-more-wrap .invest-detail-wrap .invest-now-btn {
    padding: 6px 25px;
    min-width: 128px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .view-more-wrap .invest-detail-wrap .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }

  .slider-container {
    padding: 0;
  }

  .fund-managerfilterbox {
    padding-bottom: 30px;
  }
  .fund-managerfilterbox .pagination-box {
    padding-top: 30px;
  }
}
@media (max-width: 374px) {
  .similar-mutual-funds-items .img-name-wrap h6 {
    max-width: 100px;
  }
}
@media (max-width: 350px) {
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-size: 14px;
    line-height: 16px;
  }

  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
    font-size: 10px;
    line-height: 15px;
    margin-right: 8px;
    width: calc(50% - 8px);
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
    font-size: 10px;
    line-height: 15px;
  }
}

/* watchList added tick css */

.add-watchlist-wrap .watchlist-icon {
  min-width: 35px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  font-size: 24px;
  position: relative;
  margin-right: 10px;
}

.add-watchlist-wrap.addedWatchlist .watchlist-icon {
  background-color: rgba(31, 199, 80, 0.1);
}
.add-watchlist-wrap.addedWatchlist .watchlist-icon:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/green-ticks.svg") no-repeat center center;
  position: absolute;
  right: -6px;
  top: 0px;
  background-size: contain;
}

.add-watchlist-wrap .watchlist-icon i {
  font-size: 24px;
  margin: 0 auto;
}

.add-watchlist-wrap.addedWatchlist .watchlist-icon i {
  font-size: 22px;
  color: #1FC750;
}
.add-watchlist-wrap.addedWatchlist .wishlist-text {
  color: #1FC750;
}
.view-more-wrap .watchlist-compare-btn .add-watchlist-wrap.addedWatchlist .watchlist-icon:before {
  content: "";
  width: 13px;
  height: 13px;
}
.similar-mutual-funds-items .mf-fund-name {
  color: #333;
}