.no-found {
    margin-left: 45%;
    font-weight: 500;
    font-size: 15px;
}

@media (min-width: 767px) {
    .d-mob-none {
        display: none !important;
    }

    .d-lap-block {
        display: block !important;
    }
}

@media (max-width: 767px){
    #addFromPortfolio {
        overflow: hidden !important;
    }

    #addFromWishList {
        overflow: hidden !important;
    }

    .tab-left-btn {
        margin: 0;
        justify-content: center;
        display: flex;
    }

    .notification-modal .popover-modal-dialog{
        margin: 115px auto;
    }

    .no-found {
        margin-left: 30%;
    }

    .wishlist-body .rating-mob {
        display: flex;
        padding: 0 15px;
      }
      .wishlist-body .checkbox-name-wrap {
        display: flex;
        max-width: calc(100% - 100px);
      }
      .wishlist-body .custom-checkbox label {
        margin-right: 0;
      }
      .wishlist-body .search-count-box {
        margin-bottom: 15px;
      }
      .wishlist-body .search-lists-box {
        padding-top: 0;
      }
      .wishlist-body .search-wrap {
        width: 100%;
      }
      .wishlist-body .search-wrap .header-search {
        width: 100%;
      }
      .wishlist-body .fund-add-count {
        margin: 10px 0;
      }
      .wishlist-body .fund-add-count p {
        font-size: 12px;
      }
      .wishlist-body .fund-add-count p .count-wrap {
        font-size: 14px;
      }
}

@media (max-width: 1200px){
    .checkbox-name-wrap .custom-checkbox {
        padding-top: 8px;
    }
}
.pagination-list ul li .clickable {
    pointer-events: none;
    width: auto;
}

.checkbox-name-wrap {
    display: flex;
}

.checkbox-name-wrap .custom-checkbox {
    padding-top: 13px;
}

.search-count-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wishlist-body .search-count-box {
    margin-bottom: 25px;
}

.fund-add-count p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    display: flex;
    align-items: center;
}

.fund-add-count p .count-wrap {
    font-size: 16px;
    line-height: 24px;
    margin-left: 5px;
}


.wishlist-mCustomScrollbar {
    max-height: 230px;
}

.wishlist-fund-list {
    margin-bottom: 30px;
}

.wishlist-body .fund-list-li {
    margin-bottom: 15px;
}

.wishlist-mCustomScrollbar .card-div {
    box-shadow: 0px 3px 12px rgb(153 186 208 / 26%);
}

.disable-fund-card {
    opacity: 0.5;
    pointer-events: none;
}

.wishlist-body .similar-mutual-funds-items .top-row .name-return-wrap .img-name-wrap {
    max-width: 100%;
}

.wishlist-body .return-info .select2-selection--single {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    width: 100px;
    height: 22px;
    margin-bottom: 5px;
}

.wishlist-body .return-info .select2-selection--single .select2-selection__rendered {
    color: #606060;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
}

  /* css for video-login popup overlap */
  .modal-backdrop-vid-login {
    width: auto;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 6;
  }