@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 17px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0px;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a {
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

strong {
  font-weight: 700;
}

.relative {
  position: relative !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.hidden {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bold {
  font-weight: 700 !important;
}

.semibold {
  font-weight: 600 !important;
}

.medium {
  font-weight: 500 !important;
}

.heading42 {
  font-size: 42px;
  line-height: 50px;
  color: #333333;
}

/* container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.h-100 {
  height: 100% !important;
}

/* Bg Color */
.lavender-bg {
  background-color: #e9f0f7 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-wgite {
  background-color: #fff !important;
}

.bg-primary {
  background-color: #2c6eb5 !important;
}

/* Text Color */
.white-color {
  color: #fff !important;
}

.palette-color {
  color: #246E6F !important;
}

.teal-color {
  color: #005899 !important;
}

.slategray-color {
  color: #667a80 !important;
}

.text-stealblue {
  color: #2c6eb5 !important;
}

.text-gray1 {
  color: #606060 !important;
}

.text-low {
  color: #60D14D !important;
}

.text-moderately-low-risk {
  color: #9BD240 !important;
}

.text-moderate-risk {
  color: #CADF31 !important;
}

.text-moderately-high-risk {
  color: #E3B23D !important;
}

.text-high-risk {
  color: #EE8031 !important;
}

.text-very-high-risk {
  color: #DB3020 !important;
}

/* margin */
.mg-b0 {
  margin-bottom: 0 !important;
}

.mg-b7 {
  margin-bottom: 7px !important;
}

.mg-b15 {
  margin-bottom: 15px !important;
}

.mg-b25 {
  margin-bottom: 25px !important;
}

.mg-t10 {
  margin-top: 10px !important;
}

.mg-t15 {
  margin-top: 15px !important;
}

.mg-t20 {
  margin-top: 20px !important;
}

.mg-t30 {
  margin-top: 30px !important;
}

.mg-t40 {
  margin-top: 40px !important;
}

.mg-b10i {
  margin-bottom: 10px !important;
}

/* padding */
.pb-b0 {
  margin-bottom: 0 !important;
}

.pd-b-0 {
  padding-bottom: 0 !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

/*heading*/
h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #333333;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}

h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.01em;
  color: #333333;
}

h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: #333333;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.w-100 {
  width: 100%;
}

/* button */
.btn-apply {
  font-weight: 700;
  height: 50px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 15px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c6eb5;
  padding: 10px 20px;
  min-width: 158px;
  cursor: pointer;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn-h40 {
  padding: 10px 25px !important;
}

.btn-blue {
  background-color: #2c6eb5;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 15px 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.btn-blue:hover {
  background-color: #4786c9;
}
.btn-blue.btn-yellow {
  background-color: #d7df23;
  color: #333;
}
.btn-blue.btn-yellow:hover {
  background-color: #e5ed37;
}
.btn-blue.btn-blue-outline {
  background-color: transparent;
  color: #2c6eb5;
  border: 1px solid #2c6eb5;
}
.btn-blue.btn-blue-outline:hover {
  background-color: #2c6eb5;
  color: #ffffff;
}
.btn-blue.btn-blue-outline.btn-transparents {
  color: #fff;
  border-color: #fff;
}
.btn-blue.btn-blue-outline.btn-transparents:hover {
  background-color: transparent;
  color: #fff;
}
.btn-blue.btn-with-icon img {
  margin-left: 10px;
}
.btn-blue.radius100 {
  border-radius: 100px;
}

.radius10 {
  border-radius: 10px !important;
}

.btn-view-all {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c6eb5;
}
.btn-view-all span {
  margin-left: 7px;
  font-size: 10px;
}
.btn-view-all .text-wrap {
  margin-left: 0;
}
.btn-view-all:hover {
  text-decoration: none;
}

.btn-shadow {
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
}

.tab-left-btn {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.tab-left-btn button {
  margin: 0 10px 10px;
  min-width: 159px;
}

.heading-with-view {
  position: relative;
}
.heading-with-view .btn-view-all {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.nps-faq .heading-with-view {
  padding-right: 85px;
}
.nps-faq .btn-view-all {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}

.green-text {
  color: #1fc750;
}

.red-text {
  color: #fc3e3e;
}

.slider-dots .slick-dots {
  left: 0;
  right: 0;
}
.slider-dots .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 2px;
}
.slider-dots .slick-dots li button {
  width: 6px;
  height: 6px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 50%;
  transition: all 0.4s;
}
.slider-dots .slick-dots li button:before {
  content: none;
}
.slider-dots .slick-dots li.slick-active button {
  width: 22px;
  background-color: #333;
  border-radius: 24px;
}

.slider-arrows .slick-arrow {
  width: 40px;
  height: 40px;
  background-color: #d7df23;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto;
  bottom: -55px;
  z-index: 5;
}
.slider-arrows .slick-arrow:before {
  font-family: "icomoon";
  font-size: 14px;
  line-height: 17px;
  color: #333;
}
.slider-arrows .slick-prev {
  left: 50%;
  margin-left: -105px;
}
.slider-arrows .slick-prev:before {
  content: "";
}
.slider-arrows .slick-next {
  right: 50%;
  margin-right: -105px;
}
.slider-arrows .slick-next:before {
  content: "";
}

.slider-30 .slick-next {
  margin-right: -135px;
}
.slider-30 .slick-prev {
  margin-left: -135px;
}

.new-fund-three-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-fund-three-slide .fund-manager-card {
  width: calc(100%/3 - 20px);
  margin: 0 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.flex-row .flex-row-col {
  padding: 0 10px;
}
/*.flex-row.flex-row3 .flex-row-col {
  width: 33.33%;
}*/
.flex-row.flex-row4 .flex-row-col {
  width: 25%;
}
.flex-row.flex-row5 .flex-row-col {
  width: 20%;
}
.flex-row.flex-row6 .flex-row-col {
  width: calc(100% / 6);
}
.flex-row.flex-row2 .flex-row-col {
  width: 50%;
}

.flex-slider .slick-track {
  display: flex;
}
.flex-slider .slick-track .slick-slide {
  height: auto;
  min-height: inherit;
}

.wrapper {
  overflow: hidden;
}

.app-talk-box {
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  z-index: 15;
}
.app-talk-box .download-app {
  width: 149px;
}
.app-talk-box .download-app a {
  position: relative;
  width: 30px;
  height: 149px;
  display: block;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #005899;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 7px 8px;
  font-weight: 700;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.app-talk-box .download-app a span {
  transform: rotate(90deg);
  width: 123px;
  display: block;
  position: absolute;
  right: -46px;
  top: 52px;
}
.app-talk-box .download-app a img {
  width: 13px;
  position: absolute;
  bottom: 10px;
  right: 8px;
}
.app-talk-box .lets-talk {
  width: 103px;
  margin-top: 10px;
}
.app-talk-box .lets-talk a {
  position: relative;
  width: 30px;
  height: 103px;
  display: block;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #d7df23;
  color: #333;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 7px 8px;
  font-weight: 700;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.app-talk-box .lets-talk a span {
  transform: rotate(90deg);
  width: 82px;
  display: block;
  position: absolute;
  right: -26px;
  top: 32px;
}
.app-talk-box .lets-talk a img {
  width: 19px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

/*tooltip*/
.custom-tooltip {
  position: relative;
  display: inline-block;
}
.custom-tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.custom-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.custom-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*card css*/
.card-div {
  background-color: #ffffff;
  box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  border-radius: 10px;
}

.select2-container--default .select2-dropdown {
  border: solid #e3eaf8;
  border-width: 1px 0;
  border-top: 0;
  border-radius: 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
.select2-container--default .select2-dropdown.select2-dropdown--above {
  border-bottom: 0;
  border-top: 1px solid #e3eaf8;
}
.select2-container--default .select2-results__options {
  padding: 8px;
}
.select2-container--default .select2-results__option {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  margin: 2px 0;
  padding: 3px 10px;
  text-align: center;
  text-align: left;
  border-radius: 5px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f2f9ff;
  color: #000;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f2f9ff;
  color: #000;
}

.select2-container {
  display: block;
}

.select2-selection--single {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  width: 120px;
  position: relative;
}
.select2-selection--single .select2-selection__arrow {
  right: 8px;
  width: auto;
  transform: unset;
}
.select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-family: "icomoon" !important;
  color: #2c6eb5;
  font-size: 10px;
}

.select2-results ::-webkit-scrollbar {
  width: 5px;
}
.select2-results ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.select2-results ::-webkit-scrollbar-thumb {
  background: #888;
}
.select2-results ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background-color: #c0d2e3;
}
.mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar {
  background-color: #c0d2e3;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f6f8f9;
}

.row {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
  position: relative;
}

.dot-list li {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #606060;
  margin-bottom: 10px;
  padding-left: 17px;
}
.dot-list li:before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #acb4d1;
  position: absolute;
  left: 0;
  top: 6px;
  border-radius: 50%;
}

.img-name-wrap {
  display: flex;
  margin-bottom: 15px;
}
.img-name-wrap .name-wrap {
  display: flex;
  align-items: center;
}
.img-name-wrap .img-wrap {
  border: 1px solid #ccd8ee;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}
.img-name-wrap .img-wrap.name-wrap {
  background-color: #e9f0f7;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.custom-checkbox label {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c6eb5;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}
.custom-checkbox .checkbox-wrap {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #bfdbfa;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  background-color: #fff;
}
.custom-checkbox .checkbox-wrap:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #2c6eb5;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
.custom-checkbox input[type=checkbox] {
  display: none;
}
.custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap.yellow-check {
  background-color: #d7df23;
  border-color: #d7df23;
}
.custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap:after {
  display: block;
}
.custom-checkbox.blue-checkbox label {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #4F4F4F;
  text-transform: initial;
  align-items: flex-start;
}
.custom-checkbox.blue-checkbox .checkbox-wrap {
  border-radius: 3px;
}
.custom-checkbox.blue-checkbox input[type=checkbox] {
  display: none;
}
.custom-checkbox.blue-checkbox input[type=checkbox]:checked ~ .checkbox-wrap {
  background-color: #2C6EB5;
  border-color: #2C6EB5;
}
.custom-checkbox.blue-checkbox input[type=checkbox]:checked ~ .checkbox-wrap:after {
  border-color: #fff;
}

/*yellow tab css*/
.list-yellow-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.list-yellow-tabs li a {
  padding: 18px 30px;
  border-radius: 80px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: #333333;
  white-space: nowrap;
  margin: 0px 5px;
}
.list-yellow-tabs li a img {
  margin-right: 10px;
  opacity: 0.5;
  filter: grayscale(100%);
}
.list-yellow-tabs li a.active {
  background: #d7df23;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.25);
}
.list-yellow-tabs li a.active img {
  opacity: 1;
  filter: grayscale(0);
}

.pd-t0i {
  padding-top: 0px !important;
}

.pd-t20i {
  padding-top: 20px !important;
}

.pd-t30i {
  padding-top: 30px !important;
}

.pd-t40i {
  padding-top: 40px !important;
}

.pd-t45i {
  padding-top: 45px !important;
}

.pd-b40i {
  padding-bottom: 40px !important;
}

.ui-datepicker {
  max-width: 250px;
  width: 100%;
  z-index: 9 !important;
  box-shadow: 1px 1px 13px 0px #00000026;
}
.ui-datepicker .ui-datepicker-calendar {
  width: 100%;
  background-color: #f7fbff;
}
.ui-datepicker th {
  padding: 3px 2px;
  font-size: 11px;
  text-align: center;
}
.ui-datepicker td {
  text-align: center;
}
.ui-datepicker td a {
  display: block;
  font-size: 12px;
  background-color: rgba(44, 110, 181, 0.35) !important;
  border: 0 !important;
  color: #000 !important;
}
.ui-datepicker td a.ui-state-active {
  background-color: #2c6eb5 !important;
  color: #fff !important;
}
.ui-datepicker td a.ui-state-highlight {
  background-color: #d6de23 !important;
  color: #2c6eb5 !important;
}
.ui-datepicker .ui-datepicker-header {
  padding: 1px 0;
  background-color: #2c6eb5;
  text-align: center;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  font-size: 14px;
  color: #fff;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 0;
  position: absolute;
  font-size: 14px;
}
.ui-datepicker .ui-datepicker-prev::before,
.ui-datepicker .ui-datepicker-next::before {
  font-family: "icomoon";
  font-size: 8px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 11px;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "";
  margin-right: 5px;
}
.ui-datepicker .ui-datepicker-next {
  right: 11px;
  flex-direction: row-reverse;
}
.ui-datepicker .ui-datepicker-next:before {
  content: "";
  margin-right: 5px;
}

.btn-blue-link {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c6eb5;
  font-weight: 700;
  display: inline-block;
}
.btn-blue-link.link-with-arrow {
  position: relative;
  padding-right: 20px;
}
.btn-blue-link.link-with-arrow:before {
  content: "";
  font-weight: 400;
  font-family: "icomoon";
  font-size: 10px;
  line-height: 18px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.btn-blue-link.link-with-arrow.active:before {
  content: "";
}

i {
  font-style: normal;
}

/*pagination css*/
.pagination-list ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.pagination-list ul li .page-link,
.pagination-list ul li > span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-list ul li .clickable {
  pointer-events: none;
  width: auto;
}
.pagination-list ul li .page-link.prev, .pagination-list ul li .page-link.next {
  width: auto;
  height: auto;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #2c6eb5;
}
.pagination-list ul li .page-link.next span {
  padding-right: 8px;
}
.pagination-list ul li .page-link.prev span {
  padding-left: 8px;
}
.pagination-list ul li .current.next {
  width: auto;
  height: auto;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #2c6eb5;
}
.pagination-list ul li .current.next span {
  padding-right: 8px;
}
.pagination-list ul li .current.prev {
  width: auto;
  height: auto;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #2c6eb5;
}
.pagination-list ul li .current.prev span {
  padding-left: 8px;
}
.pagination-list ul li.active .current {
  background-color: #2c6eb5;
  color: #fff;
  font-weight: 600;
}
.pagination-list ul li.disabled .current {
  pointer-events: none;
}
.pagination-list ul li.disabled .current span {
  color: #6f8695;
}
.pagination-list ul li.disabled .current i {
  color: #2c6eb5;
  opacity: 0.5;
}
.pagination-list ul li.disabled .current.prev {
  margin-right: 14px;
}
.pagination-list ul li.disabled .current.next {
  margin-left: 14px;
}

/*pagination css*/
/*custom dropdown new*/
.custom-dropdown.custom-dropdown-new .dropdown-button {
  background-color: #f9fbff;
  border: 1px solid #ccd8ee;
  border-radius: 6px;
}
.custom-dropdown.custom-dropdown-new .dropdown-button a {
  padding-right: 15px;
  color: #606060;
  font-weight: 500;
}
.custom-dropdown.custom-dropdown-new .dropdown-button a:before {
  content: "";
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.custom-dropdown.custom-dropdown-new .dropdown-button.active a:before {
  content: "";
}
.custom-dropdown.custom-dropdown-new .dropdown-card-inner {
  padding: 11px;
}
.custom-dropdown.custom-dropdown-new .dropdown-card {
  width: 100%;
  min-width: inherit;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-button {
  width: 100px;
  min-width: auto;
  padding: 1px 8px;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-button a {
  padding-right: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-button.active {
  box-shadow: none;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-button.active a:before {
  content: "";
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-card {
  bottom: 0px;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-card:before {
  display: none;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-card-inner {
  max-height: 200px;
  overflow-y: auto;
  padding: 6px;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-list-menu li {
  margin-top: 0px;
}
.custom-dropdown.custom-dropdown-new.custom-dropdow-sm .dropdown-list-menu li a {
  font-size: 11px;
  line-height: 18px;
  padding: 3px 8px;
  font-weight: 400;
  margin: 2px 0;
  text-align: left;
  border-radius: 5px;
  color: #333;
}

.dropdown-list-menu li {
  margin-top: 5px;
}
.dropdown-list-menu li:first-child {
  margin-top: 0px;
}
.dropdown-list-menu li a {
  padding: 7px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #606060;
  border-radius: 8px;
  display: block;
}
.dropdown-list-menu li.active a, .dropdown-list-menu li:hover a {
  background-color: #f2f9ff;
  color: #333;
}

/*custom dropdown new*/
.stopScroll {
  overflow: hidden;
}

.mCSB_inside > .mCSB_container {
  margin-right: 15px;
}

.lg-left-col-60 {
  width: 60%;
  padding: 0 10px;
}

.lg-right-col-40 {
  width: 40%;
  padding: 0 10px;
}

.link-yellow {
  text-transform: uppercase;
  color: #d7df23;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.text-blue {
  color: #2c6eb5 !important;
}

.text-gray {
  color: #606060 !important;
  font-weight: 400 !important;
}

.modal-backdrop.white-backdrop {
  background-color: transparent;
}

.p15 {
  font-size: 15px;
  line-height: 26px;
}

.custom-radio-text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #606060;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 20px;
  margin-bottom: 0px;
  position: relative;
  padding-left: 30px;
}
.custom-radio-text .custom-radio {
  position: absolute;
  left: 0px;
  top: 0px;
}

.custom-radio {
  display: inline-block;
  background: transparent;
  vertical-align: middle;
  position: relative;
}
.custom-radio input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  margin-top: 0px;
  top: 0px;
  cursor: pointer;
}
.custom-radio input:checked ~ .radiobox-check {
  border-color: #2c6eb5;
  background-color: #2c6eb5;
}
.custom-radio input:checked ~ .radiobox-check:before {
  display: inline-flex;
}
.custom-radio .radiobox-check {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #bfdbfa;
}
.custom-radio .radiobox-check:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 6px;
  display: none;
}

.js-floating.affix {
  position: fixed !important;
}

.js-fixOnTop {
  left: 0;
}
.js-fixOnTop.affix {
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.top-pickup-card .pickup-text-logo h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer-none {
  pointer-events: none;
}

.dot-list li {
  font-size: 17px;
  line-height: 28px;
  color: #606060;
  margin-bottom: 12px;
  position: relative;
  padding-left: 23px;
}
.dot-list li:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #acb4d1;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 0;
}

.disabled {
  color: rgba(51, 51, 51, 0.3);
  pointer-events: none;
}

.phone-mail-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  line-height: 21px;
}
.phone-mail-list li img {
  width: 30px;
  margin-right: 20px;
}
.phone-mail-list a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #2c6eb5;
  word-break: break-all;
}

.get-app-link {
  position: relative;
  margin-bottom: 40px;
}
.get-app-link .text-code {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.get-app-link .get-links {
  min-width: 220px;
  position: absolute;
  right: 4px;
  top: 5px;
  z-index: 3;
}
.get-app-link .form-control-plain {
  height: 58px;
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  padding: 18px 230px 18px 56px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 23px rgba(113, 144, 165, 0.2);
  border-radius: 38px;
  border: 1px solid rgba(44, 110, 181, 0.3);
}
.get-app-link .form-control-plain:focus {
  outline: none;
}

.make-app-link {
  padding: 0px;
  min-height: inherit;
}
.make-app-link .get-app-loader,
.make-app-link .get-app-messege {
  background-color: #2c6eb5;
  border-radius: 10px;
  padding: 15px 25px;
  margin-bottom: 20px;
  height: auto;
  min-height: 108px;
}
.make-app-link .get-app-messege h6 {
  font-size: 14px;
  line-height: 21px;
  min-height: 30px;
  margin-bottom: 3px;
  padding-top: 4px;
}
.make-app-link .get-app-messege p {
  font-size: 13px;
  line-height: 22px;
}
.make-app-link .get-app-messege .get-edit-link {
  margin-bottom: 0px;
}

.list-circle-info {
  margin-top: 6px;
}
.list-circle-info li {
  font-size: 14px;
  line-height: 22px;
  color: #333;
  position: relative;
  margin-bottom: 10px;
  padding-left: 16px;
}
.list-circle-info li:last-child {
  margin-bottom: 0px;
}
.list-circle-info li:before {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  background-color: #A4AA1E;
  position: absolute;
  left: 0px;
  top: 8px;
  border-radius: 50%;
}

/*Work video*/
.work-video {
  width: 650px;
  height: 376px;
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/work-video.png") no-repeat top center;
  background-size: contain;
  padding: 23px 73px 44px 72px;
}
.work-video iframe {
  object-fit: fill;
}

.max-w135 {
  max-width: 135px;
}

.max-w120 {
  max-width: 120px;
}

.max-w1000 {
  max-width: 1000px;
}

.custom-tooltip {
  color: #fff;
}
.custom-tooltip span {
  display: block;
  text-align: center;
}
.custom-tooltip .tooltip-label {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 22px;
  margin-top: 5px;
}
.custom-tooltip .dot {
  width: 6px;
  height: 6px;
  margin-right: 8px;
  border-radius: 50%;
}
.custom-tooltip .tooltip-result {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.blue-scroll .mCSB_scrollTools .mCSB_draggerRail {
  background: rgba(44, 110, 181, 0.2);
}
.blue-scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  height: 4px;
  margin: 6px 0;
}
.blue-scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background-color: #2C6EB5;
}

.lg-left-col, .lg-right-col {
  padding: 0 10px;
}

.powered-by {
  display: inline-flex;
  align-items: center;
  text-transform: lowercase;
}
.powered-by img {
  max-width: 75px;
  margin-left: 5px;
}

/*tooltip*/
.tooltip-box {
  position: absolute;
  left: -20px;
  top: -71px;
  display: none;
  z-index: 2;
}
.tooltip-box:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("/content/dam/tata-capital-moneyfy/tooltip-arrow.png") no-repeat center bottom;
  position: absolute;
  left: 33px;
  bottom: -9px;
  z-index: 1;
}
.tooltip-box .tooltip-inner {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 18px rgba(153, 186, 208, 0.26);
  border-radius: 4px;
  padding: 9px 12px 9px 33px;
  position: relative;
  min-width: 200px;
}
.tooltip-box .tooltip-inner img {
  position: absolute;
  left: 12px;
  top: 11px;
}
.tooltip-box p {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: rgba(51, 51, 51, 0.6);
}

.stay-updated {
  background-color: #D7DF23;
  padding: 20px 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s;
  text-align: center;
}
.stay-updated.closed {
  opacity: 0;
  height: 0;
}
.stay-updated .stay-inner {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  position: relative;
  padding-right: 185px;
}
.stay-updated .stay-inner h5 {
  text-align: left;
}
.stay-updated .stay-inner .btn-blue {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.sort-outer-dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sort-outer-dropdown .fund-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
  padding-right: 14px;
  display: flex;
  align-items: center;
}
.sort-outer-dropdown .fund-label span {
  margin-right: 8px;
}
.sort-outer-dropdown .custom-dropdown {
  width: 180px;
}
.sort-outer-dropdown .custom-dropdown .dropdown-button a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form-textbox {
  margin-bottom: 38px;
  position: relative;
}
.form-textbox .textbox-inner {
  position: relative;
}
.form-textbox .label-name {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #B0B0B0;
  position: absolute;
  left: 0;
  top: 6px;
  transition: all 0.4s;
}
.form-textbox .input-textbox {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #333;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 0;
  padding: 6px 0px;
  height: 32px;
}
.form-textbox .input-textbox:focus {
  border: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.form-textbox.active .label-name {
  font-size: 12px;
  line-height: 18px;
  top: -13px;
}
.form-textbox.textboxerror .error-msgs {
  padding-left: 0px;
}
.form-textbox.textboxerror .input-textbox {
  border-bottom-color: #fe7777;
}

.select2-wrap .select2-container--default {
  width: 100% !important;
}
.select2-wrap .select2-container--default .select2-selection--single {
  width: 100%;
  background-color: #f9fbff;
  border-color: #ccd8ee;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.select2-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 400;
}
.select2-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  display: flex;
  align-items: center;
  top: 0;
}
.select2-wrap .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
}
.select2-wrap .select2-container--default.select2-container--open .select2-selection__arrow:before {
  content: "";
}

.full-select2 .select2-dropdown {
  width: 100% !important;
}
.full-select2 .select2-container {
  width: 100% !important;
}
.full-select2 .select2-search--dropdown {
  padding: 10px 10px 5px;
}
.full-select2 .select2-search--dropdown .select2-search__field {
  border: 1px solid #ccd8ee;
  border-radius: 4px;
  padding: 7px 10px;
}
.full-select2 .select2-selection--single {
  width: 100%;
}
.full-select2 .select2-container .select2-selection--single {
  height: 40px;
  font-weight: 400;
  color: #333;
}
.full-select2 .select2-container.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:before {
  content: "";
}
.full-select2 .select2-container--default .select2-selection--single {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  border-radius: 8px;
}
.full-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}
.full-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 8px;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }

  .pd-dsk0i {
    padding-top: 0px !important;
  }

  .lg-left-col {
    width: 70%;
    padding: 0 10px;
  }

  .lg-right-col {
    width: 30%;
    padding: 0 10px;
  }
}
.select2-container *:focus {
  outline: none;
}

/* Responsive Media */
@media (min-width: 1199px) {
  .d-xl-block {
    display: block !important;
  }

  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .get-app-link .get-links {
    min-width: inherit;
  }
  .get-app-link .form-control-plain {
    padding-right: 210px;
  }

  .work-video {
    width: 450px;
    height: 260px;
    padding: 16px 50px 31px 51px;
  }
}
@media (max-width: 991px) {
  .visible-md {
    display: block !important;
  }

  .hidden-md {
    display: none !important;
  }

  .pd-md-0 {
    padding: 0 !important;
  }

  .wrapper {
    padding-top: 60px !important;
  }

  .scroll-hide {
    overflow: hidden;
  }

  .lg-left-col {
    width: 100%;
  }

  .mob-filter-box .dropdown-list-menu li.active a {
    color: #606060;
    font-weight: 600;
    background: transparent;
  }
  .mob-filter-box .dropdown-list-menu li:hover a {
    background: transparent;
  }

  .img-name-wrap .img-wrap {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    padding: 2px;
  }
  .img-name-wrap .name-wrap h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .lg-left-col-60,
.lg-right-col-40 {
    width: 100%;
  }

  .pd-md-t40 {
    padding-top: 40px;
  }

  .heading-lg-left {
    text-align: left !important;
    padding-right: 80px;
  }

  .work-video {
    margin: auto;
  }

  .tab-overflow {
    overflow: hidden;
  }

  .search-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 0px;
    top: 60px;
    right: 0px;
    bottom: 0px;
    z-index: 9;
  }

  .custom-dropdown .dropdown-button a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .new-fund-three-slide .fund-manager-card {
    width: calc(100%/2 - 20px);
    margin-bottom: 20px;
  }

  .stay-updated {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .stay-updated {
    padding: 12px 0;
  }
  .stay-updated .stay-inner {
    padding-right: 143px;
  }
  .stay-updated h5 {
    font-size: 14px;
    line-height: 22px;
  }

  .wrapper {
    padding-top: 51px !important;
  }

  .max-w730 {
    max-width: 100%;
  }

  .text-center-xs {
    text-align: center !important;
  }

  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: block !important;
  }

  .mg-xs-t0 {
    margin-top: 0 !important;
  }

  h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
  }

  h4 {
    font-size: 18px;
    line-height: 21px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  h6 {
    font-size: 12px;
    line-height: 18px;
  }

  .slider-arrows .slick-arrow {
    width: 30px;
    height: 30px;
    bottom: -46px;
  }
  .slider-arrows .slick-arrow:before {
    font-size: 10px;
    line-height: 14px;
  }
  .slider-arrows .slick-prev {
    margin-left: -85px;
  }
  .slider-arrows .slick-next {
    margin-right: -85px;
  }

  .slider-30 .slick-next {
    margin-right: -115px;
  }
  .slider-30 .slick-prev {
    margin-left: -115px;
  }

  .btn-blue {
    font-size: 11px;
    line-height: 17px;
    padding: 12px 20px;
  }

  .tab-left-btn button {
    min-width: 135px;
    margin: 0 5px 5px;
  }

  .mob-no-border {
    border-color: transparent !important;
  }

  .btn-blue.btn-blue-outline {
    background-color: transparent;
    color: #2c6eb5;
    border: none;
  }
  .btn-blue.btn-blue-outline:hover {
    background-color: transparent;
    color: #2c6eb5;
  }

  .yellow-tab-auto {
    overflow: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  .yellow-tab-auto .list-yellow-tabs {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .list-yellow-tabs li a {
    font-size: 10px;
    line-height: 15px;
    padding: 12px 27px;
  }

  .lg-right-col {
    width: 100%;
  }

  .custom-checkbox .checkbox-wrap {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
  .custom-checkbox .checkbox-wrap:after {
    top: 1px;
  }

  .select2-dropdown {
    z-index: 4 !important;
  }

  .wishlist-mCustomScrollbar {
    max-height: 230px;
    overflow: auto;
  }

  .mob-wishlistmodal-scroll {
    max-height: 230px;
    overflow: hidden !important;
  }

  #wishlist-modal {
    overflow: hidden !important;
  }

  .select2-container--default .select2-results__options {
    padding: 6px;
  }
  .select2-container--default .select2-results__option {
    font-size: 11px;
    line-height: 18px;
    padding: 3px 8px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 18px;
  }

  .pagination-list ul {
    justify-content: center;
  }
  .pagination-list ul li {
    padding: 0 1px;
  }
  .pagination-list ul li.disabled .current.prev {
    margin-right: 2px;
  }
  .pagination-list ul li .page-link,
.pagination-list ul li > span {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .custom-dropdown.custom-dropdown-new .dropdown-button {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .custom-dropdown.custom-dropdown-new .dropdown-card-inner {
    padding: 10px;
  }

  .modal-backdrop.white-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .heading-left-md h2,
.heading-left-md h6 {
    text-align: left;
    padding-right: 80px;
  }

  .phone-mail-list li {
    margin-bottom: 15px;
  }
  .phone-mail-list li img {
    width: 25px;
    margin-right: 15px;
  }

  .get-app-link {
    margin-bottom: 26px;
  }
  .get-app-link .form-control-plain {
    height: 50px;
    padding: 15px 180px 15px 35px;
    font-size: 12px;
  }
  .get-app-link .text-code {
    left: 10px;
    font-size: 12px;
    line-height: 10px;
  }

  .work-video {
    width: 317px;
    height: 183px;
    padding: 11px 35px 21px 36px;
  }

  .max-w300-md {
    max-width: 300px !important;
  }

  .new-fund-three-slide .fund-manager-card {
    width: calc(100%);
    margin: 0 0 20px;
  }

  .app-talk-box {
    width: 20px;
  }
  .app-talk-box .download-app a {
    width: 20px;
    font-size: 10px;
    line-height: 13px;
    padding: 7px 0;
    height: 144px;
  }
  .app-talk-box .download-app a span {
    right: -51px;
  }
  .app-talk-box .download-app a img {
    width: 11px;
    right: 5px;
  }
  .app-talk-box .lets-talk a {
    position: relative;
    width: 20px;
    font-size: 10px;
    line-height: 13px;
    padding: 7px 0;
    height: 95px;
  }
  .app-talk-box .lets-talk a span {
    right: -31px;
  }
  .app-talk-box .lets-talk a img {
    width: 14px;
    right: 3px;
  }

  .tooltip-box {
    left: auto;
    right: 0px;
    top: -63px;
  }
  .tooltip-box:before {
    left: auto;
    right: 30px;
  }
}
@media (max-width: 359px) {
  .work-video {
    width: 290px;
    height: 168px;
    padding: 10px 32px 19px 32px;
  }
}
/* Container */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.has-opacity {
  display: none !important;
}

.popover-modal-open {
  overflow: hidden;
}
.popover-modal-open .popover-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.popover-modal-close {
  background: transparent;
  border: none;
  color: #2C6EB5;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}
.popover-modal-close:focus {
  outline: none;
}

.popover-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.popover-modal .popover-modal-dialog {
  position: relative;
  margin: 15px auto;
  pointer-events: none;
  max-width: 720px;
}
.popover-modal.fade .popover-modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.popover-modal.popover-show.fade {
  opacity: 1;
  transition: opacity 0.15s linear;
}
.popover-modal.popover-show .popover-modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.popover-modal .popover-modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 30px);
}
.popover-modal .popover-modal-content {
  position: relative;
  width: 100%;
  pointer-events: auto;
  outline: 0;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.popover-modal.app-download-modal .popover-modal-content {
  background-color: transparent;
}
.popover-modal.app-download-modal .app-bg {
  background-color: #fff;
  border-radius: 10px;
}
.popover-modal.app-download-modal .learn-center-box .download-link-app {
  padding-top: 80px;
  padding-bottom: 31px;
}
.popover-modal.app-download-modal .learn-center-box .learning-cntr {
  max-width: 362px;
  margin: 0 auto;
}
.popover-modal.app-download-modal .learn-center-box img {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}
.popover-modal.app-download-modal .learn-center-box .learning-content {
  padding-top: 24px;
}
.popover-modal.app-download-modal .learn-center-box h4,
.popover-modal.app-download-modal .learn-center-box p {
  color: #ffffff;
}
.popover-modal.app-download-modal .learn-center-box p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin-top: 18px;
}
.popover-modal.app-download-modal .learn-center-box .btn-apply {
  margin-top: 24px;
}

.modal-backdrop {
  width: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 6;
}

.modal-body-inner2 {
  padding: 45px 40px;
}

.modal-body-inner3 {
  padding: 45px 25px 30px;
}

.share-with-box {
  max-width: 440px;
  margin: auto;
  text-align: center;
}
.share-with-box h4 {
  margin-bottom: 23px;
}
.share-with-box .list-shares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -12px 25px;
}
.share-with-box .list-shares li {
  padding: 0 12px 5px;
}
.share-with-box .list-shares li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D7DF23;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-with-box .list-shares li a span {
  font-size: 24px;
  color: #2C6EB5;
}
.share-with-box .or-text {
  position: relative;
  margin-bottom: 20px;
}
.share-with-box .or-text .or-inner {
  display: inline-block;
  padding: 0 5px;
  background-color: #fff;
  margin: auto;
  position: relative;
  z-index: 1;
}
.share-with-box .or-text:before {
  content: "";
  border-bottom: 1px solid #B5C1C4;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
}
.share-with-box .or-text .or {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: rgba(51, 51, 51, 0.9);
  font-size: 12px;
  line-height: 16px;
  background-color: #E9F0F7;
  text-transform: uppercase;
  border-radius: 50%;
}
.share-with-box h6 {
  margin-bottom: 12px;
}
.share-with-box .copy-links {
  display: inline-block;
  position: relative;
  width: 392px;
  margin: auto;
}
.share-with-box .copy-links .text-input-link {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  width: 100%;
  border: 1px solid rgba(44, 110, 181, 0.3);
  padding: 17px 100px 17px 20px;
  border-radius: 50px;
  pointer-events: none;
}
.share-with-box .copy-links .text-input-link:focus {
  outline: none;
}
.share-with-box .copy-links .copy-link-outer {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.share-with-box .copy-links a {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
  display: block;
}

.download-app-row {
  display: flex;
  flex-wrap: wrap;
}
.download-app-row .download-app-left {
  width: 188px;
}
.download-app-row .download-app-right {
  width: calc(100% - 188px);
  padding-left: 15px;
  padding-top: 12px;
}
.download-app-row h4 {
  margin-bottom: 10px;
}
.download-app-row p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  margin-bottom: 13px;
}

.error-msgs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  color: #fe7777;
  padding-left: 20px;
  margin-top: 2px;
}

.download-link-outer {
  margin-top: -58px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.download-link-app {
  background-color: #2C6EB5;
  border-radius: 10px;
  padding: 30px 45px;
  min-height: 118px;
}
.download-link-app .get-app-link {
  margin-bottom: 0px;
}
.download-link-app .get-app-link .get-links {
  top: 5px;
  z-index: 3;
}
.download-link-app .get-app-inner {
  position: relative;
}

.color-white {
  color: #fff !important;
}

.get-app-messege {
  text-align: center;
}
.get-app-messege h6 {
  position: relative;
  min-height: 35px;
  padding-left: 45px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  margin-bottom: 18px;
}
.get-app-messege h6 .ticks {
  position: absolute;
  left: 0px;
  top: 0px;
}
.get-app-messege p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.get-app-messege p:last-child {
  margin-bottom: 0px;
}
.get-app-messege.get-app-link-via-sms img {
  margin: 0 auto 10px;
}
.get-app-messege.get-app-link-via-sms h6 {
  padding: 0;
  min-height: auto;
  margin-bottom: 0;
}
.get-app-messege.get-app-link-via-sms .get-edit-link a {
  top: 3px;
}

.get-edit-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.get-edit-link a {
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.get-app-loader {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-text p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  margin-bottom: 15px;
}
.terms-text p b {
  font-weight: 500;
}
.terms-text .btn-blue {
  padding: 12px 22px;
}
.terms-text.benefits-modal {
  max-width: 486px;
  margin: auto;
}
.terms-text.benefits-modal p {
  margin-bottom: 3px;
}

.contribute-box h4 {
  margin-bottom: 35px;
}

.contribute-items-wrap {
  display: flex;
  margin: 0 -15px;
}

.contribute-item {
  background-color: #2C6EB5;
  border-radius: 4px;
  width: 50%;
  margin: 0 15px;
  padding: 15px 30px;
}
.contribute-item p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 5px 0 7px;
}
.contribute-item .btn-view-all {
  color: #D7DF23;
}

/*login modaal slider*/
.login-modal-popup h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}
.login-modal-popup .popover-modal-dialog {
  max-width: 750px;
}
.login-modal-popup .popover-modal-close {
  color: #fff;
}
.login-modal-popup .modal-title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.login-modal-popup .modal-title-block img {
  max-height: 32px;
  margin-left: 15px;
}
.login-modal-popup .modal-body-inner {
  background-color: #2C6EB5;
  padding: 40px;
  background-image: url("/content/dam/tata-capital-moneyfy/mutual-funds/modal-shape.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
.login-modal-popup .modal-button {
  margin-top: 20px;
  text-align: center;
}
.login-modal-popup .modal-button button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.25);
  padding: 16.5px 41.2px;
}

.modal-login-slider {
  margin-left: auto;
  margin-right: auto;
  max-width: 510px;
}
.modal-login-slider .modal-slide {
  text-align: center;
  padding-bottom: 10px;
}
.modal-login-slider .modal-slide-image {
  margin: 0 auto -6.5%;
  max-width: 190px;
}
.modal-login-slider .modal-slide img {
  margin: 0 auto;
}
.modal-login-slider .slider-dots .slick-dots {
  position: static;
}
.modal-login-slider .slider-dots .slick-dots li {
  margin: 0 4px;
}
.modal-login-slider .slider-dots .slick-dots li button {
  background-color: #fff;
  opacity: 0.3;
  height: 5px;
  width: 5px;
}
.modal-login-slider .slider-dots .slick-dots li.slick-active button {
  opacity: 1;
  width: 18px;
}

/*login modaal slider*/
/*notification pop*/
.notification-modal .popover-modal-dialog {
  max-width: 360px;
}
.notification-modal .popover-modal-close {
  color: #fff;
}
.notification-modal .popover-modal-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 32px;
  background-color: #2C6EB5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.notification-modal .modal-main-icon {
  margin-bottom: -14px;
}
.notification-modal .modal-main-icon img {
  margin: 0 auto;
}
.notification-modal .modal-title {
  color: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.01em;
  margin-bottom: 11px;
}
.notification-modal .modal-texts p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 10px;
}
.notification-modal .modal-texts .highlighted-text {
  color: #D7DF23;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 16px;
}
.notification-modal .modal-buttons {
  margin: -6.5px;
}
.notification-modal .modal-buttons .btn-modal {
  margin: 6.5px;
  min-width: 120px;
  min-height: 46px;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.notification-modal .modal-buttons .btn-outline-white {
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.25);
  background-color: transparent;
  color: #fff;
  transition: 0.4s;
}
.notification-modal .modal-buttons .btn-outline-white:hover {
  background-color: #fff;
  color: #333333;
}
.notification-modal .navigate-info {
  max-width: 225px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  padding-top: 120px;
  left: 12%;
}
.notification-modal .navigate-info .navigate-indicator {
  min-width: 55px;
  padding-bottom: 5px;
}
.notification-modal .navigate-info p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.all-primary-modal .modal-body-inner {
  padding: 15px 0 10px;
}
.all-primary-modal .popover-modal-dialog {
  max-width: 520px;
}
.all-primary-modal .modal-main-icon {
  margin-bottom: 15px;
}
.all-primary-modal .modal-main-icon img {
  margin: auto;
}
.all-primary-modal .modal-title {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 7px;
}
.all-primary-modal .modal-texts p {
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}
.all-primary-modal .popover-modal-close {
  color: #fff;
}
.all-primary-modal .popover-modal-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 32px;
  background-color: #2C6EB5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.added-watchlist-modal img {
  margin: 0 auto 35px;
}
.added-watchlist-modal h5 {
  margin-bottom: 10px;
}
.added-watchlist-modal p {
  margin-bottom: 40px;
}

.logout-modals h5 {
  color: #fff;
  margin-bottom: 40px;
}
.logout-modals .logout-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logout-modals .logout-btn .btn-blue {
  margin: 0 12px;
  min-width: 150px;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
}
.logout-modals .logout-btn .btn-blue:hover {
  color: #2C6EB5;
}

.wishlist-modal {
  background-color: #ffffffb0;
}
.wishlist-modal .popover-modal-content {
  overflow: visible;
}
.wishlist-modal .popover-modal-body {
  background-color: #F6FCFF;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
}
.wishlist-modal .modal-body-inner3 {
  padding: 30px 25px 30px;
}
.wishlist-modal .popover-modal-close {
  right: 25px;
}
.wishlist-modal .custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap {
  background-color: #2C6EB5;
}
.wishlist-modal .custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap:after {
  border-color: #fff;
}

.no-wishlist-wrap {
  text-align: center;
  margin-top: 35px;
}
.no-wishlist-wrap img {
  width: 120px;
  margin: 0 auto 20px;
}
.no-wishlist-wrap p {
  font-size: 14px;
  line-height: 28px;
}
.no-wishlist-wrap p b {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
.no-wishlist-wrap .btn-wrap {
  margin-top: 35px;
}
.no-wishlist-wrap .btn-wrap .btn {
  margin-right: 15px;
}

.wishlist-body h4 {
  font-size: 24px;
  line-height: 38px;
  color: #000;
  margin-bottom: 15px;
}
.wishlist-body .btn-wrap .btn {
  color: #2C6EB5;
  padding: 11px 25px;
}

.play-video-boxs {
  display: flex;
  flex-wrap: wrap;
}
.play-video-boxs .play-video-left {
  position: relative;
  width: calc(100% - 515px);
}
.play-video-boxs .play-video-left .video-live {
  display: inline-block;
  background: #C01515;
  border-radius: 10px 0px;
  min-width: 117px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  padding: 4px 15px;
}
.play-video-boxs .play-video-left .play-vid-inner {
  height: 338px;
}
.play-video-boxs .play-video-left .play-vid-inner2 {
  height: 373px;
}
.play-video-boxs .play-video-left iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.play-video-boxs .play-video-right {
  padding: 40px 40px 40px 20px;
  width: 515px;
}
.play-video-boxs .play-video-right h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
  margin-bottom: 10px;
}
.play-video-boxs .play-video-right h5 {
  margin-bottom: 21px;
}
.play-video-boxs .play-video-right p {
  font-size: 14px;
  line-height: 21px;
  color: #606060;
}
.play-video-boxs .play-video-right .bottom-infos {
  position: relative;
  padding-right: 25px;
  min-height: 20px;
  margin-top: 30px;
}
.play-video-boxs .play-video-right .bottom-infos .bottom-info-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.play-video-boxs .play-video-right .bottom-infos .share-link {
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #2C6EB5;
}

.registration-form h6 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #606060;
  margin-bottom: 7px;
  font-weight: 400;
}
.registration-form h5 {
  margin-bottom: 35px;
}

.registration-thankyou {
  background-color: #2C6EB5;
}
.registration-thankyou .thankyou-inner {
  max-width: 475px;
  margin: auto;
  text-align: center;
}
.registration-thankyou .thankyou-inner img {
  margin: 0 auto 10px;
}
.registration-thankyou .thankyou-inner h5 {
  margin-bottom: 7px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  line-height: 24px;
}
.registration-thankyou .thankyou-inner h6 {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F2;
}
.registration-thankyou .thankyou-inner p {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
}

.credit-card-otp-form h4 {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #333333;
  margin-bottom: 12px;
}
.credit-card-otp-form p {
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-weight: 500;
  text-align: center;
  margin-bottom: 35px;
}
.credit-card-otp-form p a {
  font-size: 14px;
  color: #005899;
  padding-left: 2px;
  text-decoration: none;
}
.credit-card-otp-form .enter-otp-block {
  max-width: 198px;
  margin: auto;
}
.credit-card-otp-form .enter-otp-block .otp-col .input-textbox {
  margin-left: 10px;
}
.credit-card-otp-form .resend-otp {
  max-width: 178px;
  margin: 20px auto 0;
}

.creditcard-thankyou {
  background-color: #005899;
  text-align: center;
}
.creditcard-thankyou .thankyou-inner {
  max-width: 408px;
  margin: auto;
}
.creditcard-thankyou img {
  width: 63px;
  margin: 0 auto 12px;
}
.creditcard-thankyou h4 {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 11px;
}
.creditcard-thankyou p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.creditcard-thankyou .btn-blue {
  color: #2C6EB5 !important;
}

.get-result-thankyou {
  text-align: center;
}
.get-result-thankyou .mgs-icons {
  margin: 0 auto 16px;
}
.get-result-thankyou h3 {
  margin-bottom: 10px;
  color: #fff;
}
.get-result-thankyou p {
  font-size: 16px;
  color: #fff;
}
.get-result-thankyou p a {
  color: #fff;
  text-decoration: underline;
  position: static;
  margin: 0px;
}
.get-result-thankyou .btn-try-again {
  margin-top: 25px;
}

.btn-proceed-thanks {
  text-align: center;
  margin-top: 26px;
}
.btn-proceed-thanks .btn-blue {
  min-width: 158px;
}

.unsuccessfull-link .get-result-thankyou p, .unsuccessfull-link .get-result-thankyou h3 {
  color: #333;
}

.get-result-forms h4, .get-result-forms p {
  text-align: center;
}
.get-result-forms h4 {
  margin-bottom: 12px;
}
.get-result-forms p {
  font-size: 14px;
  line-height: 22px;
}
.get-result-forms .btn-proceed-whatsapp {
  text-align: center;
  padding-top: 28px;
}
.get-result-forms .btn-proceed-whatsapp.btn-buy-now {
  padding-top: 7px;
}
.get-result-forms .btn-proceed-whatsapp .btn-blue {
  min-width: 158px;
}
.get-result-forms .custom-checkbox {
  margin-top: 13px;
}
.get-result-forms .form-group .error-msgs {
  display: none;
}
.get-result-forms .form-group.textboxerror .error-msgs {
  display: block;
}

.whatsapp-email-form {
  padding-top: 25px;
}
.whatsapp-email-form .label-names {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 10px;
  display: block;
}
.whatsapp-email-form .input-textbox {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 21px;
}
.whatsapp-email-form .form-group {
  margin-bottom: 25px;
  position: relative;
}
.whatsapp-email-form .form-group .error-msgs {
  padding-left: 0px;
}

.whatsapp-otp-verify {
  padding-top: 35px;
}
.whatsapp-otp-verify .enter-otp-box {
  max-width: 200px;
  margin: auto;
}
.whatsapp-otp-verify .enter-otp-box .otp-col {
  width: 100%;
  display: flex;
  justify-content: center;
}
.whatsapp-otp-verify .enter-otp-box .otp-col .input-textbox {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 2px;
  font-size: 14px;
  line-height: 21px;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
}
.whatsapp-otp-verify .resend-otp {
  display: flex;
  align-items: center;
  padding: 24px 5px 0px;
}
.whatsapp-otp-verify .resend-otp span {
  font-size: 12px;
  color: #606060;
}
.whatsapp-otp-verify .resend-otp a.resend {
  margin-left: auto;
  font-size: 13px;
  color: #2C6EB5;
}
/* learn explore now modal css START*/
.learn-center-explores {
  padding: 20px 0;
}
.learn-center-explores .center-imgs {
  margin: 0 auto 30px;
  display: block;
}
.learn-center-explores .dot-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.learn-center-explores .dot-list li {
  width: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  padding-left: 16px;
  margin-bottom: 16px;
  padding-right: 15px;
}
.learn-center-explores .dot-list li:before {
  background-color: #EBF32E;
  top: 6px;
}
/* learn explore now modal css END*/
@media (max-width: 1199px) {
  .notification-modal .navigate-info {
    max-width: 218px;
  }

  .play-video-boxs .play-video-left {
    width: 50%;
  }
  .play-video-boxs .play-video-right {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .notification-modal .navigate-info {
    display: block;
    left: 9%;
    max-width: 140px;
  }

  .wishlist-modal {
    margin-top: 0px;
    padding-top: 170px;
  }

  .play-video-boxs .play-video-left {
    width: 100%;
    height: 300px;
  }
  .play-video-boxs .play-video-left .play-vid-inner {
    height: 100%;
  }
  .play-video-boxs .play-video-left .play-vid-inner2 {
    height: 100%;
  }
  .play-video-boxs .play-video-right {
    width: 100%;
    padding: 20px;
  }

  .mob-close-btn {
    color: #fff;
    right: 12px;
    top: 12px;
  }
}
@media (max-width: 767px) {
  .learn-center-explores .dot-list li {
    width: 100%;
    padding-right: 0px;
  }
  .play-video-boxs .play-video-left {
    height: 238px;
  }
  .play-video-boxs .play-video-right h5 {
    margin-bottom: 14px;
  }

  .modal-body-inner2 {
    padding: 30px 15px;
  }

  .popover-modal-close {
    top: 15px;
    right: 15px;
  }

  .popover-modal {
    padding: 0 15px;
  }
  .popover-modal.login-modal .popover-modal-dialog {
    max-width: 320px;
  }
  .popover-modal.app-download-modal .learn-center-box .download-link-app {
    padding-top: 69px;
    padding-bottom: 40px;
  }
  .popover-modal.app-download-modal .learn-center-box p {
    margin-top: 12px;
  }
  .popover-modal.app-download-modal .learn-center-box .btn-apply {
    width: 100%;
  }

  .share-with-box h4 {
    margin-bottom: 15px;
  }
  .share-with-box .list-shares li a {
    width: 40px;
    height: 40px;
  }
  .share-with-box .list-shares li a span {
    font-size: 20px;
  }
  .share-with-box .copy-links .text-input-link {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 11px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .share-with-box .copy-links a {
    font-size: 11px;
    line-height: 22px;
  }
  .share-with-box h6 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 14px;
  }

  .modal-body-inner3 {
    padding: 37px 15px 94px;
  }

  .app-download-modal h4 {
    margin-bottom: 15px;
  }

  .download-app-row .app-store-link {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .download-app-row .app-store-link img {
    margin-bottom: 10px;
  }
  .download-app-row .download-app-left {
    width: 100px;
  }
  .download-app-row .download-app-right {
    width: calc(100% - 100px);
    padding-top: 2px;
    padding-left: 30px;
  }
  .download-app-row p {
    font-size: 12px;
    line-height: 19px;
  }

  .download-link-outer {
    padding: 0 15px;
    margin-top: -75px;
  }

  .download-link-app {
    padding: 20px;
    min-height: 141px;
  }
  .download-link-app .error-msgs {
    font-size: 11px;
    line-height: 12px;
  }
  .download-link-app .get-app-inner {
    margin-bottom: 15px;
  }
  .download-link-app .get-app-link {
    text-align: center;
  }
  .download-link-app .get-app-link .get-links {
    position: static;
  }
  .download-link-app .get-app-link .form-control-plain {
    padding-right: 15px;
  }
  .download-link-app .get-app-link .btn-blue {
    background: #D7DF23;
    color: #2C6EB5;
  }

  .get-edit-link {
    margin-bottom: 8px;
  }

  .get-app-messege h6 {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 21px;
    min-height: 30px;
  }
  .get-app-messege h6 .ticks {
    width: 30px;
  }
  .get-app-messege p {
    font-size: 12px;
    line-height: 16px;
  }

  .get-app-loader {
    height: 101px;
  }

  .contribute-modal .modal-body-inner3 {
    padding: 40px 30px 30px;
  }
  .contribute-modal .terms-text p {
    font-size: 12px;
    line-height: 19px;
  }
  .contribute-modal .terms-text p:first-child {
    margin-bottom: 0;
  }

  .contribute-box h4 {
    margin-bottom: 25px;
  }

  .contribute-items-wrap {
    flex-wrap: wrap;
  }
  .contribute-items-wrap .contribute-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 25px;
  }

  .login-modal-popup .modal-title-block img {
    margin-left: 10px;
  }
  .login-modal-popup h5 {
    font-size: 18px;
    line-height: 21.6px;
  }
  .login-modal-popup .modal-body-inner {
    background-image: url("/content/dam/tata-capital-moneyfy/mutual-funds/modal-shape-mobile.png");
  }

  .modal-login-slider .modal-slide-image {
    max-width: 170px;
    margin: 0 auto -6%;
  }

  .notification-modal .popover-modal-dialog {
    max-width: 360px;
    align-items: flex-start;
  }
  .notification-modal .modal-main-icon {
    margin-bottom: 0px;
  }
  .notification-modal .popover-modal-close {
    top: -25px;
    right: 0;
  }
  .notification-modal .popover-modal-content {
    overflow: unset;
  }
  .notification-modal .popover-modal-dialog {
    max-width: 311px;
  }
  .notification-modal .modal-texts p {
    opacity: 0.9;
  }
  .notification-modal .navigate-info {
    position: static;
    display: flex;
    max-width: 225px;
    padding-top: 100px;
    margin: 0 auto 30px;
  }

  .modal-backdrop {
    z-index: 10;
  }

  .added-watchlist-modal img {
    margin-bottom: 30px;
  }
  .added-watchlist-modal p {
    margin-bottom: 30px;
  }

  .logout-modals .modal-main-icon {
    padding-top: 10px;
  }
  .logout-modals .logout-btn .btn-blue {
    margin: 0 8px;
    min-width: 110px;
  }
  .logout-modals h5 {
    margin-bottom: 30px;
  }

  .wishlist-modal {
    padding: 0;
    margin-top: 0;
    background-color: transparent;
  }
  .wishlist-modal .popover-modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 30px);
  }
  .wishlist-modal .popover-modal-content {
    border-radius: 0;
  }
  .wishlist-modal .modal-body-inner3 {
    padding: 45px 20px 30px;
  }
  .wishlist-modal .popover-modal-close {
    right: 20px;
  }

  .no-wishlist-wrap {
    margin-top: 20px;
  }
  .no-wishlist-wrap img {
    margin: 0 auto 15px;
  }
  .no-wishlist-wrap .btn-wrap {
    margin-top: 25px;
  }
  .no-wishlist-wrap .btn-wrap .btn {
    margin-bottom: 10px;
  }

  .wishlist-body h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .creditcard-thankyou img {
    width: 75px;
    margin-bottom: 20px;
  }
  .creditcard-thankyou h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .creditcard-thankyou p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
  }

  .get-result-thankyou {
    padding: 20px 0;
  }
  .get-result-thankyou h3 {
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 12px;
  }
  .get-result-thankyou p {
    font-size: 14px;
    line-height: 18px;
  }
  .get-result-thankyou .btn-try-again .btn-blue {
    width: 100%;
  }

  .get-result-forms {
    padding: 20px 0;
  }
  .get-result-forms h4 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 120%;
  }
  .get-result-forms .btn-proceed-whatsapp .btn-blue {
    width: 100%;
  }
  .get-result-forms .flex-row.flex-row2 .flex-row-col {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .modal-slide h5 br {
    display: none;
  }
}
@media (max-width: 374px) {
  .share-with-box .list-shares li {
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media (max-width: 359px) {
  .notification-modal .popover-modal-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .notification-modal .modal-buttons {
    margin: -3px;
  }
  .notification-modal .modal-buttons .btn-modal {
    margin: 3px;
  }

  .logout-modals .logout-btn .btn-blue {
    margin: 0 6px;
  }

  .credit-card-otp-form .enter-otp-block .otp-col .input-textbox {
    margin-left: 6px;
  }
}
@media (max-width: 479px) {
  .share-with-box .copy-links {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .popover-modal {
    padding: 0 15px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-xl2 {
    max-width: 1300px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-xl {
    max-width: 1180px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-lg2 {
    max-width: 970px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-lg {
    max-width: 930px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md {
    max-width: 500px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md5 {
    max-width: 522px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md2 {
    max-width: 704px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-sm {
    max-width: 320px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md3 {
    max-width: 665px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md4 {
    max-width: 835px;
  }

  .wishlist-modal {
    padding-top: 170px;
  }
}
.list-goal-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -20px -10px 0;
}
.list-goal-base li {
  margin-top: 20px;
  padding: 0 10px;
  width: 25%;
}
.list-goal-base .list-goal-img {
  height: 50px;
  margin: 0 auto 16px;
}
.list-goal-base .list-goal-img img {
  margin: auto;
}
.list-goal-base .list-goal {
  display: block;
  width: 100%;
  height: 100%;
  padding: 35px 20px;
  text-align: center;
  transition: all 0.3s;
}
.list-goal-base .list-goal .goal-img {
  display: block;
}
.list-goal-base .list-goal .goal-img-hover {
  display: none;
}
.list-goal-base .list-goal:hover {
  background-color: #2c6eb5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}
.list-goal-base .list-goal:hover .goal-img {
  display: none;
}
.list-goal-base .list-goal:hover .goal-img-hover {
  display: block;
}
.list-goal-base .list-goal:hover h5 {
  color: #fff;
}

.card-title-wrap {
  margin-top: 35px;
}
.card-title-wrap:last-child {
  margin-bottom: 80px;
}
.card-title-wrap .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.card-title-wrap .card-div {
  padding: 20px 30px;
}

.card-blocks-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -38px;
}
.card-blocks-wrap li {
  min-width: 170px;
  padding: 0 38px;
  margin: 10px 0px;
}
.card-blocks-wrap li:not(:last-child) {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}
.card-blocks-wrap li .label-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  margin-bottom: 5px;
}
.card-blocks-wrap li h6 span {
  font-size: 12px;
  color: #606060;
  margin-left: 10px;
  float: right;
  font-weight: 400;
}
.card-blocks-wrap li p a {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2c6eb5;
}

.card-div .card-description-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-div .card-description-wrap p {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin-top: 13px;
}

.view-all-btns {
  margin-top: 40px;
  text-align: center;
}

.custom-tooltips {
  position: absolute;
  right: 0px;
  padding-top: 7px;
}
.custom-tooltips:after {
  content: "";
  width: 2px;
  height: 12px;
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/tooltip-line.svg") no-repeat top center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -9px;
}
.custom-tooltips .custom-tooltips-inner {
  background-color: #FFF4F4;
  border-radius: 5px;
  border: 1px solid #FC463E;
  min-width: 72px;
  padding: 2px 5px;
  position: relative;
}
.custom-tooltips .custom-tooltips-inner:before {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #FC463E;
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
}
.custom-tooltips .custom-tooltips-inner:after {
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid #FFF4F4;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
}
.custom-tooltips .custom-tooltips-inner span {
  font-size: 11px;
  line-height: 16px;
  color: #FC463E;
  display: block;
  text-align: center;
}
.custom-tooltips.high-risk {
  right: 15%;
}
.custom-tooltips.high-risk .custom-tooltips-inner {
  border-color: #ED861B;
}
.custom-tooltips.high-risk .custom-tooltips-inner:before {
  border-bottom: 5px solid #ED861B;
}
.custom-tooltips.high-risk .custom-tooltips-inner span {
  color: #ED861B;
}
.custom-tooltips.moderate-risk {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.custom-tooltips.moderate-risk .custom-tooltips-inner {
  border-color: #FAD23D;
}
.custom-tooltips.moderate-risk .custom-tooltips-inner:before {
  border-bottom: 5px solid #FAD23D;
}
.custom-tooltips.moderate-risk .custom-tooltips-inner span {
  color: #ED861B;
}
.custom-tooltips.low-moderate-risk {
  right: auto;
  left: 25%;
  transform: translateX(-50%);
}
.custom-tooltips.low-moderate-risk .custom-tooltips-inner {
  border-color: #7CB223;
}
.custom-tooltips.low-moderate-risk .custom-tooltips-inner:before {
  border-bottom: 5px solid #7CB223;
}
.custom-tooltips.low-moderate-risk .custom-tooltips-inner span {
  color: #7CB223;
}
.custom-tooltips.low-risk {
  right: auto;
  left: 0;
}
.custom-tooltips.low-risk .custom-tooltips-inner {
  border-color: #43BC80;
}
.custom-tooltips.low-risk .custom-tooltips-inner:before {
  border-bottom: 5px solid #43BC80;
}
.custom-tooltips.low-risk .custom-tooltips-inner span {
  color: #43BC80;
}

/*sip blue card*/
.sip-cards {
  background: linear-gradient(105.04deg, rgba(0, 88, 153, 0.2) 8.77%, rgba(78, 76, 221, 0.2) 49.99%, rgba(44, 110, 181, 0.2) 87.12%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
  padding: 21px 25px 27px;
  width: 100%;
  position: relative;
}
.sip-cards.banner-sip-cards {
  padding: 25px 39px 40px;
}
.sip-cards.sip-cards-content .sip-cards-info {
  max-width: 100%;
}
.sip-cards.credit-loan-cards .sip-cards-info {
  max-width: 285px;
}
.sip-cards.credit-loan-cards .sip-card-img {
  max-width: 230px;
  top: 135px;
}
.sip-cards.sip-cards-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sip-cards.sip-cards-img .sip-card-img {
  position: static;
  width: 100%;
  max-width: 100%;
}
.sip-cards.card-white {
  background: #fff;
}
.sip-cards.card-white h4, .sip-cards.card-white p, .sip-cards.card-white h6 {
  color: #333333;
}
.sip-cards h4, .sip-cards p, .sip-cards h6 {
  color: #fff;
}
.sip-cards h6 {
  margin-bottom: 7px;
}
.sip-cards h4 {
  line-height: 34px;
  letter-spacing: normal;
  margin-bottom: 7px;
}
.sip-cards p {
  margin-bottom: 37px;
}
.sip-cards .btn-blue:hover {
  color: #2C6EB5;
}
.sip-cards.card-white .btn-blue:hover {
  color: #fff;
}
.sip-cards .sip-card-img {
  position: absolute;
  top: 52px;
  right: 20px;
  max-width: 190px;
}
.sip-cards .sip-cards-info {
  max-width: 314px;
  padding-right: 10px;
}

/*sip blue card*/
.form-group.error input[type=text] {
  border-bottom-color: #FF6464;
}
.form-group.error .error-msgs {
  color: #FF6464;
}

.calculate-return-cards {
  background: linear-gradient(105.04deg, rgba(0, 88, 153, 0.2) 8.77%, rgba(78, 76, 221, 0.2) 49.99%, rgba(44, 110, 181, 0.2) 87.12%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
}
.calculate-return-cards .error-msgs {
  padding-left: 0px;
  margin-top: 0px;
}

.calculate-return-top {
  padding: 25px 35px 0px;
}
.calculate-return-top h4 {
  letter-spacing: normal;
  color: #fff;
}
.calculate-return-top .calculate-top {
  margin-bottom: 23px;
  position: relative;
  padding-right: 220px;
}
.calculate-return-top .calculate-top .return-tabs-outer {
  position: absolute;
  right: 0px;
  top: 0px;
}
.calculate-return-top .calculates-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}
.calculate-return-top .calculates-ul .calculates-li {
  width: 50%;
  padding: 0 25px;
}

.calculate-return-bottom {
  background-color: #E9F0F7;
  box-shadow: 0px -13px 9px rgba(126, 131, 139, 0.21);
  border-radius: 10px;
  padding: 14px 35px;
  position: relative;
  z-index: 2;
  top: 1px;
}
.calculate-return-bottom .return-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.calculate-return-bottom .return-li {
  width: 33.33%;
  padding: 0 10px;
}
.calculate-return-bottom .return-li.return-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculate-return-bottom .return-label {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  display: block;
}

.calculate-form-group {
  margin-bottom: 20px;
  position: relative;
}
.calculate-form-group label {
  display: block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}
.calculate-form-group .calculate-form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(135, 185, 250, 0.7);
  background-color: transparent;
  padding-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
}
.calculate-form-group .calculate-form-control:focus {
  outline: none;
}
.calculate-form-group .calculate-form-control::-webkit-input-placeholder {
  /* Edge */
  color: #FFFFFF;
}
.calculate-form-group .calculate-form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF;
}
.calculate-form-group .calculate-form-control::placeholder {
  color: #FFFFFF;
}
.calculate-form-group .forn-with-icon .calculate-rupees-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.906667px;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 6px;
}
.calculate-form-group .inner-form-group {
  position: relative;
}
.calculate-form-group .inner-form-group .calculate-textbox-text {
  position: absolute;
  right: 0px;
  top: 6px;
  pointer-events: none;
}
.calculate-form-group .inner-form-group .calculate-textbox-text [class^=icon-] {
  font-size: 19px;
  color: #fff;
  margin-right: 5px;
  position: relative;
  z-index: 0;
}

.return-tabs {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 27px;
  display: inline-flex;
}
.return-tabs li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 5px 20px;
  display: block;
}
.return-tabs li a.active-tab {
  background: #D7DF23;
  border-radius: 26px;
  color: #333333;
}

.mob-card-show {
  display: none;
  margin-top: 15px;
}

.loan-types-box .list-goal-base .list-goal {
  padding: 35px 19px;
}

.insurance-plans-li .list-goal {
  display: block;
  width: 100%;
  height: 100%;
  padding: 35px 20px;
  text-align: center;
  transition: all 0.3s;
}
.insurance-plans-li .list-goal .goal-img {
  display: block;
}
.insurance-plans-li .list-goal .goal-img-hover {
  display: none;
}
.insurance-plans-li .list-goal:hover {
  background-color: #2c6eb5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}
.insurance-plans-li .list-goal:hover .goal-img {
  display: none;
}
.insurance-plans-li .list-goal:hover .goal-img-hover {
  display: block;
}
.insurance-plans-li .list-goal:hover h5 {
  color: #fff;
}
.insurance-plans-li .list-goal-img {
  height: 50px;
  margin: 0 auto 16px;
}
.insurance-plans-li .list-goal-img img {
  margin: auto;
}

@media (max-width: 1199px) {
  .sip-cards .sip-card-img {
    max-width: 110px;
  }
  .sip-cards .sip-cards-info {
    max-width: 300px;
  }
  .sip-cards p {
    margin-bottom: 22px;
  }
  .sip-cards.banner-sip-cards {
    padding: 25px 20px;
  }
  .sip-cards.credit-loan-cards .sip-card-img {
    max-width: 170px;
    top: 160px;
  }

  .calculate-return-top {
    padding-left: 12px;
    padding-right: 12px;
  }

  .calculate-return-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .calculate-return-bottom .btn-h40 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .card-blocks-wrap {
    margin: 0 -20px;
  }
  .card-blocks-wrap li {
    min-width: 156px;
    padding: 0 20px;
  }
}
@media (max-width: 991px) {
  .tab-view-all {
    display: block;
    padding-top: 30px;
    text-align: center;
  }

  .list-goal-base li {
    width: 50%;
  }

  .view-all-btns {
    margin-top: 30px;
  }

  .card-blocks-wrap li {
    padding-right: 20px;
    min-width: 140px;
  }
  .card-blocks-wrap li:not(:first-child) {
    padding-left: 20px;
  }

  .sip-cards {
    box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  }
  .sip-cards .sip-card-img {
    max-width: 200px;
  }
  .sip-cards .sip-cards-info {
    max-width: 314px;
  }
  .sip-cards.credit-loan-cards .sip-cards-info {
    max-width: 320px;
  }
  .sip-cards.credit-loan-cards .sip-card-img {
    max-width: 240px;
    top: 115px;
  }
}
@media (max-width: 767px) {
  .list-goal-base li {
    width: 50%;
  }
  .list-goal-base .list-goal {
    padding: 19px 15px;
  }
  .list-goal-base .list-goal-img {
    margin-bottom: 12px;
    height: 45px;
  }
  .list-goal-base .list-goal-img img {
    height: 45px;
  }
  .list-goal-base h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .card-blocks-wrap {
    margin: 0 -20px;
  }
  .card-blocks-wrap li {
    width: 50%;
    min-width: auto;
    padding: 0 20px !important;
  }
  .card-blocks-wrap li:nth-child(even) {
    border-right: 0;
  }

  .card-title-wrap {
    margin-top: 28px;
  }
  .card-title-wrap:last-child {
    margin-bottom: 40px;
  }
  .card-title-wrap h5, .card-title-wrap h6 {
    font-size: 16px;
    line-height: 19px;
  }
  .card-title-wrap .card-div {
    padding: 18px 19px;
  }
  .card-title-wrap .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }

  .card-div .card-description-wrap p {
    font-size: 12px;
    line-height: 20px;
  }

  .card-blocks-wrap li .label-text {
    font-size: 11px;
    line-height: 12px;
  }
  .card-blocks-wrap li h6 {
    font-size: 14px;
    line-height: 21px;
  }
  .card-blocks-wrap li h6 span {
    font-size: 10px;
    line-height: 14px;
  }
  .card-blocks-wrap li.web-link-wrap {
    width: 100%;
  }

  .sip-cards {
    padding: 25px 20px 40px;
  }
  .sip-cards .sip-cards-info {
    padding-right: 0px;
  }
  .sip-cards h4 {
    font-size: 16px;
    line-height: 24px;
    padding-right: 85px;
  }
  .sip-cards p {
    font-size: 12px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
  }
  .sip-cards .sip-card-btn {
    text-align: center;
  }
  .sip-cards .sip-card-img {
    max-width: 70px;
    top: 25px;
  }
  .sip-cards.credit-loan-cards {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .sip-cards.credit-loan-cards .sip-card-img {
    position: relative;
    top: auto;
    width: 120px;
    margin-bottom: 15px;
  }
  .sip-cards.credit-loan-cards .sip-cards-info {
    text-align: center;
    max-width: none;
  }
  .sip-cards.credit-loan-cards h4 {
    padding: 0;
  }

  .calculate-return-cards {
    box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  }

  .calculate-return-top .calculate-top {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 28px;
  }
  .calculate-return-top .calculate-top h4 {
    margin-bottom: 22px;
  }
  .calculate-return-top .calculate-top .return-tabs-outer {
    position: static;
  }
  .calculate-return-top .calculates-ul {
    margin: 0px;
  }
  .calculate-return-top .calculates-ul .calculates-li {
    width: 100%;
    padding: 0px;
  }

  .return-tabs li a {
    padding: 11px 18px;
  }

  .calculate-form-group {
    margin-bottom: 25px;
  }

  .calculate-return-bottom {
    padding: 20px 20px 30px;
  }
  .calculate-return-bottom h6 {
    font-size: 18px;
    line-height: 27px;
  }
  .calculate-return-bottom .return-li {
    width: 50%;
  }
  .calculate-return-bottom .return-li.return-btn {
    width: 100%;
  }
  .calculate-return-bottom .btn-blue {
    width: 100%;
    margin-top: 22px;
  }

  .mob-card-show {
    display: block;
  }

  .faq-category-box {
    padding: 10px 0 50px;
  }
  .faq-category-box h2 {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .insurance-plans-li .list-goal {
    padding: 19px 15px;
  }
  .insurance-plans-li .list-goal h5 {
    font-size: 14px;
    line-height: 21px;
  }
  .insurance-plans-li .list-goal-img {
    margin-bottom: 12px;
    height: 40px;
  }
  .insurance-plans-li .list-goal-img img {
    height: 40px;
  }
}
.exit-load-full {
  width: 100% !important;
}
.exit-load-full i {
  width: 52px;
  display: block;
}
.exit-load-full h6 {
  display: flex;
  flex-wrap: wrap;
}
.exit-load-full h6 span {
  float: none !important;
  width: calc(100% - 62px);
}

@media (min-width: 992px) {
  .tab-view-all {
    display: none;
  }
}
.breadcrumb-wrap {
  padding: 15px 0;
}
.breadcrumb-wrap.banner-breadcrumb {
  padding-bottom: 0px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.breadcrumb li {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #6F8695;
  padding-right: 13px;
  margin-right: 8px;
}
.breadcrumb li:not(:last-child):after {
  content: "/";
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #C7C7C7;
  transform: rotate(17deg);
  position: absolute;
  top: 0;
  right: 0;
}
.breadcrumb a {
  display: block;
  color: #333333;
}

.category-breadcrumb {
  padding: 17px 0 15px;
}

@media (max-width: 767px) {
  .breadcrumb-wrap {
    padding: 7px 0;
  }

  .category-breadcrumb {
    padding: 7px 0;
  }
}

/*# sourceMappingURL=style.css.map */
