<header class="header">
    <!-- header -top -->
    <div class="top-bar">
        <div class="container">
            <div class="top-inner">
                <!-- <div class="header-indicator"></div> -->
                <ul class="nav primary-nav" data-anchorList="anchorList">
                    <sly data-sly-use.navbarlist="${currentStyle.path}" data-sly-list="${navbarlist.listChildren}">
                        <sly data-sly-test="${item.name=='nav'}">
                            <sly data-sly-list.navList="${item.children}">
                                <li class="${navList.navActive ? 'active-state' : ''}  ${navList.restrictPartner ? 'restricted-partner' : ''}"><a href="${navList.navlink}"
                                        target="${subMenulist.navlinkNewTab ? '_blank' : ''}">${navList.navHeading}</a>
                                </li>
                            </sly>
                        </sly>
                    </sly>
                </ul>
            </div>
        </div>
    </div>
    <!-- header -top -->

    <!-- header bottom -->
    <div class="second-bar">
        <div class="container">
            <div class="second-inner">
                <div class="mobile-tab-menu">
                    <div class="hamburger-menu" data-menu="menu" data-target="hamburgerMenu">
                        <div class="first-sub-bar"></div>
                        <div class="second-sub-bar"></div>
                        <div class="third-sub-bar"></div>
                    </div>
                </div>

                <div class="nav-logo">
                    <a href="${currentStyle.loglink}" target="${currentStyle.logolinkNewTab ? '_blank' : ''}">
                        <img src="${currentStyle.logo}" alt="" class="logo-desktop" />
                        <!-- <img src="assets/images/logo-mb.png" alt="" class="affixlogo-desktop"> -->
                    </a>
                </div>
                <div class="second-right">
                    <div class="second-header-left" data-anchorList="anchorList">
                        <ul class="main-menu jsMainMenu">
                            <sly data-sly-use.navbarlist="${currentStyle.path}"
                                data-sly-list="${navbarlist.listChildren}">
                                <sly data-sly-test="${item.name=='headerMenu'}">
                                    <sly data-sly-list.menuList="${item.children}">
                                        <li class="${menuList.dropdown ? 'submenu-arrow' : ''} ${menuList.restrictPartner ? 'restricted-partner' : ''}">
                                            <sly data-sly-test="${!menuList.popoverCheck}">
                                            <a href="${menuList.link}"
                                                target="${menuList.linkNewTab ? '_blank' : ''}">${menuList.title}</a>
                                            </sly>
                                                <sly data-sly-test="${menuList.popoverCheck}">
                                                    <sly data-sly-test.popid="${'{0}_{1}' @ format =['menupopup',menulistList.count]}">
                                                        <a href="${menuList.link}" target="${menuList.linkNewTab ? '_blank' : ''}" class="jsOpenModal"
                                                            data-popovermodal="popover-modal" data-target="#${popid}">${menuList.title}</a>
                                                    </sly>
                                                </sly>
                                            <div class="submenu-dropdown ${menuListList.last ? 'submenu-right' : '' }"
                                                data-sly-test="${menuList.dropdown}">
                                                <ul class="jsSubMenu">
                                                    <sly data-sly-list.submenudata="${menuList.children}">
                                                        <sly data-sly-test="${submenudata.name == 'submenu'}">
                                                            <sly data-sly-list.subMenulist="${submenudata.children}">
                                                                <li
                                                                    class="${subMenulist.innerdropdown ? 'sub-submenu-arrow' : ''} ${subMenulist.restrictPartner ? 'restricted-partner' : ''}">
                                                                    <sly data-sly-test="${subMenulist.subheadingPopupsLC}">
                                                                            <a href="${subMenulist.sublink}" target="${subMenulist.sublinkNewTab ? '_blank' : ''}"  data-link="${subMenulist.sublink}" class="jsOpenModal"
                                                                            data-popovermodal="popover-modal" data-submenuListName = "${subMenulist.subtitle}" data-target="#submenuLoansCards_popup">${subMenulist.subtitle}</a>
                                                                    </sly>
                                                                    <sly data-sly-test="${!subMenulist.subheadingPopupsLC}">
                                                                    <a href="${subMenulist.sublink}"
                                                                        target="${subMenulist.sublinkNewTab ? '_blank' : ''}" data-submenuListName = "${subMenulist.subtitle}">${subMenulist.subtitle}
                                                                        <sly data-sly-test="${subMenulist.smallCaseImg}">
                                                                            <small class="powered-by">powered by <img src="${subMenulist.smallCaseImg}"alt=""></small>
                                                                        </sly>
                                                                    </a>
                                                                    </sly>
                                                                    <div class="inner-dropdown"
                                                                        data-sly-test="${subMenulist.innerdropdown}">
                                                                        <ul>
                                                                            <sly
                                                                                data-sly-list.innerData="${subMenulist.children}">
                                                                                <sly
                                                                                    data-sly-test="${innerData.name == 'innermenu'}">
                                                                                    <sly
                                                                                        data-sly-list.innerMenulist="${innerData.children}">
                                                                                        <li data-action="${innerMenulist.actionParam}">
                                                                                            <a href="${innerMenulist.innerlink}"
                                                                                                target="${innerMenulist.innerlinkNewTab ? '_blank' : ''}">${innerMenulist.innertitle}
                                                                                            </a>
                                                                                        </li>
                                                                                    </sly>
                                                                                </sly>
                                                                            </sly>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </sly>
                                                        </sly>
                                                    </sly>
                                                </ul>
                                            </div>
                                        </li>
                                    </sly>
                                </sly>
                            </sly>

                        </ul>
                    </div>

                    <div class="second-header-right">
                        <div class="sf-search-wrapper"></div>
                        <div class="header-login">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start mobile header -->
    <div class="mob-header">
        <div class="mob-mainheader" id="mob-mainmenu">
            <!-- blue menu -->
            <div class="top-gray-menu">
                <ul class="mobgraymenu">
                    <sly data-sly-use.navbarlist="${currentStyle.path}" data-sly-list="${navbarlist.listChildren}">
                        <sly data-sly-test="${item.name=='nav'}">
                            <sly data-sly-list.navList="${item.children}">
                                <li class="${navList.navActive ? 'active' : ''} ${navList.restrictPartner ? 'restricted-partner' : ''}">
                                    <a href="${navList.navlink}"
                                        target="${subMenulist.navlinkNewTab ? '_blank' : ''}">${navList.navHeading}</a>
                                </li>
                            </sly>
                        </sly>
                    </sly>
                </ul>
            </div>
            <div class="mob-fixscroll"  data-mobmenu="mobileMenu">
                <!-- Accrodian menu-->
                <div class="accordian-mobsubmenu js-mobsubmenu active ">
                    <sly data-sly-use.navbarlist="${currentStyle.path}" data-sly-list="${navbarlist.listChildren}">
                        <sly data-sly-test="${item.name=='headerMenu'}">
                            <sly data-sly-list.menuList="${item.children}">
                                <sly data-sly-test="${menuList.dropdown}">
                                    <div class="accord-col js-accord-col-mob">
                                            <a href="${menuList.link}"
                                                target="${menuList.linkNewTab ? '_blank' : ''}" class="submenu-head">${menuList.title}</a>

                                                
                                        <div class="accord-body">
                                            <ul class="mob-sub-menu">
                                                <sly data-sly-list.submenudata="${menuList.children}">
                                                    <sly data-sly-test="${submenudata.name == 'submenu'}">
                                                        <sly data-sly-list.subMenulist="${submenudata.children}">
                                                            <sly data-sly-test="${subMenulist.innerdropdown}">
                                                                <sly
                                                                    data-sly-test.tabid="${'{0}_{1}' @ format =[subMenulist.name,subMenulistList.count]}">
                                                                    <li class="js-showDetail" data-value="${tabid}">
                                                                        <a href="${subMenulist.sublink}"
                                                                            target="${subMenulist.sublinkNewTab ? '_blank' : ''}"
                                                                            class="menu-sub-items">${subMenulist.subtitle}</a>
                                                                    </li>
                                                                </sly>
                                                            </sly>
                                                            <sly data-sly-test="${!subMenulist.innerdropdown}">
                                                                <li class="js-showDetail ${subMenulist.restrictPartner ? 'restricted-partner' : ''}">
                                                                    <sly data-sly-test="${subMenulist.subheadingPopupsLC}">
                                                                    <a href="${subMenulist.sublink}"
                                                                        target="${subMenulist.sublinkNewTab ? '_blank' : ''}" class="jsOpenModal"
                                                                        data-popovermodal="popover-modal" data-submenulistname = "${subMenulist.subtitle}" data-target="#submenuLoansCards_popup">${subMenulist.subtitle}
                                                                        <sly data-sly-test="${subMenulist.smallCaseImg}">
                                                                            <small class="powered-by">powered by <img src="${subMenulist.smallCaseImg}" alt=""></small>
                                                                        </sly>
                                                                    </a>    
                                                                    </sly>
                                                                    <sly data-sly-test="${!subMenulist.subheadingPopupsLC}">
                                                                        <a href="${subMenulist.sublink}"
                                                                            target="${subMenulist.sublinkNewTab ? '_blank' : ''}"
                                                                            data-submenulistname = "${subMenulist.subtitle}">${subMenulist.subtitle}
                                                                            <sly data-sly-test="${subMenulist.smallCaseImg}">
                                                                                <small class="powered-by">powered by <img src="${subMenulist.smallCaseImg}" alt=""></small>
                                                                            </sly>
                                                                        </a>    
                                                                    </sly>
                                                                </li>
                                                            </sly>
                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </ul>
                                        </div>
                                    </div>
                                </sly>
                                <sly data-sly-test="${!menuList.dropdown}">
                                    <sly data-sly-test="${!menuList.popoverCheck}">
                                        <a href="${menuList.link}" target="${menuList.linkNewTab ? '_blank' : ''}"
                                            class="submenu-head js-showDetail">${menuList.title}</a>
                                    </sly>
                                    <sly data-sly-test="${menuList.popoverCheck}">
                                        <sly data-sly-test.popid="${'{0}_{1}' @ format =['menupopup',menulistList.count]}">
                                            <a href="${menuList.link}" target="${menuList.linkNewTab ? '_blank' : ''}" class="jsOpenModal submenu-head js-showDetail ${menuList.restrictPartner ? 'restricted-partner' : ''}"
                                                data-popovermodal="popover-modal" data-target="#${popid}">${menuList.title}</a>
                                        </sly>
                                    </sly>
                                </sly>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
        </div>
        <sly data-sly-use.navbarlist="${currentStyle.path}" data-sly-list="${navbarlist.listChildren}">
            <sly data-sly-test="${item.name=='headerMenu'}">
                <sly data-sly-list.menuList="${item.children}">
                    <sly data-sly-list.submenudata="${menuList.children}">
                        <sly data-sly-test="${submenudata.name == 'submenu'}">
                            <sly data-sly-list.subMenulist="${submenudata.children}">
                                <sly data-sly-test="${subMenulist.innerdropdown}">
                                    <sly
                                        data-sly-test.tabid="${'{0}_{1}' @ format =[subMenulist.name,subMenulistList.count]}">
                                        <div class="mob-mainheader js-close-details" id="${tabid}">
                                            <!-- back button -->
                                            <div class="backmenu">
                                                <a href="javascript:void(0)" class="backto js-back"><i
                                                        class="icon-arrow-left" aria-hidden="true"></i>Back</a>
                                            </div>
                                            <div class="mob-fixscroll">
                                                <!-- Bussiness loan -->
                                                <div class="accordian-mobsubmenu mob-submenucotent menu-links">
                                                    <h6 class="submenu-head">${subMenulist.subtitle}</h6>
                                                    <div class="accord-body">
                                                        <ul class="mob-sub-menu"  data-mobmenu="mobileMenu">
                                                            <sly data-sly-list.innerData="${subMenulist.children}">
                                                                <sly data-sly-test="${innerData.name == 'innermenu'}">
                                                                    <sly
                                                                        data-sly-list.innerMenulist="${innerData.children}">
                                                                        <li data-action="${innerMenulist.actionParam}">
                                                                            <a href="${innerMenulist.innerlink}"
                                                                                target="${innerMenulist.innerlinkNewTab ? '_blank' : ''}">${innerMenulist.innertitle}</a>
                                                                        </li>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </sly>
                                </sly>
                            </sly>
                        </sly>
                    </sly>
                </sly>
            </sly>
        </sly>

        <div class="mob-header-bottom">
            <a href="javascript:void(0)">
                <img src="${currentStyle.image}" alt="" /> Contact Us <span> 1860 267 60 60</span>
            </a>
        </div>
    </div>
    <!-- end mobile header -->
            
</header>