<!-- Fund Detail -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-detail'}" />
</sly>

<sly data-sly-use.fundMasterModel="${'com.tatacapital.moneyfy.core.models.FundDetailModel' @ amcMasterContactInfo=currentPage.getParent.getContentResource.amcMasterContactInfo,aum=currentPage.getParent.getContentResource.aum,fundManagerName=pageProperties.fundManagerName}" />
<sly data-sly-use.moneyfySIPDates="${'com.tatacapital.moneyfy.core.models.MoneyfySipCalendarModel'}" />
<sly data-sly-test.cagr="${fundMasterModel.cagrValues}" />
<sly data-sly-test.managerDetails="${fundMasterModel.managerDetails}" />
<sly data-sly-test.minSipAndLumpSum="${fundMasterModel.minSipAndLumpSum}" />
<sly data-sly-test.aumFromAmc="${fundMasterModel.aumFromAmc}" />
<sly data-sly-test.fundSize="${fundMasterModel.fundSize}" />


<script>
    var fundName = "${currentPage.properties.title @context='scriptString'}";
    var schemeId = "${fundMasterModel.schemeDetails.id @context='scriptString'}";
    var allocationPercentage = "${currentPage.properties.bifurcationePerc @context='scriptString'}";
    var catName = "${fundMasterModel.schemeDetails.catName @context='scriptString'}";
    var amcName = "${currentPage.getParent.getContentResource.pageTitle @context='scriptString'}";
    var fundManager = "${managerDetails.managerName @context='scriptString'}";
    allocationPercentage = JSON.parse(allocationPercentage);
    var sipDates = "${moneyfySIPDates.getSipDate @context = 'scriptString'}";
    siptValues = JSON.parse(sipDates);
    var sipF = "${moneyfySIPDates.getSipFlag @context = 'scriptString'}"
    var lamFlag = "${moneyfySIPDates.getLumpSumFlag @context = 'scriptString'}"
</script>


<div class="container">
    <div class="row">
        <div class="lg-left-col">        
            <div class="card-title-wrap ${pageProperties.isNfo == '0' ? '' :'d-none'}" >
                <div class="card-title">
                    <h5>Performance</h5>
                </div>
                <div class="card-div performance-card">
                    <ul class="return-item-wrap d-none d-md-flex">
                        <li><a href="javascript:void(0);" data-return="data_1M" data-value="${cagr['1m']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">1M</a></li>
                        <li><a href="javascript:void(0);" data-return="data_3M" data-value="${cagr['3m']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">3M</a>
                        </li>
                        <li><a href="javascript:void(0);" data-return="data_6M" data-value="${cagr['6m']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">6M</a>
                        </li>
                        <li><a href="javascript:void(0);" data-return="data_1Y" data-value="${cagr['1y']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">1Y</a>
                        </li>
                        <li><a href="javascript:void(0);" class="active" data-return="data_3Y" data-value="${cagr['3y']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">3Y</a>
                        </li>
                        <li><a href="javascript:void(0);" data-return="data_5Y" data-value="${cagr['5y']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">5Y</a></li>
                        <li><a href="javascript:void(0);" data-return="data_Max" data-value="${cagr['mx']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">MAX</a></li>
                    </ul>
                    <div class="return-selection-wrap">
                        <div class="form-select2 d-md-none">
                            <select class="single-select2 js-ReturnSelect">
                                <option value="data_1M" data-duration="1M" data-value="${cagr['1m']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">1M Returns
                                </option>
                                <option value="data_3M" data-duration="3M" data-value="${cagr['3m']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">3M Returns
                                </option>
                                <option value="data_6M" data-duration="6M" data-value="${cagr['6m']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">6M Returns
                                </option>
                                <option value="data_1Y" data-duration="1Y" data-value="${cagr['1y']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">1Y Returns
                                </option>
                                <option selected value="data_3Y" data-duration="3Y" data-value="${cagr['3y']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">3Y Returns
                                </option>
                                <option value="data_5Y" data-duration="5Y" data-value="${cagr['5y']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">5Y Returns
                                </option>
                                <option value="data_Max" data-duration="Max" data-value="${cagr['mx']}" data-trend="${fundMasterModel.navPercentage > 0 ? 'up' : 'down'}">Max
                                </option>
                            </select>
                        </div>
                        <div class="return-data-wrap">
                            <h4><span class="text-dyna">${cagr['3y']}</span>%<span class="return-duration"><span
                                        class="return-text">3y</span><span class="return-span"> Returns</span></span>
                            </h4>
                            <p class="trend-data ${fundMasterModel.navPercentage > 0 ? 'green-text' : 'red-text'}"><i class="${fundMasterModel.navPercentage > 0 ? 'icon-caret-top' : 'icon-caret-down'} icon"></i> ${fundMasterModel.navPercentage}% <span class="return-duration">1D <span class="return-span">Returns</span></p>
                        </div>
                    </div>
                    <div class="graph-mCustomScrollbar">
                        <div id="performance-chart" class="chart-box"></div>
                    </div>
                </div>
            </div>
        
            <div class="card-title-wrap">
                <div class="card-title">
                    <h5>Investment details</h5>
                </div>
                <div class="card-div investment-details-card">
                    <ul class="card-blocks-wrap">
                        <li>
                            <p class="label-text">Min SIP amount</p>
                            <h6>₹ ${minSipAndLumpSum.minSip}</h6>
                        </li>
                        <li>
                            <p class="label-text">Min Lumpsum</p>
                            <h6>₹ ${minSipAndLumpSum.minLumpSumAmt}</h6>
                        </li>
                        <li>
                            <p class="label-text">Lock In</p>
                            <h6>${pageProperties.lockIn}</h6>
                        </li>
                        <li>
                            <p class="label-text">Expense ratio</p>
                            <h6>${pageProperties.expenseRatio}%</h6>
                        </li>
                        <li class="exit-load-full">
                            <p class="label-text">Exit load</p>
                            <h6><i>${fundMasterModel.exitLoadValues[0].exitLoad}</i> <span>${fundMasterModel.exitLoadValues[0].remark}</span></h6>
                            <h6><i>L</i> <span>After 365 days</span></h6>
                            <a href="javascript:void(0)" class="btn-view-all js-toggleExitLoad" data-sly-test="${fundMasterModel.exitLoadValues.size > 1}">
                                <span class="text-wrap">View more</span>
                                <span class="icon icon-arrow-arrow"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="exit-load-content">
                        <ul>
                            <sly data-sly-list.exitLoad="${fundMasterModel.exitLoadValues}">
                                <li data-sly-test="${exitLoadList.index > 0}">
                                    <h6>${exitLoad.exitLoad}</h6>
                                    <p>${exitLoad.remark}</p>
                                </li>
                            </sly>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-title-wrap">
                <div class="card-title">
                    <h5>Fund details</h5>
                    <a href="${pageProperties.viewFundDocument}" target="_blank" class="btn-view-all">View Fund Documents <span
                            class="icon-arrow-right"></span></a>
                </div>
                <div class="card-div fund-details-card">
                    <ul class="card-blocks-wrap">
                        <li>
                            <p class="label-text">Fund size</p>
                            <h6>₹ ${fundSize} Cr</h6>
                        </li>
                        <li>
                            <p class="label-text">Plan</p>
                            <h6>${fundMasterModel.schemeDetails.planName}</h6>
                        </li>
                        <li>
                            <p class="label-text">Launch date</p>
                            <h6>${pageProperties.launchDate}</h6>
                        </li>
                        <li>
                            <p class="label-text">Fund type</p>
                            <h6>${pageProperties.fundType}</h6>
                        </li>
                        <li>
                            <p class="label-text">Fund benchmark</p>
                            <h6>
                                ${pageProperties.benchmarks} <br />
                            </h6>
                        </li>
                        <li>
                            <p class="label-text">ISIN</p>
                            <h6>${fundMasterModel.schemeDetails.isin}</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-title-wrap">
                <div class="card-title">
                    <h5>Fund allocation</h5>
                </div>
                <div class="risk-tab-scroll d-md-none">
                    <ul class="risk-tab-list allocation-tab-list jsAllocationTabList">
                        <li>
                            <a href="javascript:void(0)" class="active-tab" data-allocation="asset-allocation" tabindex="0">Asset Allocation</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-allocation="company-holding" tabindex="0">Company
                                Holdings</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-allocation="sectors" tabindex="0">Sectors</a>
                        </li>
                    </ul>
                </div>
                <div class="card-div fund-allocation-card">
                    <div class="allocation-info-wrap">
                        <div class="allocation-info-item active" data-title="asset-allocation">
                            <div class="allocation-header">Asset allocation</div>
                            <div class="allocation-content">
                                <div class="allocation-graph">
                                    <div id="asset-allocation" class="graph-chart-box"></div>
                                    <div class="allocation-value">
                                        <p id="allocationPercentage"></p>
                                    </div>
                                </div>
                                <div class="graph-labels-wrap">
                                    <ul id="allocationType">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="allocation-info-item company-holding-item" data-title="company-holding">
                            <div class="allocation-header">Company holdings</div>
                            <div class="allocation-content">
                                <div class="filterList-mCustomScrollbar">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Company</th>
                                                <th class="allocation-th">Allocation %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <sly data-sly-list.companyHolding='${fundMasterModel.companyHoldings}'>
                                                <tr>
                                                    <td>${companyHolding.name}</td>
                                                    <td class="text-right">${companyHolding.percentage}%</td>
                                                </tr>
                                            </sly>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="allocation-info-item sector-item" data-title="sectors">
                            <div class="allocation-header">Sectors</div>
                            <div class="allocation-content">
                                <div class="filterList-mCustomScrollbar">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Company</th>
                                                <th class="allocation-th" class="text-right">Allocation %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <sly data-sly-list.sector='${fundMasterModel.sectors}'>
                                                <tr>
                                                    <td>${sector.name}</td>
                                                    <td class="text-right">${sector.percentage}%</td>
                                                </tr>
                                            </sly>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-title-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType != ''}">
                <div class="card-title">
                    <h5>Risk Associated</h5>
                </div>
                <div class="card-div risk-associated-card">
                    <!-- Very High -->
                    <div class="img-text-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Very High'}">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/very-high-risk.png" alt="" class="d-none d-md-block" /> 
                    </div>
                    <div class="content-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Very High'}">
                        <h6 class="text-very-high-risk">${fundMasterModel.schemeDetails.riskType}</h6>
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/very-high-risk.png" alt="" class="d-md-none" />
                        <ul class="dot-list">
                            <li>
                                Investors be aware that principal under this fund will be at ${fundMasterModel.schemeDetails.riskType} risk.
                            </li>
                            <li>Wealth will be Multiplied In Short time!</li>
                        </ul>
                    </div>
                    <!-- Very High -->

                    <!-- High -->
                    <div class="img-text-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'High'}">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/high-risk-meter.png" alt="" class="d-none d-md-block" />
                    </div>
                    <div class="content-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'High'}">
                        <h6 class="text-high-risk">${fundMasterModel.schemeDetails.riskType}</h6>
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/high-risk-meter.png" alt="" class="d-md-none" />
                        <ul class="dot-list">
                            <li>
                                Investors be aware that principal under this fund will be at ${fundMasterModel.schemeDetails.riskType} risk
                            </li>
                            <li>Wealth will be Multiplied In Short time!</li>
                        </ul>
                    </div>
                    <!-- High -->

                    <!-- Moderately High -->
                    <div class="img-text-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Moderately High'}">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/moderately-high-risk-meter.png" alt="" class="d-none d-md-block" />
                    </div>
                    <div class="content-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Moderately High'}">
                        <h6 class="text-moderately-high-risk">${fundMasterModel.schemeDetails.riskType == '' ? '-' : fundMasterModel.schemeDetails.riskType}</h6>
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/moderately-high-risk-meter.png" alt="" class="d-md-none" />
                        <ul class="dot-list">
                            <li>
                                Investors be aware that principal under this fund will be at ${fundMasterModel.schemeDetails.riskType} risk
                            </li>
                            <li>Wealth will be Multiplied In Short time!</li>
                        </ul>
                    </div>
                    <!-- Moderately High -->

                    <!-- Moderate -->
                    <div class="img-text-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Moderate'}">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/moderate-risk-meter.png" alt="" class="d-none d-md-block" />
                    </div>
                    <div class="content-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Moderate'}">
                        <h6 class="text-moderate-risk">${fundMasterModel.schemeDetails.riskType == '' ? '-' : fundMasterModel.schemeDetails.riskType}</h6>
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/moderate-risk-meter.png" alt="" class="d-md-none" />
                        <ul class="dot-list">
                            <li>
                                Investors be aware that principal under this fund will be at ${fundMasterModel.schemeDetails.riskType} risk
                            </li>
                            <li>Wealth will be Multiplied In Short time!</li>
                        </ul>
                    </div>
                    <!-- Moderate -->

                    <!-- Moderately Low -->
                    <div class="img-text-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Low to Moderate'}">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/moderately-low-risk-meter.png" alt="" class="d-none d-md-block" />
        
                    </div>
                    <div class="content-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Low to Moderate'}">
                        <h6 class="text-moderately-low-risk">${fundMasterModel.schemeDetails.riskType == '' ? '-' : fundMasterModel.schemeDetails.riskType}</h6>
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/moderately-low-risk-meter.png" alt="" class="d-md-none" />
                        <ul class="dot-list">
                            <li>
                                Investors be aware that principal under this fund will be at ${fundMasterModel.schemeDetails.riskType} risk
                            </li>
                            <li>Wealth will be Multiplied In Short time!</li>
                        </ul>
                    </div>
                    <!-- Moderately Low -->

                    <!-- Low -->
                    <div class="img-text-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Low'}">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/low-risk.png" alt="" class="d-none d-md-block" />
                    </div>
                    <div class="content-wrap" data-sly-test="${fundMasterModel.schemeDetails.riskType == 'Low'}">
                        <h6 class="text-low-risk">${fundMasterModel.schemeDetails.riskType == '' ? '-' : fundMasterModel.schemeDetails.riskType}</h6>
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/low-risk.png" alt="" class="d-md-none" />
                        <ul class="dot-list">
                            <li>
                                Investors be aware that principal under this fund will be at ${fundMasterModel.schemeDetails.riskType} risk
                            </li>
                            <li>Wealth will be Multiplied In Short time!</li>
                        </ul>
                    </div>
                    <!-- Low -->
                </div>
            </div>
            <div class="card-title-wrap">
                <div class="card-title">
                    <h5>About AMC</h5>
                    <a href="" id="amcPagePath" class="btn-view-all">View All Mutual Funds <span
                            class="icon-arrow-right"></span></a>
                </div>
                <div class="card-div about-amc-card">
                    <div class="name-select-wrap">
                        <div class="img-name-wrap">
                            <div class="img-wrap">
                                <img src="${currentPage.getParent.getContentResource.iconPath}" alt="" />
                            </div>
                            <div class="name-wrap">
                                <a href="" id="amcPagePathForHeading" class="heading-of-amc"><h6>${currentPage.getParent.getContentResource.pageTitle} ></h6></a>
                            </div>
                        </div>

                        <a href="javascript:void(0);" class="contact-infomarion-btn js-ToggleBtn" data-btn="contact-card">
                            Contact Information
                        </a>
                    </div>

                    <div class="card-div contact-info-wrap" data-toggleCard="contact-card">
                        <a href="javascript:void(0);" class="contact-modal-close js-closeContact d-md-none"><span
                                class="icon-close"></span></a>
                        <h4 class="d-md-none">Contact Information</h4>
                        <h6>Address:</h6>
                        <p>${fundMasterModel.amcAddress}</p>
                        <ul class="card-blocks-wrap">
                            <li>
                                <p class="label-text">Email:</p>
                                <p>
                                    <a href="mailto:${fundMasterModel.amcMail}">${fundMasterModel.amcMail}</a>
                                </p>
                            </li>
                            <li>
                                <p class="label-text">Website</p>
                                <p>
                                    <sly data-sly-test.url="${fundMasterModel.amcVisit == '' ? '-' : fundMasterModel.amcVisit}" />
                                    <a href="${url @context='uri'}" target="_blank">${url @context='uri'}</a>
                                </p>
                            </li>
                            <li class="web-link-wrap">
                                <p class="label-text">Phone:</p>
                                <p><b>${fundMasterModel.amcPhone}</b></p>
                            </li>
                        </ul>
                    </div>

                    <ul class="card-blocks-wrap">
                        <li>
                            <p class="label-text">Funds Offered</p>
                            <h6>${currentPage.getParent.getContentResource.totalFunds}</h6>
                        </li>
                        <li>
                            <p class="label-text">AUM</p>
                            <h6>₹ ${aumFromAmc.aum} Cr</h6>
                        </li>
                        <li>
                            <p class="label-text">Website</p>
                            <p>
                                <a href="${url @context='uri'}" target="_blank">${url @context='uri'}</a>
                            </p>
                        </li>
                    </ul>
                    <div class="card-description-wrap">
                        <h6>About</h6>
                        <p class="textwithknow">
                            ${currentPage.getParent.getContentResource.description}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-title-wrap" data-sly-test="${pageProperties.fundManagerName}">
                <div class="card-title">
                    <h5>Fund Manager</h5>
                    <a href="" id="fundManagerPagePath" class="btn-view-all">View All Mutual Funds <span
                            class="icon-arrow-right"></span></a>
                </div>
                <div class="card-div about-amc-card">
                    <div class="img-name-wrap">
                        <div class="img-wrap name-wrap">
                            <p id="managerNameInitials"></p>
                        </div>
                        <div class="name-wrap">
                            <a href="" id="fundManagerPagePathForHeading" class="heading-of-fund-manager"> <h6 id="managerName">${managerDetails.managerName}</h6></a>
                        </div>
                    </div>
                    <ul class="card-blocks-wrap">
                        <li>
                            <p class="label-text">Funds Offered</p>
                            <h6>${managerDetails.fundOffered}</h6>
                        </li>
                        <li>
                            <p class="label-text">AUM</p>
                            <h6>₹ ${managerDetails.fundSize} Cr</h6>
                        </li>
                        <li>
                            <p class="label-text">Highest Return</p>
                            <h6>${managerDetails.highestReturn}%</h6>
                        </li>
                    </ul>
                    <div class="card-description-wrap">
                        <h6>About</h6>
                        <p>${managerDetails.description}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg-right-col">
            <div class="rightside-form-wrap js-floating js-rightSideFix" data-toggleinvest=>

                <div class="calculate-return-cards jsbanner-calculate-form card-bottom-error">
                    <div class="calculate-return-top">
                        <a href="javascript:void(0);" class="contact-modal-close invest-close js-closeInvest d-lg-none"><span
                                class="icon-close"></span></a>
                        <div class="calculate-top-wrap">
                            <h4>Start investing now</h4>
                            <div class="return-tabs-outer">
                                <ul class="return-tabs jsReturnTabList" id="investmentType">
                                    <li>
                                        <a href="javascript:void(0)" class="active-tab" data-sip="sip" data-returnmenu="SIP">SIP</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-lump="lump" data-returnmenu="onetime">One time</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="calculate-content-row jsReturnTabRow" id="SIP">
                            <div class="calculates-ul">
                                <div class="calculates-li">
                                    <div class="calculate-form-group form-group">
                                        <label>SIP amount</label>
                                        <div class="inner-form-group forn-with-icon">
                                            <input type="text" class="calculate-form-control only-numeric-input" maxlength="10" placeholder="" data-type="monthly-invest-amount">
                                            <label class="calculate-textbox-text">/ Monthly</label>
                                            <!-- <span class="calculate-rupees-text">₹</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="calculates-li">
                                    <div class="calculate-form-group form-group">
                                        <label>Monthly SIP Date</label>
                                        <div class="inner-form-group">
                                            <input type="text" class="calculate-form-control js-dateCalendarInput" placeholder="">
                                            <label class="calculate-textbox-text"><span
                                                    class="icon-calander"></span></label>
                                            <div class="date-calendar js-calendarCard">
                                                <!-- 15-3-2022 -->
                                                <div class="date-top-heading">
                                                    <h5>Select a Date</h5>
                                                    <p class="calendar-close">
                                                        <a href="javascript:void(0);" class="close js-calendarCloseBtn"><span class="icon-close icon"></span></a>
                                                    </p>
                                                </div>
                                                <!-- 15-3-2022 -->
                                                <div class="calendar-table-wrap">
                                                    <table class="calendar-table js-calendarTable">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td><span data-value="1st">1</span></td>
                                                                <td><span data-value="2nd">2</span></td>
                                                                <td><span data-value="3rd">3</span></td>
                                                                <td><span data-value="4th">4</span></td>
                                                                <td><span data-value="5th">5</span></td>
                                                                <td><span data-value="6th">6</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span data-value="7th">7</span></td>
                                                                <td><span data-value="8th">8</span></td>
                                                                <td><span data-value="9th">9</span></td>
                                                                <td><span data-value="10th">10</span></td>
                                                                <td><span data-value="11th">11</span></td>
                                                                <td><span data-value="12th">12</span></td>
                                                                <td><span data-value="13th">13</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span data-value="14th">14</span></td>
                                                                <td><span data-value="15th">15</span></td>
                                                                <td><span data-value="16th">16</span></td>
                                                                <td><span data-value="17th">17</span></td>
                                                                <td><span data-value="18th">18</span></td>
                                                                <td><span data-value="19th">19</span></td>
                                                                <td><span data-value="20th">20</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span data-value="21st">21</span></td>
                                                                <td><span data-value="22nd">22</span></td>
                                                                <td><span data-value="23rd">23</span></td>
                                                                <td><span data-value="24th">24</span></td>
                                                                <td><span data-value="25th">25</span></td>
                                                                <td><span data-value="26th">26</span></td>
                                                                <td><span data-value="27th">27</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span data-value="28th">28</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- <div class="btn-wrap">
                                                    <a class="btn-blue radius100 js-calendarSubmit">OK</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="calculate-content-row jsReturnTabRow d-none" id="onetime">
                            <div class="calculates-ul">
                                <div class="calculates-li">
                                    <div class="calculate-form-group form-group">
                                        <label>Amount</label>
                                        <div class="inner-form-group forn-with-icon">
                                            <input type="text" class="calculate-form-control only-numeric-input" maxlength="10" data-type="lumsum">
                                            <label class="calculate-textbox-text">/ Lumpsum</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calculate-return-bottom">
                        <div class="error-wrap"></div>
                        <div class="return-ul">
                            <div class="return-li return-btn">
                                <button type="button" class="btn-blue radius100 btn-h40 jsInvestKnow">Invest
                                    Now</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-detail'}" />
</sly>