
.app-talk-box {
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 30px;
}
.app-talk-box .download-app {
  width: 149px;
}
.app-talk-box .download-app a {
  position: relative;
  width: 30px;
  height: 149px;
  display: block;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #005899;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 7px 8px;
  font-weight: 700;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.app-talk-box .download-app a span {
  transform: rotate(90deg);
  width: 123px;
  display: block;
  position: absolute;
  right: -46px;
  top: 52px;
}
.app-talk-box .download-app a img {
  width: 13px;
  position: absolute;
  bottom: 10px;
  right: 8px;
}
.app-talk-box .lets-talk {
  width: 103px;
  margin-top: 10px;
}
.app-talk-box .lets-talk a {
  position: relative;
  width: 30px;
  height: 103px;
  display: block;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #D7DF23;
  color: #333;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 7px 8px;
  font-weight: 700;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.app-talk-box .lets-talk a span {
  transform: rotate(90deg);
  width: 82px;
  display: block;
  position: absolute;
  right: -26px;
  top: 32px;
}
.app-talk-box .lets-talk a img {
  width: 19px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.hidden {
    display: none !important;
}

/* popup CSS start */
.popover-modal-open {
  overflow: hidden;
}
.popover-modal-open .popover-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.popover-modal-close {
  background: transparent;
  border: none;
  color: #2C6EB5;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}
.popover-modal-close:focus {
  outline: none;
}

.popover-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.popover-modal .popover-modal-dialog {
  position: relative;
  margin: 15px auto;
  pointer-events: none;
  max-width: 720px;
}
.popover-modal.fade .popover-modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.popover-modal.popover-show.fade {
  opacity: 1;
  transition: opacity 0.15s linear;
}
.popover-modal.popover-show .popover-modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.popover-modal .popover-modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 30px);
}
.popover-modal .popover-modal-content {
  position: relative;
  width: 100%;
  pointer-events: auto;
  outline: 0;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.popover-modal.app-download-modal .popover-modal-content {
  background-color: transparent;
}
.popover-modal.app-download-modal .app-bg {
  background-color: #fff;
  border-radius: 10px;
}

.modal-body-inner2 {
  padding: 45px 40px;
}

.modal-body-inner3 {
  padding: 45px 25px 30px;
}

.download-app-row {
  display: flex;
  flex-wrap: wrap;
}
.download-app-row .download-app-left {
  width: 188px;
}
.download-app-row .download-app-right {
  width: calc(100% - 188px);
  padding-left: 15px;
  padding-top: 12px;
}
.download-app-row h4 {
  margin-bottom: 10px;
}
.download-app-row p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  margin-bottom: 13px;
}

.error-msgs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  color: #fe7777;
  padding-left: 20px;
  margin-top: 2px;
}

.download-link-outer {
  margin-top: -58px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.download-link-app {
  background-color: #2C6EB5;
  border-radius: 10px;
  padding: 30px 45px;
  min-height: 118px;
}
.download-link-app .get-app-link {
  margin-bottom: 0px;
}
.download-link-app .get-app-link .get-links {
  top: 5px;
  z-index: 3;
}
.download-link-app .get-app-inner {
  position: relative;
}

.color-white {
  color: #fff !important;
}

.get-app-messege {
  text-align: center;
}
.get-app-messege h6 {
  position: relative;
  min-height: 35px;
  padding-left: 45px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  margin-bottom: 18px;
}
.get-app-messege h6 .ticks {
  position: absolute;
  left: 0px;
  top: 0px;
}
.get-app-messege p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.get-app-messege p:last-child {
  margin-bottom: 0px;
}
.get-app-messege.get-app-link-via-sms img {
  margin: 0 auto 10px;
}
.get-app-messege.get-app-link-via-sms h6 {
  padding: 0;
  min-height: auto;
  margin-bottom: 0;
}
.get-app-messege.get-app-link-via-sms .get-edit-link a {
  top: 3px;
}

.get-edit-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.get-edit-link a {
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.get-app-loader {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .modal-body-inner2 {
    padding: 30px 15px;
  }

  .popover-modal-close {
    top: 15px;
    right: 15px;
  }

  .popover-modal {
    padding: 0 15px;
  }

  .modal-body-inner3 {
    padding: 37px 15px 94px;
  }

  .app-download-modal h4 {
    margin-bottom: 15px;
  }

  .download-app-row .app-store-link {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .download-app-row .app-store-link img {
    margin-bottom: 10px;
  }
  .download-app-row .download-app-left {
    width: 100px;
  }
  .download-app-row .download-app-right {
    width: calc(100% - 100px);
    padding-top: 2px;
    padding-left: 30px;
  }
  .download-app-row p {
    font-size: 12px;
    line-height: 19px;
  }

  .download-link-outer {
    padding: 0 15px;
    margin-top: -75px;
  }

  .download-link-app {
    padding: 20px;
    min-height: 141px;
  }
  .download-link-app .error-msgs {
    font-size: 11px;
    line-height: 12px;
  }
  .download-link-app .get-app-inner {
    margin-bottom: 15px;
  }
  .download-link-app .get-app-link {
    text-align: center;
  }
  .download-link-app .get-app-link .get-links {
    position: static;
  }
  .download-link-app .get-app-link .form-control-plain {
    padding-right: 15px;
  }
  .download-link-app .get-app-link .btn-blue {
    background: #D7DF23;
    color: #2C6EB5;
  }

  .get-edit-link {
    margin-bottom: 8px;
  }

  .get-app-messege h6 {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 21px;
    min-height: 30px;
  }
  .get-app-messege h6 .ticks {
    width: 30px;
  }
  .get-app-messege p {
    font-size: 12px;
    line-height: 16px;
  }

  .get-app-loader {
    height: 101px;
  }
}

@media (min-width: 992px) {
  .popover-modal {
    padding: 0 15px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-xl2 {
    max-width: 1300px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-xl {
    max-width: 1180px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-lg2 {
    max-width: 970px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-lg {
    max-width: 930px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md {
    max-width: 500px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md2 {
    max-width: 704px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-sm {
    max-width: 320px;
  }
  .popover-modal .popover-modal-dialog.popover-modal-md3 {
    max-width: 665px;
  }
}

h4 {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #333333;
}

.get-app-link {
    position: relative;
   
}
.get-app-link .form-control-plain {
    height: 58px;
    font-size: 14px;
    line-height: 22px;
    color: #606060;
    padding: 18px 230px 18px 56px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 23px rgb(113 144 165 / 20%);
    border-radius: 38px;
    border: 1px solid rgba(44, 110, 181, 0.3);
}
.get-app-link .text-code {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.get-app-link .get-links {
    min-width: 220px;
    position: absolute;
    right: 4px;
    top: 5px;
    z-index: 3;
}

@media (max-width: 767px){
    h4 {
        font-size: 18px;
        line-height: 21px;
    }
}
@media (max-width: 1199px){
    .get-app-link .get-links {
        min-width: inherit;
    }
}
.app-talk-box {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    z-index: 15;
}
/*# sourceMappingURL=style.css.map */

/* popup CSS start */
