<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.icici-credit-card'}"></sly>
</sly>

<div>
  <main>
    <div class="login-register-wrap credit-wrap">
      <div class="container">
        <div class="login-register-row">
          <div class="left-col">
            <div class="nav-logo">
              <a href="javascript:void(0)">
                <img src="${properties.logo}" alt="" class="logo-desktop">
              </a>
            </div>
            <div class="form-wizard credit-card-forms">
              <div class="form-block">
                <div class="form-step">
                  <form id="credit-card-form">
                    <div class="heading-section">
                      <h3>${properties.heading}</h3>
                      <h6>${properties.title}</h6>
                    </div>
                    <div class="card-rows">
                      <div class="card-50">
                        <div class="form-group">
                          <label class="label-name">Name</label>
                          <input type="text" class="input-textbox" data-type="name" placeholder="" />
                        </div>
                      </div>
                      <div class="card-50">
                        <div class="form-group">
                          <label class="label-name">Mobile No. </label>
                          <div class="input-mob-number">
                            <input type="text" value="+91" class="country-code" readonly />
                            <input type="tel" class="input-textbox only-numeric-input" data-type="mobile" maxlength="10"
                              placeholder="" />
                          </div>
                        </div>
                      </div>
                      <div class="card-50">
                        <div class="form-group">
                          <label class="label-name">Email Address</label>
                          <input type="email" class="input-textbox" data-type="email" placeholder="" />
                        </div>
                      </div>
                      <!-- 19-10-2022 -->
                      <!-- <div class="card-50">
                      <div class="form-group">
                        <label class="label-name">City</label>
                        <div class="select2-wrap">
                          <select class="single-select2 js-Selectsingle city" data-placeholder="Select City" data-type="city">
                            <option></option>                   
                          </select>
                        </div>
                      </div>
                      </div> -->
                      <!-- 19-10-2022 -->
                      <!-- 23-12-2022-->
                      <div class="card-50 hidden" data-city="manualType">
                        <div class="form-group">
                          <label class="label-name">City</label>
                          <input type="text" class="input-textbox" data-type="city" placeholder="" />
                        </div>
                      </div>
                      <div class="card-50" data-city="optionsType">
                        <div class="form-group">
                          <label class="label-name">City</label>
                          <div class="textbox-inner">
                            <div class="custom-dropdown search-dropdown jsCityDropdown close-on-outside">
                              <button type="button" data-dropdown="dropdown" data-type="city" class="select-input">Select</button>
                              <div class="custom-dropdown-container">
                                <div class="textbox-search">
                                  <div class="textbox-search-wrap">
                                    <input type="text" class="search-input" id="searchCity">
                                    <a class="textbox-search-icon icon-search"></a>
                                  </div>
                                </div>
                                <div class="search-drop-list">
                                  <ul class="js-dropdownscroll dropdownmenu jsSearchVali" id="searchCityList"></ul>
                                </div>
                                <div class="textbox-add-bottom">
                                  <p class="text-find">Can’t find your city?</p>
                                  <p class="text-find"><a href="javascript:void(0)" class="jsAddManually">Add Manually</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 23-12-2022 -->

                      <div class="card-50">
                        <div class="form-group">
                          <label class="label-name">Pincode</label>
                          <input type="text" class="input-textbox only-numeric-input" maxlength="6" data-type="pincode"
                            placeholder="" />
                        </div>
                      </div>
                    </div>
                    <div class="btn-wrap">
                      <button type="button" class="btn-blue radius100 js-proceed-btn">${properties.button}</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

          <div class="right-col">
            <div class="credit-card-details">
              <img src="${properties.img}" alt="">
              <div class="credit-inners">
                <h3>${properties.imgTitle}</h3>
                ${properties.disription @context='html'}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="loader js-loader">
  <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
</div>

<!-- credit-card modal -->
<div class="popover-modal fade" id="credit-card-modal">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">

        <!-- credit card otp -->
        <div class="modal-body-inner2 creditcard-otp-mod" data-form="creditcard-otp">
          <button data-dismiss="popover-modal" class="popover-modal-close jsCreditCardClear"><i
              class="icon-close"></i></button>
          <div class="credit-card-otp-form">
            <h4>Verify OTP</h4>
            <p>An OTP is sent to your registered mobile number +91 ********<span class="jsShowMob">37</span> <a
                href="javascript:;" class="js-CrediteditNumber"><i class="icon-edit"></i></a></p>
            <div class="credit-card-otp">
              <form id="credit-otp">
                <div class="form-group enter-otp">
                  <!-- <label class="label-name ">Enter OTP</label>-->
                  <div class="enter-otp-block">
                    <div class="otp-col js-OtpBox">
                      <input class="input-textbox only-numeric-input" type="text" maxlength="1">
                      <input class="input-textbox only-numeric-input pointer-none" type="text" maxlength="1">
                      <input class="input-textbox only-numeric-input pointer-none" type="text" maxlength="1">
                      <input class="input-textbox only-numeric-input pointer-none" type="text" maxlength="1">
                    </div>
                  </div>
                </div>
                <div class="resend-otp">
                  <!-- <span><i class="icon-watch"></i> 00:23</span> -->
                  <a href="javascript:;" class="resend js-resendOTP">Resend</a>
                </div>
                <div class="text-center">
                  <button type="button" class="btn-blue radius100 btn-disabled jsCreditSubmitOtp">PROCEED</button>
                </div>

              </form>

            </div>
          </div>
        </div>
        <!-- <div class="loader js-loader">
          <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
        </div> -->
        <!-- credit card otp -->

        <!-- Thankyou -->
        <div class="modal-body-inner2 creditcard-thankyou d-none" data-form="creditcard-thanks">
          <button data-dismiss="popover-modal" class="popover-modal-close white-color jsCreditCardClear"><i
              class="icon-close"></i></button>
          <div class="thankyou-inner">
            <img src="/content/dam/tata-capital-moneyfy/icici-credit-card/ticks2.svg" alt="">
            <h4>Your have sucessfully registered for a ICICI Credit Card</h4>
            <p>Our representative will reach you shortly</p>
          </div>
        </div>
        <!-- Thankyou -->

      </div>
    </div>
  </div>
</div>
<!-- end credit-card modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.icici-credit-card'}"></sly>
</sly>