 <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.about-subsidiary-companies-box'}"></sly>
</sly>

<section class="subsidiary-companies-box">
    <div class="container">
        <div class="subsidiary-headeing">
            <h2>${properties.heading}</h2>
        </div>
        <div class="subsidiary-companies-slider slider-dots slider-arrows flex-slider" id="subsidiaryCompanySlider">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='companySlideItemMultifield'}">
                    <sly data-sly-list.companySlideItem="${item.children}">
                        <div class="slider-item">
                            <div class="company-slide-item">
                                <h5>${companySlideItem.companySlideHeading}</h5>
                                ${companySlideItem.companySlideDescription @context='html'}
                                <sly data-sly-test.aboutpop="${'{0}_{1}' @ format =['AboutCompanies',companyslideitemList.count]}">
                                    <sly data-sly-test="${companySlideItem.companySlideButton}">
                                        <a href="${companySlideItem.companySlideButtonLink}"
                                            target="${companySlideItem.companySlideButtonTarget ? '_blank':''}"
                                            class="btn-view-all explore-btn jsOpenModal" tabindex="0" data-popovermodal="popover-modal"
                                            data-target="#${aboutpop}">${companySlideItem.companySlideButton}<span class="icon-arrow-right"></span></a>
                                    </sly>
                                </sly>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>

<sly data-sly-list="${resource.children}">
    <sly data-sly-test="${item.name=='companySlideItemMultifield'}">
        <sly data-sly-list.companySlideItem="${item.children}">
            <sly data-sly-test.aboutpop="${'{0}_{1}' @ format =['AboutCompanies',companySlideItemList.count]}">
                <!-- start check credit modal -->
                <div class="popover-modal fade contribute-modal"
                    id="${aboutpop}">
                    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
                        <div class="popover-modal-content radius10">
                            <div class="popover-modal-body">
                                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                                        class="icon-close"></i></button>
                                <div class="modal-body-inner3">
                                    <div class="terms-text text-center js-termsBox">
                                        ${companySlideItem.popoverDescription @context='html'}
            
                                        <a href="${companySlideItem.proceedButtonLink}" target="${companySlideItem.newTabProceed  ? '_blank':''}"
                                            class="btn-blue radius100">${companySlideItem.buttonTitleProceed}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end check credit modal -->
            </sly>
        </sly>
    </sly>
</sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.about-subsidiary-companies-box'}"></sly>
</sly>