.our-partners-box {
  padding: 60px 0;
}
.our-partners-box .top-heading {
  text-align: center;
}
.our-partners-box .top-heading h1 {
  margin-bottom: 5px;
}
.our-partners-box .top-heading p {
  color: #606060;
}
.our-partners-box .our-partners-inner-content {
  padding-top: 50px;
}
.our-partners-box .our-partners-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.our-partners-box .our-partners-list {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 33.33%;
}
.our-partners-box .our-partners-card {
  width: 100%;
  height: 100%;
  padding: 20px 20px 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  position: relative;
}
.our-partners-box .our-partners-card .card-img {
  height: 65px;
  margin-bottom: 20px;
}
.our-partners-box .our-partners-card .card-img img {
  margin: auto;
  max-height: 65px;
}
.our-partners-box .our-partners-card .card-content {
  text-align: center;
}
.our-partners-box .our-partners-card .card-content h5 {
  margin-bottom: 12px;
}
.our-partners-box .our-partners-card .card-content p {
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  margin-bottom: 17px;
}
.our-partners-box .our-partners-card .card-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  padding: 0 20px;
  text-align: center;
}
.our-partners-box .view-more-btn {
  padding-top: 16px;
}
.our-partners-box .view-more-btn .btn-blue {
  border-radius: 80px;
}
.our-partners-box .js-our-partners-list .our-partners-list {
  display: none;
}

@media (max-width: 991px) {
  .our-partners-box {
    padding: 45px 0 50px;
  }
  .our-partners-box .our-partners-inner-content {
    padding-top: 45px;
  }
  .our-partners-box .our-partners-list {
    width: 50%;
  }
  .our-partners-box .our-partners-card .card-content h5 {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .our-partners-box {
    padding: 35px 0 40px;
  }
  .our-partners-box .top-heading p {
    font-size: 14px;
    line-height: 27px;
  }
  .our-partners-box .our-partners-inner-content {
    padding-top: 25px;
  }
  .our-partners-box .our-partners-list {
    width: 100%;
  }
  .our-partners-box .our-partners-card .card-img {
    height: auto;
  }
  .our-partners-box .our-partners-card .card-img img {
    max-width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */

.card-content ul li{

  text-align: left;
  
  }