.who-we-are-box {
  padding: 70px 0 65px;
  text-align: center;
}
.who-we-are-box h2 {
  margin-bottom: 10px;
}
.who-we-are-box h4 {
  margin-bottom: 25px;
}

.our-culture-box h2 {
  margin-bottom: 70px;
  text-align: center;
}

.culture-box-wrap {
  margin-bottom: 80px;
}

.culture-box-row {
  display: flex;
  margin-bottom: 40px;
}
.culture-box-row .img-col {
  width: 50%;
}
.culture-box-row .content-col {
  width: 50%;
  padding-right: 65px;
  padding-top: 30px;
}
.culture-box-row .content-col h4 {
  margin-bottom: 15px;
}
.culture-box-row .content-col p {
  color: #606060;
}
.culture-box-row.img-right-row {
  flex-direction: row-reverse;
}
.culture-box-row.img-right-row .content-col {
  padding-right: 0;
  padding-left: 65px;
}

@media (max-width: 1199px) {
  .culture-box-row .content-col {
    padding-top: 0;
  }
}
@media (max-width: 991px) {
  .who-we-are-box {
    padding: 45px 0;
    text-align: left;
  }

  .culture-box-wrap {
    margin-bottom: 40px;
  }

  .our-culture-box h2 {
    margin-bottom: 30px;
    text-align: left;
  }

  .culture-box-row .content-col {
    width: 100%;
    padding-right: 0;
  }
  .culture-box-row .content-col .img-wrap {
    max-width: 360px;
    margin-bottom: 15px;
  }
  .culture-box-row.img-right-row .content-col {
    padding-left: 0;
  }
}
@media (max-width: 767px){
h2 {
    font-size: 24px;
    line-height: 29px;
}
}
@media (max-width: 767px) {

  .who-we-are-box h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  .who-we-are-box p {
    font-size: 14px;
    line-height: 22px;
    color: #606060;
  }

  .our-culture-box h2 {
    margin-bottom: 20px;
  }

  .culture-box-row {
    margin-bottom: 30px;
  }
  .culture-box-row .content-col p {
    font-size: 14px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
