<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.creditCard-banner'}"></sly>
</sly>

<!--  banner box  -->
<section class="banner-box mutual-fund-banner creditCard-loan-banner">
    <div class="container">
        <div class="banner-row">
            <sly data-sly-test="${properties.bannerHeadingText}">
                <div class="left-col">
                    <div class="banner-left">
                        <h5 class="text-stealblue">${properties.bannerTitletext}</h5>
                        <h1>${properties.bannerHeadingText}</h1>
                        <ul class="banner-benefit-list">
                            <sly data-sly-list="${resource.children}">
                                <sly data-sly-test="${item.name=='bannerListdata'}">
                                    <sly data-sly-list.bannerList="${item.children}">
                                        <li>${bannerList.listData}</li>
                                    </sly>
                                </sly>
                            </sly>
                        </ul>
                        <div class="btn-wrap">
                            <sly data-sly-test="${properties.btnText}">
                                <a href="${properties.btnLink}" target="${properties.btnTarget ? '_blank':''}" class="btn-blue radius100">${properties.btnText}</a>
                            </sly>
                        </div>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${properties.enableCard}">
                <div class="right-col">
                    <div class="slider-dots slider-arrows" id="creditBannerSlider">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='bannerCardmulti'}">
                                <sly data-sly-list.cardList="${item.children}">
                                    <div class="banner-slider">
                                        <div class="banner-image">
                                            <div class="banner-caption">
                                                <div class="banner-inner new-banner-inner">
                                                    <div class="sip-cards banner-sip-cards credit-loan-cards">
                                                        <div class="sip-cards-info">
                                                            <h6>${cardList.cardTitle}</h6>
                                                            <h4>${cardList.cardHeading}</h4>
                                                            ${cardList.cardDescription @ context='html'}
                                                            <sly data-sly-test="${cardList.cardBtn}">
                                                                <div class="sip-card-btn mg-b0">
                                                                    <a href="${cardList.cardBtnlink}" target="${cardList.cardBtntarget ? '_blank' : ''}" data-creditredirect="adobecall">
                                                                        <button type="button"
                                                                            class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite">${cardList.cardBtn}</button>
                                                                    </a>
                                                                </div>
                                                            </sly>
                                                        </div>
                                                        <img src="${cardList.cardImg}" alt="" class="sip-card-img">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </sly>
                            </sly>
                        </sly>
                    </div>
                </div>
            </sly>
        </div>
    </div>
</section>
<!-- banner box-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.creditCard-banner'}"></sly>
</sly>