<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.disclaimerPartner'}"></sly>
</sly>
<section class="new-disclaimer-box">
  <div class="container">
    <div class="disclaimers-inner">              
      <p><span class="semibold">${properties.title}</span>${properties.description}</p>
    </div>
  </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.disclaimerPartner'}"></sly>
</sly>