/*----------  Goal Based Investment CSS ----------*/

.list-goal-base {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px -10px 0;
}

.list-goal-base .list-goal:hover h5 {
    color: #fff;
  }

.list-goal-base li {
    margin-top: 20px;
    padding: 0 10px;
    width: 25%;
}

.list-goal-base .list-goal {
    display: block;
    width: 100%;
    height: 100%;
    padding: 35px 20px;
    text-align: center;
    transition: all 0.3s;
}

.card-div {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
    border-radius: 10px;
}

.list-goal-base .list-goal-img {
    height: 50px;
    margin: 0 auto 16px;
}

.list-goal-base .list-goal .goal-img {
    display: block;
}

.list-goal-base .list-goal-img img {
    margin: auto;
}

.list-goal-base .list-goal .goal-img-hover {
    display: none;
}

.list-goal-base .list-goal-img img {
    margin: auto;
}

.list-goal-base .list-goal:hover {
    background-color: #2c6eb5;
    box-shadow: 20px 14px 30px rgb(153 186 208 / 30%);
}

.list-goal-base .list-goal:hover .goal-img {
    display: none;
}

.list-goal-base .list-goal:hover .goal-img-hover {
    display: block;
}

.trusted-box .trusted-inner {
  padding: 30px 0px;
  border: 1px solid rgba(122, 204, 255, 0.3);
  border-left: none;
  border-right: none;
}
.trusted-box .list-trusted {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.trusted-box .list-trusted li {
  width: 33.33%;
  padding: 0px 10px;
  text-align: center;
}
.trusted-box .list-trusted .trusted-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F6F9FB;
}
.trusted-box .list-trusted .trusted-img img {
  margin: auto;
}

.goal-base-box {
  padding: 72px 0 80px;
}
.goal-base-box h2 {  
  margin-bottom: 30px;
  text-align: center;
}

.goal-base-box h2,h5 {
  font-weight: 600;
}    
        
@media (max-width: 991px) {
  .goal-base-box {
    padding: 45px 0px;
  }

  .list-goal-base li {
    width: 50%;
  }  
}
@media (max-width: 767px) {
  .trusted-box {
    border: 1px solid rgba(122, 204, 255, 0.3);
    border-left: none;
    border-right: none;
  }
  .trusted-box .trusted-inner {
    padding: 24px 0 20px;
    border: none;
  }
  .trusted-box h5 {
    font-size: 14px;
    line-height: 21px;
  }
  .trusted-box .list-trusted .trusted-img {
    width: 50px;
    height: 50px;
    margin-bottom: 9px;
  }
  .trusted-box .list-trusted .trusted-img img {
    max-width: 25px;
  }

  .list-goal-base li {
    width: 50%;
  }

  .list-goal-base .list-goal {
    padding: 19px 15px;
  }

  .list-goal-base .list-goal-img {
    margin-bottom: 12px;
    height: 45px;
  }

  .list-goal-base .list-goal-img img {
    height: 45px;
  }

}

/*-------   Goal Based Investment CSS   -------*/
