<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.upcoming-webinar'}"></sly>
</sly>
<!-- upcoming-webinar-->
<section class="upcoming-webinar-box">
  <div class="container">
    <h1 class="h2-class">${properties.heading}</h1>

    <div class="slider-dots slider-arrows flex-slider" id="jsMobUpcomingWebinarSlider">
      <div class="mob-sliders">
        <!--17-4-2023-->
        <sly data-sly-list.webinar="${resource.children}">
          <sly data-sly-test="${webinar.name == 'latestWebinarCard'}">
            <sly data-sly-list.latestItem="${webinar.children}">
              <div class="upcoming-webinar-row">
                <div class="webinar-flex">
                  <div class="upcoming-webinar-left">
                    <div class="webinar-inn">
                      <h6>${latestItem.title}</h6>
                      <h5>${latestItem.subHeading}</h5>
                      <p>${latestItem.nameDate}</p>
                      <div class="upcoming-webinar-img d-md-none">
                        <img src="${latestItem.thumbnail}" alt="..." />
                        <div class="video-overlay">
                          <a href="#" class="play-btn" data-popovermodal="popover-modal" data-target="#video-modal"
                            data-video="${latestItem.videoLink}" data-heading="${latestItem.title}"
                            data-nameDate="${latestItem.nameDate}" data-desc="${latestItem.description}"
                            data-subHeading="${latestItem.subHeading}">
                            <img src="${latestItem.icon}" alt="..." />
                          </a>
                        </div>
                      </div>
                      <!-- mobile -->
                      <p>${latestItem.description}</p>
                    </div>
                  </div>
                  <div class="upcoming-webinar-right">
                    <!--desktop-->
                    <div class="upcoming-webinar-img">
                      <img src="${latestItem.thumbnail}" alt="..." />
                      <div class="video-overlay">
                        <a href="#" class="play-btn" data-popovermodal="popover-modal" data-target="#video-modal"
                          data-video="${latestItem.videoLink}"  data-heading="${latestItem.title}"
                          data-nameDate="${latestItem.nameDate}" data-desc="${latestItem.description}"
                            data-subHeading="${latestItem.subHeading}">
                          <img src="${latestItem.icon}" alt="..." />
                        </a>
                      </div>
                    </div>
                    <!--desktop-->
                  </div>
                </div>
              </div>
            </sly>
          </sly>
        </sly>
        <!--17-4-2023-->
      </div>
    </div>
  </div>
</section>
<!-- upcoming-webinar-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.upcoming-webinar'}"></sly>
</sly>