<section class="calculator-box calculator-box-pd30">
    <div class="container">
        <h5 class="text-blue">Calculate your future pension</h5>
        <h1 data-title="compound-calc">NPS Calculator</h1>

        <div class="calculator-inner">
            <div class="calculator-form-wrap">
                <div class="calculator-form">
                    <div class="row">
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Monthly I can Invest up to</p>
                                <div class="textbox-inner input-with-text prefix-text">
                                    <span class="input-text rupee-icon">₹</span>
                                    <input class="input-textbox only-numeric-input-text price-only-comma" type="text"
                                        value="10,000" id="investAmount">
                                    <span class="calculator-error-msgs" id="npsErrorMsg"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">

                                <div class="textbox-box">
                                    <p class="label-name">My Date of Birth is</p>

                                    <div class="date-birth-row">
                                        <div class="date-birth-col">
                                            <div class="custom-dropdown custom-dropdown-new">
                                                <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                                    <a href="javascript:void(0);" class="jsDropDownMenuShow"
                                                        id="dateList">1</a>
                                                </div>
                                                <div class="dropdown-card rating-filter-card"
                                                    data-filter-card="sorting">
                                                    <div class="dropdown-card-inner">
                                                        <ul class="dropdown-list-menu jsDropDownMenuGet jsDropDownMenuClose mCustomScroll"
                                                            id="dateChange"> </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="date-birth-col date-col2">
                                            <div class="custom-dropdown custom-dropdown-new">
                                                <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                                    <a href="javascript:void(0);" class="jsDropDownMenuShow"
                                                        id="monthList">Aug</a>
                                                </div>
                                                <div class="dropdown-card rating-filter-card"
                                                    data-filter-card="sorting">
                                                    <div class="dropdown-card-inner">
                                                        <ul class="dropdown-list-menu jsDropDownMenuGet jsDropDownMenuClose mCustomScroll"
                                                            id="monthDropdown">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="date-birth-col date-col2">
                                            <div class="custom-dropdown custom-dropdown-new">
                                                <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                                    <a href="javascript:void(0);" class="jsDropDownMenuShow"
                                                        id="yearList">2001</a>
                                                </div>
                                                <div class="dropdown-card rating-filter-card"
                                                    data-filter-card="sorting">
                                                    <div class="dropdown-card-inner">
                                                        <ul class="dropdown-list-menu jsDropDownMenuGet jsDropDownMenuClose mCustomScroll"
                                                            id="yearDropdown">

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Expected corpus withdrawal percentage</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="5" data-max="60" data-from="13" id="expectedCorpus" />
                                    <div class="custom-range-label">
                                        <span>5%</span>
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Investment returns expected</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="3" data-max="15" data-from="12" id="expectReturns" />
                                    <div class="custom-range-label">
                                        <span>3%</span>
                                        <span>15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Pension required for</p>
                                <div class="textbox-inner">
                                    <label class="custom-border-radio">
                                        <input type="radio" name="pension_required" id="pensionYear"><span>5Y</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="pension_required" id="pensionYear"><span>10Y</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="pension_required" id="pensionYear"><span>15Y</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="pension_required" id="pensionYear"><span>20Y</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="pension_required" id="pensionYear"
                                            checked><span>25Y</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="pension_required" id="pensionYear"><span>50Y</span>
                                      </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">My expected rate of pension</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="5" data-max="15" data-from="10" id="expectedPention" />
                                    <div class="custom-range-label">
                                        <span>5%</span>
                                        <span>15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Tax Slab</p>
                                <div class="textbox-inner">
                                    <label class="custom-border-radio">
                                        <input type="radio" name="tax_slab" id="taxSlab" checked><span>10</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="tax_slab" id="taxSlab"><span>20</span>
                                    </label>
                                    <label class="custom-border-radio">
                                        <input type="radio" name="tax_slab" id="taxSlab"><span>30</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="suggested-strategy-wrap">
                <h4>Investment Break up</h4>
                <div class="graph-investment-wrap">
                    <div class="graph-wrap">
                        <div class="strategy-graph-wrap">
                            <div id="nps-calculator-strategy-graph" class="graph-chart-box"></div>
                        </div>
                    </div>
                    <div class="investment-interest-wrap">
                        <div class="text-money-wrap">
                            <p class="bullet blue-bullet">Total investment</p>
                            <h6 id="totalInvestment">₹ 47,10,000</h6>
                        </div>
                        <div class="plus-icon-wrap d-none">
                            <span class="icon-plus"></span>
                        </div>
                        <div class="text-money-wrap d-none">
                            <p class="bullet green-bullet">Interest earned</p>
                            <h6 id="totalInterest">₹ 59,47,297</h6>
                        </div>
                    </div>
                </div>
                <ul class="investment-amount-list">
                    <li class="text-money-wrap">
                        <p>Withdrawal at 60 years</p>
                        <h6 id="maximumWithdrawalTotal">₹ 1,41,12,694</h6>
                    </li>
                    <li class="text-money-wrap">
                        <p>Corpus for purchase of pension</p>
                        <h6 id="corpusTotalPurchase">₹ 9,44,46,490</h6>
                    </li>
                    <li class="text-money-wrap">
                        <p>Monthly expected pension</p>
                        <h6 id="monthlyExpectedPension">₹ 47,042</h6>
                    </li>
                    <li class="text-money-wrap">
                        <p>Tax saving us/s 80CCD ( 1B ) upto 60 years</p>
                        <h6 id="taxUpto">₹ 1,96,250</h6>
                    </li>
                    <li class="text-money-wrap">
                        <p>Pension for Fixed Tenure</p>
                        <h6 id="PayoutInterest">₹ 8,51,143</h6>
                    </li>
                    <li class="text-money-wrap d-none">
                        <p>Only payout</p>
                        <h6 id="onlyPayout">₹ 10,85,59,184</h6>
                    </li>
                </ul>
                <div class="start-investing-wrap">
                    <p>With ₹<span id="investPara">1000</span> per month, secure your retirement and gain</p>
                    <div class="text-btn-wrap">
                        <div class="text-wrap">
                            <p>Expected corpus</p>
                            <h4 id="totalCorpus">₹11,30,08,132</h4>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/national-pension-scheme.html" data-sw-iframe="true" data-sw-iframe-component="calculator" data-sw-iframe-url="/content/tata-capital-moneyfy/en/national-pension-scheme.html" class="btn-blue radius100" data-nps-start="npsstartbtn">Start Investing</a>
                    </div>
                </div>
            </div>
        </div><p class="calculator-info-text max-w1000"><b>Disclaimer</b> : The above calculation and illustration of figures are indicative only and not on actual basis.</p>
        <p class="calculator-info-text max-w1000">National Pension System or NPS is a measure to introduce a degree of
            financial stability for Indian citizens after they have retired. It was previously known as the National
            Pension Scheme. </p>
    </div>
</section>