/* refer component css */
img {
    display: block;
    max-width: 100%;
}

h2,
h6,
p {
    margin: 0;
    font-weight: normal;
}

button:focus {
    outline: none;
}
/* container */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}

h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
/* button */

.btn-blue {
    background-color: #2C6EB5;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

/*.btn-blue:hover {
    background-color: #4786C9;
}*/

.btn-blue.btn-yellow {
    background-color: #D7DF23;
    color: #333;
}

.btn-blue.btn-yellow:hover {
    background-color: #E5ED37;
}

.btn-blue.radius100 {
    border-radius: 100px;
}

.btn-shadow {
    box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
}
/* Responsive Media */

@media (max-width: 767px) {
    h2 {
        font-size: 24px;
        line-height: 29px;
    }
    h6 {
        font-size: 12px;
        line-height: 18px;
    }
    .btn-blue {
        font-size: 11px;
        line-height: 17px;
        padding: 12px 20px;
    }
}
/* Container */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* header top menu */
/*mobile header css*/

.refer-box {
    background: #3174BC;
    padding: 42px 0 50px;
}

.refer-box .refer-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.refer-box .refer-left {
    max-width: 583px;
    padding: 30px 0;
}

.refer-box .refer-right {
    width: 394px;
}

.refer-box h6 {
    margin-bottom: 4px;
    color: #fff;
}

.refer-box h2 {
    margin-bottom: 22px;
    color: #fff;
}

.refer-box p {
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 34px;
}

.refer-box button {
    min-width: 190px;
}

.refer-box .refer-desktop {
    display: block;
}

.refer-box .refer-mob {
    display: none;
}

.refer-box .refer-left-inner {
    padding-bottom: 14px;
}

.refer-box .refer-left-inner p {
    margin-bottom: 20px;
}

@media (max-width: 1199px) {
    .refer-box .refer-right {
        width: 350px;
    }
    .refer-box .refer-left {
        max-width: 543px;
    }
}

@media (max-width: 991px) {
    .refer-box button {
        min-width: 160px;
    }
    .refer-box h2 {
        margin-bottom: 13px;
    }
    .refer-box p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 24px;
    }
    .refer-box .refer-inner {
        display: block;
        text-align: center;
    }
    .refer-box .refer-left {
        max-width: 100%;
        padding: 0px;
    }
    .refer-box .refer-right {
        width: auto;
        margin-bottom: 25px;
    }
    .refer-box .refer-right img {
        margin: auto;
    }
    .refer-box .refer-desktop {
        display: none;
    }
    .refer-box .refer-mob {
        display: block;
    }
}

@media (max-width: 767px) {
    .refer-box .refer-left-inner p {
        margin-bottom: 10px;
    }
}

.refer-right {
    opacity: 1 ! important;
}

@media screen {
    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        opacity: 0 !important;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform
    }
    html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1 !important;
        -webkit-transform: none;
        transform: none
    }
    /*# sourceMappingURL=style.css.map */

/* refer component css END */