  <!-- mobile app -->
  <div class="app-talk-box">
    <div class="download-app" data-downloadapp="downloadApp">
      <a href="javascript:void(0)" data-popovermodal="popover-modal"
      data-target="#download-modal" class="jsOpenModal">
        <span>Download App</span>
        <img src="/content/dam/tata-capital-moneyfy/home-page/mobile-app.svg" alt="" />
      </a>
    </div>
    <!-- <div class="lets-talk">
      <a href="javascript:void(0)">
        <span>Lets Talk</span>
        <img src="/content/dam/tata-capital-moneyfy/home-page/talk-app.svg" alt="" />
      </a>
    </div> -->
  </div>


<!-- start download modal -->
  <div class="popover-modal app-download-modal fade" id="download-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
      <div class="popover-modal-content radius10">
        <div class="popover-modal-body">            
          <button data-dismiss="popover-modal" class="popover-modal-close"><i class="icon-close"></i></button>
          <div class="modal-body-inner3 app-bg">

            <h4 class="text-center d-md-none">${properties.title}</h4>
            <div class="download-app-row">
              <div class="download-app-left">
                <img src="${properties.mobileImg}" alt="">
                <div class="app-store-link d-md-none">
                  <a  href="https://apps.apple.com/in/app/tata-capital-moneyfy/id1479549912 " target="_blank" data-storeimg="appStoreImg"><img src="${properties.appleStoreImage}" alt=""></a>
                  <a href="https://play.google.com/store/apps/details?id=com.tatacapital.moneyfy&hl=en" target="_blank" data-storeimg="googleStoreImg"><img src="${properties.playStoreImage}" alt=""></a>
                </div>
              </div>
              <div class="download-app-right">
                <h4 class="hidden-xs">${properties.title}</h4>
                ${properties.description @ context='html'}
                <div class="app-store-link hidden-xs">
                  <a  href="https://apps.apple.com/in/app/tata-capital-moneyfy/id1479549912 " target="_blank" data-storeimg="appStoreImg"><img src="${properties.appleStoreImage}" alt=""></a>
                  <a href="https://play.google.com/store/apps/details?id=com.tatacapital.moneyfy&hl=en" target="_blank" data-storeimg="googleStoreImg"><img src="${properties.playStoreImage}" alt=""></a>
                </div>
              </div>  
            </div>  

          </div>  
          
          <div class="download-link-outer">
            <div class="download-link-app js-getapp-form-modal form-wizard">
              
              <div class="get-app-link" id="moneyfy01">
                <div class="get-app-inner">
                  <input type="text" class="form-control-plain only-numeric-input" placeholder="Enter mobile number" maxlength="10" data-type="mobile">
                  <span class="text-code">+91</span>
                </div>                  
                <button type="button" class="btn-blue radius100 btn-shadow get-links" data-current="moneyfy01" data-next="moneyfy02" data-getlink="getLink">Get app link via SMS</button>
              </div>

              <div class="get-app-loader hidden">
                <img src="/content/dam/tata-capital-moneyfy/home-page/moneyfy-loader.png" alt="">
              </div>

              <div class="get-app-messege hidden" id="moneyfy02">
                <h6><img src="/content/dam/tata-capital-moneyfy/home-page/ticks.svg" alt="" class="ticks"> SMS sent succesfully</h6>
                <div class="get-edit-link">
                  <p>An SMS has been sent to XXXXXXXX<span class="jsShowMobileNumber">85</span></p>
                  <a href="javascript:void(0)" class="jsEditGetAppModal"><img src="/content/dam/tata-capital-moneyfy/home-page/edits.svg" alt=""></a>
                </div>                  
                <p>To download the app, follow the link in the message</p>
              </div>
              <div class="get-app-messege downloadapp-api-error hidden">
                <div class="get-edit-link error-msg">
                  <p>Oops! Something went wrong. Please try again.</p>
                  <a href="javascript:void(0)" class="jsEditGetAppModal"><img src="/content/dam/tata-capital-moneyfy/home-page/edits.svg" alt=""></a>
                </div>
              </div>


          </div>
          </div>            

        </div>
      </div>
    </div>
  </div>
  <!-- end download modal -->