/*it-return*/
.it-return-box {
  padding: 53px 0;
  background-color: #E9F0F7;
}
.it-return-box h2 {
  text-align: center;
  margin-bottom: 65px;
}
.it-return-box .it-return-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
  margin: auto;
}
.it-return-box .it-return-row .it-return-left {
  width: 467px;
}
.it-return-box .it-return-row .it-return-right {
  width: calc(100% - 467px);
  padding-left: 20px;
}
.it-return-box h5 {
  margin-bottom: 14px;
}
.it-return-box .it-list li {
  margin-bottom: 25px;
  position: relative;
  padding-left: 24px;
}
.it-return-box .it-list li:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ACB4D1;
  position: absolute;
  left: 0px;
  top: 10px;
  border-radius: 50%;
}
.it-return-box .it-btn-file {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.it-return-box .it-btn-file .btn-itr {
  width: 138px;
  height: 36px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 5px 10px;
}
.bg-primary {
  background-color: #2c6eb5 !important;
}
@media (max-width: 991px) {
  .it-return-box {
    padding: 45px 0;
  }
  .it-return-box h2 {
    margin-bottom: 40px;
  }
  .it-return-box .it-return-row .it-return-left {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }
  .it-return-box .it-return-row .it-return-right {
    width: 100%;
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .it-return-box .it-list {
    padding-bottom: 10px;
  }
  .it-return-box .it-list li {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
@media (max-width: 359px) {
  .it-return-box .it-btn-file {
    margin: 0 -5px;
  }
  .it-return-box .it-btn-file .btn-itr {
    margin: 0 5px;
  }
}
/*tax filling*/