<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.popular-blog'}"></sly>
</sly>
<!--Know everything -box-->
<section class="blog-video-box most-viewed mg-b25">
    <div class="container mob-lr-15">
        <div class="webinars-with-sort">
            <div class="heading-view">
                <h1 class="h2-class">${properties.heading}</h1>
            </div>
            <sly data-sly-test="${properties.showFilter == 'true'}">
                <div class="sort-outer-dropdown">
                    <label class="fund-label"><span class="icon-sort"></span>${properties.sortButtonName}</label>
                    <div class="custom-dropdown custom-dropdown-new">
                        <div class="dropdown-button js-filterBtnPopularBlog" data-filter="sorting">
                            <a href="javascript:void(0);" class="jsDropDownMenuShow"></a>
                        </div>
                        <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                            <div class="dropdown-card-inner">
                                <ul class="dropdown-list-menu jsDropDownMenuGetPopularBlog">
                                    <sly data-sly-list.cardList="${resource.children}">
                                        <sly data-sly-test="${cardList.name=='sortBtnList'}">
                                            <sly data-sly-list.sortbyItem="${cardList.children}">
                                                <li class="${sortByItem.activeClass ? 'active' : ''} ">
                                                    <a href="javascript:void(0)">${sortbyItem.sortbtnText}</a>
                                                </li>
                                            </sly>
                                        </sly>
                                    </sly>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </div>

        <div class="blog-video-slider webinars-noslider">
            <sly data-sly-list.cardList="${resource.children}">
                <sly data-sly-test="${cardList.name=='popularBlogs'}">
                    <sly data-sly-list.blogCards="${cardList.children}">
                        <div class="blog-slider-col" data-sortyearly="${blogCards.sortbyTextYearly}">
                            <div class="blog-sliders">
                                <div class="blog-img">
                                    <img src="${blogCards.img}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <h6>${blogCards.cardHeading}</h6>
                                    <p>${blogCards.description}</p>
                                </div>
                                <div class="btn-viewalls">
                                    <a href="${blogCards.btnLinks}" target="${blogCards.target ? '_blank':''}"
                                        class="btn-view-all">${blogCards.btnName}<span
                                            class="icon-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<!-- Know everything-box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.popular-blog'}"></sly>
</sly>