<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.compare-fund-filter'}"></sly>
</sly>

<!-- desktop filter -->
<section class="filter-section compare-box-section js-fixContainer js-floating">
    <div class="container">
        <div class="compare-box">
            <div class="compare-box-inner">
                <!-- 11-11-2021 -->
                <div class="compare-item-wrap" data-compareselect="1" data-select-modal="searchFund-modal-1" data-fundindex="0">
                    <div class="compare-item">
                        <div class="compare-btn-choose custom-dropdown js-compareDropdown d-none">
                            <div class="dropdown-button js-filterBtn js-compareFilter" data-filter="choose-item-1">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                <!-- <a href="javascript:void(0);" class="d-md-none close-filter js-compareClose"><i class="icon-close"></i></a> -->
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-fetchFromPortfolio="true" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover-modal" data-target="#searchFund-modal-1" data-index="0" class="jsOpenModal jsWhiteBackdrop"><span class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="selected-invest-wrap js-compareSelected" data-item="feature-1" data-filters="filter-0" data-select="filter-1">
                            <div class="compare-btn-selected dropdown-button">
                                <span class="text-wrap" data-attr="schemeDetails.name">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompareItem" data-index="0"><span class="icon-close"></span></a>
                            </div>
                            <div class="invest-explore-wrap" data-attr="explore-0">
                                <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" data-investnow="true">Invest now</a>
                                <a href="javascript:void(0)" target="_blank" class="btn-view-all" data-attr="explore-more">explore more<span class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="compare-item-wrap" data-compareselect="2" data-select-modal="searchFund-modal-2" data-fundindex="1">
                    <div class="compare-item">
                        <div class="compare-btn-choose custom-dropdown js-compareDropdown d-none">
                            <div class="dropdown-button js-filterBtn js-compareFilter" data-filter="choose-item-1">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                <!-- <a href="javascript:void(0);" class= close-filter js-compareClose"><i class="icon-close"></i></a> -->
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-fetchFromPortfolio="true" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover-modal" data-target="#searchFund-modal-2" data-index="1" class="jsOpenModal jsWhiteBackdrop"><span class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="selected-invest-wrap js-compareSelected" data-item="feature-2" data-filters="filter-1" data-select="filter-2">
                            <div class="compare-btn-selected dropdown-button">
                                <span class="text-wrap" data-attr="schemeDetails.name">SBI Dynamic Bond Fund - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompareItem" data-index="1"><span class="icon-close"></span></a>
                            </div>
                            <div class="invest-explore-wrap" data-attr="explore-1">
                                <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" data-investnow="true">Invest now</a>
                                <a href="javascript:void(0)" target="_blank" class="btn-view-all" data-attr="explore-more">explore more<span class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="compare-item-wrap d-none d-md-block" data-compareselect="3" data-select-modal="searchFund-modal-3" data-select="filter-3" data-fundindex="2">
                    <div class="compare-item">
                        <div class="compare-btn-choose custom-dropdown js-compareDropdown d-none">
                            <div class="dropdown-button js-filterBtn js-compareFilter" data-filter="choose-item-1">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                <!-- <a href="javascript:void(0);" class= close-filter js-compareClose"><i class="icon-close"></i></a> -->
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-fetchFromPortfolio="true" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover-modal" data-target="#searchFund-modal-3" data-index="2" class="jsOpenModal jsWhiteBackdrop"><span class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="selected-invest-wrap js-compareSelected" data-item="feature-3" data-filters="filter-2">
                            <div class="compare-btn-selected dropdown-button">
                                <span class="text-wrap" data-attr="schemeDetails.name">Axis Mutual Fund - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompareItem" data-index="2"><span class="icon-close"></span></a>
                            </div>
                            <div class="invest-explore-wrap" data-attr="explore-2">
                                <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" data-investnow="true">Invest now</a>
                                <a href="javascript:void(0)" target="_blank" class="btn-view-all" data-attr="explore-more">explore more<span class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>    
</section>
<!-- desktop filter -->

<!-- 11-11-2021 -->
<!-- search fund modal -->
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-1">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" data-search="search-input" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-2">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" data-search="search-input" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-3">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
          <i class="icon-close"></i>
        </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" data-search="search-input" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search fund modal -->
<!-- 11-11-2021 -->

<div class="container compare-fund-container">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/Loader.gif" alt="">
    </div>
    <div class="compare-card-wrap">
        <div class="card-div compare-graph-card">
            <ul class="return-item-wrap" data-tab="graph">
                <li><a href="javascript:void(0);" class="active" data-return="data_1M" data-value="95.7" data-trend="up">1M</a></li>
                <li><a href="javascript:void(0);" data-return="data_3M" data-value="50" data-trend="down">3M</a></li>
                <li><a href="javascript:void(0);" data-return="data_6M" data-value="150" data-trend="up">6M</a></li>
                <li><a href="javascript:void(0);" data-return="data_1Y" data-value="20" data-trend="up">1Y</a></li>
                <li><a href="javascript:void(0);" data-return="data_3Y" data-value="50" data-trend="down">3Y</a></li>
                <li><a href="javascript:void(0);" data-return="data_5Y" data-value="50.21" data-trend="up">5Y</a></li>
                <li><a href="javascript:void(0);" data-return="data_Max" data-value="150" data-trend="up">MAX</a></li>
            </ul>

            <div class="graph-wrap">
                <div id="compare-chart" class="compare-chart-box"></div>
            </div>
        </div>

        <div class="card-div fund-detail-card custom-accordion">
            <div class="card-head" data-accordion="fund-detail-card">
                <h5 class="card-title"><a href="javascript:void(0);">Fund Details</a></h5>
            </div>
            <div class="card-body" data-accordion-card="fund-detail-card">
                <div class="compare-feature-row">
                    <div class="compare-feature fund feature-1" data-fund="fund-0">
                        <div class="feature-item">
                            <h6 data-attr="schemeDetails.riskType">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Min SIP Amount</p>
                            <h6>Rs.<span data-attr="minSipAmt">-</span></h6>
                        </div>
                        <div class="feature-item">
                            <p>Expense Ratio</p>
                            <h6><span data-attr="expenseRatio">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>NAV as of <span data-attr="updatedDate"></span></p>
                            <h6 data-attr="nav">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Fund Size</p>
                            <h6>Rs.<span data-attr="fundSize">-</span> Cr</h6>
                        </div>
                        <div class="feature-item">
                            <p>Fund Started</p>
                            <h6 data-attr="launchDate">-</h6>
                        </div>
                    </div>
                    <div class="compare-feature fund feature-2" data-fund="fund-1">
                        <div class="feature-item">
                            <h6 data-attr="schemeDetails.riskType">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Min SIP Amount</p>
                            <h6>Rs.<span data-attr="minSipAmt">-</span></h6>
                        </div>
                        <div class="feature-item">
                            <p>Expense Ratio</p>
                            <h6><span data-attr="expenseRatio">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>NAV as of <span data-attr="updatedDate"></span></p>
                            <h6 data-attr="nav">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Fund Size</p>
                            <h6>Rs.<span data-attr="fundSize">-</span> Cr</h6>
                        </div>
                        <div class="feature-item">
                            <p>Fund Started</p>
                            <h6 data-attr="launchDate">-</h6>
                        </div>
                    </div>
                    <div class="compare-feature fund feature-3" data-fund="fund-2">
                        <div class="feature-item">
                            <h6 data-attr="schemeDetails.riskType">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Min SIP Amount</p>
                            <h6>Rs.<span data-attr="minSipAmt">-</span></h6>
                        </div>
                        <div class="feature-item">
                            <p>Expense Ratio</p>
                            <h6><span data-attr="expenseRatio">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>NAV as of <span data-attr="updatedDate"></span></p>
                            <h6 data-attr="nav">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Fund Size</p>
                            <h6>Rs.<span data-attr="fundSize">-</span> Cr</h6>
                        </div>
                        <div class="feature-item">
                            <p>Fund Started</p>
                            <h6 data-attr="launchDate">-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div rating-card custom-accordion">
            <div class="card-head" data-accordion="rating-card">
                <h5 class="card-title"><a href="javascript:void(0);">Rating</a></h5>
            </div>
            <div class="card-body" data-accordion-card="rating-card">
                <div class="compare-feature-row h80">
                    <div class="compare-feature feature-1" data-rating="rating-0">
                        <div class="feature-item">
                            <div class="rate-wrap">
                                <h6>Morning Star</h6>
                                <p><span data-attr="ratings.morningStar">-</span> <span class="icon icon-star"></span></p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="rate-wrap">
                                <h6>Value Research</h6>
                                <p><span data-attr="ratings.valueResearch">-</span> <span class="icon icon-star"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="compare-feature feature-2" data-rating="rating-1">
                        <div class="feature-item">
                            <div class="rate-wrap">
                                <h6>Morning Star</h6>
                                <p><span data-attr="ratings.morningStar">-</span> <span class="icon icon-star"></span></p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="rate-wrap">
                                <h6>Value Research</h6>
                                <p><span data-attr="ratings.valueResearch">-</span> <span class="icon icon-star"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="compare-feature feature-3" data-rating="rating-2">
                        <div class="feature-item">
                            <div class="rate-wrap">
                                <h6>Morning Star</h6>
                                <p><span data-attr="ratings.morningStar">-</span> <span class="icon icon-star"></span></p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="rate-wrap">
                                <h6>Value Research</h6>
                                <p><span data-attr="ratings.valueResearch">-</span> <span class="icon icon-star"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div returns-card custom-accordion">
            <div class="card-head" data-accordion="returns-card">
                <h5 class="card-title"><a href="javascript:void(0);">Returns</a></h5>
            </div>
            <div class="card-body" data-accordion-card="returns-card">
                <div class="compare-feature-row">
                    <div class="compare-feature feature-1" data-return="return-0">
                        <div class="feature-item">
                            <p>1 Month</p>
                            <h6><span data-attr="cagrValues.0.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>3 Months</p>
                            <h6><span data-attr="cagrValues.1.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>6 Months</p>
                            <h6><span data-attr="cagrValues.2.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>1 Year</p>
                            <h6><span data-attr="cagrValues.3.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>3 Years</p>
                            <h6><span data-attr="cagrValues.4.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>5 Years</p>
                            <h6><span data-attr="cagrValues.5.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Max</p>
                            <h6><span data-attr="cagrValues.6.value">-</span>%</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-2 " data-return="return-1">
                        <div class="feature-item">
                            <p>1 Month</p>
                            <h6><span data-attr="cagrValues.0.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>3 Months</p>
                            <h6><span data-attr="cagrValues.1.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>6 Months</p>
                            <h6><span data-attr="cagrValues.2.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>1 Year</p>
                            <h6><span data-attr="cagrValues.3.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>3 Year</p>
                            <h6><span data-attr="cagrValues.4.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>5 Year</p>
                            <h6><span data-attr="cagrValues.5.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Max</p>
                            <h6><span data-attr="cagrValues.6.value">-</span>%</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-3 " data-return="return-2">
                        <div class="feature-item">
                            <p>1 Month</p>
                            <h6><span data-attr="cagrValues.0.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>3 Months</p>
                            <h6><span data-attr="cagrValues.1.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>6 Months</p>
                            <h6><span data-attr="cagrValues.2.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>1 Year</p>
                            <h6><span data-attr="cagrValues.3.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>3 Year</p>
                            <h6><span data-attr="cagrValues.4.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>5 Year</p>
                            <h6><span data-attr="cagrValues.5.value">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Max</p>
                            <h6><span data-attr="cagrValues.6.value">-</span>%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div fund-allocation-card custom-accordion">
            <div class="card-head" data-accordion="fund-allocation-card">
                <h5 class="card-title"><a href="javascript:void(0);">Fund Allocation</a></h5>
            </div>
            <div class="card-body" data-accordion-card="fund-allocation-card">
                <div class="compare-feature-row">
                    <div class="compare-feature feature-1" data-allocation="acllocate-0">
                        <div class="feature-item">
                            <p>Equity</p>
                            <h6><span data-attr="bifurcationePerc.equity">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Debt</p>
                            <h6><span data-attr="bifurcationePerc.debt">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Cash</p>
                            <h6 data-attr="bifurcationePerc.debt">-</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-2" data-allocation="acllocate-1">
                        <div class="feature-item">
                            <p>Equity</p>
                            <h6><span data-attr="bifurcationePerc.equity">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Debt</p>
                            <h6><span data-attr="bifurcationePerc.debt">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Cash</p>
                            <h6 data-attr="bifurcationePerc.debt">-</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-3" data-allocation="acllocate-2">
                        <div class="feature-item">
                            <p>Equity</p>
                            <h6><span data-attr="bifurcationePerc.equity">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Debt</p>
                            <h6><span data-attr="bifurcationePerc.debt">-</span>%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Cash</p>
                            <h6 data-attr="bifurcationePerc.debt">-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div sectoral-holdings-card custom-accordion">
            <div class="card-head" data-accordion="sectoral-holdings-card">
                <h5 class="card-title"><a href="javascript:void(0);">Sectoral Holdings</a></h5>
            </div>
            <div class="card-body" data-accordion-card="sectoral-holdings-card">
                <div class="compare-feature-row h75">
                    <div class="compare-feature feature-1" data-sectoral="sector-0">
                      
                        
                    </div>
                    <div class="compare-feature feature-2" data-sectoral="sector-1">
                        
                       
                    </div>
                    <div class="compare-feature feature-3" data-sectoral="sector-2">
                        
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div scheme-details-card custom-accordion">
            <div class="card-head" data-accordion="scheme-details-card">
                <h5 class="card-title"><a href="javascript:void(0);">Scheme Details</a></h5>
            </div>
            <div class="card-body" data-accordion-card="scheme-details-card">
                <div class="compare-feature-row h75">
                    <div class="compare-feature feature-1" data-scheme="scheme-0">
                        <div class="feature-item" data-bench="benchmark">
                            <p>Bench mark</p>
                            <h6 data-attrs="benchmarks">-</h6>
                        </div>

                    </div>
                    <div class="compare-feature feature-2" data-scheme="scheme-1">
                        <div class="feature-item" data-bench="benchmark">
                            <p>Bench mark</p>
                            <h6 data-attrs="benchmarks">-</h6>
                        </div>

                    </div>
                    <div class="compare-feature feature-3" data-scheme="scheme-2">
                        <div class="feature-item" data-bench="benchmark">
                            <p>Bench mark</p>
                            <h6 data-attrs="benchmarks">-</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div tax-implementation-card d-none custom-accordion">
            <div class="card-head" data-accordion="tax-implementation-card">
                <h5 class="card-title"><a href="javascript:void(0);">Tax Implementation</a></h5>
            </div>
            <div class="card-body" data-accordion-card="tax-implementation-card">
                <div class="compare-feature-row">
                    <div class="compare-feature feature-1">
                        <div class="feature-item">
                            <p>For Less Than 1 Year</p>
                            <h6>Nill</h6>
                        </div>
                        <div class="feature-item">
                            <p>After 1 Year</p>
                            <h6>10%</h6>
                        </div>
                        <div class="feature-item">
                            <p>After 3 Year</p>
                            <h6>10%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Less than 1 Year</p>
                            <h6>10%</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-2">
                        <div class="feature-item">
                            <p>For Less Than 1 Year</p>
                            <h6>Nill</h6>
                        </div>
                        <div class="feature-item">
                            <p>After 1 Year</p>
                            <h6>10%</h6>
                        </div>
                        <div class="feature-item">
                            <p>After 3 Year</p>
                            <h6>10%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Less than 1 Year</p>
                            <h6>10%</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-3">
                        <div class="feature-item">
                            <p>For Less Than 1 Year</p>
                            <h6>Nill</h6>
                        </div>
                        <div class="feature-item">
                            <p>After 1 Year</p>
                            <h6>10%</h6>
                        </div>
                        <div class="feature-item">
                            <p>After 3 Year</p>
                            <h6>10%</h6>
                        </div>
                        <div class="feature-item">
                            <p>Less than 1 Year</p>
                            <h6>10%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div fund-manager-card-accord custom-accordion">
            <div class="card-head" data-accordion="fund-manager-card">
                <h5 class="card-title"><a href="javascript:void(0);">Fund Manager</a></h5>
            </div>
            <div class="card-body" data-accordion-card="fund-manager-card">
                <div class="compare-feature-row">
                    <div class="compare-feature feature-1" data-fundManager="fundManager-0">
                        <div class="feature-item">
                            <p>Name</p>
                            <h6 data-attr="fundManager.name">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>No of funds</p>
                            <h6 data-attr="fundManager.noOfFunds">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Total Fund Size</p>
                            <h6>Rs. <span data-attr="fundManager.totalFundSize">-</span> Cr</h6>
                        </div>
                        <div class="feature-item">
                            <p>Highest Returns</p>
                            <h6><span data-attr="fundManager.highestReturns">-</span>%</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-2" data-fundManager="fundManager-1">
                        <div class="feature-item">
                            <p>Name</p>
                            <h6 data-attr="fundManager.name">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>No of funds</p>
                            <h6 data-attr="fundManager.noOfFunds">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Total Fund Size</p>
                            <h6>Rs. <span data-attr="fundManager.totalFundSize">-</span> Cr</h6>
                        </div>
                        <div class="feature-item">
                            <p>Highest Returns</p>
                            <h6><span data-attr="fundManager.highestReturns">-</span>%</h6>
                        </div>
                    </div>
                    <div class="compare-feature feature-3" data-fundManager="fundManager-2">
                        <div class="feature-item">
                            <p>Name</p>
                            <h6 data-attr="fundManager.name">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>No of funds</p>
                            <h6 data-attr="fundManager.noOfFunds">-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Total Fund Size</p>
                            <h6>Rs. <span data-attr="fundManager.totalFundSize">-</span> Cr</h6>
                        </div>
                        <div class="feature-item">
                            <p>Highest Returns</p>
                            <h6><span data-attr="fundManager.highestReturns">-</span>%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-div other-factors-card d-none custom-accordion">
            <div class="card-head" data-accordion="other-factors-card">
                <h5 class="card-title"><a href="javascript:void(0);">Other Factors</a></h5>
            </div>
            <div class="card-body" data-accordion-card="other-factors-card">
                <div class="compare-feature-row">
                    <div class="compare-feature feature-1">
                        <div class="feature-item">
                            <p>Market Capitalisation</p>
                            <h6>$ 5.332 B</h6>
                        </div>
                        <div class="feature-item">
                            <p>Credit Rating</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>No of Scripts</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Scheme TypeYear</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Investment Horizonr</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item h85">
                            <p>Suitable For</p>
                            <h6>Short Term Investment</h6>
                        </div>
                        <div class="feature-item h105" data-attr="explore-0">
                            <div class="invest-explore-box">
                                <a href="javascript:void(0);" class="btn btn-blue radius100" data-investnow="true">Invest now</a>
                                <a href="javascript:void(0)" target="_blank" class="btn-view-all" data-attr="explore-more">explore more<span class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-feature feature-2">
                        <div class="feature-item">
                            <p>Market Capitalisation</p>
                            <h6>$ 5.332 B</h6>
                        </div>
                        <div class="feature-item">
                            <p>Credit Rating</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>No of Scripts</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Scheme TypeYear</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Investment Horizonr</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item h85">
                            <p>Suitable For</p>
                            <h6>Short Term Investment</h6>
                        </div>
                        <div class="feature-item h105" data-attr="explore-1">
                            <div class="invest-explore-box">
                                <a href="javascript:void(0);" class="btn btn-blue radius100" data-investnow="true">Invest now</a>
                                <a href="javascript:void(0)" target="_blank" class="btn-view-all" data-attr="explore-more">explore more<span class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-feature feature-3">
                        <div class="feature-item">
                            <p>Market Capitalisation</p>
                            <h6>$ 5.332 B</h6>
                        </div>
                        <div class="feature-item">
                            <p>Credit Rating</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>No of Scripts</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Scheme TypeYear</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item">
                            <p>Investment Horizonr</p>
                            <h6>-</h6>
                        </div>
                        <div class="feature-item h85">
                            <p>Suitable For</p>
                            <h6>Short Term Investment</h6>
                        </div>
                        <div class="feature-item h105" data-attr="explore-2">
                            <div class="invest-explore-box">
                                <a href="javascript:void(0);" class="btn btn-blue radius100" data-investnow="true">Invest now</a>
                                <a href="javascript:void(0)" target="_blank" class="btn-view-all" data-attr="explore-more">explore more<span class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.compare-fund-filter'}"></sly>
</sly>