<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.stay-updated'}"></sly>
</sly>
<div class="stay-updated">
  <div class="container">
    <div class="stay-inner">
      <h5>${properties.heading}</h5>
      <button type="button" class="btn-blue radius100" data-popovermodal="popover-modal"
        data-target="#stay-registration-modal">${properties.btnName}</button>
    </div>
  </div>
</div>



<!-- stay registration modal -->
<div class="popover-modal fade popover-show stay-registration-modal" id="stay-registration-modal">
  <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
    <div class="popover-modal-content radius10">
      <div class="popover-modal-body">

        <!-- Webinar registration -->
        <div class="modal-body-inner2" data-form="register-webinar">
          <button data-dismiss="popover-modal" class="popover-modal-close jsRegistratorClear"><i
              class="icon-close"></i></button>
          <div class="registration-form">
            <h6>Register now</h6>
            <h5>Stay updated with the latest financial trends</h5>
            <div class="webinar-registration" id="jsWebinarRegistration">
              <div class="form-textbox">
                <label class="label-name">Name</label>
                <div class="textbox-inner">
                  <input class="input-textbox only-alpha-input" type="text" data-type="name" placeholder="">
                </div>
              </div>
              <div class="form-textbox">
                <label class="label-name">Phone number</label>
                <div class="textbox-inner">
                  <input type="tel" class="input-textbox only-numeric-input" data-type="mobile" maxlength="10">
                </div>
              </div>
              <div class="form-textbox">
                <label class="label-name">Email</label>
                <div class="textbox-inner">
                  <input class="input-textbox" type="text" data-type="email" placeholder="">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn-blue radius100 js-proceed-btn">Register Now</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Webinar registration -->

        <!-- Thankyou -->
        <div class="modal-body-inner2 registration-thankyou d-none" data-form="webinar-thanks">
          <button data-dismiss="popover-modal" class="popover-modal-close white-color jsRegistratorClear"><i
              class="icon-close"></i></button>
          <div class="thankyou-inner">
            <img src="/content/dam/tata-capital-moneyfy/learn-webinar/webinar-thank-img.svg" alt="">
           <!-- <h5>Sucessfully registered for the webinar</h5> -->
            <h6>Thank you. Check your email for information on the latest trends and news items!</h6>
           <!-- <p>Thank you. Watch your email for information on the latest trends and news items!</p> -->
            <a href="/content/tata-capital-moneyfy/en/learn-webinar.html" class="btn-blue btn-yellow radius100">Back to Webinars</a>
          </div>
        </div>
        <!-- Thankyou -->
      </div>
    </div>
  </div>
</div>
<!-- end stay registration modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.stay-updated'}"></sly>
</sly>