<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.discover-mutual-funds'}"></sly>
</sly>
<!-- discover-mutual box -->
<section class="discover-mutual-box pd-b-0">
    <div class="container">
        <div class="discover-top">
            <h2>${properties.heading}</h2>
            <p>${properties.description @ context='html'}</p>
        </div>
        <ul class="list-goal-base">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'mutualFundList'}">
                    <sly data-sly-list.mutualFundList="${listItem.children}">
                        <li>
                            <a class="card-div list-goal" href="${mutualFundList.link}"
                                target="${mutualFundList.openNewTab ? '_blank' : ''}" data-discoverfund="discoveFrund">
                                <div class=" list-goal-img">
                                    <img src="${mutualFundList.image}" alt="" class="goal-img">
                                    <img src="${mutualFundList.hoverImage}" alt="" class="goal-img-hover">
                                </div>
                                <h5>${mutualFundList.cardHeading}</h5>
                            </a>
                        </li>
                    </sly>
                </sly>
            </sly>
        </ul>
        <div class="view-all-btns">
            <a href="${properties.buttonLink}" target="${properties.newTab ? '_blank' : ''}"
                class="btn-blue radius100" data-discovermore="discoverMoreBtn">${properties.buttonTitle}</a>
        </div>
    </div>
</section>
<!-- discover-mutual box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.discover-mutual-funds'}"></sly>
</sly>
