<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.digital-gold-why-choose-box'}"></sly>
</sly>

<!--  make box  -->
    <section class="make-box choose-digiGold-box">
    <div class="container" data-sly-test="${properties.title}">
        <div class="make-top">
            <h2 class="text-center">${properties.title}</h2>
        </div>

        <div class="make-inner" data-sly-test="${properties.heading}">
            <div class="make-left">
                <h5 class="d-block d-md-none">${properties.heading}</h5>
                <div class="make-left-slider">
                    <!-- desktop -->
                    <div class="make-left-ul js-digiGoldMobileSlider slider-arrows progress-slider slider-dots">

                        <sly data-sly-list.data="${resource.children}">
                            <sly data-sly-test="${data.name == 'fundProcessList'}">
                                <sly data-sly-list.fundProcessItems="${data.children}">

                                    <div class="make-left-li">
                                        <div class="make-mobile-img">
                                            <img src="${fundProcessItems.mobileImg}" alt="" />
                                        </div>
                                        <div class="make-right-slider d-block d-md-none">
                                            <div class="make-ul progress-container js-digiGOldprogressBarContainer">
                                                <div class="make-li">
                                                    <svg
															width="20"
															height="20"
															viewPort="0 0 100 100"
															version="1.1"
															xmlns="http://www.w3.org/2000/svg"
															data-slick-index="${fundProcessItemsList.index}"
															class="progressBar"
														>
															<circle r="8" cx="10" cy="10" fill="transparent" stroke-dasharray="100" stroke-dashoffset="0"></circle>
															<circle
																class="bar inProgress inProgress${fundProcessItemsList.index}"
																r="8"
																cx="10"
																cy="10"
																fill="transparent"
																stroke-dasharray="100"
																stroke-dashoffset="0"
															></circle>
														</svg>
                                                    ${fundProcessItems.description @ context='html'}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </sly>
                            </sly>
                        </sly>

                    </div>
                </div>
            </div>

            <div class="make-right">
                <h5 class="d-none d-md-block">${properties.heading}</h5>
                <div class="make-right-slider d-none d-md-block">
                    <div class="make-ul progress-container js-digiGOldprogressBarContainer">

                        <sly data-sly-list.data="${resource.children}">
                            <sly data-sly-test="${data.name == 'fundProcessList'}">
                                <sly data-sly-list.fundProcessItems="${data.children}">

                                    <div class="make-li ${fundProcessItemsList.count == 1 ? 'active' : ''}">
                                        <svg width="20" height="20" viewPort="0 0 100 100" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            data-slick-index="${fundProcessItemsList.index}" class="progressBar">
                                            <circle r="8" cx="10" cy="10" fill="transparent" stroke-dasharray="100"
                                                stroke-dashoffset="0"></circle>
                                            <circle class="bar inProgress inProgress${fundProcessItemsList.index}" r="8"
                                                cx="10" cy="10" fill="transparent" stroke-dasharray="100"
                                                stroke-dashoffset="0">
                                            </circle>
                                        </svg>
                                        ${fundProcessItems.description @ context='html'}
                                    </div>

                                </sly>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- make box -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.digital-gold-why-choose-box'}"></sly>
</sly>