
<!-- why monefy -->
<section class="why-monefy-box js-compareActive  ${properties.selectcolor == 'smallcase' ? 'why-moneyfy-benefits small-case-moneyfy' : properties.selectcolor}" data-sly-test='${properties.heading}'>
    <div class="container">
        <h2 data-sly-test="${properties.selectcolor != 'smallcase'}" class="text-center">${properties.heading}</h2>
        <div class="text-with-paras" data-sly-test="${properties.selectcolor == 'smallcase'}">
            <h2>${properties.heading}</h2>
            ${properties.headDescription  @ context='html'}
          </div>
        <div class="list-why-monefy slider-dots slider-arrows flex-slider" id="${properties.selectcolor == 'smallcase' ? '' : 'whyMonefySlider'}">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'multi'}">
                    <sly data-sly-list.whyMoneyfylist="${listItem.children}">

                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${whyMoneyfylist.img}" alt="" />
                                </div>
                                <h5 class="npsText">${whyMoneyfylist.heading}</h5>

                                ${whyMoneyfylist.description @ context='html'}
                            </div>
                        </div>

                    </sly>
                </sly>
            </sly>

        </div>
    </div>
</section>
<!-- why monefy -->
