@font-face {
  font-family: "icomoon";
  src: url("/apps/tata-capital-moneyfy/clientlibs/home-page/main/resources/assets/fonts/icomoon/icomoon.eot?xjpm7k");
  src: url("/apps/tata-capital-moneyfy/clientlibs/home-page/main/resources/assets/fonts/icomoon/icomoon.eot?xjpm7k#iefix")
      format("embedded-opentype"),
    url("/apps/tata-capital-moneyfy/clientlibs/home-page/main/resources/assets/fonts/icomoon/icomoon.ttf?xjpm7k")
      format("truetype"),
    url("/apps/tata-capital-moneyfy/clientlibs/home-page/main/resources/assets/fonts/icomoon/icomoon.woff?xjpm7k")
      format("woff"),
    url("/apps/tata-capital-moneyfy/clientlibs/home-page/main/resources/assets/fonts/icomoon/icomoon.svg?xjpm7k#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-watch:before {
  content: "\e91b";
}
.icon-edit:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-angle-up:before {
  content: "\e919";
}
.icon-filter:before {
  content: "\e917";
}
.icon-sort:before {
  content: "\e918";
}
.icon-alert:before {
  content: "\e916";
}
.icon-calander:before {
  content: "\e915";
}
.icon-caret-down:before {
  content: "\e913";
}
.icon-caret-top:before {
  content: "\e914";
}
.icon-binocular:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e910";
}
.icon-equity:before {
  content: "\e90f";
}
.icon-arrow-top:before {
  content: "\e90d";
}
.icon-arrow-arrow:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-angle-down:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e907";
}
.icon-email:before {
  content: "\e908";
}
.icon-call:before {
  content: "\e909";
}
.icon-map:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90c";
}
