<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.product-box'}"></sly>
</sly>

<section class="product-box">
    <div class="container">
        <h2 class="heading">${properties.productHeading}</h2>
        <div class="products-wrap flex-slider slider-dots" id="ihoProductSlider">
            <sly data-sly-test="${properties.leftCardTitle}">
                <div class="product-item product-item-1">
                    <div class="product-head">
                        <sly data-sly-test="${properties.leftCardImg}">
                            <span class="img-wrap">
                                <img src="${properties.leftCardImg}" alt="">
                            </span>
                        </sly>
                        <h3 data-card-heading="${properties.leftCardTitle}">${properties.leftCardTitle}</h3>
                    </div>
                    <div class="product-body">
                        ${properties.leftCardDescription @context="html"}
                        <sly data-sly-test="${properties.leftCardBtn}">
                            <sly data-sly-test="${!properties.buyNowLeftDescription}">
                                <a href="${properties.leftCardBtnLink}" target="${properties.leftCardBtnTarget ? '_blank' : ''}"
                                data-product-adobe-action="withoutpopup" class="btn btn-blue radius100">${properties.leftCardBtn}</a>
                            </sly>
                            <sly data-sly-test="${properties.buyNowLeftDescription}">
                                <a href="javascript:void(0)" target="${properties.leftCardBtnTarget ? '_blank' : ''}"
                                    class="btn btn-blue radius100 jsOpenModal" data-popovermodal="popover-modal"
                                    data-product-adobe-action="withpopup" data-target="#buynowleft">${properties.leftCardBtn}</a>
                            </sly>
                        </sly>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${properties.leftCardTitle}">
                <div class="product-item product-item-2">
                    <div class="product-head">
                        <sly data-sly-test="${properties.rightCardImg}">
                            <span class="img-wrap">
                                <img src="${properties.rightCardImg}" alt="">
                            </span>
                        </sly>
                        <h3 data-card-heading="${properties.rightCardTitle}">${properties.rightCardTitle}</h3>
                    </div>
                    <div class="product-body">
                        ${properties.rightCardDescription @context="html"}
                        <sly data-sly-test="${properties.rightCardBtn}">
                            <sly data-sly-test="${!properties.buyNowRightDescription}">
                                <a href="${properties.rightCardBtnLink}" target="${properties.rightCardBtnTarget ? '_blank' : ''}"
                                data-product-adobe-action="withoutpopup" class="btn btn-blue btn-yellow radius100">${properties.rightCardBtn}</a>
                            </sly>
                            <sly data-sly-test="${properties.buyNowRightDescription}">
                                <a href="javascript:void(0)" target="${properties.rightCardBtnTarget ? '_blank' : ''}"
                                    class="btn btn-blue btn-yellow radius100 jsOpenModal" data-popovermodal="popover-modal"
                                    data-product-adobe-action="withpopup" data-target="#buynowright">${properties.rightCardBtn}</a>
                            </sly>
                        </sly>
                    </div>
                </div>
            </sly>
        </div>
    </div>
    <sly data-sly-test="${properties.productBackground}">
        <img src="${properties.productBackground}" alt="" class="product-box-bg">
    </sly>
</section>

<!-- buy now left-modal -->
<div class="popover-modal fade contribute-modal" id="buynowleft">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
      <div class="popover-modal-content radius10">
        <div class="popover-modal-body">
          <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
              class="icon-close"></i></button>
          <div class="modal-body-inner3">
            <div class="terms-text text-center benefits-modal">
              ${properties.buyNowLeftDescription @context='html'}
              <sly data-sly-test="${properties.buyNowLeftPopBtn}">
                <div class="mg-t20">
                  <a href="${properties.buyNowLeftPopBtnLink}" target="${properties.buyNowLeftPopBtnTarget ? '_blank':''}"
                    class="btn-blue radius100">${properties.buyNowLeftPopBtn}</a>
  
                </div>
              </sly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- buy now left-modal -->
  <!-- buy now right-modal -->
<div class="popover-modal fade contribute-modal" id="buynowright">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
      <div class="popover-modal-content radius10">
        <div class="popover-modal-body">
          <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
              class="icon-close"></i></button>
          <div class="modal-body-inner3">
            <div class="terms-text text-center benefits-modal">
              ${properties.buyNowRightDescription @context='html'}
              <sly data-sly-test="${properties.buyNowRightPopBtn}">
                <div class="mg-t20">
                  <a href="${properties.buyNowRightPopBtnLink}" target="${properties.buyNowRightPopBtnTarget ? '_blank':''}"
                    class="btn-blue radius100">${properties.buyNowRightPopBtn}</a>
  
                </div>
              </sly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- buy now right-modal -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.product-box'}"></sly>
</sly>