<div class="row-tabs ${(properties.miniContainer) ? 'container' : ''   @ context='styleString'}">
     <sly data-sly-resource="${'Component' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
</div>