/*-------  Fund Managers Detail Banner  -------*/

.mf-description-box {
  padding: 50px 0;
}
.mf-description-box.fundmanager-details-banner {
  padding-top: 7px;
  padding-bottom: 55px;
}
.mf-description-box.fundmanager-details-banner .mf-description-wrap p {
  margin-left: 0px;
}
.mf-description-box.fundmanager-details-banner .mf-description-wrap .img-name-wrap {
  margin-bottom: 12px;
}

.mf-description-wrap {
  margin-right: 40px;
}
.mf-description-wrap .img-name-wrap {
  margin-bottom: 5px;
}
.mf-description-wrap .img-name-wrap .img-wrap {
  min-width: 75px;
  width: 75px;
  height: 75px;
  margin-right: 18px;
  background-color: #E9F0F7;
  padding: 12px;
}
.mf-description-wrap .img-name-wrap .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mf-description-wrap .img-name-wrap .name-wrap h6 {
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #333333;
}
.mf-description-wrap p {
  font-size: 15px;
  line-height: 26px;
  color: #606060;
  margin-left: 95px;
}

.mf-return-box {
  background-color: #66CC99;
  border-radius: 10px;
  color: #fff;
  padding: 31px 38px;
}
.mf-return-box ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.mf-return-box ul li {
  width: 50%;
  padding: 5px 10px;
}
.mf-return-box p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}
.mf-return-box h6 {
  font-weight: 600;  
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.01em;
}

.fund-manager-tabs {
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  padding-bottom: 23px;
  margin-bottom: 21px;
}

/*------- extra added by inspecting -------*/
.row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
    position: relative;
}

.lg-left-col-60 {
    width: 60%;
    padding: 0 10px;
}

.img-name-wrap {
    display: flex;
    margin-bottom: 15px;
}

.img-name-wrap .name-wrap {
    display: flex;
    align-items: center;
}

.lg-right-col-40 {
    width: 40%;
    padding: 0 10px;
}

/*------- extra added by inspecting -------*/

@media (max-width: 991px) {

  .lg-left-col-60, .lg-right-col-40 {
    width: 100%;
  }

  .mf-description-box {
    padding: 20px 0 30px;
  }
  .mf-description-box.fundmanager-details-banner {
    padding-bottom: 45px;
  }

  .mf-description-wrap {
    margin-right: 0;
  }
  .mf-description-wrap .img-name-wrap {
    margin-bottom: 15px;
  }
  .mf-description-wrap .img-name-wrap .img-wrap {
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }
  .mf-description-wrap .img-name-wrap .name-wrap h6 {
    font-size: 24px;
    line-height: 29px;
  }
  .mf-description-wrap p {
    margin-left: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 21px;
  }

  .fund-manager-tabs {
    margin-bottom: 0px;
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .mf-return-box {
    padding: 13px 20px;
  }
  .mf-return-box ul li {
    padding: 3px 10px;
  }
  .mf-return-box p {
    font-size: 11px;
    line-height: 22px;
  }
  .mf-return-box h6 {
    font-size: 14px;
    line-height: 21px;
  }

  .mf-description-box.fundmanager-details-banner {
    padding-bottom: 30px;
  }
  .mf-description-box.fundmanager-details-banner .mf-description-wrap p {
    margin-bottom: 20px;
  }
}

/*-------  Fund Managers Detail Banner  -------*/