/*-------  Steps to Invest  -------*/

.why-monefy-box {
  padding: 60px 0 25px;
}
.why-monefy-box h2 {
  margin-bottom: 30px;
}
.why-monefy-box .list-why-monefy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.why-monefy-box .list-why-monefy .why-monefy-li {
  width: 33.33%;
}
.why-monefy-box .why-monefy-col {
  text-align: center;
  padding: 0 35px 50px;
}
.why-monefy-box .why-monefy-col .monefy-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F6F9FB;
  margin: 0 auto 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-monefy-box .why-monefy-col h5 {
  margin-bottom: 4px;
}
.why-monefy-box .why-monefy-col p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.why-monefy-box.why-moneyfy-category {
  background-color: #E9F0F7;
}

@media (max-width: 1199px) {
  .why-monefy-box .why-monefy-col {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .why-monefy-box {
    padding-top: 45px;
  }
  .why-monefy-box .why-monefy-col {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .why-monefy-box {
    padding-bottom: 50px;
  }
  .why-monefy-box.why-moneyfy-category .list-why-monefy:before {
    background-color: #E9F0F7;
  }
  .why-monefy-box .list-why-monefy {
    display: block;
    position: relative;
  }
  .why-monefy-box .list-why-monefy:before {
    content: "";
    width: 2px;
    height: auto;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
  }
  .why-monefy-box .list-why-monefy .why-monefy-li {
    width: auto;
  }
  .why-monefy-box .list-why-monefy .slick-track {
    padding-bottom: 25px;
  }
  .why-monefy-box .why-monefy-col {
    text-align: left;
    padding: 0 20px;
    border-left: 1px solid rgba(122, 204, 255, 0.3);
  }
  .why-monefy-box .why-monefy-col .monefy-img {
    width: 60px;
    height: 60px;
    margin: 0 0 12px;
  }
  .why-monefy-box .why-monefy-col .monefy-img img {
    max-width: 30px;
  }
  .why-monefy-box .why-monefy-col p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 359px) {
  .why-monefy-box .why-monefy-col {
    border-left: none;
    padding: 0px;
  }
}
.dropdown-content .error-msgs {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
}
.dropdown-content .error-msgs b {
  font-weight: 500;
  color: #333333;
}
.dropdown-content .error-msgs:before {
  content: "";
  font-family: "icomoon";
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  color: #005899;
}

.amc-detail-fund-manager .fund-manager-card {
  border: 1px solid rgba(122, 204, 255, 0.3);
}

.steps-to-invest {
  padding: 70px 0;
}
.steps-to-invest .list-why-monefy {
  background-image: url("/content/dam/tata-capital-moneyfy/amc-details-dam/steps-line.png");
  background-repeat: no-repeat;
  background-position-y: 23px;
  background-position-x: center;
  background-size: 85%;
}
.steps-to-invest .list-why-monefy .why-monefy-li {
  width: 20%;
}
.steps-to-invest .list-why-monefy .why-monefy-col {
  padding: 0 10px 50px;
}
.steps-to-invest .invest-now-btn {
  padding: 16px 30px;
  margin-right: 0;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
}

@media (max-width: 991px) {
  .steps-to-invest {
    padding: 45px 0;
  }
  .steps-to-invest .list-why-monefy h5 {
    font-size: 17px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .heading-left-md h2 {
    text-align: left;
    /* padding-right: 80px; */
  }

  .heading-left-md h2{
    font-size: 24px;
    line-height: 29px;
  }  

  .steps-to-invest {
    padding: 45px 0;
  }
  .steps-to-invest .list-why-monefy {
    background-image: none;
  }
  .steps-to-invest .list-why-monefy:before {
    background-color: transparent !important;
    opacity: 0.5;
    border-left: 1px dashed #2C6EB5;
    width: 1px;
    height: 80%;
    top: 30px;
    left: 30px;
    z-index: 0;
  }
  .steps-to-invest .list-why-monefy h5 {
    font-size: 16px;
  }
  .steps-to-invest .list-why-monefy .why-monefy-li {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .steps-to-invest .list-why-monefy .why-monefy-col {
    border-left: 0;
    padding-left: 80px;
    padding-bottom: 40px;
  }
  .steps-to-invest .list-why-monefy .why-monefy-col .monefy-img {
    position: absolute;
    left: 0;
  }
}

/*-------  Steps to Invest  -------*/