<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.error-banner'}"></sly>
</sly>

<!--  banner box  -->
        <section class="banner-box mutual-fund-banner contact-us-banner-box" id="error-banner">  
          <div class="banner-slider">            
            <div class="banner-image">
              <div class="banner-caption">
                <div class="container">
                  <div class="banner-inner new-banner-inner">
                    <div class="banner-left">
                      ${properties.description @ context='html'}
                        <div class="btn-wrap text-center-xs">
                          <a href="${properties.buttonLink}" class="btn-blue radius100" target="${properties.newTab ? '_blank' : ''}">${properties.buttonTitle}</a>
                        </div>
                    </div>
                    <div class="banner-right">
                      <img src="/content/dam/tata-capital-moneyfy/error/404-error.png" alt="" class="w-100 max-w300-md">
                    </div>
                  </div>
                  
                </div>
              </div>                
            </div>
          </div>
        </section>
        <!-- banner box-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.error-banner'}"></sly>
</sly>