.choose-swp-box {
  background-color: #E9F0F7;
  padding: 70px 0 80px;
}
.choose-swp-box .head-wrap {
  text-align: center;
  max-width: 795px;
  margin: 0 auto 25px;
}
.choose-swp-box .head-wrap h2 {
  margin-bottom: 10px;
}
.choose-swp-box .benefit-feature-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.choose-swp-box .benefit-feature-content {
  width: 50%;
}
.choose-swp-box .benefit-feature-content h5 {
  margin-bottom: 20px;
}
.choose-swp-box .benefit-feature-content ul {
  margin-bottom: 30px;
}
.choose-swp-box .img-wrap {
  width: 50%;
}

@media (max-width: 991px) {
  .choose-swp-box {
    padding: 45px 0;
  }
}
@media (max-width: 767px) {
  .choose-swp-box p {
    font-size: 14px;
    line-height: 22px;
  }
  .choose-swp-box .benefit-feature-wrap .img-wrap {
    width: 100%;
  }
  .choose-swp-box .benefit-feature-content {
    width: 100%;
    margin-top: 30px;
  }
  .choose-swp-box .benefit-feature-content h5, .choose-swp-box .benefit-feature-content ul {
    display: none;
  }
  .choose-swp-box .btn-wrap {
    text-align: center;
  }
  .choose-swp-box .btn-wrap .btn-blue {
    width: 100%;
    max-width: 265px;
  }
}



/*# sourceMappingURL=style.css.map */
