.refer-box {
  background: #3174BC;
  padding: 42px 0 50px;
}
.refer-box .refer-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.refer-box .refer-left {
  max-width: 583px;
  padding: 30px 0;
}
.refer-box .refer-right {
  width: 394px;
}
.refer-box h6 {
  margin-bottom: 4px;
  color: #fff;
}
.refer-box h2 {
  margin-bottom: 22px;
  color: #fff;
}
.refer-box p {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 34px;
}
.refer-box button {
  min-width: 190px;
}
.refer-box .refer-desktop {
  display: block;
}
.refer-box .refer-mob {
  display: none;
}
.refer-box .refer-left-inner {
  padding-bottom: 14px;
}
.refer-box .refer-left-inner p {
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .refer-box .refer-right {
    width: 350px;
  }
  .refer-box .refer-left {
    max-width: 543px;
  }
}
@media (max-width: 991px) {
  .refer-box button {
    min-width: 160px;
  }
  .refer-box h2 {
    margin-bottom: 13px;
  }
  .refer-box p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
  }
  .refer-box .refer-inner {
    display: block;
    text-align: center;
  }
  .refer-box .refer-left {
    max-width: 100%;
    padding: 0px;
  }
  .refer-box .refer-right {
    width: auto;
    margin-bottom: 25px;
  }
  .refer-box .refer-right img {
    margin: auto;
  }
  .refer-box .refer-desktop {
    display: none;
  }
  .refer-box .refer-mob {
    display: block;
  }
}
@media (max-width: 767px) {
  .refer-box .refer-left-inner p {
    margin-bottom: 10px;
  }
}