<section class="business-loan-table">
    <div>
        <div class="business-table-inner">
            ${properties.mheading @context= 'html' || '' }
            <sly data-sly-list.itemListsecs="${resource.children}">
                <sly data-sly-test="${itemListsecs.name == 'table'}">
                    <sly data-sly-list.tableList="${itemListsecs.children}">
                        <!--/* Only 2 table in a row */-->

                        <sly data-sly-test="${tableList.tableType == 'onlytwotable'}">
                            <div class="table-section">

                                <sly data-sly-test="tableList.heading">${tableList.heading @context= 'html' || ''}</sly>
                                <div class="table-block sticky-table sticky-ltr-cells">
                                    <table class="table-main ${tableList.tableTheme} margin-auto">
                                        <thead>
                                            <tr class="sticky-header">
                                                <sly data-sly-list.itemList="${tableList.children}">
                                                    <sly data-sly-test="${itemList.name == 'theading'}">
                                                        <sly data-sly-list.thData="${itemList.children}">

                                                            <th class="${thDataList.count == 1 ? 'sticky-cell' : ''}">${thData.thdata}</th>

                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <sly data-sly-list.itemLists="${tableList.children}">
                                                <sly data-sly-test="${itemLists.name == 'tableRow'}">
                                                    <sly data-sly-list.tablerow="${itemLists.children}">
                                                        <tr>
                                                            <sly data-sly-list.trlist="${tablerow.children}">
                                                                <sly data-sly-test="${trlist.name == 'trowdata'}">

                                                                    <sly data-sly-list.tr="${trlist.children}">
                                                                        <sly data-sly-test="${!tr.tdurl}">
                                                                            <sly data-sly-test="${trList.count == 1} ">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} ">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} whites-color">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''}  gray-color ">${tr.trData}</td>
                                                                                </sly>
                                                                            </sly>
                                                                            <sly data-sly-test="${trList.count != 1}">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} ">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} whites-color">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''}  gray-color ">${tr.trData}</td>
                                                                                </sly>
                                                                        
                                                                            </sly>
                                                                        </sly>
                                                                        <sly data-sly-test="${tr.tdurl}">
                                                                            <sly data-sly-test="${trList.count == 1} ">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} whites-color"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''}  gray-color "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                            </sly>
                                                                            <sly data-sly-test="${trList.count != 1}">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} whites-color"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''}  gray-color "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                        
                                                                            </sly>
                                                                        </sly>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                        </tr>
                                                    </sly>
                                                </sly>
                                            </sly>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                            ${tableList.tabledesc @context= 'html' || ''}

                        </sly>

                        <!--/* Only 2 table in a row */-->

                        <!--/* Only 3 table in a row */-->
                        <sly data-sly-test="${tableList.tableType == 'onlyThreeTable'}">
                            <div class="table-section">
                                ${tableList.heading @context= 'html' || ''}
                                <div class="table-block sticky-table sticky-ltr-cells">
                                    <table class="table-main ${tableList.tableTheme} w-100">
                                        <thead>
                                            <tr class="sticky-header">
                                                <sly data-sly-list.itemList="${tableList.children}">
                                                    <sly data-sly-test="${itemList.name == 'theading'}">
                                                        <sly data-sly-list.thData="${itemList.children}">

                                                            <th class="${thDataList.count == 1 ? 'sticky-cell' : ''}">${thData.thdata}</th>

                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <sly data-sly-list.itemLists="${tableList.children}">
                                                <sly data-sly-test="${itemLists.name == 'tableRow'}">
                                                    <sly data-sly-list.tablerow="${itemLists.children}">
                                                        <tr>
                                                            <sly data-sly-list.trlist="${tablerow.children}">
                                                                <sly data-sly-test="${trlist.name == 'trowdata'}">

                                                                    <sly data-sly-list.tr="${trlist.children}">

                                                                        <sly data-sly-test="${!tr.tdurl}">
                                                                            <sly data-sly-test="${trList.count == 1} ">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} ">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} whites-color">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''}  gray-color ">${tr.trData}</td>
                                                                                </sly>
                                                                            </sly>
                                                                            <sly data-sly-test="${trList.count != 1}">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} ">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} whites-color">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''}  gray-color ">${tr.trData}</td>
                                                                                </sly>
                                                                        
                                                                            </sly>
                                                                        </sly>
                                                                        <sly data-sly-test="${tr.tdurl}">
                                                                            <sly data-sly-test="${trList.count == 1} ">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} whites-color"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''}  gray-color "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                            </sly>
                                                                            <sly data-sly-test="${trList.count != 1}">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} whites-color"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''}  gray-color "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                        
                                                                            </sly>
                                                                        </sly>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                        </tr>
                                                    </sly>
                                                </sly>
                                            </sly>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            ${tableList.tabledesc @context= 'html' || ''}
                        </sly>
                        <!--/* Only 3 table in a row */-->

                        <!--/* More than 5 Columns & 10 Rows Both Scroll */-->

                        <sly data-sly-test="${tableList.tableType == 'fivecoltenrow'}">
                            <div class="table-section">
                                ${tableList.heading @context= 'html' || '' }
                                <div class="table-block sticky-table sticky-ltr-cells">
                                    <table class="table-main ${tableList.tableTheme}">
                                        <thead>
                                            <tr class="sticky-header">
                                                <sly data-sly-list.itemList="${tableList.children}">
                                                    <sly data-sly-test="${itemList.name == 'theading'}">
                                                        <sly data-sly-list.thData="${itemList.children}">

                                                            <th class="${thDataList.count == 1 ? 'sticky-cell' : ''}">${thData.thdata}</th>

                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <sly data-sly-list.itemLists="${tableList.children}">
                                                <sly data-sly-test="${itemLists.name == 'tableRow'}">
                                                    <sly data-sly-list.tablerow="${itemLists.children}">
                                                        <tr>
                                                            <sly data-sly-list.trlist="${tablerow.children}">
                                                                <sly data-sly-test="${trlist.name == 'trowdata'}">

                                                                    <sly data-sly-list.tr="${trlist.children}">

                                                                        <sly data-sly-test="${!tr.tdurl}">
                                                                            <sly data-sly-test="${trList.count == 1} ">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} ">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} whites-color">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''}  gray-color ">${tr.trData}</td>
                                                                                </sly>
                                                                            </sly>
                                                                            <sly data-sly-test="${trList.count != 1}">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} ">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} whites-color">${tr.trData}</td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''}  gray-color ">${tr.trData}</td>
                                                                                </sly>

                                                                            </sly>
                                                                        </sly>
                                                                        <sly data-sly-test="${tr.tdurl}">
                                                                            <sly data-sly-test="${trList.count == 1} ">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''} whites-color"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class="${tr.removeSticky ? '' : 'sticky-cell'} ${rowCol?'table-data' : ''}  gray-color "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                            </sly>
                                                                            <sly data-sly-test="${trList.count != 1}">
                                                                                <sly data-sly-test.rowCol="${tr.rowspan} "> </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'default'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'white'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''} whites-color"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>
                                                                                <sly data-sly-test="${tr.tdColor == 'gray'}">
                                                                                    <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${rowCol?'table-data' : ''}  gray-color "><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                                </sly>

                                                                            </sly>
                                                                        </sly>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                        </tr>
                                                    </sly>
                                                </sly>
                                            </sly>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            ${tableList.tabledesc @context= 'html' || ''}
                        </sly>

                        <!--/* More than 5 Columns & 10 Rows Both Scroll */-->



                        <!--/* Normal Table */-->

                        <sly data-sly-test="${tableList.tableType == 'normaltable'}">
                            <div class="table-section">
                                ${tableList.heading @context= 'html' || ''}

                                <div class="table-block">
                                    <table class="table-main ${tableList.tableTheme}">
                                        <thead>
                                            <tr>
                                                <sly data-sly-list.itemList="${tableList.children}">
                                                    <sly data-sly-test="${itemList.name == 'theading'}">
                                                        <sly data-sly-list.thData="${itemList.children}">

                                                            <th>${thData.thdata}</th>

                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <sly data-sly-list.itemLists="${tableList.children}">
                                                <sly data-sly-test="${itemLists.name == 'tableRow'}">
                                                    <sly data-sly-list.tablerow="${itemLists.children}">
                                                        <tr>
                                                            <sly data-sly-list.trlist="${tablerow.children}">
                                                                <sly data-sly-test="${trlist.name == 'trowdata'}">

                                                                    <sly data-sly-list.tr="${trlist.children}">

                                                                        <sly data-sly-test="${!tr.tdurl}">
                                                                            <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${trList.count == 1 ? 'merge' : ''}">${tr.trData}</td>
                                                                        </sly>
                                                                        <sly data-sly-test="${tr.tdurl}">
                                                                            <td rowspan="${tr.rowspan}" colspan="${tr.colspan}" class=" ${trList.count == 1 ? 'merge' : ''}"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                        </sly>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                        </tr>
                                                    </sly>
                                                </sly>
                                            </sly>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            ${tableList.tabledesc @context= 'html' || ''}
                        </sly>

                        <!--/* Normal Table */-->

                        <!--/* Only Table Header Frozen */-->

                        <sly data-sly-test="${tableList.tableType == 'onlytableheader'}">
                            <div class="table-section">
                                ${tableList.heading @context= 'html' || ''}
                                <div class="table-block sticky-table sticky-ltr-cells">
                                    <table class="table-main ${tableList.tableTheme}">
                                        <thead>
                                            <tr class="sticky-header">
                                                <sly data-sly-list.itemList="${tableList.children}">
                                                    <sly data-sly-test="${itemList.name == 'theading'}">
                                                        <sly data-sly-list.thData="${itemList.children}">

                                                            <th>${thData.thdata}</th>

                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <sly data-sly-list.itemLists="${tableList.children}">
                                                <sly data-sly-test="${itemLists.name == 'tableRow'}">
                                                    <sly data-sly-list.tablerow="${itemLists.children}">
                                                        <tr>
                                                            <sly data-sly-list.trlist="${tablerow.children}">
                                                                <sly data-sly-test="${trlist.name == 'trowdata'}">

                                                                    <sly data-sly-list.tr="${trlist.children}">

                                                                        <sly data-sly-test="${!tr.tdurl}">
                                                                            <td rowspan="${tr.rowspan}" colspan="${tr.colspan}">${tr.trData}</td>
                                                                        </sly>
                                                                        <sly data-sly-test="${tr.tdurl}">
                                                                            <td rowspan="${tr.rowspan}" colspan="${tr.colspan}"><a href="${tr.tdurl}" target="${(tr.openNewTab)?'_blank':''}">${tr.trData}</a></td>
                                                                        </sly>
                                                                    </sly>
                                                                </sly>
                                                            </sly>
                                                        </tr>
                                                    </sly>
                                                </sly>
                                            </sly>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            ${tableList.tabledesc @context= 'html' || ''}
                        </sly>

                        <!--/* Only Table Header Frozen */-->


                    </sly>
                </sly>
            </sly>
            ${properties.description @context= 'html' || ''}
        </div>
    </div>
</section>
