ul.dropdown-list-menu {
    display: block;
}

ul.dropdown-list-menu li a {
    padding: 7px 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #606060;
    border-radius: 8 px;
    display: block;
}

.compare-box {
    padding: 10px 0;
}

/*Sebi category*/
.js-fixContainer {
    left: 0;
}
.compare-box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 11px;
}
.compare-btns-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -14px;
}
.compare-box-item {
    margin: 4px 14px;
}
.compare-box-item .btn {
    padding: 11px 25px;
    color: #2C6EB5;
    margin-right: 50px;
}
.compare-choose-wrap {
    width: 252px;
    white-space: nowrap;
}
.compare-choose-wrap .dropdown-button a:before {
    content: "";
    font-size: 10px;
}
.compare-choose-wrap .dropdown-card {
    width: 100%;
}
.compare-btn-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    padding-right: 40px;
    cursor: auto;
}
.compare-btn-selected .text-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 280px;
}
.compare-btn-selected a {
    padding: 0;
    position: absolute;
    top: 9px;
    right: 13px;
}
.compare-btn-selected a:before {
    display: none;
}
.compare-btn-selected .remove-compare {
    font-size: 7px;
    display: block;
    color: #2C6EB5;
    font-weight: 700;
}
.compare-btn-choose .dropdown-list-menu {
    padding: 10px;
}
.compare-btn-choose .dropdown-list-menu li:hover a {
    color: #2C6EB5;
}
.compare-btn-choose .dropdown-list-menu a {
    display: flex;
    align-items: center;
    padding: 7px 13px 7px 30px;
    position: relative;
}
.compare-btn-choose .dropdown-list-menu a .icon {
    font-size: 12px;
    position: absolute;
    left: 7px;
    color: #2C6EB5;
}
.search-fund-modal .popover-modal-content {
    overflow: visible;
  }
  .search-fund-modal .popover-modal-body {
    background-color: #F6FCFF;
    box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
    border-radius: 10px;
  }
  .search-fund-modal .modal-body-inner3 {
    padding: 50px 25px 30px;
  }
  .search-fund-modal .popover-modal-close {
    right: 25px;
  }
  .modal-search-input {
    position: relative;
  }
  .modal-search-input .form-control {
    background-color: #FFFFFF;
    border: 1px solid rgba(122, 204, 255, 0.6);
    height: 60px;
    width: 100%;
    border-radius: 100px;
    outline: none;
    padding: 5px 25px 5px 52px;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #333333;
  }
  .modal-search-input .search-btn {
    position: absolute;
    color: #2C6EB5;
    top: 21px;
    z-index: 1;
    left: 22px;
    font-size: 19px;
    line-height: 19px;
  }
  .modal-search-list {
    margin-top: 25px;
  }
  .modal-search-list li {
    margin-top: 10px;
  }
  .modal-search-list li a {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #333333;
    display: block;
    padding: 10px 10px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  .modal-search-list li a:hover {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  }
  .modal-search-input .twitter-typeahead {
    display: block !important;
  }
  .modal-search-input .tt-suggestion.tt-selectable {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #858997;
    display: block;
    padding: 10px 10px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  .modal-search-input .tt-suggestion.tt-selectable:hover {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  }
  .modal-search-input .tt-suggestion .tt-highlight {
    color: #333;
    font-weight: 500;
  }
  .modal-search-input .tt-menu {
    width: 100%;
    position: relative !important;
    margin-top: 15px;
  }
@media (max-width: 1199px) {
    .compare-btns-wrap {
        margin: 0 -8px;
    }
    .compare-box-item {
        margin: 4px 8px;
    }
    .compare-box-item .btn {
        margin-right: 20px;
    }
    .compare-choose-wrap {
        width: 210px;
    }
}
@media (max-width: 991px) {
    .mob-blue-menu {
        background-color: #2C6EB5;
        padding: 10px 0px;
    }
    .compare-btn-choose .dropdown-list-menu a {
        padding-left: 26px;
    }
    .compare-btn-choose .dropdown-list-menu a .icon {
        font-size: 9px;
    }
}
@media (max-width: 767px) {
    .mob-blue-menu .custom-dropdown.custom-dropdown-new .dropdown-button {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .compare-box-item {
        width: 100%;
        padding: 0 8px;
        margin-left: 0;
        margin-right: 0;
    }
    .compare-box-item .btn {
        margin-right: 0px;
        margin-left: 20px;
    }
    .compare-choose-wrap {
        width: 100%;
    }
    .compare-cancel-wrap {
        margin-top: 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .search-fund-modal {
        padding: 0;
      }
      .search-fund-modal .popover-modal-content {
        border-radius: 0;
      }
      .search-fund-modal .modal-body-inner3 {
        padding: 45px 20px 30px;
      }
      .search-fund-modal .popover-modal-close {
        right: 20px;
      }
      .modal-search-input .form-control {
        height: 40px;
        padding: 5px 24px;
        border-color: #ACB4D1;
        opacity: 1;
      }
      .modal-search-input .search-btn {
        width: 38px;
        height: 38px;
        background-color: #2C6EB5;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        left: auto;
        right: 0;
        font-size: 15px;
        line-height: 15px;
        top: 1px;
      }
}
@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}
@media (min-width: 1199px) {
    .d-xl-block {
        display: block !important;
    }
}
@media (max-width: 991px) {
    .dropdown-card-inner {
        padding: 15px 17px;
    }
    .mob-blue-menu {
        background-color: #2C6EB5;
        padding: 10px 0px;
    }
}
.mob-blue-menu-scroll {
    max-height: 200px;
}
.dropdown-list-menu li:first-child {
    margin-top: 0px;
}
.dropdown-list-menu li.active a, .dropdown-list-menu li:hover a {
    background-color: #F2F9FF;
    color: #333;
}
.js-fixContainer.affix {
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 1;
}