<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.redemtion-fliter-box'}"></sly>
</sly>

       <!-- mob filter -->
            <div class="fix-container js-fixContainer mob-filter-fund-sortby d-lg-none">
                <div class="mob-filter-container">
                    <div class="">
                        <div class="mobile-filter-sort">
                            <div class="mob-sortBtn-wrap">
                                <a href="javascript:void(0);" class="jsMobSorting">
                                    <i class="icon-sort icon"></i> Sort by
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- mob filter -->

            <!-- plan-goal box -->
            <section class="fund-list-filter-box">
                <div class="container">

                    <div class="fund-list-result">
                        <div class="fund-list-result-inner">
                            <div class="fund-list-result-left">
                                <div class="fund-list-result-one">
                                    <h5><span>28</span> Results</h5>
                                </div>
                                <div class="fund-list-result-two">
                                    <label class="fund-label">show</label>
                                    <!-- <a href="javascript:void(0);" class="contact-infomarion-btn">
                      <span>8</span> Funds
                    </a> -->
                                    <div class="custom-dropdown custom-dropdown-new">
                                        <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                            <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                                        </div>
                                        <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                            <div class="dropdown-card-inner">
                                                <ul class="dropdown-list-menu jsDropDownMenuGet">
                                                    <li class="active">
                                                        <a href="javascript:void(0)">8 Funds</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">10 Funds</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">15 Funds</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">20 Funds</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fund-list-result-right">
                                <div class="fund-list-result-sort">
                                    <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                                    <div class="custom-dropdown custom-dropdown-new">
                                        <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                            <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                                        </div>
                                        <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                            <div class="dropdown-card-inner">
                                                <ul class="dropdown-list-menu jsDropDownMenuGet">
                                                    <li>
                                                        <a href="javascript:void(0)">Poularity</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)">Rating - High to low</a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="javascript:void(0)">Returns - High to Low</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- fund list ul -->
                    <div class="fund-list-ul jsPagination">
                        <div class="fund-list-li">
                            <div class="card-div similar-mutual-funds-items">
                                <div class="top-row">
                                    <div class="info-rating-wrap">
                                        <div class="name-return-wrap">
                                            <div class="img-name-wrap">
                                                <div class="img-wrap">
                                                    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/company-2.png" alt="" />
                                                </div>
                                                <div class="name-rating-wrap">
                                                    <h6>SBI Dynamic Bond Fund - (G)</h6>
                                                    <div class="rating-wrap d-none d-md-flex">
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Morning Star
                                                        </p>
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Value Research
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="return-info d-md-none">
                                                <div class="form-select2">
                                                    <select class="single-select2" data-placeholder="-- Select --">
                              <option>1D Returns</option>
                              <option>1W Returns</option>
                              <option>1M Returns</option>
                              <option>3M Returns</option>
                              <option>6M Returns</option>
                              <option>1Y Returns</option>
                              <option>5Y Returns</option>
                            </select>
                                                </div>
                                                <h6 class="trend-info up-trend">
                                                    <span class="icon-angle-down"></span> 9.12%
                                                </h6>
                                            </div>

                                        </div>
                                        <div class="rating-wrap d-md-none">
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Morning Star
                                            </p>
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Value Research
                                            </p>
                                        </div>
                                    </div>
                                    <div class="returs-box d-none d-md-flex">
                                        <div class="returs-wrap">
                                            <div class="return-item">
                                                <p class="label-text">NAV</p>
                                                <h6>62.91</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1M Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">3Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invest-more-wrap d-none d-md-block">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a
                      >
                      <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn" data-btn="mf-dektop-view-more">
                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                      </a>
                                    </div>
                                </div>
                                <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">Min. Investment</p>
                                            <h6>Rs.1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>Rs.13,187 Cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>Vasav Sahgal</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-row">
                                    <div class="tag-more-wrap">
                                        <div class="tag-wrap">
                                            <span class="tag-item blue-tag">Moderately High Risk</span>
                                            <span class="tag-item violent-tag">Equity</span>
                                            <span class="tag-item green-tag">Growth</span>
                                        </div>
                                        <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none" data-btn="mf-view-more">
                                            <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                        </a>
                                    </div>
                                    <div class="button-wrap d-none d-md-flex">
                                        <div class="watchlist-compare-btn">
                                            <a href="javascript:void(0);" class="add-watchlist-wrap">
                                                <span class="icon-binocular"></span> ADD TO WatchLIST
                                            </a>
                                            <div class="custom-checkbox add-compare-wrap">
                                                <label>
                            <input type="checkbox" />
                            <span class="checkbox-wrap"></span>
                            ADD TO compare
                          </label>
                                            </div>
                                            <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span
                        ></a>
                                        </div>
                                        <div class="view-btn-wrap">

                                        </div>
                                    </div>

                                </div>

                                <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">NAV</p>
                                            <h6>62.91</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Min Investment</p>
                                            <h6>₹1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>₹13,187 cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>16.55%</h6>
                                        </div>
                                    </div>
                                    <div class="watchlist-compare-btn">
                                        <a href="javascript:void(0);" class="add-watchlist-wrap">
                                            <span class="icon-binocular"></span> ADD TO WatchLIST
                                        </a>
                                        <div class="custom-checkbox add-compare-wrap">
                                            <label>
                          <input type="checkbox">
                          <span class="checkbox-wrap"></span>
                          ADD TO compare
                        </label>
                                        </div>
                                    </div>
                                    <div class="invest-detail-wrap">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a>
                                        <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fund-list-li">
                            <div class="card-div similar-mutual-funds-items">
                                <div class="top-row">
                                    <div class="info-rating-wrap">
                                        <div class="name-return-wrap">
                                            <div class="img-name-wrap">
                                                <div class="img-wrap">
                                                    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/company-2.png" alt="" />
                                                </div>
                                                <div class="name-rating-wrap">
                                                    <h6>SBI Dynamic Bond Fund - (G)</h6>
                                                    <div class="rating-wrap d-none d-md-flex">
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Morning Star
                                                        </p>
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Value Research
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="return-info d-md-none">
                                                <div class="form-select2">
                                                    <select class="single-select2" data-placeholder="-- Select --">
                              <option>1D Returns</option>
                              <option>1W Returns</option>
                              <option>1M Returns</option>
                              <option>3M Returns</option>
                              <option>6M Returns</option>
                              <option>1Y Returns</option>
                              <option>5Y Returns</option>
                            </select>
                                                </div>
                                                <h6 class="trend-info up-trend">
                                                    <span class="icon-angle-down"></span> 9.12%
                                                </h6>
                                            </div>

                                        </div>
                                        <div class="rating-wrap d-md-none">
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Morning Star
                                            </p>
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Value Research
                                            </p>
                                        </div>
                                    </div>
                                    <div class="returs-box d-none d-md-flex">
                                        <div class="returs-wrap">
                                            <div class="return-item">
                                                <p class="label-text">NAV</p>
                                                <h6>62.91</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1M Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">3Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invest-more-wrap d-none d-md-block">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a
                      >
                      <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn" data-btn="mf-dektop-view-more">
                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                      </a>
                                    </div>
                                </div>
                                <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">Min. Investment</p>
                                            <h6>Rs.1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>Rs.13,187 Cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>Vasav Sahgal</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-row">
                                    <div class="tag-more-wrap">
                                        <div class="tag-wrap">
                                            <span class="tag-item blue-tag">Moderately High Risk</span>
                                            <span class="tag-item violent-tag">Equity</span>
                                            <span class="tag-item green-tag">Growth</span>
                                        </div>
                                        <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none" data-btn="mf-view-more">
                                            <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                        </a>
                                    </div>
                                    <div class="button-wrap d-none d-md-flex">
                                        <div class="watchlist-compare-btn">
                                            <a href="javascript:void(0);" class="add-watchlist-wrap">
                                                <span class="icon-binocular"></span> ADD TO WatchLIST
                                            </a>
                                            <div class="custom-checkbox add-compare-wrap">
                                                <label>
                            <input type="checkbox" />
                            <span class="checkbox-wrap"></span>
                            ADD TO compare
                          </label>
                                            </div>
                                            <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span
                        ></a>
                                        </div>
                                        <div class="view-btn-wrap">

                                        </div>
                                    </div>

                                </div>

                                <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">NAV</p>
                                            <h6>62.91</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Min Investment</p>
                                            <h6>₹1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>₹13,187 cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>16.55%</h6>
                                        </div>
                                    </div>
                                    <div class="watchlist-compare-btn">
                                        <a href="javascript:void(0);" class="add-watchlist-wrap">
                                            <span class="icon-binocular"></span> ADD TO WatchLIST
                                        </a>
                                        <div class="custom-checkbox add-compare-wrap">
                                            <label>
                          <input type="checkbox">
                          <span class="checkbox-wrap"></span>
                          ADD TO compare
                        </label>
                                        </div>
                                    </div>
                                    <div class="invest-detail-wrap">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a>
                                        <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fund-list-li">
                            <div class="card-div similar-mutual-funds-items">
                                <div class="top-row">
                                    <div class="info-rating-wrap">
                                        <div class="name-return-wrap">
                                            <div class="img-name-wrap">
                                                <div class="img-wrap">
                                                    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/company-2.png" alt="" />
                                                </div>
                                                <div class="name-rating-wrap">
                                                    <h6>SBI Dynamic Bond Fund - (G)</h6>
                                                    <div class="rating-wrap d-none d-md-flex">
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Morning Star
                                                        </p>
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Value Research
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="return-info d-md-none">
                                                <div class="form-select2">
                                                    <select class="single-select2" data-placeholder="-- Select --">
                              <option>1D Returns</option>
                              <option>1W Returns</option>
                              <option>1M Returns</option>
                              <option>3M Returns</option>
                              <option>6M Returns</option>
                              <option>1Y Returns</option>
                              <option>5Y Returns</option>
                            </select>
                                                </div>
                                                <h6 class="trend-info up-trend">
                                                    <span class="icon-angle-down"></span> 9.12%
                                                </h6>
                                            </div>

                                        </div>
                                        <div class="rating-wrap d-md-none">
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Morning Star
                                            </p>
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Value Research
                                            </p>
                                        </div>
                                    </div>
                                    <div class="returs-box d-none d-md-flex">
                                        <div class="returs-wrap">
                                            <div class="return-item">
                                                <p class="label-text">NAV</p>
                                                <h6>62.91</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1M Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">3Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invest-more-wrap d-none d-md-block">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a
                      >
                      <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn" data-btn="mf-dektop-view-more">
                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                      </a>
                                    </div>
                                </div>
                                <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">Min. Investment</p>
                                            <h6>Rs.1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>Rs.13,187 Cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>Vasav Sahgal</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-row">
                                    <div class="tag-more-wrap">
                                        <div class="tag-wrap">
                                            <span class="tag-item blue-tag">Moderately High Risk</span>
                                            <span class="tag-item violent-tag">Equity</span>
                                            <span class="tag-item green-tag">Growth</span>
                                        </div>
                                        <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none" data-btn="mf-view-more">
                                            <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                        </a>
                                    </div>
                                    <div class="button-wrap d-none d-md-flex">
                                        <div class="watchlist-compare-btn">
                                            <a href="javascript:void(0);" class="add-watchlist-wrap">
                                                <span class="icon-binocular"></span> ADD TO WatchLIST
                                            </a>
                                            <div class="custom-checkbox add-compare-wrap">
                                                <label>
                            <input type="checkbox" />
                            <span class="checkbox-wrap"></span>
                            ADD TO compare
                          </label>
                                            </div>
                                            <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span
                        ></a>
                                        </div>
                                        <div class="view-btn-wrap">

                                        </div>
                                    </div>

                                </div>

                                <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">NAV</p>
                                            <h6>62.91</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Min Investment</p>
                                            <h6>₹1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>₹13,187 cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>16.55%</h6>
                                        </div>
                                    </div>
                                    <div class="watchlist-compare-btn">
                                        <a href="javascript:void(0);" class="add-watchlist-wrap">
                                            <span class="icon-binocular"></span> ADD TO WatchLIST
                                        </a>
                                        <div class="custom-checkbox add-compare-wrap">
                                            <label>
                          <input type="checkbox">
                          <span class="checkbox-wrap"></span>
                          ADD TO compare
                        </label>
                                        </div>
                                    </div>
                                    <div class="invest-detail-wrap">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a>
                                        <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fund-list-li">
                            <div class="card-div similar-mutual-funds-items">
                                <div class="top-row">
                                    <div class="info-rating-wrap">
                                        <div class="name-return-wrap">
                                            <div class="img-name-wrap">
                                                <div class="img-wrap">
                                                    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/company-2.png" alt="" />
                                                </div>
                                                <div class="name-rating-wrap">
                                                    <h6>SBI Dynamic Bond Fund - (G)</h6>
                                                    <div class="rating-wrap d-none d-md-flex">
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Morning Star
                                                        </p>
                                                        <p>
                                                            <span class="rate">5 <span class="icon-star"></span
                                ></span> Value Research
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="return-info d-md-none">
                                                <div class="form-select2">
                                                    <select class="single-select2" data-placeholder="-- Select --">
                              <option>1D Returns</option>
                              <option>1W Returns</option>
                              <option>1M Returns</option>
                              <option>3M Returns</option>
                              <option>6M Returns</option>
                              <option>1Y Returns</option>
                              <option>5Y Returns</option>
                            </select>
                                                </div>
                                                <h6 class="trend-info up-trend">
                                                    <span class="icon-angle-down"></span> 9.12%
                                                </h6>
                                            </div>

                                        </div>
                                        <div class="rating-wrap d-md-none">
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Morning Star
                                            </p>
                                            <p>
                                                <span class="rate">5 <span class="icon-star"></span
                          ></span> Value Research
                                            </p>
                                        </div>
                                    </div>
                                    <div class="returs-box d-none d-md-flex">
                                        <div class="returs-wrap">
                                            <div class="return-item">
                                                <p class="label-text">NAV</p>
                                                <h6>62.91</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1M Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">1Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                            <div class="return-item">
                                                <p class="label-text">3Y Returns</p>
                                                <h6>16.55%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invest-more-wrap d-none d-md-block">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a
                      >
                      <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn" data-btn="mf-dektop-view-more">
                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                      </a>
                                    </div>
                                </div>
                                <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">Min. Investment</p>
                                            <h6>Rs.1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>Rs.13,187 Cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>Vasav Sahgal</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-row">
                                    <div class="tag-more-wrap">
                                        <div class="tag-wrap">
                                            <span class="tag-item blue-tag">Moderately High Risk</span>
                                            <span class="tag-item violent-tag">Equity</span>
                                            <span class="tag-item green-tag">Growth</span>
                                        </div>
                                        <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none" data-btn="mf-view-more">
                                            <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                        </a>
                                    </div>
                                    <div class="button-wrap d-none d-md-flex">
                                        <div class="watchlist-compare-btn">
                                            <a href="javascript:void(0);" class="add-watchlist-wrap">
                                                <span class="icon-binocular"></span> ADD TO WatchLIST
                                            </a>
                                            <div class="custom-checkbox add-compare-wrap">
                                                <label>
                            <input type="checkbox" />
                            <span class="checkbox-wrap"></span>
                            ADD TO compare
                          </label>
                                            </div>
                                            <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span
                        ></a>
                                        </div>
                                        <div class="view-btn-wrap">

                                        </div>
                                    </div>

                                </div>

                                <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">NAV</p>
                                            <h6>62.91</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Min Investment</p>
                                            <h6>₹1000</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Size</p>
                                            <h6>₹13,187 cr</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">Fund Manager</p>
                                            <h6>16.55%</h6>
                                        </div>
                                    </div>
                                    <div class="watchlist-compare-btn">
                                        <a href="javascript:void(0);" class="add-watchlist-wrap">
                                            <span class="icon-binocular"></span> ADD TO WatchLIST
                                        </a>
                                        <div class="custom-checkbox add-compare-wrap">
                                            <label>
                          <input type="checkbox">
                          <span class="checkbox-wrap"></span>
                          ADD TO compare
                        </label>
                                        </div>
                                    </div>
                                    <div class="invest-detail-wrap">
                                        <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn">invest now</a>
                                        <a href="javascript:void(0)" class="btn-view-all">view details<span class="icon-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fund list ul -->

                    <!-- pagination box -->
                    <!-- <div class="pagination-box">          
              <div class="pagination-list" id="pagination-container">
              </div>                      
            </div> -->
                    <!-- pagination box -->
                    <div class="btn-wrap text-center">
                        <a href="javascript:void(0);" class="btn-blue radius100 explore-all-btn">Explore All Mutual Funds</a>
                    </div>

                </div>
            </section>
            <!-- plan-goal box -->

  <!-- start mobile sort -->
    <div class="mob-sortby-box">
        <div class="mob-sortby-inner">
            <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
            <div class="container">
                <h6>Sort by</h6>
                <ul class="jsSelectSortList">
                    <li>
                        <label class="custom-radio-text">
                Poularity
                <span class="custom-radio">
                  <input type="radio" name="sort">
                  <span class="radiobox-check"></span>
                </span>
              </label>
                    </li>
                    <li>
                        <label class="custom-radio-text">
                Rating - High to low
                <span class="custom-radio">
                  <input type="radio" name="sort">
                  <span class="radiobox-check"></span>
                </span>
              </label>
                    </li>
                    <li>
                        <label class="custom-radio-text">
                Returns - High to Low
                <span class="custom-radio">
                  <input type="radio" name="sort">
                  <span class="radiobox-check"></span>
                </span>
              </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end mobile sort -->


 <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.redemtion-fliter-box'}"></sly>
</sly>