.icon-box {
  width: 60px;
  height: 60px;
  background-color: #F6F9FB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box img {
  max-width: 35px;
}

.contact-detail-box {
  padding-bottom: 65px;
}

.contact-detail-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.contact-detail-inner .queries-col {
  width: 28%;
  position: relative;
  padding: 0 20px;
}
.contact-detail-inner .queries-col:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  border-right: 0.5px solid rgba(153, 153, 153, 0.4);
  top: 90px;
  right: 0;
  z-index: -1;
}
.contact-detail-inner .icon-box {
  margin: 0 0 30px;
}
.contact-detail-inner .contact-info h6 {
  margin-bottom: 20px;
}
.contact-detail-inner .contact-info p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 25px;
  min-height: 88px;
}
.contact-detail-inner .loan-col {
  width: 44%;
}
.contact-detail-inner .border-bottom {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 0.5px solid rgba(153, 153, 153, 0.4);
}

/*17-4-2023*/
.loan-col:before {
  display: none;
}
.loan-col .contact-info p {
  min-height: auto;
  margin-bottom: 15px;
}
.loan-col .contact-info a {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
  text-decoration: none;
}

/*17-4-2023*/
.loans-row {
  display: flex;
  margin: 0 -10px;
  /*21-4-2023*/
  /*21-4-2023*/
}
.loans-row.new-loan-row {
  flex-wrap: wrap;
  margin: 0px;
}
.loans-row.new-loan-row .loan-item {
  width: 100%;
  padding: 0px 0 20px;
}
.loans-row.new-loan-row .loan-item:last-child {
  padding-bottom: 0px;
}
.loans-row .loan-item {
  width: 50%;
  padding: 0 10px;
}
.loans-row .loan-item .laon-head {
  font-weight: 600;
  margin-bottom: 5px;
}

/*21-4-2023*/
/*21-4-2023*/
@media (max-width: 991px) {
  .contact-detail-box {
    padding-bottom: 45px;
  }

  /*17-4-2023*/
  .contact-detail-inner {
    flex-wrap: wrap;
  }
  .contact-detail-inner .queries-col {
    width: 50%;
    margin-bottom: 40px;
  }
  .contact-detail-inner .investment-col::before {
    display: none;
  }
  .contact-detail-inner .loan-col {
    width: 100%;
    margin-bottom: 0;
  }
  .contact-detail-inner .contact-info a {
    word-break: inherit;
  }

  /*17-4-2023*/
}
@media (max-width: 767px) {
  .contact-detail-inner {
    margin: 0;
  }
  .contact-detail-inner .queries-col {
    width: 100%;
    padding: 0 0 35px;
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.4);
  }
  .contact-detail-inner .queries-col::before {
    display: none;
  }
  .contact-detail-inner .border-bottom {
    padding-bottom: 25px;
    margin-bottom: 25px !important;
  }
  .contact-detail-inner .loan-col {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .contact-detail-inner .icon-box {
    margin-bottom: 10px;
  }
  .contact-detail-inner .contact-info h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 5px;
  }
  .contact-detail-inner .contact-info p {
    min-height: auto;
    margin-bottom: 15px;
  }

  .loans-row {
    flex-wrap: wrap;
    /*21-4-2023*/
    /*21-4-2023*/
  }
  .loans-row .loan-item {
    width: 100%;
    margin-bottom: 25px;
  }
  .loans-row .loan-item:last-child {
    margin-bottom: 0;
  }
  .loans-row.new-loan-row .loan-item {
    margin-bottom: 0px;
    padding-bottom: 25px;
  }
  .loans-row.new-loan-row .loan-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
