.investment-avenues-box .top-headings {
  text-align: center;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  padding-bottom: 7px;
}
.investment-avenues-box .top-headings h6 {
  color: #2C6EB5;
}
.investment-avenues-box .top-headings h2 {
  margin-bottom: 20px;
}

.inner-tab-outer {
  max-width: 480px;
  margin: auto;
}

.list-investment-tabs {
  margin: auto;
}
.list-investment-tabs.slider-arrows .slick-prev {
  bottom: -4px;
  left: 0;
  margin: 0;
}
.list-investment-tabs.slider-arrows .slick-next {
  right: 0;
  margin: 0;
  bottom: -4px;
}
.list-investment-tabs li a {
  padding: 18px 30px;
  border-radius: 80px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: #333333;
  white-space: nowrap;
  margin: 16px 5px;
}
.list-investment-tabs li a img {
  margin-right: 10px;
  opacity: 0.5;
  filter: grayscale(100%);
}
.list-investment-tabs li.slick-current a {
  background: #D7DF23;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.25);
}
.list-investment-tabs li.slick-current a img {
  opacity: 1;
  filter: grayscale(0);
}

.tab-contents {
  padding: 46px 0 0px;
}

.tab-content-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.tab-content-row .tab-left {
  max-width: 500px;
}
.tab-content-row .tab-left h6 {
  margin-bottom: 5px;
  color: #2C6EB5;
}
.tab-content-row .tab-left h3 {
  margin-bottom: 20px;
}
.tab-content-row .tab-left p {
  margin-bottom: 25px;
}
.tab-content-row .tab-left .list-dots-info {
  margin-bottom: 32px;
}
.tab-content-row .tab-right {
  max-width: 550px;
  width: 100%;
}

.list-dots-info li {
  font-size: 17px;
  line-height: 28px;
  color: #606060;
  padding-bottom: 12px;
  position: relative;
  padding-left: 17px;
}
.list-dots-info li:last-child {
  padding-bottom: 0px;
}
.list-dots-info li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ACB4D1;
  display: block;
  position: absolute;
  left: 0px;
  top: 9px;
}

@media (max-width: 1199px) {
  .tab-content-row .tab-left {
    max-width: calc(100% - 330px);
  }
  .tab-content-row .tab-right {
    max-width: 330px;
  }
}
@media (max-width: 991px) {
  .inner-tab-outer {
    max-width: 70%;
    margin: auto;
  }

  .list-investment-tabs {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .tab-content-row {
    display: block;
  }
  .tab-content-row .tab-left {
    padding: 30px 0 0;
    max-width: 100%;
  }
  .tab-content-row .tab-left p {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .tab-content-row .tab-left .list-dots-info {
    margin-bottom: 20px;
  }

  .investment-avenues-box .invest-avenue.container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .investment-avenues-box .top-headings {
    position: relative;
    border-bottom: none;
  }
  .investment-avenues-box .top-headings:before {
    content: "";
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .investment-avenues-box .top-headings h6 {
    margin-bottom: 7px;
  }
  .investment-avenues-box .top-headings h2 {
    margin-bottom: 5px;
  }
  .investment-avenues-box .top-headings .top-inners {
    padding: 0 15px;
  }

  .tab-contents {
    padding-top: 10px;
  }
  .tab-contents .slick-track {
    padding-bottom: 30px;
  }
  .tab-contents .tab-left h6 {
    margin-bottom: 6px;
    text-align: center;
  }
  .tab-contents .tab-left h3 {
    margin-bottom: 15px;
    text-align: center;
  }

  .list-dots-info {
    margin-bottom: 18px;
  }
  .list-dots-info li {
    font-size: 14px;
    line-height: 22px;
  }

  .list-investment-tabs {
    justify-content: flex-start;
  }
  .list-investment-tabs.slider-arrows .slick-prev {
    bottom: -11px;
  }
  .list-investment-tabs.slider-arrows .slick-next {
    bottom: -11px;
  }
  .list-investment-tabs li a {
    font-size: 10px;
    line-height: 15px;
    padding: 12px 27px;
  }
}
@media (max-width: 575px) {
  .investment-avenues-box .top-headings:before {
    left: 15px;
    right: 15px;
  }
  .inner-tab-outer {
    max-width: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */

.h2-class{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333;
}
@media (max-width: 767px){
  .h2-class{
    font-size: 24px !important;
    line-height: 29px !important;
  }
}