

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

h2,
h5,
p {
  margin: 0;
  font-weight: normal;
}

button:focus {
  outline: none;
}

/* container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Bg Color */

/* Text Color */

/* margin */

/* padding */

/*heading*/

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

/* button */

.btn-blue {
  background-color: #2C6EB5;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 15px 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.btn-blue:hover {
  background-color: #4786C9;
}
.btn-blue.radius100 {
  border-radius: 100px;
}

/*tooltip*/

/*card css*/
.card-div {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  border-radius: 10px;
}

/*yellow tab css*/
/* Responsive Media */
@media (max-width: 767px) {

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .btn-blue {
    font-size: 11px;
    line-height: 17px;
    padding: 12px 20px;
  }
}
/* Container */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.list-goal-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -20px -10px 0;
}
.list-goal-base li {
  margin-top: 20px;
  padding: 0 10px;
  width: 25%;
}
.list-goal-base .list-goal-img {
  height: 50px;
  margin: 0 auto 16px;
}
.list-goal-base .list-goal-img img {
  margin: auto;
}
.list-goal-base .list-goal {
  display: block;
  width: 100%;
  height: 100%;
  padding: 35px 20px;
  text-align: center;
  transition: all 0.3s;
}
.list-goal-base .list-goal .goal-img {
  display: block;
}
.list-goal-base .list-goal .goal-img-hover {
  display: none;
}
.list-goal-base .list-goal:hover {
  background-color: #2c6eb5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}
.list-goal-base .list-goal:hover .goal-img {
  display: none;
}
.list-goal-base .list-goal:hover .goal-img-hover {
  display: block;
}
.list-goal-base .list-goal:hover h5 {
  color: #fff;
}

.view-all-btns {
  margin-top: 40px;
  text-align: center;
}

/*sip blue card*/

/*sip blue card*/
@media (max-width: 991px) {

  .list-goal-base li {
    width: 50%;
  }

  .view-all-btns {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .list-goal-base li {
    width: 50%;
  }
  .list-goal-base .list-goal {
    padding: 19px 15px;
  }
  .list-goal-base .list-goal-img {
    margin-bottom: 12px;
    height: 45px;
  }
  .list-goal-base .list-goal-img img {
    height: 45px;
  }
  .list-goal-base h5 {
    font-size: 14px;
    line-height: 21px;
  }
}

/* header top menu */

/*mobile header css*/
.discover-mutual-box {
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/discover-bg.png") no-repeat top left;
  padding: 71px 0 80px;
}
.discover-mutual-box .discover-top {
  max-width: 812px;
  margin: 0 auto 30px;
  text-align: center;
}
.discover-mutual-box h2 {
  margin-bottom: 13px;
}
@media (max-width: 991px) {
  .discover-mutual-box {
    padding: 45px 0px;
  }
}
@media (max-width: 767px) {
  .discover-mutual-box .discover-top {
    margin-bottom: 24px;
  }
}

/* Accordian Tab */

/*# sourceMappingURL=style.css.map */
