        <!-- how-work-box -->
        <section class="how-work-box">
            <div class="container">
              <div class="how-work-top">
                <h6>${properties.title}</h6>
                <h2>${properties.heading}</h2>
              </div>
  
              <ul class="how-work-list">
                <li data-aos="fade-up">
                  <div class="work-image">
                    <img src="/content/dam/tata-capital-moneyfy/home-page/work-img1.png" alt="" class="img1" />
                  </div>
                  <div class="work-content">
                    <img src="/content/dam/tata-capital-moneyfy/home-page/line1.png" alt="" class="line1" />
                    <h5>Create account</h5>
                    <p>Register your mobile number and email ID with Moneyfy</p>
                  </div>
                </li>
                <li class="work-two" data-aos="fade-up" data-aos-delay="100">
                  <div class="work-image">
                    <img src="/content/dam/tata-capital-moneyfy/home-page/work-img2.png" alt="" class="img2" />
                  </div>
                  <div class="work-content">
                    <img src="/content/dam/tata-capital-moneyfy/home-page/line2.png" alt="" class="line2" />
                    <h5>Complete KYC</h5>
                    <p>Set up your account and update your KYC details</p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                  <div class="work-image">
                    <img src="/content/dam/tata-capital-moneyfy/home-page/work-img3.png" alt="" class="img3" />
                  </div>
                  <div class="work-content">
                    <img src="/content/dam/tata-capital-moneyfy/home-page/line3.png" alt="" class="line3" />
                    <img src="/content/dam/tata-capital-moneyfy/home-page/line4.png" alt="" class="line4" />
                    <h5>Start investing</h5>
                    <p>Once we verify your KYC details, you’re ready to start investing! </p>
                  </div>
                </li>
              </ul>
  
              <div class="text-center" data-sly-test="${properties.buttonTitle}">
                <div class="tab-left-btn" data-howstartbtn="howStartBtn">
                  <a href="${properties.buttonLink}"target="${properties.buttonTarget ? '_blank':''}"><button type="button" class="btn-blue radius100 btn-shadow">${properties.buttonTitle}</button></a>
                </div>
              </div>
            </div>
          </section>
          <!-- how-work-box -->