.blog-video-box {
  padding: 65px 0;
}
.blog-video-box .blog-video-row {
  display: flex;
  flex-wrap: wrap;
}
.blog-video-box .blogs-left {
  width: 65%;
  padding-right: 30px;
}
.blog-video-box .videos-right {
  width: 35%;
  padding-left: 30px;
  position: relative;
}
.blog-video-box .videos-right:before {
  content: "";
  border-left: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  left: 0px;
  top: 10px;
  bottom: 0px;
}
.blog-video-box.most-viewed {
  padding: 35px 0 40px;
}
.blog-video-box.most-viewed .heading-with-view {
  padding-right: 85px;
}
.blog-video-box.most-viewed .blog-video-slider .blog-sliders .blog-content p {
  margin-bottom: 10px;
}
.blog-video-box.most-viewed .blog-video-slider .blog-sliders .blog-img .video-time {
  top: 20px;
  right: 22px;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders .blog-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders .blog-content h6 {
  margin-bottom: 2px;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders .blog-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders .btn-viewalls {
  padding-left: 20px;
  padding-right: 20px;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders .blog-img .video-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  right: auto;
  left: 20px;
  color: #005899;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders .blog-img .video-overlay {
  background: transparent;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders.red-text .blog-img .video-time {
  color: #FC3E3E;
}
.blog-video-box.tata-playlist .blog-video-slider .blog-sliders.red-text .blog-content h6 {
  color: #FC3E3E;
}

.all-video-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #005899;
  margin-top: 15px;
  margin-bottom: 10px;
}

.blog-video-slider .blog-slider-col {
  padding: 25px 10px 35px;
}
.blog-video-slider .blog-sliders {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  position: relative;
  height: 100%;
}
.blog-video-slider .blog-sliders .blog-img {
  position: relative;
}
.blog-video-slider .blog-sliders .blog-img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.blog-video-slider .blog-sliders .blog-img .video-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(178.02deg, #000000 -51.24%, rgba(0, 0, 0, 0) 127.02%);
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px 10px 0 0;
}
.blog-video-slider .blog-sliders .blog-img .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.blog-video-slider .blog-sliders .blog-img .video-time {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 2;
}
.blog-video-slider .blog-sliders .blog-content {
  padding: 15px 25px 50px;
}
.blog-video-slider .blog-sliders .blog-content h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
  margin-bottom: 8px;
}
.blog-video-slider .blog-sliders .blog-content p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 18px;
}
.blog-video-slider .blog-sliders .blog-content .texts-para {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  display: block;
  margin-bottom: 25px;
}
.blog-video-slider .blog-sliders .btn-viewalls {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 0 25px 20px;
}
.blog-video-slider .blog-sliders .bottom-info-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.blog-video-slider .blog-sliders .bottom-infos {
  position: relative;
  padding-right: 25px;
  min-height: 20px;
}
.blog-video-slider .blog-sliders .share-link {
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #2C6EB5;
}
.blog-video-slider.webinars-noslider {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.blog-video-slider.webinars-noslider .blog-slider-col {
  width: 33.33%;
  padding-bottom: 0px;
}

.contents-loader {
  text-align: center;
  padding: 50px 0 0;
}
.contents-loader img {
  margin: auto;
}

@media (max-width: 991px) {
  .blog-video-box {
    padding: 40px 0 50px;
  }
  .blog-video-box.most-viewed {
    padding: 25px 0 30px;
  }
  .blog-video-box .blogs-left {
    width: 100%;
    padding-right: 0px;
  }
  .blog-video-box .videos-right {
    padding-top: 30px;
    width: 100%;
    padding-left: 0px;
  }
  .blog-video-box .videos-right:before {
    content: none;
  }

  .blog-video-slider.webinars-noslider .blog-slider-col {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .blog-video-slider .blog-sliders {
    width: 246px;
  }
  .blog-video-slider .blog-sliders .blog-img .video-time {
    display: none;
  }
  .blog-video-slider .blog-sliders .blog-content {
    padding-left: 20px;
    padding-right: 37px;
    padding-bottom: 45px;
    position: relative;
  }
  .blog-video-slider .blog-sliders .blog-content h6 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 6px;
  }
  .blog-video-slider .blog-sliders .blog-content p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .blog-video-slider .blog-sliders .btn-viewalls {
    padding: 0 20px 20px;
  }
  .blog-video-slider .blog-sliders .bottom-info-text {
    font-size: 11px;
    line-height: 22px;
  }
  .blog-video-slider .blog-sliders .share-link {
    right: 15px;
    top: 15px;
  }

  .blog-video-box.most-viewed {
    padding: 15px 0 20px;
  }
  .blog-video-box.most-viewed .heading-with-view {
    padding-right: 95px;
  }
  .blog-video-box.most-viewed .blog-video-slider .blog-sliders {
    width: 276px;
  }
  .blog-video-box.most-viewed .blog-video-slider.webinars-noslider .blog-sliders {
    width: 100%;
  }
  .blog-video-box.most-viewed .blog-video-slider.webinars-noslider .blog-slider-col {
    width: 100%;
    padding-top: 15px;
  }

  .contents-loader {
    padding-top: 40px;
  }
}
@media (max-width: 575px) {
  .blog-video-box .container {
    padding: 0px;
  }
  .blog-video-box .container.mob-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-video-box .heading-with-view {
    padding: 0 15px;
  }
  .blog-video-box .heading-with-view .btn-view-all {
    right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
