<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-filter-box'}"></sly>
</sly>
<sly data-sly-use.sebiFundList="${'com.tatacapital.moneyfy.core.models.SebiSubCatModel' @ subCatName=pageProperties.subCatName}" />
<sly data-sly-test.fundList="${sebiFundList.sort}" />
 <!-- plan-goal box -->
<section class="fund-list-filter-box pd-t40i" id="jsFilterAddCompare">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
    </div>
    <div class="container">

        <div class="fund-list-result">
            <div class="fund-list-result-inner">
                <div class="fund-list-result-left">
                    <div class="fund-list-result-one">
                        <h5><span data-fund="size">${fundList.size}</span> Results</h5>
                    </div>
                    <div class="fund-list-result-two">
                        <div class="custom-dropdown custom-dropdown-new">
                            <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                <a href="javascript:void(0);" class="jsDropDownMenuShow">8 Funds</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                <div class="dropdown-card-inner">
                                    <ul class="dropdown-list-menu jsDropDownMenuGet" id="noOfFunds">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fund-list-result-right">
                    <div class="fund-list-result-sort">
                        <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                        <div class="custom-dropdown custom-dropdown-new">
                            <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                <div class="dropdown-card-inner">
                                    <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                                        <li>
                                            <a href="javascript:void(0)">Morning Star - High to Low</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Morning Star - Low to High</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Value Research - High to Low</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Value Research - Low to High</a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0)">Returns - High to Low</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Returns - Low to High</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- pagination box -->
        <div class="pagination-box top-pagination">
            <div class="pagination-list mf-pagination">
            </div>
        </div>
        <!-- pagination box -->

        <!-- fund list ul -->
        <div class="fund-list-ul jsPagination" id="sebiCatFundList">
            <sly data-sly-test="${fundList.size > 0}">
                <sly data-sly-list.funds="${fundList}">
                    <div class="fund-list-li js-similarMFcard" data-schemeId="${funds.schemeId}">
                        <div class="card-div similar-mutual-funds-items">
                            <div class="top-row">
                                <div class="info-rating-wrap">
                                    <div class="name-return-wrap">
                                        <div class="img-name-wrap">
                                            <div class="img-wrap">
                                                <img src="${funds.iconPath}" alt="" />
                                            </div>
                                            <div class="name-rating-wrap">
                                                <a href="${funds.pagePath}" data-viewdetailbtn="viewDetailBtn" class="mf-fund-name"><h6 class="fund-name two-lines" data-schemename="${funds.fundName}">${funds.fundName}</h6></a>
                                                <div class="rating-wrap d-none d-md-flex">
                                                    <p>
                                                        <span class="rate">${funds.morningStar != null && funds.morningStar != '' ? funds.morningStar : '-'}
                                                            <span class="icon-star"></span></span>
                                                        Morning Star
                                                    </p>
                                                    <p>
                                                        <span class="rate">${funds.valueResearch != null && funds.valueResearch != '' ? funds.valueResearch : '-'}
                                                            <span class="icon-star"></span></span>
                                                        Value Research
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="return-info d-md-none">
                                            <div class="form-select2">
                                                <select class="single-select2 returnsVal"
                                                    data-placeholder="-- Select --">
                                                    <option value="${funds.oneMonthReturn == '0.0' || funds.oneMonthReturn == 'null' ? '-' : funds.oneMonthReturn}">1m Returns
                                                    </option>
                                                    <option value="${funds.oneYearReturn == '0.0' || funds.oneYearReturn == 'null' ? '-' : funds.oneYearReturn}">1y Returns
                                                    </option>
                                                    <option value="${funds.threeYearReturn == '0.0' || funds.threeYearReturn == 'null' ? '-' : funds.threeYearReturn}">3y Returns
                                                    </option>
                                                </select>
                                            </div>
                                            <sly data-sly-test="${funds.oneMonthReturn != '0.0' && funds.oneMonthReturn != 'null'}">
                                                <h6 class="trend-info ${funds.isGreaterThanZero ? 'up-trend' : 'down-trend'}"
                                                    data-rate="rate">
                                                    <span
                                                        class="${funds.isGreaterThanZero ? 'icon-angle-up' : 'icon-angle-down'}"></span>
                                                        ${funds.oneMonthReturn} %
                                                </h6>
                                            </sly>
                                            <sly data-sly-test="${funds.oneMonthReturn == '0.0' && funds.oneMonthReturn != 'null'}">
                                                <h6 class="trend-info" data-rate="rate">-%</h6>
                                            </sly>
                                        </div>

                                    </div>
                                    <div class="rating-wrap d-md-none">
                                        <p>
                                            <span class="rate">${funds.morningStar != null && funds.morningStar != '' ? funds.morningStar : '-'}
                                                <span class="icon-star"></span></span>
                                            Morning Star
                                        </p>
                                        <p>
                                            <span class="rate">${funds.valueResearch != null && funds.valueResearch != '' ? funds.valueResearch : '-'}
                                                <span class="icon-star"></span></span>
                                            Value Research
                                        </p>
                                    </div>
                                </div>
                                <div class="returs-box d-none d-md-flex">
                                    <div class="returs-wrap">
                                        <div class="return-item">
                                            <p class="label-text">NAV</p>
                                            <h6>${funds.nav ? funds.nav : '-'}</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">1M Returns</p>
                                            <h6>${funds.oneMonthReturn == '0.0' || funds.oneMonthReturn == 'null' ? '-' : funds.oneMonthReturn}%</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">1Y Returns</p>
                                            <h6>${funds.oneYearReturn == '0.0' || funds.oneYearReturn == 'null' ? '-' : funds.oneYearReturn}%</h6>
                                        </div>
                                        <div class="return-item">
                                            <p class="label-text">3Y Returns</p>
                                            <h6>${funds.threeYearReturn == '0.0' || funds.threeYearReturn == 'null' ? '-' : funds.threeYearReturn}%</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="invest-more-wrap d-none d-md-block">
                                    <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn"
                                        data-investnow="true">invest now</a>
                                    <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn"
                                        data-btn="mf-dektop-view-more">
                                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                                <div class="returs-wrap">
                                    <div class="return-item">
                                        <p class="label-text">Min. Investment</p>
                                        <h6>Rs.${funds.minSipAmt ? funds.minSipAmt : funds.minLumpsumAmt}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Size</p>
                                        <h6>Rs.${funds.fundSize ? funds.fundSize : '-'} Cr</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Manager</p>
                                        <h6>${funds.fundManagerName ? funds.fundManagerName : '-'}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="tag-more-wrap">
                                    <div class="tag-wrap">
                                        <span class="tag-item blue-tag" data-risktype='${funds.riskType}'>${funds.riskType ? funds.riskType : '-'}</span>
                                        <span class="tag-item violent-tag" data-catname = '${funds.categoryName}'>${funds.categoryName ? funds.categoryName :
                                            '-'}</span>
                                        <span class="tag-item green-tag">${funds.schemeOption ? funds.schemeOption :
                                            '-'}</span>
                                    </div>
                                    <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none"
                                        data-btn="mf-view-more">
                                        <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                    </a>
                                </div>
                                <div class="button-wrap d-none d-md-flex">
                                    <div class="watchlist-compare-btn">
                                        <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap js-addWatchlist">
                                            <span class="watchlist-icon">
                                              <i class="icon-binocular"></i>
                                            </span>
                                            <span class="js-toggleAdd wishlist-text">ADD to watchlist</span>
                                          </a>
                                        <div class="custom-checkbox add-compare-wrap">
                                            <label class="js-addCompare">
                                                <input type="checkbox" />
                                                <span class="checkbox-wrap"></span>
                                                ADD TO compare
                                            </label>
                                        </div>
                                        <a href="${funds.pagePath}" target="_blank" class="btn-view-all" data-viewdetailbtn="viewDetailBtn">view
                                            details<span class="icon-arrow-right"></span></a>
                                    </div>
                                    <div class="view-btn-wrap">

                                    </div>
                                </div>

                            </div>

                            <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                                <div class="returs-wrap">
                                    <div class="return-item">
                                        <p class="label-text">NAV</p>
                                        <h6>${funds.nav ? funds.nav : '-'}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Min Investment</p>
                                        <h6>₹${funds.minSipAmt ? funds.minSipAmt : funds.minLumpsumAmt}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Size</p>
                                        <h6>₹${funds.fundSize ? funds.fundSize : '-'} cr</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">Fund Manager</p>
                                        <h6>${funds.fundManagerName ? funds.fundManagerName : '-'}</h6>
                                    </div>
                                </div>
                                <div class="watchlist-compare-btn">
                                    <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap js-addWatchlist">
                                        <span class="watchlist-icon">
                                          <i class="icon-binocular"></i>
                                        </span>
                                        <span class="js-toggleAdd wishlist-text">ADD to watchlist</span>
                                      </a>
                                    <div class="custom-checkbox add-compare-wrap">
                                        <label class="js-addCompare">
                                            <input type="checkbox">
                                            <span class="checkbox-wrap"></span>
                                            ADD TO compare
                                        </label>
                                    </div>
                                </div>
                                <div class="invest-detail-wrap">
                                    <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn"
                                        data-investnow="true">invest now</a>
                                    <a href="${funds.pagePath}" class="btn-view-all" data-viewdetailbtn="viewDetailBtn">view details<span
                                            class="icon-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </sly>
            </sly>
            <sly data-sly-test="${fundList.size == 0}">
                <h4>No Funds Found!!</h4>
            </sly>
        </div>
        <!-- fund list ul -->

        <!-- pagination box -->
        <div class="pagination-box">
            <div class="pagination-list mf-pagination">
            </div>
        </div>
        <!-- pagination box -->

    </div>
</section>
<!-- plan-goal box -->

<div class="mob-sortby-box">
    <div class="mob-sortby-inner">
        <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
        <div class="container">
            <h6>Sort by</h6>
            <ul class="jsSelectSortList">
                <li>
                    <label class="custom-radio-text">
                        Morning Star - High to low
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Morning Star - High to low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Morning Star - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Morning Star - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Value Research - High to low
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Value Research - High to low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Value Research - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Value Research - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Returns - High to Low
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Returns - High to Low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Returns - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sort" value="Returns - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var fundArray = "${sebiFundList.stringSebiSubCatFundList @context='scriptString'}";
    try{
        fundArray = JSON.parse(fundArray);
    }catch(error){
        fundArray = [];
    }
    if (fundArray.length > 0){
        fundArray.forEach(function(element, index) {
        element.cagrValues = JSON.parse(element.cagrValues);
    });
    }
    console.log('fundArray', fundArray);
</script>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-filter-box'}"></sly>
</sly>