<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.home-loan-banner'}"></sly>
</sly>
<!--  banner box  -->
<section class="banner-box mutual-fund-banner loan-detail-banner">
    <div class="banner-slider slider-arrows slider-dots" id="jsBannerSlider">
        <sly data-sly-list.listItem="${resource.children}">
            <sly data-sly-test="${listItem.name == 'bannerList'}">
                <sly data-sly-list.bannerList="${listItem.children}">
                    <div class="banner-image">
                        <div class="banner-caption">

                            <div class="container">
                                <div class="banner-inner new-banner-inner">
                                    <div class="banner-left">
                                        <h5 class="text-stealblue">${bannerList.title}</h5>
                                        <h1>${bannerList.heading}</h1>
                                        ${bannerList.description @context="html"}
                                        <sly data-sly-test="${bannerList.buttonOne}">
                                            <div class="tab-left-btn" data-sly-test="${!bannerList.checklogin}">
                                                <a href="javascript:void(0)"
                                                    target="${bannerList.check ? '_blank' : ''}" class="jsOpenModal"
                                                    data-homeloan="redirecthomeloan" data-target="#loanApplyBanner"
                                                    data-popovermodal="popover-modal">
                                                    <button type="button"
                                                        class="btn-blue radius100">${bannerList.buttonOne}</button>
                                                </a>
                                            </div>
                                        </sly>

                                        <sly data-sly-test="${bannerList.buttonOne}">
                                            <div class="tab-left-btn" data-sly-test="${bannerList.checklogin}">
                                                <a href="javascript:void(0)" data-loanredirect="${bannerList.btnLink}"
                                                    target="${bannerList.check ? '_blank' : ''}" class="jsOpenModal"
                                                    data-loanpopup="loanpopup">
                                                    <button type="button"
                                                        class="btn-blue radius100">${bannerList.buttonOne}</button>
                                                </a>
                                            </div>
                                        </sly>

                                        <div class="tab-left-btn" data-sly-test="${bannerList.directBtn}">
                                            <a href="${bannerList.directBtnLink}" class="jsOpenModal">
                                                <button type="button"
                                                    class="btn-blue radius100">${bannerList.directBtn}</button>
                                            </a>
                                        </div>
                                        <!-- start check credit modal -->
                                        <div data-sly-test="${bannerList.popoverDescription}"
                                            class="popover-modal fade contribute-modal" id="loanApplyBanner">
                                            <div
                                                class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
                                                <div class="popover-modal-content radius10">
                                                    <div class="popover-modal-body">
                                                        <button data-dismiss="popover-modal"
                                                            class="popover-modal-close js-contributeModalClose"><i
                                                                class="icon-close"></i></button>
                                                        <div class="modal-body-inner3">
                                                            <div class="terms-text text-center js-termsBox">
                                                                ${bannerList.popoverDescription @context='html'}

                                                                <a href="${bannerList.proceedButtonLink}"
                                                                    target="${bannerList.newTabProceed  ? '_blank':''}"
                                                                    class="btn-blue radius100">${bannerList.buttonTitleProceed}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end check credit modal -->
                                    </div>
                                    <div class="banner-right">
                                        <img src="${bannerList.img}" alt="" class="nps-banner-img">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </sly>
            </sly>
        </sly>
    </div>
</section>
<!-- banner box-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.home-loan-banner'}"></sly>
</sly>