<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.blue-tab'}"></sly>
</sly>
<!-- blue tab box -->
<section class="blue-tab-box d-none d-lg-block js-floating js-filterWrap new-bluetab-filter">

    <div class="container">
        <div class="blue-tab-inner js-filtersBox">
            <ul data-bluetablist="tabList">
                <sly data-sly-list.itemListsecs="${resource.children}">
                    <sly data-sly-test="${itemListsecs.name == 'tablist'}">
                        <sly data-sly-list.tabItemList="${itemListsecs.children}">
                            <sly data-sly-test="${!tabItemList.tabinner}">
                                <li
                                    class="${tabItemList.activebtn ? 'active' : ''} ${tabItemListList.last ? 'd-none d-xl-block' : ''}">
                                    <a href="${tabItemList.link}"
                                        target="${tabItemList.newTab ? 'blank' : ''}">${tabItemList.tabtitle}</a>
                                </li>
                            </sly>
                        </sly>
                    </sly>
                </sly>
            </ul>
            <div class="blue-tab-slide">
                <ul class="jsTabLength">
                    <sly data-sly-list.itemListsecs="${resource.children}">
                        <sly data-sly-test="${itemListsecs.name == 'tablist'}">
                            <sly data-sly-list.tabItemList="${itemListsecs.children}">
                                <sly data-sly-test="${tabItemList.tabinner}">
                                    <li class="${tabItemListList.count == 1 ? 'd-block d-xl-none show-tab' : ''}">

                                        <a href="${tabItemList.link}"
                                            target="${tabItemList.newTab ? 'blank' : ''}">${tabItemList.tabtitle}</a>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </sly>
                </ul>
            </div>
            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow tab-link-text jsBlueMoreLink">
                <span id="blueLinkMore"><i class="showTabLink">3</i> more</span>
                <span id="blueLinkLess" class="d-none">see less</span>
            </a>
        </div>
        <div class="compare-box js-compareBox d-none">
            <p>Compare Upto 3 Funds</p>
            <div class="compare-btns-wrap">
                <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                            data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                            data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span> Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsModalOverflowHide jsWhiteBackdrop" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span> Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                            data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item">
                    <div class="compare-cancel-wrap">
                        <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" data-id="compareFunds">
                            compare funds
                        </a>
                        <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                            cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- blue-tab box -->
<!-- Mob blue tab dropdown -->
<div class="js-fixContainer js-filterWrap">
    <div class="mob-filter-container d-block d-lg-none mob-blue-menu tab-popular-filter">
        <div class="container">
            <div class="row mobile-filter-sort js-filtersBox">
                <div class="col-6 mob-filterBtn-wrap">
                    <div class="custom-dropdown custom-dropdown-new" data-id="ActiveList">
                        <div class="dropdown-button js-filterBtn" data-filter="sorting">
                            <a href="javascript:void(0);">Invest in Large Companies</a>
                        </div>
                        <div class="dropdown-card" data-filter-card="sorting">
                            <div class="dropdown-card-inner">
                                <ul class="dropdown-list-menu mCustomScroll mob-blue-menu-scroll" id="js-selectPopularCategory" data-bluetablist="tabList">
                                    <sly data-sly-list.itemListsecs="${resource.children}">
                                        <sly data-sly-test="${itemListsecs.name == 'tablist'}">
                                            <sly data-sly-list.tabItemList="${itemListsecs.children}">
                                                <li class="${tabItemList.activebtn ? 'active' : ''}">
                                                    <a href="${tabItemList.link}"
                                                        target="${tabItemList.newTab ? 'blank' : ''}">${tabItemList.tabtitle}</a>
                                                </li>
                                            </sly>
                                        </sly>
                                    </sly>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mob-sortBtn-wrap">
                    <div class="">
                        <a href="javascript:void(0);" class="jsMobSorting">
                            <i class="icon-sort icon"></i> Sort by
                        </a>
                    </div>
                </div>
            </div>

            <div class="compare-box js-compareBox d-none">
                <p id="compareCheck">Compare Upto 3 Funds</p>
                <div class="compare-btns-wrap">
                    <!-- 16-11-2021 -->
                    <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                                data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                        class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                                data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                        class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="compare-box-item d-nones d-md-blocks" data-compareselect="3" data-select-modal="searchFund-modal-3">
                        <div class="compare-choose-wrap">
                            <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                                <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                                    <a href="javascript:void(0);">Choose a mutual Fund</a>
                                </div>
                                <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                                    <ul class="dropdown-list-menu">
                                        <li>
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn">
                                                <span class="icon-plus icon"></span> Add from Watchlist
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn">
                                                <span class="icon-plus icon"></span> Add from Portfolio
                                            </a>
                                        </li>
                                        <li class="link-with-icon">
                                            <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                                data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop">
                                                <span class="icon-search icon"></span> Search Fund to Compare
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                                <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                                <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                        class="icon-close"></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- 16-11-2021 -->
                    <div class="compare-box-item">
                        <div class="compare-cancel-wrap">
                            <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100"
                                data-id="compareFunds">
                                compare
                            </a>
                            <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                                cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search fund modal -->
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-1">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" placeholder="Search Funds"
                                data-search="fund">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-2">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" placeholder="Search Funds"
                                data-search="fund">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-3">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input type="text" class="form-control typeahead" placeholder="Search Funds"
                                data-search="fund">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search fund modal -->
<!-- Mob blue tab dropdown -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.blue-tab'}"></sly>
</sly>