<section class="calculator-box calculator-box-pd30">
    <div class="container">
        <h5 class="text-blue">Calculate your Retirement fund</h5>
        <h1 data-title="compound-calc">Retirement Calculator</h1>

        <div class="calculator-inner">
            <div class="calculator-form-wrap">
                <div class="calculator-form">
                    <div class="row">
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Current age</p>
                                <div class="textbox-inner input-with-text suffix-text">
                                    <span class="input-text">Years</span>
                                    <input class="input-textbox only-numeric-input allInputBox" type="text" value="20" id="currentAge" data-type="CurrentAge">
                                </div>
                                <span class="calculator-error-msgs"  id="currentErrorMsg"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box" >
                                <p class="label-name">Retirement age</p>
                                <div class="textbox-inner input-with-text suffix-text">
                                    <span class="input-text">Years</span>
                                    <input class="input-textbox only-numeric-input allInputBox" type="text" value="60" id="retirementAge" data-type="retirementAge">
                                </div>
                                <span class="calculator-error-msgs" id="retirementErrorMsg"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box" >
                                <p class="label-name">Life Expectancy</p>
                                <div class="textbox-inner input-with-text suffix-text">
                                    <span class="input-text">Years</span>
                                    <input class="input-textbox only-numeric-input allInputBox" type="text" value="" id="lifeExpectancy" data-type="costOfLiving">
                                </div>
                                <span class="calculator-error-msgs" id="lifeErrorMsg"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box" >
                                <p class="label-name">Current Monthly Expense</p>
                                <div class="textbox-inner input-with-text prefix-text">
                                    <span class="input-text rupee-icon">₹</span>
                                    <input class="input-textbox only-numeric-input price-only-comma allInputBox" type="text"
                                        value="" id="currentExpence" data-type="monthlyExpence">
                                </div>
                                <span class="calculator-error-msgs" id="currentExpenseErrorMsg"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box" >
                                <p class="label-name">Current accumlated corpus</p>
                                <div class="textbox-inner input-with-text prefix-text">
                                    <span class="input-text rupee-icon">₹</span>
                                    <input class="input-textbox only-numeric-input price-only-comma allInputBox" type="text"
                                        value="" id="currentCorpus" data-type="accumulatedSaving">
                                </div>
                                <span class="calculator-error-msgs" id="currentAccCorpusErrorMsg"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">ROI pre retirement</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="preRetirmentReturn">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider only-numeric-input-text" name="my_range" value=""
                                        data-min="0" data-max="15" data-from="7" id="preRoi"/>
                                    <div class="custom-range-label">
                                        <span>0%</span>
                                        <span>15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">ROI post retirement</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="postRetiremnetReturn">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="0" data-max="15" data-from="7" id="postRoi"/>
                                    <div class="custom-range-label">
                                        <span>0%</span>
                                        <span>15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Inflation</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="Inflation">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="0" data-max="15" data-from="6" id="infletion"/>
                                    <div class="custom-range-label">
                                        <span>0%</span>
                                        <span>15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="suggested-strategy-wrap">
                <h4>Suggested Strategy</h4>
                <div class="graph-investment-wrap">
                    <div class="graph-wrap">
                        <div class="strategy-graph-wrap">
                            <div id="retirement-calculator-strategy-graph" class="graph-chart-box"></div>
                        </div>
                    </div>
                    <div class="investment-interest-wrap">
                        <div class="text-money-wrap">
                            <p class="bullet blue-bullet">Total investment</p>
                            <h6 id="totalInvestment">₹ 0</h6>
                        </div>
                        <div class="plus-icon-wrap">
                            <span class="icon-plus"></span>
                        </div>
                        <div class="text-money-wrap">
                            <p class="bullet green-bullet">Expected gains</p>
                            <h6 id="totalInterest">₹ 0</h6>
                        </div>
                    </div>
                </div>
                <ul class="investment-amount-list">
                    <li class="text-money-wrap">
                        <p>Annual expense at retirement</p>
                        <h6 id="annualExpenceAmount" data-type="expectedYearlyExpenditure">₹ 0</h6>
                    </li>
                    <li class="text-money-wrap">
                        <p>Real Rate of Return (%)</p>
                        <h6 id="rateReturn">0.94 %</h6>
                    </li>
                </ul>
                <div class="start-investing-wrap">

                    <div class="text-money-wrap">
                        <p>Total Corpus required at retirement</p>
                        <h6 id="totalCorpus" data-type="accumulatedRetirementKitty">₹ 0</h6>
                    </div>
                    <p>Start saving today to secure your retirement with </p>
                    <div class="text-btn-wrap">
                        <div class="text-wrap">
                            <p>Monthly SIP</p>
                            <h4 id="totalSip" data-type="monthlySIP">₹ 0</h4>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" data-sw-iframe="true" data-sw-iframe-component="calculator" data-sw-iframe-url="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-blue radius100" data-start-investing="retirement">Start Investing</a>
                    </div>
                </div>
                <!-- 28-3-2023 -->
                <div class="get-result-mgs">
                    <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                        data-target="#getResulton">
                        Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
                    </a>
                </div>
                <!-- 28-3-2023 -->
            </div>
        </div>
        <p class="calculator-info-text max-w1000">By investing in a retirement plan, you can get even more benefit from
            the power of compounding with tax-deferral. Your retirement account has the potential to grow faster. The
            Retirement Planner will help you understand how much you need to grow your wealth before you retire and how
            to plan for it</p>
    </div>
</section>