/*-------   Sebi Categories CSS   -------*/

.sebi-categories-box {
  padding: 70px 0 75px;
}
.sebi-categories-box h6 {
  color: #2C6EB5;
}
.sebi-categories-box h2 {
  margin-bottom: 21px;
}
.sebi-categories-box .sebi-content {
  padding-top: 70px;
}
.sebi-categories-box .list-goal-base li {
  display: none;
}
.sebi-categories-box .list-goal-base li.shown {
  display: block;
}

.sebi-categories-box h2,h6,h5 {
 font-weight:600; 
}

.list-yellow-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list-yellow-tabs li a.active {
    background: #D7DF23;
    box-shadow: 0px 4px 10px rgb(117 116 181 / 25%);
}

.list-yellow-tabs li a {
    padding: 18px 30px;
    border-radius: 80px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #333333;
    white-space: nowrap;
    margin: 0px 5px;
}

.list-yellow-tabs li a.active img {
    opacity: 1;
    filter: grayscale(0);
}

.list-yellow-tabs li a img {
    margin-right: 10px;
    opacity: 0.5;
    filter: grayscale(100%);
}

.view-all-btns {
    margin-top: 40px;
    text-align: center;
}

.mg-t30 {
    margin-top: 30px !important;
}

.btn-blue-link.link-with-arrow.active:before {
    content: "";
}

.btn-blue-link.link-with-arrow:before {
    content: "";
    font-weight: 400;
    font-family: "icomoon";
    font-size: 10px;
    line-height: 18px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.btn-blue-link.link-with-arrow {
    position: relative;
    padding-right: 20px;
}

.btn-blue-link {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C6EB5;
    font-weight: 700;
    display: inline-block;
}

.btn-blue:hover {
    background-color: #4786C9;
}

@media (max-width: 991px) {
  .sebi-categories-box {
    padding: 45px 0 50px;
  }
  .sebi-categories-box h6 {
    margin-bottom: 6px;
  }

  .view-all-btns {
    margin-top: 30px;
  }	
}
@media (max-width: 767px) {
  .sebi-categories-box .sebi-content {
    padding-top: 30px;
  }

  .yellow-tab-auto {
    overflow: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
   }      

  .yellow-tab-auto .list-yellow-tabs {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .list-goal-base h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .list-yellow-tabs li a {
    font-size: 10px;
    line-height: 15px;
    padding: 12px 27px;
  }
}

/*-------   Sebi Categories CSS   -------*/
