<section class="calculator-box calculator-box-pd30">
  <div class="container">
      <h5 class="text-blue">Calculate returns on your Fixed Deposit</h5>
      <h1 data-title="compound-calc">Fixed Deposit Calculator</h1>

      <div class="calculator-inner">
          <div class="calculator-form-wrap">
              <div class="calculator-form">
                  <div class="row">
                      <div class="col-6">
                          <div class="textbox-box">
                              <p class="label-name">My lump sum investment is</p>
                              <div class="textbox-inner input-with-text prefix-text">
                                  <span class="input-text rupee-icon">₹</span>
                                  <input class="input-textbox only-numeric-input-text price-only-comma" type="text"
                                      value="1,00,000" id="fd_amount" data-type="lumpsumInvestmnet">
                              </div>
                              <span class="calculator-error-msgs" id="fdErrorMsg"></span>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="textbox-box">
                              <p class="label-name">I expect returns up to</p>
                              <div class="textbox-inner max-w120 input-with-text suffix-text">
                                  <span class="input-text">%</span>
                                  <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="expectedRate">
                              </div>
                              <div class="custom-range-slider-wrap">
                                  <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                      data-min="1" data-max="15" data-from="6.5" id="fd_roi"/>
                                  <div class="custom-range-label">
                                      <span>1%</span>
                                      <span>15%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <p class="label-name">My tenure of investment</p>
                          <div class="year-month-toggle">
                              <div class="year-month-button">
                                  <a href="javascript:void(0);" class="yr-mth-btn active"
                                      data-yrMthFilter="year">Years</a>
                                  <a href="javascript:void(0);" class="yr-mth-btn" data-yrMthFilter="month">Months</a>
                              </div>
                              <div class="year-wrap" data-data-yrMthCard="year">
                                  <div class="textbox-box">
                                      <div class="textbox-inner">
                                          <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="investmentTenure">
                                      </div>
                                      <div class="custom-range-slider-wrap">
                                          <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                              data-min="1" data-max="25" data-step="1" data-from="5" id="fd_tenure_year"/>
                                          <div class="custom-range-label">
                                              <span>1 Year</span>
                                              <span>25 Years</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="month-wrap d-none" data-data-yrMthCard="month">
                                  <div class="textbox-box">
                                      <div class="textbox-inner">
                                          <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text"  data-type="investmentTenure">
                                      </div>
                                      <div class="custom-range-slider-wrap">
                                          <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                              data-min="12" data-max="300" data-step="1" data-from="12" id="fd_tenure_month" />
                                          <div class="custom-range-label">
                                              <span>12 Months</span>
                                              <span>300 Months</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="textbox-box">
                              <p class="label-name">Compounding tenure</p>
                              <div class="textbox-inner compound-tenure-radio">
                                  <label class="custom-border-radio">
                                      <input type="radio" name="compound_tenure" value="Yearly" checked><span>Yearly</span>
                                  </label>
                                  <label class="custom-border-radio">
                                      <input type="radio" value="Half Yearly" name="compound_tenure"><span>Half Yearly</span>
                                  </label>
                                  <label class="custom-border-radio">
                                      <input type="radio" value="Quaterly" name="compound_tenure"><span>Quaterly</span>
                                  </label>
                                  <label class="custom-border-radio">
                                      <input type="radio"  value="Monthly" name="compound_tenure"><span>Monthly</span>
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="col-6 d-none">
                          <div class="textbox-box">
                              <p class="label-name">Compounding factor</p>
                              <div class="textbox-inner">
                                  <input class="input-textbox js-showCalulatorRangeValue disabled" type="text"
                                      value="1%" id="compounding">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="suggested-strategy-wrap">
              <h4>Suggested Strategy</h4>
              <div class="graph-investment-wrap strategy-graph-mb40">
                  <div class="graph-wrap">
                      <div class="strategy-graph-wrap">
                          <div id="fd-calculator-strategy-graph" class="graph-chart-box"></div>
                      </div>
                  </div>
                  <div class="investment-interest-wrap">
                      <div class="text-money-wrap">
                          <p class="bullet blue-bullet">Total investment</p>
                          <h6 id="totalInvestment">₹1,00,000</h6>
                      </div>
                      <div class="plus-icon-wrap">
                          <span class="icon-plus"></span>
                      </div>
                      <div class="text-money-wrap">
                          <p class="bullet green-bullet">Interest earned</p>
                          <h6 id="totalEarned" data-type="earningAmounting">₹37,009</h6>
                      </div>
                  </div>
              </div>
              <div class="start-investing-wrap">
                  <p id="starts-investing-text">If you invest ₹1,00,000 today by 21 Dec 2024 you will get</p>
                  <div class="text-btn-wrap">
                      <div class="text-wrap">
                          <p>Maturity Value</p>
                          <h4 id="fdVal" data-type="maturityValue">₹1,37,009</h4>
                      </div>
                      <a href="/content/tata-capital-moneyfy/en/corporate-fixed-deposit.html" data-sw-iframe="true" data-sw-iframe-component="calculator" data-sw-iframe-url="/content/tata-capital-moneyfy/en/corporate-fixed-deposit.html" class="btn-blue radius100" data-fd-btn="fdredirection">Start Investing</a>
                  </div>
              </div>
              <!-- 28-3-2023 -->
              <div class="get-result-mgs">
                <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                    data-target="#getResulton">
                    Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
                </a>
            </div>
            <!-- 28-3-2023 -->
          </div>
      </div>
      <p class="calculator-info-text max-w1000">When you invest in a fixed deposit, your money earns interest
          according to the prevailing FD interest rate. The interest keeps compounding over time and helps you grow
          your savings.</p>
  </div>
</section>