<section class="calculator-box calculator-box-pd30">
  <div class="container">
      <h5 class="text-blue">Calculate your PPF</h5>
      <h1 data-title="compound-calc">PPF Calculator</h1>

      <div class="calculator-inner">
          <div class="calculator-form-wrap">
              <div class="calculator-form">
                  <div class="row">
                      <div class="col-6">
                          <div class="textbox-box">
                              <p class="label-name">Yearly contribution towards PPF</p>
                              <div class="textbox-inner input-with-text prefix-text">
                                  <span class="input-text rupee-icon">₹</span>
                                  <input class="input-textbox only-numeric-input-text price-only-comma" type="text"
                                      value="10,000" id="ppf_amount" data-type="yearlyContribution">
                              </div>
                              <span class="calculator-error-msgs" id="ppfErrorMsg"></span>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="textbox-box">
                              <p class="label-name">I expect returns up to</p>
                              <div class="textbox-inner max-w120 input-with-text suffix-text">
                                  <span class="input-text">%</span>
                                  <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="expectedReturn">
                              </div>
                              <div class="custom-range-slider-wrap">
                                  <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                      data-min="0" data-max="10" data-from="7.10" id="ppf_roi" />
                                  <div class="custom-range-label">
                                      <span>0%</span>
                                      <span>10%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <p class="label-name">Tenure</p>
                          <div class="year-month-toggle">
                              <div class="year-month-button">
                                  <a href="javascript:void(0);" class="yr-mth-btn active"
                                      data-yrMthFilter="year">Years</a>
                                  <a href="javascript:void(0);" class="yr-mth-btn" data-yrMthFilter="month">Months</a>
                              </div>
                              <div class="year-wrap" data-data-yrMthCard="year">
                                  <div class="textbox-box">
                                      <div class="textbox-inner">
                                          <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="tenure"
                                              >
                                      </div>
                                      <div class="custom-range-slider-wrap">
                                          <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                              data-min="15" data-max="20" data-step="1" data-from="15" id="ppf_tenure_year"/>
                                          <div class="custom-range-label">
                                              <span>15 Year</span>
                                              <span>20 Years</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="month-wrap d-none" data-data-yrMthCard="month">
                                  <div class="textbox-box">
                                      <div class="textbox-inner">
                                          <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text"
                                          data-type="tenure" >
                                      </div>
                                      <div class="custom-range-slider-wrap">
                                          <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                              data-min="180" data-max="240" data-step="1" data-from="180" id="ppf_tenure_month"/>
                                          <div class="custom-range-label">
                                              <span>180 Months</span>
                                              <span>240 Months</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="suggested-strategy-wrap">
              <h4>Suggested Strategy</h4>
              <div class="graph-investment-wrap strategy-graph-mb40">
                  <div class="graph-wrap">
                      <div class="strategy-graph-wrap">
                          <div id="ppf-calculator-strategy-graph" class="graph-chart-box"></div>
                      </div>
                  </div>
                  <div class="investment-interest-wrap">
                      <div class="text-money-wrap">
                          <p class="bullet blue-bullet">Total investment</p>
                          <h6 id="totalInvestment">₹1,50,000</h6>
                      </div>
                      <div class="plus-icon-wrap">
                          <span class="icon-plus"></span>
                      </div>
                      <div class="text-money-wrap">
                          <p class="bullet green-bullet">Interest earned</p>
                          <h6 id="totalEarned" data-type="earningAmounting">₹1,21,214</h6>
                      </div>    
                  </div>
              </div>
              <div class="start-investing-wrap">
                  <p id="starts-investing-text">If you invest ₹ 10,000 per year from today for 15 years you will get</p>
                  <div class="text-btn-wrap">
                      <div class="text-wrap">
                          <p>Future Value</p>
                          <h4 id="fvVal" data-type="maturityValue">₹ 2,71,214</h4>
                      </div>
                  </div>
              </div>
              <!-- 28-3-2023 -->
              <div class="get-result-mgs">
                <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                    data-target="#getResulton">
                    Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
                </a>
            </div>
            <!-- 28-3-2023 -->
          </div>
      </div>
      <p class="calculator-info-text max-w1000">Anyone looking for a safe investment option to save taxes and earn
          guaranteed returns should open a PPF account. Calculate your future value with the help of moneyfy PPF
          calculate.</p>
  </div>
</section>