<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.learning-top'}"></sly>
</sly>


<!-- learning-top-->
<section class="learning-top-box">
    <div class="container">
        <h6>${properties.heading}</h6>
        <h2>${properties.subHeading}</h2>

        <div class="learning-menu-top">
            <ul class="learn-tabs">
                <sly data-sly-list.learnList="${resource.children}">
                    <sly data-sly-test="${learnList.name=='learn'}">
                        <sly data-sly-list.learnTab="${learnList.children}">
                            <li class="${learnTab.activeClass ? 'active':''}">
                                <a href="${learnTab.link}">${learnTab.tabName}</a>
                            </li>
                        </sly>
                    </sly>
                </sly>
            </ul>
        </div>
    </div>
</section>
<!-- learning-top-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.learning-top'}"></sly>
</sly>