@charset "UTF-8";
.h1-seo{
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #333333;
}

.row {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
    position: relative;
}

.quick-review-inner {
  display: flex;
  flex-wrap: wrap;
}

.company-info {
  display: flex;
}
.company-info .icon-wrap {
  margin-top: 4px;
}
.company-info .img-wrap {
  border: 1px solid #CCD8EE;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
}
.company-info .img-wrap img {
  width: 100%;
}
.company-info .name-wrap {
  margin-right: 10px;
  max-width: 377px;
  display: flex;
  align-items: center;
}
.company-info .name-wrap h4 {
  word-break: break-word;
}

.icon-wrap {
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(44, 110, 181, 0.1);
  font-size: 24px;
  position: relative;
}
.icon-wrap:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/green-ticks.svg") no-repeat center center;
  position: absolute;
  right: -5px;
  top: 2px;
  display: none;
}
.icon-wrap .icon {
  color: #2C6EB5;
}
.icon-wrap.active-watchlist-added {
  background-color: rgba(31, 199, 80, 0.1);
}
.icon-wrap.active-watchlist-added:before {
  display: block;
}
.icon-wrap.active-watchlist-added .icon {
  color: #1FC750;
}

.tag-rating-info {
  margin-left: 60px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag-wrap {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
  padding-right: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  font-size: 10px;
  line-height: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}
.tag-item.blue-tag {
  color: #2C6EB5;
}
.tag-item.violent-tag {
  color: #CC66CC;
}
.tag-item.green-tag {
  color: #48A476;
}

.rating-wrap {
  display: flex;
  align-items: center;
}
.rating-wrap p {
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  margin-left: 10px;
}
.rating-wrap .rate {
  font-weight: bold;
  color: #F2C94C;
}

.price-info p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.return-info .select2-container {
  display: block;
  width: 100% !important;
}
.return-info .select2-selection--single {
  background: #F9FBFF;
  border: 1px solid #CCD8EE;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  width: 120px;
  position: relative;
}
.return-info .select2-selection--single .select2-selection__arrow {
  right: 8px;
  width: auto;
  transform: unset;
}
.return-info .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.return-info .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-family: "icomoon" !important;
  color: #2C6EB5;
  font-size: 10px;
}

.trend-info {
  margin-top: 2px;
}

.up-trend [class^=icon-] {
  display: inline-block;
  color: #1FC750;
  margin-right: 5px;
  font-size: 13px;
}

.down-trend [class^=icon-] {
  margin-right: 5px;
  color: #ff0000;
}

.compare-fund-wrap {
  display: flex;
  height: 100%;
  align-items: center;
}
.compare-fund-wrap a {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
}

.quick-review-wrap {
  padding: 13px 0;
  background-color: #fff;
  box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
}

.quick-review-inner .review-item {
  padding-right: 11px;
}
.quick-review-inner .review-item:not(:first-child) {
  padding-left: 11px;
}
.quick-review-inner .review-item:not(:last-child) {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.return-info {
  min-width: 122px;
}

.compare-fund-wrap .btn-blue {
  color: #fff;
  margin-right: 20px;
  min-width: 130px;
}

.quick-review-fix .fixContainer {
  position: static;
}

.quick-review-inner .price-info {
  padding-top: 14px;
}
.quick-review-inner .price-info p {
  margin-bottom: 5px;
}
.quick-review-inner .return-info {
  padding-top: 10px;
}

.quick-review-focus {
  padding-left: 8px;
  padding-top: 18px;
  width: 165px;
}
.quick-review-focus.tabshow {
  display: none;
}
.quick-review-focus p {
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: #333333;
}
.quick-review-focus p a {
  color: #005899;
  font-weight: 700;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .quick-review-focus {
    padding-top: 13px;
    width: 100%;
  }
  .quick-review-focus.deskshow {
    display: none;
  }
  .quick-review-focus.tabshow {
    display: block;
    padding: 5px 0 3px 52px;
  }

  .company-info .img-wrap {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  .company-info h4 {
    font-size: 20px;
  }

  .icon-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .tag-item {
    margin-right: 8px;
  }

  .tag-wrap {
    padding-right: 5px;
    margin-right: 5px;
  }

  .rating-wrap p {
    font-size: 12px;
  }

  .price-info p {
    font-size: 12px;
  }
  .price-info h6 {
    font-size: 16px;
  }

  .return-info {
    min-width: unset;
  }

  .quick-review-inner .review-item {
    padding-right: 8px;
  }
  .quick-review-inner .review-item:not(:first-child) {
    padding-left: 8px;
  }

  .tag-rating-info {
    margin-left: 50px;
  }

  .icon-wrap:before {
    width: 14px;
    height: 14px;
    top: -1px;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .company-info h4 {
    max-width: none;
  }

  .tag-rating-info {
    flex-direction: column-reverse;
    margin-left: 0;
    align-items: flex-start;
  }
  .tag-rating-info .rating-wrap {
    margin-bottom: 10px;
  }

  .quick-review-wrap {
    box-shadow: none;
    padding-top: 0;
  }

  .quick-review-inner {
    padding: 15px 0px;
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  }
  .quick-review-inner .review-item {
    width: 100%;
    padding: 0 !important;
    border-right: 0 !important;
    margin: 8px 0;
  }
  .quick-review-inner .company-info-tags-wrap, .quick-review-inner .price-info {
    padding: 0 20px;
  }

  .tag-wrap {
    border-right: 0;
  }

  .tag-item {
    display: inline-block;
  }

  .price-info {
    display: flex;
  }
  .price-info p {
    margin-right: 10px;
  }
  .price-info h6 {
    font-size: 18px;
    line-height: 27px;
  }

  .compare-fund-wrap {
    width: 100%;
    border-top: 1px solid rgba(122, 204, 255, 0.3);
    padding-top: 15px;
    justify-content: center;
  }

  .company-info .img-wrap {
    min-width: 35px;
    width: 35px;
    height: 35px;
  }

  .icon-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }

  .rating-wrap p {
    font-size: 11px;
    line-height: 14px;
    margin-left: 0;
    margin-right: 10px;
  }

  .compare-fund-wrap .btn-blue {
    padding: 6px 10px;
  }

  .quick-review-mob {
    background: #FFFFFF;
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
    border-radius: 0 0 10px 10px;
    height: 0;
    opacity: 0;
  }
  .quick-review-mob.affix {
    height: auto;
    padding: 15px 0px;
  }

  .quick-review-mob-inner {
    display: flex;
    justify-content: space-between;
  }
  .quick-review-mob-inner .company-info h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .quick-review-mob-inner .btn-view-all {
    min-width: 90px;
    width: 90px;
    margin-left: 15px;
    font-size: 11px;
    line-height: 16px;
  }

  .quick-review-focus.tabshow {
    padding-left: 0px;
    padding-top: 8px;
  }
}
@media (max-width: 767px) {
  .quick-review-wrap {
    padding-top: 14px;
  }

  .company-info .icon-wrap {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
