/* About AMC */


.fund-details-card .card-blocks-wrap li {
  width: 25%;
  min-width: auto;
}
.fund-details-card .card-blocks-wrap li:nth-child(4) {
  border-right: 0;
}

.card-title-wrap .risk-associated-card {
  padding: 25px 45px;
  display: flex;
}

.risk-associated-card .img-text-wrap {
  margin-right: 40px;
}
.risk-associated-card .img-text-wrap img {
  margin-bottom: 10px;
}
.risk-associated-card ul {
  margin-top: 10px;
}
.risk-associated-card .text-wrap {
  margin-left: 0;
}
.risk-associated-card .btn-view-all {
  min-width: 155px;
}

.name-select-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.name-select-wrap .form-select2 {
  margin-bottom: 15px;
}
.name-select-wrap .select2-container {
  min-width: 270px;
}
.name-select-wrap .select2-selection--single {
  width: 100%;
  min-height: 37px;
  display: flex;
  align-items: center;
}
.name-select-wrap .select2-selection--single {
  border-color: #CCD8EE;
  background-color: #F9FBFF;
}
.name-select-wrap .select2-selection--single .select2-selection__arrow {
  top: 7px;
}

.contact-infomarion-btn {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  background-color: #F9FBFF;
  border: 1px solid #CCD8EE;
  padding: 8px 13px;
  border-radius: 6px;
  position: relative;
}
.contact-infomarion-btn:after {
  content: "";
  font-family: "icomoon" !important;
  color: #2C6EB5;
  font-size: 10px;
  margin-left: 50px;
  font-weight: 400;
  display: inline-block;
  transition: all 0.3s;
}

.contact-info-wrap p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 5px;
}
.contact-info-wrap li p {
  margin: 0;
}
.contact-info-wrap li b {
  font-weight: 600;
}

[data-toggleCard] {
  display: none;
  margin-bottom: 35px;
}

.active[data-btn]:after {
  transform: rotate(180deg);
}

.read-more-link {
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  display: block;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
  margin-top: 5px;
}
.read-more-link:hover, .read-more-link:focus {
  text-decoration: none;
}
.read-more-link:after {
  content: "";
  font-family: "icomoon" !important;
  color: #2C6EB5;
  font-size: 10px;
  margin-left: 10px;
  font-weight: 400;
  display: inline-block;
  transition: all 0.3s;
}
.read-more-link.active:after {
  transform: rotate(180deg);
}

body.overlay {
  overflow: hidden;
  position: relative;
}
body.overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

@media (min-width: 767px) {
  .contact-infomarion-btn:before {
    content: "";
    width: 0px;
    height: 3px;
    background: #D7DF23;
    position: absolute;
    bottom: -21px;
    left: 0;
    transition: all 0.3s;
  }
  .contact-infomarion-btn.active:before {
    width: 70px;
  }
}
@media (max-width: 1200px) {
  .card-title-wrap .risk-associated-card {
    padding: 25px 30px;
  }

  .risk-associated-card .img-text-wrap {
    margin-right: 25px;
  }
  .risk-associated-card .btn-view-all span {
    font-size: 9px;
  }
}
@media (max-width: 991px) {
  .fund-details-card .card-blocks-wrap li {
    width: 25%;
    padding: 0 17px;
  }
}
@media (max-width: 767px) {
  .exit-load-content li {
    padding: 0 20px;
    width: 100%;
    border-right: 0 !important;
    margin: 3px 0;
  }
  .exit-load-content li h6 {
    font-size: 14px;
    line-height: 21px;
  }
  .exit-load-content li p {
    font-size: 12px;
    line-height: 22px;
  }

  .card-title-wrap .risk-associated-card {
    flex-wrap: wrap;
  }

  .risk-associated-card h6 {
    margin-bottom: 15px;
    text-align: center;
  }
  .risk-associated-card img {
    margin: 0 auto 15px;
  }

  .investment-details-card .btn-view-all .text-wrap {
    font-size: 11px;
    line-height: 16px;
  }

  .contact-info-wrap {
    position: fixed;
    z-index: 9;
    top: 50%;
    left: 0;
    right: 0;
    width: 92%;
    margin: 0px auto;
    transform: translate(0, -50%);
    text-align: center;
    padding: 40px 20px 40px !important;
    z-index: 12;
    height: auto !important;
  }
  
  .contact-info-wrap h6 {
    font-size: 14px;
    line-height: 21px;
  }
  .contact-info-wrap p {
    margin-top: 0;
    font-size: 12px;
    line-height: 20px;
  }
  .contact-info-wrap .card-blocks-wrap li {
    border: 0 !important;
    width: 100%;
  }

  .fund-details-card .card-blocks-wrap li {
    width: 50%;
    min-width: auto;
  }
}

.heading-of-amc{
  color: #333333;
}
/* About AMC */