/* Fund Allocation */
.text-right {
    text-align: right !important;
}

.risk-tab-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 -9px;
  position: relative;
  padding-bottom: 4px;
}

.risk-tab-list:before {
    content: "";
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
    position: absolute;
    left: 9px;
    right: 9px;
    bottom: 0px;
}

.card-div.fund-allocation-card {
  padding: 0;
  overflow: hidden;
}

.allocation-info-item {
  width: calc(100% / 3);
}

.allocation-header {
  padding: 20px 25px;
  background-color: #F3F9FF;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}

.allocation-content {
  padding: 20px 10px 20px 20px;
  height: 100%;
}
.allocation-content .filterList-mCustomScrollbar {
  max-height: 250px;
}
.allocation-content .filterList-mCustomScrollbar .mCustomScrollBox {
  padding-right: 15px;
}
.allocation-content .filterList-mCustomScrollbar .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.allocation-content .filterList-mCustomScrollbar .mCSB_scrollTools {
  right: -6px;
}

.allocation-info-item:not(:last-child) .allocation-content {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.allocation-info-wrap {
  display: flex;
}
.allocation-info-wrap .table {
  border-collapse: collapse;
  width: 100%;
}
.allocation-info-wrap .table th {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #606060;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  padding-bottom: 10px;
}
.allocation-info-wrap .table th.allocation-th {
  width: 74px;
}
.allocation-info-wrap .table td {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  padding: 8px 0 5px;
}

.allocation-graph {
  position: relative;
  pointer-events: none;
}
.allocation-graph .highcharts-pane {
  fill: #fff;
}

.allocation-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.allocation-value p {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: #66CC99;
}

.graph-labels-wrap ul {
  display: flex;
  justify-content: center;
}
.graph-labels-wrap ul li {
  font-size: 12px;
  line-height: 22px;
  color: #606060;
  position: relative;
  padding-left: 20px;
}
.graph-labels-wrap ul li:not(:last-child) {
  margin-right: 25px;
}
.graph-labels-wrap ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  /* background-color: #66CC99; */
  position: absolute;
  border-radius: 50%;
  top: 6px;
  left: 0;
}
.graph-labels-wrap ul li.debt-item:before {
  background-color: #0A69A5;
}

.risk-tab-list li a {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #c4c4c4;
    position: relative;
    display: block;
}

.risk-tab-list li a.active-tab:before {
    display: block;
}
.risk-tab-list li a:before {
    content: "";
    border-bottom: 2px solid #D7DF23;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -4px;
    display: none;
}

@media (max-width: 1200px) {
  .allocation-header, .allocation-content {
    padding: 17px 10px 17px 17px;
  }

  .graph-labels-wrap ul li:not(:last-child) {
    margin-right: 15px;
  }

  .allocation-info-wrap .table td {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .allocation-info-wrap .table th {
    font-size: 11px;
  }
  .allocation-info-wrap .table td {
    font-size: 13px;
  }

  .risk-tab-list {
    margin: 0 -5px;
  }

  .risk-tab-list li {
    padding: 0 5px;
  }

  .risk-tab-list li a {
    font-size: 11px;
  }

}
@media (max-width: 767px) {

  .risk-tab-list {
      margin: -10px -10px 0;
  }

  .risk-tab-list li {
    padding: 10px 10px 0;
  }

  .risk-tab-list li a {
    font-size: 12px;
  }

  .allocation-tab-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 20px;
  }
  .allocation-tab-list::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .allocation-tab-list li a {
    flex-wrap: nowrap;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .allocation-tab-list li .active-tab {
    color: #2C6EB5;
  }

  .allocation-info-item {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    white-space: nowrap;
    display: none;
  }
  .allocation-info-item.active {
    display: block;
  }
  .allocation-info-item .allocation-header {
    display: none;
  }
  .allocation-info-wrap .table {
    white-space: normal;
  }
}

/* Fund Allocation */

