/* Performance */

.select2-selection--single {
    background: #F9FBFF;
    border: 1px solid #CCD8EE;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    width: 120px;
    position: relative;
}

.chart-box {
  height: 200px;
}

.card-title-wrap {
    margin-top: 35px;
}


.card-title-wrap h5 {
    font-weight: 600;
}

.performance-card .return-item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.performance-card .return-item-wrap a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  margin: 15px 15px 20px;
}
.performance-card .return-item-wrap a.active {
  background-color: #D7DF23;
  border-radius: 80px;
  display: inline-block;
  padding: 6px 16px;
}
.performance-card .return-data-wrap p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
.performance-card .return-data-wrap .icon {
  font-size: 11px;
  margin-right: 4px;
  display: inline-block;
}
.performance-card .return-data-wrap h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
}
.performance-card .return-data-wrap .return-text {
  font-size: 12px;
  line-height: 22px;
  color: #606060;
}
.performance-card .return-data-wrap .return-duration {
  font-size: 12px;
  line-height: 22px;
  color: #606060;
  margin-left: 7px;
}
.performance-card .return-data-wrap .return-span {
  margin-left: 0;
}
.performance-card .chart-box .highcharts-point {
  display: none;
}
.performance-card .chart-box .highcharts-halo {
  fill: #2C6EB5;
  stroke-width: 4px;
  stroke: #f7f7f7;
  fill-opacity: 1;
}

.custom-tooltip {
  color: #fff;
}
.custom-tooltip span {
  display: block;
  text-align: center;
}
.custom-tooltip .tooltip-label {
  font-size: 12px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.custom-tooltip .tooltip-result {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.highcharts-xaxis-labels text {
  display: none;
  font-size: 12px !important;
}
.highcharts-xaxis-labels text:first-child {
  display: block;
}
.highcharts-xaxis-labels text:last-child {
  display: block;
}

@media (max-width: 767px) {
  .return-selection-wrap {
    display: flex;
    justify-content: space-between;
  }
  .return-selection-wrap .select2-container {
    width: 100% !important;
  }

  .return-data-wrap {
    text-align: right;
  }

  .return-selection-wrap .select2-container--default .select2-selection--single {
    background: #F9FBFF;
    border: 1px solid #CCD8EE;
  }
  .return-selection-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    padding: 2px 13px;
  }
  .return-selection-wrap h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .return-selection-wrap .return-data-wrap p {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }
  .return-selection-wrap .return-data-wrap .return-text {
    font-size: 14px;
    line-height: 22px;
  }
  .return-selection-wrap .return-data-wrap .return-duration {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .return-selection-wrap .return-data-wrap .return-span {
    display: none;
  }

  .highcharts-xaxis-labels text {
    font-size: 12px !important;
    text-indent: -99999px;
  }
  .highcharts-xaxis-labels text:first-child title {
    text-indent: 1px;
  }
}

@media (min-width: 992px) {
  .lg-right-col {
    width: 30%;
    padding: 0 10px;
  }

  .lg-left-col {
    width: 70%;
    padding: 0 10px;
  }
}

@media (max-width: 991px) {
  .lg-left-col, .lg-right-col {
    padding: 0 10px;
  }
}

/* Performance */

