/* Start Investing */

.calculate-return-cards {
  background: linear-gradient(
      105.04deg,
      rgba(0, 88, 153, 0.2) 8.77%,
      rgba(78, 76, 221, 0.2) 49.99%,
      rgba(44, 110, 181, 0.2) 87.12%
    ),
    #2c6eb5;
  box-shadow: 20px 14px 30px rgb(153 186 208 / 30%);
  border-radius: 10px;
}

.calculate-form-group .calculate-form-control:focus {
  outline: none;
}

.calculate-form-control::placeholder {
  color: #ffffff;
}

.calculate-form-group .inner-form-group .calculate-textbox-text {
  position: absolute;
  right: 0px;
  top: 6px;
  pointer-events: none;
}

.calculate-return-top h4 {
  letter-spacing: normal;
  color: #fff;
}

.calculate-form-group label {
  display: block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}


.calculate-return-bottom {
  background-color: #e9f0f7;
  box-shadow: 0px -13px 9px rgb(126 131 139 / 21%);
  border-radius: 10px;
  padding: 14px 35px;
  position: relative;
  z-index: 2;
  top: 1px;
}

.calculate-return-bottom .return-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.calculate-return-bottom .return-li.return-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate-return-bottom .return-li {
  width: 33.33%;
  padding: 0 10px;
}





.rightside-form-wrap {
  margin-top: 75px;
  max-width: 320px;
}
.rightside-form-wrap.affix {
  margin-top: 150px;
}
/*new changes 15-03-22*/
.rightside-form-wrap .date-top-heading {
  position: relative;
  padding-bottom: 10px;
}
.rightside-form-wrap .date-top-heading h5 {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.rightside-form-wrap .date-top-heading .calendar-close .close {
  position: absolute;
  right: 10px;
  top: 5px;
}
/*15-02-22*/

.rightside-form-wrap .calculate-return-top {
  position: relative;
}
.rightside-form-wrap .calculate-return-top h4 {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 12px;
}
.rightside-form-wrap .calculate-return-top .calculates-ul .calculates-li {
  width: 100%;
}
.rightside-form-wrap .return-tabs-outer {
  text-align: center;
  margin-bottom: 25px;
}
.rightside-form-wrap .calculate-return-bottom {
  margin-top: 15px;
  padding: 30px;
}
.rightside-form-wrap .calculate-return-bottom .return-ul {
  justify-content: center;
}
.rightside-form-wrap .calculate-return-bottom .return-ul .btn-blue {
  min-width: 130px;
  padding: 11px 25px;
  margin-top: 0;
}
.rightside-form-wrap .calculate-return-bottom .error-msgs {
  position: relative;
  margin-bottom: 10px;
  color: #fc3e3e;
  font-size: 12px;
  line-height: 16px;
  padding-left: 20px;
}
.rightside-form-wrap .calculate-return-bottom .error-msgs::before {
  content: "";
  font-family: "icomoon";
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
.rightside-form-wrap .calculate-return-bottom .error-msgs:empty::before {
  display: none;
}
.rightside-form-wrap .form-group.error .calculate-form-control {
  color: #ff6464;
}

.invest-close {
  color: #fff;
  top: 8px;
}

.date-calendar {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 9px 20px rgba(170, 187, 204, 0.47);
  padding: 20px 12px;
  width: 100%;
  max-width: 250px;
  display: none;
}
.date-calendar.show {
  display: block;
}
.date-calendar:before {
  content: "";
  width: 120px;
  height: 3px;
  background-color: #d7df23;
  position: absolute;
  bottom: 0;
  right: 0;
}
.date-calendar .calendar-close {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.date-calendar .calendar-close .close {
  font-size: 12px;
  color: #2c6eb5;
  display: inline-flex;
  margin-bottom: 15px;
  text-decoration: none;
}
.date-calendar .btn-wrap {
  text-align: center;
}
.date-calendar .btn-wrap .btn-blue {
  min-width: 159px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 12px 15px;
}

.calendar-table {
  margin-bottom: 15px;
  margin: 0 auto 15px;
}
.calendar-table td {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  min-width: 30px;
  width: 30px;
  height: 30px;
}
.calendar-table td span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-table td span:hover,
.calendar-table td span.active {
  cursor: pointer;
  background-color: #2c6eb5;
  color: #fff;
  transition: all 0.3s;
}

@media (min-width: 991px) {
  .js-floating.affix-absolute {
    position: absolute !important;
    top: auto !important;
    bottom: 80px;
    z-index: 0 !important;
  }
}
@media (max-width: 1199px) {
  .rightside-form-wrap.affix {
    max-width: 265px;
  }

  .date-calendar {
    padding: 20px 8px;
  }
}
@media (max-width: 991px) {
  .rightside-form-wrap {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    width: 92%;
    max-width: none;
    margin: 0px auto;
    transform: translate(0, -50%);
    text-align: center;
    padding: 40px 20px 40px !important;
    z-index: 12;
    height: auto !important;
    display: none;
  }
  .rightside-form-wrap .calculate-form-group label {
    text-align: left;
  }
  .rightside-form-wrap .calculate-return-bottom .error-msgs {
    text-align: left;
  }
}
@media (max-width: 767px) {

  .btn-blue {
    font-size: 11px;
    line-height: 17px;
    padding: 12px 20px;
  }	

  .date-calendar {
    padding: 15px 14px;
    width: 100%;
  }
  .date-calendar .calendar-close .close {
    margin-bottom: 12px;
  }
  .date-calendar .btn-blue {
    display: block;
  }

  .calendar-table {
    margin-bottom: 12px;
  }
  .calendar-table td {
    min-width: 28px;
    width: 28px;
    height: 28px;
    font-size: 12px;
  }
}

/* Start Investing */
