/* scroll functionality Desktop */
.filterList-mCustomScrollbar {
    max-height: 185px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    background-color: #c0d2e3;
  }
  .mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar {
    background-color: #c0d2e3;
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #f6f8f9;
  }
  .mCSB_inside > .mCSB_container {
      margin-right: 15px;
  }
  
/* for submenu popups on hover */
  .jsSubMenu li:hover {
    cursor: pointer;
  }