@charset "UTF-8";
.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(117, 116, 181, 0.11);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.header.affix .top-bar {
  display: none;
}
.header.affix .second-bar {
  padding-top: 12px;
}
.header.affix .second-bar .nav-logo {
  bottom: 13px;
}
.header.affix .second-bar .nav-logo a {
  display: block;
}
.header.affix .second-bar .logo-desktop {
  width: 138px;
}
.header.affix .second-header-left .main-menu li {
  padding-bottom: 12px;
}
.header.affix .second-header-left .main-menu li ul li {
  padding-bottom: 0px;
}

/* header top menu */
.top-bar {
  transition: all 0.4s;
  height: 39px;
  background-color: #fff;
  margin-top: -1px;
}
.top-bar .top-inner {
  position: relative;
}
.top-bar .primary-nav {
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 195px;
  background-color: #E4EEFA;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
.top-bar .primary-nav li {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  position: relative;
}
.top-bar .primary-nav li:before {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #D7DF23;
  position: absolute;
  left: 50%;
  bottom: -6px;
  margin-left: -3px;
  z-index: 10;
  display: none;
}
.top-bar .primary-nav li.active-state {
  pointer-events: none;
  font-weight: 600;
}
.top-bar .primary-nav li.active-state a {
  background-color: #D7DF23;
  color: #333333;
}
.top-bar .primary-nav li.active-state:before {
  display: block;
}
.top-bar .primary-nav li a {
  color: rgba(51, 51, 51, 0.7);
  padding: 7px 10px;
  display: block;
  border-radius: 0 0 5px 5px;
}
.top-bar .primary-nav li a:hover, .top-bar .primary-nav li a:focus {
  background: transparent;
}

.second-bar {
  background-color: #fff;
}
.second-bar .second-inner {
  position: relative;
  padding-left: 195px;
}
.second-bar .nav-logo {
  position: absolute;
  bottom: 26px;
  left: 0;
}
.second-bar .second-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

.second-header-left {
  padding-top: 12px;
}
.second-header-left .main-menu {
  display: flex;
  flex-wrap: wrap;
}
.second-header-left .main-menu li {
  margin-right: 18px;
  padding-bottom: 17px;
  position: relative;
}
.second-header-left .main-menu li a {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  padding-bottom: 13px;
  display: block;
}
.second-header-left .main-menu li a:after {
  content: "";
  border-bottom: 3px solid transparent;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.second-header-left .main-menu li.submenu-arrow a {
  padding-right: 12px;
}
.second-header-left .main-menu li.submenu-arrow a:before {
  content: "";
  font-family: "icomoon";
  font-size: 7px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.second-header-left .main-menu li.submenu-arrow ul {
  min-width: 242px;
  /* 28-03-2022 
  min-height: 235px; */
  padding: 15px 0px 1px;
}
.second-header-left .main-menu li.submenu-arrow ul li.active-link a {
  color: #2C6EB5;
}
.second-header-left .main-menu li.submenu-arrow ul li a {
  padding-right: 0px;
  border-bottom: none;
}
.second-header-left .main-menu li.submenu-arrow ul li a:before, .second-header-left .main-menu li.submenu-arrow ul li a:after {
  content: none;
}
.second-header-left .main-menu li ul li {
  margin-bottom: 25px;
  margin-right: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
}
.second-header-left .main-menu li ul li.sub-submenu-arrow {
  position: static;
}
.second-header-left .main-menu li ul li.sub-submenu-arrow a {
  padding-right: 15px;
  position: relative;
}
.second-header-left .main-menu li ul li.sub-submenu-arrow a:before {
  content: "";
  font-family: "icomoon";
  font-size: 9px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.second-header-left .main-menu li ul li.sub-submenu-arrow ul li {
  padding: 0px;
}
.second-header-left .main-menu li ul li.sub-submenu-arrow ul li a:before {
  content: none;
}
.second-header-left .main-menu li ul li.sub-submenu-arrow:hover .inner-dropdown {
  display: block;
}
.second-header-left .main-menu li ul li.active > a {
  color: #2C6EB5 !important;
}
.second-header-left .main-menu li ul li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  padding-bottom: 0px;
  display: block;
}
.second-header-left .main-menu li ul li ul li {
  margin-bottom: 0px;
}
.second-header-left .main-menu li ul li ul li a {
  padding: 9px 10px;
}
.second-header-left .main-menu li ul li ul li a:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  border-radius: 8px;
}
.second-header-left .main-menu li .inner-dropdown ul {
  padding-top: 1px;
}
.second-header-left .main-menu li .inner-dropdown ul li {
  /*28-3-2022*/
  margin-bottom: 0px;
  padding: 0px;
  /*28-3-2022*/
}
.second-header-left .main-menu li .inner-dropdown ul li a {
  padding: 9px 10px;
}
.second-header-left .main-menu li .inner-dropdown ul li a:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  border-radius: 8px;
}
.second-header-left .main-menu li:hover .submenu-dropdown {
  transform: translateY(0);
  top: 100%;
  z-index: -1;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
}
.second-header-left .main-menu li:hover a {
  color: #2C6EB5;
}
.second-header-left .main-menu li:hover a:after {
  border-bottom-color: #D7DF23;
}
.second-header-left .main-menu li:hover ul li a {
  color: #606060;
}
.second-header-left .main-menu li:hover ul li a:hover {
  color: #2C6EB5;
}

.submenu-dropdown {
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: inline-flex;
  position: absolute;
  left: 0px;
  top: 100%;
  transform: translateY(-100%);
  z-index: -2;
  transition: all 0.4s ease-in-out 0s;
}
.submenu-dropdown.submenu-right {
  left: auto;
  right: 0px;
}

.inner-dropdown {
  background-color: #F7FCFF;
  /* 25-03-2022
  border-radius: 0 0 10px 0; */
  border-radius: 0 0 10px 10px;
  min-width: 242px;
  padding: 7px 10px;
  position: absolute;
  top: 0;
  left: 242px;
  /* 25-03-2022 
  bottom: 0; */
  display: none;
}

.header-search {
  width: 225px;
  position: relative;
}
.header-search .recent-searches {
  margin-bottom: 15px;
}
.header-search .recent-searches .recent-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #6F8695;
  margin-bottom: 15px;
}
.header-search .desktop-search-textbox {
  position: relative;
  margin-bottom: 15px;
}
.header-search .desktop-search-textbox .form-control {
  padding-left: 34px;
  padding-right: 20px;
}
.header-search .desktop-search-textbox .searchicons {
  font-size: 13px;
  color: #606060;
  position: absolute;
  left: 14px;
  top: 13px;
}
.header-search .form-control {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #333333;
  height: 40px;
  padding: 9px 45px 9px 24px;
  border-radius: 100px;
  border: 1px solid #cbd0e3;
  width: 100%;
}
.header-search .form-control:focus {
  outline: none;
}
.header-search .search-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #2C6EB5;
  border-radius: 50%;
  font-size: 19px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-search.opened .header-search-dropdown, .header-search.desktop-opened .header-search-dropdown {
  display: block;
}

.header-search-dropdown {
  width: 385px;
  position: absolute;
  right: -20px;
  top: 100%;
  z-index: 1;
  background-color: #F6FCFF;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 0 0 10px 10px;
  padding: 11px 13px;
  display: none;
}
.header-search-dropdown:after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #2C6EB5;
  position: absolute;
  bottom: 100%;
  right: 32px;
}
.header-search-dropdown .list-search-info li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #858997;
  padding: 9px 27px 9px 10px;
  position: relative;
  margin-bottom: 3px;
}
.header-search-dropdown .list-search-info li a {
  color: #858997;
  display: block;
}
.header-search-dropdown .list-search-info li strong {
  font-weight: 500;
  color: #333333;
}
.header-search-dropdown .list-search-info li .closed-btn {
  font-size: 10px;
  line-height: 8px;
  display: block;
  color: #2E70B5;
  position: absolute;
  right: 13px;
  top: 14px;
}
.header-search-dropdown .list-search-info li:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  border-radius: 8px;
}

.second-header-right {
  display: flex;
  flex-wrap: wrap;
}
.second-header-right .header-login {
  margin-left: 13px;
}
.second-header-right .header-login .btn-yellow {
  font-weight: 600;
  padding: 11px 20px;
}

.no-result-found p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  position: relative;
}
.no-result-found p strong {
  color: #333333;
  font-weight: 500;
}
.no-result-found .text-no-result {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  border-radius: 8px;
  padding: 9px 10px 9px 31px;
  margin-bottom: 15px;
}
.no-result-found .text-no-result span {
  font-size: 13px;
  line-height: 13px;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #606060;
}
.no-result-found .text-result-error {
  padding-left: 25px;
  margin-bottom: 20px;
}
.no-result-found .text-result-error img {
  position: absolute;
  left: 0px;
  top: 5px;
}

/*mobile header css*/
.mob-header {
  width: 100%;
  height: auto;
  position: fixed;
  left: -120%;
  top: 59px;
  background-color: #fff;
  z-index: 1000;
  display: block;
  bottom: 0;
  transition: left ease-in-out 0.5s;
  padding-bottom: 80px;
}
.mob-header .backmenu {
  background-color: #fff;
  height: 40px;
  padding: 0 20px;
}
.mob-header .backmenu .backto {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2C6EB5;
  display: inline-flex;
  align-items: center;
  height: 40px;
}
.mob-header .backmenu .backto i {
  font-size: 11px;
  margin-right: 8px;
}
.mob-header .backmenu .backto:hover {
  text-decoration: none;
}
.mob-header.active {
  left: 0;
}
.mob-header .mob-mainheader .mob-fixscroll {
  height: calc(100% - 30px);
  overflow: auto;
  background-color: #fff;
}
.mob-header .top-gray-menu {
  display: block;
  height: 30px;
  position: relative;
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0;
  z-index: 2;
  transform: none;
  width: 100%;
  background-color: #E4EEFA;
}
.mob-header .mobgraymenu {
  white-space: normal;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob-header .mobgraymenu li {
  position: relative;
}
.mob-header .mobgraymenu li:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #2C6EB5;
  position: absolute;
  left: 50%;
  bottom: -6px;
  margin-left: -3px;
  z-index: 10;
  display: none;
}
.mob-header .mobgraymenu li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.7);
  padding: 7px 15px;
  border-radius: 0 0 5px 5px;
  display: block;
}
.mob-header .mobgraymenu li.active:before {
  display: block;
}
.mob-header .mobgraymenu li.active a {
  font-weight: 600;
  color: #fff;
  background-color: #2C6EB5;
}

.accordian-mobsubmenu.active {
  top: 30px;
}

.accordian-mobsubmenu {
  position: absolute;
  width: 100%;
  top: -100%;
  transition: top ease-in-out 0.4s;
  z-index: 1;
  max-height: calc(100% - 110px);
  overflow: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 16px 30px rgba(153, 186, 208, 0.2);
  border-radius: 0 0 10px 10px;
}
.accordian-mobsubmenu.menu-links {
  top: 40px;
}
.accordian-mobsubmenu .submenu-head {
  padding: 15px 20px;
  position: relative;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2C6EB5;
  display: block;
}
.accordian-mobsubmenu .accord-col .submenu-head:before {
  content: "";
  font-family: "icomoon";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #0A69A5;
  width: 12px;
  text-align: center;
  font-weight: 400;
}
.accordian-mobsubmenu .accord-col .submenu-head.active:before {
  content: "";
}
.accordian-mobsubmenu .accord-body {
  background-color: #F7FCFF;
  border-radius: 0 0 10px 10px;
  display: none;
}
.accordian-mobsubmenu .mob-sub-menu li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  display: block;
  padding: 13px 20px;
}
.accordian-mobsubmenu .mob-sub-menu li a.menu-sub-items {
  position: relative;
}
.accordian-mobsubmenu .mob-sub-menu li a.menu-sub-items:before {
  content: "";
  font-family: "icomoon";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #0A69A5;
  width: 12px;
  text-align: center;
  font-weight: 400;
}
.accordian-mobsubmenu.mob-submenucotent {
  max-height: calc(100% - 120px);
}

.accordian-mobsubmenu.mob-submenucotent .accord-body {
  display: block;
}

.mob-mainheader.js-close-details {
  left: -100%;
  transition: left linear 0.4s;
  position: fixed;
  top: 89px;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.mob-mainheader.js-close-details.active-sub {
  left: 0;
}

.mob-header-bottom {
  padding: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  background: #fff;
}
.mob-header-bottom a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  line-height: 22px;
  color: rgba(51, 51, 51, 0.8);
}
.mob-header-bottom a span {
  font-weight: 600;
  padding-left: 4px;
}
.mob-header-bottom a img {
  margin-right: 8px;
}

.custom-login-dropdown .login-profile {
  position: relative;
  padding-right: 24px;
  padding-bottom: 5px;
  display: block;
}
.custom-login-dropdown .login-profile:before {
  content: "";
  font-family: "icomoon";
  font-size: 14px;
  line-height: 15px;
  color: #2C6EB5;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.custom-login-dropdown .login-profile.active:before {
  content: "";
}
.custom-login-dropdown .login-profile-text {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #E9F0F7;
  border: 1px solid #CCD8EE;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-weight: 700;
}
.custom-login-dropdown .custom-login-container {
  width: 249px;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 3;
}
.custom-login-dropdown .custom-login-content {
  background-color: #FFFFFF;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 0px 0px 10px 10px;
  padding: 7px 0 20px;
}
.custom-login-dropdown .custom-login-content:before {
  content: "";
  height: 3px;
  width: 63px;
  background-color: #D7DF23;
  position: absolute;
  right: 0px;
  top: 0px;
}
.custom-login-dropdown .login-content-list li {
  padding: 0 20px;
  margin-bottom: 20px;
  position: relative;
}
.custom-login-dropdown .login-content-list li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: #606060;
  position: relative;
  min-height: 18px;
  padding-left: 25px;
  padding-top: 1px;
}
.custom-login-dropdown .login-content-list li a .login-icon {
  width: 16px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.custom-login-dropdown .login-content-list li a .login-icon img {
  margin: auto;
}
.custom-login-dropdown .login-content-list li.login-sub-menu a:before {
  content: "";
  font-family: "icomoon";
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  right: 0px;
  top: 6px;
  font-weight: normal;
}
.custom-login-dropdown .login-content-list li.login-sub-menu:hover .login-submenu-content {
  display: block;
}
.custom-login-dropdown .login-content-list li:hover a {
  color: #2C6EB5;
  font-weight: 600;
}
.custom-login-dropdown .logout-content {
  position: relative;
  padding-top: 20px;
}
.custom-login-dropdown .logout-content:before {
  content: "";
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  left: 20px;
  top: 0px;
  right: 20px;
}
.custom-login-dropdown .logout-content li {
  margin-bottom: 0px;
}
.custom-login-dropdown .login-submenu-content {
  background-color: #F7FCFF;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: -20px;
  right: 100%;
  width: 249px;
  z-index: 3;
  padding: 15px 10px;
  display: none;
}
.custom-login-dropdown .login-submenu-content .login-content-list li {
  margin-bottom: 0px;
  padding: 0px;
}
.custom-login-dropdown .login-submenu-content .login-content-list li a {
  padding: 9px 10px 9px 35px;
  color: #606060;
  font-weight: 500;
}
.custom-login-dropdown .login-submenu-content .login-content-list li a .login-icon {
  top: 8px;
  left: 10px;
}
.custom-login-dropdown .login-submenu-content .login-content-list li a:before {
  content: none;
}
.custom-login-dropdown .login-submenu-content .login-content-list li a:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
  border-radius: 8px;
}
.custom-login-dropdown .user-login-prfile {
  background-color: #F7FCFF;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 20px 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.custom-login-dropdown .user-login-prfile .user-login-right {
  width: calc(100% - 40px);
  padding-left: 9px;
}
.custom-login-dropdown .user-login-prfile .user-login-right h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.custom-login-dropdown .user-login-prfile .user-login-right span {
  font-size: 12px;
  line-height: 22px;
  color: #606060;
  display: block;
}

@media (max-width: 1199px) {
  .header.affix .second-bar .logo-desktop {
    width: 120px;
  }
  .header.affix .second-bar .nav-logo {
    bottom: 22px;
  }

  .second-header-left .main-menu li {
    margin-right: 12px;
  }

  .header-search {
    width: 215px;
  }

  .top-bar .primary-nav {
    margin-left: 135px;
  }

  .second-bar .nav-logo {
    bottom: 34px;
  }
  .second-bar .second-inner {
    padding-left: 135px;
  }
  .second-bar .logo-desktop {
    width: 120px;
  }

  .header-search .form-control {
    padding-left: 15px;
  }

  .second-header-right .header-login .btn-yellow {
    font-size: 11px;
    padding: 11px 15px;
  }

  .second-header-left .main-menu li a {
    font-size: 11px;
  }
}
@media (max-width: 991px) {
  .header.affix .second-bar {
    padding: 10px 0px;
  }
  .header.affix .second-bar .logo-desktop {
    width: 105px;
  }

  .top-bar {
    display: none;
  }

  .second-header-left {
    display: none;
  }

  .second-bar {
    padding: 10px 0;
  }
  .second-bar .header-search-dropdown:after {
    display: none;
  }
  .second-bar .nav-logo {
    position: static;
  }
  .second-bar .logo-desktop {
    width: 105px;
  }
  .second-bar .second-inner {
    padding-left: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .header-search {
    width: 230px;
  }

  .mobile-tab-menu {
    display: block;
    position: absolute;
    left: 0px;
    top: 8px;
  }

  .hamburger-menu {
    cursor: pointer;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .hamburger-menu .first-sub-bar,
.hamburger-menu .second-sub-bar,
.hamburger-menu .third-sub-bar {
    width: 18px;
    height: 2px;
    background-color: #005899;
    margin: 4px 0;
    transition: 0.4s;
  }
  .hamburger-menu.animate-hamburger .first-sub-bar {
    -ms-transform: rotate(-45deg) translate(-9px, 0px);
    transform: rotate(-45deg) translate(-9px, 0px);
  }
  .hamburger-menu.animate-hamburger .second-sub-bar {
    opacity: 0;
  }
  .hamburger-menu.animate-hamburger .third-sub-bar {
    -ms-transform: rotate(45deg) translate(-9px, 0px);
    transform: rotate(45deg) translate(-9px, 0px);
  }
}
@media (max-width: 767px) {
  .header.affix .second-bar {
    padding: 8px 0px;
  }

  .second-bar {
    padding: 8px 0;
  }

  .mob-header {
    top: 48px;
  }

  .header-search-dropdown {
    width: auto;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 48px;
    border-radius: 0px;
    box-shadow: 0 36px 70px rgba(153, 186, 208, 0.3);
    z-index: 9;
  }
  .header-search-dropdown .list-search-info {
    max-height: 250px;
  }
  .header-search-dropdown .list-search-info li {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-search-dropdown .list-search-info li .closed-btn {
    top: 18px;
  }

  .header-search {
    width: auto;
    height: 26px;
  }
  .header-search .recent-searches {
    display: none;
  }
  .header-search .desktop-search-textbox {
    display: none;
  }
  .header-search .search-btn {
    width: 26px;
    height: 26px;
    font-size: 12px;
    position: static;
  }
  .header-search .mob-search-textbox {
    position: relative;
    margin-bottom: 16px;
  }
  .header-search .mob-search-textbox .mob-search-left {
    position: relative;
    padding-right: 68px;
  }
  .header-search .mob-search-textbox .mob-search-left .searchicons {
    font-size: 13px;
    color: #606060;
    position: absolute;
    left: 14px;
    top: 13px;
  }
  .header-search .mob-search-textbox .form-control {
    padding-left: 34px;
    padding-right: 20px;
  }
  .header-search .mob-search-textbox .search-closed {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2C6EB5;
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 11px;
  }
  .header-search .mob-search-textbox .search-closed span {
    font-size: 10px;
    margin-left: 6px;
  }

  .second-header-right {
    align-items: center;
  }
  .second-header-right .header-login {
    margin-left: 10px;
  }
  .second-header-right .header-login .btn-yellow {
    font-size: 10px;
    line-height: 15px;
    padding: 6px 15px;
  }

  .custom-login-dropdown {
    margin-left: 5px;
  }
  .custom-login-dropdown .login-profile {
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .custom-login-dropdown .login-profile:before {
    font-size: 10px;
    line-height: 8px;
    content: "";
  }
  .custom-login-dropdown .login-profile.active:before {
    content: "";
  }
  .custom-login-dropdown .login-profile .login-profile-text {
    width: 26px;
    height: 26px;
    font-size: 10px;
    line-height: 11px;
  }
  .custom-login-dropdown .custom-login-container {
    width: auto;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 48px;
    bottom: 0px;
    transition: all 0.3s;
    transform: translateX(-120%);
    display: block !important;
  }
  .custom-login-dropdown .custom-login-container.opened-mob-login {
    transform: translateX(0%);
  }
  .custom-login-dropdown .custom-login-cont-inner {
    height: 100%;
    background-color: #fff;
  }
  .custom-login-dropdown .mob-header-bottom {
    background-color: transparent;
  }
  .custom-login-dropdown .custom-login-content {
    box-shadow: 0px 16px 30px rgba(153, 186, 208, 0.2);
    padding-top: 17px;
    max-height: calc(100% - 80px);
    overflow: auto;
  }
  .custom-login-dropdown .custom-login-content:before {
    content: none;
  }
  .custom-login-dropdown .login-submenu-content {
    position: static;
    width: auto;
    margin: 0 -20px;
    box-shadow: none;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .custom-login-dropdown .login-content-list li:hover a {
    color: #606060;
    font-weight: 500;
  }
  .custom-login-dropdown .login-content-list li.login-sub-menu a:before {
    content: "";
  }
  .custom-login-dropdown .login-content-list li.login-sub-menu .login-submenu-content li a:before {
    display: none;
  }
  .custom-login-dropdown .login-content-list li.login-sub-menu .login-submenu-content li a:hover {
    box-shadow: none;
    background-color: transparent;
  }
  .custom-login-dropdown .login-content-list li.login-sub-menu:hover .login-submenu-content {
    display: none;
  }
  .custom-login-dropdown .login-content-list li.login-sub-menu.opend-submenu a:before {
    content: "";
  }

  .mob-mainheader.js-close-details {
    top: 78px;
  }
}
@media (max-width: 359px) {
  .second-bar .second-inner {
    padding-left: 30px;
  }

  .second-header-right .header-login {
    margin-left: 7px;
  }
  .second-header-right .header-login .btn-yellow {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mob-header .mobgraymenu li a {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 767px) {
  .mob-search-textbox {
    display: none;
  }
}
@media (min-width: 992px) {
  .mobile-tab-menu {
    display: none;
  }

  .mob-header {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
