.our-leadership-box {
  padding: 65px 0 70px;
}
.our-leadership-box .heading-with-view {
  margin-bottom: 30px;
}

.leadership-slider .slider-item {
  padding: 15px 10px 35px;
}

.leadership-item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
}
.leadership-item .leader-img-with-info {
  position: relative;
  height: 100%;
}
.leadership-item .leader-img-with-info img {
  border-radius: 6px;
  height: 100%;
}
.leadership-item .leader-img-with-info .leader-info {
  position: absolute;
  bottom: 0;
  background-color: #D7DF23;
  padding: 20px 15px;
  border-top-right-radius: 20px;
  width: calc(100% - 30px);
}
.leadership-item .leader-img-with-info .leader-info img {
  height: auto;
  width: auto;
}
.leadership-item .leader-img-with-info .leader-info h5 {
  font-size: 18px;
  line-height: 28px;
}
.leadership-item .leader-img-with-info p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 25px;
}
.leadership-item .hover-wrap a {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 88, 153, 0.72) -62.25%, rgba(0, 88, 153, 0.8) 67.32%);
  width: 100%;
  top: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px 35px;
  transform: translateY(100%);
  transition: all 0.3s;
}
.leadership-item .hover-wrap h5 {
  color: #fff;
  margin-bottom: 15px;
}
.leadership-item .hover-wrap .btn {
  font-size: 11px;
  line-height: 16px;
  padding: 14px 20px;
  min-width: 160px;
}
.leadership-item:hover .leader-info {
  display: none;
}
.leadership-item:hover .hover-wrap a {
  transform: translateY(0);
}

@media (max-width: 991px) {
  .our-leadership-box {
    padding: 45px 0;
  }
  .our-leadership-box .heading-with-view {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 29px;
}
  .our-leadership-box .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .our-leadership-box .heading-with-view {
    padding-left: 15px;
  }

  .leadership-item .leader-img-with-info .leader-info h5 {
    color: #2C6EB5;
    font-size: 16px;
    line-height: 24px;
  }
  .leadership-item .leader-img-with-info .leader-info p {
    font-size: 12px;
    line-height: 28px;
    color: #606060;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
