@media (max-width: 767px) {

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }
}
/*mobile header css*/
.financial-journey-box {
  padding: 25px 0 45px;
}
.financial-journey-box .financial-text {
  max-width: 1000px;
  margin: 0 auto 5px;
  text-align: center;
}
.financial-journey-box h2 {
  margin-bottom: 13px;
}
.financial-journey-box .list-financial-info .financial-info-li {
  padding: 27px 10px;
}

.financial-col {
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  border-radius: 10px;
  width: 100%;
  display: block;
  padding: 39px 35px 34px;
  text-align: center;
  transition: all 0.4s;
}
.financial-col .financial-img {
  height: 44px;
  margin-bottom: 15px;
}
.financial-col .financial-img img {
  margin: auto;
}
.financial-col .journey-img-hover {
  display: none;
}
.financial-col h5 {
  margin-bottom: 4px;
}
.financial-col p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.financial-col:hover {
  background: #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}
.financial-col:hover h5 {
  color: #fff;
}
.financial-col:hover p {
  color: #B3CCE8;
}
.financial-col:hover .journey-img {
  display: none;
}
.financial-col:hover .journey-img-hover {
  display: block;
}

@media (max-width: 1199px) {
  .financial-col {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 991px) {
  .financial-journey-box {
    padding: 45px 0 35px;
  }
  .financial-journey-box .list-financial-info {
    display: flex;
    flex-wrap: wrap;
  }
  .financial-journey-box .list-financial-info .financial-info-li {
    padding-top: 0px;
    padding-bottom: 15px;
    width: 50%;
  }
  .financial-journey-box .financial-text {
    margin-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .financial-journey-box .list-financial-info {
    margin-left: -9px;
    margin-right: -9px;
  }
  .financial-journey-box .list-financial-info .financial-info-li {
    padding-left: 9px;
    padding-right: 9px;
  }
  .financial-journey-box .financial-text {
    margin-bottom: 28px;
  }
  .financial-journey-box .financial-text h2 {
    margin-bottom: 19px;
  }
  .financial-journey-box .financial-text p {
    font-size: 14px;
    line-height: 22px;
  }

  .financial-col {
    padding: 20px;
  }
  .financial-col .financial-img {
    margin-bottom: 10px;
  }
  .financial-col h5 {
    margin-bottom: 5px;
  }
  .financial-col p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 359px) {
  .financial-journey-box .list-financial-info .financial-info-li {
    width: 100%;
  }
}
        .flex-slider .slick-track .slick-slide {
    height: auto;
    min-height: inherit;
}
.flex-slider .slick-track .slick-slide {
    height: auto;
    min-height: inherit;
}

.flex-slider .slick-track {
    display: flex;
}

/*# sourceMappingURL=style.css.map */
