<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.upcoming-webinar'}"></sly>
</sly>
<!-- upcoming-webinar-->
        <section class="upcoming-webinar-box">
          <div class="container">
            <h2> ${properties.heading}</h2>
            <div class="slider-dots slider-arrows flex-slider" id="jsMobUpcomingWebinarSlider">
              <div class="mob-sliders">
                <sly data-sly-list.data="${resource.children}">
                  <sly data-sly-test="${data.name == 'upcomingWebinarCard'}">
                      <sly data-sly-list.upcomingItem="${data.children}">
                <div class="upcoming-webinar-row">
                  <div class="webinar-flex">                
                    <div class="upcoming-webinar-left">                  
                      <div class="webinar-inn">
                        <h6>${upcomingItem.fundName}</h6>
                        <h5 id="webinar-title">${upcomingItem.webinarTitle}</h5>
                        <p>${upcomingItem.leftName}</p>
                        <!-- mobile -->
                        <div class="up-webinar-inner">
                          <h5>${upcomingItem.date}</h5>
                          <p>${upcomingItem.rightText}</p>
                          <button type="button"  class="btn-blue btn-yellow radius100" data-upcomingmodal="upcoming-modal" data-popovermodal="popover-modal"
                          data-target="#registration-modal">${upcomingItem.btnName}</button>
                        </div>
                        <!-- mobile -->  
                          ${upcomingItem.description @context='html'}
                      </div>                  
                    </div>                
                    <div class="upcoming-webinar-right">
                      <!-- dekstop -->
                      <div class="up-webinar-inner">
                        <h5>${upcomingItem.date}</h5>
                        <p>${upcomingItem.rightText}</p>
                        <button type="button"   class="btn-blue btn-yellow radius100" data-upcomingmodal="upcoming-modal" data-popovermodal="popover-modal"
                        data-target="#registration-modal">${upcomingItem.btnName}</button>
                      </div>
                      <!-- dekstop -->                  
                    </div>
                  </div>              
                </div>
                </sly>
                </sly>
                </sly>
              </div>              
            </div>
          </div>
        </section>
       <!-- upcoming-webinar-->

        <!-- webinar registration modal -->
    <div class="popover-modal fade popover-show" id="registration-modal">
      <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
          <div class="popover-modal-body">            
            
            <!-- Webinar registration -->
            <div class="modal-body-inner2" data-form="register-webinar">
              <button data-dismiss="popover-modal" class="popover-modal-close jsRegistratorClear"><i class="icon-close"></i></button>
              <div class="registration-form">
                <h6>Register for free live Webinar</h6>
                <h5 id="upcomingWebinar-regTitle"></h5>
                <div class="webinar-registration" id="jsWebinarRegistration">
                  <div class="form-textbox">
                    <label class="label-name">Name</label>
                    <div class="textbox-inner">
                      <input class="input-textbox only-alpha-input" type="text" data-type="name"
                        placeholder="">
                    </div>
                  </div>
                  <!-- upcoming title store in input filed -->
                  <div class="form-textbox" style="display: none;">
                    <label class="label-name">Name</label>
                    <div class="textbox-inner">
                      <input class="input-textbox only-alpha-input" type="hidden" id="upcoming-title">
                    </div>
                  </div>
                   <!-- upcoming title store in input filed -->
                 
                  <div class="form-textbox">
                    <label class="label-name">Phone number</label>
                    <div class="textbox-inner">
                      <input type="tel" class="input-textbox only-numeric-input" data-type="mobile" maxlength="10">
                    </div>
                  </div>
                  <div class="form-textbox">
                    <label class="label-name">Email</label>
                    <div class="textbox-inner">
                      <input class="input-textbox" type="text" data-type="email"
                        placeholder="">
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" data-upcoming="registerBtn" class="btn-blue radius100 js-proceed-btn">Register Now</button>
                  </div>
                </div>
              </div>
            </div>            
            <!-- Webinar registration -->

            <!-- Thankyou -->
            <div class="modal-body-inner2 registration-thankyou d-none" data-form="webinar-thanks">
              <button data-dismiss="popover-modal" class="popover-modal-close white-color jsRegistratorClear"><i class="icon-close"></i></button>
              <div class="thankyou-inner">
                <img src="/content/dam/tata-capital-moneyfy/learn-webinar/webinar-thank-img.svg" alt="">
                <h5>Sucessfully registered for the webinar</h5>
                <h6 id="upcomingWebinar-thankyouTitle"></h6>
                <p id="upcomingWebinar-thankyouText"></p>
                <a href="/content/tata-capital-moneyfy/en/learn-webinar.html" class="btn-blue btn-yellow radius100">Back to Webinars</a>
              </div>
            </div>            
            <!-- Thankyou -->
          </div>
        </div>
      </div>
    </div>
    <!-- end webinar registration modal -->
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
      <sly data-sly-call="${clientlib.js @ categories='moneyfy.upcoming-webinar'}"></sly>
  </sly>