.term-condition-box .term-condition-info {
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  padding-top: 35px;
  padding-bottom: 35px;
}
.term-condition-box h5 {
  margin-bottom: 6px;
}
.term-condition-box p {
  color: #606060;
}
.term-condition-box li {
  color: #606060;
}
.term-condition-box .term-condition-row { 
  margin-bottom: 35px;
}

.ul{
padding: revert;
}

.li{
list-style: initial;
}

.li-circle{
list-style:circle;
}
@media (max-width: 991px) {
  .term-condition-box p {
    font-size: 14px;
    line-height: 24px;
  }
  .term-condition-box li {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .term-condition-box {
    padding-top: 0;
  }
  .term-condition-box .term-condition-info {
    padding-bottom: 20px;
  }
  .term-condition-box .term-condition-row {
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
