.product-listing-box {
  background: #E9F0F7;
  padding: 64px 0;
}
.product-listing-box .product-inners {
  max-width: 800px;
  margin: 0 auto 13px;
  text-align: center;
}
.product-listing-box h2 {
  margin-bottom: 18px;
}
.product-listing-box .listings-slider-flex {
  padding-bottom: 10px;
}
.product-listing-box .listings-slider-flex .listings-slider-row {
  padding: 25px 9px;
}
.product-listing-box .listings-cards {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 24px 30px 85px;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  position: relative;
  height: 100%;
}
.product-listing-box .listings-cards h4 {
  margin-bottom: 9px;
  font-weight: 700;
}
.product-listing-box .listings-cards p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}
.product-listing-box .listings-cards .listings-cards-info {
  padding-right: 203px;
}
.product-listing-box .listings-cards .listing-card-img {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 200px;
}
.product-listing-box .listings-cards .listing-card-btn {
  position: absolute;
  left: 30px;
  bottom: 29px;
}
.product-listing-box .listings-cards .listing-card-btn .btn-blue {
  margin-right: 15px;
}
.product-listing-box .listings-cards .listing-card-btn .btn-blue:last-child {
  margin-right: 0px;
}

@media (max-width: 1199px) {
  .product-listing-box .listings-cards .listing-card-img {
    max-width: 165px;
  }
  .product-listing-box .listings-cards .listings-cards-info {
    padding-right: 175px;
  }
}
@media (max-width: 991px) {
  .product-listing-box {
    padding: 45px 0;
  }
  .product-listing-box .listings-slider-flex {
    padding-bottom: 5px;
  }
  .product-listing-box .listings-slider-flex .listings-slider-row {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .product-listing-box {
    padding: 35px 0;
  }
  .product-listing-box h2 {
    margin-bottom: 13px;
  }
  .product-listing-box .product-inners {
    margin-bottom: 5px;
  }
  .product-listing-box .product-inners p {
    font-size: 14px;
    line-height: 22px;
  }
  .product-listing-box .listings-cards {
    padding: 20px 20px 65px;
  }
  .product-listing-box .listings-cards .listings-cards-info {
    padding-right: 70px;
  }
  .product-listing-box .listings-cards .listing-card-btn {
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-listing-box .listings-cards .listing-card-btn .btn-blue {
    margin-right: 0px;
  }
  .product-listing-box .listings-cards .listing-card-img {
    max-width: 70px;
    transform: translateY(0px);
    top: 15px;
    right: 15px;
  }
}
@media (max-width: 359px) {
  .product-listing-box .listings-cards .listing-card-btn .btn-blue {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/*# sourceMappingURL=style.css.map */
