.banner-box.corporate-fd-banner-box {
  background-image: none;
  padding-bottom: 0;
}
.banner-box.corporate-fd-banner-box .banner-inner.new-banner-inner {
  padding-top: 0;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}
.banner-box.corporate-fd-banner-box .banner-image .banner-caption {
  position: static;
}
.banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-left {
  width: 630px;
}
.banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-head {
  margin-bottom: 40px;
}
.banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-right {
  width: calc(100% - 630px);
}

@media (max-width: 991px) {
  .banner-box.corporate-fd-banner-box {
    padding-bottom: 0;
  }
  .banner-box.corporate-fd-banner-box .banner-slider {
    padding-bottom: 0;
    padding-top: 0;
  }
  .banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-left {
    width: 450px;
  }
  .banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-right {
    width: calc(100% - 450px);
  }
}
@media (max-width: 767px) {
  .banner-box.corporate-fd-banner-box .banner-slider {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .banner-box.corporate-fd-banner-box h6 {
    font-size: 14px;
    line-height: 21px;
  }
  .banner-box.corporate-fd-banner-box .btn-wrap {
    text-align: center;
  }
  .banner-box.corporate-fd-banner-box .btn-wrap .btn-blue {
    width: 100%;
    max-width: 265px;
  }
  .banner-box.corporate-fd-banner-box .banner-left p {
    font-size: 14px;
  }
  .banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-left {
    width: 100%;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-right {
    width: 100%;
  }
  .banner-box.corporate-fd-banner-box .banner-image .banner-caption .banner-right img {
    max-width: 220px;
    margin: auto;
    object-fit: contain;
  }
}

/*# sourceMappingURL=style.css.map */
