<!-- AMC Listing -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.amc-box'}"></sly>
  </sly>
  <!-- Model Calling for amcListing -->
  <sly data-sly-use.amcModel="com.tatacapital.moneyfy.core.models.AMCListingModel" />

  <!-- desktop filter -->
  <section class="blue-filtersize-box d-none d-lg-block js-floating">
    <div class="container">
        <div class="blue-tab-inner">
            <h6>Filters by AUM</h6>
            <ul class="list-filter-checks" id="amcListFilter">
                <li>
                    <div class="custom-checkbox">
                        <label class="js-filterCheck">
                            <input type="checkbox" name="sort" value="0-500">
                            <span class="checkbox-wrap yellow-check"></span>
                            0 - 500 Cr
                        </label>
                    </div>
                </li>
                <li>
                    <div class="custom-checkbox">
                        <label class="js-filterCheck">
                            <input type="checkbox" name="sort" value="501-2000">
                            <span class="checkbox-wrap yellow-check"></span>
                            501 - 2000 Cr
                        </label>
                    </div>
                </li>
                <li>
                    <div class="custom-checkbox">
                        <label class="js-filterCheck">
                            <input type="checkbox" name="sort" value="2001-10000">
                            <span class="checkbox-wrap yellow-check"></span>
                            2001 - 10000 Cr
                        </label>
                    </div>
                </li>
                <li>
                    <div class="custom-checkbox">
                        <label class="js-filterCheck">
                            <input type="checkbox" name="sort" value="10001">
                            <span class="checkbox-wrap yellow-check"></span>
                            Above 10000Cr
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </section>
  <!-- desktop filter -->
  <!-- adobe analytics changes 213,219,919 -->
  <!-- mob filter -->
  <section class="fix-container js-fixContainer">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/Loader.gif" alt="">
    </div>
    <div class="mob-filter-container d-lg-none">
        <div class="container">
            <div class="mobile-filter-sort">
                <div class="mob-filterBtn-wrap">
                    <a href="javascript:void(0);" class="js-showFilter">
                        <span class="filter-count js-filterCount"></span>
                        <i class="icon-filter icon"></i>
                        Filters
                    </a>
                </div>
                <div class="mob-sortBtn-wrap">
                    <a href="javascript:void(0);" class="jsMobSorting">
                        <i class="icon-sort icon"></i>
                        Sort by
                    </a>
                </div>
            </div>
            <div class="mob-filter-box js-mobFilterBox">
                <div class="back-btn-wrap">
                    <a href="javascript:void(0);" class="back-btn js-closeFilter">
                        <span class="icon-arrow-left icon"></span>
                        Filters
                    </a>
                </div>
                <div class="filter-wrap">
                    <div class="filter-list-wrap js-filterListWrap">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" class="filter-link active"
                                    data-filter-link="Fund Size"><span>Fund Size</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-cards-wrap">
                        <div class="dropdown-card-inner">
                            <div class="filter-card-item active" data-filter-item="Fund Size">
                                <div class="filter-card">
                                    <div class="dropdown-header">
                                        <p>Fund Size</p>
                                        <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                    </div>
                                    <div class="dropdown-content">
                                        <ul>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" value="0-500">
                                                        <span class="checkbox-wrap"></span>
                                                        0 - 500 Cr
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" value="501-2000">
                                                        <span class="checkbox-wrap"></span>
                                                        501 - 2000 Cr
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" value="2001-10000">
                                                        <span class="checkbox-wrap"></span>
                                                        2001 - 10000 Cr
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" value="10001">
                                                        <span class="checkbox-wrap"></span>
                                                        Above 10000Cr
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
  
                        </div>
                    </div>
                </div>
                <div class="filter-fotter">
                    <a href="javascript:void(0);" class="btn-blue radius100 apply-filter-btn js-applyFilter">apply
                        filter</a>
                    <a href="javascript:void(0)" class="clear-all-btn js-clearAll">clear all</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- mob filter -->
  
  <!-- amc list -->
  <section class="fund-manager-box amc-box pd-t45i bg-wgite amc-listing-box">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/Loader.gif" alt="">
    </div>
  
    <div class="container">
        <div class="tmc-top-row">
            <h1>Our Trusted AMCs</h1>
            <div>
                <div class="fund-list-result amc-listing-sort">
                    <div class="fund-list-result-inner">
                        <div class="fund-search-lists">
                            <div class="search-lists-box">
                                <div class="header-search" id="jsSearchTypehead">
                                    <input type="text" class="form-control typeahead" data-search="amc" placeholder="Search AMC">
                                    <a href="javascript:void(0)" class="search-btn" id="amcSearch">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="fund-list-result-right">
                            <div class="fund-list-result-sort">
                                <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                                <div class="custom-dropdown custom-dropdown-new">
                                    <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                        <a href="javascript:void(0);" class="jsDropDownMenuShow">AUM - High to Low</a>
                                    </div>
                                    <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                        <div class="dropdown-card-inner">
  
                                            <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                                                <li>
                                                    <a href="javascript:void(0)">Returns - High to Low</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Returns - Low to high</a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0)">AUM - High to Low</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">AUM - Low to High</a>
                                                </li>
                                            </ul>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-amc-slide amc-lising jsAmcListing" id="amcList">
          <sly data-sly-list="${amcModel.amcList}">

              <div class="fund-manager-rows">
                  <div class="fund-manager-col">
                    <a href="${item.pagePath}" class="card-div fund-manager-card" data-fundmangercard="amcFundCard">
                      <div class="fund-manager-top">
                        <div class="amc-text-logo">
                          <span class="amc-logo">
                              <img src="${item.iconPath}" alt="">
                          </span>
                          <h5 data-amcfundname=${item.fundName}>${item.fundName}</h5>
                        </div>
                      </div>
                      <div class="fund-manager-bottom">
                        <div class="fund-ul">
                          <div class="fund-li">
                            <p>Funds offered</p>
                            <h6>${item.numberOfFunds}</h6>
                          </div>
                          <div class="fund-li">
                            <p>AUM</p>
                            <h6>₹${item.aum} Cr</h6>
                          </div>
                          <div class="fund-li">
                            <p>Highest return</p>
                            <h6>${item.highestReturns}%</h6>
                          </div>
                        </div>
                      </div>
                  </a>                
                  </div>
              </div>
          </sly>  
        </div>
        <div class="amc-listing-tab-btn">
            <a href="javascript:void(0)" class="btn-blue-link-bg" id="jsAmcLoadMore">load more</a>
          <a href="javascript:void(0)" class="btn-blue-link-bg d-none" id="jsAmcLoadLess">load less</a>
         </div>
    </div>
  
  </section>
  <!--amc list -->
  
  <!-- start mobile sort -->
  <div class="mob-sortby-box">
    <div class="mob-sortby-inner">
        <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
        <div class="container">
            <h6>Sort by</h6>
  
            <ul class="jsSelectSortList">
                <li>
                    <label class="custom-radio-text">
                        Returns - High to Low
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="Returns - High to Low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Returns - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="Returns - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        AUM - High to Low
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="AUM - High to Low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        AUM - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="AUM - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
            </ul>
  
        </div>
    </div>
  </div>
  <!-- start mobile sort -->
  <script>
      var amcArray = "${amcModel.amcFundList @context='scriptString'}"
      amcArray = JSON.parse(amcArray);
  </script>
  
  <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.amc-box'}"></sly>
  </sly>