<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.playlist-box'}"></sly>
</sly>
<!-- tata-playlist-box-->
<section class="blog-video-box most-viewed tata-playlist">
  <div class="container">
    <div class="heading-with-view">
      <h2>${properties.playlist}</h2>
      <a href="${properties.allLink ? properties.allLink : '#'}" target="${properties.playlistCheck ? '_blank' : ''}" class="btn-view-all">${properties.playlistViewAll} <span class="icon-arrow-right"></span></a>
    </div>
    <div class="blog-video-slider slider-dots slider-arrows flex-slider jsTataPlayListSlider">
      <sly data-sly-list.data="${resource.children}">
        <sly data-sly-test="${data.name == 'playlistList'}">
            <sly data-sly-list.playlistItems="${data.children}">
      <div class="blog-slider-col">
        <div class="blog-sliders">
          <div class="blog-img">
            <img src="${playlistItems.playlistImg}" alt="" />
            <div class="video-overlay">
              <span class="video-time">${playlistItems.videoNumber}</span>                          
            </div>
          </div>
          <div class="blog-content">
            <a href="javascript:void(0)" class="icon-share share-link d-block d-md-none" data-heading="${playlistItems.playlistHeading}" data-video="${playlistItems.playlistLink}" data-popovermodal="popover-modal"
            data-target="#share-modal"></a>
            <h6>${playlistItems.playlistTitle}</h6>
            <p>${playlistItems.playlistHeading}</p>
            <span class="texts-para">${playlistItems.playlistDiscription}</span>
          </div>   
          <div class="btn-viewalls">                        
            <a href="${playlistItems.playlistLink ? playlistItems.playlistLink : '#'}" target="${playlistItems.playlistCheck ? '_blank' : ''}" class="btn-view-all">${playlistItems.playlistBtnText}<span class="icon-arrow-right"></span></a>
          </div>                   
        </div>
      </div>
      </sly>
      </sly>
      </sly>                                 
    </div>
  </div>
</section>
<!-- tata-playlist-box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.playlist-box'}"></sly>
</sly>