<!-- amc detail fund filter html -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.amc-details-filter-box'}"></sly>
</sly>
<sly data-sly-use.amcModel="com.tatacapital.moneyfy.core.models.AMCListingModel" />
<sly data-sly-use.sebiCategoryModel="com.tatacapital.moneyfy.core.models.SebiSubCatModel" />

<script>
	var sebiCategoryList = "${sebiCategoryModel.sebiCatPageList @context='scriptString'}";
    sebiCategoryList = JSON.parse(sebiCategoryList);
    console.log(sebiCategoryList);
</script>

<div class="mob-amc-search-box d-lg-none js-compareActiveNone">
    <div class="container">
        <div class="custom-dropdown custom-dropdown-new">
            <div class="dropdown-button js-filterBtn" data-filter="amc-search">
                <a href="javascript:void(0);" class="jsDropDownMenuShow">Search for AMCs...</a>
            </div>
            <div class="dropdown-card rating-filter-card" data-filter-card="amc-search">
                <div class="dropdown-card-inner">
                    <div class="dropdown-content">
                        <div class="search-wrap">
                            <div class="search-form">
                                <input type="text" class="form-control js-searchInput" placeholder="Search for AMCs...">
                                <button class="search-btn"><span class="icon-search"></span></button>
                            </div>
                        </div>
                        <div class="amc-filter-list">
                            <div class="filterList-mCustomScrollbar">
                                <ul class="dropdown-list-menu jsDropDownMenuGet" data-amcsearch="amcSearch">

                                    <sly data-sly-list.amc="${amcModel.amcList}">
                                        <li>
                                            <a href="${amc.pagePath}">${amc.fundName}</a>
                                        </li>
                                    </sly>

                                </ul>
                            </div>
                        </div>
                        <div class="no-search-result js-noSearchResult d-none">
                            <span class="error-msgs">Sorry We Could not find the data related to <b>kalyanam mutual
                                    fund</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- desktop filter -->
<section class="filter-section js-floating d-none d-lg-block">
    <div class="container">
        <div class="filter-search-wrap js-filtersBox">
            <div class="search-box">
                <div class="filter-item">
                    <div class="custom-dropdown">
                        <div class="dropdown-button js-filterBtn" data-filter="amc">
                            <a href="javascript:void(0);">Search via AMCs</a>
                        </div>
                        <div class="dropdown-card amc-filter-card" data-filter-card="amc">
                            <div class="dropdown-card-inner">
                                <div class="filter-card">
                                    <div class="dropdown-header">
                                        <p>AMC</p>
                                    </div>
                                    <div class="dropdown-content">
                                        <div class="search-wrap">
                                            <div class="search-form">
                                                <input type="text" class="form-control js-searchInput"
                                                    placeholder="Search for AMCs...">
                                                <button class="search-btn"><span class="icon-search"></span></button>
                                            </div>
                                        </div>
                                        <div class="amc-filter-list">
                                            <div class="filterList-mCustomScrollbar">
                                                <ul class="dropdown-list-menu jsDropDownMenuGet" data-amcsearch="amcSearch">
                                                    <sly data-sly-list.amc="${amcModel.amcList}">
                                                        <li>
                                                            <a href="${amc.pagePath}">${amc.fundName}</a>
                                                        </li>
                                                    </sly>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="no-search-result js-noSearchResult d-none">
                                            <span class="error-msgs">Sorry We Could not find the data related to
                                                <b>kalyanam mutual fund</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-box">
                <div class="filter-btn-wrap">
                    <div class="filter-item">
                        <div class="custom-dropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="rating">
                                <a href="javascript:void(0);">Rating</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="rating" data-checkfilter="checkFilterRating">
                                <div class="dropdown-card-inner">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Rating</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <div class="rating-checkbox">
                                                <p class="rating-head">Morning star</p>
                                                <div class="rating-checkbox-wrap">
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star" value="5 &#9733; Morning Star" data-rating="5">
                                                        <p>5 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star" value="4 &#9733; Morning Star" data-rating="4">
                                                        <p>4 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star" value="3 &#9733; Morning Star" data-rating="3">
                                                        <p>3 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star" value="2 &#9733; Morning Star" data-rating="2">
                                                        <p>2 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="morning_star" value="1 &#9733; Morning Star" data-rating="1">
                                                        <p>1 <span class="icon icon-star"></span></p>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="rating-checkbox">
                                                <p class="rating-head">Value Research</p>
                                                <div class="rating-checkbox-wrap">
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star" value="5 &#9733; Value Research" data-rating="5">
                                                        <p>5 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star" value="4 &#9733; Value Research" data-rating="4">
                                                        <p>4 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star" value="3 &#9733; Value Research" data-rating="3">
                                                        <p>3 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star" value="2 &#9733; Value Research" data-rating="2">
                                                        <p>2 <span class="icon icon-star"></span></p>
                                                    </label>
                                                    <label class="checkbox-item js-filterCheck">
                                                        <input type="checkbox" name="value_star" value="1 &#9733; Value Research" data-rating="1">
                                                        <p>1 <span class="icon icon-star"></span></p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="custom-dropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="min-investment">
                                <a href="javascript:void(0);">Min Investment</a>
                            </div>
                            <div class="dropdown-card min-investment-filter-card" data-filter-card="min-investment" data-checkfilter="checkFilterCommon">
                                <div class="dropdown-card-inner">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Min Investment</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <ul id="filterFunds">
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="min_investment" value="&lt; Rs.500" data-investment="0-499">
                                                            <span class="checkbox-wrap"></span>
                                                            &lt; Rs.500
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="min_investment" value="&lt; Rs.1000" data-investment="0-999">
                                                            <span class="checkbox-wrap"></span>
                                                            &lt; Rs.1000
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="min_investment" value="&lt; Rs.2000" data-investment="<2000">
                                                            <span class="checkbox-wrap"></span>
                                                            &lt; Rs.2000
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="custom-dropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="fund-category">
                                <a href="javascript:void(0);">Fund Category</a>
                            </div>
                            <div class="dropdown-card fund-category-filter-card" data-filter-card="fund-category" data-checkfilter="">
                                <div class="row filter-row">
                                    <div class="left-col">
                                        <div class="dropdown-header">
                                            <p>Fund Category</p>
                                        </div>
                                        <ul class="category-list">
                                            <li class="active" data-category="popular">Popular Categories</li>
                                            <li data-category="equity">Equity</li>
                                            <li data-category="debt">Debt</li>
                                            <li data-category="hybrid">Hybrid</li>
                                            <li data-category="solution_oriented">Others</li>
                                        </ul>
                                    </div>
                                    <div class="right-col">
                                        <div class="category-filter">
                                            <div class="category-filter-item active" data-category-item="popular">
                                                <div class="filter-card">
                                                    <div class="dropdown-header">
                                                        <a href="javascript:void(0);"
                                                            class="select-all-btn js-selectAllBtn">Select all</a>
                                                        <a href="javascript:void(0);"
                                                            class="clear-btn js-clearBtn">Clear all</a>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <div class="filterList-mCustomScrollbar">
                                                            <ul>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="New Fund Offerings" data-value="New Fund Offerings">
                                                                            <span class="checkbox-wrap"></span>
                                                                            New Fund Offerings
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Top Rated Funds" data-value="Top Rated Funds">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Top Rated Funds
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox"  name="popularCategory" value="Tax Saver Funds" data-value="Tax Saver Funds">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Tax Saver Funds
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Invest In Gold" data-value="Invest In Gold">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Invest In Gold
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Invest in large companies" data-value="Invest in large companies">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Invest in large companies
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Invest in mid sized companies" data-value="Invest in mid sized companies">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Invest in mid sized companies
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Invest in small sized companies" data-value="Invest in small sized companies">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Invest in small sized companies
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="SIP starting at 500 INR" data-value="SIP starting at 500 INR">
                                                                            <span class="checkbox-wrap"></span>
                                                                            SIP starting at 500 INR
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Invest in balanced funds" data-value="Invest in balanced funds">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Invest in balanced funds
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Invest in companies across all sizes" data-value="Invest in companies across all sizes">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Invest in companies across all sizes
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Conservative - Mini Option" data-value="Conservative - Mini Option">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Conservative - Mini Option
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Conservative" data-value="Conservative">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Conservative
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Moderate Mini" data-value="Moderate Mini">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Moderate Mini
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Moderate" data-value="Moderate">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Moderate
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Aggressive - Mini Option" data-value="Aggressive - Mini Option">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Aggressive - Mini Option
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Aggressive" data-value="Aggressive">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Aggressive
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Super aggressive - Mini Option" data-value="Super aggressive - Mini Option">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Super aggressive - Mini Option
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="filter-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <label class="js-filterCheck">
                                                                            <input type="checkbox" name="popularCategory" value="Super aggressive" data-value="Super aggressive">
                                                                            <span class="checkbox-wrap"></span>
                                                                            Super aggressive
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-filter-item" data-category-item="equity">
                                                <div class="filter-card">
                                                    <div class="dropdown-header">
                                                        <a href="javascript:void(0);"
                                                            class="select-all-btn js-selectAllBtn">Select all</a>
                                                        <a href="javascript:void(0);"
                                                            class="clear-btn js-clearBtn">Clear all</a>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <div class="filterList-mCustomScrollbar">
                                                            <ul data-list="equity"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-filter-item" data-category-item="debt">
                                                <div class="filter-card">
                                                    <div class="dropdown-header">
                                                        <a href="javascript:void(0);"
                                                            class="select-all-btn js-selectAllBtn">Select all</a>
                                                        <a href="javascript:void(0);"
                                                            class="clear-btn js-clearBtn">Clear all</a>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <div class="filterList-mCustomScrollbar">
                                                            <ul data-list="debt"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-filter-item" data-category-item="hybrid">
                                                <div class="filter-card">
                                                    <div class="dropdown-header">
                                                        <a href="javascript:void(0);"
                                                            class="select-all-btn js-selectAllBtn">Select all</a>
                                                        <a href="javascript:void(0);"
                                                            class="clear-btn js-clearBtn">Clear all</a>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <div class="filterList-mCustomScrollbar">
                                                            <ul data-list="hybrid"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="category-filter-item" data-category-item="solution_oriented">
                                                <div class="filter-card">
                                                    <div class="dropdown-header">
                                                        <a href="javascript:void(0);"
                                                            class="select-all-btn js-selectAllBtn">Select all</a>
                                                        <a href="javascript:void(0);"
                                                            class="clear-btn js-clearBtn">Clear all</a>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <div class="filterList-mCustomScrollbar">
                                                            <ul data-list="others"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="custom-dropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="risk-level">
                                <a href="javascript:void(0);">Risk Level</a>
                            </div>
                            <div class="dropdown-card risk-level-filter-card" data-filter-card="risk-level" data-checkfilter="checkFilterCommon">
                                <div class="dropdown-card-inner">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Risk Level</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <ul>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Low Risk" data-value="Low">
                                                            <span class="checkbox-wrap"></span>
                                                            Low Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Low to Moderate risk" data-value="Low to Moderate">
                                                            <span class="checkbox-wrap"></span>
                                                            Low to Moderate risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Moderate Risk" data-value="Moderate">
                                                            <span class="checkbox-wrap"></span>
                                                            Moderate Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Moderately High Risk" data-value="Moderately High">
                                                            <span class="checkbox-wrap"></span>
                                                            Moderately High Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="High Risk" data-value="High">
                                                            <span class="checkbox-wrap"></span>
                                                            High Risk
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="riskType" value="Very High Risk" data-value="Very High">
                                                            <span class="checkbox-wrap"></span>
                                                            Very High Risk
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-item">
                        <div class="custom-dropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="fund-size">
                                <a href="javascript:void(0);">Fund Size</a>
                            </div>
                            <div class="dropdown-card fund-size-filter-card" data-filter-card="fund-size" data-checkfilter="checkFilterCommon">
                                <div class="dropdown-card-inner">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>Fund Size</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <ul id="filterFunds">
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="L0 - 500 Cr" data-fundsize="0-500">
                                                            <span class="checkbox-wrap"></span>
                                                            L0 - 500 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="501 - 2000 Cr" data-fundsize="501-2000">
                                                            <span class="checkbox-wrap"></span>
                                                            501 - 2000 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="2001 - 10000 Cr" data-fundsize="2001-10000">
                                                            <span class="checkbox-wrap"></span>
                                                            2001 - 10000 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="filter-checkbox">
                                                    <div class="custom-checkbox">
                                                        <label class="js-filterCheck">
                                                            <input type="checkbox" name="fundSize" value="Above 10000 Cr" data-fundsize=">10000">
                                                            <span class="checkbox-wrap"></span>
                                                            Above 10000 Cr
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-tags-wrap">
                    <div class="clear-btn-wrap">
                        <a href="javascript:void(0);" class="clear-all-btn js-clearAll">Clear All</a>
                    </div>
                    <div class="amc-filter-tag-box">
                        <ul class="filter-tags js-FilterSlide js-AmcFilterSlideInit">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="compare-box js-compareBox d-none">
            <p>Compare Upto 3 Funds</p>
            <div class="compare-btns-wrap">
                <div class="compare-box-item" data-compareselect="1" data-select-modal="searchFund-modal-1">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-1">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-1">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span>Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span>Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                            data-target="#searchFund-modal-1" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item" data-compareselect="2" data-select-modal="searchFund-modal-2">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-2">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-2">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span>Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span>Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                            data-target="#searchFund-modal-2" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item" data-compareselect="3" data-select-modal="searchFund-modal-3">
                    <div class="compare-choose-wrap">
                        <div class="compare-btn-choose custom-dropdown js-chooseCompareBtn">
                            <div class="dropdown-button js-filterBtn" data-filter="choose-item-3">
                                <a href="javascript:void(0);">Choose a mutual Fund</a>
                            </div>
                            <div class="dropdown-card rating-filter-card" data-filter-card="choose-item-3">
                                <ul class="dropdown-list-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchwatchlist="watchListBtn"><span class="icon-plus icon"></span>Add from Watchlist</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="jsWhiteBackdrop jsModalOverflowHide" data-fetchportfolio="portfolioBtn"><span class="icon-plus icon"></span>Add from Portfolio</a>
                                    </li>
                                    <li class="link-with-icon">
                                        <a href="javascript:void(0);" data-popovermodal="compare-popover"
                                            data-target="#searchFund-modal-3" class="jsOpenModal jsWhiteBackdrop"><span
                                                class="icon-search icon"></span> Search Fund to Compare</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="compare-btn-selected dropdown-button js-selectedCompareBtn d-none">
                            <span class="text-wrap">Quant Large Cap Funds - (G)</span>
                            <a href="javascript:void(0);" class="remove-compare js-removeCompare"><span
                                    class="icon-close"></span></a>
                        </div>
                    </div>
                </div>
                <div class="compare-box-item">
                    <div class="compare-cancel-wrap">
                        <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100" id="compareFunds">
                            compare funds
                        </a>
                        <a href="javascript:void(0);" class="cancele-compare-btn link-yellow js-cancelCompare">
                            cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- desktop filter -->

<!-- search fund modal -->
<div class="popover-modal search-fund-modal fade" id="searchFund-modal-1">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input data-search="fund" type="text" class="form-control typeahead" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popover-modal search-fund-modal fade" id="searchFund-modal-2">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input data-search="fund" type="text" class="form-control typeahead" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popover-modal search-fund-modal fade" id="searchFund-modal-3">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close">
                    <i class="icon-close"></i>
                </button>
                <div class="modal-body-inner3">
                    <div class="modal-search-wrap">
                        <div class="modal-search-input" id="jsMutualFundSearchTypehead">
                            <a href="javascript:void(0);" class="search-btn"><span class="icon-search"></span></a>
                            <input data-search="fund" type="text" class="form-control typeahead" placeholder="Search Funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search fund modal -->
<!--adobe analytics 31,74,106,175,223,488,563-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.amc-details-filter-box'}"></sly>
</sly>