<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.about-purpose-pillar-box'}"></sly>
</sly>

<section class="why-monefy-box purpose-pillar-box">
    <div class="container">
        <div class="heading-with-view heading-lg-left">
            <h2>${properties.heading}</h2>
            <sly data-sly-test="${properties.button}">
                <a href="${properties.buttonLink}" target="${properties.buttontnTarget ? '_blank':''}"
                    class="btn-view-all">${properties.button}<span class="icon-arrow-right"></span></a>
            </sly>
        </div>
        <div class="list-why-monefy slider-dots slider-arrows flex-slider" id="purposePillarSlider">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='purposePillarListMultifield'}">
                    <sly data-sly-list.purposePillarList="${item.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${purposePillarList.image}" alt="" />
                                </div>
                                <h5>${purposePillarList.imageHeading}</h5>
                                ${purposePillarList.imageDescription @context='html'}
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.about-purpose-pillar-box'}"></sly>
</sly>