<!-- FOOTER -->
<footer class="footer" data-footertop="footerTop">
    <div class="scroll-to-top jsBackToTop">
        <span class="icon-arrow-top"></span>
    </div>
    <!-- mobile footer about us -->
    <div class="footer-mob-link">
        <div class="container">
            <ul class="footer-links footer-link-bold footerTop">
                <sly data-sly-use.rightMenulist="${currentStyle.path}" data-sly-list="${rightMenulist.listChildren}">
                    <sly data-sly-test="${item.name=='footerlinkBold'}">
                        <sly data-sly-list.footerRightMenu="${item.children}">
                            <li>
                                <a href="${footerRightMenu.boldlink}"
                                    target="${footerRightMenu.boldlinkNewTab}">${footerRightMenu.boldtitle}</a>
                            </li>
                        </sly>
                    </sly>
                </sly>
            </ul>
        </div>
    </div>
    <!-- mobile footer about us -->

    <div class="top-footer">
        <div class="container">
            <div class="footer-top-inner">
                <div class="footer-top-left">
                    <a href="${currentStyle.loglink}" class="footer-logo">
                        <img src="${currentStyle.logo}" alt="" />
                    </a>
                    <ul class="list-footer-details footerTop">
                        <sly data-sly-use.navbarlist="${currentStyle.path}" data-sly-list="${navbarlist.listChildren}">
                            <sly data-sly-test="${item.name=='footerDetails'}">
                                <sly data-sly-list.footerDetailslist="${item.children}">
                                    <li>
                                        <span class="${footerDetailslist.selectIcon} footer-icon"></span>
                                        <sly data-sly-test="${!footerDetailslist.detailslink}">
                                            ${footerDetailslist.detailHeading}
                                        </sly>
                                        <sly data-sly-test="${footerDetailslist.detailslink}">
                                            <a href="${footerDetailslist.detailslink}"
                                                target="${footerDetailslist.detailslinkNewTab ? '_blank' : ''}">${footerDetailslist.detailHeading}</a>
                                        </sly>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                    <div class="app-store-link d-flex d-lg-none" data-fappstorelink="footerAppStoreLink">
                        <a href="https://apps.apple.com/in/app/tata-capital-moneyfy/id1479549912" target="_blank"
                            data-id-app="app_store"><img src="/content/dam/tata-capital-moneyfy/home-page/app-store.png"
                                alt="" /></a>
                        <a href="https://play.google.com/store/apps/details?id=com.tatacapital.moneyfy&hl=en"
                            target="_blank" data-id-app="google_play"><img
                                src="/content/dam/tata-capital-moneyfy/home-page/app-google.png" alt="" /></a>
                    </div>
                    <div class="d-block d-md-none">
                        <ul class="list-socials">
                            <sly data-sly-use.socialMedia="${currentStyle.path}"
                                data-sly-list="${socialMedia.listChildren}">
                                <sly data-sly-test="${item.name == 'socialMedia'}">
                                    <sly data-sly-list.socialMedialist="${item.children}">
                                        <li>
                                            <a href="${socialMedialist.socialMediaLink}"
                                                target="${socialMedialist.sociallinknewtab ? '_blank' : ''}">
                                                <span class="${socialMedialist.selectIcon}"></span>
                                            </a>
                                        </li>
                                    </sly>
                                </sly>
                            </sly>
                        </ul>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="flex-row flex-row6" id="footer-accordian">
                        <div class="flex-row-col">
                            <div class="footer-right-menu">
                                <div class="footer-heading-bottom">
                                    <ul class="footer-links footer-link-bold footerTop">
                                        <sly data-sly-use.rightMenulist="${currentStyle.path}"
                                            data-sly-list="${rightMenulist.listChildren}">
                                            <sly data-sly-test="${item.name=='footerlinkBold'}">
                                                <sly data-sly-list.footerRightMenu="${item.children}">
                                                    <li>
                                                        <a href="${footerRightMenu.boldlink}"
                                                            target="${footerRightMenu.boldlinkNewTab}">${footerRightMenu.boldtitle}</a>
                                                    </li>
                                                </sly>
                                            </sly>
                                        </sly>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <sly data-sly-use.rightMenulist="${currentStyle.path}"
                            data-sly-list="${rightMenulist.listChildren}">
                            <sly data-sly-test="${item.name=='footerRightMenu'}">
                                <sly data-sly-list.footerRightMenu="${item.children}">
                                    <div
                                        class="flex-row-col ${footerRightMenu.restrictPartner ? 'restricted-partner' : ''}">
                                        <div class="footer-right-menu">
                                            <sly data-sly-test="${footerRightMenu.title}">
                                                <div class="footer-heading-top">
                                                    <h5>${footerRightMenu.title}</h5>
                                                </div>
                                            </sly>
                                            <div class="footer-heading-bottom">
                                                <ul class="footer-links footerTop">
                                                    <sly data-sly-list="${footerRightMenu.children}">
                                                        <sly data-sly-test="${item.name=='submenu'}">
                                                            <sly data-sly-list.subMenu="${item.children}">
                                                                <li>
                                                                    <sly data-sly-test="${!subMenu.activeTag}">
                                                                        <a href="${subMenu.sublink}"
                                                                            target="${subMenu.sublinkNewTab ? '_blank' : ''}">${subMenu.subtitle}
                                                                            <sly
                                                                                data-sly-test="${subMenu.smallCaseImg}">
                                                                                <small class="powered-by">powered by
                                                                                    <img src="${subMenu.smallCaseImg}"
                                                                                        alt=""></small>
                                                                            </sly>
                                                                        </a>
                                                                    </sly>
                                                                    <!-- <sly data-sly-test="${subMenu.activeTag}">
                                                                        <a href="${subMenu.sublink}" target="${subMenu.sublinkNewTab ? '_blank' : ''}" class="bold">${subMenu.subtitle}</a>
                                                                    </sly> -->
                                                                </li>
                                                            </sly>
                                                        </sly>
                                                    </sly>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </sly>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="flex-row flex-row3 align-items-center">
                <div class="flex-row-col">
                    <ul class="footer-links">
                        <sly data-sly-use.footerBottom="${currentStyle.path}"
                            data-sly-list="${footerBottom.listChildren}">
                            <sly data-sly-test="${item.name == 'footerBottomLinks'}">
                                <sly data-sly-list.footerBottomlist="${item.children}">
                                    <li>
                                        <a href="${footerBottomlist.footerBottomlink}"
                                            target="${footerBottomlist.footerBottomlinkNewTab}">${footerBottomlist.linkHeading}</a>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                </div>
                <div class="flex-row-col d-none d-md-block">
                    <ul class="list-socials">
                        <sly data-sly-use.socialMedia="${currentStyle.path}"
                            data-sly-list="${socialMedia.listChildren}">
                            <sly data-sly-test="${item.name == 'socialMedia'}">
                                <sly data-sly-list.socialMedialist="${item.children}">
                                    <li>
                                        <a href="${socialMedialist.socialMediaLink}"
                                            target="${socialMedialist.sociallinknewtab ? '_blank' : ''}">
                                            <span class="${socialMedialist.selectIcon}"></span>
                                        </a>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                </div>
                <div class="flex-row-col">
                    ${currentStyle.footercopyright @context = 'html'}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

<!-- start login modal slider 3-2-2022-->
<div class="popover-modal fade login-modal-popup" id="login-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered ">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner">
                    <div class="modal-title-block">
                        <h5>Login To</h5><a href="#"><img src="/content/dam/tata-capital-moneyfy/site-logo-modal.png"
                                alt="Site logo"></a>
                    </div>
                    <div class="modal-login-slider">
                        <div id="jsLoginModalSlider" class="slider-dots">
                            <div class="modal-slide">
                                <div class="modal-slide-image">
                                    <img src="/content/dam/tata-capital-moneyfy/modal-image-1.png" alt="">
                                </div>
                                <h5>Hassle free registration & <br />
                                    KYC journey</h5>
                            </div>
                            <div class="modal-slide">
                                <div class="modal-slide-image">
                                    <img src="/content/dam/tata-capital-moneyfy/modal-image-2.png" alt="">
                                </div>
                                <h5>Identify Top Mutual Funds</h5>
                            </div>
                            <div class="modal-slide">
                                <div class="modal-slide-image">
                                    <img src="/content/dam/tata-capital-moneyfy/modal-image-3.png" alt="">
                                </div>
                                <h5>Invest & Track <br />
                                    your Investment Portfolio</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-button">
                        <button type="button" class="btn-blue btn-yellow radius100 btn-shadow"
                            data-login="true">Login/Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login modal slider 3-2-2022-->

<!-- start notification modal -->
<div class="popover-modal fade notification-modal" id="notification-modal">
    <div class="navigate-info">
        <div class="navigate-indicator">
            <img src="/content/dam/tata-capital-moneyfy/navigate-indicator.png" alt="indicator icon">
        </div>
        <p>Click the “Allow” button to receive notifications</p>
    </div>
    <div class="popover-modal-dialog popover-modal-dialog-centered">
        <div class="popover-modal-content">
            <div class="popover-modal-body">
                <button class="popover-modal-close js-notificationClose"><i class="icon-close"></i></button>
                <div class="modal-body-inner">
                    <div class="modal-main-icon">
                        <img src="/content/dam/tata-capital-moneyfy/notification-modal-icon.png" alt="bell icon">
                    </div>
                    <div class="modal-texts">
                        <h3 class="modal-title">Stay updated</h3>
                        <p>We're constantly crafting offers and deals for you. Get delivered straight to your device
                            through website notifications.</p>
                        <p class="highlighted-text">All you have to do is click on “Allow”.</p>
                    </div>
                    <!--/* <div class="modal-buttons">
                        <button type="button" class="btn-modal btn-blue btn-modal btn-yellow radius100 btn-shadow"
                            data-allow="true" id="js-notificationAllow">Allow</button>
                        <button type="button" class="btn-modal btn-outline-white js-notificationClose">Later</button>
                    </div> */-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end notification modal -->

<!-- successfully added to watchlist popup -->
<div class="popover-modal fade all-primary-modal" id="watchlist-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered">
        <div class="popover-modal-content">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close"><i class="icon-close"></i></button>
                <div class="modal-body-inner">
                    <div class="modal-main-icon">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/success-ticks.svg"
                            class="watchListError" alt="">
                    </div>
                    <div class="modal-texts">
                        <h3 class="modal-title" id="addWatchlistMsg">Fund added to your watchlist</h3>
                        <p class="watchListError">Now keep a track on your favourite fund</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- successfully added to watchlist popup -->

<!-- already added to watchlist popup -->
<div class="popover-modal fade contribute-modal" id="watchListExistPopup">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-watchlistModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center added-watchlist-modal">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/add-watchlist.svg" alt="">
                        <h5>Fund is already added to watchlist</h5>
                        <p>Go to the watchlist page to remove a fund from the list.</p>
                        <div class="mg-t20">
                            <a href="javascript:void(0);" id="viewWatchList" class="btn-blue radius100">View
                                watchlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- already added to watchlist popup -->

<!-- start check credit modal -->
<div class="popover-modal fade contribute-modal" id="menupopup_2">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        <p>Insurance is brought to you by Tata Capital Financial Services Limited(IRDA Registration No
                            CA0076). By agreeing to proceed, you provide consent for our representative to contact you.
                        </p>


                        <a href="/content/tata-capital-moneyfy/en/insurance.html" class="btn-blue radius100">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popover-modal fade contribute-modal" id="menupopup_3">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        <p>Home Loans are brought to you by Tata Capital Housing Finance Limited(TCHFL).All other Loans
                            are brought to you by Tata Capital Financial Services Limited (TCFSL).All loans are at the
                            sole discretion of TCHFL and TCFSL respectively.Terms and conditions apply.</p>
                        <a href="/content/tata-capital-moneyfy/en/loans.html" class="btn-blue radius100">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popover-modal fade contribute-modal" id="submenuLoansCards_popup">
        <!--/* <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
            <div class="popover-modal-content radius10">
                <div class="popover-modal-body">
                    <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                            class="icon-close"></i></button>
                    <div class="modal-body-inner3">
                        <div class="terms-text text-center js-termsBox" id ="submenuLoansCards_popup_href">
                            <p>You will now be redirected to the Tata Capital Website www.tatacapital.com.<br>  
                            By proceeding, you are acknowledging the above & accepting the Terms and Conditions as specified here.</p>  
                            <a data-href="#" class="btn-blue radius100">OK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> */-->
</div>

<!-- start logout modal 16-3-2022-->
<div class="popover-modal fade all-primary-modal" id="logout-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered">
        <div class="popover-modal-content">
            <div class="popover-modal-body">
                <div class="modal-body-inner logout-modals">
                    <div class="modal-main-icon">
                        <img src="/content/dam/tata-capital-moneyfy/logout.svg" alt="">
                    </div>
                    <div class="modal-texts">
                        <h5>Are you sure you want to logout?</h5>
                        <div class="logout-btn">
                            <button type="button" class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite"
                                data-dismiss="popover-modal">Cancel</button>
                            <button type="button" class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite"
                                data-logout="true">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- end logout modal 16-3-2022-->
</div>
<!-- end logout modal 16-3-2022-->

<!-- wishlist fund modal -->
<div class="popover-modal wishlist-modal fade" id="addFromWishList">
    <div class="popover-modal-dialog popover-modal-lg2">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-closeCompareModel js-modalClose">
                    <i class="icon-close"></i>
                </button>
                <!-- modal with no data -->
                <div class="modal-body-inner3" data-watchlist="false">
                    <div class="wishlist-body">
                        <h4 class="text-center">Compare funds from watchlist</h4>
                        <div class="no-wishlist-wrap">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/money-bag.png" alt="">
                            <p><b>No funds are added to watchlist</b></p>
                            <p>Add your favourate funds to watchlist to keep them handy</p>
                            <div class="btn-wrap">
                                <a href="javascript:void(0);" data-portfolio="watchlist-popover"
                                    class="btn btn-blue btn-yellow radius100">
                                    Add From Portfolio
                                </a>
                                <a href="javascript:void(0);" data-search="watchlist-popover" class="btn-view-all">
                                    Search Fund to Compare
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal with no data -->

                <!-- modal with data -->
                <div class="modal-body-inner3" data-watchlist="true">
                    <div class="wishlist-body">
                        <h4 class="text-center">Compare funds from watchlist</h4>
                        <div class="search-count-box">
                            <div class="search-wrap">
                                <div class="fund-search-lists">
                                    <div class="search-lists-box">
                                        <div class="header-search" id="jsSearchTypehead">
                                            <input type="text" data-search="watchlist-portfolio"
                                                class="form-control typeahead" placeholder="Search for Mutual funds...">
                                            <a href="javascript:void(0)" class="search-btn">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fund-add-count">
                                <p>Funds Added to Compare
                                    <span class="count-wrap d-none d-lap-block">
                                        0<span class="js-fundCount">0</span>/03
                                    </span>
                                    <span class="count-wrap d-mob-none">
                                        0<span class="js-fundCount">0</span>/02
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="wishlist-fund-list wishlist-mCustomScrollbar" id="fetchFromWatchlist">
                        </div>

                        <div class="btn-wrap">
                            <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100 js-compareFunds js-modalClose"
                                data-dismiss="popover-modal">
                                Add to Compare
                            </a>
                        </div>
                    </div>
                </div>
                <!-- modal with data -->
            </div>
        </div>
    </div>
</div>
<!-- wishlist fund modal -->

<!-- portfolio fund modal -->
<div class="popover-modal wishlist-modal fade" id="addFromPortfolio">
    <div class="popover-modal-dialog popover-modal-lg2">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-closeCompareModel js-modalClose">
                    <i class="icon-close"></i>
                </button>
                <!-- modal with no data -->
                <div class="modal-body-inner3" data-portfolio="false">
                    <div class="wishlist-body">
                        <h4 class="text-center">Compare funds from portfolio</h4>
                        <div class="no-wishlist-wrap">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/money-bag.png" alt="">
                            <p><b>No funds are added to portfolio</b></p>
                            <p>Add your favourate funds to portfolio to keep them handy</p>
                            <div class="btn-wrap">
                                <a href="javascript:void(0);" data-watchlist="portfolio-popover"
                                    class="btn btn-blue btn-yellow radius100">
                                    Add From Watchlist
                                </a>
                                <a href="javascript:void(0);" data-search="portfolio-popover" class="btn-view-all">
                                    Search Fund to Compare
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal with no data -->

                <!-- modal with data -->
                <div class="modal-body-inner3" data-portfolio="true">
                    <div class="wishlist-body">
                        <h4 class="text-center">Compare funds from portfolio</h4>
                        <div class="search-count-box">
                            <div class="search-wrap">
                                <div class="fund-search-lists">
                                    <div class="search-lists-box">
                                        <div class="header-search" id="jsSearchTypehead">
                                            <input type="text" data-search="watchlist-portfolio"
                                                class="form-control typeahead" placeholder="Search for Mutual funds...">
                                            <a href="javascript:void(0)" class="search-btn">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fund-add-count">
                                <p>Funds Added to Compare
                                    <span class="count-wrap d-none d-lap-block">
                                        0<span class="js-fundCount">0</span>/03
                                    </span>
                                    <span class="count-wrap d-mob-none">
                                        0<span class="js-fundCount">0</span>/02
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="wishlist-fund-list wishlist-mCustomScrollbar" id="fetchFromPortfolio">
                        </div>

                        <div class="btn-wrap">
                            <a href="javascript:void(0);" class="btn btn-blue btn-yellow radius100 js-compareFunds js-modalClose"
                                data-dismiss="popover-modal">
                                Add to Compare
                            </a>
                        </div>
                    </div>
                </div>
                <!-- modal with data -->
            </div>
        </div>
    </div>
</div>
<!-- portfolio fund modal -->
