<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.iho-banner-box'}"></sly>
</sly>

<section class="banner-box mutual-fund-banner iho-banner-box">
    <div class="banner-slider">
        <div class="banner-image">
            <div class="banner-caption">
                <div class="container">
                    <div class="banner-inner new-banner-inner">
                        <div class="banner-left">
                            <h6 class="text-blue mg-b10i">${properties.ihoTitle}</h6>
                            <h1>${properties.ihoHeading}</h1>
                            ${properties.ihoDescription @context='html'}
                            <sly data-sly-test="${properties.ihoBtn}">
                                <div class="btn-wrap">
                                    <sly data-sly-test="${properties.popdescription}">
                                        <a href="${properties.ihoBtnLink}" target="${properties.ihoBtnTarget ? '_blank':''}"
                                            class="btn-blue radius100 jsOpenModal" data-popovermodal="popover-modal" data-target="#iho-schemes-modal">${properties.ihoBtn}</a>
                                    </sly>
                                    <sly data-sly-test="${!properties.popdescription}">
                                        <a href="${properties.ihoBtnLink}" target="${properties.ihoBtnTarget ? '_blank':''}"
                                            class="btn-blue radius100">${properties.ihoBtn}</a>
                                    </sly>
                                </div>
                            </sly>
                        </div>
                        <sly data-sly-test="${properties.ihoImg}">
                            <div class="banner-right">
                                <img src="${properties.ihoImg}" alt="" class="w-100">
                            </div>
                        </sly>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

 <!-- benefits-modal -->
 <div class="popover-modal fade contribute-modal" id="iho-schemes-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
      <div class="popover-modal-content radius10">
        <div class="popover-modal-body">            
          <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i class="icon-close"></i></button>
          <div class="modal-body-inner3">
            <div class="terms-text text-center benefits-modal">
             ${properties.popdescription @context="html"}
              <div class="mg-t20">
                <a href="${properties.btnLink}" target="${properties.newTab}" class="btn-blue radius100">${properties.redirectionbuttonTitle}</a>
              </div>                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end benefits modal -->