.why-monefy-box {
  padding: 60px 0 25px;
}
.why-monefy-box.why-moneyfy-benefits {
  padding-bottom: 60px;
}
.why-monefy-box h2 {
  margin-bottom: 30px;
}
.why-monefy-box .list-why-monefy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.why-monefy-box .list-why-monefy .why-monefy-li {
  width: 33.33%;
}
.why-monefy-box .why-monefy-col {
  text-align: center;
  padding: 0 35px 50px;
}

.moneyfy-customer{
  background-color: white !important;
}
.why-monefy-box .why-monefy-col .monefy-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F6F9FB;
  margin: 0 auto 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-monefy-box .why-monefy-col h5 {
  margin-bottom: 4px;
}
.why-monefy-box .why-monefy-col p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
/* .why-monefy-box.why-moneyfy-category {
  background-color: #E9F0F7;
} */
.why-monefy-box.small-case-moneyfy {
  background-color: #E9F0F7;
  padding-bottom: 25px;
}
.why-monefy-box.small-case-moneyfy h2 {
  margin-bottom: 15px;
}
.why-monefy-box.small-case-moneyfy .text-with-paras {
  margin-bottom: 30px;
  text-align: center;
}
.why-monefy-box.life-insurance-moneyfy .list-why-monefy .why-monefy-li {
  width: 25%;
}

.steps-to-invest {
  padding: 70px 0;
}
.steps-to-invest .list-why-monefy {
  background-image: url("../img/steps-line.png");
  background-repeat: no-repeat;
  background-position-y: 23px;
  background-position-x: center;
  background-size: 85%;
}
.steps-to-invest .list-why-monefy .why-monefy-li {
  width: 20%;
}
.steps-to-invest .list-why-monefy .why-monefy-col {
  padding: 0 10px 50px;
}
.steps-to-invest .list-why-monefy.four-steps {
  background-image: url("../img/digiGold-step-line.png");
  background-size: 75%;
  background-position-y: 20px;
}
.steps-to-invest .list-why-monefy.four-steps .why-monefy-li {
  width: 25%;
}
.steps-to-invest .invest-now-btn {
  padding: 16px 30px;
  margin-right: 0;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
}

.nps-steps-wrap {
  padding: 75px 0 70px;
}
.nps-steps-wrap .sub-head {
  margin-bottom: 15px;
}
.nps-steps-wrap .list-why-monefy {
  background-image: url("../img/steps-line.png");
  background-repeat: no-repeat;
  background-position-y: 23px;
  background-position-x: center;
  background-size: 72%;
  justify-content: space-between;
}
.nps-steps-wrap .list-why-monefy .why-monefy-li {
  max-width: 265px;
}
.nps-steps-wrap .list-why-monefy .why-monefy-col {
  padding: 0 10px 50px;
}
.nps-steps-wrap .btn-blue {
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
}
.nps-steps-wrap .have-account-text {
  font-size: 17px;
  line-height: 28px;
  color: #666666;
  margin-top: 20px;
}
.nps-steps-wrap .have-account-text a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
  display: inline-block;
  text-decoration: none;
}
.nps-steps-wrap .have-account-text a i {
  font-size: 10px;
}

.corporate-fd-benefits-box {
  background-color: #E9F0F7;
  padding: 70px 0 85px;
}

.corporate-fd-steps-wrap {
  padding-bottom: 0;
  position: relative;
}
.corporate-fd-steps-wrap .corporate-fd-bg {
  position: absolute;
  max-width: 180px;
  opacity: 0.1;
  bottom: 0;
  transform: translateY(50%);
}
.corporate-fd-steps-wrap .list-why-monefy .why-monefy-li {
  max-width: 307px;
}
.corporate-fd-steps-wrap .btn-wrap .invest-btn {
  margin-right: 20px;
}

.choose-stp-box {
  background-color: #E9F0F7;
  padding: 70px 0 80px;
}
.choose-stp-box .head-wrap {
  text-align: center;
  max-width: 960px;
  margin: 0 auto 25px;
}
.choose-stp-box .head-wrap h2 {
  margin-bottom: 10px;
}
.choose-stp-box .list-why-monefy .why-monefy-li {
  width: 20%;
}
.choose-stp-box .list-why-monefy .why-monefy-col {
  padding: 0 25px;
}

.purpose-pillar-box {
  background-color: #E9F0F7;
  padding: 70px 0 75px;
}
.purpose-pillar-box .heading-with-view {
  text-align: center;
}
.purpose-pillar-box .heading-with-view h2 {
  margin-bottom: 40px;
}

.our-leadership-box .heading-with-view {
  text-align: center;
}

.about-data-box {
  padding-top: 50px;
  padding-bottom: 0;
}
.about-data-box .list-why-monefy .why-monefy-li {
  width: 25%;
}
.about-data-box .about-data-inner {
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  padding-top: 50px;
}

.having-info-buttons {
  text-align: center;
}
.having-info-buttons .btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.having-info-buttons .btn-wrap .btn-blue {
  margin: 0 10px;
}
.having-info-buttons .have-account-text {
  font-size: 17px;
  line-height: 28px;
  color: #666666;
  margin-top: 20px;
}
.having-info-buttons .have-account-text a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
  display: inline-block;
  text-decoration: none;
}
.having-info-buttons .have-account-text a i {
  font-size: 10px;
}

@media (min-width: 767px) {
  .nps-benefits-box {
    padding-top: 70px;
  }
  .nps-benefits-box .list-why-monefy {
    margin-top: -50px;
  }
  .nps-benefits-box .why-monefy-col {
    text-align: center;
    padding: 50px 35px 0px;
  }
  .nps-benefits-box .why-monefy-col h5 {
    font-size: 19px;
  }
}
@media (max-width: 1199px) {
  .why-monefy-box .why-monefy-col {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .why-monefy-box {
    padding-top: 45px;
  }
  .why-monefy-box .why-monefy-col {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
  }
  .why-monefy-box.why-moneyfy-benefits {
    padding-bottom: 45px;
  }
  .why-monefy-box.life-insurance-moneyfy .list-why-monefy .why-monefy-li {
    width: 33.33%;
  }

  .steps-to-invest {
    padding: 45px 0;
  }
  .steps-to-invest .list-why-monefy h5 {
    font-size: 17px;
    line-height: 27px;
  }

  .choose-stp-box {
    padding: 45px 0 50px;
  }
  .choose-stp-box h5 br {
    display: none;
  }

  .purpose-pillar-box .heading-with-view h2, .our-leadership-box .heading-with-view h2 {
    text-align: left;
  }

  .about-data-box {
    padding-top: 20px;
  }
  .about-data-box .about-data-inner {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .why-monefy-box {
    padding-bottom: 50px;
  }
  .why-monefy-box.why-moneyfy-category .list-why-monefy:before {
    background-color: #E9F0F7;
  }
  .why-monefy-box.small-case-moneyfy {
    padding-bottom: 5px;
  }
  .why-monefy-box.small-case-moneyfy h2 {
    margin-bottom: 10px;
  }
  .why-monefy-box.small-case-moneyfy .text-with-paras {
    margin-bottom: 35px;
  }
  .why-monefy-box.small-case-moneyfy .text-with-paras p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .why-monefy-box.small-case-moneyfy .list-why-monefy:before {
    background-color: #E9F0F7;
  }
  .why-monefy-box.why-moneyfy-benefits h2 {
    text-align: left !important;
  }
  .why-monefy-box.why-moneyfy-benefits .list-why-monefy {
    padding-bottom: 20px;
  }
  .why-monefy-box.why-moneyfy-benefits .list-why-monefy:before {
    content: none;
  }
  .why-monefy-box.why-moneyfy-benefits .why-monefy-col {
    position: relative;
    padding-left: 78px;
    margin-bottom: 23px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-left: none;
  }
  .why-monefy-box.why-moneyfy-benefits .why-monefy-col .monefy-img {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .why-monefy-box .list-why-monefy {
    display: block;
    position: relative;
  }
  .why-monefy-box .list-why-monefy:before {
    content: "";
    width: 2px;
    height: auto;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
  }
  .why-monefy-box .list-why-monefy .why-monefy-li {
    width: auto;
  }
  .why-monefy-box .list-why-monefy .slick-track {
    padding-bottom: 25px;
  }
  .why-monefy-box .why-monefy-col {
    text-align: left;
    padding: 0 20px;
    border-left: 1px solid rgba(122, 204, 255, 0.3);
  }
  .why-monefy-box .why-monefy-col .monefy-img {
    width: 60px;
    height: 60px;
    margin: 0 0 12px;
  }
  .why-monefy-box .why-monefy-col .monefy-img img {
    max-width: 30px;
  }
  .why-monefy-box .why-monefy-col p {
    font-size: 12px;
    line-height: 18px;
  }
  .why-monefy-box.corporate-fd-benefits-box .list-why-monefy:before {
    display: none;
  }
  .why-monefy-box.corporate-fd-benefits-box .why-monefy-col {
    border-left: 0;
    text-align: center;
    padding: 0 10px;
  }
  .why-monefy-box.corporate-fd-benefits-box .why-monefy-col .monefy-img {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
  }
  .why-monefy-box.corporate-fd-benefits-box .why-monefy-col h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .steps-to-invest {
    padding: 45px 0;
  }
  .steps-to-invest .list-why-monefy {
    background-image: none;
  }
  .steps-to-invest .list-why-monefy:before {
    background-color: transparent !important;
    opacity: 0.5;
    border-left: 1px dashed #2C6EB5;
    width: 1px;
    height: 75%;
    top: 30px;
    left: 30px;
    z-index: 0;
  }
  .steps-to-invest .list-why-monefy h5 {
    font-size: 16px;
  }
  .steps-to-invest .list-why-monefy .why-monefy-li {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .steps-to-invest .list-why-monefy .why-monefy-col {
    border-left: 0;
    padding-left: 80px;
    padding-bottom: 40px;
  }
  .steps-to-invest .list-why-monefy .why-monefy-col .monefy-img {
    position: absolute;
    left: 0;
  }
  .steps-to-invest .list-why-monefy.four-steps {
    background-image: none;
  }
  .steps-to-invest .list-why-monefy.four-steps .why-monefy-li {
    width: 100%;
    min-height: 100px;
  }

  .nps-steps-wrap {
    padding: 35px 0;
  }
  .nps-steps-wrap .sub-head {
    text-align: left;
  }
  .nps-steps-wrap h2 {
    margin-bottom: 25px;
  }
  .nps-steps-wrap .list-why-monefy {
    background-image: none;
    padding-right: 30px;
  }
  .nps-steps-wrap .list-why-monefy:before {
    background-color: transparent !important;
    opacity: 0.5;
    border-left: 1px dashed #2C6EB5;
    width: 1px;
    height: 65%;
    top: 30px;
    left: 30px;
    z-index: 0;
  }
  .nps-steps-wrap .list-why-monefy h5 {
    font-size: 12px;
    line-height: 18px;
    color: #606060;
    font-weight: 400;
  }
  .nps-steps-wrap .list-why-monefy .why-monefy-li {
    width: 100%;
    position: relative;
    z-index: 1;
    max-width: none;
    margin-bottom: 30px;
  }
  .nps-steps-wrap .list-why-monefy .why-monefy-col {
    border-left: 0;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }
  .nps-steps-wrap .list-why-monefy .why-monefy-col .monefy-img {
    position: static;
    min-width: 65px;
    width: 65px;
    height: 65px;
    margin-right: 20px;
  }
  .nps-steps-wrap .have-account-text {
    font-size: 12px;
    line-height: 20px;
  }
  .nps-steps-wrap .have-account-text span {
    display: block;
  }

  .having-info-buttons .have-account-text {
    font-size: 12px;
    line-height: 20px;
  }
  .having-info-buttons .have-account-text span {
    display: block;
  }
  .having-info-buttons .btn-wrap {
    display: block;
    max-width: 263px;
    margin: auto;
  }
  .having-info-buttons .btn-wrap .btn-blue {
    width: 100%;
    margin: 0 0 20px;
  }
  .having-info-buttons .btn-wrap .btn-blue:last-child {
    margin-bottom: 0px;
  }
  .having-info-buttons .btn-wrap .btn-blue.btn-blue-outline {
    border: 1px solid #2c6eb5;
  }

  .nps-benefits-box {
    padding: 35px 0 10px;
  }

  .corporate-fd-bg {
    display: none;
  }

  .corporate-fd-steps-wrap {
    padding-bottom: 0;
  }
  .corporate-fd-steps-wrap .btn-wrap .invest-btn {
    display: block;
    max-width: 265px;
    margin: 0 auto 10px;
  }
  .corporate-fd-steps-wrap .btn-wrap .btn-blue {
    box-shadow: none;
  }
  .corporate-fd-steps-wrap .heading-left-md h2, .corporate-fd-steps-wrap .heading-left-md h6 {
    padding-right: 0;
  }
  .corporate-fd-steps-wrap .heading-left-md h6 {
    margin-bottom: 5px;
  }
  .corporate-fd-steps-wrap .list-why-monefy h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333;
  }

  .choose-stp-box .list-why-monefy:before {
    display: none;
  }
  .choose-stp-box .list-why-monefy .why-monefy-col {
    border-left: 0;
    text-align: center;
    padding: 0 15px;
  }
  .choose-stp-box .list-why-monefy .why-monefy-col .monefy-img {
    margin: 0 auto 10px;
  }
  .choose-stp-box h5 {
    font-size: 14px;
    line-height: 21px;
  }

  .purpose-pillar-box .heading-with-view h2 {
    margin-bottom: 25px;
  }
  .purpose-pillar-box .heading-with-view .btn-view-all {
    display: none;
  }
  .purpose-pillar-box .list-why-monefy:before {
    background-color: #e9f0f7;
  }
  .purpose-pillar-box .slick-track {
    margin: 0 -10px;
  }
  .purpose-pillar-box .why-monefy-col {
    padding: 0 10px;
  }

  .about-data-box {
    padding-bottom: 0;
  }
  .about-data-box .why-monefy-col {
    border-left: 0;
    padding-left: 10px;
    padding-right: 35px;
  }

  .why-monefy-box.about-data-box .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .why-monefy-box.about-data-box .list-why-monefy .why-monefy-li {
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media (max-width: 359px) {
  .why-monefy-box .why-monefy-col {
    border-left: none;
    padding: 0px;
  }

  .about-data-box .why-monefy-col {
    padding-left: 10px;
    padding-right: 35px;
  }

  .purpose-pillar-box .why-monefy-col {
    max-width: 195px;
    padding: 0 20px;
    border-left: 1px solid rgba(122, 204, 255, 0.3);
  }
}

/*# sourceMappingURL=style.css.map */
