<!-- investment avenues box -->
<section class="investment-avenues-box">
    <div class="container invest-avenue">
        <div class="top-headings">
            <div class="top-inners">
                <h6>${properties.title}</h6>
                <h1 class="h2-class">${properties.heading}</h1>
            </div>

            <div class="inner-tab-outer">
                <ul class="list-investment-tabs js-investment-products-tabs" data-investmenttab="investmentTab">
                    <sly data-sly-list.data="${resource.children}">
                        <sly data-sly-test="${data.name == 'investmentList'}">
                            <sly data-sly-list.investmentListItems="${data.children}">
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="${investmentListItems.typeImage}" alt="" />
                                        ${investmentListItems.investmentType}
                                    </a>
                                </li>
                            </sly>
                        </sly>
                    </sly>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tab-contents js-investment-products-content slider-arrows slider-dots">
            <sly data-sly-list.data="${resource.children}">
                <sly data-sly-test="${data.name == 'investmentList'}">
                    <sly data-sly-list.investmentListItems="${data.children}">
                        <div>
                            <div class="tab-content-row">
                                <div class="tab-right">
                                    <img src="${investmentListItems.desktopImage}" alt="" class="d-none d-lg-block" />
                                    <img src="${investmentListItems.mobileImage}" alt="" class="d-block d-lg-none" />
                                </div>
                                <div class="tab-left" data-tableft="tabLeft">
                                    <h6>${investmentListItems.subTitle}</h6>
                                    <h3>${investmentListItems.subHeader}</h3>
                                    ${investmentListItems.description @ context='html'}
                                    <div class="tab-left-btn">
                                        <a href="${investmentListItems.btn1Link}" target="${investmentListItems.checkOne ? '_blank' : ''}" data-sly-test="${investmentListItems.buttonOne}" type="button" class="btn-blue radius100">
                                            ${investmentListItems.buttonOne}
                                        </a>
                                        <a href="${investmentListItems.btn2Link}" target="${investmentListItems.checkTwo ? '_blank' : ''}" data-sly-test="${investmentListItems.buttonTwo}" type="button" class="btn-blue btn-blue-outline radius100">
                                            ${investmentListItems.buttonTwo}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>