<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.faq-categories'}"></sly>
</sly>
<!-- faq category box -->
<section class="faq-category-box">
    <div class="container">
        <h1 class="h2-class">${properties.heading}</h1>
        <!-- <div class="faq-category-search" id="jsMutualFundSearchTypehead">
            <input type="text" class="form-control typeahead" placeholder="Type the keyword to find the answer">
            <a href="javascript:void(0)" class="search-btn d-none d-md-flex">
                <span class="icon-search"></span>
            </a>
            <a href="javascript:void(0)" class="search-btn d-flex d-md-none">
                <span class="icon-search"></span>
            </a>
        </div> -->

        <ul class="list-goal-base">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'categoriesList'}">
                    <sly data-sly-list.categoryList="${listItem.children}">
                        <li>
                            <a class="card-div list-goal" href="${categoryList.link}" target="${categoryList.newTab}">
                                <div class="list-goal-img">
                                    <img src="${categoryList.image}" alt=""
                                        class="goal-img">
                                    <img src="${categoryList.hoverImage}"
                                        alt="" class="goal-img-hover">
                                </div>
                                <h5>${categoryList.cardHeading}</h5>
                                ${categoryList.description @ context='html'}
                                <span class="btn-view-all">${categoryList.buttonTxt}<span class="icon-arrow-right"></span></span>
                            </a>
                        </li>
                    </sly>
                </sly>
            </sly>
        </ul>
    </div>
</section>
<!-- faq category box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.faq-categories'}"></sly>
</sly>