.insurance-partner-box {
  padding: 70px 0 80px;
}
.insurance-partner-box h2 {
  margin-bottom: 40px;
}

.insurance-partners-wrap {
  padding-bottom: 40px;
}
.insurance-partners-wrap img {
  max-height: 100px;
  margin: auto;
}
.insurance-partners-wrap .slick-track {
  display: flex;
  align-items: center;
}
.insurance-partners-wrap.slider-arrows .slick-next {
  margin-right: -115px;
}
.insurance-partners-wrap.slider-arrows .slick-prev {
  margin-left: -115px;
}

@media (max-width: 991px) {
  .insurance-partner-box {
    padding: 45px 0 50px;
  }
}
@media (max-width: 767px) {
  .insurance-partners-wrap {
    display: block;
    text-align: center;
  }
  .insurance-partners-wrap img {
    margin: 0 auto 50px;
  }
  .insurance-partners-wrap img:last-child {
    margin-bottom: 0;
  }
}
