@charset "UTF-8";
.calculator-box {
  padding: 70px 0 80px;
  background-color: #e9f0f7;
}
.calculator-box h2 {
  color: #333;
}
.calculator-box.calculator-dark-bg {
  background-color: #3174bc;
}
.calculator-box.calculator-dark-bg h2 {
  color: #fff;
}
.calculator-box.calculator-box-pd30 {
  padding: 30px 0 50px;
}

.calculator-inner {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.calculator-form-wrap {
  width: 58%;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  padding: 30px 20px;
}

.calculator-form .row {
  margin: 0 -15px;
}
.calculator-form .col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.calculator-form .label-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  color: #333333;
  display: inline-block;
  margin-bottom: 10px;
}
.calculator-form .textbox-box {
  margin-bottom: 25px;
  position: relative;
}
.calculator-form .textbox-box .error-msgs {
  padding-left: 0;
}

.input-textbox {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 21px;
}

.input-with-text {
  position: relative;
}
.input-with-text.prefix-text .input-text {
  left: 10px;
}
.input-with-text.prefix-text .input-textbox {
  padding-left: 25px;
}
.input-with-text.suffix-text .input-text {
  right: 10px;
}
.input-with-text.suffix-text .input-textbox {
  padding-right: 25px;
}
.input-with-text.year-input .input-textbox {
  padding-right: 50px;
}
.input-with-text .input-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  line-height: 21px;
}

.custom-range-slider-wrap {
  margin-top: -15px;
}
.custom-range-slider-wrap .custom-range-label {
  display: flex;
  justify-content: space-between;
}
.custom-range-slider-wrap .custom-range-label span {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.custom-range-slider-wrap .irs-min,
.custom-range-slider-wrap .irs-max,
.custom-range-slider-wrap .irs-single {
  display: none;
}
.custom-range-slider-wrap .irs-bar {
  background-color: #2c6eb5;
  left: 0;
  transition: all 0.2s;
}
.custom-range-slider-wrap .irs-handle {
  width: 22px;
  height: 22px;
  border-color: #2c6eb5;
  background-color: #d7df23;
  left: 0;
  transition: all 0.2s;
}
.custom-range-slider-wrap .irs-handle:hover {
  background-color: #d7df23;
}
.custom-range-slider-wrap .no-transition .irs-bar, .custom-range-slider-wrap .no-transition .irs-handle {
  transition: none;
}

.custom-border-radio {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 7px;
}
.custom-border-radio input[type=radio] {
  display: none;
}
.custom-border-radio input[type=radio]:checked ~ span {
  background-color: #2c6eb5;
  color: #fff;
}
.custom-border-radio span {
  min-width: 65px;
  height: 40px;
  display: inline-flex;
  border: 1px solid #2c6eb5;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2c6eb5;
  padding: 10px 25px;
}

.suggested-strategy-wrap {
  width: 42%;
  background-color: #fff;
  border-radius: 10px;
  margin: -15px 0;
  box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  padding: 40px 20px 35px;
}
.suggested-strategy-wrap h4 {
  margin-bottom: 24px;
}

.graph-investment-wrap {
  display: flex;
  margin-bottom: 20px;
}
.graph-investment-wrap .graph-wrap {
  padding-right: 20px;
  width: 130px;
}
.graph-investment-wrap .investment-interest-wrap {
  width: calc(100% - 130px);
  background-color: #e9f0f7;
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-graph-investment-wrap .investment-interest-wrap {
  width: 100%;
  padding: 24px 15px;
}
.no-graph-investment-wrap .investment-interest-wrap p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 3px;
}
.no-graph-investment-wrap .investment-interest-wrap .cover-wrap p, .no-graph-investment-wrap .investment-interest-wrap .cover-wrap h4 {
  margin-bottom: 0;
}

.text-money-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-money-wrap p {
  font-size: 13px;
  line-height: 19px;
  color: #333333;
  width: calc(100% - 165px);
}
.text-money-wrap p.bullet {
  position: relative;
  padding-left: 20px;
}
.text-money-wrap p.bullet:before {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 0;
}
.text-money-wrap p.bullet.blue-bullet::before {
  background-color: #2c6eb5;
}
.text-money-wrap p.bullet.green-bullet::before {
  background-color: #66cc99;
}
.text-money-wrap h6 {
  width: 165px;
  text-align: right;
  word-break: break-all;
  font-size: 16px;
}
.text-money-wrap.sum-amount {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
}

.investment-interest-wrap .plus-icon-wrap {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.investment-interest-wrap .plus-icon-wrap span {
  color: rgba(51, 51, 51, 0.5);
  width: 20px;
  height: 20px;
  background-color: #fff;
  font-size: 9px;
  line-height: 11px;
  padding: 6px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.investment-amount-list {
  margin-bottom: 30px;
}
.investment-amount-list .text-money-wrap {
  margin-bottom: 15px;
}
.investment-amount-list .text-money-wrap p {
  font-size: 12px;
  line-height: 22px;
  color: #606060;
}
.investment-amount-list .text-money-wrap h6 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

.start-investing-wrap {
  background-color: #d7df23;
  border-radius: 10px;
  padding: 15px 20px;
}
.start-investing-wrap p {
  font-size: 14px;
  line-height: 22px;
}
.start-investing-wrap .text-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.start-investing-wrap .text-btn-wrap h4 {
  margin-bottom: 0;
}
.start-investing-wrap .text-btn-wrap .btn-blue {
  padding: 11px 30px;
}
.start-investing-wrap .btn-wrap {
  margin-top: 20px;
  width: 100%;
}
.start-investing-wrap .btn-wrap .btn-blue {
  margin-right: 20px;
  padding: 11px 25px;
}
.start-investing-wrap .text-money-wrap {
  margin-bottom: 5px;
}
.start-investing-wrap .text-money-wrap p {
  font-size: 12px;
  line-height: 16px;
}
.start-investing-wrap .text-money-wrap h6 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

.strategy-graph-wrap {
  position: relative;
  pointer-events: none;
}
.strategy-graph-wrap .highcharts-pane {
  fill: #fff;
}

.strategy-graph-mb40 {
  margin-bottom: 40px;
}

.calculator-tab {
  position: relative;
}
.calculator-tab .list-yellow-tabs {
  position: absolute;
  top: 40px;
  left: 25px;
  background-color: #e9f0f7;
  border-radius: 50px;
  z-index: 1;
}
.calculator-tab .list-yellow-tabs a {
  padding: 16px 31px;
  margin: 0;
}
.calculator-tab .tab-container .calculator-form-wrap {
  padding-top: 135px;
}

.rupee-icon {
  margin-top: 0px;
}

.calculator-info-text {
  margin-top: 25px;
}

.date-birth-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}
.date-birth-row .date-birth-col {
  padding: 0 6px;
  width: 28%;
}
.date-birth-row .date-birth-col.date-col2 {
  width: 36%;
}
.date-birth-row .mCSB_inside > .mCSB_container {
  margin-right: 10px;
}
.date-birth-row .mCSB_scrollTools {
  right: -5px;
}
.date-birth-row .custom-dropdown.custom-dropdown-new .dropdown-button {
  min-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.date-birth-row .custom-dropdown.custom-dropdown-new .dropdown-button a:before {
  content: "";
  font-size: 11px;
}
.date-birth-row .custom-dropdown.custom-dropdown-new .dropdown-button.active a:before {
  content: "";
}
.date-birth-row .custom-dropdown.custom-dropdown-new .dropdown-list-menu {
  max-height: 200px;
}
.date-birth-row .custom-dropdown.custom-dropdown-new .dropdown-card:before {
  width: 45px;
}
.date-birth-row .custom-dropdown.custom-dropdown-new .dropdown-card-inner {
  padding: 10px 7px;
}

.year-month-toggle {
  position: relative;
}
.year-month-toggle .textbox-inner {
  max-width: 70px;
}
.year-month-toggle .year-month-button {
  position: absolute;
  left: 80px;
  top: 0;
  z-index: 1;
}
.year-month-toggle .yr-mth-btn {
  min-width: 90px;
  height: 40px;
  border: 1px solid #2C6EB5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #2C6EB5;
  background-color: #fff;
  margin-left: 5px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.year-month-toggle .yr-mth-btn:hover, .year-month-toggle .yr-mth-btn.active {
  background-color: #2C6EB5;
  color: #fff;
}

.insurance-text-money .text-money-wrap p {
  width: 165px;
}
.insurance-text-money .text-money-wrap .icon .path1:before {
  color: #C4C4C4;
}
.insurance-text-money .text-money-wrap h6 {
  width: calc(100% - 165px);
}

@media (max-width: 1199px) {
  .calculator-form-wrap {
    padding: 30px 20px;
  }

  .calculator-form .row {
    margin: 0 -10px;
  }
  .calculator-form .col-6 {
    padding: 0 10px;
  }
  .calculator-form .label-name {
    font-size: 12px;
  }

  .suggested-strategy-wrap {
    padding: 40px 20px 35px;
  }

  .graph-investment-wrap {
    flex-wrap: wrap;
  }
  .graph-investment-wrap .graph-wrap {
    width: 120px;
    margin-bottom: 20px;
  }
  .graph-investment-wrap .investment-interest-wrap {
    width: 100%;
  }

  .no-graph-investment-wrap .investment-interest-wrap {
    width: 100%;
  }

  .custom-border-radio span {
    padding: 10px 15px;
  }

  .year-month-toggle .yr-mth-btn {
    min-width: 75px;
    margin-left: 2px;
  }
}
@media (max-width: 991px) {
  .calculator-box {
    padding: 45px 0;
  }
  .calculator-box.calculator-box-pd30 {
    padding: 23px 0 30px;
  }

  .calculator-form-wrap {
    width: calc(100% - 16px);
    margin: auto;
    border-radius: 10px;
  }

  .suggested-strategy-wrap {
    width: 100%;
  }

  .calculator-form .label-name {
    font-size: 14px;
    line-height: 21px;
  }

  .strategy-graph-mb40 {
    margin-bottom: 25px;
  }

  .graph-investment-wrap .investment-interest-wrap {
    width: calc(100% - 120px);
  }

  .no-graph-investment-wrap .investment-interest-wrap {
    width: 100%;
  }

  .calculator-tab .list-yellow-tabs {
    top: 30px;
  }
  .calculator-tab .list-yellow-tabs a {
    padding: 11px 25px;
    font-size: 12px;
    line-height: 18px;
  }
  .calculator-tab .tab-container .calculator-form-wrap {
    padding-top: 90px;
  }

  .calculator-info-text {
    font-size: 14px;
    line-height: 22px;
    color: #606060;
  }

  .year-month-toggle .textbox-inner {
    max-width: 65px;
  }
  .year-month-toggle .yr-mth-btn {
    min-width: 85px;
    margin-left: 5px;
  }
}
@media (max-width: 767px) {
  .calculator-inner {
    margin-bottom: 35px;
  }

  .calculator-form-wrap {
    padding: 25px 20px;
  }

  .calculator-form .col-6 {
    width: 100%;
  }

  .custom-border-radio span {
    min-width: 70px;
    padding: 10px 20px;
  }

  .suggested-strategy-wrap {
    padding: 25px 20px;
  }

  .graph-investment-wrap .graph-wrap {
    padding-right: 15px;
    width: 110px;
  }
  .graph-investment-wrap .investment-interest-wrap {
    width: calc(100% - 110px);
  }

  .text-money-wrap p {
    width: calc(100% - 90px);
  }
  .text-money-wrap h6 {
    width: 90px;
  }

  .investment-interest-wrap .text-money-wrap {
    flex-wrap: wrap;
  }
  .investment-interest-wrap p {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .investment-interest-wrap h6 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .investment-interest-wrap .plus-icon-wrap span {
    width: 15px;
    height: 15px;
    padding: 4px;
    font-size: 7px;
    line-height: 10px;
  }

  .insurance-text-money .text-money-wrap p {
    width: 100%;
  }
  .insurance-text-money .text-money-wrap h6 {
    width: 100%;
    padding-left: 0;
  }

  .text-money-wrap p.bullet {
    padding-left: 15px;
  }
  .text-money-wrap p.bullet:before {
    width: 7px;
    height: 7px;
  }
  .text-money-wrap.sum-amount h6 {
    padding-left: 0;
  }

  .investment-amount-list {
    margin-bottom: 20px;
  }
  .investment-amount-list .text-money-wrap p {
    font-size: 11px;
    line-height: 16px;
  }
  .investment-amount-list .text-money-wrap h6 {
    width: 80px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  .start-investing-wrap p {
    font-size: 12px;
    line-height: 16px;
  }
  .start-investing-wrap .text-btn-wrap {
    justify-content: center;
  }
  .start-investing-wrap .text-btn-wrap .text-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .start-investing-wrap .text-btn-wrap .text-wrap h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .start-investing-wrap .text-btn-wrap .text-wrap p {
    margin-right: 5px;
  }
  .start-investing-wrap .text-btn-wrap .btn-blue {
    width: 100%;
    max-width: 155px;
    padding: 7px 10px;
  }
  .start-investing-wrap .btn-wrap {
    margin-top: 0;
  }
  .start-investing-wrap .btn-wrap .btn-blue {
    max-width: 110px;
    margin-right: 10px;
  }
  .start-investing-wrap .text-money-wrap p {
    color: #606060;
  }
  .start-investing-wrap .text-money-wrap h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .no-graph-investment-wrap .investment-interest-wrap {
    width: 100%;
  }
}
@media (max-width: 359px) {
  .year-month-toggle .yr-mth-btn {
    min-width: 69px;
    margin-left: 3px;
    font-size: 10px;
  }

  .graph-investment-wrap .investment-interest-wrap {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
.xf-content-height{
margin:0
}
.input-textbox:focus,
.country-code:focus {
  border: 1px solid #97BEE9;
  outline: none;
}
.calculator-form .textbox-box .calculator-error-msgs {
    padding-left: 0;
}

.calculator-error-msgs {
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.02em;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    color: #fe7777;
    padding-left: 20px;
    margin-top: 3px;
}     

.get-result-mgs {
  max-width: 279px;
  margin: 21px auto 0;
  background-color: #E9F0F7;
  border-radius: 10px;
}

.get-result-urls {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 12px 18px;
}
.get-result-urls img {
  margin: 0 6px;
}
.get-result-urls i {
  color: #3174BC;
}