.tax-filing-box {
  padding-bottom: 70px;
}
.tax-filing-box .tax-filling {
  margin-bottom: 28px;
  text-align: center;
}
.tax-filing-box .tax-filling h2 {
  margin-bottom: 18px;
}

.tax-filling-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.tax-filling-inner .tax-50 {
  width: 50%;
  padding: 0 10px;
}

.tax-filling-card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 43px 30px 85px;
  height: 100%;
  position: relative;
}
.tax-filling-card .tax-imgs {
  margin-bottom: 23px;
}
.tax-filling-card .tax-outer {
  width: 47%;
}
.tax-filling-card .tax-img-big {
  position: absolute;
  right: 20px;
  bottom: 36px;
}
.tax-filling-card .taxt-fill-btn {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.tax-filling-card.tax-spanner {
  background: linear-gradient(105.04deg, rgba(0, 88, 153, 0.2) 8.77%, rgba(78, 76, 221, 0.2) 49.99%, rgba(44, 110, 181, 0.2) 87.12%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}
.tax-filling-card.tax-spanner .tax-outer {
  width: 55%;
}
.tax-filling-card.tax-spanner .tax-imgs {
  margin-bottom: 4px;
}
.tax-filling-card.tax-spanner .tax-filling-list .tax-filling-li {
  margin-bottom: 8px;
}
.tax-filling-card.tax-spanner .tax-filling-list .tax-filling-li:before {
  background-color: rgba(255, 255, 255, 0.7);
}
.tax-filling-card.tax-spanner .tax-filling-list .tax-filling-li p {
  color: #fff;
}

.tax-filling-list .tax-filling-li {
  position: relative;
  padding-left: 17px;
  margin-bottom: 6px;
}
.tax-filling-list .tax-filling-li:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(79, 79, 79, 0.6);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 11px;
}
.tax-filling-list .tax-filling-li p {
  font-size: 14px;
  line-height: 28px;
  color: #4F4F4F;
}

.work-t70 {
  margin-top: 70px;
}

@media (max-width: 1199px) {
  .tax-filling-card .tax-img-big {
    max-width: 150px;
  }
  .tax-filling-card .tax-outer {
    width: 63%;
  }
  .tax-filling-card.tax-spanner .tax-outer {
    width: 65%;
  }
}
@media (max-width: 991px) {
  .tax-filing-box {
    padding-bottom: 50px;
  }
  .tax-filing-box .tax-img-big {
    max-width: 200px;
  }

  .tax-filling-inner {
    margin: 0px;
    display: block;
  }
  .tax-filling-inner .tax-50 {
    width: 100%;
    padding: 10px 10px 35px;
  }
  .tax-filling-inner .slick-track {
    display: flex;
  }
  .tax-filling-inner .slick-track .slick-slide {
    height: auto;
  }

	.work-t70 {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .tax-filing-box .tax-filling {
    margin-bottom: 20px;
  }
  .tax-filing-box .tax-filling p {
    font-size: 14px;
    line-height: 27px;
  }

  .tax-filling-card {
    padding: 25px 20px 85px;
  }
  .tax-filling-card .btn-blue.btn-blue-outline.btn-transparents {
    border: 1px solid #fff;
  }
  .tax-filling-card .tax-img-big {
    max-width: 80px;
    bottom: auto;
    top: 20px;
    right: 15px;
  }
  .tax-filling-card .tax-outer {
    width: 100%;
  }
  .tax-filling-card.tax-spanner .tax-outer {
    width: 100%;
  }
  .tax-filling-card.tax-spanner .tax-imgs {
    margin-bottom: 23px;
  }
}

/*# sourceMappingURL=style.css.map */