<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.why-choose-stp'}"></sly>
</sly>

<section class="why-monefy-box choose-stp-box">
    <div class="container">
        <div class="head-wrap">
            <h2>${properties.heading}</h2>
            ${properties.description @ context='html' }
        </div>
        <div class="list-why-monefy slider-arrows slider-dots" id="chooseSTPslider">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'multi'}">
                    <sly data-sly-list.whyChooseSTPlist="${listItem.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${whyChooseSTPlist.image}" alt="">
                                </div>
                                ${whyChooseSTPlist.imageDescription @ context='html'}
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.why-choose-stp'}"></sly>
</sly>