<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-list-invest-in-box'}"></sly>
</sly>

		<!--  invest-mutual-fund-Box  -->
        <section class="invest-mutual-fund-Box js-compareActiveNone">
          <div class="container">
            <div class="invest-mutual-row">
              <div class="invest-mutual-left">
                <h5>Invest in</h5>
                <h1>Mutual Funds Schemes in India</h1>
                <p class="p15">Through Moneyfy, you can explore and invest in different types of mutual funds instantly. Choose from our selection of the most rewarding schemes. Analyze, compare, and track top mutual fund investments at Moneyfy.</p>
              </div>
              <div class="invest-mutual-right">
                <img src="/content/dam/tata-capital-moneyfy/mutual-funds/mutual-fund-big.svg" alt="">
              </div>
              
            </div>
          </div>
        </section>
        <!--  invest-mutual-fund-Box  -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-list-invest-in-box'}"></sly>
</sly>