<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.nfo'}"></sly>
</sly>

<sly data-sly-use.nfoModel='com.tatacapital.moneyfy.core.models.NFOModel' />
<!--  nfo box  -->
<section class="nfo-box jsTabContainer">
    <div class="container">
        <div class="nfo-inner">
            <h1>New Fund Offers</h1>
            <p>A New Fund Offer (NFO) is the first time subscription offer for a new scheme launched by the Asset
                Management Companies (AMCs)</p>
        </div>

        <div class="yellow-tab-auto tab-with-line">
            <ul class="list-yellow-tabs jspicktupTabSLiderList jsTabList">
                <li>
                    <a href="javascript:void(0)" class="active" data-tab="open-nfo">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/open-nfo.svg" alt="">
                        Open NFO
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-tab="upcoming-nfo">
                        <img src="/content/dam/tata-capital-moneyfy/mutual-funds/upcoming-ngo.svg" alt="">
                        Upcoming NFO
                    </a>
                </li>

            </ul>
        </div>

        <div class="">
            <div class="top-pickup-content">
                <!-- open nfo tab -->
                <div class="top-pickup-row jsTabRow" id="open-nfo">
                    <sly data-sly-test="${nfoModel.nfoOpenList.size == 0}">
                        <div class="no-nfo-box">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/nfo-img.svg" alt="">
                            <h5>There are no Open NFOs</h5>
                            <a href="/content/tata-capital-moneyfy/en/top-rated-funds.html" type="button" class="btn-blue radius100">Explore our Top Rated Funds</a>
                        </div>
                    </sly>

                    <sly data-sly-test="${nfoModel.nfoOpenList.size > 0}">
                            <div class="fund-list-ul jsPagination">
                                <sly data-sly-list.nfoFunds="${nfoModel.nfoOpenList}">
                                    <div class="fund-list-li" data-schemeId="${nfoFunds.schemeId}">
                                        <div class="card-div similar-mutual-funds-items">
                                            <div class="top-row">

                                                <div class="info-rating-wrap">
                                                    <div class="name-return-wrap">
                                                        <div class="img-name-wrap">
                                                            <div class="img-wrap">
                                                                <img src="${nfoFunds.iconPath}" alt="" />
                                                            </div>
                                                            <div class="name-rating-wrap">
                                                                <h6 class="fund-name two-lines openNfo" data-pagePath="${nfoFunds.pagePath}"
                                                                    data-schemename="${nfoFunds.fundName}">
                                                                    ${nfoFunds.fundName}</h6>
                                                                <div class="tag-wrap d-none d-md-flex">
                                                                    <span class="tag-item blue-tag"
                                                                        data-risktype='${nfoFunds.riskType}'>${nfoFunds.riskType
                                                                        ? nfoFunds.riskType : '-'}</span>
                                                                    <span class="tag-item violent-tag"
                                                                        data-catname='${nfoFunds.categoryName}'>${nfoFunds.categoryName
                                                                        ? nfoFunds.categoryName :'-'}</span>
                                                                    <span
                                                                        class="tag-item green-tag">${nfoFunds.schemeOption
                                                                        ? nfoFunds.schemeOption : '-'}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-block d-md-none">
                                                        <div class="tag-wrap">
                                                            <span class="tag-item blue-tag"
                                                                data-risktype='${nfoFunds.riskType}'>${nfoFunds.riskType
                                                                ?
                                                                nfoFunds.riskType : '-'}</span>
                                                            <span class="tag-item violent-tag"
                                                                data-catname='${nfoFunds.categoryName}'>${nfoFunds.categoryName
                                                                ? nfoFunds.categoryName :'-'}</span>
                                                            <span class="tag-item green-tag">${nfoFunds.schemeOption ?
                                                                nfoFunds.schemeOption : '-'}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="returs-box return-news">
                                                    <div class="returs-wrap">
                                                        <div class="return-item">
                                                            <p class="label-text">Min Investment</p>
                                                            <h6>₹ ${nfoFunds.minSipAmt ? nfoFunds.minSipAmt : nfoFunds.minLumpsumAmt }</h6>
                                                        </div>
                                                        <div class="return-item">
                                                            <p class="label-text">Open Date</p>
                                                            <h6>${nfoFunds.openingDate ? nfoFunds.openingDate : '-'}
                                                            </h6>
                                                        </div>
                                                        <div class="return-item">
                                                            <p class="label-text">Close Date</p>
                                                            <h6>${nfoFunds.closingDate ? nfoFunds.closingDate : '-'}
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="invest-more-wrap text-right">
                                                    <a href="javascript:void(0);"
                                                        class="btn-blue radius100 invest-now-btn"
                                                        data-investnow="true">Invest
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </sly>
                            </div>
                    </sly>
                </div>
                <!-- open nfo tab -->

                <!-- upcoming-nfo tab -->
                <div class="top-pickup-row jsTabRow d-none" id="upcoming-nfo">
                    <sly data-sly-test="${nfoModel.nfoUpcomingList.size == 0}">
                        <div class="no-nfo-box">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/nfo-img.svg" alt="">
                            <h5>There are no Upcoming NFOs</h5>
                            <a href="/content/tata-capital-moneyfy/en/top-rated-funds.html" type="button" class="btn-blue radius100">Explore our Top Rated Funds</a>
                        </div>
                    </sly>

                    <sly data-sly-test="${nfoModel.nfoUpcomingList.size > 0}">
                        <div class="fund-list-ul jsPagination">
                            <sly data-sly-list.nfoFunds="${nfoModel.nfoUpcomingList}">
                                <div class="fund-list-li" data-schemeId="${nfoFunds.schemeId}">
                                    <div class="card-div similar-mutual-funds-items">
                                        <div class="top-row">

                                            <div class="info-rating-wrap">
                                                <div class="name-return-wrap">
                                                    <div class="img-name-wrap">
                                                        <div class="img-wrap">
                                                            <img src="${nfoFunds.iconPath}" alt="" />
                                                        </div>
                                                        <div class="name-rating-wrap">
                                                            <h6 class="fund-name two-lines openNfo" data-pagePath="${nfoFunds.pagePath}"
                                                                data-schemename="${nfoFunds.fundName}">
                                                                ${nfoFunds.fundName}</h6>
                                                            <div class="tag-wrap d-none d-md-flex">
                                                                <span class="tag-item blue-tag"
                                                                    data-risktype='${nfoFunds.riskType}'>${nfoFunds.riskType
                                                                    ? nfoFunds.riskType : '-'}</span>
                                                                <span class="tag-item violent-tag"
                                                                    data-catname='${nfoFunds.categoryName}'>${nfoFunds.categoryName
                                                                    ? nfoFunds.categoryName :'-'}</span>
                                                                <span class="tag-item green-tag">${nfoFunds.schemeOption
                                                                    ? nfoFunds.schemeOption : '-'}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-block d-md-none">
                                                    <div class="tag-wrap">
                                                        <span class="tag-item blue-tag"
                                                            data-risktype='${nfoFunds.riskType}'>${nfoFunds.riskType ?
                                                            nfoFunds.riskType : '-'}</span>
                                                        <span class="tag-item violent-tag"
                                                            data-catname='${nfoFunds.categoryName}'>${nfoFunds.categoryName
                                                            ? nfoFunds.categoryName :'-'}</span>
                                                        <span class="tag-item green-tag">${nfoFunds.schemeOption ?
                                                            nfoFunds.schemeOption : '-'}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="returs-box return-news">
                                                <div class="returs-wrap">
                                                    <div class="return-item">
                                                        <p class="label-text">Min Investment</p>
                                                        <h6>₹ ${nfoFunds.minSipAmt ? nfoFunds.minSipAmt : nfoFunds.minLumpsumAmt}</h6>
                                                    </div>
                                                    <div class="return-item">
                                                        <p class="label-text">Opening Date</p>
                                                        <h6>${nfoFunds.openingDate ? nfoFunds.openingDate : '-'}</h6>
                                                    </div>
                                                    <div class="return-item">
                                                        <p class="label-text">Count Down</p>
                                                        <h6>${nfoFunds.count ? nfoFunds.count : 0} Days left</h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="invest-more-wrap text-right">
                                                <!-- <a href="javascript:void(0);"
                                                    class="btn-blue radius100 invest-now-btn">Notify
                                                    Me</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </sly>
                        </div>
                    </sly>
                </div>
                <!-- upcoming-nfo tab -->
            </div>
        </div>

    </div>
</section>
<!-- nfo box-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.nfo'}"></sly>
</sly>