<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.life-insurance-product'}"></sly>
</sly>

<!-- risk-info box -->
<section class="risk-info-box insurance-risk-info ${properties.cssClass ? 'insurance-without-padding' :''}">
    <div class="container">
        <div class="heading-wrap">
            <h2>${properties.infoHeading}</h2>
            ${properties.infoDescription @context='html'}
        </div>
        <div class="risk-slider-flex slider-dots slider-arrows flex-slider" id="jsInsuranceRiskInfoSlider">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='rowsMulti'}">
                    <sly data-sly-list.sliderRow="${item.children}">
                        <sly data-sly-test.popDataListIDValue="${'{0}_{1}' @ format =[item.name,sliderRowList.count]}">
                            <div class="risk-slider-row">
                                <div class="sip-cards">
                                    <div class="sip-cards-info" data-info-card="${sliderRow.infoCardHeading}">
                                        <h4>${sliderRow.infoCardHeading}</h4>
                                        <div class="term-insurance-scoll filterList-mCustomScrollbar">
                                            ${sliderRow.infoCardDescription @context='html'}
                                        </div>
                                        <div class="sip-card-btn sips-card">
                                            <sly data-sly-test="${sliderRow.infoCardBtnOne}">
                                                <a href="javascript:void(0);"
                                                    class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite jsOpenModal"
                                                    data-popovermodal="popover-modal" data-adobeAnalytics="insuranceProduct"
                                                    data-target="#${popDataListIDValue}">${sliderRow.infoCardBtnOne}</a>
                                            </sly>
                                            <sly data-sly-test="${sliderRow.infoCardBtnTwo}">
                                                <a href="javascript:void(0);"
                                                    class="btn-blue btn-blue-outline btn-h40 btn-transparents radius100 jsOpenModal"
                                                    data-popovermodal="popover-modal" data-adobeAnalytics="insuranceProduct"
                                                    data-target="#know${popDataListIDValue}">${sliderRow.infoCardBtnTwo}</a>
                                            </sly>
                                        </div>
                                    </div>
                                    <sly data-sly-test="${sliderRow.infoCardImg}">
                                        <img src="${sliderRow.infoCardImg}" alt="" class="sip-card-img">
                                    </sly>
                                </div>
                            </div>
                        </sly>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<!-- risk-info box -->

<!-- benefits-modal -->
<sly data-sly-list="${resource.children}">
    <sly data-sly-test="${item.name=='rowsMulti'}">
        <sly data-sly-list.sliderRow="${item.children}">
            <sly data-sly-test.popDataListIDValue="${'{0}_{1}' @ format =[item.name,sliderRowList.count]}">
                <div class="popover-modal fade contribute-modal" id="${popDataListIDValue}">
                    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
                        <div class="popover-modal-content radius10">
                            <div class="popover-modal-body">
                                <button data-dismiss="popover-modal"
                                    class="popover-modal-close js-contributeModalClose"><i
                                        class="icon-close"></i></button>
                                <div class="modal-body-inner3">
                                    <div class="terms-text text-center benefits-modal">
                                        ${sliderRow.popContent @context='html'}
                                        <sly data-sly-test="${sliderRow.popBtn}">
                                            <div class="mg-t20">
                                                <a href="${sliderRow.popBtnLink}"
                                                    target="${sliderRow.popBtnTarget ? '_blank':''}"
                                                    class="btn-blue radius100">${sliderRow.popBtn}</a>

                                            </div>
                                        </sly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </sly>
    </sly>
</sly>
<!-- end benefits modal -->
<!-- Know more modal -->
<sly data-sly-list="${resource.children}">
    <sly data-sly-test="${item.name=='rowsMulti'}">
        <sly data-sly-list.sliderRow="${item.children}">
            <sly data-sly-test.popDataListIDValue="${'{0}_{1}' @ format =[item.name,sliderRowList.count]}">
                <div class="popover-modal fade contribute-modal" id="know${popDataListIDValue}">
                    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
                        <div class="popover-modal-content radius10">
                            <div class="popover-modal-body">
                                <button data-dismiss="popover-modal"
                                    class="popover-modal-close js-contributeModalClose"><i
                                        class="icon-close"></i></button>
                                <div class="modal-body-inner3">
                                    <div class="terms-text text-center benefits-modal">
                                        ${sliderRow.popContentTow @context='html'}
                                        <sly data-sly-test="${sliderRow.popBtnTwo}">
                                            <div class="mg-t20">
                                                <a href="${sliderRow.popBtnLinkTwo}"
                                                    target="${sliderRow.popBtnTargetTwo ? '_blank':''}"
                                                    class="btn-blue radius100">${sliderRow.popBtnTwo}</a>

                                            </div>
                                        </sly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </sly>
    </sly>
</sly>
<!-- knowmore modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.life-insurance-product'}"></sly>
</sly>