.flex-slider .slick-track {
  display: flex;
}
.flex-slider .slick-track .slick-slide {
  height: auto;
  min-height: inherit;
}
/*-------   -------*/
.blog-video-box {
  padding: 65px 0;
}
.blog-video-box .blog-video-row {
  display: flex;
  flex-wrap: wrap;
}
.blog-video-box .blogs-left {
  width: 65%;
  padding-right: 30px;
}
.blog-video-box .videos-right {
  width: 35%;
  padding-left: 30px;
  position: relative;
}
.blog-video-box .videos-right:before {
  content: "";
  border-left: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  left: 0px;
  top: 10px;
  bottom: 0px;
}

.blog-video-slider .blog-slider-col {
  padding: 25px 10px 35px;
}
.blog-video-slider .blog-sliders {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  position: relative;
  height: 100%;
}
.blog-video-slider .blog-sliders .blog-img {
  position: relative;
}
.blog-video-slider .blog-sliders .blog-img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.blog-video-slider .blog-sliders .blog-img .video-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(178.02deg, #000000 -51.24%, rgba(0, 0, 0, 0) 127.02%);
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px 10px 0 0;
}
.blog-video-slider .blog-sliders .blog-img .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.blog-video-slider .blog-sliders .blog-img .video-time {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 2;
}
.blog-video-slider .blog-sliders .blog-content {
  padding: 15px 25px 50px;
}
.blog-video-slider .blog-sliders .blog-content h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
  margin-bottom: 8px;
}
.blog-video-slider .blog-sliders .blog-content p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 18px;
}
.blog-video-slider .blog-sliders .btn-viewalls {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 0 25px 20px;
}
.blog-video-slider .blog-sliders .bottom-info-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.blog-video-slider .blog-sliders .bottom-infos {
  position: relative;
  padding-right: 25px;
  min-height: 20px;
}
.blog-video-slider .blog-sliders .share-link {
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #2C6EB5;
}

@media (max-width: 991px) {
  .blog-video-box {
    padding: 40px 0 50px;
  }
  .blog-video-box .blogs-left {
    width: 100%;
    padding-right: 0px;
  }
  .blog-video-box .videos-right {
    padding-top: 30px;
    width: 100%;
    padding-left: 0px;
  }
  .blog-video-box .videos-right:before {
    content: none;
  }
}
@media (max-width: 767px) {
  .blog-video-slider .blog-sliders {
    width: 246px;
  }
  .blog-video-slider .blog-sliders .blog-img .video-time {
    display: none;
  }
  .blog-video-slider .blog-sliders .blog-content {
    padding-left: 20px;
    padding-right: 37px;
    padding-bottom: 45px;
    position: relative;
  }
  .blog-video-slider .blog-sliders .blog-content h6 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 6px;
  }
  .blog-video-slider .blog-sliders .blog-content p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .blog-video-slider .blog-sliders .btn-viewalls {
    padding: 0 20px 20px;
  }
  .blog-video-slider .blog-sliders .bottom-info-text {
    font-size: 11px;
    line-height: 22px;
  }
  .blog-video-slider .blog-sliders .share-link {
    right: 15px;
    top: 15px;
  }
}
@media (max-width: 575px) {
  .blog-video-box .container {
    padding: 0px;
  }
  .blog-video-box .heading-with-view {
    padding: 0 15px;
  }
  .blog-video-box .heading-with-view .btn-view-all {
    right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */