<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.mutual-banner-box'}"></sly>
</sly>
<!--  banner box  -->
<section class="banner-box ${properties.bannerType == 'cardBanner' ? 'mutual-fund-banner':''} no-banner-slider">
    <div class="banner-slider">
        <div class="banner-image ${properties.background == 'blue' ? 'banner-blue' : ''}">
            <sly data-sly-test="${properties.bannerType == 'imgBanner'}">
                <div class="banner-image-outer">
                    <picture>
                        <source media="(min-width: 1441px)" srcset="${properties.bannerOneImg}">
                        <source media="(min-width: 1200px)" srcset="${properties.bannerTwoImg}">
                        <source media="(min-width: 768px)" srcset="${properties.bannerThreeImg}">
                        <source media="(max-width: 767px)" srcset="${properties.bannerFourImg}">
                        <img src="${properties.bannerOneImg}" alt="">
                    </picture>
                </div>
            </sly>
            <div class="banner-caption" data-sly-test="${properties.bannerType == 'cardBanner'}">
                <div class="container">
                    <div class="banner-inner new-banner-inner">
                        <sly data-sly-test="${properties.leftCardHeading}">
                            <div class="banner-left" data-sipleftcard="sipLeftCard">
                                <h5 class="text-stealblue">${properties.leftCardTitle}</h5>
                                <h1>${properties.leftCardHeading}</h1>
                                ${properties.leftCardDescription @ context='html'}
                                <div class="tab-left-btn">
                                    <sly data-sly-test="${properties.leftCardBtnOne}">
                                        <a href="${properties.leftCardBtnOneLink}"
                                            target="${properties.leftCardBtnOneTarget ? '_blank' : ''}"><button
                                                class="btn-blue radius100">${properties.leftCardBtnOne}</button></a>
                                    </sly>
                                    <sly data-sly-test="${properties.leftCardBtnTwo}">
                                        <a href="${properties.leftCardBtnTwoLink}"
                                            target="${properties.leftCardBtnTwoTarget ? '_blank' : ''}"><button
                                                class="btn-blue btn-blue-outline radius100 mob">${properties.leftCardBtnTwo}</button></a>
                                    </sly>
                                </div>
                            </div>
                        </sly>
                        <sly data-sly-test="${properties.sipCardHeading}">
                            <div class="banner-right">
                                <div class="sip-cards banner-sip-cards">
                                    <div class="sip-cards-info" data-siprightcard="sipRightCard">
                                        <h4>${properties.sipCardHeading}</h4>
                                        ${properties.sipCardDescription @ context='html'}
                                        <div class="sip-card-btn">
                                            <sly data-sly-test="${properties.sipCardBtn}">

                                                <a href="${properties.sipCardBtnLink}"
                                                    target="${properties.sipBtnTarget ? '_blank' : ''}"><button
                                                        class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite">${properties.sipCardBtn}</button></a>

                                            </sly>
                                        </div>
                                    </div>
                                    <img src="${properties.sipCardImg}" alt="" class="sip-card-img">
                                </div>
                            </div>
                        </sly>
                    </div>

                </div>
            </div>

            <div class="banner-caption" data-sly-test="${properties.bannerType == 'imgBanner'}">
                <div class="container">

                    <sly data-sly-test="${properties.leftHeading}">
                        <div class="banner-left">
                            <h1>${properties.leftHeading}</h1>
                            ${properties.leftDescription @ context='html'}
                            <div class="tab-left-btn">
                                <sly data-sly-test="${properties.leftBtnOne}">
                                    <a href="${properties.leftBtnOneLink}"
                                        target="${properties.leftBtnOneTarget ? '_blank' : ''}"><button
                                            class="btn-blue radius100">${properties.leftBtnOne}</button></a>
                                </sly>
                                <sly data-sly-test="${properties.leftBtnTwo}">
                                    <a href="${properties.leftBtnTwoLink}"
                                        target="${properties.leftBtnTwoTarget ? '_blank' : ''}"><button
                                            class="btn-blue btn-blue-outline radius100 mob">${properties.leftBtnTwo}</button></a>
                                </sly>
                            </div>
                        </div>
                    </sly>



                </div>
            </div>

        </div>
    </div>
</section>
<!-- adobe analytics 24 45-->
<!-- banner box-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.mutual-banner-box'}"></sly>
</sly>