<section class="calculator-box calculator-box-pd30">
    <div class="container">
        <h5 class="text-blue">Calculate your EMI</h5>
        <h1 data-title="compound-calc">EMI Calculator</h1>

        <div class="calculator-inner">
            <div class="calculator-form-wrap">
                <div class="calculator-form">
                    <div class="row">
                        <div class="col-6">
                            <div class="textbox-box" id="ppfErrorMsg">
                                <p class="label-name">Principal</p>
                                <div class="textbox-inner input-with-text prefix-text">
                                    <span class="input-text rupee-icon">₹</span>
                                    <input class="input-textbox only-numeric-input-text price-only-comma" type="text"
                                        value="1,00,00,000" id="emiAmount" data-type="principalAmount">
                                </div>
                                <span class="calculator-error-msgs" id="emiErrorMsg"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Expected Rate of Interest</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="expectedInterestRate">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="6" data-max="30" data-from="6.7" id="emiroi">
                                    <div class="custom-range-label">
                                        <span>6%</span>
                                        <span>30%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="label-name">Tenure</p>
                            <div class="year-month-toggle">
                                <div class="year-month-button">
                                    <a href="javascript:void(0);" class="yr-mth-btn active"
                                        data-yrMthFilter="year">Years</a>
                                    <a href="javascript:void(0);" class="yr-mth-btn" data-yrMthFilter="month">Months</a>
                                </div>
                                <div class="year-wrap" data-data-yrMthCard="year">
                                    <div class="textbox-box">
                                        <div class="textbox-inner">
                                            <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="investmentTenure">
                                        </div>
                                        <div class="custom-range-slider-wrap">
                                            <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                                data-min="0.25" data-max="30" data-step="0.25" data-from="10"
                                                id="emi_tenure_year" />
                                            <div class="custom-range-label">
                                                <span>0.25 Year</span>
                                                <span>30 Years</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="month-wrap d-none" data-data-yrMthCard="month">
                                    <div class="textbox-box">
                                        <div class="textbox-inner">
                                            <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="investmentTenure">
                                        </div>
                                        <div class="custom-range-slider-wrap">
                                            <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                                data-min="3" data-max="360" data-step="1" data-from="120"
                                                id="emi_tenure_month" />
                                            <div class="custom-range-label">
                                                <span>3 Months</span>
                                                <span>360 Months</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="suggested-strategy-wrap">
                <h4>EMI Breakdown</h4>
                <div class="graph-investment-wrap strategy-graph-mb40">
                    <div class="graph-wrap">
                        <div class="strategy-graph-wrap">
                            <div id="emi-calculator-strategy-graph" class="graph-chart-box"></div>
                        </div>
                    </div>
                    <div class="investment-interest-wrap">
                        <div class="text-money-wrap">
                            <p class="bullet blue-bullet">Principal</p>
                            <h6 id="principalAmount">₹ 1,00,00,000</h6>
                        </div>
                        <div class="plus-icon-wrap">
                            <span class="icon-plus"></span>
                        </div>
                        <div class="text-money-wrap">
                            <p class="bullet green-bullet">Total Interest payable</p>
                            <h6 id="totalInterest">₹ 37,48,187</h6>
                        </div>
                        <div class="text-money-wrap sum-amount">
                            <p>Total Payable amount</p>
                            <h6 class="totalPayAmount" data-type="totalAmount">₹ 1,37,48,187</h6>
                        </div>
                    </div>
                </div>
                <div class="start-investing-wrap">
                    <p>Borrow Lump sum amount and repay it monthly with minimal interest</p>
                    <div class="text-btn-wrap">
                        <div class="text-wrap">
                            <p>Monthly EMI</p>
                            <h4 class="MonthlyEmi" data-type="emiValue">₹ 1,14,568</h4>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/loans.html" data-sw-iframe="true" data-sw-iframe-component="calculator" data-sw-iframe-url="/content/tata-capital-moneyfy/en/loans.html" class="btn-blue radius100" data-emi-btn="emiredirection">Explore all Loans</a>
                    </div>
                </div>
                <!-- 28-3-2023 -->
                <div class="get-result-mgs">
                    <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                        data-target="#getResulton">
                        Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
                    </a>
                </div>
                <!-- 28-3-2023 -->
            </div>
        </div>

        <div class="amortization-box">
            <div class="amortization-inner">
                <div class="left-box">
                    <h4>Monthly Amortization</h4>
                    <div class="amortization-item-wrap">
                        <div class="amortization-item">
                            <p>EMI Paid</p>
                            <h6><span class="MonthlyEmi">₹ 1,14,568</span> /month</h6>
                        </div>
                        <div class="amortization-item">
                            <p>Total payable amount</p>
                            <h6 class="totalPayAmount">₹ 1,37,48,187</h6>
                        </div>
                    </div>

                    <div class="amortization-select-wrap">
                        <select class="js-yearSelect single-select2" id='yearCreateOption'>
                            <option value="data_1Y" year="year_1Y">1st Year</option>
                        </select>
                    </div>
                </div>
                <div class="right-box">
                    <div class="graph-wrap emi-graph-new">
                        <div id="emi-calculator-amortization-chart" class="amortization-chart-box amortization-Y-axix"></div>                    
                        <p class="emi-payment-months">Months</p>
                        <p class="emi-payment-amount">Amount</p>                    
                      </div>
                </div>
            </div>
        </div>

        <p class="calculator-info-text max-w1000">Equated Monthly Installment - EMI for short - is the amount payable
            every month to the bank or any other financial institution until the loan amount is fully paid off. It
            consists of the interest on loan as well as part of the principal amount to be repaid.</p>
    </div>
</section>