<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

  <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-manager'}"></sly>
</sly>
 <!--fund-manager box -->
        <section class="fund-manager-box">
          <div class="container">
            <div class="top-headings">
              
              <div class="heading-with-view top-inners">
                <h2>Fund manager</h2>
                <p>Make your investment through our most trusted fund managers</p>
                <a href="/content/tata-capital-moneyfy/en/mutual-funds/fund-managers.html" class="btn-view-all hidden-md">View all <span class="icon-arrow-right"></span></a>
              </div>              

            </div>
          </div>

          <div class="container fund-manager">
            <div class="inner-fund-manager slider-dots slider-arrows flex-slider" id="fundManagerSlider">
              
            </div>    
            <div class="tab-view-all">
              <a href="/content/tata-capital-moneyfy/en/mutual-funds/fund-managers.html" class="btn-view-all">View all <span class="icon-arrow-right"></span></a>
            </div>          
          </div>
         
        </section>
        <!--fund-manager box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

  <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-manager'}"></sly>
</sly>        