.banner-box.creditCard-loan-banner .btn-blue {
  min-width: 135px;
  padding: 17px 20px;
}
.banner-box.creditCard-loan-banner .slider-dots .slick-dots li.slick-active button {
  background-color: #333333;
}
.banner-box.creditCard-loan-banner .banner-row {
  display: flex;
  flex-wrap: wrap;
}
.banner-box.creditCard-loan-banner .left-col {
  width: 45%;
}
.banner-box.creditCard-loan-banner .right-col {
  min-width: unset;
  width: 55%;
  background-color: transparent;
}
.banner-box.creditCard-loan-banner .banner-inner {
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-width: 991px) {
  .banner-box.creditCard-loan-banner .btn-wrap {
    margin-bottom: 15px;
  }
  .banner-box.creditCard-loan-banner .left-col, .banner-box.creditCard-loan-banner .right-col {
    width: 100%;
  }
  .banner-box.creditCard-loan-banner .banner-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-box.creditCard-loan-banner .banner-left {
    width: 100%;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .banner-box.creditCard-loan-banner {
    background-image: none;
  }
  .banner-box.creditCard-loan-banner .banner-slider {
    padding-top: 0;
  }
  .banner-box.creditCard-loan-banner .banner-inner {
    padding-top: 0;
  }
  .banner-box.creditCard-loan-banner h5 {
    font-size: 14px;
    line-height: 21px;
  }
  .banner-box.creditCard-loan-banner .banner-benefit-list li {
    font-size: 12px;
    line-height: 18px;
    padding-left: 14px;
    width: 50%;
  }
  .banner-box.creditCard-loan-banner .banner-benefit-list li:before {
    width: 6px;
    height: 6px;
    top: 6px;
  }
  .banner-box.creditCard-loan-banner .btn-wrap {
    text-align: center;
  }
  .banner-box.creditCard-loan-banner .btn-blue {
    width: 100%;
    max-width: 265px;
    padding: 14px 25px;
  }
  .banner-box.creditCard-loan-banner .sip-card-btn .btn-blue {
    max-width: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
