<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.insuranc-partner-box'}"></sly>
</sly>

<section class="insurance-partner-box">
    <div class="container">
        <h2 class="text-center">${properties.headingText}</h2>
        <div class="insurance-partners-wrap slider-arrows slider-dots" id="jsInsurancePartnerSlider">
            <sly data-sly-list="${resource.children}">
                <sly data-sly-test="${item.name=='imagePartnerList'}">
                    <sly data-sly-list.imageList="${item.children}">
                        <div class="partner-item">
                            <img src="${imageList.image}" alt="">
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.insuranc-partner-box'}"></sly>
</sly>