.sitemap-box {
  padding: 50px 0 20px;
}
.sitemap-box h1 {
  margin-bottom: 60px;
}
.sitemap-box .sitemap-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.sitemap-box .sitemap-col {
  width: 33.33%;
  padding: 0 15px 50px;
}
.sitemap-box .sitemap-col h5 {
  margin-bottom: 10px;
  color: #2C6EB5;
  text-transform: uppercase;
}
.sitemap-box .sitemap-col .link-headings {
  margin-bottom: 20px;
}
.sitemap-box .sitemap-col .link-headings a {
  display: inline-block;
  color: #2C6EB5;
  text-transform: uppercase;
  text-decoration: none;
}
.sitemap-box .sitemap-col .sitemap-body-inner {
  padding-bottom: 15px;
}
.sitemap-box .sitemap-col .sitemap-body-inner:last-child {
  padding-bottom: 0px;
}
.sitemap-box .sitemap-col .sitemap-heading {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.sitemap-box .sitemap-col .sitemap-heading:hover {
  color: #2C6EB5;
}
.sitemap-box .sitemap-col .sitemap-menu {
  padding-top: 12px;
  padding-left: 30px;
}
.sitemap-box .sitemap-col .sitemap-list {
  margin-bottom: 12px;
}
.sitemap-box .sitemap-col .sitemap-list:last-child {
  margin-bottom: 0;
}
.sitemap-box .sitemap-col .sitemap-link {
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: inline-block;
}
.sitemap-box .sitemap-col .sitemap-link:hover {
  color: #2C6EB5;
}

@media (max-width: 991px) {
  .sitemap-box {
    padding: 40px 0 20px;
  }
  .sitemap-box h1 {
    margin-bottom: 40px;
  }
  .sitemap-box .sitemap-col {
    width: 50%;
    padding: 0 15px 30px;
  }
}
@media (max-width: 767px) {
  .sitemap-box h1 {
    margin-bottom: 30px;
  }
  .sitemap-box .sitemap-row {
    margin: 0;
  }
  .sitemap-box .sitemap-col {
    width: 100%;
    padding: 0 0px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
