<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.about-who-we-are'}"></sly>
</sly>

<section class="who-we-are-box">
    <div class="container">
        <h2>${properties.mainHeading}</h2>
        <h4>${properties.heading}</h4>
        ${properties.description @context="html"}
    </div>
</section>