/* faq categories css start */
.faq-category-box {
  padding: 45px 0 85px;
}
.faq-category-box h1 {
  margin-bottom: 30px;
  text-align: center;
}
.faq-category-box .list-goal-base {
  justify-content: flex-start;
}
.faq-category-box .btn-view-all {
  position: absolute;
  left: 0;
  bottom: 35px;
  right: 0px;
  text-align: center;
  display: block;
  padding: 0 5px;
}
.faq-category-box .list-goal {
  position: relative;
  padding-bottom: 65px;
}
.faq-category-box .list-goal h5 {
  margin-bottom: 10px;
  min-height: 60px;
}
.faq-category-box .list-goal p {
  color: #333333;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 32px;
}
.faq-category-box .list-goal img {
  max-height: 50px;
}
.faq-category-box .list-goal:hover p {
  color: #fff;
}
.faq-category-box .list-goal:hover .btn-view-all {
  color: #fff;
}

.faq-category-search {
  width: 705px;
  position: relative;
  margin: 0 auto 60px;
}
.faq-category-search .form-control {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #333333;
  height: 55px;
  padding: 9px 45px 9px 24px;
  border-radius: 100px;
  border: 1px solid #cbd0e3;
  width: 100%;
}
.faq-category-search .form-control:focus {
  outline: none;
}
.faq-category-search .search-btn {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #2C6EB5;
  border-radius: 50%;
  font-size: 19px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-category-search .twitter-typeahead {
  width: 100%;
}
.faq-category-search .tt-suggestion.tt-selectable {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #858997;
  display: block;
  padding: 10px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
.faq-category-search .tt-suggestion.tt-selectable:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(153, 186, 208, 0.11);
}
.faq-category-search .tt-suggestion .tt-highlight {
  color: #333;
  font-weight: 500;
}
.faq-category-search .tt-menu {
  width: 100%;
  background-color: #f6fcff;
  padding: 15px 20px;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .faq-category-box {
    padding-bottom: 50px;
  }
  .faq-category-box .list-goal h5 {
    min-height: inherit;
  }
}
@media (max-width: 767px) {
  .faq-category-search {
    width: 100%;
    margin-bottom: 30px;
  }
  .faq-category-search .form-control {
    height: 40px;
  }
  .faq-category-search .search-btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .faq-category-box {
    padding-top: 20px;
  }
  .faq-category-box h1 {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px
}
  .faq-category-box h1 {
    margin-bottom: 12px;
    text-align: left;
  }
  .faq-category-box .btn-view-all {
    bottom: 18px;
  }
  .faq-category-box .list-goal {
    padding-bottom: 45px;
  }
  .faq-category-box .list-goal h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .faq-category-box .list-goal p {
    font-size: 12px;
    line-height: 18px;
    color: #606060;
    margin-bottom: 10px;
  }
}
@media (max-width: 359px) {
  .list-goal-base li {
    width: 100%;
  }
}

/* faq categories css end */


.h2-class{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333;
}