<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.gold-how-to-buy'}"></sly>
</sly>

<!-- steps to invest -->
<section class="why-monefy-box steps-to-invest pd-b-0" data-sly-test="${properties.title}">
    <div class="container">
        <div class="text-center heading-left-md">
            <h6 class="text-blue mg-b10i">${properties.title}</h6>
            <h2>${properties.heading}</h2>
        </div>
        <div class="list-why-monefy four-steps">
            <sly data-sly-list.data="${resource.children}">
                <sly data-sly-test="${data.name == 'stepsList'}">
                    <sly data-sly-list.stepItems="${data.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${stepItems.stepImage}" alt="" />
                                </div>
                                <h5>${stepItems.stepTitle}</h5>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<!-- steps to invest -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.gold-how-to-buy'}"></sly>
</sly>