.h2-tag{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}
.know-more-box {
  padding: 60px 0 65px;
}
.know-more-box h2 {
  margin-bottom: 12px;
}
.know-more-box p {
  color: #606060;
}
.know-more-box h4 {
  margin-bottom: 15px;
}
.know-more-box .know-more-inner {
  padding-top: 35px;
}
.know-more-box .know-more-row {
  margin-bottom: 33px;
}
.know-more-box .know-more-row:last-child {
  margin-bottom: 0px;
}
.know-more-box .know-more-row h5 {
  margin-bottom: 6px;
}
.know-more-box .know-more-row p {
  margin-bottom: 28px;
}
.know-more-box .know-more-row p:last-child {
  margin-bottom: 0px;
}
.know-more-box .know-more-dots .know-more-row {
  padding-left: 17px;
}
.know-more-box .know-more-dots .know-more-row h5 {
  position: relative;
}
.know-more-box .know-more-dots .know-more-row h5:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ACB4D1;
  display: block;
  position: absolute;
  left: -17px;
  top: 11px;
  border-radius: 50%;
}

.list-dot-knowmore li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 3px;
}
.list-dot-knowmore li:last-child {
  margin-bottom: 0px;
}
.list-dot-knowmore li:before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  background-color: #606060;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 11px;
}

.emi-formula-img {
  margin: 30px 0;
}

@media (max-width: 991px) {
  .know-more-box {
    padding: 44px 0px;
  }
}
@media (max-width: 767px) {
  .know-more-box h2 {
    margin-bottom: 9px;
  }
  .know-more-box p {
    font-size: 14px;
    line-height: 22px;
  }
  .know-more-box .know-more-inner {
    padding-top: 27px;
  }
  .know-more-box h4 {
    margin-bottom: 22px;
  }
  .know-more-box .know-more-row {
    margin-bottom: 30px;
  }
  .know-more-box .know-more-row h5 {
    margin-bottom: 10px;
    line-height: 19px;
  }
  .know-more-box .know-more-row p {
    margin-bottom: 25px;
  }
  .know-more-box .know-more-dots .know-more-row h5:before {
    top: 5px;
  }

  .list-dot-knowmore li {
    padding-left: 18px;
  }
  .list-dot-knowmore li:before {
    top: 7px;
    left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
