<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.whyMoneyfy'}" />
</sly>
       <!-- refer box -->
        <section class="refer-box">
          <div class="container">
            <div class="refer-inner">
              <div class="refer-right aos-init aos-animate" data-aos="fade-left">
                 <img src="${properties.imgDesktop}" alt="" class="refer-desktop"/>
                  <img src="${properties.imgMobile}" alt="" class="refer-mob"/>
              </div>
              <div class="refer-left" data-refer="referLeft">
					 ${properties.referHeading @ context='html'}
                <div class="refer-left-inner">
					 ${properties.referDescription @ context='html'}
                </div>
                <a href="${properties.buttonLink}" target="${properties.tab ? '_blank' : ''}">
                <button type="button" class="btn-blue btn-yellow radius100 btn-shadow"> ${properties.referButton @ context='html'}</button>
            </a>
              </div>
            </div>
          </div>
        </section>
        <!-- refer box -->
 <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.whyMoneyfy'}" />
</sly>       