<section class="calculator-box calculator-box-pd30">
    <div class="container">
        <h5 class="text-blue">Calculate your Returns</h5>
        <h1 data-title="compound-calc">Compound Interest Calculator</h1>

        <div class="jsTabContainer calculator-tab">
            <ul class="list-yellow-tabs js-CalculatorTabList">
               <!-- <li>
                    <a href="javascript:void(0)" class="active" data-tab="sip-calculator">
                        SIP
                    </a>
                </li>-->
                <li>
                    <a href="javascript:void(0)" class="active" data-tab="lumsum-calculator">
                        Lumpsum
                    </a>
                </li>
            </ul>

            <div class="tab-container">
                <div class="jsTabRow" id="lumsum-calculator">
                    <div class="calculator-inner">
                        <div class="calculator-form-wrap">
                            <div class="calculator-form">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="textbox-box">
                                            <p class="label-name">My investment</p>
                                            <div class="textbox-inner input-with-text prefix-text">
                                                <span class="input-text rupee-icon">₹</span>
                                                <input class="input-textbox only-numeric-input price-only-comma"
                                                    type="text" value="1,00,000" id="lumsum_amount" data-type="investment">
                                            </div>
                                            <span class="calculator-error-msgs" id="lumsumErrorMsg">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="textbox-box">
                                            <p class="label-name">I expect returns up to</p>
                                            <div class="textbox-inner max-w120 input-with-text suffix-text">
                                                <span class="input-text">%</span>
                                                <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="roi">
                                            </div>
                                            <div class="custom-range-slider-wrap">
                                                <input type="text" class="js-calculatorRangeSlider lumsumSlider" name="my_range"
                                                    value="" data-min="1" data-max="30" data-from="12"
                                                    id="lumsum_roi" />
                                                <div class="custom-range-label">
                                                    <span>1%</span>
                                                    <span>30%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <p class="label-name">Tenure</p>
                                        <div class="year-month-toggle">
                                            <div class="year-month-button" id="lumsumTenureBtn">
                                                <a href="javascript:void(0);" class="yr-mth-btn active"
                                                    data-yrMthFilter="year">Years</a>
                                                <a href="javascript:void(0);" class="yr-mth-btn"
                                                    data-yrMthFilter="month">Months</a>
                                            </div>
                                            <div class="year-wrap" data-data-yrMthCard="year">
                                                <div class="textbox-box">
                                                    <div class="textbox-inner">
                                                        <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text"
                                                            type="text" data-type="tenure">
                                                    </div>
                                                    <div class="custom-range-slider-wrap">
                                                        <input type="text" class="js-calculatorRangeSlider lumsumSlider"
                                                            name="my_range" value="" data-min="1" data-max="30"
                                                            data-step="1" data-from="5" id="lumsum_tenure_year" />
                                                        <div class="custom-range-label">
                                                            <span>1 Year</span>
                                                            <span>30 Years</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="month-wrap d-none" data-data-yrMthCard="month">
                                                <div class="textbox-box">
                                                    <div class="textbox-inner">
                                                        <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text"
                                                            type="text"  data-type="tenure">
                                                    </div>
                                                    <div class="custom-range-slider-wrap">
                                                        <input type="text" class="js-calculatorRangeSlider lumsumSlider"
                                                            name="my_range" value="" data-min="12" data-max="360"
                                                            data-step="1" data-from="60" id="lumsum_tenure_month" />
                                                        <div class="custom-range-label">
                                                            <span>12 Months</span>
                                                            <span>360 Months</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suggested-strategy-wrap">
                            <h4>Suggested Strategy</h4>
                            <div class="graph-investment-wrap strategy-graph-mb40">
                                <div class="graph-wrap">
                                    <div class="strategy-graph-wrap">
                                        <div id="mf-calculaotr-lumsum-strategy-graph" class="graph-chart-box"></div>
                                    </div>
                                </div>
                                <div class="investment-interest-wrap">
                                    <div class="text-money-wrap">
                                        <p class="bullet blue-bullet">Total investment</p>
                                        <h6 id="lumsunTotalInvestment">₹ 1,00,000</h6>
                                    </div>
                                    <div class="plus-icon-wrap">
                                        <span class="icon-plus"></span>
                                    </div>
                                    <div class="text-money-wrap">
                                        <p class="bullet green-bullet">Estimated Gains</p>
                                        <h6 id="lumsumTotalEarned" data-type="estimateGain">₹ 76,234</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="start-investing-wrap">
                                <p id="lumsum-starts-investing-text">If you invest ₹ 1,00,000 today, in 5 years you will get</p>
                                <div class="text-btn-wrap">
                                    <div class="text-wrap">
                                        <p>Future Value</p>
                                        <h4 id="lumsumFvVal" data-type="futureVal">₹ 1,76,234</h4>
                                    </div>
                                    <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-blue radius100"
                                        data-sip-start="sipstartbtn">Start Investing</a>
                                </div>
                            </div>
                            <!-- 28-3-2023 -->
                            <div class="get-result-mgs">
                                <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                                    data-target="#getResulton">
                                    Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- 28-3-2023 -->
                        </div>
                    </div>
                </div>
               <!-- <div class="jsTabRow" id="sip-calculator">
                    <div class="calculator-inner">
                        <div class="calculator-form-wrap">
                            <div class="calculator-form">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="textbox-box">
                                            <label class="label-name">My investment</label>
                                            <div class="textbox-inner input-with-text prefix-text">
                                                <span class="input-text rupee-icon">₹</span>
                                                <input class="input-textbox only-numeric-input price-only-comma"
                                                    type="text" value="25,000" id="sip_amount">
                                            </div>
                                            <span class="calculator-error-msgs" id="sipErrorMsg"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="textbox-box">
                                            <label class="label-name">I expect returns up to</label>
                                            <div class="textbox-inner max-w120 input-with-text suffix-text">
                                                <span class="input-text">%</span>
                                                <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text">
                                            </div>
                                            <div class="custom-range-slider-wrap">
                                                <input type="text" class="js-calculatorRangeSlider sipSlider" name="my_range"
                                                    value="" data-min="1" data-max="30" data-from="12" id="sip_roi" />
                                                <div class="custom-range-label">
                                                    <span>1%</span>
                                                    <span>30%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="label-name">Tenure</label>
                                        <div class="year-month-toggle">
                                            <div class="year-month-button" id="SipTenureBtn">
                                                <a href="javascript:void(0);" class="yr-mth-btn active"
                                                    data-yrMthFilter="year">Years</a>
                                                <a href="javascript:void(0);" class="yr-mth-btn"
                                                    data-yrMthFilter="month">Months</a>
                                            </div>
                                            <div class="year-wrap" data-data-yrMthCard="year">
                                                <div class="textbox-box">
                                                    <div class="textbox-inner">
                                                        <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text"
                                                            type="text">
                                                    </div>
                                                    <div class="custom-range-slider-wrap">
                                                        <input type="text" class="js-calculatorRangeSlider sipSlider"
                                                            name="my_range" value="" data-min="1" data-max="30"
                                                            data-step="1" data-from="5" id="sip_tenure_year" />
                                                        <div class="custom-range-label">
                                                            <span>1 Year</span>
                                                            <span>30 Years</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="month-wrap d-none" data-data-yrMthCard="month">
                                                <div class="textbox-box">
                                                    <div class="textbox-inner">
                                                        <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text"
                                                            type="text">
                                                    </div>
                                                    <div class="custom-range-slider-wrap">
                                                        <input type="text" class="js-calculatorRangeSlider sipSlider"
                                                            name="my_range" value="" data-min="12" data-max="360"
                                                            data-step="1" data-from="60" id="sip_tenure_month" />
                                                        <div class="custom-range-label">
                                                            <span>12 Months</span>
                                                            <span>360 Months</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suggested-strategy-wrap">
                            <h4>Suggested Strategy</h4>
                            <div class="graph-investment-wrap strategy-graph-mb40">
                                <div class="graph-wrap">
                                    <div class="strategy-graph-wrap">
                                        <div id="mf-calculaotr-sip-strategy-graph" class="graph-chart-box"></div>
                                    </div>
                                </div>
                                <div class="investment-interest-wrap">
                                    <div class="text-money-wrap">
                                        <p class="bullet blue-bullet">Total investment</p>
                                        <h6 id="sipTotalInvestment">₹ 15,00,000</h6>
                                    </div>
                                    <div class="plus-icon-wrap">
                                        <span class="icon-plus"></span>
                                    </div>
                                    <div class="text-money-wrap">
                                        <p class="bullet green-bullet">Estimated Gains</p>
                                        <h6 id="sipTotalEarned">₹ 5,62,159</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="start-investing-wrap">
                                <p id="sip-starts-investing-text">If you invest ₹ 25,000 per month, in 5 years you will get</p>
                                <div class="text-btn-wrap">
                                    <div class="text-wrap">
                                        <p>Future Value</p>
                                        <h4 id="sipFvVal">₹ 20,62,159</h4>
                                    </div>
                                    <a href="/content/tata-capital-moneyfy/en/funds-list.html" data-sw-iframe="true" data-sw-iframe-component="calculator" data-sw-iframe-url="/content/tata-capital-moneyfy/en/funds-list.html" class="btn-blue radius100" data-sip-start="sipstartbtn">Start Investing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
              
            </div>
        </div>

        <p class="calculator-info-text max-w1000">Prospective investors can think that SIPs and mutual funds are the same. However, SIPs are merely a method of investing in mutual funds, the other method being a lump sum. A SIP calculator is a tool that helps you determine the returns you can avail when parking your funds in such investment tools.</p>
    </div>
</section>