<!-- Insurance Calculator -->
<!-- 25-01-22 -->
<section class="calculator-box calculator-box-pd30">
    <div class="container">
        <!-- <h5 class="text-blue">Calculate your Returns</h5> -->
        <h1 data-title="compound-calc">Life insurance Calculator</h1>

        <div class="calculator-inner">
            <div class="calculator-form-wrap">
                <div class="calculator-form">
                    <div class="row">
                        <div class="col-6">
                            <div class="textbox-box diff-age">
                                <p class="label-name">Current age</p>
                                <div class="textbox-inner input-with-text suffix-text">
                                    <span class="input-text">Years</span>
                                    <input class="input-textbox only-numeric-input" type="text" value="30" id="currentAge" data-type="age">
                                </div>
                                <span class="calculator-error-msgs" id="currentAgeLimit"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Retirement age</p>
                                <div class="textbox-inner input-with-text suffix-text">
                                    <span class="input-text">Years</span>
                                    <input class="input-textbox only-numeric-input" type="text" value="60" id="retirementAge" data-type="RetirementAge">
                                </div>
                                <span class="calculator-error-msgs" id="retirementAgeLimit"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">My monthly income</p>
                                <div class="textbox-inner input-with-text prefix-text">
                                    <span class="input-text rupee-icon">₹</span>
                                    <input class="input-textbox only-numeric-input price-only-comma" type="text"
                                        value="55,000" id="monthlyIncome" data-type="monthlyIncome">
                                </div>
                                <span class="calculator-error-msgs" id="MonthlyIncomeLimit"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Expected increase in income per annum</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="expectedIncrease">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="1" data-max="13" data-from="5" id="expectedIncome"/>
                                    <div class="custom-range-label" >
                                        <span>1%</span>
                                        <span>13%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="textbox-box">
                                <p class="label-name">Expected rate of return on investments</p>
                                <div class="textbox-inner max-w120 input-with-text suffix-text">
                                    <span class="input-text">%</span>
                                    <input class="input-textbox js-showCalulatorRangeValue only-numeric-input-text" type="text" data-type="returnInvestment">
                                </div>
                                <div class="custom-range-slider-wrap">
                                    <input type="text" class="js-calculatorRangeSlider" name="my_range" value=""
                                        data-min="1" data-max="13" data-from="6" id="roi"/>
                                    <div class="custom-range-label">
                                        <span>1%</span>
                                        <span>13%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="suggested-strategy-wrap">
                <h4>Suggested Strategy</h4>
                <div class="graph-investment-wrap no-graph-investment-wrap">
                    <div class="investment-interest-wrap insurance-text-money">
                        <div class="text-money-wrap">
                            <p>Current annual income</p>
                            <h6 id="annualIncome">₹6,60,000</h6>
                        </div>
                        <!-- <div class="text-money-wrap">
                            <p>Discounting interest applied <span class="icon-info icon"><span
                                        class="path1"></span><span class="path2"></span></span></p>
                            <h6 id="totalInterest">0.95%</h6>
                        </div> -->
                    </div>
                </div>
                <div class="start-investing-wrap">
                    <p>Life cover required to live comfortably</p>
                    <div class="text-btn-wrap">
                        <div class="text-wrap">
                            <p>Required Cover</p>
                            <h4>₹ <span class="price-with-comma" id="requieredCover" data-type="coverAmount">1,75,00,000</span></h4>
                        </div>
                    </div>
                </div>
                <!-- 28-3-2023 -->
                <div class="get-result-mgs">
                    <a href="javascript:void(0)" class="get-result-urls" data-popovermodal="popover-modal"
                        data-target="#getResulton">
                        Get this result on <img src="/content/dam/tata-capital-moneyfy/calculator-template-image/result-mgs.svg" alt=""><i class="icon-arrow-right"></i>
                    </a>
                </div>
                <!-- 28-3-2023 -->
            </div>
        </div>
    </div>
</section>
<!-- 25-01-22 -->
<!-- Calculator -->