/* amc listing blue tab filter css start */

.filter-section {
  background-color: #2C6EB5;
  padding: 10px 0;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
}

.filter-box .filter-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.filter-box .filter-btn-wrap .filter-item {
  padding: 0 12px;
  margin: 3px 0;
}

.dropdown-button {
  background-color: #F9FBFF;
  border-radius: 6px;
  padding: 8px 13px;
  min-width: 120px;
  cursor: pointer;
}
.dropdown-button.active {
  box-shadow: inset 0 0 0px 2px #c7e5f8;
}
.dropdown-button a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  position: relative;
  padding-right: 45px;
  display: block;
}
.dropdown-button a:before {
  content: "";
  font-family: "icomoon";
  font-size: 7px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #2C6EB5;
  transition: all 0.3s;
}
.dropdown-button.active a:before {
  transform: rotate(-180deg);
}

.custom-dropdown {
  position: relative;
}

.dropdown-card {
  background-color: #fff;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: -10px;
  transform: translateY(100%);
  left: 0;
  min-width: 240px;
  z-index: 2;
  display: none;
}
.dropdown-card:before {
  content: "";
  width: 70px;
  height: 3px;
  background: #D7DF23;
  position: absolute;
  top: -2px;
  left: 0;
}

.filter-item:last-child .dropdown-card {
  right: 0;
  left: auto;
}
.filter-item:last-child .dropdown-card:before {
  left: auto;
  right: 0;
}

.dropdown-card-inner {
  padding: 15px 20px;
}

.dropdown-header {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dropdown-header p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-right: 70px;
}
.dropdown-header .clear-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #2C6EB5;
}

.dropdown-content .rating-head {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  margin-bottom: 5px;
}

.rating-checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px;
}
.rating-checkbox-wrap .checkbox-item {
  margin-bottom: 10px;
}
.rating-checkbox-wrap .checkbox-item input {
  display: none;
}
.rating-checkbox-wrap .checkbox-item input:checked ~ p {
  background-color: #2C6EB5;
  border: 1px solid #2C6EB5;
}
.rating-checkbox-wrap .checkbox-item p {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #F2C94C;
  display: inline-flex;
  align-items: center;
  border: 1px solid #CCD8EE;
  border-radius: 6px;
  padding: 5px;
  width: 31px;
  height: 31px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s;
}
.rating-checkbox-wrap .checkbox-item p:hover {
  background-color: #2C6EB5;
  border: 1px solid #2C6EB5;
}
.rating-checkbox-wrap .checkbox-item .icon {
  font-size: 10px;
  margin-left: 2px;
  line-height: 11px;
}

.filter-checkbox:not(:last-child) {
  margin-bottom: 17px;
}
.filter-checkbox label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #606060;
  align-items: flex-start;
}
.filter-checkbox .checkbox-wrap:after {
  border-color: #fff;
}
.filter-checkbox input[type=checkbox]:checked ~ .checkbox-wrap {
  background-color: #2C6EB5;
}

.filter-row {
  margin: 0;
  flex-wrap: nowrap;
}
.filter-row .left-col, .filter-row .right-col {
  padding: 15px 20px;
}
.filter-row .category-list {
  display: block;
  margin: 0;
}
.filter-row .category-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  padding-left: 0;
  padding-right: 15px;
  transition: all 0.3s;
}
.filter-row .category-list li:after {
  content: "";
  font-family: "icomoon";
  font-size: 8px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  transition: all 0.3s;
}
.filter-row .category-list li.active {
  font-weight: 600;
  color: #2C6EB5;
}
.filter-row .category-list li.active:after {
  display: block;
}

.right-col {
  background-color: #F6FCFF;
  min-width: 270px;
  border-bottom-right-radius: 10px;
}

.dropdown-header .select-all-btn {
  font-size: 12px;
  line-height: 18px;
  color: #2C6EB5;
  font-weight: 600;
}

.category-filter-item {
  display: none;
}
.category-filter-item.active {
  display: block;
}

.amc-filter-card {
  min-width: 315px;
}

.filterList-mCustomScrollbar {
  max-height: 311px;
}

.search-form {
  position: relative;
  margin-bottom: 15px;
}
.search-form .form-control {
  width: 100%;
  background-color: #fff;
  border: 1px solid #BFDBFA;
  box-sizing: border-box;
  border-radius: 6px;
  height: 37px;
  padding-left: 38px;
  padding-right: 10px;
  outline: none;
}
.search-form .form-control::-ms-clear {
  display: none;
}
.search-form .search-btn {
  position: absolute;
  left: 0;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #2C6EB5;
  font-size: 16px;
  top: 10px;
  left: 12px;
}

.filter-tags-wrap {
  display: none;
}

.clear-btn-wrap {
  text-align: right;
  position: relative;
}
.clear-btn-wrap:before {
  content: "";
  width: calc(100% - 85px);
  height: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 50%;
}

.clear-all-btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #D7DF23;
}

.filter-tags {
  display: flex;
  width: calc(100% - 70px);
  padding: 0 35px;
}
.filter-tags.overflow-visible {
  padding: 0 0;
}
.filter-tags.overflow-visible .slick-list {
  overflow: visible;
}
.filter-tags .slick-arrow {
  width: 30px;
  height: 30px;
}
.filter-tags .slick-arrow:before {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #333333;
  background-color: #D7DF23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 1;
}
.filter-tags .slick-arrow.slick-disabled {
  opacity: 0.8;
  pointer-events: none;
}
.filter-tags .slick-arrow.slick-prev {
  left: 0;
}
.filter-tags .slick-arrow.slick-prev:before {
  content: "";
}
.filter-tags .slick-arrow.slick-next {
  right: 0;
}
.filter-tags .slick-arrow.slick-next:before {
  content: "";
}

.filter-tag {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  background: #D7DF23;
  border-radius: 80px;
  padding: 7px 12px 5px;
  margin: 0 6px;
  display: block;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.filter-tag .remove-tag {
  font-size: 8px;
  margin-left: 10px;
  color: #005899;
}

.filterTags-mCustomScrollbar {
  width: 100%;
}
.filterTags-mCustomScrollbar.mCS_no_scrollbar .mCustomScrollBox {
  padding: 0px;
}
.filterTags-mCustomScrollbar .mCSB_buttonLeft, .filterTags-mCustomScrollbar .mCSB_buttonRight {
  opacity: 1 !important;
  width: 30px !important;
  height: 30px !important;
}
.filterTags-mCustomScrollbar .mCSB_buttonLeft:before, .filterTags-mCustomScrollbar .mCSB_buttonRight:before {
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  color: #333333;
  background-color: #D7DF23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.filterTags-mCustomScrollbar .mCSB_buttonLeft:before {
  content: "";
}
.filterTags-mCustomScrollbar .mCSB_buttonRight:before {
  content: "";
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 30px;
  z-index: 1;
  opacity: 1;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  display: none !important;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  background-color: #C0D2E3;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  display: none !important;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 50%;
  margin-left: -40px;
  z-index: 4;
}
.filterTags-mCustomScrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 50%;
  margin-right: -40px;
}
.filterTags-mCustomScrollbar .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 40px;
}
.filterTags-mCustomScrollbar.mCS_no_scrollbar .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 40px;
}

.fund-list-filter-box {
  position: relative;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}
.loader.show {
  display: flex;
}

/*Sebi category*/
.filter-section.sebi-filters .dropdown-button {
  min-width: 140px;
}

.dropdown-card-inner.dropdownload-inner2 {
  padding-left: 11px;
  padding-right: 11px;
}

.filters-heading-dropdown h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 15px;
  padding-left: 10px;
}
.filters-heading-dropdown .filters-heading-scroll {
  max-height: 200px;
}
.filters-heading-dropdown .filters-heading-scroll .mCSB_inside > .mCSB_container {
  margin-right: 15px;
}

.filter-search-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.filter-search-wrap .search-box {
  margin: 3px 0;
}
.filter-search-wrap .search-box .filter-item .dropdown-card {
  right: auto;
  left: 0;
}
.filter-search-wrap .search-box .dropdown-button a {
  white-space: nowrap;
}
.filter-search-wrap .search-box {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}
.filter-search-wrap .filter-box {
  width: calc(100% - 242px);
}
.filter-search-wrap .amc-filter-card {
  min-width: 248px;
}

.js-fixContainer {
  left: 0;
}
.js-fixContainer.affix {
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.blue-filtersize-box {
  background: linear-gradient(105.18deg, rgba(0, 88, 153, 0.2) 8.75%, rgba(78, 76, 221, 0.2) 49.88%, rgba(44, 110, 181, 0.2) 86.94%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  padding: 10px 0px;
}
.blue-filtersize-box h6 {
  color: #fff;
  margin-bottom: 15px;
}
.blue-filtersize-box .list-filter-checks {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.blue-filtersize-box .list-filter-checks li {
  padding: 0 15px 6px;
}
.blue-filtersize-box .list-filter-checks li .custom-checkbox label {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: inherit;
}

.fund-manager-filter-wrap .filter-tags-wrap {
  margin-top: 10px;
}
.fund-manager-filter-wrap .search-box .filter-item {
  min-width: 200px;
}
.fund-manager-filter-wrap .filter-box {
  display: flex;
}
.fund-manager-filter-wrap .filter-box .filter-item {
  margin-right: 40px;
}
.fund-manager-filter-wrap .filter-box .filter-item h6 {
  margin-bottom: 5px;
}
.fund-manager-filter-wrap .clear-all-btn {
  margin-top: 30px;
  display: none;
}

/*mob-sortby-box*/
.sorting-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 15;
  display: none;
}

.mob-sortby-box {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 16;
  transition: all 0.3s;
  display: none;
}

.mob-sortby-inner {
  background-color: #FFFFFF;
  border-radius: 10px 10px 0 0;
  padding: 17px 0 10px;
  width: 100%;
  position: relative;
}
.mob-sortby-inner .mob-sorby-close {
  font-size: 14px;
  line-height: 14px;
  color: #2C6EB5;
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
}
.mob-sortby-inner h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 20px;
}
.mob-sortby-inner ul li {
  padding-bottom: 13px;
}

@media (max-width: 1200px) {
  .filter-box .filter-btn-wrap {
    margin: 0 -5px;
  }
  .filter-box .filter-btn-wrap .filter-item {
    padding: 0 5px;
  }

  .filter-search-wrap .search-box {
    margin-right: 10px;
    padding-right: 10px;
  }
  .filter-search-wrap .dropdown-button a {
    padding-right: 15px;
  }
  .filter-search-wrap .filter-box {
    width: calc(100% - 232px);
  }
}
@media (max-width: 991px) {
  .scroll-hide .mob-filter-container {
    z-index: 1 !important;
  }

  .mob-filter-container {
    background-color: #2C6EB5;
    padding: 14px 0;
    box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  }

  .mobile-filter-sort {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .mobile-filter-sort a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    position: relative;
  }
  .mobile-filter-sort .icon {
    margin-right: 7px;
    color: #D7DF23;
    font-size: 12px;
  }

  .mob-filterBtn-wrap, .mob-sortBtn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  .filter-count {
    width: 15px;
    height: 15px;
    background-color: #D7DF23;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: #2C6EB5;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -10px;
  }
  .filter-count.show {
    display: inline-flex;
  }

  .mob-filterBtn-wrap {
    border-right: 1px solid rgba(122, 205, 0, 0.6);
    width: 50%;
  }

  .mob-sortBtn-wrap {
    width: 50%;
  }

  .mob-filter-box {
    position: fixed;
    top: 0;
    background-color: #2D6DB6;
    left: 0;
    z-index: 16;
    width: calc(100% + 1px);
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .mob-filter-box.open {
    transform: translateX(0);
  }

  .rating-checkbox-wrap {
    justify-content: flex-start;
  }

  .back-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .back-btn .icon {
    color: #D7DF23;
    font-size: 11px;
    margin-right: 8px;
  }

  .back-btn-wrap {
    padding: 10px;
  }

  .filter-wrap {
    display: flex;
    height: 100%;
    padding-bottom: 120px;
  }

  .filter-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #fff;
    display: block;
    position: relative;
    padding-right: 30px;
  }
  .filter-link:before {
    content: "";
    font-family: "icomoon";
    font-size: 8px;
    position: absolute;
    top: 1px;
    right: 0;
  }
  .filter-link span {
    position: relative;
    display: inline-block;
    padding-right: 5px;
  }
  .filter-link span:after {
    content: "";
    width: 7px;
    height: 7px;
    background: #D7DF23;
    position: relative;
    top: -8px;
    right: -2px;
    z-index: 0;
    border-radius: 50%;
    display: none;
  }
  .filter-link.hasFilter span:after {
    display: inline-block;
  }
  .filter-link.active {
    color: #D7DF23;
  }

  .filter-list-wrap {
    padding-left: 10px;
    padding-right: 15px;
    width: 250px;
  }
  .filter-list-wrap li {
    margin-bottom: 30px;
  }

  .filter-cards-wrap {
    background: #F6FCFF;
    box-shadow: inset 2px 2px 0px 1px #c7e5f8;
    border-top-left-radius: 10px;
    flex-grow: 1;
    flex-basis: 0;
    padding-bottom: 40px;
  }

  .filter-fotter {
    background: #FFFFFF;
    border: 1px solid rgba(122, 204, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
    border-radius: 10px 10px 0 0;
    padding: 19px 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .filter-fotter .apply-filter-btn {
    margin-right: 25px;
  }
  .filter-fotter .clear-all-btn {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C6EB5;
  }

  .filter-card-item {
    display: none;
  }
  .filter-card-item.active {
    display: block;
  }

  .dropdown-header {
    margin-bottom: 12px;
  }
  .dropdown-header p {
    font-size: 12px;
    line-height: 18px;
    margin-right: 15px;
  }

  .dropdown-card-inner {
    padding: 15px 17px;
  }

  .search-form .form-control {
    height: 27px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 18px;
    padding-left: 30px;
  }
  .search-form .search-btn {
    font-size: 11px;
  }

  .fund-category-box {
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c6eb5;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  .fund-category-box.active {
    transform: translateX(0);
  }

  .filter-section {
    padding: 14px 0px;
  }
  .filter-section .loader.js-loader {
    position: fixed;
    z-index: 16;
  }

  .loader {
    position: fixed;
    z-index: 16;
  }

  .filter-section.sebi-filters {
    margin-bottom: 5px;
  }

  .filterList-mCustomScrollbar {
    max-height: calc(100vh - 240px);
  }

  .search-wrap .search-form .form-control {
    height: 37px;
    padding-left: 35px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: rgba(51, 51, 51, 0.5);
  }
  .search-wrap .search-form .search-btn {
    font-size: 16px;
  }

  .mob-sortby-box {
    display: flex;
    transform: translateY(100%);
  }
  .mob-sortby-box.opened-sort {
    transform: translateY(0);
  }

  .tb-overflow-hidden {
    overflow: hidden;
  }

  .sorting-backdrop {
    display: block;
  }
}
@media (max-width: 767px) {
  .filter-list-wrap {
    min-width: 148px;
    width: 138px;
    padding-right: 12px;
  }

  .filter-link {
    padding-right: 16px;
  }

  .filter-section {
    margin-bottom: 20px;
  }
}
@media (max-width: 359px) {
  .dropdown-header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: self-end;
  }
  .dropdown-header p, .dropdown-header .select-all-btn {
    width: 100%;
    margin-right: 0;
  }
  .dropdown-header .clear-btn {
    margin-bottom: 5px;
  }
}
.blue-tab-box {
  background: linear-gradient(105.18deg, rgba(0, 88, 153, 0.2) 8.75%, rgba(78, 76, 221, 0.2) 49.88%, rgba(44, 110, 181, 0.2) 86.94%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  padding-top: 17px;
}
.blue-tab-box ul {
  margin: -8px -10px 0;
  display: flex;
  flex-wrap: wrap;
}
.blue-tab-box ul li {
  padding: 8px 10px 0;
}
.blue-tab-box ul li a {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  display: block;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 15px;
  position: relative;
}
.blue-tab-box ul li a:before {
  content: "";
  height: 3px;
  background-color: #D7DF23;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: none;
}
.blue-tab-box ul li.active a {
  color: #fff;
}
.blue-tab-box ul li.active a:before {
  display: block;
}
.blue-tab-box .blue-tab-slide {
  display: none;
}
.blue-tab-box .blue-tab-slide ul {
  margin-top: 0px;
}
.blue-tab-box .blue-tab-inner {
  position: relative;
  padding-right: 80px;
}
.blue-tab-box .tab-link-text {
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 7px;
}
.blue-tab-box .tab-link-text i {
  font-style: normal;
}

.mob-blue-menu-scroll {
  max-height: 200px;
}

@media (max-width: 991px) {
  .mob-blue-menu {
    background-color: #2C6EB5;
    padding: 10px 0px;
  }
}
@media (max-width: 767px) {
  .mob-blue-menu .custom-dropdown.custom-dropdown-new .dropdown-button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.js-floating.affix {
  position: fixed !important;
}

@media (min-width: 992px){
.d-lg-block {
    display: block !important;
  }
}

.custom-radio-text {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #606060;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 20px;
    margin-bottom: 0px;
    position: relative;
    padding-left: 30px;
}

.custom-radio input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin-top: 0px;
    top: 0px;
    cursor: pointer;
}    

.custom-radio-text .custom-radio {
    position: absolute;
    left: 0px;
    top: 0px;
}

.custom-radio {
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    position: relative;
}

.custom-radio .radiobox-check {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #BFDBFA;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}   

.icon-filter:before {
    content: "\e917";
}

.icon-sort:before {
    content: "\e918";
}

.js-fixContainer.affix {
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

.js-floating.affix {
    position: fixed !important;
}

.custom-checkbox input[type=checkbox] {
    display: none;
}

.custom-checkbox .checkbox-wrap {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #BFDBFA;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
}

.custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap.yellow-check {
    background-color: #D7DF23;
    border-color: #D7DF23;
}

.custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap:after {
    display: block;
}

.custom-checkbox .checkbox-wrap:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #2c6eb5;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.custom-checkbox label {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C6EB5;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.filter-checkbox label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #606060;
    align-items: flex-start;
}

.filter-checkbox .checkbox-wrap:after {
    border-color: #fff;
}

/* amc listing blue tab filter css end */


/* amc listing box css start */

.fund-manager-box {
    background-color: #E9F0F7;
    padding: 65px 0 75px;
    position: relative;
  }
  .bg-wgite {
      background-color: #fff !important;
  }
  .pd-t45i {
      padding-top: 45px !important;
  }
  .fund-manager-box .top-inners {
    text-align: center;
  }
  .fund-manager-box h2 {
    margin-bottom: 13px;
  }
  .fund-manager-box .heading-with-view {
    margin-bottom: 12px;
  }
  
  .fund-manager-rows .fund-manager-col {
    height: 100%;
    padding: 25px 10px 35px;
  }
  .fund-manager-rows .fund-manager-col .fund-manager-card {
    height: 100%;
  }
  
  .fund-manager-card .fund-manager-top {
    padding: 25px 30px;
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  .fund-manager-card .fund-manager-top h5 {
    line-height: 24px;
    color: #2C6EB5; 
     min-height: 72px;
  }
  .fund-manager-card .fund-manager-bottom {
    padding: 14px 30px 22px;
  }
  .fund-manager-card .fund-ul {
    display: flex;
    flex-wrap: wrap;
    margin: -17px -10px 0;
  }
  .fund-manager-card .fund-ul .fund-li {
    margin-top: 17px;
    width: 50%;
    padding: 0 10px;
  }
  .fund-manager-card p {
    font-size: 14px;
    line-height: 22px;
    color: #606060;
  }
  
  .amc-box .amc-text-logo {
    position: relative;
    padding-left: 43px;
    min-height: 35px;
    display: flex;
    align-items: center;
  }
  .amc-box .amc-text-logo .amc-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 1px solid #CCD8EE;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .amc-box .amc-text-logo .amc-logo img {
    margin: auto;
  }
  .amc-box .fund-manager-card .fund-manager-top {
    padding-bottom: 20px;
  }
  .amc-box .fund-manager-card .fund-manager-top h5 {
    color: #333;
  }
  
  .amc-box .amc-lising .fund-manager-card .fund-manager-top {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .amc-box .amc-lising .amc-text-logo {
    min-height: 50px;
    padding-left: 64px;
  }
  .amc-box .amc-lising .amc-text-logo .amc-logo {
    border: none;
    width: 50px;
    height: 50px;
  }
  
  .amc-lising {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
  }
  .amc-lising .fund-manager-rows {
    width: 33.33%;
    padding: 0 10px 20px;
  }
  .amc-lising .fund-manager-rows .fund-manager-col {
    padding: 0px;
    border: 1px solid rgba(122, 204, 255, 0.3);
    border-radius: 10px;
  }
  
  .fund-manager-box.fund-manager-listing {
    padding: 45px 0 40px;
  }
  .fund-manager-box.fund-manager-listing .inner-fund-manager {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .fund-manager-box.fund-manager-listing .fund-search-lists {
    display: none;
  }
  .fund-manager-box.fund-manager-listing .fund-manager-rows {
    width: 33.33%;
    padding: 0 10px 20px;
  }
  .fund-manager-box.fund-manager-listing .fund-manager-rows .fund-manager-col {
    padding: 0;
    border: 1px solid rgba(122, 204, 255, 0.3);
    border-radius: 10px;
  }
  .tmc-top-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 40px;
      border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  .tmc-top-row h2 {
      margin-bottom: 0px;
  }
  .fund-list-result {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  
  .fund-list-result-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fund-list-result-inner .fund-list-result-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .fund-list-result-inner .fund-list-result-one {
    padding-right: 65px;
  }
  .fund-list-result-inner .contact-infomarion-btn {
    margin-bottom: 0px;
  }
  .fund-list-result-inner .fund-list-result-two {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .fund-list-result-inner .fund-list-result-two .custom-dropdown {
    min-width: 148px;
  }
  .fund-list-result-inner .fund-list-result-sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  .fund-list-result-inner .fund-list-result-sort .custom-dropdown {
    min-width: 255px;
  }
  .fund-list-result-inner .fund-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #2C6EB5;
    display: block;
    padding-right: 14px;
    display: flex;
    align-items: center;
  }
  .fund-list-result-inner .fund-label span {
    margin-right: 8px;
  }
  
  .fund-list-ul .fund-list-li {
    margin-bottom: 20px;
  }
  .fund-list-ul .fund-list-li .similar-mutual-funds-items {
    margin: 0px;
  }
  .fund-list-result.amc-listing-sort {
      padding-bottom: 0px;
      margin-bottom: 0px;
      border-bottom: none;
  }
  .fund-list-result.amc-listing-sort .fund-list-result-inner {
      padding-left: 25px;
  }
  .search-lists-box {
      margin-right: 33px;
  }
  .search-lists-box .header-search {
      width: 245px;
  }
  .loader {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      z-index: 2;
      display: none;
  }
  .search-lists-box .header-search .twitter-typeahead {
      display: block !important;
  }
  .search-lists-box .header-search .form-control {
      color: #333;
      border: 1px solid #ACB4D1;
      width: 100%;
  }
  .search-lists-box .tt-menu {
      background-color: #FFFFFF;
      box-shadow: 0px 16px 70px rgb(153 186 208 / 30%);
      border-radius: 10px;
      padding: 11px;
      width: 319px;
      left: auto !important;
      right: 0px;
      z-index: 3 !important;
  }
  #jsSearchTypehead .tt-menu, #jsMutualFundSearchTypehead .tt-menu, #jsSearchTypeheadMob .tt-menu {
       max-height: 250px; 
       overflow-y: auto; 
  }
  .custom-dropdown {
      position: relative;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-button {
      background-color: #F9FBFF;
      border: 1px solid #CCD8EE;
      border-radius: 6px;
  }
  .dropdown-button {
      background-color: #F9FBFF;
      border-radius: 6px;
      padding: 8px 13px;
      min-width: 120px;
      cursor: pointer;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-button a {
      padding-right: 15px;
  }
  .dropdown-button a {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #606060;
      position: relative;
      padding-right: 45px;
      display: block;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-button a:before {
      content: "";
      font-size: 10px;
      top: 50%;
      transform: translateY(-50%);
  }
  .dropdown-button a:before {
      content: "";
      font-family: "icomoon";
      font-size: 7px;
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      color: #2C6EB5;
      transition: all 0.3s;
  }
  .dropdown-card {
      background-color: #fff;
      box-shadow: 0px 16px 70px rgb(153 186 208 / 30%);
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: -10px;
      transform: translateY(100%);
      left: 0;
      min-width: 240px;
      z-index: 2;
      display: none;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-card {
      width: 100%;
      min-width: inherit;
  }
  .dropdown-card-inner {
      padding: 15px 20px;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-card-inner {
      padding: 11px;
  }
  .dropdown-list-menu li {
      margin-top: 5px;
  }
  .dropdown-list-menu li:first-child {
      margin-top: 0px;
  }
  .dropdown-list-menu li a {
      padding: 7px 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #606060;
      border-radius: 8px;
      display: block;
  }
  .dropdown-list-menu li.active a, .dropdown-list-menu li:hover a {
      background-color: #F2F9FF;
      color: #333;
  }
  .card-div {
      background-color: #FFFFFF; 
      box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
      border-radius: 10px;
  }
  .amc-box .amc-lising .fund-manager-card {
      display: block;
  }
  .fund-manager-card h6 {
      color: #333;
  }
  .amc-listing-tab-btn {
      text-align: center;
      padding-top: 10px;
  }
  .btn-blue-link-bg {
      display: inline-block;
      background-color: #FFFFFF;
      box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
      border-radius: 80px;
      padding: 11px 25px;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #2C6EB5;
  }
  .search-lists-box .tt-menu .tt-suggestion {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #858997;
      cursor: pointer;
      padding: 8px 12px;
  }
  .search-lists-box .tt-menu .tt-suggestion .tt-highlight {
      color: #333;
      font-weight: 500;
  }
  .dropdown-card:before {
      content: "";
      width: 70px;
      height: 3px;
      background: #D7DF23;
      position: absolute;
      top: -2px;
      left: 0;
  }
  .icon-sort:before {
      content: "\e918";
  }
  
  h1{
      font-weight: 600;
      font-size: 44px;
      line-height: 53px;    
      letter-spacing: -0.01em;    
      color: #333333;
  }
  
  h2{
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;    
      color: #333333;
  }
  h3{
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;    
      letter-spacing: -0.01em;    
      color: #333333;
  }
  h4{
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: -0.01em;
      color: #333333;
  }
  h5{ 
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;               
      color: #333333;
  }
  h6{
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
  }
  
  @media (max-width: 1199px){
  
              .fund-list-result.amc-listing-sort .search-lists-box .header-search {
      width: 210px;
    }
    .fund-list-result.amc-listing-sort .fund-list-result-inner {
      padding-left: 0px;
    }
    .fund-list-result.amc-listing-sort .fund-list-result-inner .fund-list-result-sort .custom-dropdown {
      min-width: 200px;
    }
  
  
  }
  @media (max-width: 991px) {
    .fund-manager-box {
      padding: 45px 0;
    }
    .fund-manager-box.fund-manager-listing .fund-manager-rows {
      width: 50%;
    }
    .fund-manager-box.fund-manager-listing .fund-search-lists {
      display: block;
    }
  
    .amc-lising .fund-manager-rows {
      width: 50%;
    }
  .tmc-top-row {
      display: block;
      margin-bottom: 20px;
      border-bottom: none;
  }
  .tmc-top-row h2 {
      margin-bottom: 30px;
      text-align: center;
  }
  .fund-list-result.amc-listing-sort .fund-list-result-inner {
      display: block;
  }
  .search-lists-box {
      margin-right: 0px;
  }
  .fund-list-result.amc-listing-sort .search-lists-box .header-search {
      width: 100%;
      margin: auto;
      max-width: 320px;
  }
  .fund-list-result.amc-listing-sort .fund-list-result-inner .fund-list-result-right {
      display: none;
  }
  .fund-list-result-inner .fund-list-result-right {
      display: none;
  }
  .fund-list-result-inner .fund-list-result-sort .custom-dropdown {
      min-width: 220px;
  }
  .dropdown-card-inner {
      padding: 15px 17px;
  }
  }
  @media (max-width: 767px) {
    .fund-manager-box.amc-listing-box {
      padding-top: 30px !important;
    }
    .fund-manager-box.fund-manager-listing {
      padding: 25px 0 40px;
    }
    .fund-manager-box.fund-manager-listing .pagination-box {
      padding-top: 10px;
    }
    .fund-manager-box.fund-manager-listing .fund-manager-rows {
      width: 100%;
    }
    .fund-manager-box.fund-manager-listing .fund-manager-rows .fund-manager-col {
      border: none;
    }
    .fund-manager-box .container.fund-manager {
      padding: 0px;
    }
    .fund-manager-box h2 {
      margin-bottom: 6px;
    }
    .fund-manager-box .top-headings p {
      font-size: 14px;
      line-height: 22px;
    }
  
    .fund-manager-rows .fund-manager-col {
      padding-left: 4px;
      padding-right: 4px;
      height: auto;
    }
  
    .fund-manager-card {
      border: 1px solid rgba(122, 204, 255, 0.3);
    }
    .fund-manager-card .fund-ul {
      margin-left: -5px;
      margin-right: -5px;
    }
    .fund-manager-card .fund-ul .fund-li {
      width: 33.33%;
      padding: 0 5px;
    }
    .fund-manager-card .fund-manager-top {
      padding: 15px 17px;
    }
    .fund-manager-card .fund-manager-top h5 {
      font-size: 18px;
      line-height: 22px;
    }
    .fund-manager-card .fund-manager-bottom {
      padding: 17px 17px;
    }
    .fund-manager-card p {
      font-size: 11px;
      line-height: 12px;
      color: #666666;
      margin-bottom: 4px;
    }
    .fund-manager-card h6 {
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
    }
  
    .amc-box .fund-manager-card .fund-manager-top {
      padding-bottom: 15px;
    }
  
    .amc-lising .fund-manager-rows {
      width: 100%;
    }
    .amc-lising .fund-manager-rows .fund-manager-col {
      border: none;
    }
  
    .amc-listing-box .tab-view-all {
      padding-top: 10px;
    }
  
    .amc-box .amc-lising .fund-manager-card .fund-manager-top {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .amc-box .amc-lising .amc-text-logo {
      min-height: 35px;
      padding-left: 50px;
    }
    .amc-box .amc-lising .amc-text-logo .amc-logo {
      width: 35px;
      height: 35px;
    }
    .tmc-top-row {
      margin-bottom: 0px;
    }
    .tmc-top-row h2 {
      margin-bottom: 12px;
  }
  .fund-list-result {
      padding-bottom: 15px;
      margin-bottom: 5px;
  }
  .search-lists-box .header-search {
      height: auto;
  }
  .search-lists-box .tt-menu {
      background-color: #F7FCFF;
  }
  .search-lists-box .header-search .search-btn {
      width: 40px;
      height: 40px;
      position: absolute;
      font-size: 19px;
  }
  .fund-list-result-inner .fund-list-result-right {
      display: none;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-button {
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .custom-dropdown.custom-dropdown-new .dropdown-card-inner {
      padding: 10px;
  }
  
  h1 { 
          font-size: 30px; 
          line-height: 36px; 
      }
      h2 { 
          font-size: 24px; 
          line-height: 29px; 
      }
      h3 {
          font-size: 18px;
          line-height: 22px;
      }
      h4{       
          font-size: 18px;
          line-height: 21px;
      }
      h5{         
          font-size: 16px;
          line-height: 24px;
      }
      h6 {
          font-size: 12px;
          line-height: 18px;
      }
  .search-lists-box {
      padding-top: 18px;
  }
  
  }
  @media (max-width: 374px) {
    .fund-manager-card {
      width: 320px;
    }
  }
  @media (max-width: 359px) {
    .fund-manager-card {
      width: 295px;
    }
  }
  
  @media (max-width: 991px){
    .loader {
      position: fixed;
      z-index: 16;
    }
  
  }
  
/* amc listing box css end */
