<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.itReturens'}"></sly>
</sly>

<section class="it-return-box">
    <div class="container">
        <h2>${properties.heading}</h2>
        <div class="it-return-row">
            <div class="it-return-left">
                <img src="${properties.leftImg}" alt="">
            </div>
            <div class="it-return-right">
                <h5>${properties.subHeading}</h5>
                <sly data-sly-list.points="${resource.children}">
                    <sly data-sly-test="${points.name == 'bulletPoints'}">
                        <sly data-sly-list.point="${points.children}">
                            <ul class="it-list">
                                <li>
                                    ${point.text}
                                </li>
                            </ul>
                        </sly>
                    </sly>
                </sly>

                <div class="it-btn-file">
                    <sly data-sly-test="${properties.leftButton}">
                        <a href="${properties.rightImgLink}" class="btn-itr">
                            <img src="${properties.leftButton}" alt="">
                        </a>
                    </sly>
                    <sly data-sly-test="${properties.rightButton}">
                        <a href="${properties.leftImgLink}" class="btn-itr bg-primary">
                            <img src="${properties.rightButton}" alt="">
                        </a>
                    </sly>
                </div>

            </div>
        </div>
    </div>
</section>