<!--  make box  -->
<section class="make-box ${properties.background} ${properties.titleDescription ? 'smallcase-make-box': '' }">
    <div class="container" data-sly-test="${properties.title}">
        <div class="make-top">
            <h2 class="text-center">${properties.title}</h2>
        </div>

        <div class="make-inner" data-sly-test="${properties.heading}">
            <div class="make-left">
                <h5 class="d-block d-md-none">${properties.heading}</h5>
                <div class="make-left-slider">
                    <!-- desktop -->
                    <div class="make-left-ul js-makeMobileSlider slider-arrows progress-slider slider-dots">

                        <sly data-sly-list.data="${resource.children}">
                            <sly data-sly-test="${data.name == 'fundProcessList'}">
                                <sly data-sly-list.fundProcessItems="${data.children}">

                                    <div class="make-left-li">
                                        <div class="make-mobile-img">
                                            <img src="${fundProcessItems.mobileImg}" alt="" />
                                        </div>
                                        <div class="make-right-slider d-block d-md-none">
                                            <div class="make-ul progress-container js-progressBarContainer">
                                                <div class="make-li">
                                                    <svg
															width="20"
															height="20"
															viewPort="0 0 100 100"
															version="1.1"
															xmlns="http://www.w3.org/2000/svg"
															data-slick-index="${fundProcessItemsList.index}"
															class="progressBar"
														>
															<circle r="8" cx="10" cy="10" fill="transparent" stroke-dasharray="100" stroke-dashoffset="0"></circle>
															<circle
																class="bar inProgress inProgress${fundProcessItemsList.index}"
																r="8"
																cx="10"
																cy="10"
																fill="transparent"
																stroke-dasharray="100"
																stroke-dashoffset="0"
															></circle>
														</svg>
                                                    ${fundProcessItems.description @ context='html'}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </sly>
                            </sly>
                        </sly>

                    </div>
                </div>
            </div>

            <div class="make-right">
                <h5 class="d-none d-md-block">${properties.heading}</h5>
                ${properties.titleDescription @ context='html'}
                <div class="make-right-slider d-none d-md-block">
                    <div class="make-ul progress-container js-progressBarContainer">

                        <sly data-sly-list.data="${resource.children}">
                            <sly data-sly-test="${data.name == 'fundProcessList'}">
                                <sly data-sly-list.fundProcessItems="${data.children}">

                                    <div class="make-li ${fundProcessItemsList.count == 1 ? 'active' : ''}">
                                        <svg width="20" height="20" viewPort="0 0 100 100" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            data-slick-index="${fundProcessItemsList.index}" class="progressBar">
                                            <circle r="8" cx="10" cy="10" fill="transparent" stroke-dasharray="100"
                                                stroke-dashoffset="0"></circle>
                                            <circle class="bar inProgress inProgress${fundProcessItemsList.index}" r="8"
                                                cx="10" cy="10" fill="transparent" stroke-dasharray="100"
                                                stroke-dashoffset="0">
                                            </circle>
                                        </svg>
                                        ${fundProcessItems.description @ context='html'}
                                    </div>

                                </sly>
                            </sly>
                        </sly>
                    </div>
                </div>

                <div class="make-start-text">
                    <h5>${properties.subHeading}</h5>
                </div>

                <div class="make-app-link js-getapp-form" data-sly-test="${properties.getLink}">
                    <div class="get-app-link">
                        <div class="get-app-inner">
                            <input type="text" class="form-control-plain only-numeric-input"
                                placeholder="Enter mobile number" maxlength="10" data-type="mobile">
                            <span class="text-code">+91</span>
                        </div>
                        <button type="button"
                            class="btn-blue radius100 btn-shadow get-links">${properties.getLink}</button>
                    </div>
                </div>

                <div class="app-store-link">
                    <!--adobe analytics-->
                    <a href="https://play.google.com/store/apps/details?id=com.tatacapital.moneyfy&hl=en" target="_blank" data-fundstoreimg="googleStoreImg"><img src="${properties.googleImg}" alt="" /></a>
                    <a href="https://apps.apple.com/in/app/tata-capital-moneyfy/id1479549912" target="_blank"  data-fundstoreimg="appStoreImg"><img src="${properties.appleImg}" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- make box -->

<div class="popover-modal app-download-modal fade" id="getAppLinkViaSms">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <div class="download-link-app js-getapp-form-modal">
                    <button data-dismiss="popover-modal" class="popover-modal-close color-white"><i
                            class="icon-close"></i></button>
                    <div class="get-app-messege get-app-link-via-sms">
                        <img src="${properties.popupImg}" alt="">
                        <h6>${properties.popupTitle}</h6>
                        <div class="get-edit-link">
                            <p>An SMS has been sent to XXXXXXXX<span class="jsShowMobileNumber">78</span></p>
                            <a href="javascript:void(0)" class="jsgetAppLinkViaSms"><img
                                    src="/content/dam/tata-capital-moneyfy/home-page/edits.svg" alt=""></a>
                        </div>
                        <p>To download the app, follow the link in the message</p>
                    </div>
                    <div class="get-app-messege get-app-link-via-sms  fund-api-error">
                        <div class="get-edit-link error-msg">
                            <p>Oops! Something went wrong. Please try again.</p>
                            <a href="javascript:void(0)" class="jsgetAppLinkViaSms"><img
                                    src="/content/dam/tata-capital-moneyfy/home-page/edits.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>