<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.customer-care'}"></sly>
</sly>

<section class="customer-care-box">
    <div class="container">
        <div class="customer-care-inner">
            <div class="customer-care-col customer-care-info-col" data-sly-test="${properties.infoColImage}">
                <div class="customer-care-info-wrap">
                    <img src="${properties.infoColImage}" alt="">

                    <h6 class="customer-care-head">${properties.infoColHeading}</h6>
                    ${properties.infoColDescription @context='unsafe'}
                </div>
            </div>
            <div class="customer-care-col we-are-based-col" data-sly-test="${properties.weAreBasedHeading}">
                <div class="we-are-based-wrap">
                    <h2>${properties.weAreBasedHeading}</h2>
                    <ul class="phone-mail-list">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='phoneMailListMultifield'}">
                                <sly data-sly-list.phoneMailList="${item.children}">
                                    <li>
                                        <sly data-sly-test="${phoneMailList.link && phoneMailList.description}">
                                            <a href="${phoneMailList.link}"
                                                target="${phoneMailList.target ? '_blank':''}">
                                                <img src="${phoneMailList.image}" alt="">
                                                ${phoneMailList.description}
                                            </a>
                                        </sly>
                                        <sly data-sly-test="${phoneMailList.description && !phoneMailList.link}">
                                            <img src="${phoneMailList.image}" alt="">
                                            ${phoneMailList.description}
                                        </sly>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>

                </div>
            </div>
            <div class="customer-care-col download-signup-col" data-sly-test="${properties.signUpHeading}">
                <div class="download-signup-wrap">
                    <h5>${properties.signUpHeading}</h5>
                    <div class="app-store-link">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='appStoreLinkListMultifield'}">
                                <sly data-sly-list.appStoreLinkList="${item.children}">
                                    <a href="${appStoreLinkList.appStoreImageLink}"
                                        target="${appStoreLinkList.appStoreImageTarget ? '_blank':''}"><img
                                            src="${appStoreLinkList.appStoreImage}" alt=""></a>
                                </sly>
                            </sly>
                        </sly>
                    </div>
                    <div class="or"><span>or</span></div>
                    <div class="make-app-link js-getapp-form" data-sly-test="${properties.signUpHeading}">
                        <div class="get-app-link">
                            <div class="get-app-inner">
                                <input type="text" class="form-control-plain only-numeric-input"
                                    placeholder="Enter mobile number" maxlength="10" data-type="mobile">
                                <span class="text-code">+91</span>
                            </div>
                            <button type="button" class="btn-blue radius100 btn-shadow get-links">Get app link via
                                SMS</button>
                        </div>
                    </div>
                    <ul class="list-socials">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='socialListMultifield'}">
                                <sly data-sly-list.socialList="${item.children}">
                                    <li>
                                        <a href="${socialList.socialMediaLink}"
                                            target="${socialList.sociallinknewtab ? '_blank':''}">
                                            <span class="${socialList.selectIcon}"></span>
                                        </a>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="popover-modal app-download-modal fade" id="getAppLinkViaSms">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <div class="download-link-app js-getapp-form-modal">
                    <button data-dismiss="popover-modal" class="popover-modal-close color-white"><i
                            class="icon-close"></i></button>
                    <div class="get-app-messege get-app-link-via-sms">
                        <img src="/content/dam/tata-capital-moneyfy/home-page/success.png" alt="" />
                        <h6>SMS sent succesfully</h6>
                        <div class="get-edit-link">
                            <p>An SMS has been sent to XXXXXXXX<span class="jsShowMobileNumber">85</span></p>
                            <a href="javascript:void(0)" class="jsgetAppLinkViaSms"><img
                                    src="/content/dam/tata-capital-moneyfy/home-page/edits.svg" alt=""></a>
                        </div>
                        <p>To download the app, follow the link in the message</p>
                    </div>
                    <div class="get-app-messege get-app-link-via-sms  fund-api-error">
                        <div class="get-edit-link error-msg">
                            <p>Oops! Something went wrong. Please try again.</p>
                            <a href="javascript:void(0)" class="jsgetAppLinkViaSms"><img
                                    src="/content/dam/tata-capital-moneyfy/home-page/edits.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

        <sly data-sly-call="${clientlib.js @ categories='moneyfy.customer-care'}"></sly>
    </sly>