/*work video css start*/
.work-video-box {
  position: relative;
  background-color: #66CC99;
  padding: 40px 0 20px;
  background-image: url("/content/dam/tata-capital-moneyfy/mutual-funds/video-bg-left-dsk.png"), url("/content/dam/tata-capital-moneyfy/mutual-funds/video-bg-right-dsk.png");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}
.work-video-box h6, .work-video-box h2, .work-video-box p {
  color: #fff;
}
.work-video-box h2 {
  margin-bottom: 12px;
}
.work-video-box .work-video {
  width: 650px;
  height: 376px;
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/work-video.png") no-repeat top center;
  background-size: contain;
  padding: 23px 73px 44px 72px;
}
.work-video-box .work-video iframe {
  object-fit: fill;
}
.work-video-box .work-video-left {
  width: calc(100% - 650px);
  padding-top: 35px;
  padding-right: 14px;
}
.work-video-box .work-video-inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;    
    letter-spacing: -0.01em;    
    color: #333333;
}

h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;    
    color: #333333;
}
h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;    
    letter-spacing: -0.01em;    
    color: #333333;
}
h4{
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #333333;
}
h5{ 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;               
    color: #333333;
}
h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}


@media (max-width: 1199px) {
  .work-video-box .work-video {
    width: 450px;
    height: 260px;
    padding: 16px 50px 31px 51px;
  }
  .work-video-box .work-video-left {
    width: calc(100% - 450px);
  }
}
@media (max-width: 991px) {
  .work-video-box {
    padding: 40px 0 45px;
    text-align: center;
    background-image: url("/content/dam/tata-capital-moneyfy/mutual-funds/video-bg-left-mob.png"), url("/content/dam/tata-capital-moneyfy/mutual-funds/video-bg-right-mob.png");
  }
  .work-video-box .work-video {
    margin: auto;
  }
  .work-video-box .work-video-left {
    width: 100%;
    padding: 0px 0 35px;
  }
  .work-video-box .work-video-inner {
    display: block;
  }
}
@media (max-width: 767px) {
  .work-video-box {
    text-align: left;
  }
  .work-video-box .work-video {
    width: 317px;
    height: 183px;
    padding: 11px 35px 21px 36px;
  }
  .work-video-box h6 {
    margin-bottom: 9px;
  }
  .work-video-box p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }
 h1 { 
        font-size: 30px; 
        line-height: 36px; 
    }
    h2 { 
        font-size: 24px; 
        line-height: 29px; 
    }
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    h4{       
        font-size: 18px;
        line-height: 21px;
    }
    h5{         
        font-size: 16px;
        line-height: 24px;
    }
    h6 {
        font-size: 12px;
        line-height: 18px;
    }
}
@media (max-width: 359px) {
  .work-video-box .work-video {
    width: 290px;
    height: 168px;
    padding: 10px 32px 19px 32px;
  }
}

/*# sourceMappingURL=style.css.map */
