.banner-box.insurance-banner-box {
  background: none;
}
.banner-box.insurance-banner-box img {
  width: 100%;
}
.banner-box.insurance-banner-box .banner-slider {
  padding-bottom: 0;
}
.banner-box.insurance-banner-box .banner-inner {
  padding-bottom: 0;
}
.banner-box.insurance-banner-box .slick-list {
  padding-bottom: 60px;
}

.nps-banner-img {
  width: auto !important;
  margin: auto;
}

@media (max-width: 991px) {
  .banner-box.insurance-banner-box .new-banner-inner {
    padding-bottom: 0;
  }
  .banner-box.insurance-banner-box .banner-image .banner-caption .banner-left {
    width: 450px;
  }
  .banner-box.insurance-banner-box .banner-image .banner-caption .banner-right {
    width: calc(100% - 450px);
  }
}
@media (max-width: 767px) {
  .banner-box.insurance-banner-box {
    padding-bottom: 40px;
  }
  .banner-box.insurance-banner-box .banner-slider {
    padding-top: 0;
  }
  .banner-box.insurance-banner-box p {
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    font-weight: 600;
  }
  .banner-box.insurance-banner-box .banner-left .tab-left-btn {
    text-align: center;
  }
  .banner-box.insurance-banner-box .banner-left .tab-left-btn .btn-blue {
    width: 100%;
    max-width: 265px;
  }
  .banner-box.insurance-banner-box .banner-left .tab-left-btn .btn-blue.btn-blue-outline {
    border: 1px solid #2C6EB5;
  }
  .banner-box.insurance-banner-box .btn-wrap {
    text-align: center;
  }
  .banner-box.insurance-banner-box .btn-wrap .btn-blue {
    width: 100%;
    max-width: 265px;
  }
  .banner-box.insurance-banner-box .banner-image .banner-caption .banner-left {
    width: 100%;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .banner-box.insurance-banner-box .banner-image .banner-caption .banner-right {
    width: 100%;
  }
  .banner-box.insurance-banner-box .banner-image .banner-caption .banner-right img {
    max-height: 290px;
    margin: auto;
    object-fit: contain;
  }
}

/*# sourceMappingURL=style.css.map */
