.work-video-box {
  position: relative;
  background-color: #66CC99;
  padding: 75px 0 40px;
  background-image: url("../img/video-bg-left-dsk.png"), url("../img/video-bg-right-dsk.png");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
}
.work-video-box h6, .work-video-box h2, .work-video-box p {
  color: #fff;
}
.work-video-box h2 {
  margin-bottom: 12px;
}
.work-video-box .work-video {
  width: 650px;
  height: 376px;
  background: url("../img/work-video.png") no-repeat top center;
  background-size: contain;
  padding: 23px 73px 44px 72px;
}
.work-video-box .work-video iframe {
  object-fit: fill;
}
.work-video-box .work-video-left {
  width: calc(100% - 650px);
  padding-top: 35px;
  padding-right: 14px;
}
.work-video-box .work-video-inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.service-request-box {
  padding: 55px 0 60px;
  background-color: #66CC99;
  background-image: url("/content/dam/tata-capital-moneyfy/nps/service-request-bg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 220px;
  text-align: center;
}
.service-request-box h4 {
  color: #fff;
  margin-bottom: 35px;
}
.service-request-box .btn {
  border: 0;
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.15);
  padding: 16px 30px;
}
.service-request-box .btn:hover {
  color: #2C6EB5;
}

@media (max-width: 1199px) {
  .work-video-box .work-video {
    width: 450px;
    height: 260px;
    padding: 16px 50px 31px 51px;
  }
  .work-video-box .work-video-left {
    width: calc(100% - 450px);
  }
}
@media (max-width: 991px) {
  .work-video-box {
    padding: 40px 0 45px;
    text-align: center;
    background-image: url("../img/video-bg-left-mob.png"), url("../img/video-bg-right-mob.png");
  }
  .work-video-box .work-video {
    margin: auto;
  }
  .work-video-box .work-video-left {
    width: 100%;
    padding: 0px 0 35px;
  }
  .work-video-box .work-video-inner {
    display: block;
  }
}
@media (max-width: 767px) {
  .work-video-box {
    text-align: left;
  }
  .work-video-box .work-video {
    width: 317px;
    height: 183px;
    padding: 11px 35px 21px 36px;
  }
  .work-video-box h6 {
    margin-bottom: 9px;
  }
  .work-video-box p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }

  .service-request-box {
    padding: 45px 0;
    background-size: 170px;
    background-position-x: -40px;
  }
  .service-request-box h4 {
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 359px) {
  .work-video-box .work-video {
    width: 290px;
    height: 168px;
    padding: 10px 32px 19px 32px;
  }
}

/*# sourceMappingURL=style.css.map */
