<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.sebi-categories-box'}"></sly>
</sly>
<!-- invest-inlarge box -->
<section class="invest-inlarge-box pd js-compareActive js-compareActiveNone">
    <div class="container">
        <div class="card-div invest-inlarge">
            <div class="invest-inlarge-mx">
                <h1 class="h3-class">${pageProperties.subCatName}</h1>  
                <p>${pageProperties.description}.</p>
            </div>
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/inlarge-img.svg" alt="" class="inlarge-img">
        </div>

        <div class="inlarge-invest-journey" data-journey="invest-inlarge">
            <div class="invest-journey-inner">
                <div class="invest-journey-left">
                    <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/invest-journey-img.svg" alt="">
                    <h4>To get Started on your investment journey</h4>
                </div>
                <div class="invest-journey-right">
                    <button type="button" class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite text-stealblue" data-sebiregisterbtn="registrationBtn">Login / Register</button>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- invest-inlarge box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.sebi-categories-box'}"></sly>
</sly>