<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.faq'}"></sly>
</sly>
<!--popular-faq -->
<section class="popular-faq-box amc-listing-faq ${properties.backgroundColor}">
    <div class="container">
        <div class="heading-with-view">
            <h2>${properties.heading}</h2>
            <a href="${properties.link}" target="${properties.linkCheck ? '_blank' :' '}" class="btn-view-all" data-faqviewall="faqViewAll">${properties.faqLinkText}<span
                    class="icon-arrow-right"></span></a>
        </div>

        <div class="inner-container">
            <div class="accordian overflow-hidden" id="popular-faq">
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'multi'}">
                        <sly data-sly-list.faqItems="${listItem.children}">
                            <div class="accordian-card ${faqItemsList.index == 0 ? 'active' : ''}">
                                <div class="accordian-heading">
                                    <a class="accordian-title" href="javascript:void(0)" data-toggle="collapses"
                                        data-target="#Collapse${faqItemsList.index}" data-expand="faqExpand">${faqItems.questions}</a>
                                </div>
                                <div class="accordian-body collapse" id="Collapse${faqItemsList.index}">
                                    <p>${faqItems.description @ context='html'}</p>
                                </div>
                            </div>
                        </sly>
                    </sly>
                </sly>
            </div>
        </div>
    </div>
</section>
<!-- popular-faq -->
  <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.faq'}"></sly>
</sly>

<script type="application/ld+json" data-sly-use.FAQModel="com.tatacapital.moneyfy.core.models.GenericSchemaModel">
    {
    "@context" : "https://schema.org/",
    "@type": "FAQPage",
    "mainEntity": 
    ${FAQModel.getFAQSchemaArr @ context = 'unsafe'}
    
    }
</script>