
<!--  banner box  -->
<section class="banner-box mutual-fund-banner direct-equity-banner-box">
  <div class="banner-slider slider-arrows slider-dots" id="jsBannerSlider">
      <sly data-sly-list="${resource.children}">
          <sly data-sly-test="${item.name=='smallcaseBanner'}">
              <sly data-sly-list.bannerList="${item.children}">
                  <div class="banner-image">
                      <div class="banner-caption">
                          <div class="container">
                              <div class="banner-inner new-banner-inner">
                                  <div class="banner-left">
                                      <h1 data-banner-heading="${bannerList.heading}">${bannerList.heading}</h1>
                                      ${bannerList.description @ context="html"}
                                      <div class="tab-left-btn">
                                            <a data-sly-test='${bannerList.buttonOne}' href="${bannerList.buttonLinkOne}" data-adobe-action="${bannerList.loginCheck ? 'smallCasePopup' : '-'}" data-smallcase-action="${bannerList.loginCheck ? 'smallcasepopup' : '-'}"
                                                target="${bannerList.check ? '_blank' : ''}" class="btn-blue radius100">${bannerList.buttonOne}
                                            </a>
                                            <a data-sly-test='${bannerList.buttonTwo}' href="${bannerList.buttonLinkTwo}"
                                            data-adobe-action="smallCase" target="${bannerList.checkTwo ? '_blank' : ''}"
                                            class="btn-blue btn-blue-outline radius100">${bannerList.buttonTwo}
                                            </a>
                                      </div>
                                      ${bannerList.secDescription @context="html"}
                                  </div>
                                  <div class="banner-right">
                                      <img src="${bannerList.img}" alt="" class="nps-banner-img">
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </sly>
          </sly>
      </sly>
  </div>
</section>
<!-- banner box-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.smallcase-direct-equity-banner'}"></sly>
</sly>