<!--customer say -->
<section class="customer-say">
    <div class="container">
        <div class="heading-with-view">
            <h2 class="text-center">${properties.title}</h2>
            <a data-sly-test="${properties.viewall}" href="${properties.link}" class="btn-view-all" target="${properties.check ? '_blank' : ''}">${properties.viewall}<span
                    class="icon-arrow-right"></span></a>
        </div>

        <div class="inner-container contain">

        </div>
    </div>
    </div>
</section>
<!-- customer say -->