    <!--  Similar Funds  -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.css @ categories='moneyfy.similar-funds'}" />
</sly>  
  <sly data-sly-use.similarFunds="${'com.tatacapital.moneyfy.core.models.SimilarFundListingModel' @ similarFundIds = pageProperties.similarFundIds}">
    <sly data-sly-test.cagrVal="${similarFunds.similarFundsCagr}"/>
            <!-- similar mutual funds -->
        <section class="similar-mutual-funds">
          <div class="container">
            <h2 class="text-center">Similar Mutual Funds</h2>
            <p class="text-right">
              <a
                href="/content/tata-capital-moneyfy/en/mutual-fund-list.html"
                class="btn-view-all d-none d-md-block" data-similarfundbtn="similarFundBtn"
                >View All Mutual Funds <span class="icon-arrow-right"></span
              ></a>
            </p>
          </div>
          <div class="container">
            <div class="similar-mutual-funds-slider js-similar-fund-list" id="similarMutualFunds">
              
              <sly data-sly-list.funds="${similarFunds.similarFundsList}">
                <div class="js-similar-list js-similarMFcard" data-schemeid="${funds.schemeId}">
                    <div class="card-div similar-mutual-funds-items">
                        <div class="top-row">
                            <div class="info-rating-wrap">
                                <div class="name-return-wrap">
                                    <div class="img-name-wrap">
                                        <div class="img-wrap">
                                            <img src="${funds.iconPath}" alt="" />
                                        </div>
                                        <div class="name-rating-wrap">
                                            <a href="${funds.pagePath}" data-viewdetailbtn="viewDetailBtn" class="mf-fund-name"><h6 class="fund-name two-lines" data-schemename="${funds.fundName}">${funds.fundName}</h6></a>
                                            <div class="rating-wrap d-none d-md-flex">
                                                <p>
                                                    <span class="rate">${funds.morningStar != null && funds.morningStar != '' ? funds.morningStar : '-'}
                                                        <span class="icon-star"></span></span>
                                                    Morning Star
                                                </p>
                                                <p>
                                                    <span class="rate">${funds.valueResearch != null && funds.valueResearch != '' ? funds.valueResearch : '-'}
                                                        <span class="icon-star"></span></span>
                                                    Value Research
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="return-info d-md-none">
                                        <div class="form-select2">
                                            <select class="single-select2 similarFundReturnsVal"
                                                data-placeholder="-- Select --">
                                                <option value="${funds.oneMonthReturn == '0.0' || funds.oneMonthReturn == 'null' ? '-' : funds.oneMonthReturn}">1m Returns
                                                </option>
                                                <option value="${funds.oneYearReturn == '0.0' || funds.oneYearReturn == 'null' ? '-' : funds.oneYearReturn}">1y Returns
                                                </option>
                                                <option value="${funds.threeYearReturn == '0.0' || funds.threeYearReturn == 'null' ? '-' : funds.threeYearReturn}">3y Returns
                                                </option>
                                            </select>
                                        </div>
                                        <sly data-sly-test="${funds.oneMonthReturn != '0.0' && funds.oneMonthReturn != 'null'}">
                                            <h6 class="trend-info ${funds.isGreaterThanZero ? 'up-trend' : 'down-trend'}"
                                                data-rate="rate">
                                                <span
                                                    class="${funds.isGreaterThanZero ? 'icon-angle-up' : 'icon-angle-down'}"></span>
                                                    ${funds.oneMonthReturn} %
                                            </h6>
                                        </sly>
                                        <sly data-sly-test="${funds.oneMonthReturn == '0.0' && funds.oneMonthReturn != 'null'}">
                                            <h6 class="trend-info" data-rate="rate">-%</h6>
                                        </sly>
                                    </div>

                                </div>
                                <div class="rating-wrap d-md-none">
                                    <p>
                                        <span class="rate">${funds.morningStar != null && funds.morningStar != '' ? funds.morningStar : '-'}
                                            <span class="icon-star"></span></span>
                                        Morning Star
                                    </p>
                                    <p>
                                        <span class="rate">${funds.valueResearch != null && funds.valueResearch != '' ? funds.valueResearch : '-'}
                                            <span class="icon-star"></span></span>
                                        Value Research
                                    </p>
                                </div>
                            </div>
                            <div class="returs-box d-none d-md-flex">
                                <div class="returs-wrap">
                                    <div class="return-item">
                                        <p class="label-text">NAV</p>
                                        <h6>${funds.nav ? funds.nav : '-'}</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">1M Returns</p>
                                        <h6>${funds.oneMonthReturn == '0.0' || funds.oneMonthReturn == 'null' ? '-' : funds.oneMonthReturn}%</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">1Y Returns</p>
                                        <h6>${funds.oneYearReturn == '0.0' || funds.oneYearReturn == 'null' ? '-' : funds.oneYearReturn}%</h6>
                                    </div>
                                    <div class="return-item">
                                        <p class="label-text">3Y Returns</p>
                                        <h6>${funds.threeYearReturn == '0.0' || funds.threeYearReturn == 'null' ? '-' : funds.threeYearReturn}%</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="invest-more-wrap d-none d-md-block">
                                <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn"
                                    data-investnow="true">invest now</a>
                                <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn"
                                    data-btn="mf-dektop-view-more">
                                    <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="desktop-view-more" data-toggleCard="mf-dektop-view-more">
                            <div class="returs-wrap">
                                <div class="return-item">
                                    <p class="label-text">Min. Investment</p>
                                    <h6>Rs.${funds.minSipAmt ? funds.minSipAmt : funds.minLumpsumAmt}</h6>
                                </div>
                                <div class="return-item">
                                    <p class="label-text">Fund Size</p>
                                    <h6>Rs.${funds.fundSize ? funds.fundSize : '-'} Cr</h6>
                                </div>
                                <div class="return-item">
                                    <p class="label-text">Fund Manager</p>
                                    <h6>${funds.fundManagerName ? funds.fundManagerName : '-'}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-row">
                            <div class="tag-more-wrap">
                                <div class="tag-wrap">
                                    <span class="tag-item blue-tag" data-risktype='${funds.riskType}'>${funds.riskType ? funds.riskType : '-'}</span>
                                    <span class="tag-item violent-tag" data-catname = '${funds.categoryName}'>${funds.categoryName ? funds.categoryName :
                                        '-'}</span>
                                    <span class="tag-item green-tag">${funds.schemeOption ? funds.schemeOption :
                                        '-'}</span>
                                </div>
                                <a href="javascript:void(0)" class="btn-view-all js-viewMoreToggleBtn  d-md-none"
                                    data-btn="mf-view-more">
                                    <span class="text-wrap">More</span> <span class="icon-arrow-arrow"></span>
                                </a>
                            </div>
                            <div class="button-wrap d-none d-md-flex">
                                <div class="watchlist-compare-btn">
                                    <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap js-addWatchlist">
                                        <span class="watchlist-icon">
                                          <i class="icon-binocular"></i>
                                        </span>
                                        <span class="js-toggleAdd wishlist-text">ADD to watchlist</span>
                                      </a>
                                    <div class="custom-checkbox add-compare-wrap">
                                        <label class="js-addCompare d-none">
                                            <input type="checkbox" />
                                            <span class="checkbox-wrap"></span>
                                            ADD TO compare
                                        </label>
                                    </div>
                                    <a href="${funds.pagePath}" target="_blank" class="btn-view-all" data-viewdetailbtn="viewDetailBtn">view
                                        details<span class="icon-arrow-right"></span></a>
                                </div>
                                <div class="view-btn-wrap">

                                </div>
                            </div>

                        </div>

                        <div class="view-more-wrap d-md-none" data-toggleCard="mf-view-more">
                            <div class="returs-wrap">
                                <div class="return-item">
                                    <p class="label-text">NAV</p>
                                    <h6>${funds.nav ? funds.nav : '-'}</h6>
                                </div>
                                <div class="return-item">
                                    <p class="label-text">Min Investment</p>
                                    <h6>₹${funds.minSipAmt ? funds.minSipAmt : funds.minLumpsumAmt}</h6>
                                </div>
                                <div class="return-item">
                                    <p class="label-text">Fund Size</p>
                                    <h6>₹${funds.fundSize ? funds.fundSize : '-'} cr</h6>
                                </div>
                                <div class="return-item">
                                    <p class="label-text">Fund Manager</p>
                                    <h6>${funds.fundManagerName ? funds.fundManagerName : '-'}</h6>
                                </div>
                            </div>
                            <div class="watchlist-compare-btn">
                                <a href="javascript:void(0);" data-addwatchlist="watchListBtn" class="add-watchlist-wrap js-addWatchlist">
                                    <span class="watchlist-icon">
                                      <i class="icon-binocular"></i>
                                    </span>
                                    <span class="js-toggleAdd wishlist-text">ADD to watchlist</span>
                                  </a>
                                <div class="custom-checkbox add-compare-wrap">
                                    <label class="js-addCompare d-none">
                                        <input type="checkbox">
                                        <span class="checkbox-wrap"></span>
                                        ADD TO compare
                                    </label>
                                </div>
                            </div>
                            <div class="invest-detail-wrap">
                                <a href="javascript:void(0);" class="btn-blue radius100 invest-now-btn"
                                    data-investnow="true">invest now</a>
                                <a href="${funds.pagePath}" class="btn-view-all" data-viewdetailbtn="viewDetailBtn">view details<span
                                        class="icon-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>  
              </sly>
              
            </div>
            <sly data-sly-test="${similarFunds.similarFundsList.size > 4}">
                <div class="similar-mutual-btn text-center">
                    <a href="javascript:void(0)" class="btn-view-all view-all-mf" id="JsSimilarViewMore">View More<span class="icon-arrow-arrow"></span></a>
                    <a href="javascript:void(0)" class="btn-view-all view-all-mf d-none" id="JsSimilarViewLess">View Less<span class="icon-arrow-top"></span></a>
                </div>
            </sly>

             <div class="text-center">
               <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-view-all d-inline-block d-md-none view-all-mf">View All Mutual Funds<span class="icon-arrow-right"></span></a>
            </div>

          </div>
        </section>
        <!-- similar mutual funds -->
        <!--adobe analytics 14,129,130,146-->

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.js @ categories='moneyfy.similar-funds'}" />
</sly>            