<section class="category-breadcrumb js-compareActiveNone">
    <nav class="cmp-breadcrumb container" aria-label="${'Breadcrumb' @ i18n}"
      data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"
      data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test="${breadcrumb.items.size > 0}">
  
      <ul class="cmp-breadcrumb__list breadcrumb" data-sly-list.navItem="${breadcrumb.items}">
  
          <li data-sly-test="${navItem.title}" class="cmp-breadcrumb__item${navItem.active ? ' cmp-breadcrumb__item--active' : ''}">
              <a data-sly-test="${navItemList.count == 1}" href="/content/tata-capital-moneyfy/en/home-page.html" class="cmp-breadcrumb__item-link" data-sly-unwrap="${navItem.active}">
                  <span>Home</span>
              </a>   
              <a data-sly-test="${navItemList.count > 1}" href="${navItem.title == 'SEBI CATEGORIES EQUITY' || navItem.title == 'SEBI CATEGORIES DEBT' || navItem.title == 'SEBI CATEGORIES HYBRID' || navItem.title == 'SEBI CATEGORIES OTHERS' ? 'javascript:void(0)' : navItem.URL}" class="cmp-breadcrumb__item-link" data-sly-unwrap="${navItem.active}">
                <span itemprop="name">${navItem.title == 'SEBI CATEGORIES EQUITY' || navItem.title == 'SEBI CATEGORIES DEBT' || navItem.title == 'SEBI CATEGORIES HYBRID' || navItem.title == 'SEBI CATEGORIES OTHERS' ? 'SEBI Category' : navItem.title}</span>
              </a>
              <meta content="${navItemList.count}" />
  
          </li>
  
      </ul>
  </nav>
</section>
<!--  breabcrumb  -->
  
<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0, classAppend='cmp-breadcrumb'}"></sly>
  
<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0, classAppend='cmp-breadcrumb'}"></sly>
<sly data-sly-use.breadCrumbSchema="com.tatacapital.moneyfy.core.models.BreadCrumbModel">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "BreadcrumbList",
            "itemListElement": ${breadCrumbSchema.getBreadCrumbSchemaArr.toString @context='unsafe'}
        }
    </script>
</sly>