.tag-item {
  font-size: 10px;
  line-height: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}

.tag-wrap {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
  padding-right: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
}

.tag-item.blue-tag {
  color: #2C6EB5;
}

.tag-item.violent-tag {
  color: #CC66CC;
}

.tag-item.green-tag {
  color: #48A476;
}

.fund-list-ul .fund-list-li {
  margin-bottom: 20px;
}

.similar-mutual-funds {
padding: 70px 0 80px;
background-color: #E9F0F7;
}

.similar-mutual-funds-items {
overflow: hidden;
border: 1px solid rgba(122, 204, 255, 0.3);
}
.similar-mutual-funds-items .top-row {
display: flex;
background-color: #fff;
justify-content: space-between;
align-items: flex-start;
padding: 25px;
}
.similar-mutual-funds-items .top-row .invest-more-wrap {
width: 200px;
}
.similar-mutual-funds-items .bottom-row {
display: flex;
justify-content: space-between;
align-items: center;
border-top: 1px solid rgba(122, 204, 255, 0.3);
padding: 10px 25px;
}
.similar-mutual-funds-items .bottom-row .tag-wrap {
border-right: 0;
margin-left: 70px;
}
.similar-mutual-funds-items .img-name-wrap {
margin-bottom: 0;
}
.similar-mutual-funds-items .name-rating-wrap {
display: flex;
flex-direction: column;
justify-content: center;
}
.similar-mutual-funds-items .name-rating-wrap h6 {
overflow: hidden;
max-width: 280px;
}
.similar-mutual-funds-items .info-rating-wrap {
width: 375px;
}

.ellip {
display: block;
height: 100%;
}

.ellip-line {
display: inline-block;
text-overflow: ellipsis;
white-space: nowrap;
word-wrap: normal;
}

.ellip,
.ellip-line {
position: relative;
overflow: hidden;
max-width: 100%;
}

.name-rating-wrap .rating-wrap {
display: flex;
align-items: center;
}
.name-rating-wrap .rating-wrap .rate {
font-weight: bold;
color: #F2C94C;
}
.name-rating-wrap p {
margin-left: 0;
margin-right: 10px;
font-size: 14px;
line-height: 21px;
color: #606060;
}

.return-item {
padding: 0 15px;
}
.return-item:not(:last-child) {
border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.returs-box {
width: 390px;
}
.returs-box.return-news {
width: 410px;
}
.returs-wrap {
display: flex;
flex-wrap: wrap; 
justify-content: space-between;
margin: 0 -15px;
}
.returs-wrap .label-text {
font-size: 14px;
line-height: 22px;
color: #606060;
}

.similar-mutual-funds-slider .card-div {
border: 1px solid rgba(122, 204, 255, 0.3);
overflow: hidden;
margin-top: 20px;
}

.button-wrap {
display: flex;
align-items: center;
}

.watchlist-compare-btn {
display: flex;
align-items: center;
}

.add-watchlist-wrap {
font-size: 12px;
line-height: 18px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #2C6EB5;
margin-right: 20px;
font-weight: 700;
display: flex;
align-items: center;
}
.add-watchlist-wrap [class^=icon-] {
font-size: 24px;
margin-right: 10px;
}

.add-compare-wrap label {
margin-right: 20px;
}

.invest-now-btn {
padding: 12px 20px;
margin-right: 15px;
}

.btn-view-all [class^=icon-] {
transition: all 0.3s;
}
.btn-view-all.active [class^=icon-] {
transform: rotate(-180deg);
}

.desktop-view-more {
background-color: #F9FCFF;
padding: 10px 25px;
margin-bottom: 0;
border-top: 1px solid rgba(122, 204, 255, 0.3);
}
.desktop-view-more .returs-wrap {
width: auto;
margin-left: 55px;
justify-content: flex-start;
}

.fund-managerfilterbox {
padding-bottom: 70px;
position: static !important;
}
.fund-managerfilterbox .pagination-box {
padding-top: 10px;
}

.similar-mutual-btn .view-all-mf {
text-align: center;
margin-top: 20px;
}

.js-similar-fund-list .js-similar-list {
display: none;
}

.openNfo{
cursor: pointer;  
}

@media (max-width: 1200px) {

 .tag-item {
  margin-right: 8px;
  }

  .tag-wrap {
  padding-right: 5px;
  margin-right: 5px;
}

.similar-mutual-funds-items .invest-now-btn {
  padding: 9px 15px;
  margin-right: 10px;
}
.similar-mutual-funds-items .returs-wrap .label-text {
  font-size: 11px;
  line-height: 15px;
}
.similar-mutual-funds-items .name-rating-wrap p {
  font-size: 11px;
  line-height: 14px;
  margin-right: 6px;
}
.similar-mutual-funds-items .img-name-wrap .img-wrap {
  min-width: 40px;
  width: 40px;
  height: 40px;
  padding: 3px;
  margin-right: 10px;
}
.similar-mutual-funds-items .bottom-row .tag-wrap {
  border-right: 0;
  margin-left: 47px;
}
.similar-mutual-funds-items .desktop-view-more .returs-wrap {
  margin-left: 34px;
}
.similar-mutual-funds-items .name-rating-wrap h6 {
  max-width: 267px;
}
}
@media (max-width: 991px) {
.similar-mutual-funds {
  padding: 40px 0;
}

.tag-wrap {
  border-right: 0;
}  

.tag-item {
  display: inline-block;
} 

.similar-mutual-funds-items .top-row {
  padding: 15px 10px;
}
.similar-mutual-funds-items .bottom-row {
  padding: 10px 10px;
}
.similar-mutual-funds-items .bottom-row .tag-wrap {
  margin-left: 0;
}
.similar-mutual-funds-items .name-rating-wrap h6 {
  font-size: 13px;
  line-height: 17px;
  max-width: 192px;
}
.similar-mutual-funds-items .returs-wrap {
  margin: 0 -8px;
}
.similar-mutual-funds-items .return-item {
  padding: 0 8px;
}
.similar-mutual-funds-items .return-item h6 {
  font-size: 15px;
  line-height: 20px;
}
.similar-mutual-funds-items .returs-box {
  margin-right: 10px;
}
.similar-mutual-funds-items .returs-box .label-text {
  font-size: 9px;
}
.similar-mutual-funds-items .name-rating-wrap p {
  font-size: 9px;
}
.similar-mutual-funds-items .invest-now-btn {
  padding: 6px 10px;
  margin-right: 5px;
  font-size: 9px;
}
.similar-mutual-funds-items .btn-view-all {
  font-size: 12px;
}
.similar-mutual-funds-items .add-watchlist-wrap {
  font-size: 10px;
  line-height: 15px;
  margin-right: 12px;
}
.similar-mutual-funds-items .add-watchlist-wrap [class^=icon-] {
  font-size: 20px;
}
.similar-mutual-funds-items .custom-checkbox label {
  font-size: 10px;
  line-height: 15px;
  margin-right: 12px;
}
.similar-mutual-funds-items .button-wrap .btn-view-all {
  font-size: 10px;
  line-height: 15px;
}
.similar-mutual-funds-items .desktop-view-more {
  padding: 10px;
}
.similar-mutual-funds-items .desktop-view-more .returs-wrap {
  margin-left: 0px;
}

.fund-managerfilterbox {
  padding-bottom: 50px;
}
}
@media (max-width: 767px) {
 .fund-list-ul {
  margin: 0 -15px;
}

 .fund-list-ul .fund-list-li {
  margin-bottom: 0px;
  position: relative;
}

.similar-mutual-funds-items {
  margin: 0 0px 20px;
  border: none;
}
.similar-mutual-funds-items .img-name-wrap {
  margin-bottom: 5px;
}
.similar-mutual-funds-items .img-name-wrap .img-wrap {
  min-width: 35px;
  width: 35px;
  height: 35px;
  margin-right: 8px;
  padding: 3px;
}
.similar-mutual-funds-items .img-name-wrap h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #2C6EB5;
  max-width: 155px;
  margin-bottom: 10px;
}
.similar-mutual-funds-items .top-row {
  padding: 15px 15px 0;
}
.similar-mutual-funds-items .top-row .info-rating-wrap {
  width: 100%;
}
.similar-mutual-funds-items .bottom-row {
  border-top: 0;
  background-color: transparent;
  padding: 0 15px 15px;
  display: block;
}
.similar-mutual-funds-items .rating-wrap {
  margin-bottom: 7px;
}
.similar-mutual-funds-items .tag-item {
  margin-bottom: 5px;
}
.similar-mutual-funds-items .return-info-more-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.similar-mutual-funds-items .return-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.similar-mutual-funds-items .rating-wrap p {
  margin-left: 0;
  margin-right: 10px;
  font-size: 10px;
  line-height: 14px;
}
.similar-mutual-funds-items .desktop-view-more {
  display: none;
}
.similar-mutual-funds-items .return-item .label-text {
  margin-bottom: 4px;
}
.similar-mutual-funds-items .return-item h6 {
  font-size: 14px;
  line-height: 21px;
}

.name-return-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name-return-wrap .return-info {
  flex-direction: column;
  align-items: flex-end;
}
.name-return-wrap .return-info .select2-selection--single {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 100px;
  height: 22px;
  margin-bottom: 5px;
}
.name-return-wrap .return-info .select2-selection--single .select2-selection__rendered {
  color: #606060;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}
.name-return-wrap .return-info .trend-info {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #333333;
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.name-return-wrap .return-info .trend-info .icon {
  font-size: 10px;
}
.name-return-wrap .img-name-wrap {
  max-width: calc(100% - 110px);
}

.tag-more-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tag-more-wrap .tag-wrap {
  width: calc(100% - 60px);
}
.tag-more-wrap .btn-view-all span {
  line-height: 14px;
  font-size: 11px;
}

.similar-mutual-funds .view-all-mf {
  text-align: center;
  margin-top: 10px;
}
.similar-mutual-funds .slick-arrow {
  bottom: -57px;
}
.similar-mutual-funds .slick-dots {
  bottom: -35px;
}

.view-more-wrap {
  width: 100%;
  background-color: #F3F9FF;
  margin-bottom: 0;
}
.view-more-wrap .returs-wrap {
  width: 100%;
  flex-wrap: wrap;
  padding: 8px 15px;
}
.view-more-wrap .returs-wrap .return-item {
  width: 50%;
  margin: 5px 0;
  border: 0;
}
.view-more-wrap .watchlist-compare-btn {
  justify-content: center;
  padding: 13px 15px;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}
.view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
  width: 50%;
  font-size: 11px;
  line-height: 16px;
  margin-right: 0;
}
.view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
  font-size: 20px;
  line-height: 16px;
  margin-right: 7px;
}
.view-more-wrap .watchlist-compare-btn .add-compare-wrap {
  width: 50%;
}
.view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
  margin-right: 0;
  font-size: 11px;
  line-height: 16px;
}
.view-more-wrap .invest-detail-wrap {
  padding: 12px 15px;
  text-align: center;
}
.view-more-wrap .invest-detail-wrap .invest-now-btn {
  padding: 6px 25px;
  min-width: 128px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 18px;
}
.view-more-wrap .invest-detail-wrap .btn-view-all {
  font-size: 11px;
  line-height: 16px;
}

.slider-container {
  padding: 0;
}

.fund-managerfilterbox {
  padding-bottom: 30px;
}
.fund-managerfilterbox .pagination-box {
  padding-top: 30px;
}

.fund-list-ul .fund-list-li:before {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.nfo-box .fund-list-ul .fund-list-li:last-child:before {
  border-bottom: none;
}

.fund-list-ul .fund-list-li .similar-mutual-funds-items {
  box-shadow: none;
}

.fund-list-ul .fund-list-li .similar-mutual-funds-items {
  margin: 0px;
}

.fund-list-ul .fund-list-li .similar-mutual-funds-items .top-row {
  padding-top: 15px;
}
}
@media (max-width: 374px) {
.similar-mutual-funds-items .img-name-wrap h6 {
  max-width: 100px;
}
}
@media (max-width: 350px) {
.similar-mutual-funds-items .img-name-wrap .img-wrap {
  min-width: 30px;
  width: 30px;
  height: 30px;
}
.similar-mutual-funds-items .img-name-wrap h6 {
  font-size: 14px;
  line-height: 16px;
}

.view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
  font-size: 10px;
  line-height: 15px;
  margin-right: 8px;
  width: calc(50% - 8px);
}
.view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
  font-size: 20px;
}
.view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
  font-size: 10px;
  line-height: 15px;
}
}
.nfo-box {
padding: 45px 0px;
}
.nfo-box .nfo-inner {
max-width: 600px;
margin: 0 auto 20px;
text-align: center;
}
.nfo-box .nfo-inner h2 {
margin-bottom: 20px;
}
.nfo-box .desktop-view-more {
padding-top: 19px;
padding-bottom: 19px;
text-align: center;
}
.nfo-box .desktop-view-more p {
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #000000;
}
.nfo-box .tag-wrap {
border-right: none;
padding-right: 0px;
margin-right: 0px;
padding-top: 5px;
}
.nfo-box .invest-now-btn {
margin-right: 0;
margin-top: 6px;
}

.tab-with-line {
border-bottom: 1px solid rgba(122, 204, 255, 0.3);
padding-bottom: 25px;
margin-bottom: 25px;
}

.no-nfo-box {
max-width: 380px;
margin: auto;
padding: 30px 0 20px;
text-align: center;
}
.no-nfo-box img {
margin-bottom: 40px;
}
.no-nfo-box h5 {
margin-bottom: 27px;
}

@media (max-width: 1199px) {
.nfo-box .similar-mutual-funds-items .top-row .invest-more-wrap {
  width: 150px;
}
}
@media (max-width: 991px) {
.nfo-box .similar-mutual-funds-items .top-row .invest-more-wrap {
  width: 105px;
}
}
@media (max-width: 767px) {
.nfo-box {
  padding: 20px 0 30px;
}
.nfo-box .nfo-inner {
  text-align: left;
}
.nfo-box .nfo-inner h2 {
  margin-bottom: 8px;
}
.nfo-box .nfo-inner p {
  font-size: 14px;
  line-height: 22px;
}
.nfo-box .tab-with-line {
  margin-bottom: 0px;
}
.nfo-box .similar-mutual-funds-items .top-row {
  display: block;
}
.nfo-box .similar-mutual-funds-items .top-row .invest-more-wrap {
  width: 100%;
  text-align: center !important;
}
.nfo-box .similar-mutual-funds-items .return-item {
  border: none;
}
.nfo-box .similar-mutual-funds-items .returs-box {
  width: 100%;
  margin: 0px;
  padding: 7px 0 15px;
}
.nfo-box .similar-mutual-funds-items .returs-box .label-text {
  font-size: 11px;
}
.nfo-box .invest-now-btn {
  margin: 10px 0 25px;
  font-size: 12px;
  line-height: 20px;
  padding: 6px 25px;
  max-width: 145px;
  width: 100%;
  font-weight: 600;
}
.nfo-box .tag-wrap {
  padding-top: 0px;
}
.nfo-box .name-return-wrap .img-name-wrap {
  max-width: 100%;
  width: 100%;
}
.nfo-box .name-return-wrap .img-name-wrap h6 {
  max-width: 100%;
  margin-bottom: 0px;
}
.nfo-box .fund-list-ul .fund-list-li:last-child:before {
  border-bottom: none;
}
.nfo-box .desktop-view-more {
  display: block;
}

.no-nfo-box {
  padding: 30px 0 20px;
}
.no-nfo-box img {
  max-width: 274px;
  margin: 0 auto 25px;
}
.no-nfo-box h5 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}
}

/*# sourceMappingURL=style.css.map */