    <!-- get result modal 24-3-2023-->    
    <div class="popover-modal app-download-modal fade" id="getResulton">
      <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
          <div class="popover-modal-body">  
            
            <!-- get result whatsapp email form -->
            <div class="download-link-app unsuccessfull-link bg-wgite" data-forms>
              <button data-dismiss="popover-modal" class="popover-modal-close jsGetResultClose"><i class="icon-close"></i></button>
              <div class="get-result-forms" id="jsGetResultForms">
                <h4>Get result on your email</h4>
                <p>Forward your calculations for future reference</p>

                <div class="whatsapp-email-form">
                  <div class="flex-row flex-row2">
                    <div class="flex-row-col">
                      <div class="form-group">
                        <label class="label-names">Your Name</label>
                        <input type="text" class="input-textbox jsValueOK" data-type="name" placeholder="Enter your name">                        
                      </div>
                    </div>
                    <div class="flex-row-col" data-city="manual">
                      <div class="form-group">
                        <label class="label-names">City</label>                                 
                        <div class="form-select2 full-select2" data-city="options">
                          <select class="single-select3 jsValueOK" data-placeholder="Enter your city" data-type="city" id="searchCity">
                            <option></option>
                            <!-- <option>Mumbai</option>
                            <option>Delhi</option> -->
                          </select>
                        </div>              
                      </div>
                    </div>
                    <div class="flex-row-col">
                      <div class="form-group">
                        <label class="label-names">Email Address</label>
                        <input type="text" class="input-textbox js-emailField jsValueOK" data-type="email" placeholder="Email Address">                        
                      </div>
                    </div>
                    <div class="flex-row-col">
                      <div class="form-group">
                        <label class="label-names">Mobile No.</label>
                        <input type="text" class="input-textbox jsGetWhatsappNumber jsValueOK" maxlength="10" data-type="mobile" placeholder="Enter mobile number">                        
                      </div>
                    </div>
                  </div>
                  <div class="form-group custom-checkbox blue-checkbox">
                    <label class="agree-checkbox">
                      <!-- data-type="checkbox" -->
                      <input type="checkbox" name='iAgree' checked> 
                      <span class="checkbox-wrap"></span>
                      I agree to share my contact information and /or be contacted by Tata Capital Moneyfy team
                    </label>
                  </div>
                  <div class="custom-checkbox blue-checkbox">
                    <label class="">
                      <input type="checkbox" name="iAgreePrivacy" value="" checked>
                      <span class="checkbox-wrap"></span>
                      I agree to the Terms and Conditions & Privacy Policy
                    </label>
                  </div>
                </div>               
                
                <div class="btn-proceed-whatsapp">
                  <a href="javascript:void(0);" class="btn-blue radius100 jsGetResultBtn btn-disabled" id="jsProceedGenerate">Proceed</a>
                </div>
              </div>
            </div>
            <!-- get result whatsapp email form -->
            <div class="loader js-loader d-none">
              <img src="/content/dam/tata-capital-moneyfy/mutual-funds/sebi-categories/Loader.gif" alt="">
            </div>

            <!-- varify OTP -->
            <div class="download-link-app unsuccessfull-link bg-wgite d-none" data-otpverify="verifyOTP">
              <button data-dismiss="popover-modal" class="popover-modal-close jsGetResultClose"><i class="icon-close"></i></button>
              <div class="get-result-forms" id="jsVeryfyOTP">
                <h4>Verify OTP</h4>
                <p class="medium">An OTP is sent to your registered mobile number +91 ********<span class="jsShowWhatsappNumber"></span></p>

                <div class="whatsapp-otp-verify">
                  <div class="enter-otp-box">                  
                    <div class="otp-col js-OtpBox">
                      <input type="text" class="input-textbox only-numeric-input" maxlength="1">
                      <input type="text" class="input-textbox only-numeric-input pointer-none" maxlength="1"> 
                      <input type="text" class="input-textbox only-numeric-input pointer-none" maxlength="1">
                      <input type="text" class="input-textbox only-numeric-input pointer-none" maxlength="1">
                    </div> 
                    <div class="resend-otp">
                      <!-- <span><i class="icon-watch"></i> 00:23</span> -->
                      <a href="javascript:;" class="resend js-resendOTP">Resend</a>
                    </div>            
                  </div>     
                </div>               
                
                <div class="btn-proceed-whatsapp">
                  <a href="javascript:void(0);" class="btn-blue radius100 jsVeryfyBtn btn-disabled">Proceed</a>
                </div>
              </div>
            </div>
            <!-- varify OTP -->

            <!-- unsuccess full -->
            <div class="download-link-app unsuccessfull-link bg-wgite d-none" otp-unsuccessfull data-otp-failure="otp-failure">
              <button data-dismiss="popover-modal" class="popover-modal-close jsGetResultClose"><i class="icon-close"></i></button>  
              <div class="get-result-thankyou">
                <img src="img/success.png" alt="" class="mgs-icons" /> 
                <h3>Verification unsuccessful</h3>
                <div class="get-edit-link">
                  <p>Your otp verification time has expired. Please try again.</p>                  
                </div>                                  
                <div class="btn-try-again">
                  <a href="javascript:void(0);" class="btn-blue radius100 jsTryAgainOtp">try again</a>
                </div>
              </div>
            </div>
            <!-- unsuccess full -->

            <!-- Thankyou -->
            <div class="download-link-app unsuccessfull-link bg-wgite d-none" otp-successfull data-thank="thankYou">
              <button data-dismiss="popover-modal" class="popover-modal-close jsGetResultClose"><i class="icon-close"></i></button>  
              <div class="get-result-thankyou">
                <img src="img/success.png" alt="" class="mgs-icons" /> 
                <h3>Thank you</h3>
                <div class="get-edit-link">
                  <p>The results have been sent to your email address at <span class="js-encryptEmail"></span></p>                  
                </div>                                  
              </div>
            </div>
            <!-- Thankyou -->
          </div>
        </div>
      </div>
    </div>    
    <!-- get result modal 24-3-2023--> 