
@charset "UTF-8";
.invest-inlarge-box {
  padding: 30px 0;
}
.invest-inlarge-box .invest-inlarge {
  padding: 25px 35px 25px;
  margin-bottom: 20px;
  position: relative;
}
.invest-inlarge-box .invest-inlarge h3 {
  margin-bottom: 15px;
}
.invest-inlarge-box .invest-inlarge p {
  color: #606060;
  font-size: 15px;
  line-height: 26px;
}
.invest-inlarge-box .invest-inlarge .inlarge-img {
  position: absolute;
  right: 35px;
  top: 65px;
  width: 110px;
}
.invest-inlarge-box .invest-inlarge-mx {
  padding-right: 150px;
  min-height: 140px;
}

.inlarge-invest-journey {
  background: linear-gradient(95.27deg, rgba(0, 88, 153, 0.2) 10.19%, rgba(78, 76, 221, 0.2) 58.06%, rgba(44, 110, 181, 0.2) 101.2%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
  padding: 15px;
}
.inlarge-invest-journey .invest-journey-inner {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inlarge-invest-journey h4 {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
}
.inlarge-invest-journey .invest-journey-left {
  padding-left: 85px;
  position: relative;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 15px;
  width: calc(100% - 149px);
}
.inlarge-invest-journey .invest-journey-left img {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 75px;
}

.instant-redemption-box {
  padding: 0px 0 25px;
}
.instant-redemption-box .instant-redemption {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.instant-redemption-inner {
  display: flex;
  flex-wrap: wrap;
}
.instant-redemption-inner .left-col {
  width: 55%;
  padding: 30px 35px;
  position: relative;
}
.instant-redemption-inner .left-col:after {
  content: "";
  font-family: "icomoon";
  display: inline-block;
  transform: rotate(90deg) translateX(-50%);
  position: absolute;
  top: 50%;
  right: -9px;
  color: #fff;
  font-size: 12px;
}
.instant-redemption-inner .right-col {
  width: 45%;
  padding: 30px 65px;
  background-color: #E9F0F7;
  border-bottom-right-radius: 5px;
}
.instant-redemption-inner h3 {
  margin-bottom: 15px;
}
.instant-redemption-inner p {
  color: #606060;
  font-size: 15px;
  line-height: 26px;
}
.instant-redemption-inner .benefits-wrap {
  display: flex;
  margin: 20px -15px 0;
}
.instant-redemption-inner .benefit-item {
  width: 50%;
  padding: 0 15px;
}
.instant-redemption-inner .benefit-item .img-wrap {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F6F9FB;
  margin: 0 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instant-redemption-inner .benefit-item p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.start-investment-journey-box {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .inlarge-invest-journey h4 {
    font-size: 20px;
    line-height: 25px;
  }

  .instant-redemption-inner .left-col {
    width: 50%;
    padding: 20px 25px;
  }
  .instant-redemption-inner .right-col {
    width: 50%;
    padding: 20px 30px;
  }
  .instant-redemption-inner .benefits-wrap {
    margin: 20px -10px 0;
  }
  .instant-redemption-inner .benefit-item {
    padding: 0 10px;
  }

  .start-investment-journey-box {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .invest-inlarge-box {
    padding: 20px 0 30px;
  }
  .invest-inlarge-box .invest-inlarge {
    padding: 18px 20px;
    margin-bottom: 20px;
  }
  .invest-inlarge-box .invest-inlarge .invest-inlarge-mx {
    padding-right: 0px;
  }
  .invest-inlarge-box .invest-inlarge h3 {
    margin-bottom: 11px;
    padding-right: 50px;
    font-size: 24px;
    line-height: 28px;
    min-height: 50px;
  }
  .invest-inlarge-box .invest-inlarge p {
    font-size: 14px;
    line-height: 22px;
  }
  .invest-inlarge-box .invest-inlarge .inlarge-img {
    width: 42px;
    top: 27px;
    right: 20px;
  }

  .inlarge-invest-journey {
    padding: 15px 25px;
  }
  .inlarge-invest-journey .invest-journey-inner {
    display: block;
  }
  .inlarge-invest-journey .invest-journey-left {
    width: 100%;
    padding-left: 0px;
    padding-right: 88px;
    min-height: 48px;
  }
  .inlarge-invest-journey .invest-journey-left img {
    width: 48px;
    left: auto;
    right: 0px;
  }
  .inlarge-invest-journey .invest-journey-right {
    padding-top: 15px;
    text-align: center;
  }
  .inlarge-invest-journey h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .instant-redemption-inner .left-col {
    width: 100%;
    padding: 15px 20px 25px;
  }
  .instant-redemption-inner .left-col:after {
    display: none;
  }
  .instant-redemption-inner p {
    font-size: 14px;
    line-height: 22px;
  }
  .instant-redemption-inner .right-col {
    width: 100%;
    padding: 45px 20px;
  }
  .instant-redemption-inner .right-col h5 {
    text-align: center;
  }
  .instant-redemption-inner .benefits-wrap {
    margin: 20px -20px 0;
  }
  .instant-redemption-inner .benefit-item {
    padding: 0 20px;
  }
  .instant-redemption-inner .benefit-item:not(:last-child) {
    border-right: 1px solid rgba(122, 204, 255, 0.3);
  }
}
@media (max-width: 576px) {
  .instant-redemption-box {
    padding-top: 0;
  }
  .instant-redemption-box .container {
    padding: 0;
  }
  .instant-redemption-box .instant-redemption {
    border-radius: 0;
    box-shadow: none;
  }
}
.btn-blue.btn-blue-outline {
    background-color: transparent;
    color: #2C6EB5;
    border: 1px solid #2C6EB5;
}
.btn-h40 {
    padding: 10px 25px!important;
}

h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.01em;
    color: #333333;
}
@media (max-width: 767px){
  h3 { 
    font-size: 18px;
    line-height: 22px;
 }
}
/*# sourceMappingURL=style.css.map */
