<sly data-sly-use.topPicslist="com.tatacapital.moneyfy.core.models.TopPicksModel" />
<script>
    var topList = "${topPicslist.getTopPicksList @context='scriptString'}";
</script>

<!-- top-pickup box -->
<section class="top-pickup-box jsTabContainer">
  <div class="container">
    <h2>Moneyfy top picks for you</h2>

    <div class="yellow-tab-auto top-pickup-tabs">
      <ul class="list-yellow-tabs jspicktupTabSLiderList jsTabList" data-topickstablist="topPicksTabList">
        <li>
          <a href="javascript:void(0)" class="active" data-tab="top-pickup-equity">
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/equity-img.svg" alt="">
            Equity
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" data-tab="top-pickup-debt">
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/debt-img.svg" alt="">
            Debt
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" data-tab="top-pickup-hybrid">
            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/hybrid-img.svg" alt="">
            Hybrid
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container top-pickup-sp">

    <div class="top-pickup-content">

      <!-- top-pickup Equity tab -->
      <div class="top-pickup-row jsTabRow" id="top-pickup-equity">
        <p class="top-pickup-text">Equity mutual funds invest primarily in the stock markets with an aim to generate higher returns</p>

        <div class="top-pickup-slider jsTopPickSlider slider-dots slider-arrows flex-slider" id="jsTopPickEquitySlider" data-attr="Equity">

        </div>
      </div>
      <!-- top-pickup Equity tab -->

      <!-- top-pickup-debt tab -->
      <div class="top-pickup-row jsTabRow d-none" id="top-pickup-debt">
        <p class="top-pickup-text">Debt funds are aimed at generating regular income for investors by investing in bonds, corporate debentures,etc.</p>

        <div class="top-pickup-slider jsTopPickSlider slider-dots slider-arrows flex-slider" id="jsTopPickdebtSlider" data-attr="Debt">

        </div>
      </div>
      <!-- top-pickup-debt tab -->

      <!-- top-pickup-hybrid tab -->
      <div class="top-pickup-row jsTabRow d-none" id="top-pickup-hybrid">
        <p class="top-pickup-text">Hybrid funds are mutual funds which invest in both equity and debt funds to acheive the mix of funds to achieve better balance, it is also known as balanced fund.</p>

        <div class="top-pickup-slider jsTopPickSlider slider-dots slider-arrows flex-slider" id="jsTopPickHybridSlider" data-attr="Hybrid">

        </div>
      </div>
      <!-- top-pickup-hybrid tab -->
    </div>

  </div>
</section>
<!-- top-pickup box -->