<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.contact-us-detail-box'}"></sly>
</sly>

<section class="contact-detail-box">
    <div class="container">
        <div class="contact-detail-inner">
            <div class="queries-col">
                <div class="icon-box" data-sly-test="${properties.quriesImage}">
                    <img src="${properties.quriesImage}" alt="">
                </div>
                <div class="contact-info">
                    <h6>${properties.queriesHeading}</h6>
                    ${properties.queriesDescription @context='html'}
                    <ul class="phone-mail-list">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='queriesListMultifield'}">
                                <sly data-sly-list.queriesList="${item.children}">
                                    <li>
                                        <a href="${queriesList.redirectionLink}"
                                            target="${queriesList.redirectionTarget ? '_blank':''}">
                                            <img src="${queriesList.image}" alt="">
                                            ${queriesList.listData}
                                        </a>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                </div>
            </div>
            <div class="queries-col investment-col">
                <div class="icon-box" data-sly-test="${properties.investmentImage}">
                    <img src="${properties.investmentImage}" alt="">
                </div>
                <div class="contact-info">
                    <h6>${properties.investmentHeading}</h6>
                    ${properties.investmentDescription @context='html'}
                    <ul class="phone-mail-list">
                        <sly data-sly-list="${resource.children}">
                            <sly data-sly-test="${item.name=='investmentListMultifield'}">
                                <sly data-sly-list.investmentList="${item.children}">
                                    <li>
                                        <a href="${investmentList.redirectionLink}"
                                            target="${investmentList.redirectionTarget ? '_blank':''}">
                                            <img src="${investmentList.image}" alt="">
                                            ${investmentList.listData}
                                        </a>
                                    </li>
                                </sly>
                            </sly>
                        </sly>
                    </ul>
                </div>
            </div>
            <div class="queries-col loan-col">
                <div class="icon-box" data-sly-test="${properties.loanImage}">
                    <img src="${properties.loanImage}" alt="">
                </div>
                <div class="contact-info">
                    <h6>${properties.loanHeading}</h6>
                    ${properties.loanDescription @context='html'}
                    <div class="border-bottom">
                        <div class="loans-row new-loan-row">
                            <sly data-sly-list="${resource.children}">
                                <sly data-sly-test="${item.name=='loanItemMultifield'}">
                                    <sly data-sly-list.loanItemList="${item.children}">
                                        <div class="loan-item">
                                            ${loanItemList.loanItemDescription @context='html'}
                                        </div>
                                    </sly>
                                </sly>
                            </sly>
                        </div>
                    </div>
                    ${properties.loanBottomDescription @context='html'}
                </div>
            </div>
        </div>
    </div>
</section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.contact-us-detail-box'}"></sly>
</sly>