<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.stp-banner'}"></sly>
</sly>

<!--  banner box  -->
<section class="banner-box mutual-fund-banner swp-banner">
    <div class="banner-slider">
        <div class="banner-image">
            <div class="banner-caption">
                <div class="container">
                    <div class="banner-inner new-banner-inner">
                        <div class="banner-left">
                            <h1>${properties.title}</h1>
                            <h6 class="text-blue mg-b10i">${properties.heading}</h6>
                            ${properties.description @ context='html'}
                            <div class="btn-wrap" data-sly-test="${properties.buttonTitle}">
                                <a href="${properties.buttonLink}" target="${properties.newTab ? '_blank' : ''}"
                                    class="btn-blue radius100">${properties.buttonTitle}</a>
                            </div>
                        </div>
                        <div class="banner-right">
                            <div class="work-video" data-sly-test="${properties.videoLink}">
                                <iframe width="100%" height="100%" src="${properties.videoLink}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <img src="${properties.bannerImg}" alt="" data-sly-test="${properties.bannerImg}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner box-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.stp-banner'}"></sly>
</sly>