<!-- fibechoose box-->
<section class="fibechoose-box">
    <div class="container">
        <!-- Mobile -->
        <h2 class="d-block d-lg-none">${properties.title}</h2>
        <!-- Mobile -->
        <div class="fibechoose-row">
            <div class="fibechoose-left">
                <img src="${properties.img}" alt="">
            </div>
            <div class="fibechoose-right">
                <!-- desktop -->
                <h2 class="d-none d-lg-block">${properties.title}</h2>
                <!-- desktop -->
                <ul class="dot-list">
                    <sly data-sly-list.points="${resource.children}">
                        <sly data-sly-test="${points.name == 'bulletPoints'}">
                            <sly data-sly-list.point="${points.children}">
                                <li>${point.bulletPoints}</li>
                            </sly>
                        </sly>
                    </sly>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- fibechoose box-->