.make-box {
  padding: 72px 0 0px;
  background: url("/content/dam/tata-capital-moneyfy/home-page/make-left-bg.png") no-repeat top left;
}
.make-box.no-background {
  background: none;
}
.make-box .make-top {
  max-width: 660px;
  margin: auto;
  width: 100%;
}
.make-box.mutual-fund-make {
  padding-top: 65px;
  background-image: url("/content/dam/tata-capital-moneyfy/home-page/new-make-bg.png");
}
.make-box.mutual-fund-make .make-top {
  max-width: 100%;
}
.make-box.mutual-fund-make .make-top h2 {
  margin-bottom: 15px;
}
.make-box.mutual-fund-make .make-left-slider .make-mobile-img {
  padding-top: 120px;
}
.make-box.mutual-fund-make .make-inner .make-right {
  padding-top: 100px;
}

.make-inner {
  display: flex;
  flex-wrap: wrap;
}
.make-inner .make-left {
  width: calc(100% - 508px);
}
.make-inner .make-right {
  width: 508px;
  padding-top: 55px;
}
.make-inner .make-right h5 {
  margin-bottom: 21px;
}
.make-inner .make-right .make-start-text h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 14px;
}
.make-inner .make-right-slider {
  padding-bottom: 15px;
}
.make-inner .make-ul .make-li {
  position: relative;
  padding-left: 24px;
}
.make-inner .make-ul .make-li p {
  margin-bottom: 11px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}
.make-inner .make-ul .make-li p:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #ACB4D1;
  border-radius: 50%;
  left: -21px;
  top: 10px;
}
.make-inner .make-ul .make-li svg {
  position: absolute;
  left: -3px;
  top: 4px;
  transform: rotateY(-180deg);
}
.make-inner .make-ul .make-li svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #2C6EB5;
  stroke-width: 0px;
}
.make-inner .make-ul .make-li svg .bar {
  stroke: #fff;
  fill: #fff;
}
.make-inner .make-ul .make-li.active p {
  font-weight: 500;
}
.make-inner .make-ul .make-li.active p::before {
  background-color: #2c6eb5;
}
.make-inner .make-ul .make-li.active svg circle {
  stroke-width: 2px;
}

.make-left-slider {
  background: url("/content/dam/tata-capital-moneyfy/home-page/make-bg.png") no-repeat center center;
  background-size: contain;
  width: 518px;
  height: 607px;
  float: right;
}
.make-left-slider .make-left-ul .make-left-li img {
  margin: auto;
}
.make-left-slider .make-mobile-img {
  padding-top: 40px;
}
.make-left-slider .make-mobile-img img {
  max-width: 100%;
  width: auto;
}

.get-app-link {
  position: relative;
  margin-bottom: 40px;
}
.get-app-link .text-code {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.get-app-link .get-links {
  min-width: 220px;
  position: absolute;
  right: 4px;
  top: 5px;
  z-index: 3;
}
.get-app-link .form-control-plain {
  height: 58px;
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  padding: 18px 230px 18px 56px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 23px rgba(113, 144, 165, 0.2);
  border-radius: 38px;
  border: 1px solid rgba(44, 110, 181, 0.3);
}
.get-app-link .form-control-plain:focus {
  outline: none;
}

.make-app-link {
  padding: 0px;
  min-height: inherit;
}
.make-app-link .get-app-loader, .make-app-link .get-app-messege {
  background-color: #2C6EB5;
  border-radius: 10px;
  padding: 15px 25px;
  margin-bottom: 20px;
  height: auto;
  min-height: 108px;
}
.make-app-link .get-app-messege h6 {
  font-size: 14px;
  line-height: 21px;
  min-height: 30px;
  margin-bottom: 3px;
  padding-top: 4px;
}
.make-app-link .get-app-messege p {
  font-size: 13px;
  line-height: 22px;
}
.make-app-link .get-app-messege .get-edit-link {
  margin-bottom: 0px;
}

.choose-digiGold-box {
  background: none;
  background-color: #E9F0F7;
}
.choose-digiGold-box .make-left-slider {
  margin-right: 15px;
  background-image: url("/content/dam/tata-capital-moneyfy/investment/choose-digiGold-bg.png");
}
.choose-digiGold-box .make-left-slider .make-mobile-img img {
  max-width: 270px;
  margin-top: 85px;
}
.choose-digiGold-box .make-inner .make-ul .make-li svg .bar {
  fill: #E9F0F7;
  stroke: #E9F0F7;
}

@media (max-width: 1199px) {
  .make-inner .make-left {
    width: calc(100% - 400px);
  }
  .make-inner .make-right {
    width: 400px;
  }

  .get-app-link .get-links {
    min-width: inherit;
  }
  .get-app-link .form-control-plain {
    padding-right: 210px;
  }
}
@media (max-width: 991px) {
  .make-box {
    padding-top: 45px;
  }
  .make-box .app-store-link {
    display: flex;
    justify-content: center;
  }
  .make-box.mutual-fund-make {
    padding-top: 40px;
    background-image: none;
  }
  .make-box.mutual-fund-make .make-left-slider .make-mobile-img {
    padding-top: 80px;
  }
  .make-box.mutual-fund-make .make-inner .make-right {
    padding-top: 0px;
  }

  .make-inner .make-left {
    width: 100%;
  }
  .make-inner .make-right {
    width: 100%;
    padding-top: 0px;
    margin-top: -50px;
  }

  .make-left-slider {
    float: none;
    margin: auto;
  }

  .choose-digiGold-box .make-left-slider {
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .get-app-link {
    margin-bottom: 26px;
  }
  .get-app-link .form-control-plain {
    height: 50px;
    padding: 15px 180px 15px 35px;
    font-size: 12px;
  }
  .get-app-link .text-code {
    left: 10px;
    font-size: 12px;
    line-height: 10px;
  }

  .make-box {
    text-align: center;
    background: none;
  }
  .make-box .app-store-link {
    margin-bottom: 0px;
  }
  .make-box.mutual-fund-make .make-inner {
    margin-top: 35px;
  }
  .make-box.mutual-fund-make .make-inner .make-right {
    padding-top: 20px;
  }
  .make-box.mutual-fund-make .make-inner .make-right h5 {
    font-size: 14px;
    line-height: 21px;
  }
  .make-box.mutual-fund-make .make-left-slider .make-left-ul .make-left-li img {
    max-width: 170px;
    width: auto;
  }
  .make-box.mutual-fund-make .make-left-slider .make-mobile-img {
    padding-top: 50px;
  }

  .make-left-slider {
    width: auto;
    height: auto;
    background-image: none;
    margin-top: -25px;
  }
  .make-left-slider .make-mobile-img {
    width: 320px;
    height: 320px;
    background-image: url("/content/dam/tata-capital-moneyfy/home-page/make-mobile-bg.png");
    background-size: cover;
    margin: auto;
  }
  .make-left-slider .make-mobile-img img {
    width: 148px;
  }

  .make-inner {
    margin-top: 20px;
  }
  .make-inner .make-left h5 {
    max-width: 240px;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  .make-inner .make-right {
    margin-top: -10px;
  }
  .make-inner .make-right h5 {
    font-size: 18px;
    line-height: 25px;
  }
  .make-inner .make-right .make-start-text {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .make-inner .make-right .make-start-text h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .make-inner .make-ul {
    margin-left: 10px;
  }
  .make-inner .make-ul .make-li p {
    font-weight: 300 !important;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #606060;
    margin: 0;
  }
  .make-inner .make-right-slider {
    padding-bottom: 0;
    margin-top: -35px;
    pointer-events: none;
  }
  .make-inner .slider-arrows .slick-arrow {
    bottom: -71px;
  }
  .make-inner .slider-arrows .slick-prev {
    margin-left: -100px;
  }
  .make-inner .slider-arrows .slick-next {
    margin-right: -100px;
  }

  .make-left-ul.slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
  .make-left-ul.slick-dotted.slick-slider .slick-dots {
    bottom: -50px;
  }

  .make-left-slider .make-mobile-img {
    padding-top: 40px;
  }

  .choose-digiGold-box {
    background-color: #E9F0F7;
    padding-bottom: 50px;
  }
  .choose-digiGold-box .make-left h5 {
    max-width: 320px;
  }
  .choose-digiGold-box .make-left-slider .make-mobile-img img {
    max-width: 270px;
    margin-top: 20px;
  }

  .digiGold-make-box {
    padding-top: 0;
  }
}
@media (max-width: 359px) {
  .make-left-slider .make-mobile-img {
    width: 290px;
    height: 290px;
  }
  .make-left-slider .make-mobile-img img {
    width: 130px;
  }
}

/*# sourceMappingURL=style.css.map */
