<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.why-start-nps'}"></sly>
</sly>
<!-- why start nps -->
<section class="why-start-nps-box">
    <div class="container">
        <h2 class="text-center">${properties.mainHeading} </h2>
    </div>
    <div class="container why-item-container">
        <div class="why-item-wraps">
            <div class="item-wrap">
                <div class="select-wrap">
                </div>
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'reasonsList'}">
                        <sly data-sly-list.reasonslistItem="${listItem.children}">
                            <div class="feature-item ${reasonslistItem.selectHeight}">
                                <h6>${reasonslistItem.heading}</h6>
                            </div>
                        </sly>
                    </sly>
                </sly>
            </div>
            <div class="item-wrap feature-wrap feature-wrap-1">
                <div class="select-wrap">
                    <h4>${properties.headingNps}</h4>
                </div>
                <div class="feature-item-wrap">
                    <sly data-sly-list.listItem="${resource.children}">
                        <sly data-sly-test="${listItem.name == 'benefitsofNpsList'}">
                            <sly data-sly-list.npslistItems="${listItem.children}">
                                <div class="feature-item ${npslistItems.selectHeight}">
                                    <h6>${npslistItems.headingNps}</h6>
                                    <p>${npslistItems.benefitsofNpsDescription @ context='html'}</p>
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
            <div class="item-wrap feature-wrap feature-wrap-2">
                <div class="select-wrap">
                    <h4>${properties.headingPpf}</h4>
                </div>
                <div class="feature-item-wrap">
                    <sly data-sly-list.listItem="${resource.children}">
                        <sly data-sly-test="${listItem.name == 'benefitsofPpfList'}">
                            <sly data-sly-list.ppflistItems="${listItem.children}">
                                <div class="feature-item ${ppflistItems.selectHeight}">
                                    <h6>${ppflistItems.headingPpf}</h6>
                                    <p>${ppflistItems.benefitsofPpfDescription @ context='html'}</p>
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
            <div class="item-wrap feature-wrap feature-wrap-3">
                <div class="select-wrap">
                    <h4>${properties.headingFixedDeposit}</h4>
                </div>
                <div class="feature-item-wrap">
                    <sly data-sly-list.listItem="${resource.children}">
                        <sly data-sly-test="${listItem.name == 'benefitsofFixedDepositList'}">
                            <sly data-sly-list.depositlistItem="${listItem.children}">
                                <div class="feature-item ${depositlistItem.selectHeight}">
                                    <h6>${depositlistItem.headingFixedDeposits}</h6>
                                    <p>${depositlistItem.benefitsofFixedDepositesDescription @ context='html'}</p>
                                </div>
                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- why start nps -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.why-start-nps'}"></sly>
</sly>