
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.risk-info'}"></sly>
</sly>
<!-- risk-info box -->
<section class="risk-info-box ${properties.sipCardHeadings && properties.sipCardImgs && !properties.descriptions?'insurance-risk-box':''}">
    <div class="container">
        <div class="risk-slider-flex slider-dots flex-slider" id="jsRiskInfoSlider">
            <div class="risk-slider-row">
                <div data-sly-test="${properties.sipCardHeading && properties.description && properties.sipCardImg}"
                    class="sip-cards h">
                    <div class="sip-cards-info">
                        <h4>${properties.sipCardHeading}</h4>
                        ${properties.description @context='html'}
                       
                            <div class="sip-card-btn">
                                <a href="${properties.sipCardBtnLink}" target="${properties.sebiNewTab ? '_blank' : ''}"
                                    class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite" data-riskbtn="riskInvestBtn">${properties.sipCardBtn}
                                    </a>
                            </div>
                    </div>
                    <img src="${properties.sipCardImg}" alt="" class="sip-card-img">
                </div>
                <!-- 25-10-2021 -->
                <div data-sly-test="${properties.sipCardImg && !properties.sipCardHeading && !properties.description }"
                    class="sip-cards sip-cards-img i">
                    <a href="${properties.sipCardBtnLink}" target="${properties.sebiNewTab ? '_blank' : ''}" data-riskbtn="onlyImg">
                        <img src="${properties.sipCardImg}" alt="" class="sip-card-img">
                    </a>
                </div>  
                <!-- 25-10-2021 -->
                <!-- 25-10-2021 -->

                <div data-sly-test="${properties.sipCardHeading && properties.description && !properties.sipCardImg}"
                    class="sip-cards sip-cards-content m">
                    <div class="sip-cards-info">
                        <h4>${properties.sipCardHeading}</h4>
                        ${properties.description @context='html'}
                        
                            <div class="sip-card-btn">
                                <a href="${properties.sipCardBtnLink}" target="${properties.sebiNewTab ? '_blank' : ''}" data-riskbtn="riskInvestBtn">
                                <button type="button"
                                    class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite">${properties.sipCardBtn}</button>
                                </a>
                            </div>
                        
                    </div>
                </div>


                
                <!-- 25-10-2021 -->

            </div>
            <div class="risk-slider-row">
                <sly data-sly-test="${properties.cardType == 'cardWithTab'}">
                    <div class="card-div risk-profile-card">
                        <h4>${properties.riskCardHeading}</h4>
                        <div class="risk-tab-scroll">
                            <ul class="risk-tab-list jsRiskTabList">
                                <sly data-sly-list.sebi="${resource.children}">
                                    <sly data-sly-test="${sebi.name == 'riskTabListMultifield'}">
                                        <sly data-sly-list.sebiList="${sebi.children}">
                                            <sly
                                                data-sly-test.sebiListIDValue="${'{0}_{1}' @ format =[sebi.name,sebiListList.count]}">
                                                <li>
                                                    <a href="javascript:void(0)" data-risktab="${sebiListIDValue}"
                                                        class="${sebiList.activeTab ? 'active-tab' : ''}">${sebiList.riskTabListName}</a>
                                                </li>
                                            </sly>
                                        </sly>
                                    </sly>
                                </sly>
                            </ul>
                        </div>

                        <div class="risk-tab-content">

                            <sly data-sly-list.sebi="${resource.children}">
                                <sly data-sly-test="${sebi.name == 'riskTabListMultifield'}">
                                    <sly data-sly-list.sebiList="${sebi.children}">
                                        <sly
                                            data-sly-test.sebiListIDValue="${'{0}_{1}' @ format =[sebi.name,sebiListList.count]}">
                                            <div class="risk-tab-row jsRiskTabRow ${sebiList.activeTab ? '' : 'd-none'}"
                                                id="${sebiListIDValue}">
                                                <div class="risk-tab-left">
                                                    <h6 data-cardheading="${sebiList.riskCardHeading}">${sebiList.riskCardHeading}</h6>
                                                    ${sebiList.description @context = 'html'}
                                                    <a href="javascript:void(0)" data-action="risk-profile-login" data-risktabredirect="riskTabRedirect"><button type="button"
                                                        class="btn-blue radius100 btn-h40">${sebiList.riskCardBtn}</button></a>
                                                </div>
                                                <div class="risk-tab-right">
                                                    <img src="${sebiList.riskCardImg}" alt="">
                                                </div>
                                            </div>
                                        </sly>
                                    </sly>
                                </sly>
                            </sly>
                        </div>

                    </div>
                </sly>
                <sly data-sly-test="${properties.cardType == 'cardwithoutTab'}">

                    <div data-sly-test="${properties.sipCardHeadings && properties.descriptions && properties.sipCardImgs}"
                        class="sip-cards">
                        <div class="sip-cards-info">
                            <h4>${properties.sipCardHeadings}</h4>
                            ${properties.descriptions @context='html'}

                            <div class="sip-card-btn">
                                <a href="${properties.sipCardBtnLinks}"
                                    target="${properties.sebiNewTabs ? '_blank' : ''}">
                                <button type="button"
                                    class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite">${properties.sipCardBtns}</button>
                                </a>
                            </div>

                        </div>
                        <img src="${properties.sipCardImgs}" alt="" class="sip-card-img">
                    </div>
                    <!-- 25-10-2021 -->
                    <div data-sly-test="${properties.sipCardImgs && !properties.sipCardHeadings && !properties.descriptions }"
                        class="sip-cards sip-cards-img ">
                        <a href="${properties.sipCardBtnLink}" target="${properties.sebiNewTab ? '_blank' : ''}">
                            <img src="${properties.sipCardImgs}" alt="" class="sip-card-img">
                        </a>
                    </div>
                    <!-- 25-10-2021 -->
                    <!-- 25-10-2021 -->

                    <div data-sly-test="${properties.sipCardHeadings && properties.descriptions && !properties.sipCardImgs}"
                        class="sip-cards sip-cards-content ">
                        <div class="sip-cards-info">
                            <h4>${properties.sipCardHeadings}</h4>
                            ${properties.descriptions @context='html'}

                            <div class="sip-card-btn">
                                <a href="${properties.sipCardBtnLinks}"
                                    target="${properties.sebiNewTabs ? '_blank' : ''}">
                                <button type="button"
                                    class="btn-blue btn-blue-outline btn-h40 radius100 bg-wgite">${properties.sipCardBtns}</button>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div data-sly-test="${properties.sipCardHeadings && properties.sipCardImgs && !properties.descriptions}"
                        class="sip-cards card-white">
                        <div class="sip-cards-info">
                            <h4>${properties.sipCardHeadings}</h4>
                            <div class="sip-card-btn mg-t20">
                                <a href="${properties.sipCardBtnLinks}"
                                    target="${properties.sebiNewTabs ? '_blank' : ''}"
                                    class="btn-blue btn-blue-outline btn-h40 radius100" data-riskbtn="riskInvestBtn">${properties.sipCardBtns}</a>
                            </div>
                        </div>
                        <img src="${properties.sipCardImgs}" alt="a" class="sip-card-img">
                    </div>
                    <!-- 25-10-2021 -->

                </sly>
                <sly data-sly-test="${properties.cardType == 'whiteCardWithoutTab'}">
                    <div class="card-div risk-profile-card risk-profile-new">
                
                        <div class="risk-tab-content">
                            <div class="risk-tab-row">
                                <div class="risk-tab-left">
                                    <h4 data-cardheading="${properties.whiteCardHeading}">${properties.whiteCardHeading}</h4>
                                    <p>${properties.whiteCardDescription @context='html'}</p>
                                    <a href="javascript:void(0)" data-action="risk-profile-login"
                                        data-risktabredirect="riskTabRedirect"><button type="button"
                                            class="btn-blue radius100 btn-h40">${properties.whiteCardBtn}</button></a>
                                </div>
                                <div class="risk-tab-right">
                                    <img src="${properties.whiteCardImg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </sly>
            </div>

        </div>
    </div>
</section>
<!-- risk-info box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.risk-info'}"></sly>
</sly>