<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.service-request'}"></sly>
</sly>
<!-- service request -->
<section class="service-request-box">
    <div class="container">
        <h4>${properties.heading}</h4>
        <a href="javascript:void(0)" target="${properties.newTab ? '_blank' : ''}"
            class="btn btn-blue btn-blue-outline radius100 bg-wgite jsOpenModal" data-popovermodal="popover-modal"
            data-target="#servicepop" data-servicer-call="sevicecall">${properties.buttonTitle}</a>
    </div>
</section>
<!-- service request -->
<!-- service request modal -->
<div class="popover-modal fade contribute-modal" id="servicepop">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        <p><b>I hereby acknowledge and agree that Tata Securities Limited (TSL) is registered with PFRDA as Point of Presence - Sub Entity (POP-SE) and my subscription to NPS is subject to the specific terms and conditions laid down by PFRDA and/or by the POP. I acknowledge that third-party links on TSL’s platform may direct me to third- party sites or pages or applications that are not affiliated with TSL. TSL is not responsible for examining or evaluating the content or accuracy of such sites or pages or applications, and does not warrant and will not have any liability or responsibility for any such sites or pages or applications, or for any other data, information, products or services of any third-parties.</b></p><p><b> By proceeding, I am acknowledging the above & accepting the Terms and Conditions as specified <a target="_blank" href="/content/dam/tata-capital/moneyfy/pdf/TERMS AND CONDITIONS- NPS.pdf" class="text-blue">here.</a> </b></p>
                        <a href="https://nps.kfintech.com/"
                            class="btn-blue radius100" target="_blank">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service request modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.service-request'}"></sly>
</sly>