.podcasts-box {
  padding: 40px 0;
}
.podcasts-box .pod-heading {
  margin-bottom: 20px;
}
.podcasts-box .podcasts-inners {
  background: radial-gradient(50.79% 52.48% at 48.36% 50.79%, rgba(255, 255, 255, 0.88) 0%, #FFFFFF 100%);
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.01), 5px 0px 10px rgba(0, 0, 0, 0.01), 0px -5px 10px rgba(0, 0, 0, 0.01), 0px 5px 10px rgba(0, 0, 0, 0.01);
  border-radius: 24px;
  padding: 25px 40px;
}

.podcast-left-row {
  display: flex;
  flex-wrap: wrap;
}
.podcast-left-row .podcast-left-img {
  width: 55px;
}
.podcast-left-row .podcast-left-img img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.podcast-left-row .podcast-right-content {
  width: calc(100% - 55px);
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.podcast-left-row .podcast-right-content .content-inn {
  width: 100%;
}
.podcast-left-row .podcast-right-content .pod-head {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 600;
}
.podcast-left-row .podcast-right-content .pod-text {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin-top: 4px;
}

.list-media-audio li {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #E2E2E2;
  transition: all 0.2s;
}
.list-media-audio li:nth-last-child(1) {
  border-bottom: none;
  padding-bottom: 0;
}
.list-media-audio li:nth-child(1) {
  padding-top: 0;
}
.list-media-audio li:hover .media-video-col {
  background-color: #EDF7FF;
}
.list-media-audio .share-btns {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.list-media-audio .share-btns a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(124, 124, 124, 0.3);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.list-media-audio .share-btns a span {
  position: relative;
  left: -1px;
}
.list-media-audio .media-video-col {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
  min-height: 64px;
}
.list-media-audio .media-video-col .media-bottom-content {
  padding-right: 15px;
  width: 405px;
}
.list-media-audio .media-video-col .media-audio-player {
  width: calc(100% - 405px);
  position: relative;
}

.media-audio-player audio {
  width: 100%;
  height: 30px;
}

.media-video-col {
  height: 100%;
  border-radius: 16px;
}

@keyframes spin3 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
.green-audio-player {
  width: 100%;
  height: 30px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  padding-right: 56px;
}
.green-audio-player svg {
  display: block;
  width: 20px;
  height: 20px;
}
.green-audio-player img {
  display: block;
}
.green-audio-player .holder {
  position: relative;
}
.green-audio-player .holder .loading {
  display: none !important;
  visibility: hidden !important;
}
.green-audio-player .holder .loading .loading__spinner {
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 30px;
  height: 30px;
  border: 2px solid #B369AB;
  border-radius: 50%;
  animation: spin3 0.4s linear infinite;
}
.green-audio-player .holder .play-pause-btn {
  visibility: visible !important;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.green-audio-player .holder .play-pause-btn svg {
  width: 12px;
}
.green-audio-player .holder .play-pause-btn path {
  fill: #333;
}
.green-audio-player .holder .play-pause-btn:focus {
  outline: none;
}
.green-audio-player .slider {
  flex-grow: 1;
  background-color: #E2E2E2;
  cursor: pointer;
  position: relative;
}
.green-audio-player .slider .gap-progress {
  background: #EBF32E;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.green-audio-player .slider .gap-progress .pin {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #EBF32E;
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  position: absolute;
  pointer-events: all;
}
.green-audio-player .controls {
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  color: #333333;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
  outline: none;
}
.green-audio-player .controls .controls__slider {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
  height: 6px;
}
.green-audio-player .controls .controls__slider .controls__progress {
  width: 0;
  height: 100%;
}
.green-audio-player .controls .controls__slider .controls__progress .progress__pin {
  right: -16px;
  top: -7px;
}
.green-audio-player .controls span {
  cursor: default;
  min-width: 37px;
}
.green-audio-player .controls:focus {
  outline: none;
}
.green-audio-player .volume {
  position: relative;
}
.green-audio-player .volume .volume__button {
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(124, 124, 124, 0.3);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 7px;
}
.green-audio-player .volume .volume__button path {
  fill: #000000;
}
.green-audio-player .volume .volume__button:focus {
  outline: none;
}
.green-audio-player .volume .volume__button.open {
  background-color: #EBF32E;
  border-color: #EBF32E;
}
.green-audio-player .volume .volume__button.open path {
  fill: #fff;
}
.green-audio-player .volume .volume__controls {
  background: #FFFFFF;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  width: 46px;
  height: 151px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 2;
  outline: none;
}
.green-audio-player .volume .volume__controls .volume__slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}
.green-audio-player .volume .volume__controls .volume__slider .volume__progress {
  bottom: 0;
  height: 100%;
  width: 6px;
}
.green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
  left: -7px;
  top: -8px;
}
.green-audio-player .volume .volume__controls:focus {
  outline: none;
}
.green-audio-player .volume .volume__controls.hidden {
  display: none;
}
.green-audio-player .volume .volume__controls.top {
  bottom: 52px;
  left: -3px;
}
.green-audio-player .volume .volume__controls.middle {
  bottom: -54px;
  left: 54px;
}
.green-audio-player .volume .volume__controls.bottom {
  bottom: -164px;
  left: -3px;
}
.green-audio-player .download {
  display: none;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
}
.green-audio-player .download:focus {
  outline: none;
}
.green-audio-player:focus {
  outline: none;
}

.green-audio-player .volume .volume__controls.top {
  bottom: 34px;
  left: -6px;
}

.green-audio-player .volume .volume__controls.bottom {
  bottom: -149px;
  left: -4px;
}

@media (max-width: 991px) {
  .podcasts-box .podcasts-inners {
    padding: 20px 16px;
    border-radius: 24px;
  }

  .list-media-audio .share-btns {
    top: 13px;
    transform: translateY(0%);
  }
  .list-media-audio .share-btns a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .list-media-audio .media-video-col {
    min-height: 103px;
    flex-direction: column;
    align-items: flex-start;
  }
  .list-media-audio .media-video-col .media-bottom-content {
    padding-right: 35px;
    width: 100%;
    padding-bottom: 20px;
  }
  .list-media-audio .media-video-col .media-bottom-content h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .list-media-audio .media-video-col .media-audio-player {
    width: 100%;
  }

  .green-audio-player {
    padding-right: 0;
  }
  .green-audio-player .holder .play-pause-btn {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }
  .green-audio-player .holder .play-pause-btn svg {
    width: 9px;
  }
  .green-audio-player .volume .volume__button {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
  .green-audio-player .volume .volume__button svg {
    width: 16px;
    height: 16px;
  }

  .green-audio-player .volume .volume__controls.top {
    bottom: 38px;
    left: -8px;
  }
}
@media (max-width: 767px) {
  .podcasts-box {
    padding: 20px 0;
  }

  .green-audio-player .volume {
    display: none;
  }
  .green-audio-player .controls {
    margin-right: 0px;
  }

  .podcast-left-row .podcast-left-img {
    width: 40px;
  }
  .podcast-left-row .podcast-left-img img {
    width: 40px;
    height: 40px;
  }
  .podcast-left-row .podcast-right-content {
    padding-left: 10px;
    width: calc(100% - 40px);
  }
  .podcast-left-row .podcast-right-content .pod-head {
    font-size: 16px;
  }
  .podcast-left-row .podcast-right-content .pod-text {
    font-size: 11px;
  }
  .h4-class{
    font-size: 18px !important;
    line-height: 21px !important;
  }
}

/*# sourceMappingURL=style.css.map */


.h4-class{
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: #333;
}