.heading-with-view .btn-view-all {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.btn-view-all span {
  margin-left: 7px;
  font-size: 10px;
}

/*--------      -------*/
.customer-say {
  background-color: #E9F0F7;
  padding: 65px 0px 70px;
}
.customer-say h2 {
  margin-bottom: 8px;
}
.customer-say .customer-slider-col {
  padding: 25px 10px 35px;
}
.customer-say .customer-sliders {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 30px 30px 80px;
  height: 100%;
}
.customer-say .customer-sliders h5 {
  margin-bottom: 4px;
}
.customer-say .customer-sliders .text-location {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  display: block;
  margin-bottom: 14px;
}
.customer-say .customer-sliders p {
  font-size: 17px;
  line-height: 28px;
  color: #333333;
}
.customer-say .list-stars {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 -2px 15px;
}
.customer-say .list-stars span {
  font-size: 23px;
  line-height: 23px;
  color: #FFBD00;
  margin: 0 2px;
}

.about-us-customer-say .heading-with-view {
  text-align: center;
}

@media (max-width: 1199px) {
  .customer-say .btn-view-all {
    display: none;
  }

  .about-us-customer-say .btn-view-all {
    display: block;
  }
}
@media (max-width: 767px) {
  .customer-say {
    padding: 45px 0px 50px;
  }
  .customer-say .slider-arrows .slick-prev {
    margin-left: -95px;
  }
  .customer-say .slider-arrows .slick-next {
    margin-right: -95px;
  }
  .customer-say .customer-sliders {
    width: 256px;
    padding: 30px 25px;
  }
  .customer-say .customer-sliders h5 {
    margin-bottom: 2px;
  }
  .customer-say .customer-sliders .text-location {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .customer-say .customer-sliders p {
    font-size: 12px;
    line-height: 18px;
    color: #606060;
  }
  .customer-say .list-stars {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .customer-say .container {
    padding: 0px;
  }
  .customer-say h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */

