<!-- product-listing box 12-12-2022-->
<section class="product-listing-box">
  <div class="container">
    <div class="product-inners">
      <h2>${properties.heading}</h2>
      <p>${properties.description}</p>
    </div>
    <div class="listings-slider-flex slider-dots slider-arrows flex-slider" id="jsProductListingSlider">
      <sly data-sly-list.partner="${resource.children}">
        <sly data-sly-test="${partner.name=='partners'}">
          <sly data-sly-list.partnerCard="${partner.children}">
            <sly data-sly-test.popDataListIDValue="${'{0}_{1}' @ format =[partner.name,partnerCardList.count]}">
            <div class="listings-slider-row">
              <div class="listings-cards">
                <div class="listings-cards-info">
                  <h4>${partnerCard.cardHeading}</h4>
                  ${partnerCard.cardDescription @context = 'html'}
                </div>
                <sly data-sly-test="${partnerCard.redirectWithPopup}">
                <div class="listing-card-btn">
                    <a data-sly-test="${partnerCard.firstBtn}"href="${partnerCard.firstBtnPath}" class="btn-blue btn-blue-outline btn-h40 radius100 jsOpenModal" class="btn-blue btn-h40 radius100" data-popovermodal="popover-modal" data-target="#${popDataListIDValue}">${partnerCard.firstBtn}</a>
                    <a data-sly-test="${partnerCard.secondBtn}" href="${partnerCard.secondBtnPath}" class="btn-blue btn-blue-outline btn-h40 radius100">${partnerCard.secondBtn}</a>
                </div>
                </sly>
                <sly data-sly-test="${!partnerCard.redirectWithPopup}">
                <div class="listing-card-btn">
                  <a data-sly-test="${partnerCard.firstBtn}"href="${partnerCard.firstBtnPath ? partnerCard.firstBtnPath : partnerCard.popBtnLink}" target="${partnerCard.isThirdPartyLink ? '_blank':''}" class="btn-blue btn-blue-outline btn-h40 radius100" class="btn-blue btn-h40 radius100"  data-target="#${popDataListIDValue}">${partnerCard.firstBtn}</a>
                  <a data-sly-test="${partnerCard.secondBtn}" href="${partnerCard.secondBtnPath}" class="btn-blue btn-blue-outline btn-h40 radius100">${partnerCard.secondBtn}</a>
                </div>
                </sly>
                <img src="${partnerCard.img}" alt="" class="listing-card-img">
              </div>
            </div>
          </sly>
          </sly>
        </sly>
      </sly>
    </div>
  </div>
</section>

<!-- personal loan partner popup start-->
<sly data-sly-list.partner="${resource.children}">
  <sly data-sly-test="${partner.name=='partners'}">
    <sly data-sly-list.partnerCard="${partner.children}">
      <sly data-sly-test.popDataListIDValue="${'{0}_{1}' @ format =[partner.name,partnerCardList.count]}">
        <sly data-sly-test="${partnerCard.redirectWithPopup}">
        <div class="popover-modal fade contribute-modal" id="${popDataListIDValue}">
          <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
            <div class="popover-modal-content radius10">
              <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                    class="icon-close"></i></button>
                <div class="modal-body-inner3">
                  <div class="terms-text text-center personal-loan-partner-modal">
                    ${partnerCard.popupContent @context='html'}
                    <sly data-sly-test="${partnerCard.popBtn}">
                      <div class="mg-t20">
                        <a href="${partnerCard.popBtnLink}" target="${partnerCard.popBtnTarget ? '_blank':''}"
                          class="btn-blue radius100">${partnerCard.popBtn}</a>
                      </div>
                    </sly>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </sly>
      </sly>
    </sly>
  </sly>
</sly>
<!-- personal loan partner popup end-->