<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.home-loan-banner'}"></sly>
</sly>
<!-- why monefy -->
<section class="why-monefy-box why-moneyfy-category why-moneyfy-benefits">
    <div class="container">
        <h2 class="text-center">${properties.heading}</h2>
        <div class="list-why-monefy">
            <sly data-sly-list.itemList="${resource.children}">
                <sly data-sly-test="${itemList.name == 'benfitList'}">
                    <sly data-sly-list.benefits="${itemList.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${benefits.img}" alt="" />
                                </div>
                                <div class="why-col-inner">
                                  <h5>${benefits.heading}</h5>
                                  ${benefits.description @context="html"}
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
        <div class="text-center" data-sly-test="${!properties.checklogin}" data-sly-test="${properties.showButton}">
            <a href="javascript:void(0)" type="button" class="btn-blue radius100 jsOpenModal" data-popovermodal="popover-modal" data-homeloan="redirecthomeloan" data-target="#benefits-modal">${properties.buttonTitle}</a>
        </div>
        <div class="text-center" data-sly-test="${properties.checklogin}">
          <a href="javascript:void(0)" type="button" class="btn-blue radius100" data-loanpopup="loanpopup"  data-loanredirect="${properties.loginPopUpCheckLink}">${properties.buttonTitle}</a>
        </div>
        <div class="text-center" data-sly-test="${properties.directBtn}">
          <a href="${properties.directLink}" type="button" class="btn-blue radius100">${properties.directBtn}</a>
        </div>

    </div>
</section>
 <!-- benefits-modal -->
    <div class="popover-modal fade contribute-modal" id="benefits-modal">
      <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
          <div class="popover-modal-body">            
            <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i class="icon-close"></i></button>
            <div class="modal-body-inner3">
              <div class="terms-text text-center benefits-modal">
               ${properties.popdescription @context="html"}
                <div class="mg-t20">
                  <a href="${properties.btnLink}" target="${properties.newTab}" class="btn-blue radius100">${properties.redirectionbuttonTitle}</a>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end benefits modal -->
<!-- why monefy -->