/*credit card new*/
.credit-cards-box {
  padding: 65px 0 70px;
  background-color: #F6F8F9;
}
.credit-cards-box h2 {
  margin-bottom: 20px;
}
.credit-cards-box p {
  margin-bottom: 30px;
}
.credit-cards-box .max-w875 {
  max-width: 875px;
  margin: auto;
  text-align: center;
}
.credit-cards-box .logo-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0 -30px 40px;
}
.credit-cards-box .logo-lists li {
  padding: 0 30px;
}

@media (max-width: 991px) {
  .credit-cards-box {
    padding: 40px 0 45px;
  }
}
@media (max-width: 767px) {
  .credit-cards-box h2 {
    margin-bottom: 15px;
  }
  .credit-cards-box p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 27px;
  }
  .credit-cards-box .logo-lists {
    margin-left: 0px;
    margin-right: 0px;
  }
  .credit-cards-box .logo-lists li {
    width: 50%;
    padding: 0 10px;
  }
  .credit-cards-box .logo-lists li img {
    max-width: 200px;
    margin: auto;
    width: 100%;
  }
}

@charset "UTF-8";
.disclaimer-box {
  padding-bottom: 65px;
  text-align: center;
}
.disclaimer-box h2 {
  pointer-events: none;
}
.disclaimer-box p {
  font-size: 13px;
  line-height: 28px;
  color: #606060;
  margin-top: 15px;
}
.disclaimer-box.tax-disclaimer p {
  font-size: 14px;
}

@media (max-width: 991px) {
  .disclaimer-box {
    padding-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .disclaimer-box {
    text-align: left;
    padding-bottom: 30px;
  }
  .disclaimer-box p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 7px;
  }
  .disclaimer-box.tax-disclaimer p {
    font-size: 12px;
  }

  .disclaimer-inner {
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
    border-radius: 10px;
    background-color: #fff;
    padding: 18px 23px;
  }
  .disclaimer-inner h2 {
    position: relative;
    cursor: pointer;
    pointer-events: auto;
  }
  .disclaimer-inner h2:after {
    content: "";
    font-family: "icomoon";
    color: #2C6EB5;
    font-size: 10px;
    line-height: 29px;
    position: absolute;
    top: 0px;
    right: 0;
  }
  .disclaimer-inner.active h2:after {
    content: "";
  }
}

/*# sourceMappingURL=style.css.map */
