<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.moneyfy-steps-to-invest'}"></sly>
</sly>

<!-- steps to invest -->
<section class="why-monefy-box why-moneyfy-category steps-to-invest js-compareActive">
    <div class="container">
        <div class="text-center heading-left-md">
        <h2 data-heading="steps-to-invest">${pageProperties.pageTitle}</h2>
        </div>
        <div class="list-why-monefy" data-sly-test="${properties.title}">
            <sly data-sly-list.data="${resource.children}">
                <sly data-sly-test="${data.name == 'stepsList'}">
                    <sly data-sly-list.stepItems="${data.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${stepItems.stepImage}"
                                        alt="" />
                                </div>
                                <h5>${stepItems.stepTitle}</h5>
                                ${stepItems.description @ context='html'}
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>            
        </div>
        <div class="btn-wrap text-center">
            <a href="${properties.buttonLink}" target="${properties.newTab ? '_blank' : ''}" class="btn-blue radius100 invest-now-btn">${properties.buttonText}</a>
        </div>
    </div>
</section>
<!-- steps to invest -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.moneyfy-steps-to-invest'}"></sly>
</sly>