<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.choose-from-amc'}"></sly>
</sly>

<sly data-sly-use.amcListModel='com.tatacapital.moneyfy.core.models.AMCListingModel' />

<!-- amc box -->
<section class="fund-manager-box amc-box bg-wgite ${properties.dropdown} js-compareActive">
    <div class="container">
        <div class="top-headings">
            <div class="heading-with-view top-inners amc-viewall-overlap">
                <h2>${properties.heading}</h2>
                ${properties.description @context='html'}
                <a href="/content/tata-capital-moneyfy/en/mutual-funds/amc.html" class="btn-view-all hidden-md" data-amcviewall="viewAllBtn">View All<span class="icon-arrow-right"></span></a>
            </div>
        </div>
    </div>

    <div class="container fund-manager">
        <div class="inner-amc-slide slider-dots slider-arrows flex-slider" id="amcSlider">
            <sly data-sly-list="${amcListModel.expFundThroughAmc}">

                <a href="${item.pagePath}" data-amcFundManger="amc-fundManager">
                    <div class="fund-manager-rows">
                        <div class="fund-manager-col">
                            <div class="card-div fund-manager-card">
                                <div class="fund-manager-top">
                                    <div class="amc-text-logo">
                                        <span class="amc-logo">
                                            <img src="${item.iconPath}" alt="">
                                        </span>
                                        <h5>${item.fundName}</h5>
                                    </div>
                                </div>
                                <div class="fund-manager-bottom">
                                    <div class="fund-ul">
                                        <div class="fund-li">
                                            <p>No. of funds</p>
                                            <h6>${item.numberOfFunds}</h6>
                                        </div>
                                        <div class="fund-li">
                                            <p>AUM</p>
                                            <h6>₹${item.aum} Cr</h6>
                                        </div>
                                        <div class="fund-li">
                                            <p>Highest Returns</p>
                                            <h6>${item.highestReturns}%</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </sly>
        </div>
        <div class="tab-view-all">
            <a href="/content/tata-capital-moneyfy/en/mutual-funds/amc.html" class="btn-view-all" data-amcviewall="viewAllBtn">View all <span class="icon-arrow-right"></span></a>
        </div>
    </div>

</section>
<!--amc box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.choose-from-amc'}"></sly>
</sly>