<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.compare-page-head'}"></sly>
</sly>

<section class="page-head">
    <div class="container">
        <div class="head-wrap">
            <h1>Compare Mutual Funds</h1>
            <div class="contact-view-wrap">
                <p>You can't find the right fund?
                    <a href="/content/tata-capital-moneyfy/en/contact-us.html" class="btn-view-all contact-us-link" data-comparepagebtn="compareContactUs">contact us<span class="icon-arrow-right"></span></a>
                </p>
                <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-view-all" data-comparepagebtn="copareViewAll">View All Mutual Funds<span class="icon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.compare-page-head'}"></sly>
</sly>