<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta name="description" content="" />
<link rel="icon" type="image/*" href="/content/dam/tata-capital-moneyfy/favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

<sly data-sly-use.followAnalytics="${'com.tatacapital.moneyfy.core.services.MoneyfyConfigs'}"/>
<script src="${followAnalytics.config.dtmScript @ context = 'unsafe'}"
    defer="true"></script>
<script>
    var jocataUrl = '${followAnalytics.config.jocataDomainUrl @ context = "unsafe"}';
    var loadFollowAnalyticsAsync = function () {
        return new Promise(function (resolve, reject) {
            var tag = document.createElement('script');
            tag.src = '/fa-sdk-web.js';
            tag.async = true;
            tag.onload = function () {
                resolve();
            };
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        });
    }
    var FollowAnalyticsLoaded = loadFollowAnalyticsAsync();
    window.addEventListener('DOMContentLoaded', function () {
        FollowAnalyticsLoaded.then(function () {
            FollowAnalytics.initialize({
                FAID: '${followAnalytics.config.followAnalyticsId @ context = "unsafe"}',
                bundleId: '${followAnalytics.config.followAnalyticsBundle @ context = "unsafe"}',
                defaultIcon: '${followAnalytics.config.followAnalyticsDefaultIcon @ context = "unsafe"}'});
        });
    });
</script>