<sly data-sly-test="${!properties.canonicalLink}">
    <link rel="canonical" href="${request.requestURL.toString}" />
</sly>
<sly data-sly-test="${properties.canonicalLink}" >
    <link rel="canonical" href="${properties.canonicalLink}" />
</sly>