<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.stp-inner-nav'}"></sly>
</sly>

<!-- blue tab box -->
<section class="blue-tab-box d-none d-lg-block swp-blue-tab js-floating">
    <div class="container">
        <div class="blue-tab-inner">
            <ul>
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'dropdownList'}">
                        <sly data-sly-list.investmentList="${listItem.children}">
                            <li class="${investmentList.checkbox ? 'active' : ''}">
                                <a href="${investmentList.tabLink}"
                                    target="${investmentList.newTab ? '_blank' : ''}">${investmentList.tabTitle}</a>
                            </li>
                        </sly>
                    </sly>
                </sly>
            </ul>
        </div>
    </div>
</section>
<!-- blue-tab box -->

<!-- Mob blue tab dropdown -->
<div class="js-fixContainer swp-blue-tab">
    <div class="d-block d-lg-none mob-blue-menu">
        <div class="container">
            <div class="custom-dropdown custom-dropdown-new">
                <div class="dropdown-button js-filterBtns" data-filter="sorting">
                    <a href="javascript:void(0);">${properties.mobileTitle}</a>
                </div>
                <div class="dropdown-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                        <ul class="dropdown-list-menu mCustomScroll mob-blue-menu-scroll">
                            <sly data-sly-list.listItem="${resource.children}">
                                <sly data-sly-test="${listItem.name == 'dropdownList'}">
                                    <sly data-sly-list.investmentList="${listItem.children}">
                                        <li class="${investmentList.checkbox ? 'active' : ''}">
                                            <a href="${investmentList.tabLink}"
                                                target="${investmentList.newTab ? '_blank' : ''}">${investmentList.tabTitle}</a>
                                        </li>
                                    </sly>
                                </sly>
                            </sly>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mob blue tab dropdown -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.stp-inner-nav'}"></sly>
</sly>