<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.sebi-category'}" />
</sly>

<!-- SEBI-categories  box -->
<sly data-sly-use.sebiCatbox="com.tatacapital.moneyfy.core.models.SebiSubCatModel" />
<sly data-sly-test.sebiCatFund="${sebiCatbox.sebiCatCards}" />

<section class="sebi-categories-box">  
    <div class="container">
        <div class="text-center">
            <h6>Discover Mutual funds</h6>
            <h2>SEBI Categories</h2>
        </div>

        <div class="sebi-categories jsTabContainer">
            <div class="yellow-tab-auto sebi-tabs">
                <ul class="list-yellow-tabs jsTabList" data-sebicatlist="sebiCategoriesList">
                    <li>
                        <a href="javascript:void(0)" class="active" data-tab="sebi-equity">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/equity-img.svg" alt="" /> Equity
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-tab="sebi-debt">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/debt-img.svg" alt="" /> Debt
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-tab="sebi-hybrid">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/hybrid-img.svg" alt="" /> Hybrid
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-tab="sebi-others">
                            <img src="/content/dam/tata-capital-moneyfy/mutual-funds/other-img.svg" alt="" /> Others
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sebi-content">
                <!-- Equity tab -->
                <div class="sebi-content-row jsTabRow" id="sebi-equity">
                    <ul class="list-goal-base jsSebiEquityList">
                        <sly data-sly-list.equityFund="${sebiCatFund.Equity}">
                        <li>
                            <a class="card-div list-goal" href="${equityFund.pagePath}" data-tabcontentlist="tabContentList">
                                <div class="list-goal-img">
                                    <img src="${equityFund.iconPath}.svg" alt="" class="goal-img" />
                                    <img src="${equityFund.iconPath}-hover.svg" alt="" class="goal-img-hover" />
                                </div>
                                <h5>${equityFund.title}</h5>
                            </a>
                        </li>
                        </sly>
                    </ul>
                    <div class="view-all-btns">
                        <div>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiEquity" id="jsViewMoreEquity">view more</a>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiEquity active d-none" id="jsViewLessEquity">view less</a>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-blue radius100 mg-t30" data-moremutual="moreMutual">view more mutual funds</a>
                    </div>
                </div>
                <!-- Equity tab -->
                <!-- sebi-debt tab -->
                <div class="sebi-content-row jsTabRow d-none" id="sebi-debt">
                    <ul class="list-goal-base jsSebiDebtList">
                        <sly data-sly-list.debtFund="${sebiCatFund.Debt}">
                        <li>
                            <a class="card-div list-goal" href="${debtFund.pagePath}" data-tabcontentlist="tabContentList">
                                <div class="list-goal-img">
                                    <img src="${debtFund.iconPath}.svg" alt="" class="goal-img" />
                                    <img src="${debtFund.iconPath}-hover.svg" alt="" class="goal-img-hover" />
                                </div>
                                <h5>${debtFund.title}</h5>
                            </a>
                        </li>
                       </sly>
                    </ul>
                    <div class="view-all-btns">
                        <div>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiDebt" id="jsViewMoreDebt">view more</a>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiDebt active d-none" id="jsViewLessDebt">view less</a>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-blue radius100 mg-t30" data-moremutual="moreMutual">view more mutual funds</a>
                    </div>
                </div>
                <!-- sebi-debt tab -->
                <!-- sebi-hybrid tab -->
                <div class="sebi-content-row jsTabRow d-none" id="sebi-hybrid">
                    <ul class="list-goal-base jsSebiHybridList">
                        <sly data-sly-list.hybridFund="${sebiCatFund.Hybrid}">
                        <li>
                            <a class="card-div list-goal" href="${hybridFund.pagePath}" data-tabcontentlist="tabContentList">
                                <div class="list-goal-img">
                                    <img src="${hybridFund.iconPath}.svg" alt="" class="goal-img" />
                                    <img src="${hybridFund.iconPath}-hover.svg" alt="" class="goal-img-hover" />
                                </div>
                                <h5>${hybridFund.title}</h5>
                            </a>
                        </li>
                        </sly>
                    </ul>
                    <div class="view-all-btns">
                        <div>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiHybrid" id="jsViewMoreHybrid">view more</a>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiHybrid active d-none" id="jsViewLessHybrid">view less</a>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-blue radius100 mg-t30" data-moremutual="moreMutual">view more mutual funds</a>
                    </div>
                </div>
                <!-- sebi-hybrid tab -->
                <!-- sebi-others tab -->
                <div class="sebi-content-row jsTabRow d-none" id="sebi-others">
                    <ul class="list-goal-base jsSebiOtherList">
                        <sly data-sly-list.othersFund="${sebiCatFund.Others}">
                        <li>
                            <a class="card-div list-goal" href="${othersFund.pagePath}" data-tabcontentlist="tabContentList">
                                <div class='list-goal-img'>
                                    <img src="${othersFund.iconPath}.svg" alt="" class="goal-img" />
                                    <img src="${othersFund.iconPath}-hover.svg" alt="" class="goal-img-hover" />
                                </div>
                                <h5>${othersFund.title}</h5>
                            </a>
                        </li>
                      </sly> 

                    </ul>
                    <div class="view-all-btns">
                        <div>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiOther" id="jsViewMoreOther">view more</a>
                            <a href="javascript:void(0)" class="btn-blue-link link-with-arrow jsViewAllSebiOther active d-none" id="jsViewLessOther">view less</a>
                        </div>
                        <a href="/content/tata-capital-moneyfy/en/mutual-fund-list.html" class="btn-blue radius100 mg-t30" data-moremutual="moreMutual">view more mutual funds</a>
                    </div>
                </div>
                <!-- sebi-others tab -->
            </div>
        </div>
    </div>
</section>
<!--adobe analytics 18,48,63,72,87,96,111,120,136-->
<!-- sebi-categories box -->


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.sebi-category'}" />
</sly>