<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.work-video-box'}"></sly>
</sly>
<!-- work-video box -->
<section class="work-video-box">
    <div class="container">
        <div class="work-video-inner">
            <sly data-sly-test="${properties.workVideoBoxHeading}">
                <div class="work-video-left">
                    <h6>${properties.workVideoBoxTitle}</h6>
                    <h2>${properties.workVideoBoxHeading}</h2>
                    <p>${properties.workVideoBoxDescription @context = "html"}</p>
                </div>
            </sly>
            <sly>
                <div class="work-video">
                    <iframe width="100%" height="100%" src="${properties.workVideoBoxLink}" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </sly>
        </div>

    </div>
</section>
<!-- work-video box -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.work-video-box'}"></sly>
</sly>