.how-work-box {
  background-color: #E9F0F7;
  padding: 72px 0 80px;
}
.how-work-box .how-work-top {
  text-align: center;
  max-width: 445px;
  margin: auto;
}
.how-work-box h6 {
  color: #2C6EB5;
}
.how-work-box h2 {
  margin-bottom: 22px;
  color: #333333;
}
.how-work-box h5 {
  margin-bottom: 4px;
}
.how-work-box p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.how-work-box .how-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 945px;
  width: 100%;
  margin: 0 auto 45px;
  position: relative;
}
.how-work-box .how-work-list:before {
  content: "";
  width: 645px;
  height: 103px;
  background: url("/content/dam/tata-capital-moneyfy/home-page/work-line.png") no-repeat center center;
  position: absolute;
  left: 169px;
  top: 44px;
}
.how-work-box .how-work-list li {
  text-align: center;
  width: 213px;
  position: relative;
  z-index: 1;
}
.how-work-box .how-work-list .work-image {
  margin-bottom: 14px;
  height: 178px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.how-work-box .how-work-list .work-content img {
  display: none;
}

@media (max-width: 991px) {
  .how-work-box {
    padding: 46px 0 50px;
  }
  .how-work-box .how-work-list:before {
    width: 395px;
    left: 180px;
    top: 44px;
    background-size: contain;
  }
}
@media (max-width: 767px) {
  .how-work-box h6 {
    margin-bottom: 3px;
  }
  .how-work-box h2 {
    margin-bottom: 30px;
  }
  .how-work-box h5 {
    margin-bottom: 4px;
  }
  .how-work-box p {
    font-size: 12px;
    line-height: 18px;
  }
  .how-work-box .img1 {
    max-width: 150px;
  }
  .how-work-box .img2 {
    max-width: 150px;
  }
  .how-work-box .img3 {
    max-width: 137px;
  }
  .how-work-box .how-work-list {
    max-width: 320px;
    display: block;
    margin-bottom: 15px;
  }
  .how-work-box .how-work-list:before {
    display: none;
  }
  .how-work-box .how-work-list li {
    width: auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .how-work-box .how-work-list li.work-two {
    flex-direction: row-reverse;
  }
  .how-work-box .how-work-list .work-image {
    height: auto;
    display: block;
    margin-bottom: 0px;
    width: 50%;
  }
  .how-work-box .how-work-list .work-image img {
    max-width: 100%;
  }
  .how-work-box .how-work-list .work-content {
    width: 135px;
    position: relative;
  }
  .how-work-box .how-work-list .work-content img {
    position: absolute;
    display: block;
  }
  .how-work-box .how-work-list .work-content img.line1 {
    top: -68px;
    left: -71px;
  }
  .how-work-box .how-work-list .work-content img.line2 {
    top: -77px;
    right: -118px;
  }
  .how-work-box .how-work-list .work-content img.line3 {
    top: -92px;
    right: 75px;
  }
  .how-work-box .how-work-list .work-content img.line4 {
    bottom: -90px;
    right: 83px;
  }
}

/*# sourceMappingURL=style.css.map */
