.top-pickup-box {
  background-color: #E9F0F7;
  padding: 65px 0 75px;
}
.top-pickup-box h2 {
  text-align: center;
  margin-bottom: 22px;
}
.top-pickup-box .top-pickup-tabs {
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  padding-bottom: 20px;
}
.top-pickup-box .top-pickup-content {
  padding-top: 40px;
}
.top-pickup-box .top-pickup-text {
  color: #606060;
  text-align: center;
}

.top-pickup-li {
  padding: 25px 10px 35px;
  height: 100%;
}

.top-pickup-card {
  overflow: hidden;
  height: 100%;
}
.top-pickup-card .top-pickup-top {
  padding: 30px 25px 24px;
}
.top-pickup-card .top-pickup-bottom {
  padding: 20px 25px;
  background-color: #F7F8FA;
}
.top-pickup-card .pickup-text-logo {
  position: relative;
  padding-left: 43px;
  min-height: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.top-pickup-card .pickup-text-logo h5 {
  min-height: 90px;
}
.top-pickup-card .pickup-text-logo .pickup-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #CCD8EE;
  position: absolute;
  left: 0px;
  top: 0px;
}
.top-pickup-card .pickup-text-logo .pickup-logo {
  color: #333;
}
.top-pickup-card .pickup-text-logo .pickup-logo img {
  margin: auto;
}
.top-pickup-card .top-pickup-progress {
  min-height: 34px;
  margin-bottom: 15px;
}
.top-pickup-card .top-pickup-progress .pickup-progrees {
  position: relative;
}
.top-pickup-card .top-pickup-progress .pickup-progrees img {
  border-radius: 5px;
  width: 100%;
}
.top-pickup-card .top-pickup-btn-ul {
  display: flex;
  flex-wrap: wrap;
}
.top-pickup-card .top-pickup-btn-ul .top-pickup-btn-li {
  width: 50%;
  text-align: center;
}
.top-pickup-card .top-pickup-btn-ul .top-pickup-btn-li .btn-view-all.btn-h40 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.top-pickup-card .pickup-rows {
  display: flex;
  flex-wrap: wrap;
}
.top-pickup-card .pickup-rows .pickup-left {
  /*25-5-2025*/
  padding-right: 15px;
  /*25-5-2025*/
  width: 135px;
  position: relative;
}
.top-pickup-card .pickup-rows .pickup-left:before {
  content: "";
  border-right: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  right: 0px;
  top: 5px;
  bottom: 5px;
}
.top-pickup-card .pickup-rows .pickup-left p {
  color: #606060;
}
.top-pickup-card .pickup-rows .pickup-left .pickup-dates {
  font-size: 12px;
  line-height: 16px;
  color: #606060;
  display: block;
  margin-bottom: 4px;
}
.top-pickup-card .pickup-rows .pickup-right {
  /*25-5-2025*/
  padding-left: 15px;
  /*25-5-2025*/
  width: calc(100% - 135px);
}
.top-pickup-card .pickup-rows .pickup-right p {
  color: #606060;
}
.top-pickup-card .pickup-rows .pickup-right h6 {
  position: relative;
  padding-left: 19px;
}
.top-pickup-card .pickup-rows .pickup-right h6 span {
  font-size: 11px;
  color: #1FC750;
  position: absolute;
  left: 0px;
  top: 9px;
}
.top-pickup-card .pickup-rows .pickup-right .pickup-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.top-pickup-card .pickup-rows .pickup-right .pickup-ul .pickup-li {
  width: 50%;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .top-pickup-box {
    padding: 45px 0px 50px;
  }
  .top-pickup-card .top-pickup-top {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top-pickup-card .top-pickup-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top-pickup-card .pickup-rows .pickup-right .pickup-ul .pickup-li {
    width: 100%;
  }
  .top-pickup-card .pickup-rows .pickup-right .pickup-ul .pickup-li:first-child {
    padding-bottom: 7px;
  }
}
@media (max-width: 767px) {
  .top-pickup-box .container.top-pickup-sp {
    padding: 0px;
  }
  .top-pickup-box .top-pickup-content {
    padding-top: 26px;
  }
  .top-pickup-box .top-pickup-text {
    font-size: 14px;
    line-height: 22px;
  }
  .top-pickup-li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .top-pickup-card .top-pickup-top {
    padding: 20px 20px 14px;
  }
  .top-pickup-card .top-pickup-bottom {
    padding: 15px 20px;
  }
  .top-pickup-card .top-pickup-progress {
    margin-bottom: 10px;
  }
  .top-pickup-card .pickup-rows .pickup-left {
    /*29-5-2023*/
    padding-right: 10px;
    /*29-5-2023*/
    width: 110px;
  }
  .top-pickup-card .pickup-rows .pickup-left p {
    font-size: 14px;
    line-height: 22px;
  }
  .top-pickup-card .pickup-rows .pickup-left .pickup-dates {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 5px;
  }
  .top-pickup-card .pickup-rows .pickup-right {
    /*29-5-2023*/
    padding-left: 15px;
    /*29-5-2023*/
    width: calc(100% - 110px);
  }
  .top-pickup-card .pickup-rows .pickup-right p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .top-pickup-card .pickup-rows .pickup-right h6 {
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
  }
  .top-pickup-card .pickup-rows .pickup-right h6 span {
    top: 5px;
  }
  .top-pickup-card .pickup-text-logo {
    min-height: inherit;
    padding-left: 0px;
    display: block;
    margin-bottom: 11px;
  }
  .top-pickup-card .pickup-text-logo .pickup-logo {
    position: static;
    margin-bottom: 5px;
  }
  .top-pickup-card .top-pickup-btn-ul {
    justify-content: space-between;
  }
  .top-pickup-card .top-pickup-btn-ul .top-pickup-btn-li {
    width: auto;
  }
  .top-pickup-card .top-pickup-btn-ul .top-pickup-btn-li .btn-view-all {
    font-size: 11px;
  }
  .top-pickup-card .top-pickup-btn-ul .top-pickup-btn-li .btn-blue.btn-blue-outline {
    border: 1px solid #2C6EB5;
    padding: 6px 10px !important;
  }
  .top-pickup-card .top-pickup-btn-ul .top-pickup-btn-li .btn-view-all {
    padding: 6px 3px !important;
  }
  .top-pickup-card .pickup-text-logo h5 {
    min-height: 48px;
  }
}
@media (max-width: 374px) {
  .top-pickup-card .pickup-text-logo h5 {
    min-height: 72px;
  }
}

/*# sourceMappingURL=style.css.map */
