@charset "UTF-8";
.why-start-nps-box {
  padding-bottom: 80px;
  padding-top: 70px;
  background-image: url(/content/dam/tata-capital-moneyfy/stp/why-start-right-bg.png);
  background-repeat: no-repeat;
  background-size: 310px;
  background-position-x: left;
  background-position-y: -150px;
}

.why-item-wraps {
  display: flex;
  margin-top: 30px;
}
.why-item-wraps .item-wrap {
  width: 25%;
}
.why-item-wraps .feature-wrap h6 {
  display: none;
}
.why-item-wraps .select-wrap {
  height: 60px;
  margin-bottom: 10px;
  padding: 0 3px;
}
.why-item-wraps .select-wrap h4 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border: 0;
  box-shadow: 0px 3px 20px rgba(153, 186, 208, 0.26);
  border-radius: 10px;
  padding: 0 20px;
  background-color: #fff;
}
.why-item-wraps .select-wrap .select2-selection__rendered {
  width: 100%;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: #333333;
  padding-left: 20px;
}
.why-item-wraps .select-wrap .select2-container {
  width: 100% !important;
}
.why-item-wraps .select-wrap .select2-container .select2-selection--single {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border: 0;
  box-shadow: 0px 3px 20px rgba(153, 186, 208, 0.26);
  border-radius: 10px;
}
.why-item-wraps .select-wrap .select2-container .select2-selection--single .select2-selection__arrow {
  height: 60px;
  display: flex;
  align-items: center;
}
.why-item-wraps .select-wrap .select2-container .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-size: 7px;
}
.why-item-wraps .select-wrap .select2-container .select2-selection--single .select2-selection__placeholder {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #606060;
}
.why-item-wraps .feature-item {
  height: 85px;
  display: flex;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
.why-item-wraps .feature-item:last-child {
  border-bottom: 0;
}
.why-item-wraps .feature-item.h120 {
  height: 120px;
}
.why-item-wraps .feature-item.h150 {
  height: 150px;
}
.why-item-wraps .feature-wrap .feature-item {
  padding-left: 20px;
}
.why-item-wraps .feature-item-wrap {
  border-radius: 10px;
}
.why-item-wraps .feature-wrap-1 .feature-item-wrap {
  background-color: rgba(10, 105, 165, 0.1);
}
.why-item-wraps .feature-wrap-2 .feature-item-wrap {
  background-color: rgba(102, 204, 153, 0.1);
}
.why-item-wraps .feature-wrap-3 .feature-item-wrap {
  background-color: rgba(204, 102, 204, 0.1);
}
.why-item-wraps .hide-data .feature-item * {
  display: none;
}

.find-difference-box {
  padding: 70px 0 80px;
}
.find-difference-box .why-item-wraps .feature-item {
  height: 75px;
}
.find-difference-box .why-item-wraps .feature-item.h120 {
  height: 100px;
}

@media (max-width: 1200px) {
  .why-item-wraps .feature-item.h150 {
    height: 170px;
  }
}
@media (max-width: 991px) {
  .why-start-nps-box {
    background-size: 230px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .why-item-wraps {
    margin: 20px -1px 0;
  }
  .why-item-wraps .feature-item-wrap {
    border-radius: 0;
  }
  .why-item-wraps .feature-wrap-1 {
    background-color: rgba(10, 105, 165, 0.1);
  }
  .why-item-wraps .feature-wrap-1 .feature-item-wrap {
    background-color: transparent;
  }
  .why-item-wraps .feature-wrap-2 {
    background-color: rgba(102, 204, 153, 0.1);
  }
  .why-item-wraps .feature-wrap-2 .feature-item-wrap {
    background-color: transparent;
  }
  .why-item-wraps .feature-wrap-3 {
    background-color: rgba(204, 102, 204, 0.1);
  }
  .why-item-wraps .feature-wrap-3 .feature-item-wrap {
    background-color: transparent;
  }
  .why-item-wraps .feature-item {
    flex-direction: column;
    padding: 15px 20px;
    height: 81px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .why-item-wraps .feature-item.h120 {
    height: 103px;
  }
  .why-item-wraps .feature-item.h150 {
    height: 135px;
  }
  .why-item-wraps .feature-item h6 {
    display: block;
    font-size: 11px;
    line-height: 12px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .why-item-wraps .feature-item p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.302222px;
    color: #333333;
  }
  .why-item-wraps .item-wrap {
    width: calc(100%/3);
    margin: 0 1px;
    padding-top: 2px;
  }
  .why-item-wraps .item-wrap:not(.feature-wrap) {
    display: none;
  }
  .why-item-wraps .select-wrap {
    height: 38px;
    margin-bottom: 0;
  }
  .why-item-wraps .select-wrap h4 {
    height: 38px;
    border-radius: 0;
    font-size: 14px;
    line-height: 21px;
  }
  .why-item-wraps .select-wrap .select2-selection__rendered {
    font-size: 14px;
    line-height: 21px;
    padding-left: 20px;
  }
  .why-item-wraps .select-wrap .select2-container .select2-selection--single {
    height: 38px;
    border-radius: 0;
  }
  .why-item-wraps .select-wrap .select2-container .select2-selection--single .select2-selection__arrow {
    height: 38px;
  }
  .why-item-wraps .select-wrap .select2-container .select2-selection--single .select2-selection__arrow:before {
    font-size: 8px;
  }
  .why-item-wraps .select-wrap .select2-container .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .why-start-nps-box {
    padding-bottom: 30px;
    padding-top: 0;
    background-image: none;
  }
  .why-start-nps-box h2 {
    text-align: left !important;
    font-size: 16px;
    line-height: 19px;
  }

  .why-item-container {
    max-width: unset;
    padding: 0;
  }

  .why-item-wraps {
    overflow: auto;
  }
  .why-item-wraps .item-wrap {
    min-width: 180px;
  }

  .find-difference-box {
    padding: 45px 0 0;
  }
  .find-difference-box h2 br {
    display: none;
  }
  .find-difference-box .why-item-wraps .feature-item {
    height: 80px;
  }
  .find-difference-box .why-item-wraps .feature-item.h120 {
    height: 110px;
  }
}

/*# sourceMappingURL=style.css.map */
