.learning-top-box {
    padding: 35px 0 25px;
    text-align: center;
  }
  .learning-top-box h6 {
    color: #2C6EB5;
    margin-bottom: 15px;
  }
  .learning-top-box h2 {
    margin-bottom: 20px;
  }
  
  .learning-menu-top {
    padding: 10px 0;
  }
  
  .learn-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .learn-tabs li {
    padding: 0 7px;
    cursor: pointer;
  }
  .learn-tabs li a {
    padding: 13px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: block;
    background-color: #E9F0F7;
    border-radius: 80px;
    color: #333;
  }
  .learn-tabs li.active a {
    background-color: #D7DF23;
  }
  
  @media (max-width: 991px) {
    .learning-top-box {
      padding: 15px 0;
    }
  }
  @media (max-width: 767px) {
    .learning-menu-top {
      padding: 0px;
    }
  
    .learning-top-box h6 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 10px;
    }
    .learning-top-box h2 {
      margin-bottom: 15px;
    }
  
    .learn-tabs li a {
      font-size: 12px;
      line-height: 18px;
      padding: 7px 15px;
      white-space: nowrap;
    }
  }
  @media (max-width: 575px) {
    .learning-top-box {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  
    .learn-tabs {
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow: auto;
      padding-bottom: 10px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
  

.learning-top-box {
    padding: 35px 0 25px;
    text-align: center;
  }
  .learning-top-box h6 {
    color: #2C6EB5;
    margin-bottom: 15px;
  }
  .learning-top-box h2 {
    margin-bottom: 20px;
  }
  
  .learning-menu-top {
    padding: 10px 0;
  }
  
  .learn-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .learn-tabs li {
    padding: 0 7px;
  }
  .learn-tabs li a {
    padding: 13px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: block;
    background-color: #E9F0F7;
    border-radius: 80px;
    color: #333;
  }
  .learn-tabs li.active a {
    background-color: #D7DF23;
  }
  
  @media (max-width: 991px) {
    .learning-top-box {
      padding: 15px 0;
    }
  }
  @media (max-width: 767px) {
    .learning-menu-top {
      padding: 0px;
    }
  
    .learning-top-box h6 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 10px;
    }
    .learning-top-box h2 {
      margin-bottom: 15px;
    }
  
    .learn-tabs li a {
      font-size: 12px;
      line-height: 18px;
      padding: 7px 15px;
      white-space: nowrap;
    }
  }
  @media (max-width: 575px) {
    .learning-top-box {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  
    .learn-tabs {
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow: auto;
      padding-bottom: 10px;
    }
  }