@charset "UTF-8";
.popular-faq-box {
    padding: 65px 0 40px;
    background-color: #E9F0F7;
}

.popular-faq-box .inner-container {
    padding-top: 30px;
}

/* Accordian Tab */

.accordian-card {
    padding: 0 30px 13px;
    border-radius: 10px;
}
.bg-wgite {
    background-color: #fff !important;
}
.accordian-card .accordian-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #333333;
    position: relative;
    display: block;
    padding: 25px 30px 12px 0;
}

.accordian-card .accordian-title:before {
    content: "";
    border-top: 1px solid rgba(122, 204, 255, 0.3);
    position: absolute;
    left: -30px;
    right: -30px;
    top: 0px;
}

.accordian-card .accordian-title:after {
    content: "";
    content: "";
    font-family: "icomoon";
    font-size: 13px;
    color: #2C6EB5;
    width: 13px;
    position: absolute;
    top: 26px;
    right: 0;
    font-weight: normal;
}

.accordian-card .accordian-body {
    padding: 0 0 15px;
    display: none;
}

.accordian-card .accordian-body p {
    color: #606060;
}

.accordian-card.active {
    background: #d7df23;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
}

.accordian-card.active .accordian-title {
    border-top: none;
}

.accordian-card.active .accordian-title:after {
    content: "";
}

.accordian-card.active .accordian-body {
    display: block;
}

.accordian-card.hidecard {
    display: none;
}

.accordian-card:first-child .accordian-title:before {
    display: none;
}

.heading-with-view .btn-view-all {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.btn-view-all span {
    margin-left: 7px;
    font-size: 10px;
}

.btn-view-all [class^=icon-] {
    transition: all 0.3s;
}

@media (max-width: 991px) {
    .popular-faq-box {
        padding: 45px 0 30px;
    }
    .popular-faq-box.amc-listing-faq .heading-with-view .btn-view-all {
        bottom: auto;
        top: 12px;
    }
    .popular-faq-box.amc-listing-faq .heading-with-view {
        padding-right: 90px;
    }
}

@media (max-width: 767px) {
    .accordian-card .accordian-title {
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 7px;
    }
    .accordian-card .accordian-title:after {
        top: 29px;
    }
    .accordian-card .accordian-body {
        padding-bottom: 7px;
    }
    .accordian-card .accordian-body p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 991px) {
    .heading-with-view .btn-view-all {
        bottom: auto;
        top: 12px;
    }
}

/*# sourceMappingURL=style.css.map */