<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.steps-to-start'}"></sly>
</sly>
<!-- steps to invest -->
<section class="why-monefy-box ${properties.selectSection == 'smallcase' ? 'steps-to-invest pd-b-0':'why-moneyfy-category nps-steps-wrap'}">
    <div class="container">
        <div class="text-center heading-left-md">
            <h6 class="text-blue  ${properties.selectSection == 'smallcase' ? 'mg-b10i' : 'sub-head'}">${properties.title}</h6>
            <h2 data-nps-heading="${properties.heading}">${properties.heading}</h2>
        </div>
        <div class="list-why-monefy ${properties.selectSection == 'smallcase' ?'four-steps':''}">
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'multi'}">
                    <sly data-sly-list.whyMoneyfylist="${listItem.children}">
                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
                                    <img src="${whyMoneyfylist.npsImg}" alt="" />
                                </div>
                                <h5>${whyMoneyfylist.imageHead}</h5>
                                ${whyMoneyfylist.imageDescription @ context='html'}
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
        <div data-sly-test="${properties.selectSection == 'nps'}" class="btn-wrap text-center">
            <sly data-sly-test="${properties.popoverDescription}">
                <a href="javascript:void(0);" data-sly-test="${properties.npsButtonText}" class="btn-blue radius100 jsOpenModal" data-popovermodal="popover-modal"
                    data-target="#openAccount-modal">${properties.npsButtonText}</a>
            </sly>
            <sly data-sly-test="${!properties.popoverDescription}">
                <a href="${properties.npsButtonLink}" data-sly-test="${properties.npsButtonText}" target="${properties.npsButtonTarget ? '_blank':''}"
                    class="btn-blue radius100">${properties.npsButtonText}</a>
            </sly>
            <sly data-sly-test="${properties.popoverDescription}">
                <p class="have-account-text" data-sly-test="${properties.alreadyAccountText}"><span>${properties.alreadyAccountText}</span> <a href="javascript:void(0);"
                        class="text-blue jsOpenModal" data-popovermodal="popover-modal"
                        data-target="#contribute-modal">${properties.contributeNowTxt}<i
                            class="icon-arrow-right"></i></a>
                </p>
            </sly>
            <sly data-sly-test="${!properties.popoverDescription}">
                <p class="have-account-text"> <a href="${properties.contributeNowLink}" target="${properties.contributeNowTarget ? '_blank':''}" class="text-blue">${properties.contributeNowTxt}<i
                            class="icon-arrow-right"></i></a></p>
            </sly>
        </div>
        <div data-sly-test="${properties.selectSection == 'smallcase'}" class="having-info-buttons">
            <div class="btn-wrap">
                <sly data-sly-test="${properties.npsButtonText}">
                    <a href="${properties.npsButtonLink}" target="${properties.npsButtonTarget ? '_blank':''}" data-smallcase-action="${properties.loginCheck ? 'smallcasepopup' : ''}"
                    data-adobe-action-nps="npslanding"  class="btn-blue radius100">${properties.npsButtonText}</a>
                </sly>
                <sly data-sly-test="${properties.npsButtonTwoText}">
                    <a href="${properties.npsButtonTwoLink}" target="${properties.npsButtonTwoTarget ? '_blank':''}"
                        class="btn-blue btn-blue-outline radius100">${properties.npsButtonTwoText}</a>
                </sly>
            </div>
            <p data-sly-test="${properties.alreadyAccountText}" class="have-account-text"><span>${properties.alreadyAccountText}</span> <a href="javascript:void(0);" class="text-blue">${properties.contributeNowTxt} <i class="icon-arrow-right"></i></a></p>
        </div>
    </div>
</section>
<!-- steps to invest -->

<!-- start open account modal -->
<div data-sly-test="${properties.popoverDescription}" class="popover-modal fade contribute-modal"
    id="openAccount-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        ${properties.popoverDescription @context='html'}

                        <a href="${properties.proceedButtonLink}" target="${properties.newTabProceed}"
                            class="btn-blue radius100" data-adobe-analytics="proceed">${properties.buttonTitleProceed}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end open account modal -->

<!-- start contribute modal -->
<div data-sly-test="${properties.contributeHead}" class="popover-modal fade contribute-modal" id="contribute-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="contribute-box js-contributeBox">
                        <h4 class="text-center">${properties.contributeHead}</h4>
                        <div class="contribute-items-wrap">
                            <sly data-sly-list.listItem="${resource.children}">
                                <sly data-sly-test="${listItem.name == 'multifield'}">
                                    <sly data-sly-list.contributelist="${listItem.children}">
                                        <div class="contribute-item">
                                            <img src="${contributelist.contributePopoverImage}" alt="">
                                            ${contributelist.contributionDescription @ context='html'}
                                            <a href="javascript:void(0)" data-adobe-analytics="contributemodal"
                                                class="btn-view-all jsOpenModal " data-dis="dismiss" data-popovermodal="popover-modal"
                                                data-target="#${contributelist.pranLink}">${contributelist.pranHeading}
                                                <span class="icon-arrow-right"></span></a>
                                        </div>
                                    </sly>
                                </sly>
                            </sly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contribute modal -->
<!--  kfintech  modal -->
<div class="popover-modal fade contribute-modal"
    id="kfintech2-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        <p>I hereby acknowledge and agree that Tata Securities Limited (TSL) is registered with PFRDA as Point of Presence - Sub Entity (POP-SE) and my subscription to NPS is subject to the specific terms and conditions laid down by PFRDA and/or by the POP. I acknowledge that third-party links on TSL’s platform may direct me to third- party sites or pages or applications that are not affiliated with TSL. TSL is not responsible for examining or evaluating the content or accuracy of such sites or pages or applications, and does not warrant and will not have any liability or responsibility for any such sites or pages or applications, or for any other data, information, products or services of any third-parties. <b>By proceeding, I am acknowledging the above & accepting the Terms and Conditions as specified <a target="_blank" href="/content/dam/tata-capital/moneyfy/pdf/TERMS AND CONDITIONS- NPS.pdf" class="text-blue">here.</a> </b></p>
                        <a target="_blank" href="https://mynps.nsdl.com/myNPS/InitialExistingUser.html?appType=main&authId=WEFQdDVKMngzUC8vZXNoUkpjZkx1Zz09"
                            class="btn-blue radius100" data-adobe-analytics="proceed">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- kfintech account modal -->
<!-- kfintech account modal -->
<div class="popover-modal fade contribute-modal"
    id="kfintech-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        <p>I hereby acknowledge and agree that Tata Securities Limited (TSL) is registered with PFRDA as Point of Presence - Sub Entity (POP-SE) and my subscription to NPS is subject to the specific terms and conditions laid down by PFRDA and/or by the POP. I acknowledge that third-party links on TSL’s platform may direct me to third- party sites or pages or applications that are not affiliated with TSL. TSL is not responsible for examining or evaluating the content or accuracy of such sites or pages or applications, and does not warrant and will not have any liability or responsibility for any such sites or pages or applications, or for any other data, information, products or services of any third-parties.</b> By proceeding, I am acknowledging the above & accepting the Terms and Conditions as specified <a target="_blank" href="/content/dam/tata-capital/moneyfy/pdf/TERMS AND CONDITIONS- NPS.pdf" class="text-blue">here.</a> </b></p>
                        <a target="_blank" href="https://cra.kfintech.com/poponline/POPContributeOnline?AuthID=B980B5E2AAC8849FDDFA509C519D7B5EF69B7EFA3CB8EA7275F8ACE8F56310B5"
                            class="btn-blue radius100" data-adobe-analytics="proceed">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  account modal -->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.steps-to-start'}"></sly>
</sly>