<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.check-credit-box'}" />
</sly>

<!-- Credit box 11-2-2022-->
<section class="checkcredit-box">
    <div class="container">
        <div class="checkcredit-inner">
            <div class="checkcredit-right" data-aos="fade-left">
                <img src="${properties.image}" alt="" class="" />
            </div>
            <div class="checkcredit-left" data-checkleft="checkLeft">
                <div class="checkcredit-left-inner">
                    <h2>${properties.heading @ context='html'}</h2>
                    <div class="checkcredit-left-texts">
                        ${properties.description @ context='html'}
                    </div>
                    <sly data-sly-test="${properties.buttonText}">
                        <a href="${properties.buttonLink}" target="${properties.tab ? '_blank' : ''}">
                            <button type="button"
                                class="btn-blue btn-yellow radius100 btn-shadow">${properties.buttonText @
                                context='html'}</button>
                        </a>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Credit box 11-2-2022-->
<!-- start check credit modal -->
<!-- <div data-sly-test="${properties.popoverDescription}" class="popover-modal fade contribute-modal"
    id="checkCredit-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close js-contributeModalClose"><i
                        class="icon-close"></i></button>
                <div class="modal-body-inner3">
                    <div class="terms-text text-center js-termsBox">
                        ${properties.popoverDescription @context='html'}

                        <a href="${properties.proceedButtonLink}" target="${properties.newTabProceed}"
                            class="btn-blue radius100">${properties.buttonTitleProceed}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end check credit modal -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.check-credit-box'}" />
</sly>