.credit-card-description {
  background-color: #66CC99;
  padding: 70px 0 80px;
  overflow: hidden;
}
.credit-card-description h2 {
  color: #fff;
  margin-bottom: 15px;
}
.credit-card-description p {
  color: #fff;
  margin-bottom: 20px;
}
.credit-card-description li {
  color: #fff;
}
.credit-card-description li::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.card-description-inner {
  display: flex;
  flex-wrap: wrap;
}
.card-description-inner .left-col {
  width: 55%;
  padding-right: 75px;
}
.card-description-inner .right-col {
  min-width: unset;
  width: 45%;
  background-color: transparent;
}
.card-description-inner .btn-wrap {
  display: flex;
}
.card-description-inner .btn-wrap .apply-now-btn {
  min-width: 150px;
  margin-right: 20px;
  border-color: #fff;
  background-color: #fff;
}
.card-description-inner .btn-wrap .apply-now-btn:hover, .card-description-inner .btn-wrap .apply-now-btn:focus {
  background-color: transparent;
}
.card-description-inner .btn-wrap .know-more-btn {
  min-width: 150px;
  border: 1px solid #fff;
  color: #fff;
}
.card-description-inner .btn-wrap .know-more-btn:hover, .card-description-inner .btn-wrap .know-more-btn:focus {
  background-color: #fff;
  color: #2C6EB5;
}
.card-description-inner .img-wrap {
  position: relative;
  padding-top: 25px;
}
.card-description-inner .img-wrap img {
  width: 100%;
}
.card-description-inner .img-reflection {
  position: absolute;
  bottom: 0;
  transform: translateY(100%) scaleY(-1);
  opacity: 0.1;
}

@media (max-width: 991px) {
  .credit-card-description {
    padding: 40px 0 50px;
    background-image: url('/content/dam/tata-capital-moneyfy/mutual-funds/video-bg-left-mob.png'), url('/content/dam/tata-capital-moneyfy/mutual-funds/video-bg-right-mob.png');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .card-description-inner h2 {
    margin-bottom: 30px;
  }
  .card-description-inner li {
    width: 50%;
  }
  .card-description-inner .left-col {
    padding-right: 20px;
    width: 100%;
  }
  .card-description-inner .left-col img {
    max-width: 310px;
    margin-bottom: 35px;
    width: 100%;
  }
  .card-description-inner .btn-wrap .btn-blue {
    min-width: 135px;
  }
  .card-description-inner .btn-wrap .apply-now-btn {
    margin-right: 35px;
  }
}
@media (max-width: 767px) {
  .card-description-inner p {
    font-size: 12px;
    line-height: 18px;
  }
  .card-description-inner li {
    font-size: 12px;
    line-height: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
