.who-we-are-box {
  padding: 70px 0 65px;
  text-align: center;
}
.who-we-are-box h2 {
  margin-bottom: 10px;
}
.who-we-are-box h4 {
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .who-we-are-box {
    padding: 45px 0;
    text-align: left;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 29px;
}
  .who-we-are-box h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  .who-we-are-box p {
    font-size: 14px;
    line-height: 22px;
    color: #606060;
  }
}