.compare-btn-choose .dropdown-list-menu {
    padding: 10px;
}

.compare-btn-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #606060;
    padding-right: 40px;
    cursor: auto;
}

.compare-btn-choose .dropdown-list-menu a {
    display: flex;
    align-items: center;
    padding: 7px 13px 7px 30px;
    position: relative;
}

.compare-btn-selected a:before {
    display: none;
}

.compare-btn-choose .dropdown-list-menu a .icon {
    font-size: 16px;
    position: absolute;
    left: 7px;
    color: #2C6EB5;
}

.compare-btn-selected .remove-compare {
    font-size: 7px;
    display: block;
    color: #2C6EB5;
    font-weight: 700;
}
.compare-btn-selected a {
    padding: 0;
    position: absolute;
    top: 9px;
    right: 13px;
}

.compare-box-section {
  padding: 15px 0 10px;
  margin-bottom: 55px;
}

.compare-box-inner {
  display: flex;
}

.compare-item-wrap {
  width: calc(100%/3);
  padding: 0 40px;
  position: relative;
}
.compare-item-wrap:not(:last-child):after {
  content: "";
  width: 1px;
  height: 36px;
  border-right: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}

.invest-explore-wrap {
  text-align: center;
  margin-top: 10px;
}
.invest-explore-wrap .btn {
  padding: 11px 25px;
  color: #2C6EB5;
  margin-right: 33px;
}
.invest-explore-wrap .btn-view-all {
  color: #D7DF23;
}

.compare-chart-box {
  height: 350px;
}
.compare-chart-box .highcharts-halo {
  display: none;
}
.compare-chart-box .custom-tooltip .dot {
  width: 6px;
  height: 6px;
  margin-right: 8px;
  border-radius: 50%;
}
.compare-chart-box .custom-tooltip .tooltip-label {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 22px;
  margin-top: 5px;
}
.compare-chart-box .custom-tooltip .tooltip-result {
  text-align: left;
  margin-left: 15px;
  display: flex;
  align-items: flex-end;
}
.compare-chart-box .custom-tooltip .tooltip-result span {
  font-size: 7px;
  margin-right: 6px;
  color: #FF6464;
  line-height: 21px;
  transform: rotate(180deg);
}
.compare-chart-box .custom-tooltip .tooltip-item:last-child .tooltip-result span {
  color: #1FC750;
  transform: rotate(0deg);
}

.compare-graph-card .return-item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.compare-graph-card .return-item-wrap a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  margin: 35px 15px 20px;
}
.compare-graph-card .return-item-wrap a.active {
  background-color: #D7DF23;
  border-radius: 80px;
  display: inline-block;
  padding: 6px 16px;
}

.compare-card-wrap .card-div {
  margin-bottom: 25px;
}
.compare-card-wrap .card-div:last-child {
  margin-bottom: 75px;
}

.custom-accordion .card-head {
  padding: 25px 30px 20px;
}
.custom-accordion .card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  position: relative;
  cursor: pointer;
}
.custom-accordion .card-title a {
  color: inherit;
  text-decoration: none;
}
.custom-accordion .card-title:before {
  content: "";
  font-family: "icomoon";
  display: block;
  font-size: 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #2C6EB5;
  transition: all 0.3s;
}
.custom-accordion.active .card-title:before {
  transform: translateY(-50%) rotate(180deg);
}

.compare-feature-row {
  display: flex;
}

.compare-feature {
  width: calc(100%/3);
}
.compare-feature .feature-item {
  padding: 30px 45px;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  border-right: 4px solid #fff;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.compare-feature .feature-item:last-child {
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}
.compare-feature .feature-item p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}
.compare-feature:last-child .feature-item {
  border-right: 0;
}
.compare-feature.hide-data {
  background-color: #fff;
}
.compare-feature.hide-data .feature-item * {
  display: none;
}
.compare-feature .rate-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.compare-feature .rate-wrap p {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #FFBD00;
  width: 30px;
  height: 30px;
  border: 1px solid #CCD8EE;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compare-feature .rate-wrap p .icon {
  font-size: 10px;
  line-height: 19px;
  margin-left: 2px;
}
.compare-feature .invest-explore-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.compare-feature .invest-explore-box .btn {
  padding: 11px 25px;
  margin-right: 15px;
}

.feature-1 {
  background-color: rgba(10, 105, 165, 0.05);
}

.feature-2 {
  background-color: rgba(102, 204, 153, 0.05);
}

.feature-3 {
  background-color: rgba(204, 102, 204, 0.05);
}

.page-head {
  margin: 10px 0 30px;
}
.page-head .head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.page-head .contact-view-wrap {
  display: flex;
  align-items: center;
}
.page-head .contact-view-wrap p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
}
.page-head .contact-view-wrap .contact-us-link {
  margin: 0 25px 0 10px;
}

.compare-btn-choose .dropdown-card {
  width: 100%;
}

.compare-btn-selected .text-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.compare-btn-choose .dropdown-list-menu a {
    padding-left: 26px;
}

.compare-btn-choose .dropdown-list-menu a {
    display: flex;
    align-items: center;
    padding: 7px 13px 7px 30px;
    position: relative;
}

@media (max-width: 991px){
.compare-btn-choose .dropdown-list-menu a .icon {
    font-size: 9px;
}
}

.custom-tooltip {
  color: #fff;
}
.custom-tooltip span {
  display: block;
  text-align: center;
}
.custom-tooltip .tooltip-label {
  font-size: 12px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.custom-tooltip .tooltip-result {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.highcharts-xaxis-labels text {
  display: none;
  font-size: 12px !important;
}
.highcharts-xaxis-labels text:first-child {
  display: block;
}
.highcharts-xaxis-labels text:last-child {
  display: block;
}    

@media (max-width: 1199px) {
  .compare-item-wrap {
    padding: 0 20px;
  }

  .invest-explore-wrap .btn {
    margin-right: 15px;
  }

  .compare-feature .feature-item {
    padding: 30px 26px;
  }

  .custom-accordion .card-head {
    padding: 25px 25px 20px;
  }

  .page-head .head-wrap h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .page-head .contact-view-wrap .contact-us-link {
    margin: 0 15px 0 7px;
  }
}
@media (max-width: 991px) {
  .compare-box-section {
    margin-bottom: 30px;
  }

  .invest-explore-wrap {
    margin-top: 15px;
  }
  .invest-explore-wrap .btn {
    margin-right: 0;
    padding: 6px 25px;
    margin-bottom: 5px;
  }

  .compare-card-wrap .card-div {
    margin-bottom: 20px;
  }
  .compare-card-wrap .card-div:last-child {
    margin-bottom: 50px;
  }

  .compare-feature .feature-item p {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 4px;
  }
  .compare-feature .feature-item h6 {
    font-size: 14px;
    line-height: 21px;
  }
  .compare-feature .invest-explore-box {
    justify-content: center;
  }
  .compare-feature .invest-explore-box .btn {
    padding: 7px 17px;
    font-size: 11px;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .compare-feature .invest-explore-box .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }

  .page-head .head-wrap h1 {
    margin-bottom: 10px;
  }

  .compare-item-wrap {
    padding: 0 10px;
  }
  .compare-item-wrap .compare-btn-choose .dropdown-button a {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .compare-box-section {
    margin-bottom: 20px;
  }

  .compare-box-inner {
    margin: 0 -10px;
  }

  .compare-item-wrap {
    min-width: auto;
    padding: 0 10px;
    width: 50%;
  }
  .compare-item-wrap:not(:first-child):after {
    display: none;
  }
  .compare-item-wrap .dropdown-card {
    min-width: auto;
  }
  .compare-item-wrap .dropdown-button a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .compare-item-wrap .dropdown-list-menu a .icon {
    top: 13px;
  }
  .compare-item-wrap .close-filter {
    font-size: 11px;
    color: #005899;
    display: block;
    position: absolute;
    top: 5px;
    left: 12px;
    z-index: 9;
  }

  .compare-graph-card .return-item-wrap a {
    font-size: 10px;
    line-height: 15px;
    margin: 30px 10px 10px;
  }
  .compare-graph-card .return-item-wrap a.active {
    padding: 6px 15px;
  }

  .custom-accordion .card-head {
    padding: 20px 19px 17px;
  }

  .compare-feature-row.h75 .feature-item {
    height: 75px;
  }
  .compare-feature-row.h80 .feature-item {
    height: 80px;
  }

  .compare-feature {
    min-width: auto;
    width: 50%;
  }
  .compare-feature.feature-3 {
    display: none;
  }
  .compare-feature .feature-item {
    padding: 15px 15px;
    height: 61px;
    border-right-width: 2px;
  }
  .compare-feature .feature-item.h85 {
    height: 85px;
  }
  .compare-feature .feature-item.h105 {
    height: 105px;
  }
  .compare-feature .feature-item:last-child {
    border-bottom: 0px;
  }
  .compare-feature .rate-wrap h6 {
    width: 100%;
    margin-bottom: 5px;
  }

  .page-head {
    margin-bottom: 25px;
  }
  .page-head .head-wrap {
    justify-content: center;
  }
  .page-head .head-wrap h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .page-head .contact-view-wrap p {
    display: none;
  }
  .page-head .contact-view-wrap .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .compare-fund-container {
    padding: 0;
  }
  .compare-fund-container .card-div {
    border-radius: 0;
  }
}


/*# sourceMappingURL=style.css.map */