<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.goal-protect-precious-box'}" />
</sly>

<!-- goal-base box -->
<section class="goal-base-box protect-precious-box" data-sly-test="${properties.heading}">
    <div class="container">
        <h2>${properties.heading}</h2>
        ${properties.description @context='html'}
        <ul class="list-goal-base">
            <sly data-sly-list.data="${resource.children}">
                <sly data-sly-test="${data.name == 'goalList'}">
                    <sly data-sly-list.goalListItems="${data.children}">

                        <li>
                            <a class="card-div list-goal" href="${goalListItems.redirectLink}" target="${goalListItems.newTab ? '_blank' : ''}" data-adobeAnalytics="goalprotectbox" data-goal-list-name="${goalListItems.typeName}">
                                <div class="list-goal-img">
                                    <img src="${goalListItems.image}"
                                        alt="" class="goal-img">
                                    <img src="${goalListItems.hoverImage}"
                                        alt="" class="goal-img-hover"></div>
                                <h5>${goalListItems.typeName}</h5>
                            </a>
                        </li>

                    </sly>
                </sly>
            </sly>

        </ul>

    </div>
</section>
<!-- goal-base box -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.goal-protect-precious-box'}" />
</sly>