<!-- Fund Review -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-quick-review'}" />
</sly>    

<sly data-sly-use.fundMasterModel="${'com.tatacapital.moneyfy.core.models.FundDetailModel' @ amcMasterContactInfo=currentPage.getParent.getContentResource.amcMasterContactInfo}" />
<sly data-sly-test.cagr="${fundMasterModel.getCagrValues}"/>
<sly data-sly-test.navAmt="${fundMasterModel.getNav}"/>
<sly data-sly-test.oneMonthGreaterThanZero="${fundMasterModel.isOneYearGreaterThanZero}"></sly>

<!-- quick review -->
      <section class="quick-review-wrap js-floating" data-schemename="${pageProperties.pageTitle}" data-schemeId="${fundMasterModel.schemeDetails.id}" data-minsipamount="${pageProperties.minSipAmt == '' ? 0 : pageProperties.minSipAmt}"
      data-minlumsumamount="${pageProperties.minLumpsumAmt == '' ? 0 : pageProperties.minLumpsumAmt}" >
        <div class="container">
          <div class="quick-review-inner">
            <div class="review-item">
              <div class="company-info-tags-wrap">
                <div class="company-info">
                  <div class="img-wrap">	
                    <img src="${currentPage.getParent.getContentResource.iconPath}" alt="" />
                  </div>
                  <div class="name-wrap">
                    <!-- <h4>${pageProperties.pageTitle}</h4> -->    
                    <h1 class="h1-seo">${pageProperties.pageTitle}</h1>    
                  </div>
                  <a href="javascript:void(0);" class="icon-wrap js-addWatchlisttop" data-fundReviewAddToWatchList="true">
                    <span class="icon-binocular icon"></span>
                  </a>
                  <!-- 26-9-2022 desktop-->
                  <div class="quick-review-focus deskshow">
                    <p>Fund Category: <a href="${fundMasterModel.getSubCatNameWithPath.pagePath}">${fundMasterModel.getSubCatNameWithPath.subCatName}</a></p>
                  </div>
                  <!-- 26-9-2022 desktop-->
                </div>
                <!-- 26-9-2022 tab mobile-->
                <div class="quick-review-focus tabshow">
                  <p>Fund Category <a href="${fundMasterModel.getSubCatNameWithPath.pagePath}">${fundMasterModel.getSubCatNameWithPath.subCatName}</a></p>
                </div>
                <!-- 26-9-2022 tab mobile-->
                <div class="tag-rating-info">
                  <div class="tag-wrap">
                    <span class="tag-item blue-tag" data-detailrisktype=${fundMasterModel.schemeDetails.riskType}>${fundMasterModel.schemeDetails.riskType == '' ? '-' : fundMasterModel.schemeDetails.riskType}</span>
                    <span class="tag-item violent-tag" data-detailcatname=${fundMasterModel.schemeDetails.catName}>${fundMasterModel.schemeDetails.catName == '' ? '-' : fundMasterModel.schemeDetails.catName}</span>
                    <span class="tag-item green-tag">${fundMasterModel.schemeDetails.optName == '' ? '-' : fundMasterModel.schemeDetails.optName}</span>
                  </div>
                  <div class="rating-wrap">
                    <p>
                        <span class="rate">${fundMasterModel.ratings.morningStar == '' ? '-' : fundMasterModel.ratings.morningStar} <span class="icon-star"></span></span>
                      Morning Star
                    </p>
                    <p>
                        <span class="rate">${fundMasterModel.ratings.valueResearch == '' ? '-' : fundMasterModel.ratings.valueResearch} <span class="icon-star"></span
                      ></span>
                      Value Research
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="review-item">
              <div class="price-info">
                <p>NAV( ${pageProperties.updatedDate })</p>
                <h6>₹ ${pageProperties.nav == "" || pageProperties.nav == "null" ? "-" : navAmt}</h6>
                
              </div>
            </div>
            <div class="review-item d-none d-lg-block">
              <div class="return-info">
                <div class="form-select2">
                  <select class="single-select2 returnsVal" data-placeholder="-- Select --">
                      <option value="${cagr['1m']}">1M Returns</option>
                      <option value="${cagr['1y']}">1Y Returns</option>
                      <option value="${cagr['3y']}">3Y Returns</option>                     
                  </select>
                </div>

                <sly data-sly-test="${oneMonthGreaterThanZero}">
                  <h6 class="trend-info ${cagr['1m'] != '-' ? 'up-trend' : ''}" data-rate="rate">
                    <span class="${cagr['1m'] == '-' ? '' : 'icon-caret-top'}"></span> ${cagr['1m']}%
                  </h6>
                </sly>

                <sly data-sly-test="${!oneMonthGreaterThanZero}">
                  <h6 class="trend-info ${cagr['1m'] != '-' ? 'down-trend' : ''}" data-rate="rate">
                    <span class="${cagr['1m'] == '-' ? '' : 'icon-caret-down'}"></span> ${cagr['1m']}%
                  </h6>
                </sly>

              </div>
            </div>
            <div class="review-item">
              <div class="compare-fund-wrap">
                <a href="javascript:void(0);" class="btn-blue radius100 d-lg-none js-investNowBtn">Invest now</a>
                <a href="javascript:void(0);" id="js-addCompare">Compare Funds <span class="icon-arrow-right"></span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- quick review -->
      <!-- mob quick review fix -->
      <section class="fix-container quick-review-fix js-fixContainer">
        <div class="quick-review-mob d-lg-none js-fixOnTop">
          <div class="container"> 
            <div class="quick-review-mob-inner">
              <div class="company-info">
                <div class="img-wrap">
                  <img src="${currentPage.getParent.getContentResource.iconPath}" alt="" />
                </div>
                <div class="name-wrap">
                  <h4>${pageProperties.pageTitle}</h4>
                </div>
              </div>
              <a href="javascript:void(0);" class="btn-view-all js-investNowBtn">Invest now <span class="icon-arrow-right"></span></a>
            </div>
          </div>
        </div>
      </section>
      <!-- mob quick review fix -->

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-quick-review'}" />
</sly>