<!-- blog-video-box-->
<section class="blog-video-box js-compareActive">
    <div class="container">
        <div class="blog-video-row">
            <div class="blogs-left" data-sly-test="${properties.blog}">

                <div class="heading-with-view">
                    <h2 data-blog-heading="${properties.blog}">${properties.blog}</h2>
                    <a data-sly-test="${properties.blogsViewAll}" href="${properties.allLink}" class="btn-view-all" target="${properties.blogsCheck ? '_blank' : ''}" data-id-co="blogBtn" style="bottom: 0;">${properties.blogsViewAll} <span
                            class="icon-arrow-right"></span></a>
                </div>

                <div class="blog-video-slider slider-dots slider-arrows flex-slider jsBlogSlider">
                    <sly data-sly-list.data="${resource.children}">
                        <sly data-sly-test="${data.name == 'blogsList'}">
                            <sly data-sly-list.blogsItems="${data.children}">

                                <div class="blog-slider-col">
                                    <div class="blog-sliders">
                                        <div class="blog-img">
                                            <img src="${blogsItems.blogImg}" alt="" />
                                        </div>
                                        <div class="blog-content">
                                            <h6>${blogsItems.blogTitle}</h6>
                                            ${blogsItems.blogDiscription @ context='html'}
                                        </div>
                                        <div class="btn-viewalls">
                                            <a href="${blogsItems.blogLink}" class="btn-view-all" target="${blogsItems.blogCheck ? '_blank' : ''}" data-id="blogRedirect">${blogsItems.blogViewAll} <span
                                                    class="icon-arrow-right" ></span></a>
                                        </div>
                                    </div>
                                </div>

                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
            
            <div class="videos-right" data-sly-test="${properties.videos}">
                <div class="heading-with-view">
                    <h2 data-video-heading="${properties.videos}">${properties.videos}</h2>
                    <a data-sly-test="${properties.videoViewAll}" href="${properties.videoLink}" class="btn-view-all" target="${properties.videosCheck ? '_blank' : ''}" data-id-co="videoBtnBtn" style="bottom:0">${properties.videoViewAll} <span
                            class="icon-arrow-right"></span></a>
                </div>
                <div class="blog-video-slider slider-dots slider-arrows flex-slider jsVideoSlider">
                    <sly data-sly-list.data="${resource.children}">
                        <sly data-sly-test="${data.name == 'videosList'}">
                            <sly data-sly-list.videoItems="${data.children}">

                                <div class="blog-slider-col" data-video-link="${videoItems.videoRedirection}" data-video-des="${videoItems.videoDescription @ context='html'}">
                                    <div class="blog-sliders">
                                        <div class="blog-img">
                                            <img src="${videoItems.videoImg}"
                                                alt="" />
                                            <div class="video-overlay">
                                                <span class="video-time">${videoItems.videoDuration}min</span>
                                                <a href="javascript:void(0)" class="play-btn" data-id="videoRedirect">
                                                    <img src="${videoItems.playBtn}"
                                                        alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-content">
                                            <a href="javascript:void(0)" class="icon-share share-link d-block d-md-none"
                                                data-popovermodal="popover-modal"data-target="#share-modal"></a>
                                            <h6>${videoItems.videoTitle}</h6>
                                            ${videoItems.videoDescription @ context='html'}
                                        </div>
                                        <div class="btn-viewalls">
                                            <div class="bottom-infos">
                                                <div class="bottom-info-text">
                                                    ${videoItems.videoInfo @ context='html'}
                                                </div>
                                                <a href="javascript:void(0)"
                                                    class="icon-share share-link d-none d-md-block"
                                                    data-popovermodal="popover-modal" data-target="#share-modal" data-id="videoRedirect"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </sly>
                        </sly>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-video-box -->

<!-- start share modal -->
    <div class="popover-modal fade" id="share-modal">
      <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
          <div class="popover-modal-body">            
            <button data-dismiss="popover-modal" class="popover-modal-close"><i class="icon-close"></i></button>
            <div class="modal-body-inner2">
              <div class="share-with-box">
                  <h4>Share with</h4>
                  <ul class="list-shares">
                    <li>
                      <a href="javascript:void(0)" data-shareicon="facebook"><span class="icon-facebook"></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"data-shareicon="twitter" ><span class="icon-twitter"></span></a>
                    </li>
                    <!-- <li>
                      <a href="javascript:void(0)" data-shareicon="youtube"><span class="icon-youtube"></span></a>
                    </li> -->
                  </ul>
                  <div class="or-text">
                    <span class="or-inner">
                      <span class="or">or</span>
                    </span>                    
                  </div>
                  <h6>Page link</h6>
                  <div class="copy-links">
                    <input type="text" class="text-input-link">
                    <!-- <a href="javascript:void(0)" data-copybtn="copyBtn">Copy link</a> -->
                    <div class="copy-link-outer">
                        <a href="javascript:void(0)" class="jsTooltopLink" data-copybtn="copyBtn">Copy link</a>
                        <div class="tooltip-box">
                          <div class="tooltip-inner">                        
                            <img src="/content/dam/tata-capital-moneyfy/home-page/tooltip-tick.svg" alt="">
                            <p>Link Copied to Clipboard</p>
                          </div>                      
                        </div>
                      </div>
                  </div>
              </div>  
            </div>            
          </div>
        </div>
      </div>
    </div>
    <!-- end share modal -->
