.live-webinar-box {
  padding: 40px 0;
}

.live-webinar-box h1 {
  margin-bottom: 34px;
}

.live-webinar-box .play-video-boxs .play-video-right {
  padding-left: 40px;
}

.live-webinar-box .play-video-boxs .play-video-right .bottom-infos {
  margin-top: 40px;
}

.live-webinar-inner {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
}

.webinars-with-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*17-4-2023*/
.upcoming-webinar-box {
  padding-top: 40px;
}

.upcoming-webinar-box h1 {
  margin-bottom: 34px;
}

.upcoming-webinar-box .upcoming-webinar-row {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 50px 55px;
  margin-bottom: 39px;
}

.upcoming-webinar-box .webinar-flex {
  display: flex;
  flex-wrap: wrap;
}

.upcoming-webinar-box .upcoming-webinar-left {
  width: calc(100% - 498px);
  padding: 5px 0;
}

.upcoming-webinar-box .upcoming-webinar-left .up-webinar-inner {
  display: none;
}

.upcoming-webinar-box .upcoming-webinar-right {
  width: 498px;
}

.upcoming-webinar-box .upcoming-webinar-img {
  position: relative;
}

.upcoming-webinar-box .upcoming-webinar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.upcoming-webinar-box .upcoming-webinar-img .video-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(178.02deg, #000000 -51.24%, rgba(0, 0, 0, 0) 127.02%);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.upcoming-webinar-box .upcoming-webinar-img .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upcoming-webinar-box .upcoming-webinar-img .play-btn img {
  width: 40px;
  height: 40px;
}

.upcoming-webinar-box .webinar-inn {
  padding-right: 50px;
}

.upcoming-webinar-box .webinar-inn h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
}

.upcoming-webinar-box .webinar-inn h5 {
  margin-bottom: 2px;
}

.upcoming-webinar-box .webinar-inn p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  margin-bottom: 20px;
}

.upcoming-webinar-box .up-webinar-inner {
  background-color: #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
  padding: 22px 40px;
}

.upcoming-webinar-box .up-webinar-inner h5 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 17px;
}

.upcoming-webinar-box .up-webinar-inner p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

/*17-4-2023*/
@media (max-width: 1199px) {
  .upcoming-webinar-box .upcoming-webinar-row {
    padding: 25px;
  }

  .upcoming-webinar-box .upcoming-webinar-left {
    width: 50%;
  }

  .upcoming-webinar-box .upcoming-webinar-right {
    width: 50%;
  }

  .upcoming-webinar-box .webinar-inn {
    padding-right: 25px;
  }

  .upcoming-webinar-box .up-webinar-inner {
    padding: 22px;
  }
}

@media (max-width: 991px) {
  .live-webinar-box {
    padding: 20px 0;
  }

  .live-webinar-box .play-video-boxs .play-video-right {
    padding-left: 20px;
  }

  .upcoming-webinar-box {
    padding-top: 30px;
  }

  .upcoming-webinar-box .upcoming-webinar-row {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .live-webinar-box {
    padding-bottom: 10px;
  }

  .live-webinar-box h1 {
    margin-bottom: 20px;
  }

  .live-webinar-box .play-video-boxs .play-video-right .bottom-infos {
    margin-top: 25px;
  }

  .webinars-with-sort {
    display: block;
    margin-bottom: 10px;
  }

  .webinars-with-sort .heading-view {
    margin-bottom: 25px;
  }

  /*17-4-2023*/
  .upcoming-webinar-box {
    padding-bottom: 30px;
  }

  .upcoming-webinar-box h1 {
    margin-bottom: 5px;
  }

  .upcoming-webinar-box .mob-sliders {
    padding: 25px 0 30px;
  }

  .upcoming-webinar-box .upcoming-webinar-img {
    margin: 16px 0;
  }

  .upcoming-webinar-box .upcoming-webinar-row {
    padding: 15px 17px;
    margin: 0px 10px;
    height: 100%;
  }

  .upcoming-webinar-box .upcoming-webinar-left {
    width: 100%;
  }

  .upcoming-webinar-box .upcoming-webinar-left .up-webinar-inner {
    display: block;
  }

  .upcoming-webinar-box .upcoming-webinar-right {
    width: 100%;
    display: none;
  }

  .upcoming-webinar-box .up-webinar-inner {
    padding: 17px 16px;
  }

  .upcoming-webinar-box .webinar-inn {
    padding-right: 0px;
  }

  .upcoming-webinar-box .webinar-inn h5 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 7px;
  }

  .upcoming-webinar-box .webinar-inn p {
    margin-bottom: 7px;
  }

  .upcoming-webinar-box .webinar-inn .up-webinar-inner {
    margin-bottom: 14px;
  }

  .upcoming-webinar-box .webinar-inn .up-webinar-inner h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 13px;
  }

  .upcoming-webinar-box .webinar-inn .up-webinar-inner p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
  }
  .h2-class{
    font-size: 24px !important;
    line-height: 29px !important;
  }
  /*17-4-2023*/
}

/*# sourceMappingURL=style.css.map */


.h2-class{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}