<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.faqs-card'}"></sly>
</sly>

<div class="faq-head-section">
    <div class="container">
        <h2>${properties.heading}</h2>
    </div>
</div>

<!-- blue tab box -->
<section class="blue-tab-box d-none d-lg-block faq-detail-blue-tab js-floating">
    <div class="container">
        <div class="blue-tab-inner">
            <ul class="js-faqSectionList faq-tab-arrow" id="jsFaqDetailTab1">
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'dropdownList'}">
                        <sly data-sly-list.faqsList="${listItem.children}">
                            <sly data-sly-test.faqIDValue="${'{0}_{1}' @ format =[listItem.name,faqsListList.count]}">

                                <li class="${faqsListList.index == 0 ? 'active' : ''}">

                                    <a href="#${faqIDValue}">${faqsList.tabTitleCard}</a>
                                </li>
                            </sly>
                        </sly>
                    </sly>
                </sly>
            </ul>
        </div>
    </div>
</section>
<!-- blue-tab box -->

<!-- Mob blue tab dropdown -->
<div class="js-fixContainer swp-blue-tab">
    <div class="d-block d-lg-none mob-blue-menu">
        <div class="container">
            <div class="custom-dropdown custom-dropdown-new">
                <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);">${properties.tabTitleMobile}</a>
                </div>
                <div class="dropdown-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                        <ul class="dropdown-list-menu mCustomScroll mob-blue-menu-scroll js-faqSectionList">

                            <sly data-sly-list.listItem="${resource.children}">
                                <sly data-sly-test="${listItem.name == 'dropdownList'}">
                                    <sly data-sly-list.faqsList="${listItem.children}">
                                        <sly
                                            data-sly-test.faqIDValue="${'{0}_{1}' @ format =[listItem.name,faqsListList.count]}">

                                            <li class="${faqsListList.index == 0 ? 'active' : ''}">
                                                <a href="#${faqIDValue}">${faqsList.tabTitleCard}</a>
                                            </li>

                                        </sly>
                                    </sly>
                                </sly>
                            </sly>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mob blue tab dropdown -->

<!-- faq category box -->
<section class="faq-card-box">
    <div class="container">
        <sly data-sly-list.listItem="${resource.children}">
            <sly data-sly-test="${listItem.name == 'dropdownList'}">
                <sly data-sly-list.faqsList="${listItem.children}">
                    <sly data-sly-test.faqIDValue="${'{0}_{1}' @ format =[listItem.name,faqsListList.count]}">
                        <div class="faq-card" id="${faqIDValue}">
                            <div class="card-div">
                                <h3>${faqsList.tabTitleCard}</h3>

                                <div class="accordian overflow-hidden" id="${faqIDValue}">
                                    <sly data-sly-list.listItems="${faqsList.children}">
                                        <sly data-sly-test="${listItems.name == 'faqList'}">
                                            <sly data-sly-list.faqItems="${listItems.children}">
                                                <div class="accordian-card ${faqItemsList.index == 0 ? 'active' : ''}">
                                                    <div class="accordian-heading">
                                                        <a class="accordian-title" href="javascript:void(0)"
                                                            data-toggles="collapses"
                                                            data-target="#Collapse${faqItemsList.index}">${faqItems.questions}</a>
                                                    </div>
                                                    <div class="accordian-body collapse"
                                                        id="Collapse${faqItemsList.index}"
                                                        style="display: ${faqItemsList.count == 1 ? 'block' : '' @context='styleToken'}">
                                                        ${faqItems.description @ context='html'}
                                                    </div>
                                                </div>
                                            </sly>
                                        </sly>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </sly>
    </div>
</section>
<!-- faq category box -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientLib.js @ categories='moneyfy.faqs-card'}"></sly>
</sly>