<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.credit-cards'}"></sly>
</sly>

<section class="credit-cards-box">
  <div class="container">
    <div class="max-w875">
      <h2>${properties.creditCardHeading}</h2>
      ${properties.ccDescription @context='html'}
    </div>
    <ul class="logo-lists">
      <sly data-sly-list.logo="${resource.children}">
        <sly data-sly-test="${logo.name == 'companyLogo'}">
          <sly data-sly-list.logoItems="${logo.children}">
            <li>
              <img src="${logoItems.image}" alt="">
            </li>
          </sly>
        </sly>
      </sly>
    </ul>
    <sly data-sly-test="${properties.button}">
      <div class="text-center">
        <a href="${properties.buttonPath}" class="btn-blue radius100">${properties.button}</a>
      </div>
    </sly>
  </div>
</section>