.banner-box.loan-detail-banner {
  padding-bottom: 50px;
  background-image: none;
}
.banner-box.loan-detail-banner .banner-inner {
  padding-bottom: 0;
}
.banner-box.loan-detail-banner .banner-inner.new-banner-inner {
  padding-top: 0;
}
.banner-box.loan-detail-banner .banner-image .banner-caption {
  position: static;
}
.banner-box.loan-detail-banner .banner-image .banner-caption .banner-left {
  width: 630px;
}
.banner-box.loan-detail-banner .banner-image .banner-caption .banner-head {
  margin-bottom: 40px;
}
.banner-box.loan-detail-banner .banner-image .banner-caption .banner-right {
  width: calc(100% - 630px);
}
#term-p{
  font-size: 14px;
  line-height: 22px;
  color: #606060;
  margin-bottom: 15px;
}

@media (max-width: 991px) { 
  .banner-box.loan-detail-banner .banner-inner {
    padding-bottom: 0;
  }
  .banner-box.loan-detail-banner .tab-left-btn {
    text-align: center;
  }
  .banner-box.loan-detail-banner .tab-left-btn .btn-blue {
    width: 100%;
    max-width: 265px;
  }
  .banner-box.loan-detail-banner .banner-image .banner-caption .banner-left {
    width: 450px;
  }
  .banner-box.loan-detail-banner .banner-image .banner-caption .banner-right {
    width: calc(100% - 450px);
  }
}
@media (max-width: 767px) {
  .banner-box.loan-detail-banner {
    padding-bottom: 30px;
  }
  .banner-box.loan-detail-banner .banner-inner {
    padding-bottom: 40px;
  }
  .banner-box.loan-detail-banner .banner-slider {
    padding-top: 0;
  }
  .banner-box.loan-detail-banner .banner-image .banner-caption .banner-left {
    width: 100%;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .banner-box.loan-detail-banner .banner-image .banner-caption .banner-right {
    width: 100%;
  }
  .banner-box.loan-detail-banner .banner-image .banner-caption .banner-right img {
    max-height: 290px;
    margin: auto;
    object-fit: contain;
  }
  #term-p {
    font-size: 12px;
    line-height: 19px;
}
}

/*# sourceMappingURL=style.css.map */
