/*------- Invest In Mutual Fund -------*/

.invest-mutual-fund-Box {
  padding: 5px 0 55px;
}
.invest-mutual-fund-Box .invest-mutual-row {
  display: flex;
  flex-wrap: wrap;
}
.invest-mutual-fund-Box .invest-mutual-left {
  padding-right: 80px;
  width: calc(100% - 325px);
}
.invest-mutual-fund-Box .invest-mutual-right {
  width: 325px;
}
.invest-mutual-fund-Box h5 {
  color: #2C6EB5;
}
.invest-mutual-fund-Box h2 {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .invest-mutual-fund-Box .invest-mutual-left {
    padding-right: 30px;
    width: calc(100% - 250px);
  }
  .invest-mutual-fund-Box .invest-mutual-right {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .invest-mutual-fund-Box {
    padding: 25px 0 15px;
  }
  .invest-mutual-fund-Box .invest-mutual-left {
    padding-right: 0px;
    width: 100%;
  }
  .invest-mutual-fund-Box .invest-mutual-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invest-mutual-fund-Box .invest-mutual-row {
    position: relative;
  }
  .invest-mutual-fund-Box h5 {
    display: none;
  }
  .invest-mutual-fund-Box h2 {
    padding-left: 80px;
    padding-top: 32px;
    margin-bottom: 9px;
  }
  .invest-mutual-fund-Box p {
    font-size: 14px;
    line-height: 22px;
  }
}

/*------- Invest In Mutual Fund -------*/
