.credit-card-otp-form h4 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin-bottom: 12px;
}
.credit-card-otp-form p {
    font-size: 14px;
    line-height: 21px;
    color: #333;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
}
.credit-card-otp-form .resend-otp {
    max-width: 291px;
    margin: 20px auto 0;
}
.credit-card-otp-form .enter-otp-block {
    max-width: 291px;
    margin: auto;
}
.credit-card-otp-form p a {
    font-size: 14px;
    color: #005899;
    padding-left: 2px;
    text-decoration: none;
}
.creditcard-thankyou {
    background-color: #005899;
    text-align: center;
}
.creditcard-thankyou .thankyou-inner {
    max-width: 408px;
    margin: auto;
}
.creditcard-thankyou img {
    width: 63px;
    margin: 0 auto 12px;
}
.creditcard-thankyou h4 {
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 11px;
}
.creditcard-thankyou p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.creditcard-thankyou .btn-blue {
    color: #2C6EB5 !important;
}
.white-color {
    color: #fff !important;
}
.credit-card-otp-form .resend-otp {
    max-width: 178px;
    margin: 20px auto 0;
  }
@media (max-width: 767px){
.creditcard-thankyou h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}
.creditcard-thankyou p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}
}


.select2-wrap .select2-container--default {
    width: 100% !important;
  }
  .select2-wrap .select2-container--default .select2-selection--single {
    width: 100%;
    background-color: #f9fbff;
    border-color: #ccd8ee;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  .select2-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 400;
  }
  .select2-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    display: flex;
    align-items: center;
    top: 0;
  }
  .select2-wrap .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    content: "";
  }
  .select2-wrap .select2-container--default.select2-container--open .select2-selection__arrow:before {
    content: "";
  }
  .login-register-wrap .credit-card-forms .form-block button {
    cursor: pointer;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
  }
  .loader.show {
    display: flex;
  }

  #searchCityList li {
    cursor: pointer;
  }