@charset "UTF-8";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-textbox,
.country-code {
  background: #F9FBFF;
  border: 1px solid #CCD8EE;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
}
.input-textbox:focus,
.country-code:focus {
  border: 1px solid #97BEE9;
  outline: none;
}

.login-box {
  display: flex;
  flex-wrap: wrap;
}
.login-box h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}
.login-box p {
  font-size: 16px;
  line-height: 22px;
}
.login-box .set-mpin-text {
  line-height: 22px;
}
.login-box .form-block,
.login-box .blue-block {
  width: 50%;
}
.login-box .heading-text {
  padding-bottom: 30px;
}
.login-box .blue-block {
  background-color: #2C6EB5;
  padding: 70px 90px 0px 40px;
}
.login-box .blue-block p, .login-box .blue-block h3 {
  color: #ffffff;
}
.login-box .blue-block h3 {
  padding-bottom: 12px;
}
.login-box .blue-block .img-block {
  margin-top: -20px;
}
.login-box .form-block {
  padding: 50px 38px 60px;
  display: flex;
  align-items: center;
}
.login-box .form-block .form-step {
  width: 100%;
}
.login-box .form-block .heading-section {
  min-height: 100px;
}
.login-box .form-block h3 {
  font-size: 30px;
  text-align: center;
  line-height: 28px;
  padding-bottom: 4px;
}
.login-box .form-block h3.heading-24 {
  font-size: 24px;
  letter-spacing: -0.03em;
}
.login-box .form-block p, .login-box .form-block h3 {
  color: #333333;
}
.login-box .form-block .form-group {
  margin-bottom: 20px;
  position: relative;
}
.login-box .form-block .form-group .error-msgs {
  padding-left: 0;
}
.login-box .form-block .form-group .label-name {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 8px;
}
.login-box .form-block .input-mob-number {
  display: flex;
  background: #F9FBFF;
  border: 1px solid #97BEE9;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}
.login-box .form-block .input-mob-number:focus {
  border-color: #97BEE9;
  outline: none;
}
.login-box .form-block .input-mob-number .country-code {
  max-width: 47px;
  pointer-events: none;
}
.login-box .form-block .input-mob-number .input-textbox {
  padding-left: 0;
}
.login-box .form-block .input-mob-number .input-textbox,
.login-box .form-block .input-mob-number .country-code {
  border: 0;
  background-color: transparent;
}
.login-box .form-block .procceed-dashboard h3 {
  font-size: 24px;
}
.login-box .form-block .procceed-dashboard p {
  padding-bottom: 20px;
  font-weight: 500;
}
.login-box button {
  margin-top: 10px;
}
.login-box button.btn-blue {
  width: 100%;
}
.login-box .mpin {
  font-size: 13px;
  line-height: 150%;
  padding-bottom: 8px;
}
.login-box .mpin a {
  color: #2C6EB5;
}
.login-box .mpin a:hover, .login-box .mpin a:focus {
  text-decoration: none;
}
.login-box .edit-number a {
  color: #2C6EB5;
  font-size: 12px;
  margin-left: 8px;
  text-decoration: none;
}

.resend-otp {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.resend-otp span, .resend-otp a {
  display: block;
  line-height: 150%;
}
.resend-otp span {
  font-size: 12px;
  color: #606060;
}
.resend-otp a.resend {
  margin-left: auto;
  font-size: 13px;
  color: #2C6EB5;
}

.input-error {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FC3E3E;
  margin-bottom: 8px;
}

.enter-otp-block .otp-col {
  width: 100%;
  display: flex;
  justify-content: center;
}
.enter-otp-block .otp-col .input-textbox {
  width: 38px;
  height: 40px;
  margin-left: 12px;
}
.enter-otp-block .otp-col .input-textbox:first-child {
  margin-left: 0px;
}

.successfull-img img {
  display: inline-block;
}

.referral-field {
  display: flex;
  align-items: center;
}
.referral-field .referral-field-validate {
  position: relative;
  width: 100%;
}
.referral-field .referral-field-validate .input-textbox {
  padding-right: 100px;
}
.referral-field .referral-field-validate button {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 96px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 0 4px 4px 0;
  margin-top: 0;
}
.referral-field .referral-field-validate button .loader-wrap {
  width: 18px;
}
.referral-field a {
  color: #2C6EB5;
  font-size: 14px;
  font-weight: 600;
  padding-left: 18px;
  text-transform: uppercase;
}

.add-referral {
  color: #2C6EB5;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.validate-referral-msg {
  display: flex;
  background-color: #EAF0F8;
  border-radius: 10px;
  padding: 20px 10px 20px 20px;
  margin-bottom: 20px;
}
.validate-referral-msg .validate-img {
  min-width: 50px;
}
.validate-referral-msg .validate-text {
  width: 100%;
  padding-left: 20px;
}
.validate-referral-msg .validate-text h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.validate-referral-msg .validate-text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #606060;
}

.google-login {
  padding-top: 5px;
}
.google-login .or {
  position: relative;
  margin-bottom: 10px;
}
.google-login .or span {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  color: #97BEE9;
}
.google-login .or::before {
  content: "";
  background-color: #97BEE9;
  height: 1px;
  width: 50%;
  top: 50%;
  left: 25%;
  position: absolute;
}

.btn-google-login {
  background: #FFFFFF;
  border: 1px solid rgba(44, 110, 181, 0.6);
  box-shadow: 0px 4px 10px rgba(117, 116, 181, 0.25);
  padding: 15px 35px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}
.btn-google-login img {
  width: 20px;
  margin-right: 10px;
}

.user-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.input-mob-number .input-textbox, .input-mob-number .country-code {
  height: 38px;
}

.login-register-wrap {
  overflow: hidden;
}
.login-register-wrap .logo-desktop {
  margin-bottom: 55px;
}
.login-register-wrap .left-col {
  width: 50%;
  min-height: 100vh;
  padding: 30px 20px 50px 0;
  background-image: url("../img/login-leftCol-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 470px;
}
.login-register-wrap .heading-section {
  margin-bottom: 25px;
}
.login-register-wrap .heading-section h3 {
  margin-bottom: 30px;
}
.login-register-wrap .heading-section h6 {
  font-weight: 400;
  color: #606060;
}
.login-register-wrap .label-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
}
.login-register-wrap .input-mob-number {
  display: flex;
  background: #F9FBFF;
  border: 1px solid #CCD8EE;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  max-width: 320px;
  height: 40px;
}
.login-register-wrap .input-mob-number:focus {
  border-color: #97BEE9;
  outline: none;
}
.login-register-wrap .input-mob-number .country-code {
  max-width: 47px;
  pointer-events: none;
  padding-right: 0;
}
.login-register-wrap .input-mob-number .input-textbox {
  padding-left: 0;
}
.login-register-wrap .input-mob-number .input-textbox,
.login-register-wrap .input-mob-number .country-code {
  border: 0;
  background-color: transparent;
}
.login-register-wrap .form-block .form-group {
  margin-bottom: 30px;
  position: relative;
}
.login-register-wrap .form-block .form-group .error-msgs {
  padding-left: 0;
}
.login-register-wrap .form-block .form-group.enter-otp {
  margin-bottom: 15px;
}
.login-register-wrap .form-block .form-group.enter-otp .resend-otp {
  padding-bottom: 25px;
}
.login-register-wrap .form-block button {
  width: 100%;
  max-width: 320px;
  margin-right: 30px;
}
.login-register-wrap .form-block .btn-view-all {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}
.login-register-wrap .enter-otp-block .otp-col {
  justify-content: flex-start;
}
.login-register-wrap .mpin {
  margin-top: 10px;
}
.login-register-wrap .mpin a {
  font-size: 13px;
  line-height: 19px;
  color: #2C6EB5;
}
.login-register-wrap .mpin a:hover {
  text-decoration: none;
}
.login-register-wrap .edit-number a {
  color: #2C6EB5;
  font-size: 15px;
  margin-left: 5px;
}
.login-register-wrap .edit-number a:hover {
  text-decoration: none;
}
.login-register-wrap .resend-otp {
  max-width: 288px;
}
.login-register-wrap .procceed-dashboard .successfull-img {
  margin-bottom: 20px;
}
.login-register-wrap .procceed-dashboard .heading-section h3 {
  margin-bottom: 25px;
}
.login-register-wrap .procceed-dashboard .btn-blue {
  width: 100%;
  max-width: 320px;
}
.login-register-wrap .right-col {
  width: 50%;
  min-height: 100vh;
  padding: 90px 0px 50px 60px;
  background-color: #2C6EB5;
  border-radius: 0;
}
.login-register-wrap .sip-cards {
  box-shadow: none;
  background: none;
  display: flex;
  flex-direction: column-reverse;
}
.login-register-wrap .sip-cards h4 {
  font-size: 36px;
  line-height: 43px;
}
.login-register-wrap .sip-cards .sip-cards-info {
  max-width: unset;
}
.login-register-wrap .sip-cards .sip-card-img {
  position: relative;
  top: auto;
  right: auto;
  max-width: 300px;
  margin-bottom: 40px;
}
.login-register-wrap .slider-dots .slick-dots li.slick-active button {
  background-color: #D7DF23;
}
.login-register-wrap .login-register-row {
  display: flex;
  position: relative;
}
.login-register-wrap .login-register-row:after {
  content: "";
  width: 50vw;
  height: 100%;
  background: #2C6EB5;
  position: absolute;
  right: -49vw;
  top: 0;
  z-index: -1;
}
.login-register-wrap .login-google-block .form-inner {
  max-width: 320px;
}
.login-register-wrap .login-google-block .btn-google-login {
  display: flex;
}
.login-register-wrap .referral-field .referral-field-validate button {
  max-width: 96px;
  margin-right: 0;
}
.login-register-wrap .procceed-dashboard {
  padding-top: 60px;
}

.card-rows {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.card-rows .card-50 {
  width: 50%;
  padding: 0 15px;
}

.login-register-wrap .credit-card-forms {
  position: relative;
  z-index: 1;
}
.login-register-wrap .credit-card-forms .heading-section h3 {
  margin-bottom: 11px;
}
.login-register-wrap .credit-card-forms .form-block button {
  margin-right: 0px;
}
.login-register-wrap.credit-wrap .left-col {
  background: none;
  position: relative;
  overflow: hidden;
}
.login-register-wrap.credit-wrap .left-col:before {
  content: "";
  display: block;
  width: 488px;
  height: 396px;
  position: absolute;
  right: -173px;
  bottom: -33px;
  background: url("../img/credit-bg.png") no-repeat bottom right;
}

.credit-card-details {
  max-width: 392px;
  margin: auto;
}
.credit-card-details .credit-inners {
  padding-left: 45px;
  margin-top: -35px;
}
.credit-card-details h3 {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.credit-card-details ul {
  padding-left: 9px;
}
.credit-card-details ul li {
  font-size: 17px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 8px;
  position: relative;
  padding-left: 15px;
}
.credit-card-details ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 12px;
  display: block;
}

.search-dropdown.custom-dropdown .select-input {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 21px;
  outline: none;
  max-width: initial;
  text-align: left;
  position: relative;
}
.search-dropdown.custom-dropdown .select-input:before {
  position: absolute;
  right: 20px;
  top: 50%;
  content: "";
  font-family: "icomoon";
  color: #2c6eb5;
  font-size: 10px;
  transform: translateY(-50%);
}
.search-dropdown.custom-dropdown.show .select-input:before {
  content: "";
}
.search-dropdown.custom-dropdown.show .custom-dropdown-container {
  display: block;
}

.custom-dropdown-container {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 10;
  display: none;
  background: #FFFFFF;
  box-shadow: 0 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 0 0 8px 8px;
}
.custom-dropdown-container .textbox-search {
  padding: 15px 23px 0;
  position: relative;
}
.custom-dropdown-container .textbox-search .textbox-search-wrap {
  position: relative;
}
.custom-dropdown-container .textbox-search .search-input {
  background: #f9fbff;
  border: 1px solid #ccd8ee;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 37px 10px 12px;
  font-size: 14px;
  line-height: 21px;
  outline: none;
}
.custom-dropdown-container .textbox-search .textbox-search-icon {
  position: absolute;
  color: #CCD8EE;
  font-size: 19px;
  right: 10px;
  top: calc(50%);
  transform: translateY(-50%);
}
.custom-dropdown-container .search-drop-list {
  padding: 5px 0;
}
.custom-dropdown-container .search-drop-list ul {
  max-height: 100px;
  overflow-y: auto;
}
.custom-dropdown-container .search-drop-list ul li {
  padding: 9px 23px;
  line-height: 1;
}
.custom-dropdown-container .search-drop-list ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.custom-dropdown-container .search-drop-list ul li a {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #606060;
}
.custom-dropdown-container .textbox-add-bottom {
  padding: 12px 23px;
  background: #3574B7;
  border-radius: 0px 0px 8px 8px;
}
.custom-dropdown-container .textbox-add-bottom .text-find {
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.custom-dropdown-container .textbox-add-bottom .text-find a {
  text-transform: uppercase;
  color: #D7DF23;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

@media (max-width: 1199px) {
  .login-register-wrap .form-block .btn-blue {
    max-width: 220px;
  }
}
@media (max-width: 991px) {
  .login-register-wrap .right-col {
    padding: 90px 0px 50px 30px;
  }
  .login-register-wrap .sip-cards {
    padding: 0;
  }
  .login-register-wrap .label-name {
    display: block;
    text-align: center;
  }
  .login-register-wrap .btn-wrap {
    text-align: center;
  }
  .login-register-wrap .btn-wrap .btn-blue {
    margin-right: 0;
    margin-bottom: 15px;
    max-width: 100%;
  }
  .login-register-wrap .form-block .btn-blue {
    max-width: 100%;
  }
  .login-register-wrap .mpin, .login-register-wrap .input-error {
    text-align: center;
  }
  .login-register-wrap .enter-otp-block .otp-col {
    justify-content: center;
  }

  .card-rows .card-50 {
    width: 100%;
  }

  .credit-card-details .credit-inners {
    padding-left: 15px;
  }

  .login-register-wrap.credit-wrap .label-name {
    text-align: left;
  }
  .login-register-wrap.credit-wrap .left-col:before {
    display: none;
  }

  /*23-12-2022*/
  .custom-dropdown-container .textbox-search {
    padding-top: 10px;
  }
  .custom-dropdown-container .search-drop-list ul {
    max-height: 145px;
  }

  /*23-12-2022*/
}
@media (max-width: 767px) {
  .login-modal .popover-modal-close {
    color: #ffffff;
  }

  .login-box .form-block,
.login-box .blue-block {
    width: 100%;
  }
  .login-box .blue-block {
    padding: 36px 20px 25px;
    display: flex;
    align-items: flex-end;
  }
  .login-box .blue-block h3 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 7px;
  }
  .login-box .blue-block p {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.8;
    padding-right: 10px;
  }
  .login-box .blue-block .img-block {
    margin-left: auto;
    margin-top: 0;
    min-width: 85px;
  }
  .login-box .form-block {
    padding: 25px 20px;
    min-height: 350px;
    align-items: flex-start;
  }
  .login-box .form-block .form-group .label-name {
    text-align: center;
  }
  .login-box .form-block .heading-section {
    min-height: auto;
    margin-bottom: 40px;
  }

  .enter-referral .input-error {
    text-align: center;
  }

  .thankyou-box .blue-block {
    display: none;
  }
  .thankyou-box .form-block {
    background: #2C6EB5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    align-items: center;
  }
  .thankyou-box .form-block h3, .thankyou-box .form-block p {
    color: #fff;
  }
  .thankyou-box .form-block .btn-blue {
    background-color: #fff;
    color: #2c6eb5;
  }

  .login-box .heading-text {
    margin-top: 10px;
    padding-bottom: 0;
  }

  #loginWithGoogle .heading-section {
    margin-bottom: 10px;
  }

  .btn-google-login {
    display: flex;
  }

  .google-login .or {
    margin-bottom: 0;
  }

  .user-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .login-register-wrap .logo-desktop {
    margin-bottom: 15px;
  }
  .login-register-wrap .heading-section {
    margin-bottom: 45px;
  }
  .login-register-wrap .heading-section h3 {
    margin-bottom: 10px;
  }
  .login-register-wrap .heading-section h3 br {
    display: none;
  }
  .login-register-wrap .label-name {
    font-size: 12px;
    line-height: 18px;
  }
  .login-register-wrap .login-register-row {
    flex-wrap: wrap;
  }
  .login-register-wrap .login-register-row:after {
    display: none;
  }
  .login-register-wrap .left-col {
    width: 100%;
    background-image: none;
    min-height: 66vh;
    padding-bottom: 45px;
  }
  .login-register-wrap .input-mob-number {
    max-width: unset;
  }
  .login-register-wrap .right-col {
    width: 100%;
    padding: 25px 15px 30px;
    min-height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .login-register-wrap .sip-cards {
    flex-direction: row;
    align-items: flex-end;
  }
  .login-register-wrap .sip-cards .sip-card-img {
    max-width: 85px;
    margin-bottom: 25px;
    margin-left: 9px;
  }
  .login-register-wrap .sip-cards h4 {
    font-size: 18px;
    line-height: 24px;
    padding-right: 0;
  }
  .login-register-wrap .sip-cards p {
    font-size: 12px;
    line-height: 18px;
  }
  .login-register-wrap .form-block .form-group {
    margin-bottom: 20px;
  }
  .login-register-wrap .form-block .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }
  .login-register-wrap .procceed-dashboard .heading-section {
    margin-bottom: 25px;
  }
  .login-register-wrap .procceed-dashboard .successfull-img {
    margin-bottom: 30px;
  }
  .login-register-wrap .procceed-dashboard .heading-section h3 {
    margin-bottom: 15px;
  }
  .login-register-wrap .resend-otp {
    margin: auto;
  }

  .login-register-wrap .credit-card-forms .heading-section {
    margin-bottom: 22px;
  }
  .login-register-wrap .credit-card-forms .heading-section h3 {
    font-size: 26px;
    line-height: 31px;
  }
  .login-register-wrap.credit-wrap .left-col {
    padding-top: 20px;
    padding-bottom: 25px;
    /*23-12-2022*/
    overflow: visible;
    /*23-12-2022*/
  }
  .login-register-wrap.credit-wrap .right-col {
    padding-top: 33px;
  }

  .credit-card-details {
    max-width: 286px;
  }
  .credit-card-details .credit-inners {
    margin-top: -15px;
  }
  .credit-card-details h3 {
    margin-bottom: 9px;
  }
  .credit-card-details ul {
    padding-left: 4px;
  }
  .credit-card-details ul li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.8);
  }
  .credit-card-details ul li:before {
    top: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 4px;
    height: 4px;
  }
}
@media (max-width: 576px) {
  .login-register-wrap .container {
    padding: 0;
  }
  .login-register-wrap .left-col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-register-wrap .right-col {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
