<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.why-choose-life-insurance'}"></sly>
</sly>

<!-- why monefy -->
<section class="why-monefy-box why-moneyfy-category life-insurance-moneyfy">
    <div class="container">
		<h2 class="text-center">${properties.title}</h2>
        <div class="list-why-monefy slider-dots slider-arrows flex-slider" id="whyMonefySlider">

            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'why-choose-list'}">
                    <sly data-sly-list.whyChooseInsuranceList="${listItem.children}">

                        <div class="why-monefy-li">
                            <div class="why-monefy-col">
                                <div class="monefy-img">
								<img src="${whyChooseInsuranceList.image}" alt="" />
                                </div>
								<h5>${whyChooseInsuranceList.heading}</h5>
                            </div>
                        </div>

                    </sly>
                </sly>
            </sly>
            
        </div>

    </div>
</section>
<!-- why monefy -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.why-choose-life-insurance'}"></sly>
</sly>