@charset "UTF-8";
.quick-review-inner {
  display: flex;
  flex-wrap: wrap;
}

.company-info {
  display: flex;
}
.company-info .img-wrap {
  border: 1px solid #CCD8EE;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
}
.company-info .img-wrap img {
  width: 100%;
}
.company-info .name-wrap {
  margin-right: 10px;
  max-width: 380px;
  display: flex;
  align-items: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}
.loader.show {
  display: flex;
}

.icon-wrap {
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(44, 110, 181, 0.1);
  font-size: 24px;
}
.icon-wrap .icon {
  color: #2C6EB5;
}
.pagination-box.top-pagination {
  padding-bottom: 17px;
}
.pagination-list ul li .current.next span {
    padding-right: 8px;
}
.pagination-list ul li .page-link.prev span {
    padding-left: 8px;
}
.tag-rating-info {
  margin-left: 60px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag-wrap {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
  padding-right: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  font-size: 10px;
  line-height: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}
.tag-item.blue-tag {
  color: #2C6EB5;
}
.tag-item.violent-tag {
  color: #CC66CC;
}
.tag-item.green-tag {
  color: #48A476;
}

.rating-wrap {
  display: flex;
  align-items: center;
}
.rating-wrap p {
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  margin-left: 10px;
}
.rating-wrap .rate {
  font-weight: bold;
  color: #F2C94C;
}

.price-info p {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.return-info .select2-container {
  display: block;
  width: 100% !important;
}
.return-info .select2-selection--single {
  background: #F9FBFF;
  border: 1px solid #CCD8EE;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  width: 120px;
  position: relative;
}
.return-info .select2-selection--single .select2-selection__arrow {
  right: 8px;
  width: auto;
  transform: unset;
}
.return-info .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.return-info .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-family: "icomoon" !important;
  color: #2C6EB5;
  font-size: 10px;
}

.trend-info {
  margin-top: 2px;
}

.up-trend [class^=icon-] {
  display: inline-block;
  color: #1FC750;
  margin-right: 5px;
  font-size: 13px;
}

.down-trend [class^=icon-] {
  margin-right: 5px;
  color: #ff0000;
  font-size: 13px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}
.loader.show {
  display: flex;
}
.compare-fund-wrap {
  display: flex;
  height: 100%;
  align-items: center;
}
.compare-fund-wrap a {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
}

.quick-review-wrap {
  padding: 13px 0;
  background-color: #fff;
  box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
}

.quick-review-inner .review-item {
  padding-right: 15px;
}
.quick-review-inner .review-item:not(:first-child) {
  padding-left: 15px;
}
.quick-review-inner .review-item:not(:last-child) {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.return-info {
  min-width: 122px;
}
.loader.show{
display:flex
}

.compare-fund-wrap .btn-blue {
  color: #fff;
  margin-right: 20px;
  min-width: 130px;
}

.js-floating.affix {
  position: fixed !important;
}

.js-fixOnTop {
  left: 0;
}
.js-fixOnTop.affix {
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.quick-review-fix .fixContainer {
  position: static;
}
.custom-dropdown {
    position: relative;
}
.custom-dropdown.custom-dropdown-new .dropdown-button {
    background-color: #F9FBFF;
    border: 1px solid #CCD8EE;
    border-radius: 6px;
}
.dropdown-card {
    background-color: #fff;
    box-shadow: 0px 16px 70px rgb(153 186 208 / 30%);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: -10px;
    transform: translateY(100%);
    left: 0;
    min-width: 240px;
    z-index: 2;
    display: none;
}
.custom-dropdown.custom-dropdown-new .dropdown-card {
    width: 100%;
    min-width: inherit;
}
.dropdown-card-inner {
    padding: 15px 20px;
}
.custom-dropdown.custom-dropdown-new .dropdown-card-inner {
    padding: 11px;
}
.dropdown-list-menu li {
    margin-top: 5px;
}
.dropdown-list-menu li:first-child {
    margin-top: 0px;
}

.dropdown-list-menu li.active a, .dropdown-list-menu li:hover a {
    background-color: #F2F9FF;
    color: #333;
}
.dropdown-card:before {
    content: "";
    width: 70px;
    height: 3px;
    background: #D7DF23;
    position: absolute;
    top: -2px;
    left: 0;
}
[data-toggleCard] {
    display: none;
    margin-bottom: 35px;
}
.fund-list-filter-box {
    position: relative;
}

.loader.show {
  display: flex;
}
.card-div {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
    border-radius: 10px;
}
.select2-container {
    display: block;
}
.select2-selection--single .select2-selection__arrow b {
    display: none;
}
.btn-view-all .text-wrap {
    margin-left: 0;
}
.btn-view-all span {
    margin-left: 7px;
    font-size: 10px;
}
.btn-view-all span {
    margin-left: 7px;
    font-size: 10px;
}
.btn-view-all .text-wrap {
    margin-left: 0;
}
.custom-checkbox label {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #2C6EB5;
        margin-right: 10px;
        display: flex;
        align-items: center;
        font-weight: 700;
        cursor: pointer;
    }
.custom-checkbox input[type=checkbox] {
    display: none;
}
.custom-checkbox .checkbox-wrap {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #BFDBFA;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
} 
.custom-checkbox .checkbox-wrap:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #2c6eb5;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.custom-checkbox input[type=checkbox]:checked ~ .checkbox-wrap:after {
    display: block;
}
.pagination-list ul li.disabled .current.next {
    margin-left: 14px;
}
.pagination-list ul li .current.next {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    color: #2C6EB5;
}

h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;    
    letter-spacing: -0.01em;    
    color: #333333;
}
.similar-mutual-funds-items {
    overflow: hidden;
    border: 1px solid rgba(122, 204, 255, 0.3);
}
.img-name-wrap .img-wrap {
    border: 1px solid #CCD8EE;
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
}
.name-rating-wrap .rating-wrap {
    display: flex;
    align-items: center;
}
.img-name-wrap {
    display: flex;
    margin-bottom: 15px;
}
.pagination-list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.pagination-list ul li .page-link, .pagination-list ul li > span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-list ul li .current.prev {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    color: #2C6EB5;
}
.pagination-list ul li.disabled .current {
    pointer-events: none;
}
.pagination-list ul li.disabled .current.prev {
    margin-right: 14px;
}
.pagination-list ul li.disabled .current i {
    color: #2C6EB5;
    opacity: 0.5;
}
.pagination-list ul li.disabled .current i {
    color: #2C6EB5;
    opacity: 0.5;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F2F9FF;
    color: #000;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #F2F9FF;
    color: #000;
}
.select2-container--default .select2-results__option {
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    margin: 2px 0;
    padding: 3px 10px;
    text-align: center;
    text-align: left;
    border-radius: 5px;
}
.select2-container--default .select2-results__options {
    padding: 8px;
}
.pagination-list ul li.active .current {
    background-color: #2C6EB5;
    color: #fff;
    font-weight: 600;
}
.pagination-list ul li .page-link.prev, .pagination-list ul li .page-link.next {
    width: auto;
    height: auto;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    color: #2C6EB5;
}
.pagination-list ul li .page-link.next span {
    padding-right: 8px;
}
.pagination-list ul li.disabled .current span {
    color: #6F8695;
}
.pagination-list ul li .current.prev span {
    padding-left: 8px;
}

.wishlist-body .similar-mutual-funds-items .img-name-wrap h6 {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .company-info .img-wrap {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  .company-info h4 {
    font-size: 20px;
  }

  .icon-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .tag-item {
    margin-right: 8px;
  }

  .tag-wrap {
    padding-right: 5px;
    margin-right: 5px;
  }

  .rating-wrap p {
    font-size: 12px;
  }

  .price-info p {
    font-size: 12px;
  }
  .price-info h6 {
    font-size: 16px;
  }

  .return-info {
    min-width: unset;
  }

  .quick-review-inner .review-item {
    padding-right: 8px;
  }
  .quick-review-inner .review-item:not(:first-child) {
    padding-left: 8px;
  }

  .tag-rating-info {
    margin-left: 50px;
  }
}
@media (max-width: 991px) {
  .company-info h4 {
    max-width: none;
  }
  .tag-rating-info {
    flex-direction: column-reverse;
    margin-left: 0;
    align-items: flex-start;
  }
  .tag-rating-info .rating-wrap {
    margin-bottom: 10px;
  }

  .quick-review-wrap {
    box-shadow: none;
    padding-top: 0;
  }

  .quick-review-inner {
    padding: 15px 0px;
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  }
  .quick-review-inner .review-item {
    width: 100%;
    padding: 0 !important;
    border-right: 0 !important;
    margin: 8px 0;
  }
  .quick-review-inner .company-info-tags-wrap, .quick-review-inner .price-info {
    padding: 0 20px;
  }
   .loader {
    position: fixed;
    z-index: 16;
  }
  .tag-wrap {
    border-right: 0;
  }

  .tag-item {
    display: inline-block;
  }

  .price-info {
    display: flex;
  }
  .price-info p {
    margin-right: 10px;
  }
  .price-info h6 {
    font-size: 18px;
    line-height: 27px;
  }

  .compare-fund-wrap {
    width: 100%;
    border-top: 1px solid rgba(122, 204, 255, 0.3);
    padding-top: 15px;
    justify-content: center;
  }

  .company-info .img-wrap {
    min-width: 35px;
    width: 35px;
    height: 35px;
  }

  .icon-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }

  .rating-wrap p {
    font-size: 11px;
    line-height: 14px;
    margin-left: 0;
    margin-right: 10px;
  }

  .compare-fund-wrap .btn-blue {
    padding: 6px 10px;
  }

  .quick-review-mob {
    background: #FFFFFF;
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
    border-radius: 0 0 10px 10px;
    height: 0;
    opacity: 0;
  }
  .quick-review-mob.affix {
    height: auto;
    padding: 15px 0px;
  }

  .quick-review-mob-inner {
    display: flex;
    justify-content: space-between;
  }
  .quick-review-mob-inner .company-info h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .quick-review-mob-inner .btn-view-all {
    min-width: 90px;
    width: 90px;
    margin-left: 15px;
    font-size: 11px;
    line-height: 16px;
  }
.fund-list-result-inner .fund-list-result-right {
    display: none;
}
.fund-list-result-inner .fund-list-result-left {
    justify-content: space-between;
    width: 100%;
}
.dropdown-card-inner {
    padding: 15px 17px;
}
}
@media (max-width: 767px) {
  h6 {
    font-size: 12px;
    line-height: 18px;
  }

  .quick-review-wrap {
    padding-top: 14px;
  }

  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap .watchlist-icon {
    margin-right: 7px;
    min-width: 25px;
    width: 25px;
    height: 25px;
  }
}
.similar-mutual-funds {
  padding: 70px 0 80px;
  background-color: #E9F0F7;
}

.similar-mutual-funds-items .top-row {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}
.similar-mutual-funds-items .top-row .invest-more-wrap {
  width: 200px;
}
.similar-mutual-funds-items .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
  padding: 10px 25px;
}
.similar-mutual-funds-items .bottom-row .tag-wrap {
  border-right: 0;
  margin-left: 70px;
}
.similar-mutual-funds-items .img-name-wrap {
  margin-bottom: 0;
}
.similar-mutual-funds-items .name-rating-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.similar-mutual-funds-items .info-rating-wrap {
  width: 350px;
}

.name-rating-wrap p {
  margin-left: 0;
  margin-right: 10px;
}

.return-item {
  padding: 0 15px;
}
.return-item:not(:last-child) {
  border-right: 1px solid rgba(122, 204, 255, 0.3);
}

.returs-box {
  width: 360px;
}

.returs-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.returs-wrap .label-text {
  font-size: 14px;
  line-height: 22px;
  color: #606060;
}

.similar-mutual-funds-slider .card-div {
  border: 1px solid rgba(122, 204, 255, 0.3);
  overflow: hidden;
  margin-top: 20px;
}

.button-wrap {
  display: flex;
  align-items: center;
}

.watchlist-compare-btn {
  display: flex;
  align-items: center;
}

.add-watchlist-wrap {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C6EB5;
  margin-right: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.add-watchlist-wrap [class^=icon-] {
  font-size: 24px;
  margin-right: 10px;
}

.add-compare-wrap label {
  margin-right: 20px;
}

.invest-now-btn {
  padding: 12px 20px;
  margin-right: 15px;
}

.btn-view-all [class^=icon-] {
  transition: all 0.3s;
}
.btn-view-all.active [class^=icon-] {
  transform: rotate(-180deg);
}

.desktop-view-more {
  background-color: #F9FCFF;
  padding: 10px 25px;
  margin-bottom: 0;
  border-top: 1px solid rgba(122, 204, 255, 0.3);
}
.desktop-view-more .returs-wrap {
  width: auto;
  margin-left: 55px;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  .similar-mutual-funds-items .invest-now-btn {
    padding: 9px 15px;
    margin-right: 10px;
  }
  .similar-mutual-funds-items .returs-wrap .label-text {
    font-size: 11px;
    line-height: 15px;
  }
  .similar-mutual-funds-items .name-rating-wrap p {
    font-size: 11px;
    line-height: 14px;
    margin-right: 6px;
  }
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 40px;
    width: 40px;
    height: 40px;
    padding: 3px;
    margin-right: 10px;
  }
  .similar-mutual-funds-items .bottom-row .tag-wrap {
    border-right: 0;
    margin-left: 47px;
  }
  .similar-mutual-funds-items .desktop-view-more .returs-wrap {
    margin-left: 34px;
  }
}
@media (max-width: 991px) {
  .similar-mutual-funds {
    padding: 40px 0;
  }

  .similar-mutual-funds-items .top-row {
    padding: 15px 10px;
  }
  .similar-mutual-funds-items .bottom-row {
    padding: 10px 10px;
  }
  .similar-mutual-funds-items .bottom-row .tag-wrap {
    margin-left: 0;
  }
  .similar-mutual-funds-items .name-rating-wrap h6 {
    font-size: 13px;
    line-height: 17px;
  }
  .similar-mutual-funds-items .returs-wrap {
    margin: 0 -8px;
  }
  .similar-mutual-funds-items .return-item {
    padding: 0 8px;
  }
  .similar-mutual-funds-items .return-item h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .similar-mutual-funds-items .returs-box {
    margin-right: 10px;
  }
  .similar-mutual-funds-items .returs-box .label-text {
    font-size: 9px;
  }
  .similar-mutual-funds-items .name-rating-wrap p {
    font-size: 9px;
  }
  .similar-mutual-funds-items .invest-now-btn {
    padding: 6px 10px;
    margin-right: 5px;
    font-size: 9px;
  }
  .similar-mutual-funds-items .btn-view-all {
    font-size: 12px;
  }
  .similar-mutual-funds-items .add-watchlist-wrap {
    font-size: 10px;
    line-height: 15px;
    margin-right: 12px;
  }
  .similar-mutual-funds-items .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
  }
  .similar-mutual-funds-items .custom-checkbox label {
    font-size: 10px;
    line-height: 15px;
    margin-right: 12px;
  }
  .similar-mutual-funds-items .button-wrap .btn-view-all {
    font-size: 10px;
    line-height: 15px;
  }
  .similar-mutual-funds-items .desktop-view-more {
    padding: 10px;
  }
  .similar-mutual-funds-items .desktop-view-more .returs-wrap {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .wishlist-body .custom-checkbox label {
    margin-right: 0;
  }
  .wishlist-body .similar-mutual-funds-items .img-name-wrap h6 {
    padding-right: 8px;
  }
  .similar-mutual-funds-items {
    margin: 0 5px 20px;
      border:none  
     }
  .similar-mutual-funds-items .img-name-wrap {
    margin-bottom: 5px;
  }
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    padding: 3px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C6EB5;
  }
  .similar-mutual-funds-items .top-row {
    padding: 15px 15px 0;
  }
  .similar-mutual-funds-items .top-row .info-rating-wrap {
    width: 100%;
  }
  .similar-mutual-funds-items .bottom-row {
    border-top: 0;
    background-color: transparent;
    padding: 0 15px 15px;
    display: block;
  }
  .similar-mutual-funds-items .rating-wrap {
    margin-bottom: 11px;
  }
  .similar-mutual-funds-items .tag-item {
    margin-bottom: 5px;
  }
  .similar-mutual-funds-items .return-info-more-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .similar-mutual-funds-items .return-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .similar-mutual-funds-items .rating-wrap p {
    margin-left: 0;
    margin-right: 10px;
    font-size: 10px;
    line-height: 14px;
  }
  .similar-mutual-funds-items .desktop-view-more {
    display: none;
  }
  .similar-mutual-funds-items .return-item .label-text {
    margin-bottom: 4px;
  }
  .similar-mutual-funds-items .return-item h6 {
    font-size: 14px;
    line-height: 21px;
  }

  .name-return-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-return-wrap .return-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .name-return-wrap .return-info .select2-selection--single {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    width: 100px;
    height: 22px;
    margin-bottom: 5px;
  }
  .name-return-wrap .return-info .select2-selection--single .select2-selection__rendered {
    color: #606060;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
  }
  .name-return-wrap .return-info .trend-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #333333;
    display: flex;
    align-items: center;
  }
  .name-return-wrap .return-info .trend-info .icon {
    font-size: 10px;
  }
  .name-return-wrap .img-name-wrap {
    max-width: calc(100% - 110px);
  }

  .tag-more-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .tag-more-wrap .tag-wrap {
    width: calc(100% - 60px);
  }
  .tag-more-wrap .btn-view-all span {
    line-height: 14px;
    font-size: 11px;
  }

  .similar-mutual-funds .view-all-mf {
    display: block;
    text-align: center;
    margin-top: 75px;
  }
  .similar-mutual-funds .slick-arrow {
    bottom: -57px;
  }
  .similar-mutual-funds .slick-dots {
    bottom: -35px;
  }

  .view-more-wrap {
    width: 100%;
    background-color: #F3F9FF;
    margin-bottom: 0;
  }
  .view-more-wrap .returs-wrap {
    width: 100%;
    flex-wrap: wrap;
    padding: 8px 15px;
  }
  .view-more-wrap .returs-wrap .return-item {
    width: 50%;
    margin: 5px 0;
    border: 0;
  }
  .view-more-wrap .watchlist-compare-btn {
    justify-content: center;
    padding: 13px 15px;
    border-top: 1px solid rgba(122, 204, 255, 0.3);
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
    width: 50%;
    font-size: 10px;
    line-height: 16px;
    margin-right: 0;
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
    line-height: 16px;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap {
    width: 50%;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
    margin-right: 0;
    font-size: 11px;
    line-height: 16px;
  }
  .view-more-wrap .invest-detail-wrap {
    padding: 12px 15px;
    text-align: center;
  }
  .view-more-wrap .invest-detail-wrap .invest-now-btn {
    padding: 6px 25px;
    min-width: 128px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .view-more-wrap .invest-detail-wrap .btn-view-all {
    font-size: 11px;
    line-height: 16px;
  }

  .slider-container {
    padding: 0;
  }
.select2-container--default .select2-results__option {
    font-size: 11px;
    line-height: 18px;
    padding: 3px 8px;
}
.select2-container--default .select2-results__options {
    padding: 6px;
}
}
@media (max-width: 350px) {
  .similar-mutual-funds-items .img-name-wrap .img-wrap {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-size: 14px;
    line-height: 16px;
  }

  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap {
    font-size: 10px;
    line-height: 15px;
    margin-right: 8px;
    width: calc(50% - 8px);
  }
  .view-more-wrap .watchlist-compare-btn .add-watchlist-wrap [class^=icon-] {
    font-size: 20px;
  }
  .view-more-wrap .watchlist-compare-btn .add-compare-wrap label {
    font-size: 10px;
    line-height: 15px;
  }
}
.fund-list-result {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}

.fund-list-result-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fund-list-result-inner .fund-list-result-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fund-list-result-inner .fund-list-result-one {
  padding-right: 65px;
}
.fund-list-result-inner .contact-infomarion-btn {
  margin-bottom: 0px;
}
.fund-list-result-inner .fund-list-result-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fund-list-result-inner .fund-list-result-two .custom-dropdown {
  min-width: 148px;
}
.fund-list-result-inner .fund-list-result-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.fund-list-result-inner .fund-list-result-sort .custom-dropdown {
  min-width: 255px;
}
.fund-list-result-inner .fund-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2C6EB5;
  display: block;
  padding-right: 14px;
  display: flex;
  align-items: center;
}
.fund-list-result-inner .fund-label span {
  margin-right: 8px;
}

.fund-list-ul .fund-list-li {
  margin-bottom: 20px;
}
.fund-list-ul .fund-list-li .similar-mutual-funds-items {
  margin: 0px;
}

.pagination-box {
  padding-top: 17px;
}
.pagination-box.top-pagination {
  padding-bottom: 17px;
}

.tmc-top-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
}
.tmc-top-row h2 {
  margin-bottom: 0px;
}

.fund-list-result.amc-listing-sort {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.fund-list-result.amc-listing-sort .fund-list-result-inner {
  padding-left: 25px;
}

.search-lists-box {
  margin-right: 33px;
}
.search-lists-box .header-search {
  width: 245px;
}
.search-lists-box .header-search .twitter-typeahead {
  display: block !important;
}
.search-lists-box .header-search .form-control {
  border: 1px solid #ACB4D1;
  width: 100%;
}
.search-lists-box .header-search .form-control:focus {
  outline: none;
}
.search-lists-box .tt-menu {
  background-color: #FFFFFF;
  box-shadow: 0px 16px 70px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
  padding: 11px;
  width: 319px;
  left: auto !important;
  right: 0px;
}
@media (max-width: 991px) {
  .search-lists-box .tt-menu {
      left: 0 !important;
      right: auto;
  }
}
.search-lists-box .tt-menu .tt-suggestion {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #858997;
  cursor: pointer;
  padding: 8px 12px;
}
.search-lists-box .tt-menu .tt-suggestion .tt-highlight {
  color: #333;
  font-weight: 500;
}
.search-lists-box .tt-menu .tt-suggestion:hover {
  background-color: #F2F9FF;
  border-radius: 8px;
}
@media (max-width: 1199px) {
  .blue-tab-box ul {
    margin-left: -9px;
    margin-right: -9px;
  }
  .blue-tab-box ul li {
    padding-left: 9px;
    padding-right: 9px;
  }

  .fund-list-result.amc-listing-sort .search-lists-box .header-search {
    width: 210px;
  }
  .fund-list-result.amc-listing-sort .fund-list-result-inner {
    padding-left: 0px;
  }
  .fund-list-result.amc-listing-sort .fund-list-result-inner .fund-list-result-sort .custom-dropdown {
    min-width: 200px;
  }
}
@media (max-width: 991px) {
  .fund-list-result-inner .fund-list-result-one {
    padding-right: 40px;
  }
  .search-lists-box {
    margin-right: 0px;
  }
  .fund-list-result-inner .fund-list-result-sort .custom-dropdown {
    min-width: 220px;
  }

  .fund-list-result.amc-listing-sort .fund-list-result-inner .fund-list-result-right {
    display: none;
  }
}
@media (max-width: 767px) {
  .fund-list-result {
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  .search-lists-box .header-search {
    height: auto;
  }
  .search-lists-box .header-search .search-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 19px;
  }
  .similar-mutual-funds-items .img-name-wrap h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #2C6EB5;
  }
  .pagination-list ul {
    justify-content: center;
}
    .pagination-list ul li {
    padding: 0 3px;
}
 .pagination-list ul li .page-link, .pagination-list ul li > span {
    width: 30px;
    height: 30px;
    font-size: 16px;
}
  .fund-list-result-inner .fund-list-result-left {
    width: 100%;
    justify-content: space-between;
  }
  .fund-list-result-inner .fund-list-result-right {
    display: none;
  }
  .fund-list-result-inner .fund-list-result-one {
    padding-right: 5px;
  }
  .fund-list-result-inner .fund-list-result-two .custom-dropdown {
    min-width: 100px;
  }

  .fund-list-ul {
    margin: 0 -15px;
  }
  .fund-list-ul .fund-list-li {
    margin-bottom: 0px;
    position: relative;
  }
  .fund-list-ul .fund-list-li:before {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(122, 204, 255, 0.3);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .fund-list-ul .fund-list-li .similar-mutual-funds-items {
    box-shadow: none;
  }
  .fund-list-ul .fund-list-li .similar-mutual-funds-items .top-row {
    padding-top: 20px;
  }
  .fund-list-ul .fund-list-li .similar-mutual-funds-items .bottom-row {
    padding-bottom: 10px;
  }

  .pagination-box {
    padding-top: 30px;
  }
}
.similar-mutual-funds-items .info-rating-wrap {
  width: 375px;
}
.name-rating-wrap p {
  margin-left: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
}
.returs-box {
  width: 390px;
}
/*# sourceMappingURL=style.css.map */
/* watchList added tick css */

.add-watchlist-wrap .watchlist-icon {
  min-width: 35px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  font-size: 24px;
  position: relative;
  margin-right: 10px;
}

.add-watchlist-wrap.addedWatchlist .watchlist-icon {
  background-color: rgba(31, 199, 80, 0.1);
}
.add-watchlist-wrap.addedWatchlist .watchlist-icon:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("/content/dam/tata-capital-moneyfy/mutual-funds/green-ticks.svg") no-repeat center center;
  position: absolute;
  right: -6px;
  top: 0px;
  background-size: contain;
}

.add-watchlist-wrap .watchlist-icon i {
  font-size: 24px;
  margin: 0 auto;
}

.add-watchlist-wrap.addedWatchlist .watchlist-icon i {
  font-size: 22px;
  color: #1FC750;
}
.add-watchlist-wrap.addedWatchlist .wishlist-text {
  color: #1FC750;
}
.view-more-wrap .watchlist-compare-btn .add-watchlist-wrap.addedWatchlist .watchlist-icon:before {
  content: "";
  width: 13px;
  height: 13px;
}
.wishlist-body .return-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.similar-mutual-funds-items .mf-fund-name {
  color: #333;
}