<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.podcast'}"></sly>
</sly>

<!--Podcasts-box-->
<section class="podcasts-box">
    <div class="container">
      <h1 class="pod-heading h4-class">${properties.heading}</h1>
      <div class="podcasts-inners">
  
        <ul class="list-media-audio">
            <sly data-sly-list.podcast="${resource.children}">
                <sly data-sly-test="${podcast.name=='podcastList'}">
                    <sly data-sly-list.podcastItem="${podcast.children}">
                        <li>
                            <div class="media-video-col">
                                <div class="media-bottom-content">
                                    <div class="podcast-left-row">
                                        <div class="podcast-left-img">
                                            <img src="${podcastItem.img}" alt="">
                                        </div>
                                        <div class="podcast-right-content">
                                            <div class="content-inn">
                                                <p class="pod-head" data-podcastHeading="heading">${podcastItem.podcastHeading}</p>
                                                <p class="pod-text" data-podcastDescription="description">${podcastItem.description}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-audio-player">
                                    <div class="autdio-player">
                                        <audio crossorigin>
                                            <source src="${podcastItem.audio}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                                <!-- /*<div class="share-btns">
                                    <a href="javascript:void(0)" data-shareLink="${podcastItem.audioShareLink}" data-popovermodal="popover-modal" data-target="#share-modal">
                                        <span class="icon-share"></span>
                                    </a>
                                </div> */--> 
                            </div>
                        </li>
                    </sly>
                </sly>
            </sly>
        </ul>
  
      </div>
    </div>
  </section>
  <!-- Podcasts-box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.podcast'}"></sly>
</sly>