<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.other-insurance-plans'}"></sly>
</sly>

<!-- insurance plans -->
<section class="insurance-plans-box" data-sly-test="${properties.title}">
    <div class="container">
        <h2 class="text-center">${properties.title}</h2>
        <div class="list-insurance-plans slider-dots slider-arrows flex-slider" id="jsOtherInsurancePlan">
            
            <sly data-sly-list.listItem="${resource.children}">
                <sly data-sly-test="${listItem.name == 'planList'}">
                    <sly data-sly-list.planListItem="${listItem.children}">
                        <div class="insurance-plans-li">
                            <a class="card-div list-goal"  data-card-plan-name="${planListItem.planName}"  data-adobeAnalytics="otherInsuranceProducts" href="${planListItem.link}" target="${planListItem.newTab ? '_blank' : ''}">
                                <div class="list-goal-img">
                                    <img src="${planListItem.image}" alt=""
                                        class="goal-img">
                                    <img src="${planListItem.hoverImage}"
                                        alt="" class="goal-img-hover">
                                </div>
                                <h5>${planListItem.planName}</h5>
                            </a>
                        </div>
                    </sly>
                </sly>
            </sly>

        </div>

    </div>
</section>
<!-- insurance Plans -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.other-insurance-plans'}"></sly>
</sly>