.invest-inlarge-box.pd {
  padding: 30px 0;
}
.invest-inlarge-box .invest-inlarge {
  padding: 25px 35px 25px;
  margin-bottom: 20px;
  position: relative;
}
.invest-inlarge-box .invest-inlarge h3 {
  margin-bottom: 15px;
}
.invest-inlarge-box .invest-inlarge p {
  color: #333;
  font-size: 17px;
  line-height: 26px;
}
.invest-inlarge-box .invest-inlarge .inlarge-img {
  position: absolute;
  right: 35px;
  top: 65px;
  width: 110px;
}
.invest-inlarge-box .invest-inlarge-mx {
  padding-right: 0px;
  min-height: 140px;
}

.inlarge-invest-journey {
  background: linear-gradient(95.27deg, rgba(0, 88, 153, 0.2) 10.19%, rgba(78, 76, 221, 0.2) 58.06%, rgba(44, 110, 181, 0.2) 101.2%), #2C6EB5;
  box-shadow: 20px 14px 30px rgba(153, 186, 208, 0.3);
  border-radius: 10px;
  padding: 15px;
}
.inlarge-invest-journey .invest-journey-inner {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inlarge-invest-journey h4 {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
}
.inlarge-invest-journey .invest-journey-left {
  padding-left: 85px;
  position: relative;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 15px;
  width: calc(100% - 170px);
}
.inlarge-invest-journey .invest-journey-left img {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 75px;
}
.card-div {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 36px rgb(153 186 208 / 26%);
    border-radius: 10px
}
.btn-blue.btn-blue-outline {
    background-color: transparent;
    color: #2C6EB5;
    border: 1px solid #2C6EB5;
}
.btn-h40 {
    padding: 10px 25px !important;
}
.text-stealblue { color: #2C6EB5 !important; }
.bg-wgite { background-color: #fff !important; }
h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;    
    letter-spacing: -0.01em;    
    color: #333333;
}

h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;    
    color: #333333;
}
h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;    
    letter-spacing: -0.01em;    
    color: #333333;
}
h4{
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    color: #333333;
}
h5{ 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;               
    color: #333333;
}
h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.h2-tag{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}

@media (max-width: 991px) {
  .inlarge-invest-journey h4 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .invest-inlarge-box {
    padding: 20px 0 30px;
  }
  .invest-inlarge-box .invest-inlarge {
    padding: 18px 20px;
    margin-bottom: 20px;
  }
  .invest-inlarge-box .invest-inlarge .invest-inlarge-mx {
    padding-right: 0px !important;
  }
  .invest-inlarge-box .invest-inlarge h1 {
    margin-bottom: 11px;
    padding-right: 50px;
    font-size: 24px;
    line-height: 28px;
    min-height: 50px;
  }
  .invest-inlarge-box .invest-inlarge p {
    font-size: 14px;
    line-height: 22px;
  }
  .invest-inlarge-box .invest-inlarge .inlarge-img {
    width: 42px;
    top: 27px;
    right: 20px;
  }

  .inlarge-invest-journey {
    padding: 15px 25px;
  }
  .inlarge-invest-journey .invest-journey-inner {
    display: block;
  }
  .inlarge-invest-journey .invest-journey-left {
    width: 100%;
    padding-left: 0px;
    padding-right: 88px;
    min-height: 48px;
  }
  .inlarge-invest-journey .invest-journey-left img {
    width: 48px;
    left: auto;
    right: 0px;
  }
  .inlarge-invest-journey .invest-journey-right {
    padding-top: 15px;
    text-align: center;
  }
  .inlarge-invest-journey h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
.btn-blue {
    font-size: 11px;
    line-height: 17px;
    padding: 12px 20px;
}
.btn-blue.btn-blue-outline {
    background-color: transparent;
    color: #2C6EB5;
    border: none;
}
.h2-tag{
  font-size: 24px;
  line-height: 29px;
}
 h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
  }

  h4 {
    font-size: 18px;
    line-height: 21px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  h6 {
    font-size: 12px;
    line-height: 18px;
  }
.h2-tag{
  font-size: 24px;
  line-height: 29px;
}
}

/*# sourceMappingURL=style.css.map */
