<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.fund-managers-list'}"></sly>
</sly>

<sly data-sly-use.amcModel="com.tatacapital.moneyfy.core.models.AMCListingModel" />
<sly data-sly-use.fundManagerModel="com.tatacapital.moneyfy.core.models.ManagerListingModel" />

<!-- blue tab box -->
<section class="blue-filtersize-box d-none d-lg-block js-floating">
    <div class="container">
        <div class="blue-tab-inner fund-manager-filter-wrap">
            <div class="filter-search-wrap js-inlineFilterClearAll">
                <div class="search-box">
                    <div class="filter-item">
                        <div class="custom-dropdown">
                            <div class="dropdown-button js-filterBtn" data-filter="amc">
                                <a href="javascript:void(0);">Search via AMCs</a>
                            </div>
                            <div class="dropdown-card amc-filter-card" data-filter-card="amc">
                                <div class="dropdown-card-inner">
                                    <div class="filter-card">
                                        <div class="dropdown-header">
                                            <p>AMC</p>
                                            <a href="javascript:void(0);" class="clear-btn js-clearBtn" data-name>Clear all</a>
                                        </div>
                                        <div class="dropdown-content">
                                            <div class="search-wrap">
                                                <div class="search-form">
                                                    <input type="text" class="form-control js-searchInput"
                                                        placeholder="Search for AMCs...">
                                                    <button class="search-btn"><span
                                                            class="icon-search"></span></button>
                                                </div>
                                            </div>
                                            <div class="amc-filter-list">
                                                <div class="filterList-mCustomScrollbar">
                                                    <ul id="filterManagers">
                                                        <sly data-sly-list.amc=${amcModel.amcList}>
                                                            <li class="filter-checkbox">
                                                                <div class="custom-checkbox">
                                                                    <label class="js-filterCheck">
                                                                        <input type="checkbox" name="sort" data-type="amc" value="${amc.fundName}" data-val="${amc.amcId}">
                                                                        <span class="checkbox-wrap"></span>
                                                                        ${amc.fundName}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </sly>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="no-search-result js-noSearchResult d-none">
                                                <span class="error-msgs">Sorry We Could not find the data related to
                                                    <b>kalyanam mutual fund</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="filter-item">
                        <h6>Filters by Fund Size</h6>
                        <ul class="list-filter-checks" id="filterManagers">
                            <li>
                                <div class="custom-checkbox">
                                    <label class="js-filterCheckNoAppend">
                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="0-500">
                                        <span class="checkbox-wrap yellow-check"></span>
                                        0 - 500 Cr
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-checkbox">
                                    <label class="js-filterCheckNoAppend">
                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="501-2000">
                                        <span class="checkbox-wrap yellow-check"></span>
                                        501 - 2000 Cr
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-checkbox">
                                    <label class="js-filterCheckNoAppend">
                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="2001-10000">
                                        <span class="checkbox-wrap yellow-check"></span>
                                        2001 - 10000 Cr
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-checkbox">
                                    <label class="js-filterCheckNoAppend filterFund">
                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="10001-1000000000">
                                        <span class="checkbox-wrap yellow-check"></span>
                                        Above 10000Cr
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:void(0);"
                        class="clear-all-btn inline-clear-all js-inlineClearAll js-clearAll">Clear All</a>
                </div>
            </div>
            <div class="filter-tags-wrap">
                <div class="">
                    <ul class="filter-tags js-FilterSlide js-FilterSliderInit">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blue-tab box -->

<!-- mob filter -->
<section class="fix-container js-fixContainer">
    <div class="mob-filter-container d-lg-none">
        <div class="container">
            <div class="mobile-filter-sort">
                <div class="mob-filterBtn-wrap">
                    <a href="javascript:void(0);" class="js-showFilter">
                        <span class="filter-count js-filterCount"></span>
                        <i class="icon-filter icon"></i>
                        Filters
                    </a>
                </div>
                <div class="mob-sortBtn-wrap">
                    <a href="javascript:void(0);" class="jsMobSorting">
                        <i class="icon-sort icon"></i>
                        Sort by
                    </a>
                </div>
            </div>
            <div class="mob-filter-box js-mobFilterBox">
                <div class="back-btn-wrap">
                    <a href="javascript:void(0);" class="back-btn js-closeFilter">
                        <span class="icon-arrow-left icon"></span>
                        Filters
                    </a>
                </div>
                <div class="filter-wrap">
                    <div class="filter-list-wrap js-filterListWrap">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" class="filter-link active"
                                    data-filter-link="AMC"><span>AMC</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="filter-link"
                                    data-filter-link="Fund Size"><span>Fund Size</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-cards-wrap">
                        <div class="dropdown-card-inner">
                            <div class="filter-card-item active" data-filter-item="AMC">
                                <div class="filter-card">
                                    <div class="dropdown-header">
                                        <p>AMC</p>
                                        <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                    </div>
                                    <div class="dropdown-content">
                                        <div class="search-wrap">
                                            <div class="search-form">
                                                <input type="text" class="form-control js-searchInput"
                                                    placeholder="Search for AMCs...">
                                                <button class="search-btn"><span class="icon-search"></span></button>
                                            </div>
                                        </div>
                                        <div class="amc-filter-list js-inlineFilterClearAll">
                                            <div class="filterList-mCustomScrollbar">
                                                <ul>
                                                    <sly data-sly-list.amc=${amcModel.amcList}>
                                                        <li class="filter-checkbox">
                                                            <div class="custom-checkbox">
                                                                <label class="js-filterCheck">
                                                                    <input type="checkbox" name="sort" data-type="amc" value="${amc.fundName}" data-val="${amc.amcId}">
                                                                    <span class="checkbox-wrap"></span>
                                                                    ${amc.fundName}
                                                                </label>
                                                            </div>
                                                        </li>
                                                    </sly>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="no-search-result js-noSearchResult d-none">
                                            <span class="error-msgs">Sorry We Could not find the data related to
                                                <b>kalyanam mutual fund</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-card-item" data-filter-item="Fund Size">
                                <div class="filter-card">
                                    <div class="dropdown-header">
                                        <p>Fund Size</p>
                                        <a href="javascript:void(0);" class="clear-btn js-clearBtn">Clear all</a>
                                    </div>
                                    <div class="dropdown-content">
                                        <ul id="filterManagers">
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="0-500">
                                                        <span class="checkbox-wrap"></span>
                                                        0 - 500 Cr
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="501-2000">
                                                        <span class="checkbox-wrap"></span>
                                                        501 - 2000 Cr
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="2001-10000">
                                                        <span class="checkbox-wrap"></span>
                                                        2001 - 10000 Cr
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="filter-checkbox">
                                                <div class="custom-checkbox">
                                                    <label class="js-filterCheck">
                                                        <input type="checkbox" name="sort" data-type="fundSize" data-val="10001-1000000000">
                                                        <span class="checkbox-wrap"></span>
                                                        Above 10000Cr
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-fotter">
                    <a href="javascript:void(0);" class="btn-blue radius100 apply-filter-btn js-applyFilter">apply
                        filter</a>
                    <a href="javascript:void(0)" class="clear-all-btn js-clearAll">clear all</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- mob filter -->

 <!-- start mobile sort -->
 <div class="mob-sortby-box">
    <div class="mob-sortby-inner">
        <a href="javascript:void(0)" class="icon-close mob-sorby-close jsSortByClose"></a>
        <div class="container">
            <h6>Sort by</h6>
  
            <ul class="jsSelectSortList">
                <li>
                    <label class="custom-radio-text">
                        Returns - High to Low
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="Returns - High to Low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Returns - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="Returns - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Fund Size - High to Low
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="Fund Size - High to Low">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label class="custom-radio-text">
                        Fund Size - Low to High
                        <span class="custom-radio">
                            <input type="radio" name="sortBy" value="Fund Size - Low to High">
                            <span class="radiobox-check"></span>
                        </span>
                    </label>
                </li>
            </ul>
  
        </div>
    </div>
  </div>
  <!-- start mobile sort -->

<!-- amc box -->
<section class="fund-manager-box fund-manager-listing bg-wgite">
    <div class="loader js-loader">
        <img src="/content/dam/tata-capital-moneyfy/Loader.gif" alt="">
    </div>
    <div class="container">
        <div class="tmc-top-row">
            <h1>Fund Managers</h1>    
            <div>
                <div class="fund-list-result amc-listing-sort">
                    <div class="fund-list-result-inner">
                        <div class="fund-search-lists">
                            <div class="search-lists-box">
                                <div class="header-search" id="jsSearchTypeheadMob">
                                    <input type="text" class="form-control typeahead" data-search="searchFundManager" placeholder="Search Manager">
                                    <a href="javascript:void(0)" class="search-btn" id="searchManager">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="fund-list-result-right">
                            <div class="fund-list-result-sort">
                                <label class="fund-label"><span class="icon-sort"></span> sort by</label>
                                <div class="custom-dropdown custom-dropdown-new">
                                    <div class="dropdown-button js-filterBtn" data-filter="sorting">
                                        <a href="javascript:void(0);" class="jsDropDownMenuShow">Returns - High to Low</a>
                                    </div>
                                    <div class="dropdown-card rating-filter-card" data-filter-card="sorting">
                                        <div class="dropdown-card-inner">
                                            <ul class="dropdown-list-menu jsDropDownMenuGet getSortBy">
                                                <li class="active">
                                                    <a href="javascript:void(0)">Returns - High to Low</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Returns - Low to High</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Fund Size - High to Low</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Fund Size - Low to High</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="inner-fund-manager jsPaginationListings" id="fundManagerList">
            <sly data-sly-list.manager="${fundManagerModel.managerList}">
                <div class="fund-manager-rows fund-list-li" data-amc-id="${manager.amcId}">
                    <div class="fund-manager-col">
                        <a href="${manager.pagePath}" target="_blank" class="card-div fund-manager-card">
                            <div class="fund-manager-top">
                                <h5>${manager.fundManagerName}</h5>
                            </div>
                            <div class="fund-manager-bottom">
                                <div class="fund-ul">
                                    <div class="fund-li">
                                        <p>No. of funds</p>
                                        <h6>${manager.noOfFunds}</h6>
                                    </div>
                                    <div class="fund-li">
                                        <p>Total Fund Size</p>
                                        <h6>₹${manager.totalFundSize} Cr</h6>
                                    </div>
                                    <div class="fund-li">
                                        <p>Highest Returns</p>
                                        <h6>${manager.highestReturns == "" ? 0 : manager.highestReturns}%</h6>
                                    </div>
                                </div>
                                <div class="text-center d-block d-md-none">
                                    <button type="button" class="btn-blue radius100 mg-t15">View Details</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </sly>
        </div>
    </div>

</section>
<!--amc box -->

<script>
    var fundManagerArray = "${fundManagerModel.getFundManagerList @context='scriptString'}";
    fundManagerArray = JSON.parse(fundManagerArray);
    console.log(fundManagerArray)
</script>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.fund-managers-list'}"></sly>
</sly>