<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.faq-card'}"></sly>
</sly>

<div class="faq-head-section">
    <div class="container">
        <h1 class="h2-class">${properties.heading}</h1>
    </div>
</div>

<!-- blue tab box -->
<section class="blue-tab-box d-none d-lg-block faq-detail-blue-tab js-floating">
    <div class="container">
        <div class="blue-tab-inner">
            <ul class="js-faqSectionList faq-tab-arrow" id="jsFaqDetailTab1">
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'dropdownList'}">
                        <sly data-sly-list.faqsList="${listItem.children}">
                            <sly data-sly-test.faqIDValue="${'{0}_{1}' @ format =[listItem.name,faqsListList.count]}">
                                <li class="${faqsListList.index == 0 ? 'active' : ''}">
                                    <a href="#faqCat${faqsListList.index}"
                                        class="faqCat${faqsListList.index}">${faqsList.tabTitleCard}</a>
                                </li>
                            </sly>
                        </sly>
                    </sly>
                </sly>
            </ul>
        </div>
    </div>
</section>
<!-- blue-tab box -->

<!-- Mob blue tab dropdown -->
<div class="js-fixContainer swp-blue-tab">
    <div class="d-block d-lg-none mob-blue-menu">
        <div class="container">
            <div class="custom-dropdown custom-dropdown-new">
                <div class="dropdown-button js-filterBtn" data-filter="sorting">
                    <a href="javascript:void(0);">${properties.tabTitleMobile}</a>
                </div>
                <div class="dropdown-card" data-filter-card="sorting">
                    <div class="dropdown-card-inner">
                        <ul
                            class="dropdown-list-menu mCustomScroll mob-blue-menu-scroll js-faqSectionList js-activeTabs">
                            <sly data-sly-list.listItem="${resource.children}">
                                <sly data-sly-test="${listItem.name == 'dropdownList'}">
                                    <sly data-sly-list.faqsList="${listItem.children}">
                                        <sly
                                            data-sly-test.faqIDValue="${'{0}_{1}' @ format =[listItem.name,faqsListList.count]}">
                                            <li class="${faqsListList.index == 0 ? 'active' : ''}">
                                                <a href="#faqCat${faqsListList.index}"
                                                    class="faqCat${faqsListList.index}">${faqsList.tabTitleCard}</a>
                                            </li>
                                        </sly>
                                    </sly>
                                </sly>
                            </sly>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mob blue tab dropdown -->

<!-- faq category box -->
<section class="faq-card-box">
    <div class="container">
        <sly data-sly-list.listItem="${resource.children}">
            <sly data-sly-test="${listItem.name == 'dropdownList'}">
                <sly data-sly-list.faqsList="${listItem.children}">
                    <div class="faq-card" id="faqCat${faqsListList.index}">
                        <h3>${faqsList.tabTitleCard}</h3>
                        <div class="card-div">
                            <div class="accordian" id="faqCatCard${faqsListList.index}">
                                <sly data-sly-list.subTabList="${faqsList.children}">
                                    <sly data-sly-test="${subTabList.name == 'subTabList'}">
                                        <sly data-sly-list.tabs="${subTabList.children}">
                                            <div class="faq-inner-card-row">
                                                <h4>${tabs.subTabTitle}</h4>
                                                <div class="overflow-hidden">
                                                    <sly data-sly-list.listItems="${tabs.children}">
                                                        <sly data-sly-test="${listItems.name == 'faqList'}">
                                                            <sly data-sly-list.faqItems="${listItems.children}">
                                                                <div
                                                                    class="accordian-card ${faqItemsList.index == 0 ? 'active' : ''}">
                                                                    <div class="accordian-heading">
                                                                        <a class="accordian-title"
                                                                            href="javascript:void(0)"
                                                                            data-toggles="collapses"
                                                                            data-target="#Collapse${faqItemsList.index}">${faqItems.questions}</a>
                                                                    </div>
                                                                    <div class="accordian-body collapse"
                                                                        id="Collapse${faqItemsList.index}"
                                                                        style="display: ${faqItemsList.count == 1 ? 'block' : '' @context='styleToken'}">
                                                                        ${faqItems.description @ context='html'}
                                                                    </div>
                                                                </div>
                                                            </sly>
                                                        </sly>
                                                    </sly>

                                                </div>
                                            </div>
                                        </sly>
                                    </sly>
                                </sly>
                            </div>
                        </div>
                    </div>
                </sly>
            </sly>
        </sly>
    </div>
</section>
<!-- faq category box -->


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientLib.js @ categories='moneyfy.faq-card'}"></sly>
</sly>
<script type="application/ld+json" data-sly-use.FAQModel="com.tatacapital.moneyfy.core.models.GenericSchemaModel">
    {
    "@context" : "http://schema.org",
    "@type": "FAQPage",
    "mainEntity": 
    ${FAQModel.getFAQSchemaArr @ context = 'unsafe'}
    
    }
</script>