<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.insurance-banner-box'}"></sly>
</sly>

<section class="banner-box mutual-fund-banner insurance-banner-box">
    <div class="banner-slider slider-arrows slider-dots" id="jsBannerSlider">
        <sly data-sly-list="${resource.children}">
            <sly data-sly-test="${item.name=='bannermulti'}">
                <sly data-sly-list.cardList="${item.children}">
                    <div class="banner-image">
                        <div class="banner-caption">
                            <div class="container">
                                <div class="banner-inner new-banner-inner">
                                    <div class="banner-left">
                                        <h1>${cardList.bannerHeadingText}</h1>
                                        ${cardList.bannerDescription @context='html'}
                                        <sly data-sly-test="${cardList.btnText}">
                                            <div class="btn-wrap">
                                                <a href="${cardList.btnLink}"
                                                    target="${cardList.btnTarget ? '_blank':''}"
                                                    class="btn-blue radius100">${cardList.btnText}</a>

                                            </div>
                                        </sly>
                                    </div>
                                    <sly data-sly-test="${cardList.cardImg}">
                                        <div class="banner-right">
                                            <img src="${cardList.cardImg}" alt="" class="w-100">
                                        </div>
                                    </sly>
                                </div>

                            </div>
                        </div>
                    </div>
                </sly>
            </sly>
        </sly>
    </div>
</section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.js @ categories='moneyfy.insurance-banner-box'}"></sly>
</sly>