.insurance-plans-box {
  padding: 65px 0px;
}
.insurance-plans-box h2 {
  margin-bottom: 12px;
}
.insurance-plans-box .list-insurance-plans.flex-slider .insurance-plans-col {
  height: 100%;
}
.insurance-plans-box .list-insurance-plans .insurance-plans-li {
  padding: 30px 10px 35px;
}
.insurance-plans-box .list-insurance-plans .insurance-plans-col {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.insurance-plans-box .list-insurance-plans .insurance-plans-col img {
  width: 100%;
}
.insurance-plans-box .list-insurance-plans .insurance-plans-col .insurance-plans-text {
  padding: 23px 15px 30px;
}
.insurance-plans-box .list-insurance-plans .insurance-plans-col .insurance-plans-text h5 {
  text-align: center;
}

.insurance-plans-li .list-goal-img {
    height: 50px;
    margin: 0 auto 16px;
}

.insurance-plans-li .list-goal .goal-img {
    display: block;
}

.insurance-plans-li .list-goal-img img {
    margin: auto;
}

.insurance-plans-li .list-goal {
    display: block;
    width: 100%;
    height: 100%;
    padding: 35px 20px;
    text-align: center;
    transition: all 0.3s;
}

.insurance-plans-li .list-goal:hover {
    background-color: #2c6eb5;
    box-shadow: 20px 14px 30px rgb(153 186 208 / 30%);
}

.insurance-plans-li .list-goal:hover .goal-img {
    display: none;
}

.insurance-plans-li .list-goal .goal-img-hover {
    display: none;
}

.insurance-plans-li .list-goal:hover .goal-img-hover {
    display: block;
}

.insurance-plans-li .list-goal:hover h5 {
    color: #fff;
}
@media (max-width: 767px){
.insurance-plans-li .list-goal {
    padding: 19px 15px;
}
}
@media (max-width: 991px) {
  .insurance-plans-box {
    padding: 45px 0px;
  }
}
.pd-t0i {
    padding-top: 0px !important;
}
/*# sourceMappingURL=style.css.map */
