.risk-info-box {
  padding: 80px 0px;
  background-color: #E9F0F7;
}
.risk-info-box.insurance-risk-info {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 50px;
}
.risk-info-box.insurance-risk-info .sip-cards p {
  margin-bottom: 20px;
}
.risk-info-box.insurance-risk-info .sip-cards .img-width {
  max-width: 200px !important;
}

.risk-profile-card {
  padding: 21px 25px 27px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  position: relative;
}
.risk-profile-card h4 {
  line-height: 34px;
  letter-spacing: normal;
  margin-bottom: 7px;
}

.risk-tab-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 -9px;
  position: relative;
  padding-bottom: 4px;
}
.risk-tab-list:before {
  content: "";
  border-bottom: 1px solid rgba(122, 204, 255, 0.3);
  position: absolute;
  left: 9px;
  right: 9px;
  bottom: 0px;
}
.risk-tab-list li {
  padding: 0 9px;
}
.risk-tab-list li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: #c4c4c4;
  position: relative;
  display: block;
}
.risk-tab-list li a:before {
  content: "";
  border-bottom: 2px solid #D7DF23;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -4px;
  display: none;
}
.risk-tab-list li a.active-tab:before {
  display: block;
}

.risk-tab-content {
  padding-top: 10px;
}

.risk-tab-row {
  position: relative;
}
.risk-tab-row h6 {
  margin-bottom: 3px;
}
.risk-tab-row p {
  margin-bottom: 17px;
  color: #606060;
}
.risk-tab-row .risk-tab-left {
  max-width: 262px;
}
.risk-tab-row .risk-tab-right {
  position: absolute;
  right: 0px;
  top: 40px;
}

.risk-slider-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.risk-slider-flex .risk-slider-row {
  width: 50%;
  padding: 0 10px;
}
.risk-slider-flex .sip-cards, .risk-slider-flex .risk-profile-card {
  height: 100%;
}

.insurance-risk-info .risk-slider-flex {
  width: 100%;
  display: block;
  padding-bottom: 1px;
}
.insurance-risk-info .slick-list {
  margin-bottom: 30px;
}

.sip-card-btn.sips-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}
.sip-card-btn.sips-card .btn-blue {
  margin: 0 7px;
}

.insurance-risk-info .heading-wrap {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 35px;
}
.insurance-risk-info .heading-wrap h2 {
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .risk-tab-row .risk-tab-right {
    max-width: 130px;
  }

  .risk-tab-list {
    margin: 0 -5px;
  }
  .risk-tab-list:before {
    left: 5px;
    right: 5px;
  }
  .risk-tab-list li {
    padding: 0 5px;
  }
  .risk-tab-list li a {
    font-size: 11px;
  }

  .risk-info-box.insurance-risk-info .sip-cards .sip-card-img {
    max-width: 120px;
  }
}
@media (max-width: 991px) {
  .risk-tab-row .risk-tab-right {
    max-width: 150px;
  }

  .risk-info-box {
    padding: 15px 0px 50px;
  }
  .risk-info-box.insurance-risk-info {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .risk-info-box.insurance-risk-info .sip-cards .sip-card-img {
    max-width: 200px;
  }

  .risk-slider-flex {
    display: block;
    margin: 0px;
  }
  .risk-slider-flex .risk-slider-row {
    padding: 20px 0px 35px;
  }

  .risk-profile-card {
    box-shadow: 0px 3px 36px rgba(153, 186, 208, 0.26);
  }

  .insurance-risk-info {
    padding-top: 30px;
  }
  .insurance-risk-info .heading-wrap {
    text-align: left;
    margin-bottom: 15px;
  }
  .insurance-risk-info .heading-wrap h2 {
    font-size: 26px;
    line-height: 31px;
  }
  .insurance-risk-info .sip-cards-info {
    max-width: 450px;
  }
  .insurance-risk-info .slick-list {
    margin-bottom: 0px;
  }

  .insurance-risk-box .sip-cards-info {
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  .risk-profile-card {
    padding: 20px 20px 25px;
  }
  .risk-profile-card h4 {
    font-size: 16px;
    line-height: 24px;
  }

  .risk-tab-row p {
    font-size: 12px;
    line-height: 22px;
    padding-right: 30px;
  }
  .risk-tab-row .risk-tab-left {
    max-width: 234px;
  }
  .risk-tab-row .risk-tab-right {
    max-width: 65px;
    top: 5px;
  }

  .risk-tab-list {
    margin: -10px -10px 0;
  }
  .risk-tab-list li {
    padding: 10px 10px 0;
  }
  .risk-tab-list li a {
    font-size: 12px;
  }

  .insurance-risk-box .sip-cards {
    padding-bottom: 50px;
  }
  .insurance-risk-box .sip-cards-info {
    max-width: none;
  }
  .insurance-risk-box .sip-cards-info p {
    padding-right: 85px;
  }
  .insurance-risk-box .sip-cards-info .btn-blue {
    padding: 7px 28px !important;
  }
  .insurance-risk-box .sip-card-btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  .insurance-risk-box .card-white .btn-blue {
    background-color: #2C6EB5;
    color: #fff;
  }
  .insurance-risk-box .card-white .btn-blue:hover, .insurance-risk-box .card-white .btn-blue:focus {
    background-color: #2C6EB5;
    color: #fff;
  }

  .insurance-risk-info .heading-wrap {
    margin-bottom: 0;
  }
  .insurance-risk-info .heading-wrap h2 {
    margin-bottom: 0;
  }
  .insurance-risk-info .heading-wrap p {
    display: none;
  }
  .insurance-risk-info .sip-cards {
    padding-bottom: 25px;
  }
  .insurance-risk-info .sip-cards p {
    padding-right: 100px;
  }

  .risk-info-box.insurance-risk-info {
    padding-top: 30px;
  }
  .risk-info-box.insurance-risk-info .sip-cards .img-width {
    max-width: 105px !important;
  }
}
.term-insurance-scoll.filterList-mCustomScrollbar {
  max-height: 195px;
  padding-bottom: 20px;
}
.term-insurance-scoll p:last-child {
  margin-bottom: 0px !important;
}

@media (max-width: 991px) {
  .term-insurance-scoll.filterList-mCustomScrollbar {
    max-height: 155px;
  }
}
@media (max-width: 359px) {
  .risk-tab-row .risk-tab-right {
    right: -5px;
    top: 10px;
    max-width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #f6f8f9;
}

.insurance-without-padding{
			padding-top: 80px !important;
}