<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.compare-page-fund-info'}"></sly>
</sly>

        <div class="container compare-fund-container">
          <div class="compare-card-wrap">
            <div class="card-div compare-graph-card">
              <ul class="return-item-wrap">
                <li><a href="javascript:void(0);" class="active" data-return="data_1M" data-value="95.7" data-trend="up">1M</a></li>
                <li><a href="javascript:void(0);" data-return="data_3M" data-value="50" data-trend="down">3M</a></li>
                <li><a href="javascript:void(0);" data-return="data_6M" data-value="150" data-trend="up">6M</a></li>
                <li><a href="javascript:void(0);" data-return="data_1Y" data-value="20" data-trend="up">1Y</a></li>
                <li><a href="javascript:void(0);" data-return="data_3Y" data-value="50" data-trend="down">3Y</a></li>
                <li><a href="javascript:void(0);" data-return="data_5Y" data-value="50.21" data-trend="up">5Y</a></li>
                <li><a href="javascript:void(0);" data-return="data_Max" data-value="150" data-trend="up">MAX</a></li>
              </ul>

              <div class="graph-wrap">
                <div id="compare-chart" class="compare-chart-box"></div>
              </div>
            </div>

            <div class="card-div fund-detail-card custom-accordion">
              <div class="card-head" data-accordion="fund-detail-card">
                <h5 class="card-title"><a href="javascript:void(0);">Fund Details</a></h5>
              </div>
              <div class="card-body" data-accordion-card="fund-detail-card">
                <div class="compare-feature-row">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <h6>Very High Risk</h6>
                    </div>
                    <div class="feature-item">
                      <p>Min SIP Amount</p>
                      <h6>Rs. 1000</h6>
                    </div>
                    <div class="feature-item">
                      <p>Expense  Ratio</p>
                      <h6>0.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>NAV as of 27th July 2021</p>
                      <h6>85.70</h6>
                    </div>
                    <div class="feature-item">
                      <p>Fund Size</p>
                      <h6>Rs. 2,262 Cr</h6>
                    </div>
                    <div class="feature-item">
                      <p>Fund Started</p>
                      <h6>31 Dec 2012</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <h6>Low Risk</h6>
                    </div>
                    <div class="feature-item">
                      <p>Min SIP Amount</p>
                      <h6>Rs. 1000</h6>
                    </div>
                    <div class="feature-item">
                      <p>Expense  Ratio</p>
                      <h6>0.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>NAV as of 27th July 2021</p>
                      <h6>85.70</h6>
                    </div>
                    <div class="feature-item">
                      <p>Fund Size</p>
                      <h6>Rs. 2,262 Cr</h6>
                    </div>
                    <div class="feature-item">
                      <p>Fund Started</p>
                      <h6>31 Dec 2012</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3">
                    <div class="feature-item">
                      <h6>High Risk</h6>
                    </div>
                    <div class="feature-item">
                      <p>Min SIP Amount</p>
                      <h6>Rs. 1000</h6>
                    </div>
                    <div class="feature-item">
                      <p>Expense  Ratio</p>
                      <h6>0.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>NAV as of 27th July 2021</p>
                      <h6>85.70</h6>
                    </div>
                    <div class="feature-item">
                      <p>Fund Size</p>
                      <h6>Rs. 2,262 Cr</h6>
                    </div>
                    <div class="feature-item">
                      <p>Fund Started</p>
                      <h6>31 Dec 2012</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div rating-card custom-accordion">
              <div class="card-head" data-accordion="rating-card">
                <h5 class="card-title"><a href="javascript:void(0);">Rating</a></h5>
              </div>
              <div class="card-body" data-accordion-card="rating-card">
                <div class="compare-feature-row h80">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <div class="rate-wrap">
                        <h6>Morning Star</h6>
                        <p>5 <span class="icon icon-star"></span></p>
                      </div>
                    </div>
                    <div class="feature-item">
                      <div class="rate-wrap">
                        <h6>Value Research</h6>
                        <p>5 <span class="icon icon-star"></span></p>
                      </div>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <div class="rate-wrap">
                        <h6>Morning Star</h6>
                        <p>4 <span class="icon icon-star"></span></p>
                      </div>
                    </div>
                    <div class="feature-item">
                      <div class="rate-wrap">
                        <h6>Value Research</h6>
                        <p>3 <span class="icon icon-star"></span></p>
                      </div>
                    </div>
                  </div>
                  <div class="compare-feature feature-3 hide-data">
                    <div class="feature-item">
                      <div class="rate-wrap">
                        <h6>Morning Star</h6>
                        <p>5 <span class="icon icon-star"></span></p>
                      </div>
                    </div>
                    <div class="feature-item">
                      <div class="rate-wrap">
                        <h6>Value Research</h6>
                        <p>4 <span class="icon icon-star"></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div returns-card custom-accordion">
              <div class="card-head" data-accordion="returns-card">
                <h5 class="card-title"><a href="javascript:void(0);">Returns</a></h5>
              </div>
              <div class="card-body" data-accordion-card="returns-card">
                <div class="compare-feature-row">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>3 Months</p>
                      <h6>10.7%</h6>
                    </div>
                    <div class="feature-item">
                      <p>6 Months</p>
                      <h6>16.75%</h6>
                    </div>
                    <div class="feature-item">
                      <p>1 Year</p>
                      <h6>42.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>3 Year</p>
                      <h6>13.56%</h6>
                    </div>
                    <div class="feature-item">
                      <p>5 Year</p>
                      <h6>12.93%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2 hide-data">
                    <div class="feature-item">
                      <p>3 Months</p>
                      <h6>10.7%</h6>
                    </div>
                    <div class="feature-item">
                      <p>6 Months</p>
                      <h6>16.75%</h6>
                    </div>
                    <div class="feature-item">
                      <p>1 Year</p>
                      <h6>42.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>3 Year</p>
                      <h6>13.56%</h6>
                    </div>
                    <div class="feature-item">
                      <p>5 Year</p>
                      <h6>12.93%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3 hide-data">
                    <div class="feature-item">
                      <p>3 Months</p>
                      <h6>10.7%</h6>
                    </div>
                    <div class="feature-item">
                      <p>6 Months</p>
                      <h6>16.75%</h6>
                    </div>
                    <div class="feature-item">
                      <p>1 Year</p>
                      <h6>42.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>3 Year</p>
                      <h6>13.56%</h6>
                    </div>
                    <div class="feature-item">
                      <p>5 Year</p>
                      <h6>12.93%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div fund-allocation-card custom-accordion">
              <div class="card-head" data-accordion="fund-allocation-card">
                <h5 class="card-title"><a href="javascript:void(0);">Fund Allocation</a></h5>
              </div>
              <div class="card-body" data-accordion-card="fund-allocation-card">
                <div class="compare-feature-row">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>Equity</p>
                      <h6>10.7%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Debt</p>
                      <h6>16.75%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Cash</p>
                      <h6>0.00</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <p>Equity</p>
                      <h6>10.7%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Debt</p>
                      <h6>16.75%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Cash</p>
                      <h6>0.00</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3 hide-data">
                    <div class="feature-item">
                      <p>Equity</p>
                      <h6>10.7%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Debt</p>
                      <h6>16.75%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Cash</p>
                      <h6>0.00</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div sectoral-holdings-card custom-accordion">
              <div class="card-head" data-accordion="sectoral-holdings-card">
                <h5 class="card-title"><a href="javascript:void(0);">Sectoral Holdings</a></h5>
              </div>
              <div class="card-body" data-accordion-card="sectoral-holdings-card">
                <div class="compare-feature-row h75">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>Banks (Private Sector)</p>
                      <h6>20.47%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Computers Software Large</p>
                      <h6>16.14%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Finance & Investments</p>
                      <h6>10.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Refineries</p>
                      <h6>5.02%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Trading</p>
                      <h6>4.77%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <p>Banks (Private Sector)</p>
                      <h6>20.47%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Computers Software Large</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Finance & Investments</p>
                      <h6>10.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Refineries</p>
                      <h6>5.02%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Trading</p>
                      <h6>4.77%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3">
                    <div class="feature-item">
                      <p>Banks (Private Sector)</p>
                      <h6>20.47%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Computers Software Large</p>
                      <h6>16.14%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Finance & Investments</p>
                      <h6>10.20%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Refineries</p>
                      <h6>5.02%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Trading</p>
                      <h6>4.77%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div scheme-details-card custom-accordion">
              <div class="card-head" data-accordion="scheme-details-card">
                <h5 class="card-title"><a href="javascript:void(0);">Scheme Details</a></h5>
              </div>
              <div class="card-body" data-accordion-card="scheme-details-card">
                <div class="compare-feature-row h75">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>Bench mark</p>
                      <h6>Nifty 100 TRI</h6>
                    </div>
                    <div class="feature-item">
                      <p>Exit Load less than 1 years</p>
                      <h6>0.1%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Exit Load less than 1 years</p>
                      <h6>Nill</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <p>Bench mark</p>
                      <h6>Nifty 100 TRI</h6>
                    </div>
                    <div class="feature-item">
                      <p>Exit Load less than 1 years</p>
                      <h6>0.1%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Exit Load less than 1 years</p>
                      <h6>Nill</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3">
                    <div class="feature-item">
                      <p>Bench mark</p>
                      <h6>Nifty 100 TRI</h6>
                    </div>
                    <div class="feature-item">
                      <p>Exit Load less than 1 years</p>
                      <h6>0.1%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Exit Load less than 1 years</p>
                      <h6>Nill</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div tax-implementation-card custom-accordion">
              <div class="card-head" data-accordion="tax-implementation-card">
                <h5 class="card-title"><a href="javascript:void(0);">Tax Implementation</a></h5>
              </div>
              <div class="card-body" data-accordion-card="tax-implementation-card">
                <div class="compare-feature-row">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>For Less Than 1 Year</p>
                      <h6>Nill</h6>
                    </div>
                    <div class="feature-item">
                      <p>After 1 Year</p>
                      <h6>10%</h6>
                    </div>
                    <div class="feature-item">
                      <p>After 3 Year</p>
                      <h6>10%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Less than 1 Year</p>
                      <h6>10%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <p>For Less Than 1 Year</p>
                      <h6>Nill</h6>
                    </div>
                    <div class="feature-item">
                      <p>After 1 Year</p>
                      <h6>10%</h6>
                    </div>
                    <div class="feature-item">
                      <p>After 3 Year</p>
                      <h6>10%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Less than 1 Year</p>
                      <h6>10%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3">
                    <div class="feature-item">
                      <p>For Less Than 1 Year</p>
                      <h6>Nill</h6>
                    </div>
                    <div class="feature-item">
                      <p>After 1 Year</p>
                      <h6>10%</h6>
                    </div>
                    <div class="feature-item">
                      <p>After 3 Year</p>
                      <h6>10%</h6>
                    </div>
                    <div class="feature-item">
                      <p>Less than 1 Year</p>
                      <h6>10%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div fund-manager-card-accord custom-accordion">
              <div class="card-head" data-accordion="fund-manager-card">
                <h5 class="card-title"><a href="javascript:void(0);">Fund Manager</a></h5>
              </div>
              <div class="card-body" data-accordion-card="fund-manager-card">
                <div class="compare-feature-row">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>Name</p>
                      <h6>Sanjeev Sharma</h6>
                    </div>
                    <div class="feature-item">
                      <p>No of funds</p>
                      <h6>15</h6>
                    </div>
                    <div class="feature-item">
                      <p>Total Fund Size</p>
                      <h6>Rs. 1,935 Cr</h6>
                    </div>
                    <div class="feature-item">
                      <p>Highest Returns</p>
                      <h6>34.82%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <p>Name</p>
                      <h6>Sanjeev Sharma</h6>
                    </div>
                    <div class="feature-item">
                      <p>No of funds</p>
                      <h6>15</h6>
                    </div>
                    <div class="feature-item">
                      <p>Total Fund Size</p>
                      <h6>Rs. 1,935 Cr</h6>
                    </div>
                    <div class="feature-item">
                      <p>Highest Returns</p>
                      <h6>34.82%</h6>
                    </div>
                  </div>
                  <div class="compare-feature feature-3">
                    <div class="feature-item">
                      <p>Name</p>
                      <h6>Sanjeev Sharma</h6>
                    </div>
                    <div class="feature-item">
                      <p>No of funds</p>
                      <h6>15</h6>
                    </div>
                    <div class="feature-item">
                      <p>Total Fund Size</p>
                      <h6>Rs. 1,935 Cr</h6>
                    </div>
                    <div class="feature-item">
                      <p>Highest Returns</p>
                      <h6>34.82%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-div other-factors-card custom-accordion">
              <div class="card-head" data-accordion="other-factors-card">
                <h5 class="card-title"><a href="javascript:void(0);">Other Factors</a></h5>
              </div>
              <div class="card-body" data-accordion-card="other-factors-card">
                <div class="compare-feature-row">
                  <div class="compare-feature feature-1">
                    <div class="feature-item">
                      <p>Market Capitalisation</p>
                      <h6>$ 5.332 B</h6>
                    </div>
                    <div class="feature-item">
                      <p>Credit Rating</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>No of Scripts</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Scheme TypeYear</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Investment Horizonr</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item h85">
                      <p>Suitable For</p>
                      <h6>Short Term Investment</h6>
                    </div>                    
                    <div class="feature-item h105">
                      <div class="invest-explore-box">
                        <a href="javascript:void(0);" class="btn btn-blue radius100">Invest now</a>
                        <a href="javascript:void(0)" class="btn-view-all">explore more<span class="icon-arrow-right"></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="compare-feature feature-2">
                    <div class="feature-item">
                      <p>Market Capitalisation</p>
                      <h6>$ 5.332 B</h6>
                    </div>
                    <div class="feature-item">
                      <p>Credit Rating</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>No of Scripts</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Scheme TypeYear</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Investment Horizonr</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item h85">
                      <p>Suitable For</p>
                      <h6>Short Term Investment</h6>
                    </div>                    
                    <div class="feature-item h105">
                      <div class="invest-explore-box">
                        <a href="javascript:void(0);" class="btn btn-blue radius100">Invest now</a>
                        <a href="javascript:void(0)" class="btn-view-all">explore more<span class="icon-arrow-right"></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="compare-feature feature-3">
                    <div class="feature-item">
                      <p>Market Capitalisation</p>
                      <h6>$ 5.332 B</h6>
                    </div>
                    <div class="feature-item">
                      <p>Credit Rating</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>No of Scripts</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Scheme TypeYear</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item">
                      <p>Investment Horizonr</p>
                      <h6>-</h6>
                    </div>
                    <div class="feature-item h85">
                      <p>Suitable For</p>
                      <h6>Short Term Investment</h6>
                    </div>                    
                    <div class="feature-item h105">
                      <div class="invest-explore-box">
                        <a href="javascript:void(0);" class="btn btn-blue radius100">Invest now</a>
                        <a href="javascript:void(0)" class="btn-view-all">explore more<span class="icon-arrow-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.compare-page-fund-info'}"></sly>
</sly>