.banner-box.swp-banner {
  margin-top: 35px;
  background-image: none;
  padding-bottom: 0;
}
.banner-box.swp-banner .banner-inner.new-banner-inner {
  padding-bottom: 0;
}
.banner-box.swp-banner .banner-inner.new-banner-inner .banner-left {
  width: calc(100% - 520px);
  padding-top: 0px;
}
.banner-box.swp-banner .banner-inner.new-banner-inner .banner-right {
  width: 520px;
}

.swp-banner .work-video {
  width: 520px;
  height: 285px;
  padding: 16px 68px 33px 68px;
}

@media (max-width: 991px) {
  .banner-box.swp-banner {
    padding-bottom: 0;
    margin-top: 10px;
  }
  .banner-box.swp-banner .banner-inner.new-banner-inner .banner-left {
    width: 100%;
    padding-bottom: 25px;
  }
  .banner-box.swp-banner .banner-inner.new-banner-inner .banner-right {
    margin: auto;
    width: 100%;
  }
  .banner-box.swp-banner .btn-wrap {
    text-align: center;
  }
  .banner-box.swp-banner .btn-wrap .btn-blue {
    width: 100%;
    max-width: 265px;
  }
}
@media (max-width: 767px) {
  .banner-box.swp-banner {
    margin-top: 25px;
  }
  .banner-box.swp-banner .banner-slider {
    padding-top: 0;
  }
  .banner-box.about-us-banner {
    margin-top: 0;
  }

  .swp-banner .work-video {
    width: 317px;
    height: 183px;
    padding: 11px 35px 21px 36px;
  }
}
@media (max-width: 359px) {
  .swp-banner .work-video {
    width: 290px;
    height: 168px;
    padding: 10px 32px 19px 32px;
  }
}

/*# sourceMappingURL=style.css.map */
