<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.more-questions'}"></sly>
</sly>

<section class="more-questions-box">
        <div class="container">
          <div class="more-question-inner">
            <div class="head-col">
              <img src="${properties.image}" alt="">
              <div class="head-wrap">
                ${properties.description @ context ='html'}
              </div>
            </div>
            <div class="form-col">
              <form class="js-moreQuestionformWrap">
                <div class="row">
                  <div class="col-6">
                    <div class="textbox-box">
                      <label class="label-name">Name</label>
                      <div class="textbox-inner">
                        <input class="input-textbox only-alpha-input" type="text" data-type="name"
                          placeholder="Enter your Name">
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="textbox-box">
                      <label class="label-name">Mobile Number</label>
                      <div class="textbox-inner">
                        <div class="input-mob-number">
                          <input type="text" value="+91" class="country-code" readonly="">
                          <input type="tel" class="input-textbox only-numeric-input" data-type="mobile" maxlength="10">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="textbox-box">
                      <label class="label-name">Email Address</label>
                      <div class="textbox-inner">
                        <input class="input-textbox js-emailField" type="text" data-type="email"
                          placeholder="Enter your email">
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="textbox-box">
                      <label class="label-name">Question Category</label>
                      <div class="textbox-inner">
                        <select class="js-Selectsingle single-select2" data-placeholder="Select Category">
                          <option value=""></option>
                          <option value="Goals, Packs and Others">Goals, Packs and Others</option>
                          <option value="Insurance and Other Products">Insurance and Other Products</option>
                          <option value="KYC Process and Login">KYC Process and Login</option>
                          <option value="Mutual Funds">Mutual Funds</option>
                          <option value="Payments and Installments">Payments and Installments</option>
                          <option value="Portfolio and statements">Portfolio and statements</option>
                          <option value="Safety and Security">Safety and Security</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="textbox-box">
                      <label class="label-name">Type your question</label>
                      <div class="textbox-inner">
                        <input class="input-textbox" type="text" data-type="question" placeholder="Question">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-wrap">
                    <a href="${properties.buttonLink}" target="${properties.newTab ? '_blank' : ''}">
                        <button class="btn btn-blue btn-yellow radius100 js-proceed-btn" type="button">${properties.buttonTitle}</button>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.more-questions'}"></sly>
</sly>