<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='moneyfy.mutual-fund-description'}"></sly>
</sly>

<!-- mutual fund description -->
      <!-- 22-12-2021 -->
      <section class="mf-description-box new-mf-desscription js-compareActive  js-compareActiveNone">
          <div class="container">
            <div>
              <div class="mf-description-wrap">
                <div class="mf-return-box d-none d-lg-block">
                  <!-- 29-3-2023 -->
                  <h5 class="mg-b7 white-color">Key information</h5>
                  <!-- 29-3-2023 -->
                  <ul>
                    <li>
                      <p>Funds Offered</p>
                      <h6>${pageProperties.totalFunds}</h6>
                    </li>
                    <li>
                      <p>AUM</p>
                      <h6 data-id="aumAmount"></h6>
                    </li>
                    <li>
                      <p>Highest Return</p>
                      <h6>${pageProperties.highestReturns}%</h6>
                    </li>
                  </ul>
                </div>
                <div class="img-name-wrap">
                  <div class="img-wrap">
                    <img src="${pageProperties.iconPath}" alt="">
                  </div>
                  <div class="name-wrap">
                    <h1>${pageProperties.name}</h1>     
                  </div>
                </div>                  
                <p class="fund-text"> 
                  ${pageProperties.description}
                </p>
              </div>
            </div>

            <div class="mf-return-box d-block d-lg-none">
              <!-- 29-3-2023 -->
              <h5 class="mg-b7 white-color">Key information</h5>
              <!-- 29-3-2023 -->  
              <ul>
                <li>
                  <p>Funds Offered</p>
                  <h6>${pageProperties.totalFunds}</h6>
                </li>
                <li>
                  <p>AUM</p>
                  <h6 data-id="aumAmount"></h6>
                </li>
                <li>
                  <p>Highest Return</p>
                  <h6>${pageProperties.highestReturns}%</h6>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- 22-12-2021 -->
        <script>
          var aumAmount = "${pageProperties.aum @context='scriptString'}";
          $('[data-id="aumAmount"]').text('₹' + Math.round(aumAmount).toLocaleString('en-IN') + ' Cr');
        </script>   
        <!-- mutual fund description -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='moneyfy.mutual-fund-description'}"></sly>
</sly>