<!-- start share modal -->
<div class="popover-modal fade" id="share-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md3">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close"><i class="icon-close"></i></button>
                <div class="modal-body-inner2">
                    <div class="share-with-box">
                        <h4>Share with</h4>
                        <ul class="list-shares">
                            <li>
                                <a href="javascript:void(0)"><span class="icon-facebook"
                                        data-shareicon="facebook"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="icon-twitter"
                                        data-shareicon="twitter"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="icon-whatsapp" data-shareicon="whatsapp"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="icon-linkedin" data-shareicon="linkedin"></span></a>
                            </li>
                        </ul>
                        <div class="or-text">
                            <span class="or-inner">
                                <span class="or">or</span>
                            </span>
                        </div>
                        <h6>Page link</h6>
                        <div class="copy-links">
                            <input type="text" class="text-input-link">

                            <!-- 10-6-2022 -->
                            <div class="copy-link-outer">
                                <a href="javascript:void(0)" class="jsTooltopLink" data-copybtn="copyBtn">Copy link</a>
                                <div class="tooltip-box">
                                    <div class="tooltip-inner">
                                        <img src="/content/dam/tata-capital-moneyfy/learn-webinar/tooltip-tick.svg" alt="">
                                        <p>Link Copied to Clipboard</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 10-6-2022 -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end share modal -->

<!-- start video modal -->
<div class="popover-modals popover-modal fade" id="video-modal">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-xl">
        <div class="popover-modal-content radius10">
            <div class="popover-modal-body">
                <button data-dismiss="popover-modal" class="popover-modal-close mob-close-btn"><i
                        class="icon-close"></i></button>
                <div class="play-video-boxs">
                    <div class="play-video-left">
                        <!-- 21-9-2022 -->
                        <div class="play-vid-inner2">
                            <iframe id="videoId" src="" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>                        </div>
                        <!-- 21-9-2022 -->
                    </div>
                    <div class="play-video-right">
                        <h6></h6>
                        <h5></h5>
                        <p class="mobtextwithknow"></p>
                        <div class="bottom-infos">
                            <div class="bottom-info-text"><span></span></div>
                            <a href="javascript:void(0)" class="icon-share share-link nested-modal"
                                data-popovermodal="popover-modal" data-target="#share-modal"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end video modal -->

<!-- start learn explore now modal -->
<div class="popover-modal app-download-modal fade popover-show" id="exporenow" style="display: none;">
    <div class="popover-modal-dialog popover-modal-dialog-centered popover-modal-md2">
        <div class="popover-modal-content radius10">
        <div class="popover-modal-body">        
        <div class="">            
            <div class="download-link-app">
                <button data-dismiss="popover-modal" class="popover-modal-close color-white"><i class="icon-close"></i></button>
                <div class="learn-center-explores">
                    <img src="/content/dam/tata-capital-moneyfy/learn-webinar/learn-center-modal.svg" alt="" class="center-imgs">
                    <ul class="dot-list">
                        <li>Learn from content by industry experts</li>
                        <li>Byte sized videos for quicker understanding</li>
                        <li>Get on the go learning with 100% free & unlimited access!</li>
                        <li>Maximize your learning with easy to grasp content</li>
                    </ul>
                    <div class="text-center">
                    <!-- /* <button class="btn-apply">
                        Explore Now
                    </button> /*--->                    
                    </div>                    
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
<!-- end learn explore now modal -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.modal'}"></sly>
</sly>