<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.most-viewed'}"></sly>
</sly>

<!-- blog-video-box-->
<section class="blog-video-box most-viewed">
    <div class="container">
        <div class="heading-with-view">
            <h2>${properties.heading}</h2>
            <a href="${properties.link}" class="btn-view-all" data-sly-test="${properties.viewAll}">${properties.viewAll}<span class="icon-arrow-right"></span></a>
        </div>
        <div class="blog-video-slider slider-dots slider-arrows flex-slider" data-slickid="jsNewInvestmentSlider">
            <sly data-sly-list.cardList="${resource.children}">
                <sly data-sly-test="${cardList.name=='cardList'}">
                    <sly data-sly-list.cards="${cardList.children}">
                        <div class="blog-slider-col" data-popovermodal="popover-modal" data-target="#video-modal" data-nameDate="${cards.nameDate}" data-desc="${cards.description}" data-subheading="${cards.subHeading}" data-heading="${cards.cardHeading}" data-video="${cards.videoLink}">
                            <div class="blog-sliders">
                                <div class="blog-img">
                                    <img src="${cards.img}" alt="" />
                                    <div class="video-overlay">
                                        <span class="video-time">${cards.time}</span>
                                        <!-- 1-9-2022 -->
                                        <a href="javascript:void(0)" class="play-btn" data-popovermodal="popover-modal"
                                            data-target="#video-modal" data-nameDate="${cards.nameDate}" data-desc="${cards.description}" data-subheading="${cards.subHeading}" data-heading="${cards.cardHeading}" data-video="${cards.videoLink}">
                                            <img src="${cards.playIcon}" alt="" />
                                        </a>
                                        <!-- 1-9-2022 -->
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="javascript:void(0)" class="icon-share share-link d-block d-md-none"
                                        data-popovermodal="popover-modal" data-target="#share-modal" data-nameDate="${cards.nameDate}" data-desc="${cards.description}" data-heading="${cards.cardHeading}" data-subheading="${cards.subHeading}" data-video="${cards.videoLink}"></a>
                                    <h6>${cards.cardHeading}</h6>
                                    <p>${cards.subHeading}</p>
                                    <span class="texts-para">${cards.description}</span>
                                </div>
                                <div class="btn-viewalls">
                                    <div class="bottom-infos">
                                        <div class="bottom-info-text"><span>${cards.nameDate}</span></div>
                                        <a href="javascript:void(0)" class="icon-share share-link d-none d-md-block"
                                            data-popovermodal="popover-modal" data-nameDate="${cards.nameDate}" data-desc="${cards.description}" data-heading="${cards.cardHeading}" data-subheading="${cards.subHeading}" data-video="${cards.videoLink}" data-target="#share-modal"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </sly>
                </sly>
            </sly>
        </div>
    </div>
</section>
<!-- blog-video-box -->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.most-viewed'}"></sly>
</sly>