<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <sly data-sly-call="${clientlib.css @ categories='moneyfy.income-tax-return'}"></sly>
</sly>

<section class="work-video-box income-tax-return work-t70">
    <div class="container">
        <div class="work-video-inner">
            <div class="work-video-left">
                <h6>${properties.subHeading}</h6>
                <h2>${properties.heading}</h2>
                    <a href="${properties.path}"><button type="button"
                            class="btn-blue radius100 btn-shadow">${properties.button}</button>
                    </a>
            </div>
            <div class="work-right-img" data-aos="fade-left">
                <img src="${properties.img}" alt="">
            </div>
        </div>
    </div>
</section>