<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='moneyfy.disclaimer'}"></sly>
</sly>
<section class="disclaimer-box">
        <div class="container">
          <div class="disclaimer-inner">
              <h2 class="js-disclaimerToggle">${properties.heading}</h2>
              <p>${properties.description @ context='html'}</p>
          </div>
        </div>
      </section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='moneyfy.disclaimer'}"></sly>
</sly>