<!-- journey box -->
<section class="financial-journey-box restricted-partner">
    <div class="container">
        <div class="">
            <div class="financial-text">
                <h2>${properties.mainHeading}</h2>
                ${properties.description @ context='html'}
            </div>
            <div class="list-financial-info slider-dots flex-slider" id="jsFinancialJourneySlider" data-listinfo="listInfo">
                <sly data-sly-list.listItem="${resource.children}">
                    <sly data-sly-test="${listItem.name == 'multi'}">
                        <sly data-sly-list.facilityList="${listItem.children}">
                            <div class="financial-info-li">
                                <a href="${facilityList.link}" class="financial-col" target="{facilityList.newTab ? '_blank' : ''}">
                                    <div class="financial-img">
                                        <img src="${facilityList.img}" alt="" class="journey-img" />
                                        <img src="${facilityList.hoverImage}" alt="" class="journey-img-hover" />
                                    </div>
                                    <h5>${facilityList.heading}</h5>
                                    ${facilityList.description @ context='html'}
                                </a>
                            </div>
                        </sly>
                    </sly>
                </sly>
            </div>
        </div>
    </div>
</section>
<!-- journey box -->